Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, tsc-check, graphql-schema, check-code-generation

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-yaml
        name: Check YAML formatting
      - id: detect-private-key
        name: Check for private keys
      - id: end-of-file-fixer
        files: \.(sql|scss|md|js|ts|tsx|go|yml|yaml)$
        name: Add newlines to ends of files

  - repo: https://github.com/detailyang/pre-commit-shell
    rev: v1.0.6
    hooks:
      - id: shell-lint
        name: Lint shell files

  - repo: https://github.com/trussworks/pre-commit-hooks
    rev: v1.1.1
    hooks:
      - id: mdspell
        name: Spellcheck Markdown files
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor
          )$

  - repo: https://github.com/Bahjat/pre-commit-golang
    rev: v1.0.1
    hooks:
      - id: go-fmt-import
        name: Run "goimports" on go files
        args: ['-local', 'github.com/cmsgov/mint-app']
        files: .*\.go$
        exclude: >
          (?x)^(
            .*gen/.*|
            .*generated/.*|
            .*models_gen.go|
          )$

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.48.0
    hooks:
      - id: golangci-lint
        name: Lint go files
        args: ['--concurrency', '-1'] # Run with all CPUs

  - repo: local
    hooks:
    - id: dockerfilelint
      name: Lint Dockerfile
      entry: dockerfilelint
      language: node
      additional_dependencies: [dockerfilelint]
      files: Dockerfile.*

  - repo: local
    hooks:
      - id: eslint
        name: Run eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$
        exclude: (\.(d\.ts)$)|(\.storybook)|(serviceWorker\.ts) # This should match the .eslintrc "ignorePatterns". Change one, change the other!

  - repo: local
    hooks:
      - id: tsc-check
        name: Run typescript check
        entry: scripts/pre-commit-tsc
        language: script
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false

  - repo: local
    hooks:
      - id: graphql-schema
        name: Lint GraphQL schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: pkg/graph/schema.graphql

  - repo: local
    hooks:
      - id: check-code-generation
        name: Run GraphQL code generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: "pkg/graph/schema\\.graphql|pkg/graph/schema\\.resolvers\\.go|src/queries/.*\\.ts"
        pass_filenames: false

  - repo: https://github.com/awslabs/git-secrets
    rev: b9e96b3212fa06aea65964ff0d5cda84ce935f38
    hooks:
      - id: git-secrets
        name: Check for committed secrets
        entry: git-secrets --pre_commit_hook

  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 2.0.7
    hooks:
      - id: sqlfluff-fix
        exclude: ^migrations/
      - id: sqlfluff-lint
        exclude: ^migrations/

Fixed variable spelling, removed comment
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/models/shared_enums.go
Due: graphql-schema, check-code-generation

Update V130 migration to handle plan_beneficiaries and plan_participants_and_providers type migrations
  migrations/V130__Update_Data_Frequency_Type.sql
Due: none

Remove extra TYPE keyword in V130 migration
  migrations/V130__Update_Data_Frequency_Type.sql
Due: none

adding a empty region state to read only
  src/i18n/en-US/modelPlan/generalCharacteristics.ts
  src/views/ModelPlan/ReadOnly/GeneralCharacteristics/index.tsx
Due: eslint, tsc-check

feat: update the schema for a high level existing models structure
  pkg/graph/generated/generated.go
  pkg/graph/gqlresolvers/schema.resolvers.go
  pkg/graph/resolvers/exisiting_model_link.go
  pkg/graph/schema.graphql
  pkg/models/existing_model.go
  pkg/models/existing_model_link.go
  pkg/models/model_plan.go
Due: graphql-schema, check-code-generation

Add Geography region types label
  src/i18n/en-US/modelPlan/generalCharacteristics.ts
Due: eslint, tsc-check

add more query and types
  src/queries/GetAllModelData.ts
  src/queries/GetAllSingleModelPlan.ts
  src/queries/types/GetAllModelData.ts
  src/queries/types/GetAllSingleModelData.ts
Due: eslint, tsc-check, check-code-generation

Fixed incorrect label, fixed incorrect note field
  src/i18n/en-US/modelPlan/payments.ts
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/DataSharing/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/DataSharing/index.tsx
Due: eslint, tsc-check

chore: updated new migration elements to assign modified_by and modified_dts
  migrations/V130__Update_Data_Frequency_Type.sql
Due: none

Updated snaps
  src/views/ModelPlan/TaskList/Beneficiaries/Frequency/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/DataSharing/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/ProviderOptions/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Payment/Complexity/__snapshots__/index.test.tsx.snap
Due: none

Fixed migration conflicts
  migrations/V126__Add_COR_team_role.sql
  migrations/V126__Update_Provider_Addition_Frequency.sql
  migrations/V127__Update_Anticipated_Payment_Frequency.sql
  migrations/V128__Update_Beneficiary_Selection_Frequency.sql
  migrations/V129__Update_Data_Sharing_And_Collection_Frequency.sql
  migrations/V132__Add_Remove_Beneficiary_Frequency.sql
Due: none

[EASI-3685] - Beneficiary removal frequency (#893)
  MINT.postman_collection.json
  migrations/V132__Add_Remove_Beneficiary_Frequency.sql
  pkg/graph/generated/generated.go
  pkg/graph/gqlresolvers/schema.resolvers.go
  pkg/graph/resolvers/plan_beneficiaries_test.go
  pkg/graph/schema.graphql
  pkg/models/plan_beneficiaries.go
  pkg/storage/SQL/plan_beneficiaries/create.sql
  pkg/storage/SQL/plan_beneficiaries/get_by_id.sql
  pkg/storage/SQL/plan_beneficiaries/get_by_model_plan_id_LOADER.sql
  pkg/storage/SQL/plan_beneficiaries/update.sql
  src/components/ShareExport/__snapshots__/index.test.tsx.snap
  src/data/mock/readonly.ts
  src/gql/apolloGQL/Beneficiaries/GetAllBeneficiaries.ts
  src/gql/apolloGQL/Beneficiaries/GetFrequency.ts
  src/gql/gen/graphql.ts
  src/gql/gen/types/GetAllBeneficiaries.ts
  src/gql/gen/types/GetFrequency.ts
  src/i18n/en-US/modelPlan/beneficiaries.ts
  src/queries/GetAllModelData.ts
  src/queries/GetAllSingleModelPlan.ts
  src/queries/types/GetAllModelData.ts
  src/queries/types/GetAllSingleModelData.ts
  src/types/graphql-global-types.ts
  src/types/translation.ts
  src/utils/export/CsvData.ts
  src/views/ModelPlan/ReadOnly/Beneficiaries/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/Beneficiaries/index.tsx
  src/views/ModelPlan/TaskList/Beneficiaries/Frequency/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Beneficiaries/Frequency/index.test.tsx
  src/views/ModelPlan/TaskList/Beneficiaries/Frequency/index.tsx
Due: eslint, tsc-check, graphql-schema, check-code-generation

updated snaps, resolved migrations
  migrations/V126__Add_COR_team_role.sql
  migrations/V126__Update_Provider_Addition_Frequency.sql
  migrations/V127__Update_Anticipated_Payment_Frequency.sql
  migrations/V128__Update_Beneficiary_Selection_Frequency.sql
  migrations/V129__Update_Data_Sharing_And_Collection_Frequency.sql
  migrations/V133__Add_Payment_Reconciliation_Frequency.sql
  src/views/ModelPlan/TaskList/Payment/Recover/__snapshots__/index.test.tsx.snap
Due: none

feat: add field_name to existing model link in database and go model
  migrations/V134__Add_Field_Name_To_Existing_Model_Link.sql
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/models/existing_model_link.go
  pkg/storage/SQL/existing_model_link/create.sql
  pkg/storage/SQL/existing_model_link/delete.sql
  pkg/storage/SQL/existing_model_link/get_by_id.sql
  pkg/storage/SQL/existing_model_link/get_by_model_plan_id_LOADER.sql
  pkg/storage/SQL/existing_model_link/merge.sql
Due: graphql-schema, check-code-generation

chore: fix migration naming
  migrations/V133__Add_Medicaid_And_Medicare_to_Key_Characteristics.sql
Due: none

chore: fix migration syntax
  migrations/V134__Add_Field_Name_To_Existing_Model_Link.sql
Due: none

Revert migrations/V127__Update_Quality_Performance_Impacts_Payment.sql to a specific previous version
  migrations/V127__Update_Quality_Performance_Impacts_Payment.sql
Due: none

[NOREF] Revert migration V127 whitespace changes (#907)
  migrations/V127__Update_Quality_Performance_Impacts_Payment.sql
Due: none

Resolved migration naming
  migrations/V126__Add_COR_team_role.sql
  migrations/V126__Update_Provider_Addition_Frequency.sql
  migrations/V127__Update_Anticipated_Payment_Frequency.sql
  migrations/V128__Update_Beneficiary_Selection_Frequency.sql
  migrations/V129__Update_Data_Sharing_And_Collection_Frequency.sql
  migrations/V134__Add_Quality_Reporting_Frequency.sql
Due: none

Fixed resolver not implemented
  pkg/graph/gqlresolvers/schema.resolvers.go
Due: none

passing null instead of rendering more copy
  src/i18n/en-US/modelPlan/generalCharacteristics.ts
  src/views/ModelPlan/ReadOnly/GeneralCharacteristics/index.tsx
Due: eslint, tsc-check

Resolved migration naming
  migrations/V126__Add_COR_team_role.sql
  migrations/V126__Update_Provider_Addition_Frequency.sql
  migrations/V127__Update_Anticipated_Payment_Frequency.sql
  migrations/V128__Update_Beneficiary_Selection_Frequency.sql
  migrations/V129__Update_Data_Sharing_And_Collection_Frequency.sql
  migrations/V135__Add_Participant_Add_Removal_Frequency.sql
Due: none

Resolved migration naming - new
  migrations/V135__Add_Participant_Add_Removal_Frequency.sql
Due: none

Resolved migration naming
  migrations/V136__Add_Provider_Removal_Frequency.sql
Due: none

[EASI-3738] FE work for geography questions updates (#890)
  src/components/ShareExport/__snapshots__/index.test.tsx.snap
  src/data/mock/readonly.ts
  src/gql/apolloGQL/GeneralCharacteristics/GetAllGeneralCharacteristics.ts
  src/gql/apolloGQL/GeneralCharacteristics/GetTargetsAndOptions.ts
  src/gql/gen/graphql.ts
  src/gql/gen/types/GetAllGeneralCharacteristics.ts
  src/gql/gen/types/GetTargetsAndOptions.ts
  src/i18n/en-US/modelPlan/generalCharacteristics.ts
  src/queries/GetAllModelData.ts
  src/queries/GetAllSingleModelPlan.ts
  src/queries/types/GetAllModelData.ts
  src/queries/types/GetAllSingleModelData.ts
  src/types/translation.ts
  src/utils/export/CsvData.ts
  src/views/ModelPlan/ReadOnly/GeneralCharacteristics/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/GeneralCharacteristics/index.tsx
  src/views/ModelPlan/ReadOnly/_components/ReadOnlySection/index.tsx
  src/views/ModelPlan/TaskList/GeneralCharacteristics/TargetsAndOptions/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/GeneralCharacteristics/TargetsAndOptions/index.test.tsx
  src/views/ModelPlan/TaskList/GeneralCharacteristics/TargetsAndOptions/index.tsx
Due: eslint, tsc-check, check-code-generation

[EASI-3682] - Payment reconciliation frequency (#895)
  MINT.postman_collection.json
  cypress/e2e/payments.spec.js
  migrations/V133__Add_Payment_Reconciliation_Frequency.sql
  pkg/graph/generated/generated.go
  pkg/graph/gqlresolvers/schema.resolvers.go
  pkg/graph/resolvers/plan_payments_test.go
  pkg/graph/schema.graphql
  pkg/models/plan_payments.go
  pkg/storage/SQL/plan_payments/create.sql
  pkg/storage/SQL/plan_payments/get_by_id.sql
  pkg/storage/SQL/plan_payments/get_by_model_plan_id_LOADER.sql
  pkg/storage/SQL/plan_payments/update.sql
  src/components/ShareExport/__snapshots__/index.test.tsx.snap
  src/data/mock/readonly.ts
  src/gql/apolloGQL/Payments/GetAllPayments.ts
  src/gql/apolloGQL/Payments/GetRecover.ts
  src/gql/gen/graphql.ts
  src/gql/gen/types/GetAllPayments.ts
  src/gql/gen/types/GetRecover.ts
  src/i18n/en-US/modelPlan/payments.ts
  src/queries/GetAllModelData.ts
  src/queries/GetAllSingleModelPlan.ts
  src/queries/types/GetAllModelData.ts
  src/queries/types/GetAllSingleModelData.ts
  src/types/graphql-global-types.ts
  src/types/translation.ts
  src/utils/export/CsvData.ts
  src/views/ModelPlan/ReadOnly/Payments/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/Payments/index.tsx
  src/views/ModelPlan/TaskList/Payment/Recover/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Payment/Recover/index.test.tsx
  src/views/ModelPlan/TaskList/Payment/Recover/index.tsx
Due: eslint, tsc-check, graphql-schema, check-code-generation

[EASI-3684] - Quality reporting frequency (#896)
  MINT.postman_collection.json
  cypress/e2e/opsEvalAndLearning.spec.js
  migrations/V134__Add_Quality_Reporting_Frequency.sql
  pkg/graph/generated/generated.go
  pkg/graph/gqlresolvers/schema.resolvers.go
  pkg/graph/resolvers/plan_ops_eval_and_learning_test.go
  pkg/graph/schema.graphql
  pkg/models/plan_ops_eval_and_learning.go
  pkg/storage/SQL/plan_ops_eval_and_learning/create.sql
  pkg/storage/SQL/plan_ops_eval_and_learning/get_by_id.sql
  pkg/storage/SQL/plan_ops_eval_and_learning/get_by_model_plan_id_LOADER.sql
  pkg/storage/SQL/plan_ops_eval_and_learning/update.sql
  src/components/ShareExport/__snapshots__/index.test.tsx.snap
  src/data/mock/readonly.ts
  src/gql/apolloGQL/OpsEvalAndLearning/GetAllOpsEvalAndLearning.ts
  src/gql/apolloGQL/OpsEvalAndLearning/GetDataSharing.ts
  src/gql/gen/graphql.ts
  src/gql/gen/types/GetAllOpsEvalAndLearning.ts
  src/gql/gen/types/GetDataSharing.ts
  src/i18n/en-US/modelPlan/opsEvalAndLearning.ts
  src/queries/GetAllModelData.ts
  src/queries/GetAllSingleModelPlan.ts
  src/queries/types/GetAllModelData.ts
  src/queries/types/GetAllSingleModelData.ts
  src/types/graphql-global-types.ts
  src/types/translation.ts
  src/utils/export/CsvData.ts
  src/views/ModelPlan/ReadOnly/OpsEvalAndLearning/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/OpsEvalAndLearning/index.tsx
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/DataSharing/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/DataSharing/index.test.tsx
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/DataSharing/index.tsx
Due: eslint, tsc-check, graphql-schema, check-code-generation

Updated cypress test
  cypress/e2e/participantsAndProviders.spec.js
Due: eslint, tsc-check

[EASI-3683] - Participant added/removed frequency (#897)
  MINT.postman_collection.json
  cypress/e2e/participantsAndProviders.spec.js
  migrations/V135__Add_Participant_Add_Removal_Frequency.sql
  pkg/graph/generated/generated.go
  pkg/graph/gqlresolvers/schema.resolvers.go
  pkg/graph/resolvers/plan_participants_and_providers_test.go
  pkg/graph/schema.graphql
  pkg/models/plan_participants_and_providers.go
  pkg/storage/SQL/plan_participants_and_providers/create.sql
  pkg/storage/SQL/plan_participants_and_providers/get_by_id.sql
  pkg/storage/SQL/plan_participants_and_providers/get_by_model_plan_id_LOADER.sql
  pkg/storage/SQL/plan_participants_and_providers/update.sql
  src/components/ShareExport/__snapshots__/index.test.tsx.snap
  src/data/mock/readonly.ts
  src/gql/apolloGQL/ParticipantsAndProviders/GetAllParticipantsAndProviders.ts
  src/gql/apolloGQL/ParticipantsAndProviders/GetCommunication.ts
  src/gql/gen/graphql.ts
  src/gql/gen/types/GetAllParticipantsAndProviders.ts
  src/gql/gen/types/GetCommunication.ts
  src/i18n/en-US/modelPlan/participantsAndProviders.ts
  src/queries/GetAllModelData.ts
  src/queries/GetAllSingleModelPlan.ts
  src/queries/types/GetAllModelData.ts
  src/queries/types/GetAllSingleModelData.ts
  src/types/graphql-global-types.ts
  src/types/translation.ts
  src/utils/export/CsvData.ts
  src/views/ModelPlan/ReadOnly/ParticipantsAndProviders/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/ParticipantsAndProviders/index.tsx
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/Communication/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/Communication/index.test.tsx
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/Communication/index.tsx
Due: eslint, tsc-check, graphql-schema, check-code-generation

[EASI-3687] - Provider removal frequency (#906)
  migrations/V127__Update_Quality_Performance_Impacts_Payment.sql
  migrations/V136__Add_Provider_Removal_Frequency.sql
  pkg/graph/generated/generated.go
  pkg/graph/gqlresolvers/schema.resolvers.go
  pkg/graph/resolvers/plan_participants_and_providers_test.go
  pkg/graph/schema.graphql
  pkg/models/plan_participants_and_providers.go
  pkg/storage/SQL/plan_participants_and_providers/create.sql
  pkg/storage/SQL/plan_participants_and_providers/get_by_id.sql
  pkg/storage/SQL/plan_participants_and_providers/get_by_model_plan_id_LOADER.sql
  pkg/storage/SQL/plan_participants_and_providers/update.sql
  src/components/ShareExport/__snapshots__/index.test.tsx.snap
  src/data/mock/readonly.ts
  src/gql/apolloGQL/ParticipantsAndProviders/GetAllParticipantsAndProviders.ts
  src/gql/apolloGQL/ParticipantsAndProviders/GetProviderOptions.ts
  src/gql/gen/graphql.ts
  src/gql/gen/types/GetAllParticipantsAndProviders.ts
  src/gql/gen/types/GetProviderOptions.ts
  src/i18n/en-US/modelPlan/participantsAndProviders.ts
  src/queries/GetAllModelData.ts
  src/queries/GetAllSingleModelPlan.ts
  src/queries/types/GetAllModelData.ts
  src/queries/types/GetAllSingleModelData.ts
  src/types/graphql-global-types.ts
  src/types/translation.ts
  src/utils/export/CsvData.ts
  src/views/ModelPlan/ReadOnly/ParticipantsAndProviders/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/ParticipantsAndProviders/index.tsx
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/ProviderOptions/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/ProviderOptions/index.test.tsx
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/ProviderOptions/index.tsx
Due: eslint, tsc-check, graphql-schema, check-code-generation

change mirgation version
  migrations/V133__Add_Medicaid_And_Medicare_to_Key_Characteristics.sql
Due: none

change mirgation version
  migrations/V137__Add_Medicaid_And_Medicare_to_Key_Characteristics.sql
Due: none

[EASI-3693] Update key characteristics question (#899)
  migrations/V137__Add_Medicaid_And_Medicare_to_Key_Characteristics.sql
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  src/gql/gen/graphql.ts
  src/i18n/en-US/modelPlan/generalCharacteristics.ts
  src/types/graphql-global-types.ts
Due: eslint, tsc-check, graphql-schema, check-code-generation

feat: work in progress first pass to add field name to loader and merge statement
  cmd/dbseed/main.go
  cmd/dbseed/resolver_wrappers.go
  pkg/graph/generated/generated.go
  pkg/graph/gqlresolvers/schema.resolvers.go
  pkg/graph/resolvers/exisiting_model_link.go
  pkg/graph/resolvers/existing_model_link_test.go
  pkg/graph/schema.graphql
  pkg/storage/SQL/existing_model_link/get_by_model_plan_id_and_field_name_LOADER.sql
  pkg/storage/SQL/existing_model_link/merge.sql
  pkg/storage/existing_model_linkStore.go
  pkg/storage/loaders/existing_model_link_loader.go
  src/gql/apolloGQL/GeneralCharacteristics/UpdateExistingModelLinks.ts
Due: eslint, tsc-check, graphql-schema, check-code-generation

chore: make existing model modelName field not null in GQL
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/storage/SQL/existing_model_link/get_by_model_plan_id_and_field_name_LOADER.sql
Due: graphql-schema, check-code-generation

BE work complete
  MINT.postman_collection.json
  migrations/V138__Add_Claims_Processing_Precedence.sql
  pkg/graph/generated/generated.go
  pkg/graph/gqlresolvers/schema.resolvers.go
  pkg/graph/resolvers/plan_payments_test.go
  pkg/graph/schema.graphql
  pkg/models/plan_payments.go
  pkg/storage/SQL/plan_payments/create.sql
  pkg/storage/SQL/plan_payments/get_by_id.sql
  pkg/storage/SQL/plan_payments/get_by_model_plan_id_LOADER.sql
  pkg/storage/SQL/plan_payments/update.sql
  src/gql/gen/graphql.ts
  src/types/graphql-global-types.ts
Due: eslint, tsc-check, graphql-schema, check-code-generation

Renamed migration
  migrations/V138__CR_TDL_Designation.sql
Due: none

chore: add missing comma to merge statement
  pkg/storage/SQL/existing_model_link/merge.sql
Due: none

feat: migration to remove Sue Nonemaker and Philip Tennant, add Alistair Quatre and Brandon Cooper
  migrations/V138__IPC_Updates.sql
Due: none
