Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, tsc-check, graphql-schema, check-code-generation

dockerfilelint:
  name: Lint Dockerfile
  entry: dockerfilelint
  language: node
  additional_dependencies:
  - dockerfilelint

eslint:
  name: Run eslint
  entry: scripts/pre-commit-eslint
  language: script

tsc-check:
  name: Run typescript check
  entry: scripts/pre-commit-tsc
  language: script
  pass_filenames: false

graphql-schema:
  name: Lint GraphQL schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script

check-code-generation:
  name: Run GraphQL code generation
  entry: scripts/pre-commit-check-code-generation
  language: script
  pass_filenames: false

feat: add comment for the functionality of the entity_uuid_or_intid_required constraint
  migrations/V110__Add_Tag_Table.sql
Due: none

white space to wrap
  src/views/ModelPlan/Table/index.tsx
Due: eslint, tsc-check

update additional tables to have white space && snaps
  src/views/ModelPlan/CRTDL/CRTDLs/__snapshots__/table.test.tsx.snap
  src/views/ModelPlan/CRTDL/CRTDLs/table.tsx
  src/views/ModelPlan/Collaborators/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/Collaborators/table.tsx
  src/views/ModelPlan/Documents/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/Documents/table.tsx
  src/views/ModelPlan/ReadOnly/CRTDLs/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/Documents/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/Home/__snapshots__/operationalNeedsTable.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/Home/operationalNeedsTable.tsx
  src/views/ModelPlan/TaskList/ITSolutions/LinkDocuments/__snapshots__/index.test.tsx.snap
Due: eslint, tsc-check

Updated cypress test
  cypress/e2e/discussions.spec.js
  src/views/ModelPlan/Discussions/index.tsx
Due: eslint, tsc-check

[NOREF] Remove Tables scrollability (#784)
  src/views/ModelPlan/CRTDL/CRTDLs/__snapshots__/table.test.tsx.snap
  src/views/ModelPlan/CRTDL/CRTDLs/table.tsx
  src/views/ModelPlan/Collaborators/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/Collaborators/table.tsx
  src/views/ModelPlan/Documents/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/Documents/table.tsx
  src/views/ModelPlan/ReadOnly/CRTDLs/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/Documents/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/Table/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/Home/__snapshots__/operationalNeedsTable.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/Home/operationalNeedsTable.tsx
  src/views/ModelPlan/TaskList/ITSolutions/LinkDocuments/__snapshots__/index.test.tsx.snap
Due: eslint, tsc-check

feat: pipeline modifications to support schema modularization
  .github/workflows/build_frontend_assets.yml
  .github/workflows/run_tests.yml
  go.mod
  go.sum
  pkg/graph/generated/generated.go
  pkg/graph/gqlresolvers/plan_ops_eval_and_learning.resolvers.go
  pkg/graph/gqlresolvers/schema.resolvers.go
  pkg/graph/gqlresolvers/schema.resolvers_current_user_test.go
  pkg/graph/gqlresolvers/schema.resolvers_test.go
  pkg/graph/schema.graphql
  pkg/graph/schema_enums/enums.graphql
  pkg/graph/schema_types/plan_ops_eval_and_learning.graphql
  pkg/graph/schema_types/scalars.graphql
  pkg/server/routes.go
Due: graphql-schema, check-code-generation

revert: unintentional node version update
  .github/workflows/build_frontend_assets.yml
Due: none

revert: unintentional node version update
  .github/workflows/run_tests.yml
Due: none

revert: unintentional go mod updates
  go.mod
  go.sum
Due: none

revert: unintentional go mod updates
  go.sum
Due: none

Removed unneeded email embed data field
  src/components/shared/MentionTextArea/MentionList.tsx
  src/components/shared/MentionTextArea/index.tsx
Due: eslint, tsc-check

Upgraded LD and jest package
  package.json
  src/views/FlagsWrapper/index.tsx
  yarn.lock
Due: eslint, tsc-check

Changed GA metric to use userKey instead of signed hash
  src/views/FlagsWrapper/index.tsx
Due: eslint, tsc-check

Added demo code to home and models tables
  src/views/ModelPlan/Table/index.tsx
Due: eslint, tsc-check

add position-relative to the header buttons
  src/views/ModelPlan/CRTDL/CRTDLs/table.tsx
  src/views/ModelPlan/Collaborators/table.tsx
  src/views/ModelPlan/Documents/table.tsx
  src/views/ModelPlan/Table/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/Home/operationalNeedsTable.tsx
Due: eslint, tsc-check

chore: correct comment syntax in SQL
  migrations/V110__Add_Tag_Table.sql
Due: none

[EASI-3509] - Fixed null render on readonly (#785)
  src/views/ModelPlan/ReadOnly/GeneralCharacteristics/index.tsx
Due: eslint, tsc-check

Added scroll to modal, fixed incorrect cms address
  src/components/OktaUserSelect/multiSelect.tsx
  src/components/ShareExport/index.scss
Due: eslint, tsc-check

[EASI-3491] - Added demo code to home and models tables (#788)
  src/views/ModelPlan/Table/index.tsx
Due: eslint, tsc-check

[EASI-3538] - Added scroll to modal, fixed incorrect cms address (#789)
  src/components/OktaUserSelect/multiSelect.tsx
  src/components/ShareExport/index.scss
Due: eslint, tsc-check

[EASI-3128] - Upgraded LD and jest package (#787)
  package.json
  src/views/FlagsWrapper/index.tsx
  yarn.lock
Due: eslint, tsc-check

updating snaps
  src/views/ModelPlan/CRTDL/CRTDLs/__snapshots__/table.test.tsx.snap
  src/views/ModelPlan/Collaborators/AddCollaborator/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/Collaborators/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/Documents/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/CRTDLs/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/Documents/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/Home/__snapshots__/operationalNeedsTable.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/LinkDocuments/__snapshots__/index.test.tsx.snap
Due: none

Update snap
  src/views/ModelPlan/TaskList/ITSolutions/LinkDocuments/__snapshots__/index.test.tsx.snap
Due: none

[EASI-3128] Discussion tagging FE (#779)
  cypress/e2e/discussions.spec.js
  package.json
  src/components/AskAQuestion/index.test.tsx
  src/components/shared/MentionTextArea/MentionList.tsx
  src/components/shared/MentionTextArea/index.scss
  src/components/shared/MentionTextArea/index.tsx
  src/components/shared/MentionTextArea/suggestion.ts
  src/components/shared/MentionTextArea/util.tsx
  src/components/shared/TruncatedText/index.tsx
  src/global.d.ts
  src/i18n/en-US/draftModelPlan/discussions.ts
  src/queries/CreateModelPlanReply.ts
  src/queries/Discussions/CreateModelPlanDiscussion.ts
  src/queries/Discussions/GetModelPlanDiscussions.ts
  src/queries/Discussions/types/CreateModelPlanDiscussion.ts
  src/queries/Discussions/types/GetModelPlanDiscussions.ts
  src/queries/GetAllModelData.ts
  src/queries/GetAllSingleModelPlan.ts
  src/queries/GetModelPlan.ts
  src/queries/types/CreateModelPlanReply.ts
  src/queries/types/GetAllModelData.ts
  src/queries/types/GetAllSingleModelData.ts
  src/queries/types/GetModelPlan.ts
  src/setupTests.ts
  src/types/graphql-global-types.ts
  src/utils/export/CsvData.ts
  src/views/Landing/index.tsx
  src/views/ModelPlan/Discussions/DiscussionModalWrapper.tsx
  src/views/ModelPlan/Discussions/FormatDiscussion.tsx
  src/views/ModelPlan/Discussions/QuestionAndReply.tsx
  src/views/ModelPlan/Discussions/Replies/index.tsx
  src/views/ModelPlan/Discussions/SingleDiscussion.tsx
  src/views/ModelPlan/Discussions/index.test.tsx
  src/views/ModelPlan/Discussions/index.tsx
  src/views/ModelPlan/TaskList/index.test.tsx
  yarn.lock
Due: eslint, tsc-check, check-code-generation

[NOREF] add position-relative to the header buttons (#790)
  src/views/ModelPlan/CRTDL/CRTDLs/__snapshots__/table.test.tsx.snap
  src/views/ModelPlan/CRTDL/CRTDLs/table.tsx
  src/views/ModelPlan/Collaborators/AddCollaborator/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/Collaborators/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/Collaborators/table.tsx
  src/views/ModelPlan/Documents/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/Documents/table.tsx
  src/views/ModelPlan/ReadOnly/CRTDLs/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/Documents/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/Table/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/Home/__snapshots__/operationalNeedsTable.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/Home/operationalNeedsTable.tsx
  src/views/ModelPlan/TaskList/ITSolutions/LinkDocuments/__snapshots__/index.test.tsx.snap
Due: eslint, tsc-check

implement transactions for tags and discussions
  pkg/graph/resolvers/plan_discussion.go
  pkg/graph/resolvers/tag.go
  pkg/graph/resolvers/tag_test.go
  pkg/storage/plan_discussionStore.go
  pkg/storage/tagStore.go
Due: none

chore: make tag and discussion creation atomic
  pkg/graph/resolvers/plan_discussion.go
  pkg/graph/resolvers/tag.go
  pkg/graph/resolvers/tag_test.go
  pkg/storage/tagStore.go
Due: none

Updated codegen config/renamed file
  codegen.ts
  src/gql/gen/fragment-masking.ts
  src/gql/gen/graphql-types.ts
  src/gql/gen/graphql.ts
  src/views/ModelPlan/TaskList/Basics/Milestones/index.tsx
  src/views/ModelPlan/TaskList/Basics/Overview/index.tsx
  src/views/ModelPlan/TaskList/Basics/index.tsx
  src/views/ModelPlan/TaskList/Payment/FundingSource/index.tsx
  src/views/Unfollow/index.tsx
Due: eslint, tsc-check

chore: add better comment around what is updated as part of UpdateTaggedHTMLMentionsAndRawContent
  pkg/graph/resolvers/tag.go
Due: none

Lint updates
  pkg/graph/resolvers/plan_discussion_test.go
Due: none

Removed client preset from codegen
  codegen.ts
  src/gql/apolloGQL/Basics/GetBasics.ts
  src/gql/apolloGQL/Basics/GetMilestones.ts
  src/gql/apolloGQL/Basics/GetOverview.ts
  src/gql/apolloGQL/Basics/UpdateBasics.ts
  src/gql/apolloGQL/Basics/UpdateModelPlanAndBasics.ts
  src/gql/apolloGQL/Documents/LinkNewPlanDocument.ts
  src/gql/apolloGQL/Feedback/CreateReportAProblem.ts
  src/gql/apolloGQL/Feedback/CreateSendFeedback.ts
  src/gql/apolloGQL/Fragments/ReadyForReviewUser.ts
  src/gql/apolloGQL/Payments/GetFunding.ts
  src/gql/apolloGQL/Payments/UpdatePayments.ts
  src/gql/apolloGQL/ShareExport/CreateShareModelPlan.ts
  src/gql/apolloGQL/Solutions/GetPossibleSolutions.ts
  src/gql/apolloGQL/getNDA.ts
  src/gql/gen/gql.ts
  src/gql/gen/index.ts
Due: eslint, tsc-check

WIP new job codes with failing tests
  pkg/authentication/principal.go
  pkg/authentication/principal_test.go
  pkg/local/authentication_middleware.go
  pkg/okta/authentication_middleware.go
  pkg/okta/authentication_middleware_test.go
  pkg/services/auth.go
  pkg/worker/analyzed_audit_job.go
  pkg/worker/analyzed_audit_job_test.go
  pkg/worker/worker_test_utilities.go
Due: none

Updated unit tests
  src/views/ModelPlan/TaskList/Basics/Milestones/index.test.tsx
  src/views/ModelPlan/TaskList/Basics/Overview/index.test.tsx
  src/views/ModelPlan/TaskList/Basics/index.test.tsx
  src/views/ModelPlan/TaskList/Payment/FundingSource/index.test.tsx
Due: eslint, tsc-check

feat: rename TaggedHTML to TaggedContent
  cmd/test_email/main.go
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/auditing_paradigm_test.go
  pkg/graph/resolvers/plan_discussion_test.go
  pkg/graph/resolvers/resolver_test.go
  pkg/graph/resolvers/tag.go
  pkg/graph/resolvers/tag_test.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/tagged_html.go
  pkg/models/tagged_html_test.go
  pkg/worker/worker_test.go
  src/gql/gen/graphql.ts
  src/queries/Discussions/types/CreateModelPlanDiscussion.ts
  src/queries/Discussions/types/GetModelPlanDiscussions.ts
  src/queries/types/CreateModelPlanReply.ts
  src/queries/types/GetAllModelData.ts
  src/queries/types/GetAllSingleModelData.ts
  src/queries/types/GetModelPlan.ts
  src/views/Landing/index.tsx
  src/views/ModelPlan/Discussions/index.test.tsx
  src/views/ModelPlan/TaskList/index.test.tsx
Due: eslint, tsc-check, graphql-schema, check-code-generation

feat: rename TaggedHTML to TaggedContent in more places
  pkg/graph/resolvers/tag.go
  pkg/graph/resolvers/tag_test.go
  pkg/models/tagged_html_test.go
Due: none

Remove print statements
  pkg/worker/analyzed_audit_job.go
  pkg/worker/analyzed_audit_job_test.go
  pkg/worker/worker_test.go
Due: none

feat: rename TaggedHTMLInput to TaggedHTML
  cmd/test_email/main.go
  gqlgen.yml
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/resolvers/auditing_paradigm_test.go
  pkg/graph/resolvers/plan_discussion_test.go
  pkg/graph/resolvers/resolver_test.go
  pkg/graph/resolvers/tag.go
  pkg/graph/resolvers/tag_test.go
  pkg/graph/schema.graphql
  pkg/models/plan_discussion.go
  pkg/models/tagged_html.go
  pkg/worker/worker_test.go
  src/global.d.ts
  src/gql/gen/graphql.ts
  src/types/graphql-global-types.ts
Due: eslint, tsc-check, graphql-schema, check-code-generation

feat: rename TaggedHTMLInput to TaggedHTML
  pkg/models/tagged_html.go
Due: none

Modify plan document resolvers to not return restricted docs if a user has the NON-CMS job code
  pkg/graph/resolvers/plan_document.go
  pkg/graph/resolvers/plan_document_test.go
  pkg/graph/resolvers/resolver_test_utilities.go
Due: none

feat: extract some methods in UpdateTaggedHTMLMentionsAndRawContent
  pkg/graph/resolvers/tag.go
  pkg/models/tagged_html_test.go
Due: none

Path conditions:
  dockerfilelint: any of: Dockerfile.*
  eslint: any of: \.(js|jsx|ts|tsx)$, but not: (\.(d\.ts)$)|(\.storybook)|(serviceWorker\.ts)
  tsc-check: any of: \.(js|jsx|ts|tsx)$
  graphql-schema: any of: pkg/graph/schema.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts
