Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, tsc-check, graphql-schema, check-code-generation

dockerfilelint:
  name: Lint Dockerfile
  entry: dockerfilelint
  language: node
  additional_dependencies:
  - dockerfilelint

eslint:
  name: Run eslint
  entry: scripts/pre-commit-eslint
  language: script

tsc-check:
  name: Run typescript check
  entry: scripts/pre-commit-tsc
  language: script
  pass_filenames: false

graphql-schema:
  name: Lint GraphQL schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script

check-code-generation:
  name: Run GraphQL code generation
  entry: scripts/pre-commit-check-code-generation
  language: script
  pass_filenames: false

Changed post login redirect from react-router to native browser redirect
  src/views/AuthenticationWrapper/index.tsx
Due: eslint, tsc-check

Reverted refresh/ applied a lazy ws config with reworked connection param
  src/index.tsx
  src/views/AuthenticationWrapper/index.tsx
Due: eslint, tsc-check

[NOREF] - Changed post login redirect from react-router to native browser redirect (#659)
  src/index.tsx
Due: eslint, tsc-check

feat: removed frontend references to fundingStructure
  src/data/mock/readonly.ts
  src/gql/gen/graphql.ts
  src/i18n/en-US/draftModelPlan/payments.ts
  src/queries/GetAllModelData.ts
  src/queries/GetAllSingleModelPlan.ts
  src/queries/Payments/GetNonClaimsBasedPayment.ts
  src/queries/Payments/types/GetNonClaimsBasedPayment.ts
  src/queries/ReadOnly/GetAllPayments.ts
  src/queries/ReadOnly/types/GetAllPayments.ts
  src/queries/types/GetAllModelData.ts
  src/queries/types/GetAllSingleModelData.ts
  src/utils/export/CsvData.ts
  src/views/ModelPlan/ReadOnly/Payments/index.tsx
  src/views/ModelPlan/TaskList/Beneficiaries/Frequency/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/ProviderOptions/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Payment/NonClaimsBasedPayment/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Payment/NonClaimsBasedPayment/index.test.tsx
  src/views/ModelPlan/TaskList/Payment/NonClaimsBasedPayment/index.tsx
Due: eslint, tsc-check, check-code-generation

chore: updated cypress test
  cypress/e2e/payments.spec.js
Due: eslint, tsc-check

chore: per feedback, removed enum changes in favor of FE translation masking
  migrations/V102__Add_Enum_Semiannually.sql
  migrations/V102__Update_Plan_Payments_Fields.sql
  migrations/V103__Create_Replace_Element_Function.sql
  migrations/V104__Update_Enums_Biannually_To_Semiannually.sql
  migrations/V105__Remove_Biannually_From_Frequency_Types.sql
Due: none

chore: removing references to semiannnually
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/models/plan_payments.go
  src/gql/gen/graphql.ts
  src/types/graphql-global-types.ts
Due: eslint, tsc-check, graphql-schema, check-code-generation

chore: updated tests removing semiannually
  src/views/ModelPlan/TaskList/Beneficiaries/Frequency/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/ProviderOptions/__snapshots__/index.test.tsx.snap
Due: none

Finished page 7part2 of OEL
  src/data/operationalNeedMap.ts
  src/i18n/en-US/modelPlan/opsEvalAndLearning.ts
  src/types/translation.ts
  src/views/ModelPlan/ReadOnly/_components/FilterView/BodyContent/_filterGroupMapping.ts
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/CCWAndQuality/index.tsx
Due: eslint, tsc-check

Weird hacks to make things work
  .pnp.cjs
  .yarn/cache/@testing-library-user-event-npm-13.5.0-1ff89b703a-16319de685.zip
  .yarn/cache/@testing-library-user-event-npm-14.4.3-2d1a75355f-852c48ea6d.zip
  .yarn/cache/@types-testing-library__jest-dom-npm-5.14.9-319d22d764-d364494fc2.zip
  package.json
  src/index.scss
  src/setupTests.ts
  yarn.lock
Due: eslint, tsc-check

chore: removed custom additional model category type to support FE masking, added better migration support
  logstash/V102__Update_Model_Categories.sql
  migrations/V102__Update_Model_Categories.sql
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  src/components/FavoriteCard/index.test.tsx
  src/data/mock/readonly.ts
  src/gql/gen/graphql.ts
  src/types/graphql-global-types.ts
  src/views/ModelPlan/ReadOnly/ModelBasics/index.test.tsx
  src/views/ModelPlan/TaskList/Basics/index.test.tsx
Due: eslint, tsc-check, graphql-schema, check-code-generation

Add job code for contractors
  pkg/okta/authentication_middleware.go
Due: none

Update FE job code mapping
  src/constants/jobCodes.ts
  src/utils/user.ts
Due: eslint, tsc-check

Update local auth middleware
  pkg/local/authentication_middleware.go
Due: none

Update auth middleware tests
  pkg/okta/authentication_middleware_test.go
Due: none

Finished page 8 of OEL
  src/i18n/en-US/modelPlan/opsEvalAndLearning.ts
  src/types/translation.ts
  src/views/ModelPlan/ReadOnly/_components/FilterView/BodyContent/_filterGroupMapping.ts
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/DataSharing/index.tsx
Due: eslint, tsc-check

Finished page 9 of OEL
  src/i18n/en-US/modelPlan/opsEvalAndLearning.ts
  src/types/translation.ts
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/Learning/index.tsx
Due: eslint, tsc-check

Finished readonly OEL
  src/i18n/en-US/modelPlan/opsEvalAndLearning.ts
  src/i18n/en-US/readOnly/readOnlyModelPlan.ts
  src/views/ModelPlan/ReadOnly/OpsEvalAndLearning/index.tsx
Due: eslint, tsc-check

Updated tests
  cypress/e2e/characteristics.spec.js
  cypress/e2e/modelPlan.spec.js
  src/components/BooleanRadioForm/__snapshots__/index.test.tsx.snap
  src/components/BooleanRadioForm/index.tsx
  src/components/ShareExport/__snapshots__/index.test.tsx.snap
  src/i18n/en-US/modelPlan/opsEvalAndLearning.ts
  src/views/ModelPlan/ReadOnly/Beneficiaries/index.tsx
  src/views/ModelPlan/ReadOnly/GeneralCharacteristics/index.tsx
  src/views/ModelPlan/ReadOnly/OpsEvalAndLearning/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/ParticipantsAndProviders/index.tsx
  src/views/ModelPlan/TaskList/Basics/Milestones/index.tsx
  src/views/ModelPlan/TaskList/GeneralCharacteristics/Authority/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/GeneralCharacteristics/Involvements/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/GeneralCharacteristics/TargetsAndOptions/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/GeneralCharacteristics/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/CCWAndQuality/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/Evaluation/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/IDDOC/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/IDDOCMonitoring/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/IDDOCTesting/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/Learning/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/Performance/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/Communication/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/Coordination/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/__snapshots__/index.test.tsx.snap
Due: eslint, tsc-check

Updated readonly mock data
  src/components/ShareExport/__snapshots__/index.test.tsx.snap
  src/data/mock/readonly.ts
  src/views/ModelPlan/ReadOnly/OpsEvalAndLearning/__snapshots__/index.test.tsx.snap
Due: eslint, tsc-check

Updated milestones tests with better test data, comment on conditonal loading render
  src/views/ModelPlan/TaskList/Basics/Milestones/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Basics/Milestones/index.test.tsx
  src/views/ModelPlan/TaskList/Basics/Milestones/index.tsx
Due: eslint, tsc-check

Fixes OEL translation file name for it solutions tracker
  src/data/operationalNeedMap.ts
Due: eslint, tsc-check

Updated cypress tests to use new radio id's
  cypress/e2e/characteristics.spec.js
  cypress/e2e/opsEvalAndLearning.spec.js
  cypress/e2e/participantsAndProviders.spec.js
Due: eslint, tsc-check

chore: updated unit tests to include new fields
  pkg/graph/resolvers/plan_payments_test.go
Due: none

chore: homogenized trust fund type names
  migrations/V102__Update_Plan_Payments_Fields.sql
  pkg/models/plan_payments.go
Due: none

chore: removed old reference to semiannually in shared enums in favor of FE masking
  pkg/models/shared_enums.go
Due: none

chore: updated plan payments store sql
  pkg/storage/SQL/plan_payments/create.sql
  pkg/storage/SQL/plan_payments/get_by_id.sql
  pkg/storage/SQL/plan_payments/get_by_model_plan_id_LOADER.sql
  pkg/storage/SQL/plan_payments/update.sql
Due: none

chore: organized store sql and fixed migration bug
  migrations/V102__Update_Plan_Payments_Fields.sql
  pkg/storage/SQL/plan_payments/create.sql
  pkg/storage/SQL/plan_payments/get_by_id.sql
  pkg/storage/SQL/plan_payments/get_by_model_plan_id_LOADER.sql
  pkg/storage/SQL/plan_payments/update.sql
Due: none

chore: updated postman collection
  MINT.postman_collection.json
Due: none

Make trust fund type enum array. Remove trust fund string in favor of trust fund type field
  migrations/V102__Update_Plan_Payments_Fields.sql
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/plan_payments_test.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/plan_payments.go
  pkg/storage/SQL/plan_payments/create.sql
  pkg/storage/SQL/plan_payments/get_by_id.sql
  pkg/storage/SQL/plan_payments/get_by_model_plan_id_LOADER.sql
  pkg/storage/SQL/plan_payments/update.sql
  src/gql/gen/graphql.ts
  src/queries/GetAllModelData.ts
  src/queries/GetAllSingleModelPlan.ts
  src/queries/Payments/GetFunding.ts
  src/queries/Payments/types/GetFunding.ts
  src/queries/ReadOnly/GetAllPayments.ts
  src/queries/ReadOnly/types/GetAllPayments.ts
  src/queries/types/GetAllModelData.ts
  src/queries/types/GetAllSingleModelData.ts
  src/types/graphql-global-types.ts
Due: eslint, tsc-check, graphql-schema, check-code-generation

chore: updated store methods for additional_model_categories
  migrations/V102__Update_Model_Categories.sql
  pkg/graph/schema.resolvers.go
  pkg/models/plan_basics.go
  pkg/storage/SQL/plan_basics/create.sql
  pkg/storage/SQL/plan_basics/get_by_id.sql
  pkg/storage/SQL/plan_basics/get_by_model_plan_id_LOADER.sql
  pkg/storage/SQL/plan_basics/update.sql
Due: check-code-generation

chore: updated model plan model
  pkg/models/model_plan.go
Due: none

Update job code name for nonprod
  pkg/local/authentication_middleware.go
  pkg/okta/authentication_middleware.go
  pkg/okta/authentication_middleware_test.go
  src/constants/jobCodes.ts
Due: eslint, tsc-check

Integrated new payment question options, query, mutation, readonly view
  codegen.ts
  src/components/shared/Tooltip/index.tsx
  src/data/mock/readonly.ts
  src/gql/apolloGQL/Payments/GetFunding.ts
  src/gql/apolloGQL/Payments/UpdatePayments.ts
  src/gql/gen/gql.ts
  src/gql/gen/graphql.ts
  src/i18n/en-US/draftModelPlan/payments.ts
  src/queries/ReadOnly/GetAllPayments.ts
  src/queries/ReadOnly/types/GetAllPayments.ts
  src/utils/export/CsvData.ts
  src/views/ModelPlan/ReadOnly/Payments/index.tsx
  src/views/ModelPlan/ReadOnly/_components/FilterView/BodyContent/_filterGroupMapping.ts
  src/views/ModelPlan/TaskList/Payment/FundingSource/index.test.tsx
  src/views/ModelPlan/TaskList/Payment/FundingSource/index.tsx
Due: eslint, tsc-check, check-code-generation

Finished FE Payments updates/tests
  src/components/ShareExport/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/Payments/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Payment/FundingSource/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Payment/FundingSource/index.test.tsx
  src/views/ModelPlan/TaskList/Payment/FundingSource/index.tsx
Due: eslint, tsc-check

Updated cypress tests
  cypress/e2e/payments.spec.js
Due: eslint, tsc-check

Changed biannually to semiannually
  src/components/ShareExport/__snapshots__/index.test.tsx.snap
  src/i18n/en-US/draftModelPlan/operationsEvaulationAndLearning.ts
  src/i18n/en-US/draftModelPlan/participantsAndProviders.ts
  src/i18n/en-US/draftModelPlan/payments.ts
  src/views/ModelPlan/ReadOnly/ParticipantsAndProviders/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/Payments/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Beneficiaries/Frequency/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/ProviderOptions/__snapshots__/index.test.tsx.snap
Due: eslint, tsc-check

big initial push
  src/i18n/en-US/modelPlan/planBasics.tsx
  src/types/translation.ts
  src/views/ModelPlan/TaskList/Basics/index.tsx
Due: eslint, tsc-check

adding additionalModelCategories to translation doc
  src/i18n/en-US/modelPlan/planBasics.tsx
  src/types/translation.ts
Due: eslint, tsc-check

Path conditions:
  dockerfilelint: any of: Dockerfile.*
  eslint: any of: \.(js|jsx|ts|tsx)$, but not: (\.(d\.ts)$)|(\.storybook)|(serviceWorker\.ts)
  tsc-check: any of: \.(js|jsx|ts|tsx)$
  graphql-schema: any of: pkg/graph/schema.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts
