Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, tsc-check, graphql-schema, check-code-generation

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch
        args: [
          '--pattern', '^(?!((main)|(feature\/EASI-\d{1,5})|((EASI-\d{1,5}|NOREF|dependabot)\/[a-zA-Z0-9\-\._/]+))$).*',
          '--branch', '' # Adding this to remove the default protection on `main` so that CI checks can pass
        ]
        name: Enforce branch naming patterns
        description: Enforces branch naming policy. Allowed branch patterns are 'EASI-#', 'EASI-#/*', 'feature/EASI-#', 'NOREF/*', and 'dependabot/*'. A feature branch like feature/EASI-2020 would have branches like EASI-2020/frontend and EASI-2020/backend merge into it.
      - id: check-yaml
        name: Check YAML formatting
      - id: detect-private-key
        name: Check for private keys
      - id: end-of-file-fixer
        files: \.(sql|scss|md|js|ts|tsx|go|yml|yaml)$
        name: Add newlines to ends of files

  - repo: https://github.com/detailyang/pre-commit-shell
    rev: v1.0.6
    hooks:
      - id: shell-lint
        name: Lint shell files

  - repo: https://github.com/trussworks/pre-commit-hooks
    rev: v1.1.1
    hooks:
      - id: mdspell
        name: Spellcheck Markdown files
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor
          )$

  - repo: https://github.com/Bahjat/pre-commit-golang
    rev: v1.0.1
    hooks:
      - id: go-fmt-import
        name: Run "goimports" on go files
        args: ['-local', 'github.com/cmsgov/mint-app']
        files: .*\.go$
        exclude: >
          (?x)^(
            .*gen/.*|
            .*generated/.*|
            .*models_gen.go|
          )$

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.48.0
    hooks:
      - id: golangci-lint
        name: Lint go files
        args: ['--concurrency', '-1'] # Run with all CPUs

  - repo: local
    hooks:
    - id: dockerfilelint
      name: Lint Dockerfile
      entry: dockerfilelint
      language: node
      additional_dependencies: [dockerfilelint]
      files: Dockerfile.*

  - repo: local
    hooks:
      - id: eslint
        name: Run eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$

  - repo: local
    hooks:
      - id: tsc-check
        name: Run typescript check
        entry: scripts/pre-commit-tsc
        language: script
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false

  - repo: local
    hooks:
      - id: graphql-schema
        name: Lint GraphQL schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: pkg/graph/schema.graphql

  - repo: local
    hooks:
      - id: check-code-generation
        name: Run GraphQL code generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: "pkg/graph/schema\\.graphql|pkg/graph/schema\\.resolvers\\.go|src/queries/.*\\.ts"
        pass_filenames: false

  - repo: https://github.com/awslabs/git-secrets
    rev: b9e96b3212fa06aea65964ff0d5cda84ce935f38
    hooks:
      - id: git-secrets
        name: Check for committed secrets
        entry: git-secrets --pre_commit_hook

  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 1.2.1
    hooks:
      - id: sqlfluff-fix
        exclude: ^scripts/data/
      - id: sqlfluff-lint
        exclude: ^scripts/data/

updated script and pipeline to create rds snapshot
  .github/workflows/deploy_to_environment.yml
  scripts/rds-snapshot-app-db
  scripts/rds-snapshot-app-db.sh
Due: none

updated script and pipeline to create rds snapshot
  scripts/rds-snapshot-app-db.sh
Due: none

Add trailing slash to ensure directory is copied instead of a file
  Dockerfile
Due: dockerfilelint

adding fix for flaky test
  cypress/e2e/itSolutions.js
Due: eslint, tsc-check

[NOREF] Add trailing slash to ensure directory is copied instead of a file (#512)
  Dockerfile
  cypress/e2e/itSolutions.js
Due: dockerfilelint, eslint, tsc-check

add loading and render
  src/views/ModelPlan/TaskList/ITSolutions/Subtasks/index.tsx
Due: eslint, tsc-check

remove loading check
  src/views/ModelPlan/TaskList/ITSolutions/Subtasks/index.tsx
Due: eslint, tsc-check

Added hook for accurate loading state of cache-and-network fetchPolicy
  src/hooks/useCacheQuery.ts
Due: eslint, tsc-check

Added comments for clarity/reference and instruction
  src/hooks/useCacheQuery.ts
Due: eslint, tsc-check

addressing qa feedback
  src/views/ModelPlan/TaskList/ITSolutions/Subtasks/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/Subtasks/index.tsx
Due: eslint, tsc-check

no solution and when its not loading show notFound
  src/views/ModelPlan/TaskList/ITSolutions/Subtasks/index.tsx
Due: eslint, tsc-check

Added tzdata to scratch image
  Dockerfile
Due: dockerfilelint

Continue on error
  .github/workflows/run_tests.yml
Due: none

[NOREF] Added tzdata to scratch image (#515)
  .github/workflows/run_tests.yml
  Dockerfile
Due: dockerfilelint

wip: es client integration and logstash first ingestion working
  config/elasticsearch/elasticsearch.yml
  config/logstash/logstash.conf
  go.mod
  go.sum
  pkg/graph/resolver.go
  pkg/graph/schema.resolvers_test.go
  pkg/server/routes.go
Due: none

Add @hasAnyRole(roles: [MINT_USER, MINT_MAC]) to all queries (#509)
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
Due: graphql-schema, check-code-generation

fixing itsolutions e2e test
  cypress/e2e/itSolutions.js
Due: eslint, tsc-check

Description text to be body medium
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionCategories/index.tsx
  src/views/HelpAndKnowledge/home.tsx
Due: eslint, tsc-check

category card grid column adjustments
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionCategories/index.tsx
Due: eslint, tsc-check

help center and solution heading and description font changes
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionsHeader/index.tsx
Due: eslint, tsc-check

Adjust column wonkiness
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionHelpCardGroup/index.tsx
Due: eslint, tsc-check

multiple categories break to new line if too long
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionHelpCard/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionsTag/index.tsx
Due: eslint, tsc-check

wrap long category names
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionsTag/index.tsx
Due: eslint, tsc-check

add more categories to some entries
  src/views/HelpAndKnowledge/SolutionsHelp/solutionsMap.tsx
Due: eslint, tsc-check

current category should not listed if you are on the page
  src/views/HelpAndKnowledge/SolutionsHelp/_components/CategoryFooter/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/index.tsx
Due: eslint, tsc-check

Header updates to solution panels
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Modal/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/_components/Header/index.tsx
Due: eslint, tsc-check

redo the way the acronym is written in the header
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/_components/Header/index.tsx
Due: eslint, tsc-check

adjust the spacing for point of contact
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/_components/Contact/index.tsx
Due: eslint, tsc-check

remove extra fragment
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Modal/index.tsx
Due: eslint, tsc-check

card header and footer to be xs font size
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/pointsOfContact.tsx
Due: eslint, tsc-check

hide more point of contacts when on point of contacts panel
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/_components/Contact/index.tsx
Due: eslint, tsc-check

reduce line height on contact titles
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/pointsOfContact.tsx
Due: eslint, tsc-check

mobile menu capitalization inconsistency fix
  src/views/ModelPlan/ReadOnly/_components/MobileNav/index.scss
Due: none

content specific updates
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/4Innovation/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/solutionsMap.tsx
Due: eslint, tsc-check

fix weird spacing
  src/i18n/en-US/helpAndKnowledge/helpAndKnowledge.ts
Due: eslint, tsc-check

fix email for CDX
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/CentralizedDataExchange/index.tsx
Due: eslint, tsc-check

CMS Qualtrics updates
  src/i18n/en-US/helpAndKnowledge/helpAndKnowledge.ts
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/CMSQualtrics/index.tsx
Due: eslint, tsc-check

cpi vetting update
  src/i18n/en-US/helpAndKnowledge/helpAndKnowledge.ts
Due: eslint, tsc-check

feat: first pass working capture deleted actor for discussion and discussion reply
  migrations/V87__Update_Audit_Trigger_Session_Context.sql
  pkg/graph/resolvers/plan_discussion.go
  pkg/local/authentication_middleware.go
  pkg/okta/authentication_middleware.go
  pkg/shared/utilitySQL/query_construction.go
  pkg/storage/SQL/utility/set_session_current_user.sql
  pkg/storage/plan_discussionStore.go
Due: none
