Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, tsc-check, graphql-schema, check-code-generation

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-yaml
        name: Check YAML formatting
      - id: detect-private-key
        name: Check for private keys
      - id: end-of-file-fixer
        files: \.(sql|scss|md|js|ts|tsx|go|yml|yaml)$
        name: Add newlines to ends of files
        exclude: src/gql/gen/.* # Ignore generated FE files

  - repo: https://github.com/detailyang/pre-commit-shell
    rev: v1.0.6
    hooks:
      - id: shell-lint
        name: Lint shell files

  - repo: https://github.com/trussworks/pre-commit-hooks
    rev: v1.1.1
    hooks:
      - id: mdspell
        name: Spellcheck Markdown files
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor
          )$

  - repo: https://github.com/Bahjat/pre-commit-golang
    rev: v1.0.3
    hooks:
      - id: go-fmt-import
        name: Run "goimports" on go files
        args: ['-local', 'github.com/cmsgov/mint-app']
        files: .*\.go$
        exclude: >
          (?x)^(
            .*gen/.*|
            .*generated/.*|
            .*models_gen.go|
          )$

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.59.1
    hooks:
      - id: golangci-lint
        name: Lint go files
        args: ['--concurrency', '-1', '-v'] # Run with all CPUs

  - repo: local
    hooks:
    - id: dockerfilelint
      name: Lint Dockerfile
      entry: dockerfilelint
      language: node
      additional_dependencies: [dockerfilelint]
      files: Dockerfile.*

  - repo: local
    hooks:
      - id: eslint
        name: Run eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$
        exclude: (\.(d\.ts)$)|(\.storybook)|(serviceWorker\.ts)|(src/gql/gen/.*) # This should match the .eslintrc "ignorePatterns". Change one, change the other!

  - repo: local
    hooks:
      - id: tsc-check
        name: Run typescript check
        entry: scripts/pre-commit-tsc
        language: script
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false

  - repo: local
    hooks:
      - id: graphql-schema
        name: Lint GraphQL schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: "pkg/graph/schema/.*\\.graphql"
        pass_filenames: false

  - repo: local
    hooks:
      - id: check-code-generation
        name: Run GraphQL code generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: "pkg/graph/schema\\.graphql|pkg/graph/schema\\.resolvers\\.go|src/queries/.*\\.ts|src/queriesCodegen/.*\\.ts"
        pass_filenames: false

  - repo: https://github.com/awslabs/git-secrets
    rev: b9e96b3212fa06aea65964ff0d5cda84ce935f38
    hooks:
      - id: git-secrets
        name: Check for committed secrets
        entry: git-secrets --pre_commit_hook

  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 2.0.7
    hooks:
      - id: sqlfluff-fix
        exclude: ^migrations/
      - id: sqlfluff-lint
        exclude: ^migrations/

[Remove by key loader and clean up log]
  cmd/dbseed/mto.go
  pkg/graph/resolvers/mto_common_milestone.go
  pkg/sqlqueries/mto_common_milestone.go
  pkg/storage/loaders/mto_common_milestone.go
  pkg/storage/mto_common_milestone.go
  pkg/translatedaudit/translate_foreign_key.go
  pkg/translatedaudit/translated_audit_meta_data.go
Due: none

[Remove more by key loaders]
  pkg/graph/resolvers/mto_common_milestone.resolvers.go
  pkg/graph/resolvers/mto_common_solution.go
  pkg/models/mto_common_solution.go
  pkg/sqlqueries/SQL/email/mto_solution_selected_details_get.sql
  pkg/sqlqueries/SQL/mto/common_milestone/get_by_key_LOADER.sql
  pkg/sqlqueries/SQL/mto/common_solution/get_by_key_LOADER.sql
  pkg/sqlqueries/SQL/mto/common_solution/get_by_milestone_id_LOADER.sql
  pkg/sqlqueries/SQL/mto/common_solution/get_by_model_plan_id_LOADER.sql
  pkg/sqlqueries/SQL/mto/milestone/get_by_model_plan_id_no_linked_solution_LOADER.sql
  pkg/sqlqueries/SQL/mto/template/milestone/get_by_category_id_LOADER.sql
  pkg/sqlqueries/SQL/mto/template/milestone/get_by_id_LOADER.sql
  pkg/sqlqueries/SQL/mto/template/milestone/get_by_solution_id_LOADER.sql
  pkg/sqlqueries/SQL/mto/template/milestone/get_by_template_id_LOADER.sql
  pkg/sqlqueries/mto_common_solution.go
  pkg/storage/loaders/mto_common_solution.go
  pkg/storage/mto_common_solution.go
  pkg/storage/mto_solution.go
  query_examples/MINT/Models to Operations Matrix/Milestones/GetMTOMilestone.bru
Due: none

Fix resolver panics
  pkg/graph/resolvers/model_plan.resolvers.go
  pkg/graph/resolvers/plan_task.resolvers.go
Due: none

task schema fix
  pkg/graph/schema/types/plan_task.graphql
Due: graphql-schema

Revert "task schema fix"
  pkg/graph/schema/types/plan_task.graphql
Due: graphql-schema

gql types
  src/gql/generated/graphql.ts
Due: eslint, tsc-check

Fix imports
  pkg/graph/resolvers/audit_change.resolvers.go
  pkg/graph/resolvers/existing_model_link.resolvers.go
  pkg/graph/resolvers/key_contact.resolvers.go
  pkg/graph/resolvers/key_contact_category.resolvers.go
  pkg/graph/resolvers/lockable_sections.resolvers.go
  pkg/graph/resolvers/model_plan.resolvers.go
  pkg/graph/resolvers/mto.resolvers.go
  pkg/graph/resolvers/mto_category.resolvers.go
  pkg/graph/resolvers/mto_common_solution_contact.resolvers.go
  pkg/graph/resolvers/mto_common_solution_contractor.resolvers.go
  pkg/graph/resolvers/mto_common_solution_system_owner.resolvers.go
  pkg/graph/resolvers/mto_milestone.resolvers.go
  pkg/graph/resolvers/mto_milestone_note.resolvers.go
  pkg/graph/resolvers/mto_solution.resolvers.go
  pkg/graph/resolvers/mto_template.resolvers.go
  pkg/graph/resolvers/plan_basics.resolvers.go
  pkg/graph/resolvers/plan_beneficiaries.resolvers.go
  pkg/graph/resolvers/plan_collaborator.resolvers.go
  pkg/graph/resolvers/plan_cr.resolvers.go
  pkg/graph/resolvers/plan_data_exchange_approach.resolvers.go
  pkg/graph/resolvers/plan_document.resolvers.go
  pkg/graph/resolvers/plan_favorite.resolvers.go
  pkg/graph/resolvers/plan_general_characteristics.resolvers.go
  pkg/graph/resolvers/plan_ops_eval_and_learning.resolvers.go
  pkg/graph/resolvers/plan_participants_and_providers.resolvers.go
  pkg/graph/resolvers/plan_payments.resolvers.go
  pkg/graph/resolvers/plan_task.resolvers.go
  pkg/graph/resolvers/plan_tdl.resolvers.go
  pkg/graph/resolvers/plan_timeline.resolvers.go
  pkg/graph/resolvers/translated_audit.resolvers.go
  pkg/graph/resolvers/user_notification.resolvers.go
Due: none

[Update milestone library to match new gql]
  src/features/ModelPlan/ModelToOperations/MilestoneLibrary/index.tsx
  src/features/ModelPlan/ModelToOperations/_components/MilestoneCard/index.test.tsx
  src/features/ModelPlan/ModelToOperations/_components/MilestoneCard/index.tsx
  src/tests/mock/mto.ts
Due: eslint, tsc-check

[Update unit tests]
  pkg/models/mto_template_milestone.go
  src/features/ModelPlan/ModelToOperations/_components/AddCommonMilestoneForm/index.test.tsx
  src/features/ModelPlan/ModelToOperations/_components/LinkMilestoneForm/index.test.tsx
  src/features/ModelPlan/ModelToOperations/_components/LinkSolutionForm/index.test.tsx
  src/features/ModelPlan/ModelToOperations/_components/MatrixTable/columns.tsx
  src/features/ModelPlan/ModelToOperations/_components/MatrixTable/index.test.tsx
  src/features/ModelPlan/ModelToOperations/_components/MilestonePanel/index.test.tsx
Due: eslint, tsc-check

[Fix mto template related gql]
  pkg/sqlqueries/SQL/mto/template/milestone/get_by_category_id_LOADER.sql
  pkg/sqlqueries/SQL/mto/template/milestone/get_by_id_LOADER.sql
  pkg/sqlqueries/SQL/mto/template/milestone/get_by_solution_id_LOADER.sql
  pkg/sqlqueries/SQL/mto/template/milestone/get_by_template_id_LOADER.sql
  pkg/storage/mto_milestone.go
  query_examples/MINT/Models to Operations Matrix/Milestones/NewMTOMilestone (Common).bru
  query_examples/MINT/Models to Operations Matrix/Templates/Get MTO Template.bru
  src/features/ModelPlan/ModelToOperations/_components/AddCommonMilestoneForm/index.tsx
  src/features/ModelPlan/ModelToOperations/_components/LinkMilestoneForm/index.tsx
  src/features/ModelPlan/ModelToOperations/_components/MatrixTable/columns.tsx
  src/features/ModelPlan/ModelToOperations/_components/MatrixTable/index.test.tsx
  src/features/ModelPlan/ModelToOperations/_components/MilestonePanel/index.tsx
  src/features/ModelPlan/ModelToOperations/_components/SuggestedMilestoneToggle/index.tsx
  src/features/ModelPlan/ModelToOperations/_components/SuggestedMilestoneToggle/milestoneMap.ts
  src/features/ModelPlan/ReadOnly/MTOMilestones/MilestonePanel/index.tsx
Due: eslint, tsc-check

add Tasks translation file
  src/i18n/en-US/modelPlan/tasks.ts
Due: eslint, tsc-check

import taskwrapper
  src/features/ModelPlan/CollaborationArea/index.tsx
Due: eslint, tsc-check

add tasks translations
  src/i18n/en-US/index.ts
  src/i18n/en-US/modelPlan/tasks.ts
Due: eslint, tsc-check

sometihng with the teasks i forgot
  src/features/ModelPlan/CollaborationArea/Tasks/index.tsx
  src/features/ModelPlan/TaskList/_components/TaskListItem/index.tsx
Due: eslint, tsc-check

recreate the StateTag
  src/features/ModelPlan/CollaborationArea/Tasks/index.tsx
Due: eslint, tsc-check

recreate the StateTag
  src/i18n/en-US/modelPlan/tasks.ts
Due: eslint, tsc-check

adding the buttons
  src/features/ModelPlan/CollaborationArea/Tasks/index.tsx
Due: eslint, tsc-check

[Add migrations to update suggested mto milestone functions]
  migrations/V251__Update_Suggested_MTO_Milestone.sql
  migrations/V252__Set_Constraints_Keys_MTO_Common_Milestone_ID.sql
Due: none

add links
  src/features/ModelPlan/CollaborationArea/Tasks/index.tsx
Due: eslint, tsc-check

too many commits i forgot
  src/features/ModelPlan/CollaborationArea/Cards/ModelPlanCard/index.test.tsx
  src/features/ModelPlan/CollaborationArea/Cards/ModelPlanCard/index.tsx
  src/features/ModelPlan/CollaborationArea/Tasks/index.tsx
  src/features/ModelPlan/CollaborationArea/_components/LastModifiedSection/index.tsx
  src/features/ModelPlan/CollaborationArea/_utils/modelPlanSectionUtils.ts
  src/features/ModelPlan/CollaborationArea/index.tsx
Due: eslint, tsc-check

if state is todo, then hide the section started line
  src/features/ModelPlan/CollaborationArea/Tasks/index.tsx
Due: eslint, tsc-check

add the correct footer
  pkg/email/templates/iddoc_questionnaire_completed_body.html
Due: none

quick cypress test fix
  src/features/ModelPlan/AdditionalQuestionnaires/IddocQuestionnaire/IDDOCMonitoring/index.tsx
Due: eslint, tsc-check

Update filters to use query params
  src/features/ModelPlan/ModelToOperations/MilestoneLibrary/MilestoneFilterModal/MilestoneFilterGroup.tsx
  src/features/ModelPlan/ModelToOperations/MilestoneLibrary/MilestoneFilterModal/index.tsx
  src/features/ModelPlan/ModelToOperations/MilestoneLibrary/index.tsx
Due: eslint, tsc-check

Fix clear all functionality
  src/features/ModelPlan/ModelToOperations/MilestoneLibrary/MilestoneFilterModal/index.tsx
Due: eslint, tsc-check

Add tasks to query
  src/features/ModelPlan/CollaborationArea/Tasks/index.tsx
  src/gql/generated/graphql.ts
  src/gql/operations/ModelPlan/GetCollaborationArea.ts
  src/i18n/en-US/modelPlan/tasks.ts
  src/tests/mock/general.ts
Due: eslint, tsc-check

update the copy
  src/features/ModelPlan/CollaborationArea/Tasks/index.tsx
Due: eslint, tsc-check

show me all the cards
  src/features/ModelPlan/CollaborationArea/Cards/ModelPlanCard/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/CollaborationArea/Tasks/index.test.tsx
  src/features/ModelPlan/CollaborationArea/Tasks/index.tsx
  src/features/ModelPlan/CollaborationArea/index.tsx
Due: eslint, tsc-check

add empty state
  src/i18n/en-US/modelPlan/tasks.ts
Due: eslint, tsc-check

add the recent edits to both MTO and DEA
  src/features/ModelPlan/CollaborationArea/Tasks/index.test.tsx
  src/features/ModelPlan/CollaborationArea/Tasks/index.tsx
  src/features/ModelPlan/CollaborationArea/index.tsx
Due: eslint, tsc-check

Task work init
  src/features/ModelPlan/CollaborationArea/index.tsx
Due: eslint, tsc-check

Filter tags
  src/features/ModelPlan/ModelToOperations/MilestoneLibrary/MilestoneFilterTags.tsx
  src/features/ModelPlan/ModelToOperations/MilestoneLibrary/index.tsx
  src/i18n/en-US/general.ts
Due: eslint, tsc-check

File structure
  src/features/ModelPlan/ModelToOperations/MilestoneLibrary/_components/MilestoneFilterGroup/index.tsx
  src/features/ModelPlan/ModelToOperations/MilestoneLibrary/_components/MilestoneFilterModal/getMilestoneFilters.tsx
  src/features/ModelPlan/ModelToOperations/MilestoneLibrary/_components/MilestoneFilterModal/index.scss
  src/features/ModelPlan/ModelToOperations/MilestoneLibrary/_components/MilestoneFilterModal/index.test.tsx
  src/features/ModelPlan/ModelToOperations/MilestoneLibrary/_components/MilestoneFilterModal/index.tsx
  src/features/ModelPlan/ModelToOperations/MilestoneLibrary/_components/MilestoneFilterTags/index.tsx
  src/features/ModelPlan/ModelToOperations/MilestoneLibrary/index.tsx
Due: eslint, tsc-check

MilestoneFilterTags unit tests
  src/features/ModelPlan/ModelToOperations/MilestoneLibrary/_components/MilestoneFilterTags/index.test.tsx
  src/features/ModelPlan/ModelToOperations/MilestoneLibrary/_components/MilestoneFilterTags/index.tsx
Due: eslint, tsc-check

Fix tests
  src/features/ModelPlan/ModelToOperations/MilestoneLibrary/_components/MilestoneFilterModal/index.test.tsx
Due: eslint, tsc-check
