Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, tsc-check, graphql-schema, check-code-generation

dockerfilelint:
  name: Lint Dockerfile
  entry: dockerfilelint
  language: node
  additional_dependencies:
  - dockerfilelint

eslint:
  name: Run eslint
  entry: scripts/pre-commit-eslint
  language: script

tsc-check:
  name: Run typescript check
  entry: scripts/pre-commit-tsc
  language: script
  pass_filenames: false

graphql-schema:
  name: Lint GraphQL schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script
  pass_filenames: false

check-code-generation:
  name: Run GraphQL code generation
  entry: scripts/pre-commit-check-code-generation
  language: script
  pass_filenames: false

add new custom dates note field to bruno queries
  query_examples/MINT/Timeline/Get Timeline.bru
  query_examples/MINT/Timeline/Update Timeline.bru
Due: none

fix failing translation test
  mappings/translation/plan_timeline.json
  t.out
Due: none

remove t.out test output
  t.out
Due: none

[MINT-3763] Update LDG solution (#2376)
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/About/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/About/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/About/index.tsx
  src/i18n/en-US/helpAndKnowledge/helpAndKnowledge.ts
Due: eslint, tsc-check

working through model plan store rework
  pkg/graph/resolvers/model_plan.go
  pkg/graph/resolvers/model_plan_phase.go
  pkg/graph/resolvers/model_plan_phase_test.go
  pkg/graph/resolvers/plan_timeline.go
  pkg/graph/resolvers/plan_timeline_helper.go
  pkg/storage/model_planStore.go
Due: none

reworking api shape to allow bulk updates and returned data in one request
  pkg/graph/resolvers/plan_timeline.go
  pkg/sqlqueries/SQL/custom_timeline_date/update_dates_by_ids.sql
  pkg/sqlqueries/custom_timeline_date.go
  pkg/storage/custom_timeline_date.go
  query_examples/MINT/Timeline/Bulk Update Custom Timeline Dates.bru
Due: none

fix invisible byte
  query_examples/MINT/Timeline/Bulk Update Custom Timeline Dates.bru
Due: none

use resolver instead of loader directly
  pkg/graph/resolvers/plan_timeline.go
Due: none

one more cleanup
  pkg/graph/resolvers/plan_timeline.go
Due: none

[Fix migration number]
  migrations/V268__Add_Waiver_Assessment_Survey_Task.sql
  migrations/V269__Backfill_Waiver_Assessment_Survey_Task.sql
  migrations/V270__Create_Waiver_Tables.sql
Due: none

remove aira labels as suggested by copilot
  src/components/NavigationBar/HelpNavMenu.tsx
Due: eslint, tsc-check

copilot's suggestion
  src/features/HelpAndKnowledge/ContractAssistancePage/utils.ts
Due: eslint, tsc-check

addressing Copilot's feekback
  src/features/HelpAndKnowledge/ContractAssistancePage/_components/ContractAssistanceTicketsTable/index.test.tsx
  src/features/HelpAndKnowledge/ContractAssistancePage/_components/ContractAssistanceTicketsTable/index.tsx
  src/features/HelpAndKnowledge/ContractAssistancePage/constants.ts
  src/features/HelpAndKnowledge/ContractAssistancePage/utils.ts
Due: eslint, tsc-check

fix key in changes check
  pkg/graph/resolvers/plan_timeline.go
Due: none

[Update timeline page to include new section]
  src/features/ModelPlan/Timeline/_components/AdditionalModelDates/index.tsx
  src/features/ModelPlan/Timeline/index.test.tsx
  src/features/ModelPlan/Timeline/index.tsx
  src/gql/generated/graphql.ts
  src/gql/operations/Timeline/getTimeline.ts
  src/i18n/en-US/modelPlan/timeline.ts
  src/tests/mock/readonly.ts
Due: eslint, tsc-check

[Add unit tests]
  src/features/ModelPlan/Timeline/_components/AdditionalModelDates/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/Timeline/_components/AdditionalModelDates/index.test.tsx
  src/features/ModelPlan/Timeline/index.test.tsx
Due: eslint, tsc-check

[Update FE to match gql changes amd fix date picker not working bug]
  src/features/ModelPlan/Timeline/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/Timeline/_components/AdditionalModelDates/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/Timeline/_components/AdditionalModelDates/index.test.tsx
  src/features/ModelPlan/Timeline/_components/AdditionalModelDates/index.tsx
  src/features/ModelPlan/Timeline/index.test.tsx
  src/features/ModelPlan/Timeline/index.tsx
  src/gql/generated/graphql.ts
  src/gql/operations/Timeline/getTimeline.ts
  src/tests/mock/readonly.ts
Due: eslint, tsc-check

[Add customDatesNote field to match gql changes, add sort]
  src/features/ModelPlan/Timeline/_components/AdditionalModelDates/index.tsx
  src/features/ModelPlan/Timeline/index.tsx
  src/gql/generated/graphql.ts
  src/gql/operations/Timeline/getTimeline.ts
Due: eslint, tsc-check

[Replace heading with h2 and update snapshots]
  src/features/ModelPlan/Timeline/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/Timeline/_components/AdditionalModelDates/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/Timeline/_components/AdditionalModelDates/index.tsx
Due: eslint, tsc-check

feat: correct handling of status logic
  pkg/graph/resolvers/ctat_request.go
  query_examples/MINT/CTAT/Admin Update CTAT Request.bru
  query_examples/MINT/CTAT/Get CTAT Request.bru
Due: none

feat: bruno for closing request
  query_examples/MINT/CTAT/Close CTAT Request.bru
Due: none

feat: add additional burno fields
  query_examples/MINT/CTAT/Close CTAT Request.bru
  query_examples/MINT/CTAT/Create CTAT Request.bru
  query_examples/MINT/CTAT/Get CTAT Request.bru
  query_examples/MINT/CTAT/Get CTAT Requests Admin.bru
  query_examples/MINT/CTAT/Get CTAT Requests Requester.bru
Due: none

add template files and Go support files (plus add to tests) for new custom date added email notification
  cmd/test_email/main.go
  pkg/email/custom_timeline_date_created.go
  pkg/email/model_plan_emails.go
  pkg/email/templates/custom_timeline_date_created_body.html
  pkg/email/templates/custom_timeline_date_created_subject.html
Due: none

changed health endpoint to ecs api call (#2367)
  .github/workflows/deploy_to_environment.yml
  .github/workflows/scan_deployed_image.yml
  scripts/check_deployed_image_findings
  scripts/healthcheck
Due: none

[fix couple nit]
  src/features/ModelPlan/Timeline/index.tsx
Due: eslint, tsc-check

[Refactor past date warning handling]
  src/features/ModelPlan/Timeline/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/Timeline/_components/AdditionalModelDates/index.test.tsx
  src/features/ModelPlan/Timeline/_components/AdditionalModelDates/index.tsx
  src/features/ModelPlan/Timeline/index.tsx
Due: eslint, tsc-check

Apply spelling suggestions from code review
  pkg/graph/schema/types/ctat_request.graphql
Due: graphql-schema

feat: add unit tests for compelted and admin assigned logic
  pkg/graph/resolvers/ctat_request_test.go
Due: none

feat: correct admin assigned date logic
  pkg/graph/resolvers/ctat_request.go
Due: none

Path conditions:
  dockerfilelint: any of: Dockerfile.*
  eslint: any of: \.(js|jsx|ts|tsx)$, but not: (\.(d\.ts)$)|(\.storybook)|(serviceWorker\.ts)|(src/gql/gen/.*)
  tsc-check: any of: \.(js|jsx|ts|tsx)$
  graphql-schema: any of: pkg/graph/schema/.*\.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts|src/queriesCodegen/.*\.ts
