Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, tsc-check, graphql-schema, check-code-generation

dockerfilelint:
  name: Lint Dockerfile
  entry: dockerfilelint
  language: node
  additional_dependencies:
  - dockerfilelint

eslint:
  name: Run eslint
  entry: scripts/pre-commit-eslint
  language: script

tsc-check:
  name: Run typescript check
  entry: scripts/pre-commit-tsc
  language: script
  pass_filenames: false

graphql-schema:
  name: Lint GraphQL schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script
  pass_filenames: false

check-code-generation:
  name: Run GraphQL code generation
  entry: scripts/pre-commit-check-code-generation
  language: script
  pass_filenames: false

Fix section lock linking bug
  src/utils/lockableSectionLinking.test.ts
  src/utils/lockableSectionLinking.ts
Due: eslint, tsc-check

removed id tracking table entirely, will hardcode prefix
  migrations/V268__Add_CTAT_tables.sql
  pkg/models/ctat_request.go
  pkg/models/table_names.go
  pkg/storage/truncate.go
Due: none

SectionLock component styling
  src/features/ModelPlan/AdditionalQuestionnaires/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/AdditionalQuestionnaires/index.tsx
  src/features/ModelPlan/TaskList/Beneficiaries/PeopleImpact/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/TaskList/_components/TaskListButton/index.tsx
  src/features/ModelPlan/TaskList/index.tsx
Due: eslint, tsc-check

better naming
  pkg/models/ctat_enums.go
Due: none

update snap
  src/features/HelpAndKnowledge/ContractAssistanceSection/__snapshots__/index.test.tsx.snap
Due: none

remove audit table work, out of scope
  migrations/V268__Add_CTAT_tables.sql
  pkg/translatedaudit/translated_audit.go
Due: none

(no verify to avoid sql consecutive check script bug) split out migrations by table
  migrations/V268__Add_CTAT_Request_table.sql
  migrations/V269__Add_CTAT_Request_Document_table.sql
  migrations/V270__Add_CTAT_Request_Model_Plan_Link_table.sql
Due: none

rounded out resolver logic and hooked in emails/notis
  mappings/translation/waiver.json
  mappings/translation/waiver_assessment_survey.json
  mappings/translation_utilities.go
  mappings/waiver_assessment_survey_translation.go
  mappings/waiver_translation.go
  migrations/V269__Create_Waiver_Tables.sql
  migrations/V270__Backfill_Waiver_Assessment_Survey_And_Waivers.sql
  migrations/V271__Add_Waiver_Assessment_Survey_Notifications.sql
  pkg/graph/resolvers/activity.resolvers.go
  pkg/graph/resolvers/model_plan.go
  pkg/graph/resolvers/suggested_waiver_helper.go
  pkg/graph/resolvers/user_notification_preferences.resolvers.go
  pkg/graph/resolvers/waiver_assessment_survey.go
  pkg/graph/resolvers/waiver_assessment_survey.resolvers.go
  pkg/graph/resolvers/waiver_assessment_survey_helper.go
  pkg/graph/resolvers/waiver_assessment_survey_test.go
  pkg/graph/schema/types/activity.graphql
  pkg/graph/schema/types/user_notification_preferences.graphql
  pkg/models/activity.go
  pkg/models/common_waiver.go
  pkg/models/user_notification_preferences.go
  pkg/models/waiver_assessment_survey_marked_complete_activity_meta.go
  pkg/notifications/waiver_assessment_survey_marked_complete.go
  pkg/sqlqueries/SQL/common_waiver/get_all.sql
  pkg/sqlqueries/SQL/common_waiver/get_by_id_LOADER.sql
  pkg/sqlqueries/SQL/user_account/get_notification_preferences_waiver_assessment_survey_marked_complete.sql
  pkg/sqlqueries/SQL/user_notification_preferences/get_by_user_id.sql
  pkg/sqlqueries/SQL/user_notification_preferences/get_by_user_id_loader.sql
  pkg/sqlqueries/SQL/user_notification_preferences/update.sql
  pkg/sqlqueries/common_waiver.go
  pkg/sqlqueries/user_account.go
  pkg/storage/common_waiverStore.go
  pkg/storage/user_accountStore.go
  query_examples/MINT/Notfications/GetNotificationPreferences.bru
  query_examples/MINT/Notfications/GetNotifications.bru
  query_examples/MINT/Notfications/NotificationPreferencesUpdate.bru
  src/features/Notifications/Home/_components/_utils.tsx
  src/gql/generated/graphql.ts
Due: eslint, tsc-check, graphql-schema

revert translation change
  mappings/translation/waiver.json
  mappings/translation/waiver_assessment_survey.json
  mappings/translation_utilities.go
  mappings/waiver_assessment_survey_translation.go
  mappings/waiver_translation.go
Due: none

relocated files
  pkg/graph/resolvers/suggested_waiver_helper.go
  pkg/graph/resolvers/waiver_assessment_survey.go
  pkg/graph/resolvers/waiver_assessment_survey_helper.go
Due: none

add V272 audit registration and waiver_assessment_survey backfill migration
  migrations/V272__Backfill_Waiver_Assessment_Survey_And_Waivers.sql
Due: none

update Bruno queries to use WhyNot fields instead of Note fields
  query_examples/MINT/Task List Sections/Get Waiver Assessment Survey.bru
  query_examples/MINT/Task List Sections/Update Waiver Assessment Survey.bru
Due: none

included secondary fk
  migrations/V268__Add_CTAT_Request_table.sql
  migrations/V269__Add_CTAT_Request_Document_table.sql
  migrations/V270__Add_CTAT_Request_Model_Plan_Link_table.sql
Due: none

cleanup
  src/utils/lockableSectionLinking.ts
Due: eslint, tsc-check

Snapshot
  src/features/ModelPlan/TaskList/Beneficiaries/PeopleImpact/__snapshots__/index.test.tsx.snap
Due: none

refetch query
  src/features/ModelPlan/ModelToOperations/_components/EditSolutionForm/index.tsx
Due: eslint, tsc-check

Add waiver survey preferences to query
  src/features/Home/components/NewlyCreatedModels/index.test.tsx
  src/features/Notifications/Settings/index.test.tsx
  src/gql/generated/graphql.ts
  src/gql/operations/Notifications/GetNotificationSettings.ts
Due: eslint, tsc-check

Add waiver settings to UI
  src/features/Notifications/Settings/index.tsx
  src/i18n/en-US/notifications.ts
Due: eslint, tsc-check

[MINT-3713] Waiver survey section locking (frontend) (#2298)
  src/components/SectionLock/index.tsx
  src/features/ModelPlan/AdditionalQuestionnaires/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/AdditionalQuestionnaires/index.tsx
  src/features/ModelPlan/TaskList/PrepareForClearance/ClearanceReview/index.tsx
  src/features/ModelPlan/TaskList/_components/TaskListButton/index.tsx
  src/features/ModelPlan/TaskList/index.tsx
  src/hooks/useSectionLock.tsx
  src/i18n/en-US/modelPlan/taskList.ts
  src/utils/lockableSectionLinking.test.ts
  src/utils/lockableSectionLinking.ts
  src/wrappers/PageLockWrapper/index.test.tsx
  src/wrappers/PageLockWrapper/index.tsx
Due: eslint, tsc-check

[Add page 3 basic component structure]
  src/features/ModelPlan/AdditionalQuestionnaires/WaiverAssessmentSurvey/MedicarePaymentWaivers/index.tsx
  src/features/ModelPlan/AdditionalQuestionnaires/WaiverAssessmentSurvey/_components/ModelPlanQuestionsForm/index.tsx
  src/features/ModelPlan/AdditionalQuestionnaires/WaiverAssessmentSurvey/index.tsx
  src/i18n/en-US/modelPlan/waiverAssessmentSurvey.ts
Due: eslint, tsc-check

[Update survey translation obj name and where applies]
  src/components/AskAQuestion/index.tsx
  src/components/Breadcrumbs/index.tsx
  src/features/ModelPlan/AdditionalQuestionnaires/WaiverAssessmentSurvey/AboutWaiverAssessmentSurvey/index.tsx
  src/features/ModelPlan/AdditionalQuestionnaires/WaiverAssessmentSurvey/MedicarePaymentWaivers/index.tsx
  src/features/ModelPlan/AdditionalQuestionnaires/WaiverAssessmentSurvey/ModelPlanQuestions/index.tsx
  src/features/ModelPlan/AdditionalQuestionnaires/WaiverAssessmentSurvey/_components/ExpandableSection/index.tsx
  src/features/ModelPlan/AdditionalQuestionnaires/WaiverAssessmentSurvey/index.tsx
  src/i18n/en-US/index.ts
  src/i18n/en-US/modelPlan/waiverAssessmentSurvey.ts
Due: eslint, tsc-check

[Create reusable component for question body]
  src/features/ModelPlan/AdditionalQuestionnaires/WaiverAssessmentSurvey/MedicarePaymentWaivers/index.tsx
  src/features/ModelPlan/AdditionalQuestionnaires/WaiverAssessmentSurvey/_components/WaiverSurveyQuestion/index.tsx
  src/types/translation.ts
Due: eslint, tsc-check

[implement ui for selected survey section]
  src/features/ModelPlan/AdditionalQuestionnaires/WaiverAssessmentSurvey/MedicarePaymentWaivers/index.tsx
  src/features/ModelPlan/AdditionalQuestionnaires/WaiverAssessmentSurvey/_components/SelectedWaiversSection/index.tsx
  src/i18n/en-US/modelPlan/waiverAssessmentSurvey.ts
Due: eslint, tsc-check

[Add test for survey question section]
  src/features/ModelPlan/AdditionalQuestionnaires/WaiverAssessmentSurvey/_components/WaiverSurveyQuestion/index.test.tsx
Due: eslint, tsc-check

[Add query and mutation]
  src/features/ModelPlan/AdditionalQuestionnaires/WaiverAssessmentSurvey/MedicarePaymentWaivers/index.tsx
  src/features/ModelPlan/AdditionalQuestionnaires/WaiverAssessmentSurvey/_components/WaiverSurveyQuestion/index.tsx
  src/gql/generated/graphql.ts
  src/gql/operations/AdditionalQuestionnaires/WaiverAssessmentSurvey/GetMedicarePaymentWaivers.ts
  src/gql/operations/AdditionalQuestionnaires/WaiverAssessmentSurvey/UpdateWaiverAssessmentSurvey.ts
Due: eslint, tsc-check

[Add unit tests]
  src/features/ModelPlan/AdditionalQuestionnaires/WaiverAssessmentSurvey/MedicarePaymentWaivers/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/AdditionalQuestionnaires/WaiverAssessmentSurvey/MedicarePaymentWaivers/index.test.tsx
  src/features/ModelPlan/AdditionalQuestionnaires/WaiverAssessmentSurvey/_components/SelectedWaiversSection/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/AdditionalQuestionnaires/WaiverAssessmentSurvey/_components/SelectedWaiversSection/index.test.tsx
Due: eslint, tsc-check

[Update test]
  src/features/ModelPlan/AdditionalQuestionnaires/WaiverAssessmentSurvey/MedicarePaymentWaivers/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/AdditionalQuestionnaires/WaiverAssessmentSurvey/MedicarePaymentWaivers/index.test.tsx
  src/features/ModelPlan/AdditionalQuestionnaires/WaiverAssessmentSurvey/MedicarePaymentWaivers/index.tsx
  src/features/ModelPlan/AdditionalQuestionnaires/WaiverAssessmentSurvey/_components/WaiverSurveyQuestion/index.tsx
  src/tests/mock/readonly.ts
Due: eslint, tsc-check

sql fix for template errors
  pkg/sqlqueries/SQL/mto/milestone/create_allow_conflicts.sql
Due: none

[NOREF] Fix edit solution from milestone bug (#2301)
  src/features/ModelPlan/ModelToOperations/_components/EditSolutionForm/index.tsx
Due: eslint, tsc-check

Path conditions:
  dockerfilelint: any of: Dockerfile.*
  eslint: any of: \.(js|jsx|ts|tsx)$, but not: (\.(d\.ts)$)|(\.storybook)|(serviceWorker\.ts)|(src/gql/gen/.*)
  tsc-check: any of: \.(js|jsx|ts|tsx)$
  graphql-schema: any of: pkg/graph/schema/.*\.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts|src/queriesCodegen/.*\.ts
