Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, tsc-check, graphql-schema, check-code-generation

dockerfilelint:
  name: Lint Dockerfile
  entry: dockerfilelint
  language: node
  additional_dependencies:
  - dockerfilelint

eslint:
  name: Run eslint
  entry: scripts/pre-commit-eslint
  language: script

tsc-check:
  name: Run typescript check
  entry: scripts/pre-commit-tsc
  language: script
  pass_filenames: false

graphql-schema:
  name: Lint GraphQL schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script

check-code-generation:
  name: Run GraphQL code generation
  entry: scripts/pre-commit-check-code-generation
  language: script
  pass_filenames: false

wip: first draft GQL updates
  pkg/graph/schema.graphql
Due: graphql-schema, check-code-generation

Fixed bullet not rendering, updated snaps
  src/components/ShareExport/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/Beneficiaries/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/GeneralCharacteristics/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/ModelBasics/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/OpsEvalAndLearning/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/ParticipantsAndProviders/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/Payments/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/_components/ReadOnlySection/index.tsx
  src/views/ModelPlan/TaskList/PrepareForClearance/ClearanceReview/__snapshots__/index.test.tsx.snap
Due: eslint, tsc-check

[NOREF] - Fixed bullet not rendering, updated snaps (#870)
  src/components/ShareExport/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/Beneficiaries/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/GeneralCharacteristics/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/ModelBasics/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/OpsEvalAndLearning/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/ParticipantsAndProviders/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/Payments/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/_components/ReadOnlySection/index.tsx
  src/views/ModelPlan/TaskList/PrepareForClearance/ClearanceReview/__snapshots__/index.test.tsx.snap
Due: eslint, tsc-check

Init work for P&P frequency updates
  migrations/V124__Update_Provider_Addition_Frequency.sql
  pkg/graph/generated/generated.go
  pkg/graph/gqlresolvers/schema.resolvers.go
  pkg/graph/schema.graphql
  pkg/models/plan_participants_and_providers.go
  pkg/storage/SQL/plan_participants_and_providers/create.sql
  pkg/storage/SQL/plan_participants_and_providers/get_by_id.sql
  pkg/storage/SQL/plan_participants_and_providers/get_by_model_plan_id_LOADER.sql
  pkg/storage/SQL/plan_participants_and_providers/update.sql
  src/data/mock/readonly.ts
  src/gql/apolloGQL/ParticipantsAndProviders/GetAllParticipantsAndProviders.ts
  src/gql/apolloGQL/ParticipantsAndProviders/GetProviderOptions.ts
  src/gql/gen/graphql.ts
  src/gql/gen/types/GetAllParticipantsAndProviders.ts
  src/gql/gen/types/GetProviderOptions.ts
  src/i18n/en-US/modelPlan/miscellaneous.ts
  src/i18n/en-US/modelPlan/participantsAndProviders.ts
  src/i18n/en-US/modelPlan/payments.ts
  src/queries/GetAllModelData.ts
  src/queries/GetAllSingleModelPlan.ts
  src/queries/types/GetAllModelData.ts
  src/queries/types/GetAllSingleModelData.ts
  src/types/graphql-global-types.ts
  src/types/translation.ts
  src/utils/export/CsvData.ts
  src/views/ModelPlan/ReadOnly/ParticipantsAndProviders/index.tsx
  src/views/ModelPlan/ReadOnly/_components/FilterView/BodyContent/_filterGroupMapping.ts
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/ProviderOptions/index.test.tsx
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/ProviderOptions/index.tsx
Due: eslint, tsc-check, graphql-schema, check-code-generation

Updatd cypress test
  cypress/e2e/participantsAndProviders.spec.js
Due: eslint, tsc-check

feat: first pass, migration, dto, gql, and sql updates
  migrations/V124__Update_Risk_Questions.sql
  pkg/graph/generated/generated.go
  pkg/graph/gqlresolvers/schema.resolvers.go
  pkg/models/plan_participants_and_providers.go
  pkg/storage/SQL/plan_participants_and_providers/create.sql
  pkg/storage/SQL/plan_participants_and_providers/get_by_id.sql
  pkg/storage/SQL/plan_participants_and_providers/get_by_model_plan_id_LOADER.sql
  pkg/storage/SQL/plan_participants_and_providers/update.sql
  src/gql/apolloGQL/ParticipantsAndProviders/GetAllParticipantsAndProviders.ts
  src/gql/apolloGQL/ParticipantsAndProviders/GetCommunication.ts
  src/gql/gen/graphql.ts
  src/gql/gen/types/GetAllParticipantsAndProviders.ts
  src/gql/gen/types/GetCommunication.ts
  src/queries/GetAllModelData.ts
  src/queries/GetAllSingleModelPlan.ts
  src/queries/types/GetAllModelData.ts
  src/queries/types/GetAllSingleModelData.ts
  src/types/graphql-global-types.ts
Due: eslint, tsc-check, check-code-generation

chore: updated tests
  pkg/graph/resolvers/plan_participants_and_providers_test.go
Due: none

Rename migration
  migrations/V124__Update_Frequency_Type.sql
Due: none

Revert "Merge branch 'EASI-3713/frequency-updates-FE' into EASI-3713/frequency-updates-FE-Part-2"
  migrations/V123__Update_Frequency_Type.sql
Due: none

Revert "Revert "Merge branch 'EASI-3713/frequency-updates-FE' into EASI-3713/frequency-updates-FE-Part-2""
  migrations/V124__Update_Frequency_Type.sql
Due: none

Rename migration
  migrations/V125__Update_Provider_Addition_Frequency.sql
Due: none

feat: impl resolver for multiselect enum type
  pkg/graph/gqlresolvers/schema.resolvers.go
Due: none

chore: updated postman collection
  MINT.postman_collection.json
Due: none

if other is true, return the listOtherItem
  src/views/ModelPlan/ReadOnly/_components/ReadOnlySection/index.tsx
Due: eslint, tsc-check

chore: fix sorting error
  src/views/ModelPlan/ReadOnly/ModelBasics/index.tsx
Due: eslint, tsc-check

update snaps
  src/components/ShareExport/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/GeneralCharacteristics/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/OpsEvalAndLearning/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/ParticipantsAndProviders/__snapshots__/index.test.tsx.snap
Due: none

[EASI-3676] Update risk questions (backend) (#873)
  MINT.postman_collection.json
  migrations/V124__Update_Risk_Questions.sql
  pkg/graph/generated/generated.go
  pkg/graph/gqlresolvers/schema.resolvers.go
  pkg/graph/resolvers/plan_participants_and_providers_test.go
  pkg/models/plan_participants_and_providers.go
  pkg/storage/SQL/plan_participants_and_providers/create.sql
  pkg/storage/SQL/plan_participants_and_providers/get_by_id.sql
  pkg/storage/SQL/plan_participants_and_providers/get_by_model_plan_id_LOADER.sql
  pkg/storage/SQL/plan_participants_and_providers/update.sql
  src/gql/apolloGQL/ParticipantsAndProviders/GetAllParticipantsAndProviders.ts
  src/gql/apolloGQL/ParticipantsAndProviders/GetCommunication.ts
  src/gql/gen/graphql.ts
  src/gql/gen/types/GetAllParticipantsAndProviders.ts
  src/gql/gen/types/GetCommunication.ts
  src/queries/GetAllModelData.ts
  src/queries/GetAllSingleModelPlan.ts
  src/queries/types/GetAllModelData.ts
  src/queries/types/GetAllSingleModelData.ts
  src/types/graphql-global-types.ts
Due: eslint, tsc-check, check-code-generation

add new util to only sort Other to last
  src/utils/modelPlan.ts
  src/views/ModelPlan/ReadOnly/ParticipantsAndProviders/index.tsx
Due: eslint, tsc-check

update snaps
  src/components/ShareExport/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/ParticipantsAndProviders/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/ProviderOptions/__snapshots__/index.test.tsx.snap
Due: none

renamed Update_Frequency_Type.sql migration version from 124 to 126
  migrations/V126__Update_Frequency_Type.sql
Due: none

update chosen to added
  src/i18n/en-US/modelPlan/beneficiaries.ts
Due: eslint, tsc-check

update snaps
  src/components/ShareExport/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/Beneficiaries/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Beneficiaries/Frequency/__snapshots__/index.test.tsx.snap
Due: none

[EASI-3713] - Part 1 - FrequencyForm Component and anticipatedPaymentFrequency Implementation (#869)
  cypress/e2e/payments.spec.js
  src/components/FrequencyForm/index.tsx
  src/components/ShareExport/__snapshots__/index.test.tsx.snap
  src/data/mock/readonly.ts
  src/gql/apolloGQL/Payments/GetAllPayments.ts
  src/gql/apolloGQL/Payments/GetComplexity.ts
  src/gql/gen/graphql.ts
  src/gql/gen/types/GetAllPayments.ts
  src/gql/gen/types/GetComplexity.ts
  src/i18n/en-US/modelPlan/payments.ts
  src/queries/GetAllModelData.ts
  src/queries/GetAllSingleModelPlan.ts
  src/queries/types/GetAllModelData.ts
  src/queries/types/GetAllSingleModelData.ts
  src/types/translation.ts
  src/utils/export/CsvData.ts
  src/views/ModelPlan/ReadOnly/Payments/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/Payments/index.tsx
  src/views/ModelPlan/ReadOnly/_components/ReadOnlySection/index.tsx
  src/views/ModelPlan/TaskList/Payment/BeneficiaryCostSharing/index.test.tsx
  src/views/ModelPlan/TaskList/Payment/ClaimsBasedPayment/index.test.tsx
  src/views/ModelPlan/TaskList/Payment/Complexity/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Payment/Complexity/index.test.tsx
  src/views/ModelPlan/TaskList/Payment/Complexity/index.tsx
  src/views/ModelPlan/TaskList/Payment/FundingSource/index.test.tsx
  src/views/ModelPlan/TaskList/Payment/Recover/index.test.tsx
Due: eslint, tsc-check, check-code-generation

Added util and test to correctly order readonly items
  src/views/ModelPlan/ReadOnly/_components/ReadOnlySection/index.test.tsx
  src/views/ModelPlan/ReadOnly/_components/ReadOnlySection/index.tsx
Due: eslint, tsc-check

Fixed migration merge issue with order
  migrations/V125__Update_Provider_Addition_Frequency.sql
  migrations/V126__Update_Frequency_Type.sql
Due: none

[NOREF] - Added util and test to correctly order readonly items (#877)
  src/views/ModelPlan/ReadOnly/_components/ReadOnlySection/index.test.tsx
  src/views/ModelPlan/ReadOnly/_components/ReadOnlySection/index.tsx
Due: eslint, tsc-check

Init beneficiary frequency work
  migrations/V126__Update_Anticipated_Payment_Frequency.sql
  migrations/V127__Update_Beneficiary_Selection_Frequency.sql
  src/i18n/en-US/modelPlan/beneficiaries.ts
  src/i18n/en-US/modelPlan/miscellaneous.ts
  src/i18n/en-US/modelPlan/participantsAndProviders.ts
  src/types/translation.ts
Due: eslint, tsc-check

Renamed migration
  migrations/V125__Update_Frequency_Type.sql
Due: none

[EASI-3713] - Re-Approve - Frequency updates fe part 2 (#881)
  cypress/e2e/participantsAndProviders.spec.js
  migrations/V125__Update_Provider_Addition_Frequency.sql
  migrations/V126__Update_Frequency_Type.sql
  pkg/graph/generated/generated.go
  pkg/graph/gqlresolvers/schema.resolvers.go
  pkg/graph/schema.graphql
  pkg/models/plan_participants_and_providers.go
  pkg/storage/SQL/plan_participants_and_providers/create.sql
  pkg/storage/SQL/plan_participants_and_providers/get_by_id.sql
  pkg/storage/SQL/plan_participants_and_providers/get_by_model_plan_id_LOADER.sql
  pkg/storage/SQL/plan_participants_and_providers/update.sql
  src/components/ShareExport/__snapshots__/index.test.tsx.snap
  src/data/mock/readonly.ts
  src/gql/apolloGQL/ParticipantsAndProviders/GetAllParticipantsAndProviders.ts
  src/gql/apolloGQL/ParticipantsAndProviders/GetProviderOptions.ts
  src/gql/gen/graphql.ts
  src/gql/gen/types/GetAllParticipantsAndProviders.ts
  src/gql/gen/types/GetProviderOptions.ts
  src/i18n/en-US/modelPlan/miscellaneous.ts
  src/i18n/en-US/modelPlan/participantsAndProviders.ts
  src/i18n/en-US/modelPlan/payments.ts
  src/queries/GetAllModelData.ts
  src/queries/GetAllSingleModelPlan.ts
  src/queries/types/GetAllModelData.ts
  src/queries/types/GetAllSingleModelData.ts
  src/types/graphql-global-types.ts
  src/types/translation.ts
  src/utils/export/CsvData.ts
  src/views/ModelPlan/ReadOnly/ParticipantsAndProviders/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/ParticipantsAndProviders/index.tsx
  src/views/ModelPlan/ReadOnly/_components/FilterView/BodyContent/_filterGroupMapping.ts
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/ProviderOptions/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/ProviderOptions/index.test.tsx
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/ProviderOptions/index.tsx
Due: eslint, tsc-check, graphql-schema, check-code-generation

Added backend work for new frequency type
  pkg/graph/generated/generated.go
  pkg/graph/gqlresolvers/schema.resolvers.go
  pkg/graph/schema.graphql
  pkg/models/plan_beneficiaries.go
  pkg/storage/SQL/plan_beneficiaries/create.sql
  pkg/storage/SQL/plan_beneficiaries/get_by_id.sql
  pkg/storage/SQL/plan_beneficiaries/get_by_model_plan_id_LOADER.sql
  pkg/storage/SQL/plan_beneficiaries/update.sql
  src/gql/gen/graphql.ts
  src/gql/gen/types/GetAllBeneficiaries.ts
  src/gql/gen/types/GetFrequency.ts
  src/queries/types/GetAllModelData.ts
  src/queries/types/GetAllSingleModelData.ts
  src/types/graphql-global-types.ts
Due: eslint, tsc-check, graphql-schema, check-code-generation

change migration version number
  migrations/V125__Update_Risk_Questions.sql
Due: none

update how data is rendered via formatListItems util function
  src/views/ModelPlan/ReadOnly/ParticipantsAndProviders/index.tsx
Due: eslint, tsc-check

updae snaps
  src/components/ShareExport/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/Beneficiaries/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/GeneralCharacteristics/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/ModelBasics/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/OpsEvalAndLearning/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/ParticipantsAndProviders/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/Payments/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/PrepareForClearance/ClearanceReview/__snapshots__/index.test.tsx.snap
Due: none

Path conditions:
  dockerfilelint: any of: Dockerfile.*
  eslint: any of: \.(js|jsx|ts|tsx)$, but not: (\.(d\.ts)$)|(\.storybook)|(serviceWorker\.ts)
  tsc-check: any of: \.(js|jsx|ts|tsx)$
  graphql-schema: any of: pkg/graph/schema.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts
