Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-intake-swagger

eslint:
  name: eslint
  entry: scripts/pre-commit-eslint
  language: script

graphql-schema:
  name: graphql-schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script

check-code-generation:
  name: check-code-generation
  entry: scripts/pre-commit-check-code-generation
  language: script

check-intake-schema-generation:
  name: check-intake-schema-generation
  entry: scripts/gen_intake_schema
  language: script

preprocess-intake-swagger:
  name: preprocess-intake-swagger
  entry: scripts/generate_cedar_intake_client
  language: script

streamlined the code
  src/views/ModelPlan/TaskList/Payment/FundingSource/index.tsx
Due: eslint

Created component for rendering it tools specific checkbox questions
  src/i18n/en-US/draftModelPlan/itTools.ts
  src/utils/modelPlan.ts
  src/views/ModelPlan/TaskList/ITTools/PageFive/index.tsx
  src/views/ModelPlan/TaskList/ITTools/PageFour/index.tsx
  src/views/ModelPlan/TaskList/ITTools/PageOne/index.tsx
  src/views/ModelPlan/TaskList/ITTools/PageSix/index.tsx
  src/views/ModelPlan/TaskList/ITTools/PageThree/index.tsx
  src/views/ModelPlan/TaskList/ITTools/PageTwo/index.tsx
  src/views/ModelPlan/TaskList/ITTools/index.tsx
Due: eslint

updated db:seed task command to take parameters. Add separate test seed file
  scripts/data/pmButler.sql
  scripts/dev
Due: none

Implemented ITToolsFormComponent and added comments
  src/views/ModelPlan/TaskList/ITTools/PageEight/index.tsx
  src/views/ModelPlan/TaskList/ITTools/PageFive/index.tsx
  src/views/ModelPlan/TaskList/ITTools/PageFour/index.tsx
  src/views/ModelPlan/TaskList/ITTools/PageNine/index.tsx
  src/views/ModelPlan/TaskList/ITTools/PageOne/index.tsx
  src/views/ModelPlan/TaskList/ITTools/PageSeven/index.tsx
  src/views/ModelPlan/TaskList/ITTools/PageSix/index.tsx
  src/views/ModelPlan/TaskList/ITTools/PageThree/index.tsx
  src/views/ModelPlan/TaskList/ITTools/PageTwo/index.tsx
  src/views/ModelPlan/TaskList/ITTools/index.tsx
Due: eslint

Added custom hook for scrolling to form elements
  src/components/ITToolsSummary/index.tsx
  src/components/LinkWrapper/index.tsx
  src/hooks/useScrollElement.ts
  src/views/ModelPlan/Table/index.tsx
  src/views/ModelPlan/TaskList/GeneralCharacteristics/KeyCharacteristics/index.tsx
  src/views/ModelPlan/TaskList/ITTools/PageEight/index.tsx
  src/views/ModelPlan/TaskList/ITTools/PageFive/index.tsx
  src/views/ModelPlan/TaskList/ITTools/PageFour/index.tsx
  src/views/ModelPlan/TaskList/ITTools/PageNine/index.tsx
  src/views/ModelPlan/TaskList/ITTools/PageOne/index.tsx
  src/views/ModelPlan/TaskList/ITTools/PageSeven/index.tsx
  src/views/ModelPlan/TaskList/ITTools/PageSix/index.tsx
  src/views/ModelPlan/TaskList/ITTools/PageThree/index.tsx
  src/views/ModelPlan/TaskList/ITTools/PageTwo/index.tsx
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/Evaluation/index.tsx
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/Learning/index.tsx
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/Performance/index.tsx
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/index.tsx
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/Communication/index.tsx
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/ParticipantOptions/index.tsx
Due: eslint

Fixed some incorrect labels
  src/views/ModelPlan/TaskList/ITTools/PageEight/index.tsx
  src/views/ModelPlan/TaskList/ITTools/PageSeven/index.tsx
Due: eslint

Fixed some incorrect labels
  src/components/ITToolsSummary/index.tsx
  src/components/shared/CheckboxField/index.tsx
  src/i18n/en-US/draftModelPlan/itTools.ts
  src/views/ModelPlan/TaskList/ITTools/PageEight/index.tsx
  src/views/ModelPlan/TaskList/ITTools/PageFive/index.tsx
  src/views/ModelPlan/TaskList/ITTools/PageFour/index.tsx
  src/views/ModelPlan/TaskList/ITTools/PageNine/index.tsx
  src/views/ModelPlan/TaskList/ITTools/PageOne/index.tsx
  src/views/ModelPlan/TaskList/ITTools/PageSeven/index.tsx
  src/views/ModelPlan/TaskList/ITTools/PageSix/index.tsx
  src/views/ModelPlan/TaskList/ITTools/PageThree/index.tsx
  src/views/ModelPlan/TaskList/ITTools/PageTwo/index.tsx
  src/views/ModelPlan/TaskList/ITTools/index.tsx
Due: eslint

added note feedback from Tom around input-driven information regarding compile time safety.
  docs/adr/0003-adr-explicit-enum-types.md
Due: none

Easi 1982/explicit enum types adr (#145)
  .spelling
  docs/adr/0003-adr-explicit-enum-types.md
  docs/adr/index.md
  migrations/V10__Add_Plan_Discussion.sql
  migrations/V3__Add_DataTypes.sql
  migrations/V4__Add_Model_Plan.sql
  migrations/V5__Add_Plan_Collaborator.sql
  migrations/V6__Add_Plan_Basics.sql
  migrations/V8__Add_Plan_Document.sql
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.resolvers.go
  pkg/models/model_plan.go
  pkg/models/plan_basics.go
  pkg/models/plan_collaborator.go
  pkg/models/plan_discussion.go
  pkg/models/shared_enums.go
Due: check-code-generation

Add payClaims to the query
  src/queries/Payments/GetAnticipateDependencies.ts
  src/queries/Payments/types/GetAnticipateDependencies.ts
Due: eslint, check-code-generation

Add payClaims to the query
  src/views/ModelPlan/TaskList/Payment/AnticipateDependencies/index.tsx
Due: eslint

Add PayClaims to different queries
  src/queries/Payments/GetComplexity.ts
  src/queries/Payments/GetNonClaimsBasedPayment.ts
  src/queries/Payments/types/GetComplexity.ts
  src/queries/Payments/types/GetNonClaimsBasedPayment.ts
Due: eslint, check-code-generation

complexity complex navigation
  src/views/ModelPlan/TaskList/Payment/Complexity/index.tsx
Due: eslint

work
  src/views/ModelPlan/TaskList/Payment/NonClaimsBasedPayment/index.tsx
Due: eslint

Added tests for ITToolsSummary
  src/components/ITToolsSummary/__snapshots__/index.test.tsx.snap
  src/components/ITToolsSummary/index.test.tsx
  src/components/ITToolsSummary/index.tsx
Due: eslint

updated pagenumbers
  src/views/ModelPlan/TaskList/Payment/ClaimsBasedPayment/index.tsx
Due: eslint

wip
  src/views/ModelPlan/TaskList/Payment/AnticipateDependencies/index.tsx
  src/views/ModelPlan/TaskList/Payment/NonClaimsBasedPayment/index.tsx
  src/views/ModelPlan/TaskList/Payment/index.tsx
Due: eslint

add file args to dump command to be able to dump to multiple locations
  scripts/dev
Due: none

add payClaims and its types
  src/queries/Payments/GetBeneficiaryCostSharing.ts
  src/queries/Payments/GetRecover.ts
  src/queries/Payments/types/GetBeneficiaryCostSharing.ts
  src/queries/Payments/types/GetRecover.ts
Due: eslint, check-code-generation

update teh page number
  src/views/ModelPlan/TaskList/Payment/BeneficiaryCostSharing/index.tsx
  src/views/ModelPlan/TaskList/Payment/Complexity/index.tsx
  src/views/ModelPlan/TaskList/Payment/Recover/index.tsx
Due: eslint

add payClaims to FundingSource and its query
  src/queries/Payments/GetFunding.ts
  src/queries/Payments/types/GetFunding.ts
  src/views/ModelPlan/TaskList/Payment/FundingSource/index.tsx
  src/views/ModelPlan/TaskList/Payment/index.tsx
Due: eslint, check-code-generation

adjust adjsutedCUrrentPageNumber code
  src/views/ModelPlan/TaskList/Payment/index.tsx
Due: eslint

update the id
  src/views/ModelPlan/TaskList/Payment/FundingSource/index.tsx
Due: eslint

Recover snaps and tests
  src/views/ModelPlan/TaskList/Payment/Recover/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Payment/Recover/index.test.tsx
Due: eslint

Funding Source test and snaps
  src/views/ModelPlan/TaskList/Payment/FundingSource/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Payment/FundingSource/index.test.tsx
Due: eslint

ClaimsBasedPayment test and snaps
  src/views/ModelPlan/TaskList/Payment/ClaimsBasedPayment/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Payment/ClaimsBasedPayment/index.test.tsx
Due: eslint

Complexity test and snaps
  src/views/ModelPlan/TaskList/Payment/Complexity/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Payment/Complexity/index.test.tsx
Due: eslint

Anticipate Dependencies test and snaps
  src/views/ModelPlan/TaskList/Payment/AnticipateDependencies/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Payment/AnticipateDependencies/index.test.tsx
Due: eslint

update data test id
  src/views/ModelPlan/TaskList/Payment/NonClaimsBasedPayment/index.tsx
Due: eslint

Non Claims Based Payment test and snaps
  src/views/ModelPlan/TaskList/Payment/NonClaimsBasedPayment/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Payment/NonClaimsBasedPayment/index.test.tsx
Due: eslint

BeneficiaryCostSharing test and snaps
  src/views/ModelPlan/TaskList/Payment/BeneficiaryCostSharing/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Payment/BeneficiaryCostSharing/index.test.tsx
Due: eslint

update snap
  src/views/ModelPlan/TaskList/Payment/AnticipateDependencies/__snapshots__/index.test.tsx.snap
Due: none

Finished unit testing
  cypress/integration/itTools.spec.js
  src/components/ITToolsSummary/index.test.tsx
  src/components/ITToolsSummary/index.tsx
  src/components/shared/CheckboxField/index.tsx
  src/views/ModelPlan/TaskList/ITTools/PageEight/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITTools/PageEight/index.test.tsx
  src/views/ModelPlan/TaskList/ITTools/PageEight/index.tsx
  src/views/ModelPlan/TaskList/ITTools/PageFive/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITTools/PageFive/index.test.tsx
  src/views/ModelPlan/TaskList/ITTools/PageFive/index.tsx
  src/views/ModelPlan/TaskList/ITTools/PageFour/index.test.tsx
  src/views/ModelPlan/TaskList/ITTools/PageFour/index.tsx
  src/views/ModelPlan/TaskList/ITTools/PageNine/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITTools/PageNine/index.test.tsx
  src/views/ModelPlan/TaskList/ITTools/PageNine/index.tsx
  src/views/ModelPlan/TaskList/ITTools/PageOne/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITTools/PageOne/index.test.tsx
  src/views/ModelPlan/TaskList/ITTools/PageSeven/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITTools/PageSeven/index.test.tsx
  src/views/ModelPlan/TaskList/ITTools/PageSeven/index.tsx
  src/views/ModelPlan/TaskList/ITTools/PageSix/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITTools/PageSix/index.test.tsx
  src/views/ModelPlan/TaskList/ITTools/PageSix/index.tsx
  src/views/ModelPlan/TaskList/ITTools/PageThree/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITTools/PageThree/index.test.tsx
  src/views/ModelPlan/TaskList/ITTools/PageThree/index.tsx
  src/views/ModelPlan/TaskList/ITTools/PageTwo/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITTools/PageTwo/index.test.tsx
  src/views/ModelPlan/TaskList/ITTools/PageTwo/index.tsx
  src/views/ModelPlan/TaskList/ITTools/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITTools/index.test.tsx
  src/views/ModelPlan/TaskList/ITTools/index.tsx
Due: eslint

Fix TaskList Test
  src/views/ModelPlan/TaskList/index.test.tsx
Due: eslint

Fixed broken tests
  cypress/integration/itTools.spec.js
  src/components/ITToolsSummary/__snapshots__/index.test.tsx.snap
  src/hooks/useScrollElement.ts
  src/views/ModelPlan/TaskList/Basics/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Beneficiaries/BeneficiaryIdentification/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Beneficiaries/BeneficiaryIdentification/index.test.tsx
  src/views/ModelPlan/TaskList/Beneficiaries/PeopleImpact/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Beneficiaries/PeopleImpact/index.test.tsx
  src/views/ModelPlan/TaskList/GeneralCharacteristics/Authority/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/GeneralCharacteristics/TargetsAndOptions/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITTools/PageFour/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/Evaluation/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/IDDOCTesting/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/Learning/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/Communication/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/Coordination/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/ParticipantOptions/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/ProviderOptions/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/index.test.tsx
Due: eslint

fix claims based payment test
  src/views/ModelPlan/TaskList/Payment/ClaimsBasedPayment/index.test.tsx
  src/views/ModelPlan/TaskList/Payment/ClaimsBasedPayment/index.tsx
Due: eslint

fix test
  src/views/ModelPlan/TaskList/Payment/FundingSource/index.test.tsx
Due: eslint

remove unused code
  src/views/ModelPlan/TaskList/Payment/FundingSource/index.test.tsx
Due: eslint

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$
  graphql-schema: any of: pkg/graph/schema.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts
  check-intake-schema-generation: any of: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json
  preprocess-intake-swagger: any of: pkg/cedar/intake/cedar_intake.json
