Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-intake-swagger

eslint:
  name: eslint
  entry: scripts/pre-commit-eslint
  language: script

graphql-schema:
  name: graphql-schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script

check-code-generation:
  name: check-code-generation
  entry: scripts/pre-commit-check-code-generation
  language: script

check-intake-schema-generation:
  name: check-intake-schema-generation
  entry: scripts/gen_intake_schema
  language: script

preprocess-intake-swagger:
  name: preprocess-intake-swagger
  entry: scripts/generate_cedar_intake_client
  language: script

gainshare tracking updated to be a bool
  cmd/devdata/main.go
  migrations/V13__Add_Plan_Participants_And_Providers.sql
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/plan_participants_and_providers.go
  pkg/storage/SQL/plan_participants_and_providers_create.sql
  pkg/storage/SQL/plan_participants_and_providers_get_by_id.sql
  pkg/storage/SQL/plan_participants_and_providers_get_by_model_plan_id.sql
  pkg/storage/SQL/plan_participants_and_providers_update.sql
Due: graphql-schema, check-code-generation

test file
  pkg/graph/resolvers/plan_participants_and_providers_test.go
Due: none

formatting and variable name changes
  pkg/storage/plan_beneficiariesStore.go
  pkg/storage/truncate.go
Due: none

[EASI-2048] Generically calculate task statuses (#99)
  cmd/devdata/main.go
  pkg/graph/resolvers/model_plan.go
  pkg/graph/resolvers/plan_basics.go
  pkg/graph/resolvers/plan_basics_test.go
  pkg/graph/resolvers/plan_general_characteristics.go
  pkg/graph/resolvers/plan_general_characteristics_test.go
  pkg/graph/resolvers/plan_milestones.go
  pkg/graph/resolvers/plan_milestones_test.go
  pkg/models/calc_status.go
  pkg/models/calc_status_test.go
  pkg/models/plan_basics.go
  pkg/models/plan_general_characteristics.go
  pkg/models/plan_milestones.go
  pkg/models/plan_milestones_test.go
Due: none

remove unnecessary args passed to SQL
  pkg/storage/plan_beneficiariesStore.go
Due: none

use utility function for query map
  pkg/storage/plan_beneficiariesStore.go
Due: none

New Okta Client IDs and issuers
  .envrc
  .github/workflows/run_tests.yml
  docker-compose.yml
Due: none

Implemented PubSub service and onTaskListSectionLocksChanged subscription
  package.json
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/model/subscribers/collaborator_subscriber.go
  pkg/graph/model/subscribers/task_list_section_lock_changed_subscriber.go
  pkg/graph/resolver.go
  pkg/graph/resolvers/plan_collaborator.go
  pkg/graph/resolvers/plan_collaborator_test.go
  pkg/graph/resolvers/plan_task_list_section_locks.go
  pkg/graph/resolvers/resolver_test.go
  pkg/graph/resolvers/resolver_test_utilities.go
  pkg/graph/resolvers/subscription_collaborators.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/graph/schema.resolvers_test.go
  pkg/models/pubsubevents/event_types.go
  pkg/server/routes.go
  pkg/server/server.go
  pkg/shared/pubsub/event.go
  pkg/shared/pubsub/pubsub.go
  pkg/shared/pubsub/session.go
  pkg/shared/pubsub/session_map.go
  pkg/shared/pubsub/subscriber.go
  pkg/shared/pubsub/subscriber_map.go
  pkg/shared/pubsub/uuid_registry_layer.go
  yarn.lock
Due: graphql-schema, check-code-generation

unit tests
  pkg/graph/resolvers/plan_beneficiaries_test.go
  pkg/graph/resolvers/plan_participants_and_providers_test.go
Due: none

implement question weight and generic status calculation
  cmd/devdata/main.go
  pkg/graph/resolvers/model_plan.go
  pkg/graph/resolvers/plan_beneficiaries.go
  pkg/models/plan_beneficiaries.go
Due: none

Change to new client ID. Fix 'aud' validation as Okta sends it back lowercase
  .envrc
  .github/workflows/run_tests.yml
  docker-compose.yml
  pkg/okta/authentication_middleware.go
Due: none

feat: First working version of task list section locking and unlocking
  pkg/graph/resolvers/plan_task_list_section_locks.go
Due: none

Merge master and fix dev data
  cmd/devdata/main.go
Due: none

Easi 2034/beneficiaries (#96)
  cmd/devdata/main.go
  migrations/V12__Add_Plan_Beneficiaries.sql
  migrations/V3__Add_DataTypes.sql
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/resolvers/model_plan.go
  pkg/graph/resolvers/plan_beneficiaries.go
  pkg/graph/resolvers/plan_beneficiaries_test.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/model_helpers.go
  pkg/models/plan_beneficiaries.go
  pkg/models/shared_enums.go
  pkg/storage/SQL/plan_beneficiaries_create.sql
  pkg/storage/SQL/plan_beneficiaries_get_by_id.sql
  pkg/storage/SQL/plan_beneficiaries_get_by_model_plan_id.sql
  pkg/storage/SQL/plan_beneficiaries_update.sql
  pkg/storage/plan_beneficiariesStore.go
  pkg/storage/truncate.go
  scripts/dev
Due: graphql-schema, check-code-generation

add generic status calculation
  cmd/devdata/main.go
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/model_plan.go
  pkg/graph/resolvers/plan_participants_and_providers.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/plan_participants_and_providers.go
Due: graphql-schema, check-code-generation

feat: added an endpoint to unlock all task list sections
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/plan_task_list_section_locks.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
Due: graphql-schema, check-code-generation

[NOREF] Okta client setup (#101)
  .envrc
  .github/workflows/run_tests.yml
  docker-compose.yml
  pkg/okta/authentication_middleware.go
Due: none

chore: added unit tests for pubsub and mock generation for PubSub / Resolver
  go.mod
  go.sum
  pkg/graph/resolver.go
  pkg/graph/resolvers/plan_collaborator.go
  pkg/graph/resolvers/plan_collaborator_test.go
  pkg/graph/resolvers/plan_task_list_section_locks.go
  pkg/graph/resolvers/plan_task_list_section_locks_test.go
  pkg/graph/resolvers/resolver_test.go
  pkg/graph/resolvers/resolver_test_utilities.go
  pkg/graph/resolvers/subscription_collaborators.go
  pkg/graph/schema.resolvers.go
  pkg/graph/schema.resolvers_test.go
  pkg/server/server.go
  pkg/shared/pubsub/mockpubsub/mock_event_types.go
  pkg/shared/pubsub/pubsub.go
  pkg/shared/pubsub/servicepubsub.go
  pkg/shared/pubsub/testpubsub/pubsub_implementation_test.go
Due: check-code-generation

Fix all cypress tests. Modify Dev data to populate only what's needed for cypress tests
  cmd/devdata/main.go
  cypress/integration/collaborator.spec.js
  cypress/integration/discussions.spec.js
  cypress/integration/documents.spec.js
  cypress/integration/modelPlan.spec.js
  cypress/support/commands.js
  cypress/support/global-hooks.js
  cypress/support/index.js
  cypress/support/model-plan-by-name.js
Due: eslint

fix: corrected some bad mock configurations
  pkg/graph/model/subscribers/collaborator_subscriber.go
Due: none

fix: corrected interface usage to pass around interface rather than implemented type on resolvers and server
  pkg/graph/resolver.go
  pkg/server/server.go
Due: none

fix: cleaning up unnecessary changes
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/plan_collaborator.go
  pkg/shared/pubsub/uuid_registry_layer.go
Due: none

Init general characteristics work
  src/i18n/en-US/index.ts
  src/queries/GetModelPlan.ts
  src/queries/GetModelPlanCharacteristics.ts
  src/queries/UpdateModelPlanCharacteristics.ts
  src/queries/types/GetModelPlan.ts
  src/queries/types/GetModelPlanCharacteristics.ts
  src/queries/types/UpdateModelPlanCharacteristics.ts
  src/types/graphql-global-types.ts
  src/views/ModelPlan/TaskList/Characteristics/Authority/index.tsx
  src/views/ModelPlan/TaskList/Characteristics/Involvements/index.tsx
  src/views/ModelPlan/TaskList/Characteristics/KeyCharacteristics/index.tsx
  src/views/ModelPlan/TaskList/Characteristics/TargetsAndOptions/index.tsx
  src/views/ModelPlan/TaskList/Characteristics/index.tsx
  src/views/ModelPlan/TaskList/index.tsx
Due: eslint, check-code-generation

Rendered collaborators dependant on modelplan query
  src/views/ModelPlan/TaskList/index.tsx
Due: eslint

Add more dev data
  cmd/devdata/main.go
  cypress/integration/collaborator.spec.js
  cypress/integration/discussions.spec.js
  cypress/integration/documents.spec.js
  cypress/integration/modelPlan.spec.js
Due: eslint

Easi 1941/participants and providers (#102)
  cmd/devdata/main.go
  migrations/V12__Add_Plan_Beneficiaries.sql
  migrations/V13__Add_Plan_Participants_And_Providers.sql
  migrations/V3__Add_DataTypes.sql
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/resolvers/model_plan.go
  pkg/graph/resolvers/plan_beneficiaries_test.go
  pkg/graph/resolvers/plan_participants_and_providers.go
  pkg/graph/resolvers/plan_participants_and_providers_test.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/plan_beneficiaries.go
  pkg/models/plan_participants_and_providers.go
  pkg/models/shared_enums.go
  pkg/storage/SQL/plan_participants_and_providers_create.sql
  pkg/storage/SQL/plan_participants_and_providers_get_by_id.sql
  pkg/storage/SQL/plan_participants_and_providers_get_by_model_plan_id.sql
  pkg/storage/SQL/plan_participants_and_providers_update.sql
  pkg/storage/plan_participants_and_providersStore.go
  pkg/storage/truncate.go
  scripts/dev
Due: graphql-schema, check-code-generation

Clear up docs
  docs/dev_script_usage.md
Due: none

First page of characteristics work
  src/components/shared/MultiSelect/index.tsx
  src/views/ModelPlan/TaskList/Characteristics/index.tsx
  src/views/ModelPlan/TaskList/_components/TaskListButton/index.tsx
Due: eslint

hide stdout from db:seed
  scripts/dev
Due: none

Finished page 1
  src/i18n/en-US/draftModelPlan/draftModelPlan.ts
  src/views/ModelPlan/TaskList/Characteristics/index.tsx
Due: eslint

added model plan with additional task section fields completed
  scripts/data/local-db.sql
Due: none

Seed Documents
  scripts/data/local-db.sql
  scripts/data/sample.pdf
  scripts/dev
Due: none

[NOREF] Dev Data refactor + Cypress test updates (#104)
  .pre-commit-config.yaml
  cmd/devdata/main.go
  cypress/integration/collaborator.spec.js
  cypress/integration/discussions.spec.js
  cypress/integration/documents.spec.js
  cypress/integration/modelPlan.spec.js
  cypress/support/commands.js
  cypress/support/global-hooks.js
  cypress/support/index.js
  cypress/support/model-plan-by-name.js
  docs/dev_script_usage.md
  docs/local_testing.md
  scripts/data/local-db.sql
  scripts/data/sample.pdf
  scripts/dev
Due: eslint

chore: renamed Event to EventType for clarity
  pkg/models/pubsubevents/event_types.go
  pkg/shared/pubsub/event.go
  pkg/shared/pubsub/event_type.go
  pkg/shared/pubsub/mockpubsub/mock_event_types.go
  pkg/shared/pubsub/mockpubsub/pubsub.go
  pkg/shared/pubsub/pubsub.go
  pkg/shared/pubsub/servicepubsub.go
  pkg/shared/pubsub/session.go
  pkg/shared/pubsub/subscriber.go
  pkg/shared/pubsub/testpubsub/pubsub_implementation_test.go
Due: none

create plans_ops_eval_and_learning migration
  migrations/V14__Add_Plan_Ops_Eval_and_Learning.sql
Due: none

chore: fixed tests and standardized methods
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/resolvers/mockplantasklistsectionlocks/resolver.go
  pkg/graph/resolvers/plan_beneficiaries_test.go
  pkg/graph/resolvers/plan_document_test.go
  pkg/graph/resolvers/plan_task_list_section_locks.go
  pkg/graph/resolvers/plan_task_list_section_locks_test.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
Due: graphql-schema, check-code-generation

first pass ops,eval,learning go and GQL types
  migrations/V14__Add_Plan_Ops_Eval_and_Learning.sql
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/plan_ops_eval_and_learning.go
Due: graphql-schema, check-code-generation

Second page work - key characteristics
  src/components/shared/MultiSelect/index.scss
  src/components/shared/MultiSelect/index.tsx
  src/i18n/en-US/draftModelPlan/basics.ts
  src/i18n/en-US/draftModelPlan/draftModelPlan.ts
  src/i18n/en-US/draftModelPlan/generalCharacteristics.ts
  src/queries/GetModelPlanCharacteristics.ts
  src/queries/types/GetModelPlanCharacteristics.ts
  src/utils/modelPlan.ts
  src/views/ModelPlan/TaskList/Basics/Milestones/index.tsx
  src/views/ModelPlan/TaskList/Basics/Overview/index.tsx
  src/views/ModelPlan/TaskList/Characteristics/KeyCharacteristics/index.tsx
  src/views/ModelPlan/TaskList/Characteristics/index.tsx
  src/views/ModelPlan/TaskList/index.tsx
Due: eslint, check-code-generation

Finished page 2
  src/components/shared/MultiSelect/index.tsx
  src/i18n/en-US/draftModelPlan/generalCharacteristics.ts
  src/views/ModelPlan/TaskList/Characteristics/KeyCharacteristics/index.tsx
  src/views/ModelPlan/TaskList/Characteristics/index.tsx
Due: eslint

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$
  graphql-schema: any of: pkg/graph/schema.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts
  check-intake-schema-generation: any of: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json
  preprocess-intake-swagger: any of: pkg/cedar/intake/cedar_intake.json
