Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-intake-swagger

eslint:
  name: eslint
  entry: scripts/pre-commit-eslint
  language: script

graphql-schema:
  name: graphql-schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script

check-code-generation:
  name: check-code-generation
  entry: scripts/pre-commit-check-code-generation
  language: script

check-intake-schema-generation:
  name: check-intake-schema-generation
  entry: scripts/gen_intake_schema
  language: script

preprocess-intake-swagger:
  name: preprocess-intake-swagger
  entry: scripts/generate_cedar_intake_client
  language: script

add plan basics type
  pkg/models/plan_basics.go
Due: none

added fields for model overview to model basics
  migrations/V5__Add_Plan_Basics.sql
Due: none

updated Plan Basics for new fields
  pkg/models/plan_basics.go
Due: none

added plan milestones and document migration
  migrations/V6_Add_Plan_Milestones.sql
  migrations/V7_Add_Plan_Document
Due: none

correct syntax issues in new migrations
  migrations/V6_Add_Plan_Milestones.sql
  migrations/V6__Add_Plan_Milestones.sql
  migrations/V7__Add_Plan_Document.sql
Due: none

remove EUA_user_id field, it is duplicated by created by field
  migrations/V3__Add_Model_Plan.sql
Due: none

Update styles
  src/views/Home/index.scss
Due: none

Update styles
  src/views/Home/index.tsx
Due: eslint

Test initial commit
  src/views/Home/index.test.tsx
Due: eslint

Update Code References from EASi to MINT (#19)
  cmd/mint/main.go
  pkg/appcontext/context_test.go
  pkg/authentication/principal.go
  pkg/authentication/principal_test.go
  pkg/cedar/cedarldap/translated_client.go
  pkg/email/email.go
  pkg/flags/client_test.go
  pkg/integration/integration_test.go
  pkg/local/cedar_mint.go
  pkg/server/server.go
  pkg/storage/store.go
  pkg/testhelpers/okta.go
  pkg/upload/upload.go
Due: none

Add model plan translation
  src/i18n/en-US/modelPlan.ts
Due: eslint

Model Plan Steps Overview init commit and properply importing
  src/views/App/index.tsx
  src/views/ModelPlan/ModelPlanStepsOverview/index.tsx
Due: eslint

[EASI-1859] job codes and roles (#23)
  docs/graphql_playground.md
  go.sum
  pkg/appcontext/context_test.go
  pkg/authentication/principal.go
  pkg/authentication/principal_test.go
  pkg/flags/client.go
  pkg/flags/client_test.go
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/local/authentication_middleware.go
  pkg/okta/authentication_middleware.go
  pkg/services/auth.go
  pkg/services/auth_test.go
  pkg/testhelpers/authentication.go
  src/constants/jobCodes.ts
  src/types/graphql-global-types.ts
  src/utils/user.test.ts
  src/utils/user.ts
  src/views/User/index.tsx
Due: eslint, graphql-schema, check-code-generation

Model Plan Translation copy
  src/i18n/en-US/index.ts
  src/i18n/en-US/modelPlan.ts
Due: eslint

Adding Model Plan Steps Overview copy
  src/views/ModelPlan/ModelPlanStepsOverview/index.tsx
Due: eslint

Update user check to new jobs
  src/views/Home/index.tsx
Due: eslint

Copy and Pasting from Easi
  src/views/Home/index.test.tsx
Due: eslint

Remove GraphQL stuff
  src/views/Home/index.test.tsx
Due: eslint

code clean up
  src/views/Home/index.test.tsx
Due: eslint

Updated imports for email to reflect shared/ directory
  pkg/graph/resolver.go
  pkg/graph/schema.resolvers_test.go
  pkg/server/config.go
  pkg/server/health_check.go
  pkg/server/routes.go
Due: none

add migration and types to better represent data option
  migrations/V3__Add_DataTypes.sql
  migrations/V4__Add_Model_Plan.sql
  migrations/V5__Add_Plan_Collaborator.sql
  migrations/V6__Add_Plan_Basics.sql
  migrations/V7__Add_Plan_Milestones.sql
  migrations/V8__Add_Plan_Document.sql
  pkg/models/shared_enums.go
Due: none

added models as listed in FIGMA
  migrations/V3__Add_DataTypes.sql
  pkg/models/shared_enums.go
Due: none

add model plan SQL and store methods, WIP
  migrations/V3__Add_DataTypes.sql
  pkg/storage/SQL/model_plan_create.sql
  pkg/storage/SQL/model_plan_get_by_id.sql
  pkg/storage/SQL/model_plan_update.sql
  pkg/storage/model_planStore.go
Due: none

removed EUAUserID from modelPlan
  pkg/models/model_plan.go
Due: none

Added sign in page for MINT
  src/i18n/en-US/home.ts
  src/views/Home/WelcomeText.tsx
Due: eslint

Added LaunchDarkly environment variables
  .envrc
Due: none

Basic user unit test
  src/views/Home/index.test.tsx
Due: eslint

basic implementation of creating a model plan, and getting a model plan by id
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/storage/model_planStore.go
Due: graphql-schema, check-code-generation

[NOREF] Added LaunchDarkly environment variables (#25)
  .envrc
Due: none

Updated home test
  src/views/Home/index.test.tsx
Due: eslint

Cleaning up code
  src/views/ModelPlan/Table/index.tsx
Due: eslint

DRYing up code
  src/views/Home/index.tsx
Due: eslint

Updated Process List and added index.scss
  src/i18n/en-US/modelPlan.ts
  src/views/ModelPlan/ModelPlanStepsOverview/index.scss
  src/views/ModelPlan/ModelPlanStepsOverview/index.tsx
Due: eslint

Fixing email translation
  src/i18n/en-US/modelPlan.ts
  src/views/ModelPlan/ModelPlanStepsOverview/index.tsx
Due: eslint

Add snapshot tests
  src/views/ModelPlan/ModelPlanStepsOverview/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ModelPlanStepsOverview/index.test.tsx
Due: eslint

named statement for insert, and default timestamp value on table
  migrations/V4__Add_Model_Plan.sql
  migrations/V5__Add_Plan_Collaborator.sql
  migrations/V6__Add_Plan_Basics.sql
  migrations/V7__Add_Plan_Milestones.sql
  migrations/V8__Add_Plan_Document.sql
  pkg/storage/SQL/model_plan_create.sql
  pkg/storage/SQL/model_plan_update.sql
  pkg/storage/model_planStore.go
Due: none

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$
  graphql-schema: any of: pkg/graph/schema.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts
  check-intake-schema-generation: any of: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json
  preprocess-intake-swagger: any of: pkg/cedar/intake/cedar_intake.json
