Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, tsc-check, graphql-schema, check-code-generation

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch
        args: [
          '--pattern', '^(?!((main)|(feature\/EASI-\d{1,5})|((EASI-\d{1,5}|NOREF|dependabot)\/[a-zA-Z0-9\-\._/]+))$).*',
          '--branch', '' # Adding this to remove the default protection on `main` so that CI checks can pass
        ]
        name: Enforce branch naming patterns
        description: Enforces branch naming policy. Allowed branch patterns are 'EASI-#', 'EASI-#/*', 'feature/EASI-#', 'NOREF/*', and 'dependabot/*'. A feature branch like feature/EASI-2020 would have branches like EASI-2020/frontend and EASI-2020/backend merge into it.
      - id: check-yaml
        name: Check YAML formatting
      - id: detect-private-key
        name: Check for private keys
      - id: end-of-file-fixer
        files: \.(sql|scss|md|js|ts|tsx|go|yml|yaml)$
        name: Add newlines to ends of files

  - repo: https://github.com/detailyang/pre-commit-shell
    rev: v1.0.6
    hooks:
      - id: shell-lint
        name: Lint shell files

  - repo: https://github.com/trussworks/pre-commit-hooks
    rev: v1.1.1
    hooks:
      - id: mdspell
        name: Spellcheck Markdown files
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor
          )$

  - repo: https://github.com/Bahjat/pre-commit-golang
    rev: v1.0.1
    hooks:
      - id: go-fmt-import
        name: Run "goimports" on go files
        args: ['-local', 'github.com/cmsgov/mint-app']
        files: .*\.go$
        exclude: >
          (?x)^(
            .*gen/.*|
            .*generated/.*|
            .*models_gen.go|
          )$

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.48.0
    hooks:
      - id: golangci-lint
        name: Lint go files
        args: ['--concurrency', '-1'] # Run with all CPUs

  - repo: local
    hooks:
    - id: dockerfilelint
      name: Lint Dockerfile
      entry: dockerfilelint
      language: node
      additional_dependencies: [dockerfilelint]
      files: Dockerfile.*

  - repo: local
    hooks:
      - id: eslint
        name: Run eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$

  - repo: local
    hooks:
      - id: tsc-check
        name: Run typescript check
        entry: scripts/pre-commit-tsc
        language: script
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false

  - repo: local
    hooks:
      - id: graphql-schema
        name: Lint GraphQL schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: pkg/graph/schema.graphql

  - repo: local
    hooks:
      - id: check-code-generation
        name: Run GraphQL code generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: "pkg/graph/schema\\.graphql|pkg/graph/schema\\.resolvers\\.go|src/queries/.*\\.ts"
        pass_filenames: false

  - repo: https://github.com/awslabs/git-secrets
    rev: b9e96b3212fa06aea65964ff0d5cda84ce935f38
    hooks:
      - id: git-secrets
        name: Check for committed secrets
        entry: git-secrets --pre_commit_hook

  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 1.2.1
    hooks:
      - id: sqlfluff-fix
        exclude: ^scripts/data/
      - id: sqlfluff-lint
        exclude: ^scripts/data/

[NOREF] Disable docker caching in GH Actions (#353)
  .github/workflows/run_tests.yml
Due: none

Add read only version of Operations Evaluation and Learning
  src/queries/ReadOnly/GettAllOpsEvalAndLearning.ts
  src/queries/ReadOnly/types/GetAllOpsEvalAndLearning.ts
  src/views/ModelPlan/ReadOnly/OpsEvalAndLearning/index.tsx
  src/views/ModelPlan/ReadOnly/index.tsx
Due: eslint, tsc-check, check-code-generation

Clean up comments
  src/views/ModelPlan/ReadOnly/OpsEvalAndLearning/index.tsx
Due: eslint, tsc-check

Added success messages and SolutionCard prop to NeedsQuestionAndAnswer
  src/i18n/en-US/draftModelPlan/itSolutions.ts
  src/views/ModelPlan/TaskList/ITSolutions/AddCustomSolution/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/SolutionDetails/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/NeedQuestionAndAnswer/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionDetailCard/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/Subtasks/index.tsx
Due: eslint, tsc-check

Add ReadOnly OpsEvalAndLearning tests
  src/views/ModelPlan/ReadOnly/OpsEvalAndLearning/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/OpsEvalAndLearning/index.test.tsx
Due: eslint, tsc-check

additional translations
  cmd/backfill/backfillEntry.go
  cmd/backfill/data/enumTranslations.json
  cmd/backfill/main.go
  cmd/backfill/translation.go
Due: none

Added more accurate usuer initial function and unit tests
  src/utils/modelPlan.test.tsx
  src/utils/modelPlan.ts
Due: eslint, tsc-check

Hide ITToolsWarning component if LD flag is true
  src/components/ITToolsWarning/index.tsx
Due: eslint, tsc-check

Backend and Frontend code to downgrade assessment users with a LaunchDarkly flag
  cmd/dbseed/resolver_wrappers.go
  pkg/appcontext/context_test.go
  pkg/authentication/principal.go
  pkg/authentication/principal_test.go
  pkg/authorization/require_principal_middleware_test.go
  pkg/flags/client.go
  pkg/flags/client_test.go
  pkg/graph/resolvers/access_control_test.go
  pkg/graph/resolvers/base_task_list_section_test.go
  pkg/graph/resolvers/model_plan_test.go
  pkg/graph/resolvers/plan_collaborator_test.go
  pkg/graph/resolvers/plan_cr_tdl_test.go
  pkg/graph/resolvers/plan_discussion_test.go
  pkg/graph/resolvers/plan_favorite_test.go
  pkg/graph/resolvers/resolver_test_utilities.go
  pkg/graph/schema.resolvers_current_user_test.go
  pkg/local/authentication_middleware.go
  pkg/okta/authentication_middleware.go
  pkg/okta/authentication_middleware_test.go
  pkg/server/routes.go
  pkg/services/auth_test.go
  pkg/testhelpers/authentication.go
  pkg/worker/worker_test_utilities.go
  src/types/flags.ts
  src/utils/user.test.ts
  src/utils/user.ts
  src/views/FlagsWrapper/index.tsx
Due: eslint, tsc-check

Actually use test data source
  pkg/okta/authentication_middleware_test.go
Due: none

more edge cases handled
  cmd/backfill/data/dataTranslationFull.csv
  cmd/backfill/data/enumTranslations.json
  cmd/backfill/translation.go
Due: none

update worker start. pull enterprise image
  .envrc
  cmd/mint/serve.go
  docker-compose.yml
  pkg/server/routes.go
  pkg/server/server.go
  scripts/dev
Due: none

login to faktory repo, add process env var
  .envrc
  cmd/mint/serve.go
  docker-compose.faktory.yml
  docker-compose.yml
  pkg/appconfig/config.go
  pkg/server/routes.go
  pkg/server/server.go
  scripts/dev
Due: none

start on batch jobs
  pkg/storage/SQL/model_plan/collection_where_favorited.sql
  pkg/worker/analyzed_audit.go
Due: none

add cron jobs and configuration. copy config to container
  .envrc
  .faktory/conf.d/cron.toml
  docker-compose.faktory.yml
  migrations/V40__Add_Constraint_To_Analyzed_Audit.sql
  pkg/appconfig/config.go
  pkg/models/analyzed_audit.go
  pkg/server/routes.go
  pkg/storage/SQL/model_plan/collection_ids_favorited.sql
  pkg/storage/SQL/plan_collaborator/collection_unique_by_eua.sql
  pkg/storage/model_planStore.go
  pkg/storage/plan_collaboratorStore.go
  pkg/worker/analyzed_audit.go
  pkg/worker/daily_digest.go
  pkg/worker/worker.go
  scripts/dev
Due: none

update args, fix tests
  docker-compose.yml
  pkg/server/routes.go
  pkg/worker/analyzed_audit.go
  pkg/worker/analyzed_audit_test.go
  pkg/worker/daily_digest.go
  pkg/worker/daily_digest_test.go
  pkg/worker/worker.go
Due: none

Update GitHub action dependencies to use major versions. Update setup-node and setup-go to use built-in caching
  .github/workflows/build_application_images.yml
  .github/workflows/deploy_to_environment.yml
  .github/workflows/manual_deploy.yml
  .github/workflows/run_tests.yml
  .github/workflows/scan_deployed_image.yml
Due: none

[NOREF] - User initial updates (#355)
  src/utils/modelPlan.test.tsx
  src/utils/modelPlan.ts
Due: eslint, tsc-check

[NOREF] - Hide ITToolsWarning component if LD flag is true (#356)
  src/components/ITToolsWarning/index.tsx
Due: eslint, tsc-check

Update script comments
  scripts/run_ecs_task.sh
Due: none

Added filter to getModelPlanCollection on generalCharacteristics
  src/views/ModelPlan/TaskList/GeneralCharacteristics/index.tsx
Due: eslint, tsc-check

Change caching dependencies to be a re-usable job that's called across a few workflows
  .github/workflows/build_application_images.yml
  .github/workflows/cache_dependencies.yml
  .github/workflows/deploy_pipeline.yml
  .github/workflows/deploy_to_environment.yml
  .github/workflows/manual_deploy.yml
  .github/workflows/pr_checks.yml
  .github/workflows/run_tests.yml
Due: none

Update clamscan to be a single step
  .github/workflows/build_application_images.yml
Due: none

[NOREF] Update GitHub actions & dependencies (#359)
  .github/workflows/build_application_images.yml
  .github/workflows/cache_dependencies.yml
  .github/workflows/deploy_pipeline.yml
  .github/workflows/deploy_to_environment.yml
  .github/workflows/manual_deploy.yml
  .github/workflows/pr_checks.yml
  .github/workflows/run_tests.yml
  .github/workflows/scan_deployed_image.yml
  scripts/run_ecs_task.sh
Due: none

QA feedback
  src/views/ModelPlan/TaskList/ITSolutions/SolutionImplementation/index.tsx
Due: eslint, tsc-check

add more copy
  src/i18n/en-US/draftModelPlan/itSolutions.ts
Due: eslint, tsc-check

add more conditional checks to handle success message and routing
  src/views/ModelPlan/TaskList/ITSolutions/SolutionImplementation/index.tsx
Due: eslint, tsc-check

Hide readonly favorite for mac users
  src/views/ModelPlan/ReadOnly/index.tsx
Due: eslint, tsc-check

Fix sql
  pkg/models/analyzed_audit.go
  pkg/storage/SQL/model_plan/collection_where_favorited.sql
Due: none

handling OTHER for enum, and setting valid other field if so
  cmd/backfill/data/dataTranslationFull.csv
  cmd/backfill/data/possibleUsers.json
  cmd/backfill/translation.go
Due: none

[NROEF] - Hide readonly favorite for mac users (#361)
  src/views/ModelPlan/ReadOnly/index.tsx
Due: eslint, tsc-check

Trying simple cypress run in CI
  .github/workflows/run_tests.yml
Due: none

Modify read only OpsEvalAndLearning page to match wireframes
  src/i18n/en-US/readOnly/readOnlyModelPlan.ts
  src/views/ModelPlan/ReadOnly/OpsEvalAndLearning/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/OpsEvalAndLearning/index.tsx
Due: eslint, tsc-check

correct handling of "Other" field
  cmd/backfill/data/dataTranslationFull.csv
  cmd/backfill/data/enumTranslations.json
  cmd/backfill/translation.go
Due: none

update translations
  cmd/backfill/data/dataTranslationFull.csv
  cmd/backfill/data/enumTranslations.json
Due: none

Fix errors and formatting issues in read only OpsEvalLearning component
  src/i18n/en-US/draftModelPlan/operationsEvaulationAndLearning.ts
  src/views/ModelPlan/ReadOnly/OpsEvalAndLearning/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/OpsEvalAndLearning/index.tsx
Due: eslint, tsc-check

Remove unneeded param, update comments
  pkg/okta/authentication_middleware.go
Due: none

DataNeededForMonitoring updated. Correct enum translations
  cmd/backfill/data/dataTranslationFull.csv
  cmd/backfill/data/enumTranslations.json
  cmd/backfill/main.go
  cmd/backfill/translation.go
Due: none

add logging for fields that might not be captured
  cmd/backfill/translation.go
  cmd/backfill/uploader.go
Due: none

Fix an issue with multiple tabs triggering an infinite loop of messages
  package.json
  src/views/TimeOutWrapper/index.tsx
  yarn.lock
Due: eslint, tsc-check
