Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, tsc-check, graphql-schema, check-code-generation

dockerfilelint:
  name: Lint Dockerfile
  entry: dockerfilelint
  language: node
  additional_dependencies:
  - dockerfilelint

eslint:
  name: Run eslint
  entry: scripts/pre-commit-eslint
  language: script

tsc-check:
  name: Run typescript check
  entry: scripts/pre-commit-tsc
  language: script
  pass_filenames: false

graphql-schema:
  name: Lint GraphQL schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script

check-code-generation:
  name: Run GraphQL code generation
  entry: scripts/pre-commit-check-code-generation
  language: script
  pass_filenames: false

chore: application principal to log name correctly when string is called
  pkg/authentication/principal.go
Due: none

Easi 2702/clear cloudfront cache (#494)
  .github/workflows/deploy_to_environment.yml
  scripts/invalidate_cloudfront_cache.sh
Due: none

whoa i got it to work
  src/queries/ITSolutions/CreateOperationalSolutionSubtasks.ts
  src/queries/ITSolutions/types/CreateOperationalSolutionSubtasks.ts
  src/views/ModelPlan/TaskList/ITSolutions/ManageSubtasks/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/index.tsx
Due: eslint, tsc-check, check-code-generation

code clean up
  src/i18n/en-US/draftModelPlan/subtasks.ts
  src/views/ModelPlan/TaskList/ITSolutions/ManageSubtasks/index.tsx
Due: eslint, tsc-check

remove all unused things
  src/views/ModelPlan/TaskList/ITSolutions/ManageSubtasks/index.tsx
Due: eslint, tsc-check

removed id in create subtask query and type && remove commented code
  src/queries/ITSolutions/CreateOperationalSolutionSubtasks.ts
  src/queries/ITSolutions/types/CreateOperationalSolutionSubtasks.ts
  src/views/ModelPlan/TaskList/ITSolutions/ManageSubtasks/index.tsx
Due: eslint, tsc-check, check-code-generation

added line for fail on any error
  scripts/invalidate_cloudfront_cache.sh
Due: none

change cta
  src/views/ModelPlan/TaskList/ITSolutions/ManageSubtasks/index.tsx
Due: eslint, tsc-check

remove mode max
  .github/workflows/run_tests.yml
Due: none

Use scratch image and introduce CI build
  .github/workflows/run_tests.yml
  Dockerfile
  scripts/dev
Due: dockerfilelint

mode max is back
  .github/workflows/run_tests.yml
Due: none

Remove setup go
  .github/workflows/run_tests.yml
Due: none

Skip tests
  .github/workflows/run_tests.yml
Due: none

Cache manually
  .github/workflows/run_tests.yml
Due: none

set context
  .github/workflows/run_tests.yml
Due: none

feat: introduce isOther and otherHeader to GO and GQL. WIP SQL, will refactor
  migrations/V86__Update_Possible_Operational_Solutions.sql
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/models/operational_solution.go
  pkg/storage/SQL/operational_solution/and_possible_get_by_operational_need_id_LOADER.sql
  pkg/storage/SQL/operational_solution/get_by_id.sql
  pkg/storage/SQL/operational_solution/get_by_operational_need_id_and_other_type.sql
  pkg/storage/SQL/operational_solution/get_by_operational_need_id_and_type.sql
  pkg/storage/SQL/operational_solution/insert_or_update.sql
  pkg/storage/SQL/operational_solution/insert_or_update_other.sql
  pkg/storage/SQL/operational_solution/update_by_id.sql
  src/types/graphql-global-types.ts
Due: eslint, tsc-check, graphql-schema, check-code-generation

Try using new layer caching strategy
  .github/workflows/run_tests.yml
Due: none

Remove buildx reference
  .github/workflows/run_tests.yml
Due: none

Use hash
  .github/workflows/run_tests.yml
Due: none

Try without pull
  .github/workflows/run_tests.yml
Due: none

add up
  .github/workflows/run_tests.yml
Due: none

unskip tests
  .github/workflows/run_tests.yml
Due: none

Always build
  .github/workflows/run_tests.yml
Due: none

clean up the form submit
  src/views/ModelPlan/TaskList/ITSolutions/ManageSubtasks/index.tsx
Due: eslint, tsc-check

add fromManageSubtask renders
  src/i18n/en-US/draftModelPlan/subtasks.ts
  src/views/ModelPlan/TaskList/ITSolutions/ManageSubtasks/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/Subtasks/index.tsx
Due: eslint, tsc-check

remove commented code
  src/views/ModelPlan/TaskList/ITSolutions/index.tsx
Due: eslint, tsc-check

Add subtask tests
  src/views/ModelPlan/TaskList/ITSolutions/Subtasks/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/Subtasks/index.test.tsx
Due: eslint, tsc-check

adding more test
  src/views/ModelPlan/TaskList/ITSolutions/Subtasks/index.test.tsx
Due: eslint, tsc-check

Manage Subtask test wip
  src/views/ModelPlan/TaskList/ITSolutions/ManageSubtasks/index.test.tsx
Due: eslint, tsc-check

Docker cache per file
  .github/workflows/run_tests.yml
Due: none

feat: discrete insert and update statements for operational solutions
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/operational_solution.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/storage/SQL/operational_solution/insert.sql
  pkg/storage/operational_solutionStore.go
  src/types/graphql-global-types.ts
Due: eslint, tsc-check, graphql-schema, check-code-generation

Path conditions:
  dockerfilelint: any of: Dockerfile.*
  eslint: any of: \.(js|jsx|ts|tsx)$
  tsc-check: any of: \.(js|jsx|ts|tsx)$
  graphql-schema: any of: pkg/graph/schema.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts
