Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-intake-swagger

.pre-commit-config.yaml:

---
repos:
  - repo: git://github.com/detailyang/pre-commit-shell
    rev: 1.0.5
    hooks:
      - id: shell-lint

  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-yaml
      - id: detect-private-key

  - repo: git://github.com/trussworks/pre-commit-hooks
    rev: v1.1.0
    hooks:
      - id: gen-docs
        args: ['docs/adr']
      - id: mdspell
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor/|
            docs/adr/index.md
          )$

  - repo: git://github.com/Bahjat/pre-commit-golang
    rev: c3086eea8af86847dbdff2e46b85a5fe3c9d9656
    hooks:
      - id: go-fmt-import

  - repo: git://github.com/golangci/golangci-lint
    rev: v1.41.1
    hooks:
      - id: golangci-lint
        entry: bash -c 'exec golangci-lint run -j=${GOLANGCI_LINT_CONCURRENCY:-1}' # custom bash so we can override concurrency for faster dev runs

  - repo: https://github.com/pryorda/dockerfilelint-precommit-hooks
    rev: v0.1.0
    hooks:
      - id: dockerfilelint

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$

  - repo: local
    hooks:
      - id: graphql-schema
        name: graphql-schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: pkg/graph/schema.graphql

  - repo: local
    hooks:
      - id: check-code-generation
        name: check-code-generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: "pkg/graph/schema\\.graphql|pkg/graph/schema\\.resolvers\\.go|src/queries/.*\\.ts"

  # for some reason, trying to call "go run cmd/intake_schema_gen/main.go" directly from this config doesn't work;
  # so call scripts/gen_intake_schema, which calls that command and works 
  - repo: local
    hooks:
      - id: check-intake-schema-generation
        name: check-intake-schema-generation
        entry: scripts/gen_intake_schema
        language: script
        files: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json

  - repo: local
    hooks:
      - id: preprocess-intake-swagger
        name: preprocess-intake-swagger
        entry: scripts/generate_cedar_intake_client
        language: script
        files: pkg/cedar/intake/cedar_intake.json

  - repo: git://github.com/awslabs/git-secrets
    rev: 80230afa8c8bdeac766a0fece36f95ffaa0be778
    hooks:
      - id: git-secrets
        entry: git-secrets --pre_commit_hook

  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: end-of-file-fixer
        name: Add newlines to end of files
        files: \.(sql|scss|md|js|ts|tsx|go)$

Added unit test for util functions
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/index.test.tsx
Due: eslint

plan it tools enums
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/plan_it_tools.go
Due: graphql-schema, check-code-generation

Styling fixes and updated snaps
  scripts/dev
  src/views/ModelPlan/TaskList/Participants/ParticipantsOptions/index.tsx
  src/views/ModelPlan/TaskList/Participants/ProviderOptions/index.tsx
Due: eslint

Styling fixes and updated snaps
  scripts/dev
  src/views/ModelPlan/TaskList/Participants/ParticipantsOptions/__snapshots__/index.test.tsx.snap
Due: none

correct plan it tools test update
  pkg/graph/resolvers/plan_it_tools_test.go
Due: none

Added temp fix for rendering default dates
  src/components/shared/DatePickerWarning/index.scss
  src/i18n/en-US/draftModelPlan/participantsAndProviders.ts
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/IDDOC/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/IDDOC/index.tsx
  src/views/ModelPlan/TaskList/Participants/ParticipantsOptions/__snapshots__/index.test.tsx.snap
Due: eslint

Adding a slightly larger buffer
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/IDDOC/index.tsx
Due: eslint

remove un-needed comments
  pkg/graph/resolvers/model_plan_test.go
Due: none

Copy and Pasting
  src/views/ModelPlan/TaskList/Beneficiaries/PageOne/index.tsx
Due: eslint

Sorted a -> z and added beneficiaries
  src/i18n/en-US/index.ts
Due: eslint

Add Benefities queries
  src/queries/GetModelPlan.ts
  src/queries/GetModelPlanBeneficiaries.ts
  src/queries/types/GetModelPlan.ts
  src/queries/types/GetModelPlanBeneficiaries.ts
Due: eslint, check-code-generation

Beneficiaries now show up on task list
  src/views/ModelPlan/TaskList/index.tsx
Due: eslint

script/dev gql
  pkg/graph/schema.resolvers.go
  src/types/graphql-global-types.ts
Due: eslint, check-code-generation

Add Beneficiaries Options
  src/i18n/en-US/draftModelPlan/beneficiaries.ts
Due: eslint

Add PlanBeneficiariesChanges
  src/types/graphql-global-types.ts
Due: eslint

mucho changes
  src/views/ModelPlan/TaskList/Beneficiaries/PageOne/index.tsx
Due: eslint

Add Update Model Plan Beneficiaries query and types
  src/queries/UpdateModelPlanBeneficiaries.ts
  src/queries/types/UpdateModelPlanBeneficiaries.ts
Due: eslint, check-code-generation

Translate Beneficiaries Types
  src/utils/modelPlan.ts
Due: eslint

Add more copy translations
  src/i18n/en-US/draftModelPlan/beneficiaries.ts
Due: eslint

wip
  src/views/ModelPlan/TaskList/Beneficiaries/PageOne/index.tsx
Due: eslint

Added N/A copy
  src/i18n/en-US/draftModelPlan/beneficiaries.ts
  src/views/ModelPlan/TaskList/Beneficiaries/PageOne/index.tsx
Due: eslint

Add second question for page one
  src/views/ModelPlan/TaskList/Beneficiaries/PageOne/index.tsx
Due: eslint

Add additional question for 'yes' answers
  src/views/ModelPlan/TaskList/Beneficiaries/PageOne/index.tsx
Due: eslint

Add additional question for 'yes' answers
  src/i18n/en-US/draftModelPlan/beneficiaries.ts
  src/views/ModelPlan/TaskList/Beneficiaries/PageOne/index.tsx
Due: eslint

FE done for Page one
  src/views/ModelPlan/TaskList/Beneficiaries/PageOne/index.tsx
Due: eslint

Adding better typesafety on handleBlur event for dates
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/IDDOC/index.tsx
Due: eslint

Init tech debt work for P&P
  src/queries/ParticipantsAndProviders/GetCommunication.ts
  src/queries/ParticipantsAndProviders/GetCoordination.ts
  src/queries/ParticipantsAndProviders/GetParticipantOptions.ts
  src/queries/ParticipantsAndProviders/GetParticipantsAndProviders.ts
  src/queries/ParticipantsAndProviders/GetProviderOptions.ts
  src/queries/ParticipantsAndProviders/UpdatePlanParticipantsAndProviders.ts
  src/queries/ParticipantsAndProviders/types/GetCommunication.ts
  src/queries/ParticipantsAndProviders/types/GetCoordination.ts
  src/queries/ParticipantsAndProviders/types/GetParticipantOptions.ts
  src/queries/ParticipantsAndProviders/types/GetParticipantsAndProviders.ts
  src/queries/ParticipantsAndProviders/types/GetProviderOptions.ts
  src/queries/ParticipantsAndProviders/types/UpdatePlanParticipantsAndProviders.ts
  src/views/App/index.tsx
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/Communication/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/Communication/index.test.tsx
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/Communication/index.tsx
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/Coordination/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/Coordination/index.test.tsx
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/Coordination/index.tsx
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/ParticipantOptions/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/ParticipantOptions/index.test.tsx
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/ParticipantOptions/index.tsx
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/ProviderOptions/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/ProviderOptions/index.test.tsx
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/ProviderOptions/index.tsx
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/index.scss
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/index.test.tsx
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/index.tsx
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/mock.ts
  src/views/ModelPlan/TaskList/index.test.tsx
Due: eslint, check-code-generation

Moved mutation to relevant folder and updated instances
  src/queries/UpdateModelPlanOpsEvalAndLearning.ts
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/CCWAndQuality/index.tsx
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/DataSharing/index.tsx
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/Evaluation/index.tsx
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/IDDOC/index.tsx
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/IDDOCMonitoring/index.tsx
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/IDDOCTesting/index.tsx
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/Learning/index.tsx
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/Performance/index.tsx
Due: eslint, check-code-generation

Init tech debt work for P&P
  src/queries/ParticipantsAndProviders/types/GetCommunication.ts
  src/queries/ParticipantsAndProviders/types/GetCoordination.ts
  src/queries/ParticipantsAndProviders/types/GetParticipantOptions.ts
  src/queries/ParticipantsAndProviders/types/GetParticipantsAndProviders.ts
  src/queries/ParticipantsAndProviders/types/GetProviderOptions.ts
  src/queries/ParticipantsAndProviders/types/UpdatePlanParticipantsAndProviders.ts
Due: eslint, check-code-generation

Init tech debt work for P&P
  src/queries/GetModelPlanOpsEvalAndLearning.ts
  src/queries/GetModelPlanParticipantsAndProviders.ts
  src/queries/UpdateModelPlanProvidersAndParticipants.ts
Due: eslint, check-code-generation

Removed unused query
  src/queries/GetModelPlanOpsEvalAndLearning.ts
Due: eslint, check-code-generation

Adjust types for treatDualElligibleDifferent and excludeCertainCharacteristics
  src/views/ModelPlan/TaskList/Beneficiaries/PageOne/index.tsx
Due: eslint

Finished refactor of P&P
  src/queries/ParticipantsAndProviders/types/GetCommunication.ts
  src/queries/ParticipantsAndProviders/types/GetCoordination.ts
  src/queries/ParticipantsAndProviders/types/GetParticipantOptions.ts
  src/queries/ParticipantsAndProviders/types/GetParticipantsAndProviders.ts
  src/queries/ParticipantsAndProviders/types/GetProviderOptions.ts
  src/queries/ParticipantsAndProviders/types/UpdatePlanParticipantsAndProviders.ts
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/Communication/index.test.tsx
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/Communication/index.tsx
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/Coordination/index.test.tsx
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/Coordination/index.tsx
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/ParticipantOptions/index.test.tsx
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/ParticipantOptions/index.tsx
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/ProviderOptions/index.test.tsx
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/ProviderOptions/index.tsx
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/index.test.tsx
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/index.tsx
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/mock.ts
  src/views/ModelPlan/TaskList/index.test.tsx
Due: eslint, check-code-generation

Finished refactor of characteristics
  src/queries/GeneralCharacteristics/GetAuthority.ts
  src/queries/GeneralCharacteristics/GetGeneralCharacteristics.ts
  src/queries/GeneralCharacteristics/GetInvolvements.ts
  src/queries/GeneralCharacteristics/GetKeyCharacteristics.ts
  src/queries/GeneralCharacteristics/GetTargetsAndOptions.ts
  src/queries/GeneralCharacteristics/UpdatePlanGeneralCharacteristics.ts
  src/queries/GeneralCharacteristics/types/GetAuthority.ts
  src/queries/GeneralCharacteristics/types/GetGeneralCharacteristics.ts
  src/queries/GeneralCharacteristics/types/GetInvolvements.ts
  src/queries/GeneralCharacteristics/types/GetKeyCharacteristics.ts
  src/queries/GeneralCharacteristics/types/GetTargetsAndOptions.ts
  src/queries/GeneralCharacteristics/types/UpdatePlanGeneralCharacteristics.ts
  src/queries/GetModelPlanCharacteristics.ts
  src/views/App/index.tsx
  src/views/ModelPlan/TaskList/Characteristics/mock.ts
  src/views/ModelPlan/TaskList/GeneralCharacteristics/Authority/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/GeneralCharacteristics/Authority/index.test.tsx
  src/views/ModelPlan/TaskList/GeneralCharacteristics/Authority/index.tsx
  src/views/ModelPlan/TaskList/GeneralCharacteristics/Involvements/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/GeneralCharacteristics/Involvements/index.test.tsx
  src/views/ModelPlan/TaskList/GeneralCharacteristics/Involvements/index.tsx
  src/views/ModelPlan/TaskList/GeneralCharacteristics/KeyCharacteristics/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/GeneralCharacteristics/KeyCharacteristics/index.test.tsx
  src/views/ModelPlan/TaskList/GeneralCharacteristics/KeyCharacteristics/index.tsx
  src/views/ModelPlan/TaskList/GeneralCharacteristics/TargetsAndOptions/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/GeneralCharacteristics/TargetsAndOptions/index.test.tsx
  src/views/ModelPlan/TaskList/GeneralCharacteristics/TargetsAndOptions/index.tsx
  src/views/ModelPlan/TaskList/GeneralCharacteristics/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/GeneralCharacteristics/index.test.tsx
  src/views/ModelPlan/TaskList/GeneralCharacteristics/index.tsx
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/Communication/index.tsx
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/Coordination/index.tsx
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/ParticipantOptions/index.tsx
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/ProviderOptions/index.tsx
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/index.tsx
  src/views/ModelPlan/TaskList/index.test.tsx
Due: eslint, check-code-generation

add more copy to i18n
  src/i18n/en-US/draftModelPlan/beneficiaries.ts
Due: eslint

add correct redirect
  src/views/ModelPlan/TaskList/Beneficiaries/PageOne/index.tsx
Due: eslint

Add Page Two
  src/views/ModelPlan/TaskList/Beneficiaries/PageTwo/index.tsx
  src/views/ModelPlan/TaskList/Beneficiaries/index.tsx
Due: eslint

feat: added ref counting for locking/unlocking sections so that a locking user with multiple tabs open will lock/unlock appropriately
  pkg/graph/model/models_gen.go
  pkg/graph/resolvers/plan_task_list_section_locks.go
Due: none

Consolidated queries
  src/queries/Documents/CreateModelPlanDocument.ts
  src/queries/Documents/DeleteModelPlanDocument.ts
  src/queries/Documents/GetGeneratedPresignedUploadURL.ts
  src/queries/Documents/GetModelPlanDocument.ts
  src/queries/Documents/GetPlanDocumentByModelID.ts
  src/queries/Documents/GetPlanDocumentDownloadURL.ts
  src/queries/Documents/types/CreateModelPlanDocument.ts
  src/queries/Documents/types/DeleteModelPlanDocument.ts
  src/queries/Documents/types/GeneratePresignedUploadURL.ts
  src/queries/Documents/types/GetModelPlanDocument.ts
  src/queries/Documents/types/GetModelPlanDocumentByModelID.ts
  src/queries/Documents/types/GetPlanDocumentDownloadURL.ts
  src/queries/types/GetModelPlanCharacteristics.ts
  src/queries/types/GetModelPlanOpsEvalAndLearning.ts
  src/queries/types/GetModelPlanProvidersAndParticipants.ts
  src/queries/types/UpdateModelPlanCharacteristics.ts
  src/queries/types/UpdateModelPlanOpsEvalAndLearning.ts
  src/queries/types/UpdateModelPlanProvidersAndParticipants.ts
  src/views/ModelPlan/Documents/AddDocument/documentUpload.tsx
  src/views/ModelPlan/Documents/table.tsx
Due: eslint, check-code-generation
