Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, tsc-check, graphql-schema, check-code-generation

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch
        args: [
          '--pattern', '^(?!((main)|(feature\/EASI-\d{1,5})|((EASI-\d{1,5}|NOREF|dependabot)\/[a-zA-Z0-9\-\._/]+))$).*',
          '--branch', '' # Adding this to remove the default protection on `main` so that CI checks can pass
        ]
        name: Enforce branch naming patterns
        description: Enforces branch naming policy. Allowed branch patterns are 'EASI-#', 'EASI-#/*', 'feature/EASI-#', 'NOREF/*', and 'dependabot/*'. A feature branch like feature/EASI-2020 would have branches like EASI-2020/frontend and EASI-2020/backend merge into it.
      - id: check-yaml
        name: Check YAML formatting
      - id: detect-private-key
        name: Check for private keys
      - id: end-of-file-fixer
        files: \.(sql|scss|md|js|ts|tsx|go|yml|yaml)$
        name: Add newlines to ends of files

  - repo: https://github.com/detailyang/pre-commit-shell
    rev: v1.0.6
    hooks:
      - id: shell-lint
        name: Lint shell files

  - repo: https://github.com/trussworks/pre-commit-hooks
    rev: v1.1.1
    hooks:
      - id: mdspell
        name: Spellcheck Markdown files
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor
          )$

  - repo: https://github.com/Bahjat/pre-commit-golang
    rev: v1.0.1
    hooks:
      - id: go-fmt-import
        name: Run "goimports" on go files
        args: ['-local', 'github.com/cmsgov/mint-app']
        files: .*\.go$
        exclude: >
          (?x)^(
            .*gen/.*|
            .*generated/.*|
            .*models_gen.go|
          )$

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.48.0
    hooks:
      - id: golangci-lint
        name: Lint go files
        args: ['--concurrency', '-1'] # Run with all CPUs

  - repo: local
    hooks:
    - id: dockerfilelint
      name: Lint Dockerfile
      entry: dockerfilelint
      language: node
      additional_dependencies: [dockerfilelint]
      files: Dockerfile.*

  - repo: local
    hooks:
      - id: eslint
        name: Run eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$

  - repo: local
    hooks:
      - id: tsc-check
        name: Run typescript check
        entry: scripts/pre-commit-tsc
        language: script
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false

  - repo: local
    hooks:
      - id: graphql-schema
        name: Lint GraphQL schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: pkg/graph/schema.graphql

  - repo: local
    hooks:
      - id: check-code-generation
        name: Run GraphQL code generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: "pkg/graph/schema\\.graphql|pkg/graph/schema\\.resolvers\\.go|src/queries/.*\\.ts"
        pass_filenames: false

  - repo: https://github.com/awslabs/git-secrets
    rev: b9e96b3212fa06aea65964ff0d5cda84ce935f38
    hooks:
      - id: git-secrets
        name: Check for committed secrets
        entry: git-secrets --pre_commit_hook

  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 1.2.1
    hooks:
      - id: sqlfluff-fix
        exclude: ^scripts/data/
      - id: sqlfluff-lint
        exclude: ^scripts/data/

all the read only sections are here
  src/views/ModelPlan/ReadOnly/OpsEvalAndLearning/index.tsx
  src/views/ModelPlan/ReadOnly/Payments/index.tsx
  src/views/ModelPlan/ReadOnly/_components/FilterView/BodyContent/index.tsx
Due: eslint, tsc-check

Adding debug logging for Okta websocket auth that fails occasionally
  pkg/okta/authentication_middleware.go
Due: none

fix console error about keys
  src/views/ModelPlan/ReadOnly/Team/index.tsx
Due: eslint, tsc-check

pass the filtered viwe down as a prop
  src/views/ModelPlan/ReadOnly/index.tsx
Due: eslint, tsc-check

mapping init
  src/views/ModelPlan/ReadOnly/_components/FilterView/BodyContent/index.tsx
Due: eslint, tsc-check

mucho work
  src/views/ModelPlan/ReadOnly/_components/FilterView/BodyContent/index.tsx
  src/views/ModelPlan/ReadOnly/_components/FilterView/BodyContent/utils.ts
Due: eslint, tsc-check

tes
  src/views/ModelPlan/ReadOnly/_components/FilterView/BodyContent/index.tsx
Due: eslint, tsc-check

Fix console error
  src/views/ModelPlan/ReadOnly/index.tsx
Due: eslint, tsc-check

shuffle things around
  src/views/ModelPlan/ReadOnly/_components/FilterView/BodyContent/_filterGroupMapping.ts
  src/views/ModelPlan/ReadOnly/_components/FilterView/BodyContent/index.tsx
  src/views/ModelPlan/ReadOnly/_components/FilterView/BodyContent/utils.ts
Due: eslint, tsc-check

chore: updated sql to use zero_string for ams model id rather than UUID
  migrations/V94__Update_General_Characteristics_AMSModelID_DemoCode.sql
Due: none

[NOREF] Adding debug logging for Okta websocket auth that fails occasionally (#594)
  pkg/okta/authentication_middleware.go
Due: none

chore: added new fields to plan general characteristics changes
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  src/types/graphql-global-types.ts
Due: eslint, tsc-check, graphql-schema, check-code-generation

initerating across the map
  src/views/ModelPlan/ReadOnly/ModelBasics/index.tsx
  src/views/ModelPlan/ReadOnly/_components/FilterView/BodyContent/index.tsx
Due: eslint, tsc-check

chore: added new fields to model plan changes
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  src/types/graphql-global-types.ts
Due: eslint, tsc-check, graphql-schema, check-code-generation

wip
  src/views/ModelPlan/ReadOnly/ModelBasics/index.tsx
  src/views/ModelPlan/ReadOnly/_components/FilterView/BodyContent/_filterGroupMapping.ts
Due: eslint, tsc-check

chore: update model plan test
  pkg/graph/resolvers/model_plan_test.go
Due: none

more work
  src/views/ModelPlan/ReadOnly/ModelBasics/index.tsx
Due: eslint, tsc-check

add back nameHistory
  src/views/ModelPlan/ReadOnly/ModelBasics/index.tsx
  src/views/ModelPlan/ReadOnly/_components/FilterView/BodyContent/_filterGroupMapping.ts
Due: eslint, tsc-check

moved teh checkgroupmap functionality to a utils folder
  src/views/ModelPlan/ReadOnly/ModelBasics/index.tsx
  src/views/ModelPlan/ReadOnly/_components/FilterView/BodyContent/_filterGroupMapping.ts
  src/views/ModelPlan/ReadOnly/_components/FilterView/Modal/index.tsx
  src/views/ModelPlan/ReadOnly/_components/FilterView/util.tsx
  src/views/ModelPlan/ReadOnly/index.tsx
Due: eslint, tsc-check

add more to the mapping
  src/views/ModelPlan/ReadOnly/_components/FilterView/BodyContent/_filterGroupMapping.ts
Due: eslint, tsc-check

add filteredQuestions to ReadOnlyGeneralCharacteristics
  src/views/ModelPlan/ReadOnly/_components/FilterView/BodyContent/index.tsx
Due: eslint, tsc-check

add checkgroup to ReadOnlyGeneralCharacteristics
  src/views/ModelPlan/ReadOnly/GeneralCharacteristics/index.tsx
Due: eslint, tsc-check

chore: updated postman collection
  MINT.postman_collection.json
Due: none

feat: updated sql to include role
  pkg/storage/SQL/plan_discussion/create.sql
  pkg/storage/SQL/plan_discussion/delete.sql
  pkg/storage/SQL/plan_discussion/get_by_id.sql
  pkg/storage/SQL/plan_discussion/get_by_model_plan_id_LOADER.sql
  pkg/storage/SQL/plan_discussion/update.sql
Due: none

Adding checkgroupmap funtions
  src/views/ModelPlan/ReadOnly/GeneralCharacteristics/index.tsx
  src/views/ModelPlan/ReadOnly/_components/FilterView/BodyContent/_filterGroupMapping.ts
  src/views/ModelPlan/ReadOnly/_components/FilterView/BodyContent/index.tsx
Due: eslint, tsc-check

Adding checkgroupmap funtions
  src/views/ModelPlan/ReadOnly/ParticipantsAndProviders/index.tsx
Due: eslint, tsc-check

add checkGroupMap function to ReadOnlyBeneficiaries
  src/views/ModelPlan/ReadOnly/Beneficiaries/index.tsx
Due: eslint, tsc-check

add checkGroupMap to ReadOnlyOpsEvalAndLearning
  src/views/ModelPlan/ReadOnly/OpsEvalAndLearning/index.tsx
Due: eslint, tsc-check

add checkGroupMap to ReadOnlyPayments
  src/views/ModelPlan/ReadOnly/Payments/index.tsx
Due: eslint, tsc-check

chore: updated user_role naming to be consistent, fix: most recent discussion role endpoint
  go.mod
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/resolvers/plan_discussion.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/plan_discussion.go
  pkg/storage/SQL/plan_discussion/create.sql
  pkg/storage/SQL/plan_discussion/delete.sql
  pkg/storage/SQL/plan_discussion/get_by_id.sql
  pkg/storage/SQL/plan_discussion/get_by_model_plan_id_LOADER.sql
  pkg/storage/SQL/plan_discussion/get_most_recent_user_role.sql
  pkg/storage/SQL/plan_discussion/update.sql
  pkg/storage/plan_discussionStore.go
  src/types/graphql-global-types.ts
Due: eslint, tsc-check, graphql-schema, check-code-generation

Add them payment mappings
  src/views/ModelPlan/ReadOnly/Payments/index.tsx
  src/views/ModelPlan/ReadOnly/_components/FilterView/BodyContent/_filterGroupMapping.ts
Due: eslint, tsc-check

add more mpas
  src/views/ModelPlan/ReadOnly/_components/FilterView/BodyContent/_filterGroupMapping.ts
Due: eslint, tsc-check

chore: migrated fields from general characteristics to plan basics
  cmd/dbseed/main.go
  migrations/V94__Update_Plan_Basics_AMSModelID_DemoCode.sql
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/plan_basics_test.go
  pkg/graph/schema.graphql
  pkg/models/plan_basics.go
  pkg/models/plan_general_characteristics.go
  pkg/storage/SQL/plan_basics/create.sql
  pkg/storage/SQL/plan_basics/get_by_id.sql
  pkg/storage/SQL/plan_basics/get_by_model_plan_id_LOADER.sql
  pkg/storage/SQL/plan_basics/update.sql
  pkg/storage/SQL/plan_general_characteristics/create.sql
  pkg/storage/SQL/plan_general_characteristics/get_by_id.sql
  pkg/storage/SQL/plan_general_characteristics/get_by_model_plan_id_LOADER.sql
  pkg/storage/SQL/plan_general_characteristics/update.sql
  src/types/graphql-global-types.ts
Due: eslint, tsc-check, graphql-schema, check-code-generation

add more mappings
  src/views/ModelPlan/ReadOnly/ParticipantsAndProviders/index.tsx
  src/views/ModelPlan/ReadOnly/_components/FilterView/BodyContent/_filterGroupMapping.ts
Due: eslint, tsc-check

add beneficiaries mapping
  src/views/ModelPlan/ReadOnly/Beneficiaries/index.tsx
  src/views/ModelPlan/ReadOnly/_components/FilterView/BodyContent/_filterGroupMapping.ts
Due: eslint, tsc-check

chore: updated postman collection with new plan basics fields
  MINT.postman_collection.json
Due: none

add ops eval and learning mapping
  src/views/ModelPlan/ReadOnly/OpsEvalAndLearning/index.tsx
  src/views/ModelPlan/ReadOnly/_components/FilterView/BodyContent/_filterGroupMapping.ts
Due: eslint, tsc-check

work work
  src/views/ModelPlan/ReadOnly/GeneralCharacteristics/index.tsx
  src/views/ModelPlan/ReadOnly/ParticipantsAndProviders/index.tsx
  src/views/ModelPlan/ReadOnly/_components/FilterView/BodyContent/_filterGroupMapping.ts
Due: eslint, tsc-check

work work
  src/views/ModelPlan/ReadOnly/ModelBasics/index.tsx
  src/views/ModelPlan/ReadOnly/_components/FilterView/BodyContent/index.tsx
Due: eslint, tsc-check
