Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, tsc-check, graphql-schema, check-code-generation

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-yaml
        name: Check YAML formatting
      - id: detect-private-key
        name: Check for private keys
      - id: end-of-file-fixer
        files: \.(sql|scss|md|js|ts|tsx|go|yml|yaml)$
        name: Add newlines to ends of files

  - repo: https://github.com/detailyang/pre-commit-shell
    rev: v1.0.6
    hooks:
      - id: shell-lint
        name: Lint shell files

  - repo: https://github.com/trussworks/pre-commit-hooks
    rev: v1.1.1
    hooks:
      - id: mdspell
        name: Spellcheck Markdown files
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor
          )$

  - repo: https://github.com/Bahjat/pre-commit-golang
    rev: v1.0.1
    hooks:
      - id: go-fmt-import
        name: Run "goimports" on go files
        args: ['-local', 'github.com/cmsgov/mint-app']
        files: .*\.go$
        exclude: >
          (?x)^(
            .*gen/.*|
            .*generated/.*|
            .*models_gen.go|
          )$

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.48.0
    hooks:
      - id: golangci-lint
        name: Lint go files
        args: ['--concurrency', '-1'] # Run with all CPUs

  - repo: local
    hooks:
    - id: dockerfilelint
      name: Lint Dockerfile
      entry: dockerfilelint
      language: node
      additional_dependencies: [dockerfilelint]
      files: Dockerfile.*

  - repo: local
    hooks:
      - id: eslint
        name: Run eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$
        exclude: (\.(d\.ts)$)|(\.storybook)|(serviceWorker\.ts) # This should match the .eslintrc "ignorePatterns". Change one, change the other!

  - repo: local
    hooks:
      - id: tsc-check
        name: Run typescript check
        entry: scripts/pre-commit-tsc
        language: script
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false

  - repo: local
    hooks:
      - id: graphql-schema
        name: Lint GraphQL schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: pkg/graph/schema.graphql

  - repo: local
    hooks:
      - id: check-code-generation
        name: Run GraphQL code generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: "pkg/graph/schema\\.graphql|pkg/graph/schema\\.resolvers\\.go|src/queries/.*\\.ts"
        pass_filenames: false

  - repo: https://github.com/awslabs/git-secrets
    rev: b9e96b3212fa06aea65964ff0d5cda84ce935f38
    hooks:
      - id: git-secrets
        name: Check for committed secrets
        entry: git-secrets --pre_commit_hook

  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 2.0.7
    hooks:
      - id: sqlfluff-fix
        exclude: ^migrations/
      - id: sqlfluff-lint
        exclude: ^migrations/

[NOREF] - Deprecated enzyme snapshot serializer in favor of sinon (#664)
  package.json
  src/utils/testing/snapshotSerializeReplacements.ts
  src/views/ModelPlan/ReadOnly/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/index.test.tsx
  src/views/ModelPlan/TaskList/Payment/FundingSource/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Payment/FundingSource/index.test.tsx
  yarn.lock
Due: eslint, tsc-check

wip: draft revision
  pkg/email/model_plan_share.go
  pkg/email/template_service_impl.go
  pkg/email/templates/model_plan_share_body.html
  pkg/email/templates/model_plan_share_subject.html
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/model_plan.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/model_plan.go
  src/gql/gen/graphql.ts
Due: eslint, tsc-check, graphql-schema, check-code-generation

update shareExport
  src/components/ShareExport/__snapshots__/index.test.tsx.snap
  src/components/ShareExport/index.test.tsx
Due: eslint, tsc-check

update model basics tasklist basic test and snaps
  src/views/ModelPlan/ReadOnly/ModelBasics/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/ModelBasics/index.test.tsx
  src/views/ModelPlan/TaskList/Basics/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Basics/index.test.tsx
Due: eslint, tsc-check

fix e2e test
  cypress/e2e/modelPlan.spec.js
Due: eslint, tsc-check

all the initial six pager meeting
  src/i18n/en-US/helpAndKnowledge/Articles/sixPageMeeting.ts
  src/i18n/en-US/index.ts
  src/views/HelpAndKnowledge/Articles/SixPagerMeeting/index.test.tsx
  src/views/HelpAndKnowledge/Articles/SixPagerMeeting/index.tsx
  src/views/HelpAndKnowledge/Articles/index.ts
  src/views/HelpAndKnowledge/index.tsx
Due: eslint, tsc-check

all the initial six pager meeting
  src/i18n/en-US/helpAndKnowledge/Articles/sixPageMeeting.ts
  src/views/HelpAndKnowledge/Articles/SixPagerMeeting/index.tsx
Due: eslint, tsc-check

Add all the translations
  src/i18n/en-US/helpAndKnowledge/Articles/sixPageMeeting.ts
Due: eslint, tsc-check

making small implementations
  src/views/HelpAndKnowledge/Articles/SixPagerMeeting/index.tsx
Due: eslint, tsc-check

work
  src/i18n/en-US/helpAndKnowledge/Articles/sixPageMeeting.ts
  src/views/HelpAndKnowledge/Articles/SixPagerMeeting/index.tsx
Due: eslint, tsc-check

looking good
  src/views/HelpAndKnowledge/Articles/SixPagerMeeting/index.tsx
Due: eslint, tsc-check

Adusting styles
  src/i18n/en-US/helpAndKnowledge/Articles/sixPageMeeting.ts
  src/views/HelpAndKnowledge/Articles/SixPagerMeeting/index.tsx
Due: eslint, tsc-check

add tips summary box
  src/i18n/en-US/helpAndKnowledge/Articles/sixPageMeeting.ts
  src/views/HelpAndKnowledge/Articles/SixPagerMeeting/index.tsx
Due: eslint, tsc-check

fun
  src/views/HelpAndKnowledge/Articles/SixPagerMeeting/index.tsx
Due: eslint, tsc-check

Attempting to add the modal
  src/i18n/en-US/helpAndKnowledge/Articles/sixPageMeeting.ts
  src/views/HelpAndKnowledge/Articles/SixPagerMeeting/index.tsx
Due: eslint, tsc-check

HelpScout POC enabled with LaunchDarkly
  .envrc
  .github/workflows/deploy_to_environment.yml
  docker-compose.override.yml
  public/index.html
  src/global.d.ts
  src/types/flags.ts
  src/utils/user.test.ts
  src/views/App/index.tsx
  src/views/BeaconWrapper/index.tsx
  src/views/FlagsWrapper/index.tsx
  src/views/NDAWrapper/index.tsx
Due: eslint, tsc-check

Revert changes to NDAWrapper that were from testing
  src/views/NDAWrapper/index.tsx
Due: eslint, tsc-check

remove summarybox and add new table
  src/i18n/en-US/helpAndKnowledge/Articles/getAccess.ts
  src/views/HelpAndKnowledge/Articles/GetAccess/index.tsx
Due: eslint, tsc-check

adding table
  src/i18n/en-US/helpAndKnowledge/Articles/getAccess.ts
  src/views/HelpAndKnowledge/Articles/GetAccess/index.tsx
Due: eslint, tsc-check

update tests
  src/views/HelpAndKnowledge/Articles/GetAccess/__snapshots__/index.test.tsx.snap
Due: none

modal now closes
  src/views/HelpAndKnowledge/Articles/SixPagerMeeting/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Modal/index.tsx
Due: eslint, tsc-check

test and snaps
  src/views/HelpAndKnowledge/Articles/SixPagerMeeting/index.test.tsx
Due: eslint, tsc-check

test and snaps
  src/views/HelpAndKnowledge/Articles/SixPagerMeeting/__snapshots__/index.test.tsx.snap
Due: none

update snasp
  src/components/RelatedArticles/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/Articles/TwoPagerMeeting/__snapshots__/index.test.tsx.snap
Due: none

[EASI-3132] MINT Access Page: MAC Access Text Change (#667)
  src/i18n/en-US/helpAndKnowledge/Articles/getAccess.ts
  src/views/HelpAndKnowledge/Articles/GetAccess/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/Articles/GetAccess/index.tsx
Due: eslint, tsc-check

udpate a couple more steps
  src/i18n/en-US/helpAndKnowledge/Articles/getAccess.ts
Due: eslint, tsc-check

update snaps
  src/views/HelpAndKnowledge/Articles/GetAccess/__snapshots__/index.test.tsx.snap
Due: none

remove alert box
  src/i18n/en-US/helpAndKnowledge/Articles/getAccess.ts
  src/views/HelpAndKnowledge/Articles/GetAccess/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/Articles/GetAccess/index.tsx
Due: eslint, tsc-check

[NOREF] Updating a couple more steps in the Get Access (#669)
  src/i18n/en-US/helpAndKnowledge/Articles/getAccess.ts
  src/views/HelpAndKnowledge/Articles/GetAccess/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/Articles/GetAccess/index.tsx
Due: eslint, tsc-check

chore: fixes to model plan share email template and better match with figma spec
  pkg/email/templates/model_plan_share_body.html
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/model_plan.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  src/gql/gen/graphql.ts
Due: eslint, tsc-check, graphql-schema, check-code-generation

Added mint-no-print to read only view. Added data-testid to radio and checkboxes for model categories along with new test for checkbox clearing behavior
  src/views/ModelPlan/ReadOnly/ModelBasics/index.tsx
  src/views/ModelPlan/TaskList/Basics/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Basics/index.test.tsx
  src/views/ModelPlan/TaskList/Basics/index.tsx
Due: eslint, tsc-check

Update snapshots for mint-no-print addition
  src/components/ShareExport/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/ModelBasics/__snapshots__/index.test.tsx.snap
Due: none

Address readonly table using incorrect key in useTranslation
  src/views/ModelPlan/ReadOnly/Table/index.tsx
Due: eslint, tsc-check

Fix unnecessary value check
  src/views/ModelPlan/ReadOnly/Table/index.tsx
Due: eslint, tsc-check

[EASI-3100] Update Model Categories (#658)
  cypress/e2e/modelPlan.spec.js
  migrations/V103__Update_Model_Categories.sql
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/model_plan.go
  pkg/models/plan_basics.go
  pkg/storage/SQL/plan_basics/create.sql
  pkg/storage/SQL/plan_basics/get_by_id.sql
  pkg/storage/SQL/plan_basics/get_by_model_plan_id_LOADER.sql
  pkg/storage/SQL/plan_basics/update.sql
  src/components/FavoriteCard/index.test.tsx
  src/components/ShareExport/__snapshots__/index.test.tsx.snap
  src/components/ShareExport/index.test.tsx
  src/components/shared/Tooltip/index.tsx
  src/data/mock/readonly.ts
  src/gql/gen/graphql.ts
  src/i18n/en-US/modelPlan/basics.ts
  src/queries/Basics/GetModelPlanInfo.ts
  src/queries/Basics/types/GetModelPlanInfo.ts
  src/queries/ReadOnly/GetAllBasics.ts
  src/queries/ReadOnly/GetAllModelPlans.ts
  src/queries/ReadOnly/types/GetAllBasics.ts
  src/queries/ReadOnly/types/GetAllModelPlans.ts
  src/types/graphql-global-types.ts
  src/types/translation.ts
  src/views/ModelPlan/ReadOnly/ModelBasics/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/ModelBasics/index.test.tsx
  src/views/ModelPlan/ReadOnly/ModelBasics/index.tsx
  src/views/ModelPlan/ReadOnly/Table/index.tsx
  src/views/ModelPlan/ReadOnly/_components/ReadOnlySection/index.tsx
  src/views/ModelPlan/TaskList/Basics/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Basics/index.test.tsx
  src/views/ModelPlan/TaskList/Basics/index.tsx
Due: eslint, tsc-check, graphql-schema, check-code-generation

chore: implemented view filter link, updated text for fields which were not selected
  pkg/email/model_plan_share.go
  pkg/email/templates/model_plan_share_body.html
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/model_plan.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/model_plan.go
  src/gql/gen/graphql.ts
Due: eslint, tsc-check, graphql-schema, check-code-generation

Finished payments readonly
  src/i18n/en-US/modelPlan/payments.ts
  src/views/ModelPlan/ReadOnly/Payments/index.tsx
  src/views/ModelPlan/TaskList/Payment/Recover/index.tsx
Due: eslint, tsc-check

Updated unit tests
  src/components/ShareExport/__snapshots__/index.test.tsx.snap
  src/i18n/en-US/modelPlan/payments.ts
  src/views/ModelPlan/ReadOnly/Payments/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/Payments/index.tsx
  src/views/ModelPlan/TaskList/Payment/AnticipateDependencies/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Payment/BeneficiaryCostSharing/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Payment/ClaimsBasedPayment/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Payment/Complexity/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Payment/FundingSource/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Payment/NonClaimsBasedPayment/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Payment/Recover/__snapshots__/index.test.tsx.snap
Due: eslint, tsc-check

Added better mocked data
  src/components/ShareExport/__snapshots__/index.test.tsx.snap
  src/data/mock/readonly.ts
  src/views/ModelPlan/ReadOnly/Payments/__snapshots__/index.test.tsx.snap
Due: eslint, tsc-check

Updated cypress test
  cypress/e2e/payments.spec.js
  src/data/operationalNeedMap.ts
  src/views/ModelPlan/TaskList/ITSolutions/_components/NeedQuestionAndAnswer/_component/InfoToggle.tsx
Due: eslint, tsc-check
