Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-intake-swagger

.pre-commit-config.yaml:

---
repos:
  - repo: git://github.com/detailyang/pre-commit-shell
    rev: 1.0.5
    hooks:
      - id: shell-lint

  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-yaml
      - id: detect-private-key

  - repo: git://github.com/trussworks/pre-commit-hooks
    rev: v1.1.0
    hooks:
      - id: gen-docs
        args: ['docs/adr']
      - id: mdspell
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor/|
            docs/adr/index.md
          )$

  - repo: git://github.com/Bahjat/pre-commit-golang
    rev: c3086eea8af86847dbdff2e46b85a5fe3c9d9656
    hooks:
      - id: go-fmt-import

  - repo: git://github.com/golangci/golangci-lint
    rev: v1.41.1
    hooks:
      - id: golangci-lint
        entry: bash -c 'exec golangci-lint run -j=${GOLANGCI_LINT_CONCURRENCY:-1}' # custom bash so we can override concurrency for faster dev runs

  - repo: https://github.com/pryorda/dockerfilelint-precommit-hooks
    rev: v0.1.0
    hooks:
      - id: dockerfilelint

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$

  - repo: local
    hooks:
      - id: graphql-schema
        name: graphql-schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: pkg/graph/schema.graphql

  - repo: local
    hooks:
      - id: check-code-generation
        name: check-code-generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: "pkg/graph/schema\\.graphql|pkg/graph/schema\\.resolvers\\.go|src/queries/.*\\.ts"

  # for some reason, trying to call "go run cmd/intake_schema_gen/main.go" directly from this config doesn't work;
  # so call scripts/gen_intake_schema, which calls that command and works 
  - repo: local
    hooks:
      - id: check-intake-schema-generation
        name: check-intake-schema-generation
        entry: scripts/gen_intake_schema
        language: script
        files: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json

  - repo: local
    hooks:
      - id: preprocess-intake-swagger
        name: preprocess-intake-swagger
        entry: scripts/generate_cedar_intake_client
        language: script
        files: pkg/cedar/intake/cedar_intake.json

  - repo: git://github.com/awslabs/git-secrets
    rev: 80230afa8c8bdeac766a0fece36f95ffaa0be778
    hooks:
      - id: git-secrets
        entry: git-secrets --pre_commit_hook

  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: end-of-file-fixer
        name: Add newlines to end of files
        files: \.(sql|scss|md|js|ts|tsx|go)$

Updated snapshots
  scripts/dev
  src/components/shared/MultiSelect/index.tsx
  src/views/ModelPlan/TaskList/Characteristics/Authority/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Characteristics/Involvements/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Characteristics/KeyCharacteristics/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Characteristics/TargetsAndOptions/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Characteristics/index.tsx
Due: eslint

Updated snapshots
  scripts/dev
Due: none

Ran gql script
  src/queries/types/GetExistingModelPlans.ts
Due: eslint, check-code-generation

Fixed lint on scss file
  src/components/shared/MultiSelect/index.scss
Due: none

implement common function for deserializing pq.string arrays in resolver. correct type in beneficiaries mutation
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/model_helpers.go
Due: graphql-schema, check-code-generation

add migration. page 1, GeneralCharacteristics
  migrations/V17__Add_IT_Tools.sql
Due: none

page 2
  migrations/V17__Add_IT_Tools.sql
Due: none

page 3
  migrations/V17__Add_IT_Tools.sql
Due: none

page 4
  migrations/V17__Add_IT_Tools.sql
Due: none

page 5
  migrations/V17__Add_IT_Tools.sql
Due: none

page 6
  migrations/V17__Add_IT_Tools.sql
Due: none

Use newest GQLGen and GQLParser
  go.mod
  go.sum
Due: none

Update with pre commit hooks running
  go.sum
Due: none

correct plan beneficiaries resolver
  pkg/graph/schema.resolvers.go
Due: check-code-generation

Merge branch NOREF/pq_string_array_to_enum into EASI-1982/generic_type_array_serialization
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/model_helpers.go
Due: graphql-schema, check-code-generation

CMS centers scan and value function
  pkg/graph/schema.resolvers.go
  pkg/models/model_plan.go
Due: check-code-generation

implement common function for deserializing pq.string arrays in resolver (#116)
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/model_helpers.go
Due: graphql-schema, check-code-generation

Remove NULLIF in SQL as it's not needed because ApplyChanges handles converting empty strings to nil/null
  pkg/storage/SQL/model_plan_create.sql
  pkg/storage/SQL/plan_basics_create.sql
  pkg/storage/SQL/plan_milestones_create.sql
  pkg/storage/SQL/plan_milestones_update.sql
Due: none

pages 8 and 9
  migrations/V17__Add_IT_Tools.sql
Due: none

pages 9 and 10
  migrations/V17__Add_IT_Tools.sql
Due: none

remove _TOOL_ from all fields
  migrations/V17__Add_IT_Tools.sql
Due: none

rename to plan_it_tools
  migrations/V17__Add_IT_Tools.sql
Due: none

rename to plan_it_tools
  migrations/V17__Add_Plan_IT_Tools.sql
Due: none

PlanITTools go struct, and GQL type
  migrations/V17__Add_Plan_IT_Tools.sql
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/plan_it_tools.go
Due: graphql-schema, check-code-generation

Easi 2035/ops eval and learning (#112)
  migrations/V14__Add_Plan_Ops_Eval_and_Learning.sql
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/resolvers/model_plan.go
  pkg/graph/resolvers/plan_ops_eval_and_learning.go
  pkg/graph/resolvers/plan_ops_eval_and_learning_test.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/plan_ops_eval_and_learning.go
  pkg/models/plan_participants_and_providers.go
  pkg/storage/SQL/plan_ops_eval_and_learning_create.sql
  pkg/storage/SQL/plan_ops_eval_and_learning_get_by_id.sql
  pkg/storage/SQL/plan_ops_eval_and_learning_get_by_model_plan_id.sql
  pkg/storage/SQL/plan_ops_eval_and_learning_update.sql
  pkg/storage/plan_ops_eval_and_learningStore.go
  pkg/storage/truncate.go
  scripts/data/local-db.sql
  scripts/dev
Due: graphql-schema, check-code-generation

Store, resolver, sql stubbs
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/plan_it_tools.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/storage/SQL/plan_it_tools_create.sql
  pkg/storage/SQL/plan_it_tools_get_by_id.sql
  pkg/storage/SQL/plan_it_tools_get_by_model_plan_id.sql
  pkg/storage/SQL/plan_it_tools_update.sql
  pkg/storage/plan_it_toolsStore.go
Due: graphql-schema, check-code-generation

SQL CRUD statements
  migrations/V17__Add_Plan_IT_Tools.sql
  pkg/graph/schema.resolvers.go
  pkg/storage/SQL/plan_it_tools_create.sql
  pkg/storage/SQL/plan_it_tools_get_by_id.sql
  pkg/storage/SQL/plan_it_tools_get_by_model_plan_id.sql
  pkg/storage/SQL/plan_it_tools_update.sql
Due: check-code-generation

Correct string type GQL type to be nullable. Confirmed functioning Update and create endpoint
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/model_plan.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
Due: graphql-schema, check-code-generation

Add ZERO_STRING database domain to prevent empty strings from making into the DB by mistake
  migrations/V10__Add_Plan_Discussion.sql
  migrations/V11__Add_Plan_General_Characteristics.sql
  migrations/V12__Add_Plan_Beneficiaries.sql
  migrations/V13__Add_Plan_Participants_And_Providers.sql
  migrations/V14__Add_Plan_Ops_Eval_and_Learning.sql
  migrations/V15__Add_Existing_Model.sql
  migrations/V2__Add_Domains.sql
  migrations/V4__Add_Model_Plan.sql
  migrations/V5__Add_Plan_Collaborator.sql
  migrations/V6__Add_Plan_Basics.sql
  migrations/V7__Add_Plan_Milestones.sql
  migrations/V8__Add_Plan_Document.sql
  pkg/graph/schema.resolvers_helpers.go
  scripts/data/local-db.sql
Due: none

Init participants and providers task-list
  src/components/shared/MultiSelect/index.tsx
  src/i18n/en-US/draftModelPlan/participantsAndProviders.ts
  src/i18n/en-US/index.ts
  src/i18n/en-US/modelPlanTaskList.ts
  src/queries/GetModelPlan.ts
  src/queries/GetModelPlanParticipantsAndProviders.ts
  src/queries/UpdateModelPlanProvidersAndParticipants.ts
  src/queries/types/GetModelPlan.ts
  src/queries/types/GetModelPlanProvidersAndParticipants.ts
  src/queries/types/UpdateModelPlanProvidersAndParticipants.ts
  src/types/graphql-global-types.ts
  src/utils/modelPlan.ts
  src/views/App/index.tsx
  src/views/ModelPlan/TaskList/Participants/index.tsx
  src/views/ModelPlan/TaskList/index.tsx
Due: eslint, check-code-generation

Correct enum definition
  migrations/V17__Add_Plan_IT_Tools.sql
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
Due: graphql-schema, check-code-generation

init dev data for it tools
  scripts/data/local-db.sql
Due: none

Unit tests
  pkg/graph/resolvers/plan_it_tools_test.go
  pkg/storage/truncate.go
  scripts/dev
Due: none

extend generic calculate status to accept pq.StringArray types
  pkg/models/calc_status.go
  pkg/models/plan_it_tools.go
Due: none

remove comment
  pkg/models/calc_status.go
Due: none

[EASI-2025] Disallow empty strings in TEXT fields in DB (#117)
  migrations/V10__Add_Plan_Discussion.sql
  migrations/V11__Add_Plan_General_Characteristics.sql
  migrations/V12__Add_Plan_Beneficiaries.sql
  migrations/V13__Add_Plan_Participants_And_Providers.sql
  migrations/V14__Add_Plan_Ops_Eval_and_Learning.sql
  migrations/V15__Add_Existing_Model.sql
  migrations/V2__Add_Domains.sql
  migrations/V4__Add_Model_Plan.sql
  migrations/V5__Add_Plan_Collaborator.sql
  migrations/V6__Add_Plan_Basics.sql
  migrations/V7__Add_Plan_Milestones.sql
  migrations/V8__Add_Plan_Document.sql
  pkg/graph/schema.resolvers_helpers.go
  pkg/storage/SQL/model_plan_create.sql
  pkg/storage/SQL/plan_basics_create.sql
  pkg/storage/SQL/plan_milestones_create.sql
  pkg/storage/SQL/plan_milestones_update.sql
  scripts/data/local-db.sql
Due: none

correct enum arrays to not be null in GQL definition. Also correct participants and providers name in model plan
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
Due: graphql-schema, check-code-generation

rename plan basics test_inventions to test_interventions
  migrations/V6__Add_Plan_Basics.sql
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/plan_basics_test.go
  pkg/graph/schema.graphql
  pkg/models/plan_basics.go
  pkg/storage/SQL/plan_basics_create.sql
  pkg/storage/SQL/plan_basics_get_by_id.sql
  pkg/storage/SQL/plan_basics_get_by_model_plan_id.sql
  pkg/storage/SQL/plan_basics_update.sql
  scripts/data/local-db.sql
  src/queries/CreateModelPlan.ts
  src/queries/GetModelPlan.ts
  src/queries/UpdatePlanBasics.ts
  src/queries/types/CreateModelPlan.ts
  src/queries/types/GetModelPlan.ts
  src/queries/types/UpdatePlanBasics.ts
  src/types/graphql-global-types.ts
  src/views/ModelPlan/TaskList/Basics/Overview/index.tsx
  src/views/ModelPlan/TaskList/index.test.tsx
Due: eslint, graphql-schema, check-code-generation

Added first fields of p&p
  src/i18n/en-US/draftModelPlan/participantsAndProviders.ts
  src/utils/modelPlan.ts
  src/views/ModelPlan/TaskList/Characteristics/index.tsx
  src/views/ModelPlan/TaskList/Participants/index.tsx
Due: eslint
