Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, tsc-check, graphql-schema, check-code-generation

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-yaml
        name: Check YAML formatting
      - id: detect-private-key
        name: Check for private keys
      - id: end-of-file-fixer
        files: \.(sql|scss|md|js|ts|tsx|go|yml|yaml)$
        name: Add newlines to ends of files

  - repo: https://github.com/detailyang/pre-commit-shell
    rev: v1.0.6
    hooks:
      - id: shell-lint
        name: Lint shell files

  - repo: https://github.com/trussworks/pre-commit-hooks
    rev: v1.1.1
    hooks:
      - id: mdspell
        name: Spellcheck Markdown files
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor
          )$

  - repo: https://github.com/Bahjat/pre-commit-golang
    rev: v1.0.1
    hooks:
      - id: go-fmt-import
        name: Run "goimports" on go files
        args: ['-local', 'github.com/cmsgov/mint-app']
        files: .*\.go$
        exclude: >
          (?x)^(
            .*gen/.*|
            .*generated/.*|
            .*models_gen.go|
          )$

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.48.0
    hooks:
      - id: golangci-lint
        name: Lint go files
        args: ['--concurrency', '-1'] # Run with all CPUs

  - repo: local
    hooks:
    - id: dockerfilelint
      name: Lint Dockerfile
      entry: dockerfilelint
      language: node
      additional_dependencies: [dockerfilelint]
      files: Dockerfile.*

  - repo: local
    hooks:
      - id: eslint
        name: Run eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$
        exclude: (\.(d\.ts)$)|(\.storybook)|(serviceWorker\.ts) # This should match the .eslintrc "ignorePatterns". Change one, change the other!

  - repo: local
    hooks:
      - id: tsc-check
        name: Run typescript check
        entry: scripts/pre-commit-tsc
        language: script
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false

  - repo: local
    hooks:
      - id: graphql-schema
        name: Lint GraphQL schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: pkg/graph/schema.graphql

  - repo: local
    hooks:
      - id: check-code-generation
        name: Run GraphQL code generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: "pkg/graph/schema\\.graphql|pkg/graph/schema\\.resolvers\\.go|src/queries/.*\\.ts"
        pass_filenames: false

  - repo: https://github.com/awslabs/git-secrets
    rev: b9e96b3212fa06aea65964ff0d5cda84ce935f38
    hooks:
      - id: git-secrets
        name: Check for committed secrets
        entry: git-secrets --pre_commit_hook

  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 2.0.7
    hooks:
      - id: sqlfluff-fix
        exclude: ^migrations/
      - id: sqlfluff-lint
        exclude: ^migrations/

feat: move the email function to a separate file. and stub out email
  pkg/graph/resolvers/discussion_emails.go
  pkg/graph/resolvers/plan_discussion.go
Due: none

chore: updated postman collection with input variable values
  MINT.postman_collection.json
Due: none

fix: updated migration to set modified_by and modified_dts in cases where data is being migrated
  migrations/V121__Update_Precedence_Rules.sql
Due: none

chore: merged migration steps
  migrations/V121__Update_Precedence_Rules.sql
Due: none

chore: correct nil pointer dereference
  pkg/graph/resolvers/discussion_emails.go
Due: none

QA Feedback
  src/i18n/en-US/modelPlan/beneficiaries.ts
  src/types/translation.ts
  src/utils/export/CsvData.ts
  src/views/ModelPlan/TaskList/Beneficiaries/Frequency/index.tsx
Due: eslint, tsc-check

using the correct translation
  src/views/ModelPlan/TaskList/Beneficiaries/Frequency/index.tsx
Due: eslint, tsc-check

moving out of field array and using the checkboxfield properly
  src/views/ModelPlan/TaskList/Beneficiaries/Frequency/index.tsx
Due: eslint, tsc-check

Added grid on readonly to mirror task list/stable position
  src/views/ModelPlan/Discussions/DiscussionModalWrapper.tsx
  src/views/ModelPlan/ReadOnly/Discussions/index.tsx
Due: eslint, tsc-check

update test and snaps
  src/hooks/useFetchCSVData.test.tsx
  src/views/ModelPlan/TaskList/Beneficiaries/Frequency/__snapshots__/index.test.tsx.snap
Due: eslint, tsc-check

chore: remove old comments, and combine lines in migration
  migrations/V121__Update_Funding_Source_Type.sql
  pkg/models/plan_payments.go
Due: none

[EASI-3753] - Added grid on readonly to mirror task list/stable position (#851)
  src/views/ModelPlan/Discussions/DiscussionModalWrapper.tsx
  src/views/ModelPlan/ReadOnly/Discussions/index.tsx
Due: eslint, tsc-check

update filtergroupmapping
  src/views/ModelPlan/ReadOnly/_components/FilterView/BodyContent/_filterGroupMapping.ts
Due: eslint, tsc-check

vscode now uses 'explicit' instead of true
  .vscode/settings.json
Due: none

decopling label and removing error
  src/views/ModelPlan/TaskList/Beneficiaries/Frequency/index.tsx
Due: eslint, tsc-check

Adjusted readonlysection to better handle lots of related fields, updated snaps
  src/components/ShareExport/__snapshots__/index.test.tsx.snap
  src/i18n/en-US/modelPlan/payments.ts
  src/types/translation.ts
  src/views/ModelPlan/ReadOnly/GeneralCharacteristics/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/OpsEvalAndLearning/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/ParticipantsAndProviders/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/Payments/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/Payments/index.tsx
  src/views/ModelPlan/ReadOnly/_components/ReadOnlySection/index.tsx
Due: eslint, tsc-check

Fixed incorrect notes translation affecting csv
  src/i18n/en-US/modelPlan/opsEvalAndLearning.ts
Due: eslint, tsc-check

updated basics overview
  src/views/ModelPlan/TaskList/Basics/Overview/index.tsx
Due: eslint, tsc-check

Fixed loading render issues on home pages and payments
  src/views/ModelPlan/ModelPlanOverview/index.tsx
  src/views/ModelPlan/Table/index.tsx
  src/views/ModelPlan/TaskList/Payment/AnticipateDependencies/index.tsx
  src/views/ModelPlan/TaskList/Payment/BeneficiaryCostSharing/index.tsx
  src/views/ModelPlan/TaskList/Payment/ClaimsBasedPayment/index.tsx
  src/views/ModelPlan/TaskList/Payment/Complexity/index.tsx
  src/views/ModelPlan/TaskList/Payment/FundingSource/index.tsx
  src/views/ModelPlan/TaskList/Payment/NonClaimsBasedPayment/index.tsx
  src/views/ModelPlan/TaskList/Payment/Recover/index.tsx
Due: eslint, tsc-check

[EASI-3618] Update Precedence Rules (#849)
  .vscode/settings.json
  MINT.postman_collection.json
  migrations/V121__Update_Precedence_Rules.sql
  pkg/graph/generated/generated.go
  pkg/graph/gqlresolvers/schema.resolvers.go
  pkg/graph/resolvers/plan_beneficiaries_test.go
  pkg/graph/schema.graphql
  pkg/models/plan_beneficiaries.go
  pkg/storage/SQL/plan_beneficiaries/create.sql
  pkg/storage/SQL/plan_beneficiaries/get_by_id.sql
  pkg/storage/SQL/plan_beneficiaries/get_by_model_plan_id_LOADER.sql
  pkg/storage/SQL/plan_beneficiaries/update.sql
  src/components/ShareExport/__snapshots__/index.test.tsx.snap
  src/data/mock/readonly.ts
  src/gql/apolloGQL/Beneficiaries/GetAllBeneficiaries.ts
  src/gql/apolloGQL/Beneficiaries/GetFrequency.ts
  src/gql/gen/graphql.ts
  src/gql/gen/types/GetAllBeneficiaries.ts
  src/gql/gen/types/GetFrequency.ts
  src/hooks/useFetchCSVData.test.tsx
  src/i18n/en-US/modelPlan/beneficiaries.ts
  src/i18n/en-US/modelPlan/miscellaneous.ts
  src/queries/GetAllModelData.ts
  src/queries/GetAllSingleModelPlan.ts
  src/queries/types/GetAllModelData.ts
  src/queries/types/GetAllSingleModelData.ts
  src/types/graphql-global-types.ts
  src/types/translation.ts
  src/utils/export/CsvData.ts
  src/views/ModelPlan/ReadOnly/Beneficiaries/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/Beneficiaries/index.tsx
  src/views/ModelPlan/ReadOnly/_components/FilterView/BodyContent/_filterGroupMapping.ts
  src/views/ModelPlan/ReadOnly/_components/ReadOnlySection/index.tsx
  src/views/ModelPlan/TaskList/Beneficiaries/Frequency/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Beneficiaries/Frequency/index.test.tsx
  src/views/ModelPlan/TaskList/Beneficiaries/Frequency/index.tsx
Due: eslint, tsc-check, graphql-schema, check-code-generation

feat: updated gql schema
  pkg/graph/generated/generated.go
  pkg/graph/gqlresolvers/schema.resolvers.go
  pkg/graph/schema.graphql
  src/gql/gen/graphql.ts
  src/gql/gen/types/GetAllBasics.ts
  src/gql/gen/types/GetOverview.ts
  src/queries/types/CreateModelPlan.ts
  src/queries/types/GetAllModelData.ts
  src/queries/types/GetAllSingleModelData.ts
  src/types/graphql-global-types.ts
Due: eslint, tsc-check, graphql-schema, check-code-generation

chore: updated ModelType
  pkg/models/plan_basics.go
Due: none

Added missing fields from query
  src/queries/GetAllModelData.ts
  src/queries/GetAllSingleModelPlan.ts
  src/queries/types/GetAllModelData.ts
  src/queries/types/GetAllSingleModelData.ts
Due: eslint, tsc-check, check-code-generation

rename migration so that V121 matches what is currently deployed
  migrations/V121__Update_Precedence_Rules.sql
  migrations/V122__Update_Funding_Source_Type.sql
Due: none

feat: rough pass data calls for reply email
  pkg/email/discussion_reply_created_originator.go
  pkg/graph/resolvers/discussion_emails.go
  pkg/graph/resolvers/plan_discussion.go
  pkg/storage/SQL/email/discussion_reply_to_originator_details_get.sql
  pkg/storage/emailStore.go
Due: none

chore: correct parameter selection for reply user information
  pkg/graph/resolvers/discussion_emails.go
  pkg/graph/resolvers/plan_discussion.go
Due: none

chore: refactor where data calls are being made
  pkg/graph/resolvers/discussion_emails.go
  pkg/graph/resolvers/plan_discussion.go
Due: none

chore: make data not async to prevent race condition
  pkg/graph/resolvers/plan_discussion.go
Due: none

updated modelType type && checkbox field values && update tests and mocks
  src/data/mock/readonly.ts
  src/i18n/en-US/modelPlan/basics.ts
  src/views/ModelPlan/TaskList/Basics/Overview/index.test.tsx
  src/views/ModelPlan/TaskList/Basics/Overview/index.tsx
Due: eslint, tsc-check

Add modelTypeOther to query, translation, model component
  src/gql/apolloGQL/Basics/GetOverview.ts
  src/gql/gen/graphql.ts
  src/gql/gen/types/GetOverview.ts
  src/i18n/en-US/modelPlan/basics.ts
  src/types/translation.ts
  src/views/ModelPlan/TaskList/Basics/Overview/index.tsx
Due: eslint, tsc-check

add modelType to app
  src/gql/apolloGQL/Basics/GetOverview.ts
  src/gql/gen/graphql.ts
  src/gql/gen/types/GetOverview.ts
  src/i18n/en-US/modelPlan/basics.ts
  src/types/translation.ts
  src/views/ModelPlan/TaskList/Basics/Overview/index.tsx
Due: eslint, tsc-check

[NOREF] - Fixed loading render issues on home pages and payments (#852)
  src/views/ModelPlan/ModelPlanOverview/index.tsx
  src/views/ModelPlan/Table/index.tsx
  src/views/ModelPlan/TaskList/Payment/AnticipateDependencies/index.tsx
  src/views/ModelPlan/TaskList/Payment/BeneficiaryCostSharing/index.tsx
  src/views/ModelPlan/TaskList/Payment/ClaimsBasedPayment/index.tsx
  src/views/ModelPlan/TaskList/Payment/Complexity/index.tsx
  src/views/ModelPlan/TaskList/Payment/FundingSource/index.tsx
  src/views/ModelPlan/TaskList/Payment/NonClaimsBasedPayment/index.tsx
  src/views/ModelPlan/TaskList/Payment/Recover/index.tsx
Due: eslint, tsc-check

wip: update plan basics modeltype selection
  migrations/V122__Update_PlanBasics_ModelType_MultiSelect_And_Other_Text.sql
  pkg/graph/resolvers/plan_basics_test.go
  pkg/models/plan_basics.go
  pkg/storage/SQL/plan_basics/create.sql
  pkg/storage/SQL/plan_basics/get_by_id.sql
  pkg/storage/SQL/plan_basics/get_by_model_plan_id_LOADER.sql
  pkg/storage/SQL/plan_basics/update.sql
Due: none

chore: remove unused code
  pkg/email/discussion_reply_created_originator.go
  pkg/storage/SQL/email/discussion_reply_to_originator_details_get.sql
Due: none

Discussion reply email to discussion originator (#854)
  cmd/test_email/discussion_reply_emails.go
  cmd/test_email/main.go
  pkg/email/discussion_reply_created_originator.go
  pkg/email/template_service_impl.go
  pkg/email/templates/discussion_reply_created_originator_body.html
  pkg/email/templates/discussion_reply_created_originator_subject.html
  pkg/graph/resolvers/discussion_emails.go
  pkg/graph/resolvers/plan_discussion.go
  pkg/storage/SQL/email/discussion_reply_to_originator_details_get.sql
  pkg/storage/emailStore.go
Due: none

feat: use indexing to proactively limit the number of replies sent to an email reply template
  cmd/test_email/discussion_reply_emails.go
  pkg/email/discussion_reply_created_originator.go
  pkg/email/templates/discussion_reply_created_originator_body.html
  pkg/graph/resolvers/discussion_emails.go
Due: none

Disable NPM major package upgrades in dependabot
  .github/dependabot.yml
Due: none

Disable NPM major package upgrades in dependabot (#858)
  .github/dependabot.yml
Due: none

feat: update discussion reply email subject so that these emails will group by model plan instead of who the user is who replied
  cmd/test_email/discussion_reply_emails.go
  pkg/email/discussion_reply_created_originator.go
  pkg/email/templates/discussion_reply_created_originator_subject.html
  pkg/graph/resolvers/discussion_emails.go
Due: none
