Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-intake-swagger

.pre-commit-config.yaml:

---
repos:
  - repo: git://github.com/detailyang/pre-commit-shell
    rev: 1.0.5
    hooks:
      - id: shell-lint

  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-yaml
      - id: detect-private-key

  - repo: git://github.com/trussworks/pre-commit-hooks
    rev: v1.1.0
    hooks:
      - id: gen-docs
        args: ['docs/adr']
      - id: mdspell
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor/|
            docs/adr/index.md
          )$

  - repo: git://github.com/Bahjat/pre-commit-golang
    rev: c3086eea8af86847dbdff2e46b85a5fe3c9d9656
    hooks:
      - id: go-fmt-import

  - repo: git://github.com/golangci/golangci-lint
    rev: v1.41.1
    hooks:
      - id: golangci-lint
        entry: bash -c 'exec golangci-lint run -j=${GOLANGCI_LINT_CONCURRENCY:-1}' # custom bash so we can override concurrency for faster dev runs

  - repo: https://github.com/pryorda/dockerfilelint-precommit-hooks
    rev: v0.1.0
    hooks:
      - id: dockerfilelint

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$

  - repo: local
    hooks:
      - id: graphql-schema
        name: graphql-schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: pkg/graph/schema.graphql

  - repo: local
    hooks:
      - id: check-code-generation
        name: check-code-generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: "pkg/graph/schema\\.graphql|pkg/graph/schema\\.resolvers\\.go|src/queries/.*\\.ts"

  # for some reason, trying to call "go run cmd/intake_schema_gen/main.go" directly from this config doesn't work;
  # so call scripts/gen_intake_schema, which calls that command and works 
  - repo: local
    hooks:
      - id: check-intake-schema-generation
        name: check-intake-schema-generation
        entry: scripts/gen_intake_schema
        language: script
        files: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json

  - repo: local
    hooks:
      - id: preprocess-intake-swagger
        name: preprocess-intake-swagger
        entry: scripts/generate_cedar_intake_client
        language: script
        files: pkg/cedar/intake/cedar_intake.json

  - repo: git://github.com/awslabs/git-secrets
    rev: 80230afa8c8bdeac766a0fece36f95ffaa0be778
    hooks:
      - id: git-secrets
        entry: git-secrets --pre_commit_hook

  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: end-of-file-fixer
        name: Add newlines to end of files
        files: \.(sql|scss|md|js|ts|tsx|go)$

Adding gql things
  src/queries/GetModelPlanQuery.ts
  src/views/ModelPlan/TaskList/index.tsx
Due: eslint, check-code-generation

Adding gql things
  src/queries/types/GetModelPlan.ts
Due: eslint, check-code-generation

gql wip
  src/queries/GetModelPlanQuery.ts
  src/queries/types/GetModelPlan.ts
  src/views/ModelPlan/TaskList/index.tsx
Due: eslint, check-code-generation

Adjusting some names
  src/i18n/en-US/modelPlanTaskList.ts
Due: eslint

adding loading
  src/views/ModelPlan/TaskList/index.tsx
Due: eslint

temp solution
  src/views/ModelPlan/TaskList/index.tsx
Due: eslint

add TODO comment
  src/views/ModelPlan/TaskList/index.tsx
Due: eslint

Easi 1835/translations draft model plan (#34)
  src/i18n/en-US/draftModelPlan/basics.ts
  src/i18n/en-US/draftModelPlan/beneficiaries.ts
  src/i18n/en-US/draftModelPlan/draftModelPlan.ts
  src/i18n/en-US/draftModelPlan/finalizeModelPlan.ts
  src/i18n/en-US/draftModelPlan/generalCharacteristics.ts
  src/i18n/en-US/draftModelPlan/newModel.ts
  src/i18n/en-US/draftModelPlan/operationsEvaulationAndLearning.ts
  src/i18n/en-US/draftModelPlan/participantsAndProviders.ts
  src/i18n/en-US/draftModelPlan/payment.ts
Due: eslint

corrected dev data, add model basics data seeding
  cmd/devdata/main.go
  pkg/storage/plan_basicsStore.go
  pkg/storage/planbasics/errorhandling.go
  scripts/dev
Due: none

model plan individual resolver implmented
  cmd/devdata/main.go
  pkg/graph/resolvers/model_planR.go
  pkg/graph/resolvers/planbasics.go
  pkg/graph/schema.resolvers.go
  pkg/storage/model_planStore.go
  pkg/storage/planbasics/errorhandling.go
Due: check-code-generation

new testing utilities, WIP model plan test collection
  pkg/graph/resolvers/model_planR_test.go
  pkg/graph/resolvers/planbasics_test.go
  pkg/graph/resolvers/resolver_test_utilities.go
Due: none

New plan gql mutation
  pkg/graph/model/models_gen.go
  src/queries/CreateDraftModelPlan.ts
  src/queries/types/createModelPlan.ts
  src/types/graphql-global-types.ts
  src/views/ModelPlan/NewPlan/index.tsx
Due: eslint, check-code-generation

Plan milestones rough pass, WIP testing and pre-local review
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/resolvers/planmilestones.go
  pkg/graph/resolvers/planmilestones_test.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/basemodel.go
  pkg/models/model_plan.go
  pkg/models/plan_basics.go
  pkg/models/plan_milestones.go
  pkg/shared/utility_sql/query_construction.go
  pkg/shared/utility_uuid/validation.go
  pkg/storage/SQL/plan_basics_create.sql
  pkg/storage/SQL/plan_basics_update.sql
  pkg/storage/SQL/plan_milestones_create.sql
  pkg/storage/SQL/plan_milestones_get_by_id.sql
  pkg/storage/SQL/plan_milestones_update.sql
  pkg/storage/genericmodel/errorhandling.go
  pkg/storage/model_planStore.go
  pkg/storage/plan_basicsStore.go
  pkg/storage/plan_milestonesStore.go
  pkg/storage/planbasics/errorhandling.go
  pkg/storage/store.go
Due: graphql-schema, check-code-generation

Init create model name/mutation
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.resolvers_helpers.go
  src/queries/CreateDraftModelPlan.ts
  src/queries/types/createModelPlan.ts
  src/types/graphql-global-types.ts
  src/utils/flattenErrors.ts
  src/validations/newModelPlan.ts
  src/views/App/index.tsx
  src/views/Home/index.tsx
  src/views/ModelPlan/Collaborators/index.tsx
  src/views/ModelPlan/NewPlan/index.tsx
  src/views/ModelPlan/StepsOverview/index.tsx
Due: eslint, check-code-generation

working test files. Removed failing test that resolved around legacy accessibility request (EASI specific)
  pkg/graph/resolvers/model_planR_test.go
  pkg/graph/resolvers/planbasics_test.go
  pkg/services/metrics_test.go
Due: none

Added query for getting all model plans on home page table
  src/i18n/en-US/draftModelPlan/draftModelPlan.ts
  src/i18n/en-US/index.ts
  src/i18n/en-US/modelPlan.ts
  src/queries/GetDraftModelPlans.ts
  src/queries/types/GetDraftModelPlans.ts
  src/views/ModelPlan/NewPlan/index.tsx
  src/views/ModelPlan/Table/index.tsx
Due: eslint, check-code-generation

plan basics test methods and plan basics status as a calculated value, optional GQL parameter
  pkg/graph/resolvers/model_planR_test.go
  pkg/graph/resolvers/planbasics.go
  pkg/graph/resolvers/planbasics_test.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/graph/schema.resolvers_helpers.go
  pkg/models/plan_basics.go
Due: graphql-schema, check-code-generation

dont require plan status from GQL input, set it in the backend code
  cmd/devdata/main.go
  pkg/graph/generated/generated.go
  pkg/graph/schema.resolvers_helpers.go
  pkg/models/plan_basics.go
  pkg/storage/plan_basicsStore.go
Due: none

Begain UI work for plan collaborator
  src/i18n/en-US/draftModelPlan/draftModelPlan.ts
  src/i18n/en-US/draftModelPlan/newModel.ts
  src/views/App/index.tsx
  src/views/ModelPlan/Collaborators/AddCollaborator/index.tsx
  src/views/ModelPlan/Collaborators/index.tsx
  src/views/ModelPlan/Collaborators/table.tsx
  src/views/ModelPlan/NewPlan/index.tsx
  src/views/ModelPlan/Table/index.tsx
Due: eslint

ran yarn run v1.22.18 $ eslint '**/*.{ts,tsx}' --fix
  src/i18n/en-US/cookies.ts
Due: eslint

Removing nalme
  src/views/ModelPlan/TaskList/components/TaskListSideNav/index.tsx
Due: eslint

clean up code
  src/views/ModelPlan/TaskList/index.tsx
Due: eslint

First attempt for test
  src/views/ModelPlan/TaskList/index.test.tsx
Due: eslint

redirect to home
  src/views/ModelPlan/TaskList/components/TaskListSideNav/index.tsx
Due: eslint

Fix key warning
  src/views/ModelPlan/TaskList/index.tsx
Due: eslint

add last udpated status copu
  src/i18n/en-US/modelPlanTaskList.ts
Due: eslint

add last udpated status copu
  src/views/ModelPlan/TaskList/components/TaskListItem/index.tsx
Due: eslint

add last udpated status copu
  src/views/ModelPlan/TaskList/index.scss
  src/views/ModelPlan/TaskList/index.tsx
Due: eslint

Combobox mock for Cedar users
  src/queries/UpdateDraftModelPlan.ts
  src/queries/types/UpdateModelPlan.ts
  src/views/ModelPlan/Collaborators/AddCollaborator/index.tsx
  src/views/ModelPlan/Table/index.tsx
Due: eslint, check-code-generation

wip
  src/views/ModelPlan/TaskList/index.test.tsx
Due: eslint

Cleaned up the test
  src/views/ModelPlan/TaskList/index.test.tsx
Due: eslint

Updated to match new spec from main
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/resolvers/planbasics.go
  pkg/graph/resolvers/planmilestones.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/basemodel.go
  pkg/models/model_plan.go
  pkg/models/plan_basics.go
  pkg/models/plan_milestones.go
  pkg/storage/SQL/plan_basics_create.sql
  pkg/storage/SQL/plan_basics_update.sql
  pkg/storage/SQL/plan_milestones_get_by_model_plan_id.sql
  pkg/storage/genericmodel/errorhandling.go
  pkg/storage/plan_basicsStore.go
  pkg/storage/plan_milestonesStore.go
Due: graphql-schema, check-code-generation

pass down key to adjust test id name for easier testing
  src/views/ModelPlan/TaskList/components/TaskListItem/index.tsx
  src/views/ModelPlan/TaskList/index.test.tsx
  src/views/ModelPlan/TaskList/index.tsx
Due: eslint

Plan collaborator logic
  migrations/V3__Add_DataTypes.sql
  migrations/V5__Add_Plan_Collaborator.sql
  pkg/apperrors/errors.go
  pkg/cedar/cedarldap/gen/client/l_d_a_p_client.go
  pkg/cedar/cedarldap/gen/client/operations/authenticate_parameters.go
  pkg/cedar/cedarldap/gen/client/operations/authenticate_responses.go
  pkg/cedar/cedarldap/gen/client/operations/health_check_parameters.go
  pkg/cedar/cedarldap/gen/client/operations/health_check_responses.go
  pkg/cedar/cedarldap/gen/client/operations/operations_client.go
  pkg/cedar/cedarldap/gen/client/operations/person_ids_parameters.go
  pkg/cedar/cedarldap/gen/client/operations/person_ids_responses.go
  pkg/cedar/cedarldap/gen/client/operations/person_parameters.go
  pkg/cedar/cedarldap/gen/client/operations/person_responses.go
  pkg/cedar/cedarldap/gen/models/authenticate_response.go
  pkg/cedar/cedarldap/gen/models/credentials.go
  pkg/cedar/cedarldap/gen/models/health_check_response.go
  pkg/cedar/cedarldap/gen/models/person.go
  pkg/cedar/cedarldap/gen/models/person_list.go
  pkg/cedar/cedarldap/gen/models/response.go
  pkg/cedar/cedarldap/swagger-impl.json
  pkg/cedar/cedarldap/translated_client.go
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/resolver.go
  pkg/graph/resolvers/plan_collaborator.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/graph/schema.resolvers_helpers.go
  pkg/local/cedar_ldap.go
  pkg/models/plan_collaborator.go
  pkg/models/shared_enums.go
  pkg/server/routes.go
  pkg/storage/SQL/plan_collaborator_create.sql
  pkg/storage/SQL/plan_collaborator_delete.sql
  pkg/storage/SQL/plan_collaborator_fetch_by_model_plan_id.sql
  pkg/storage/SQL/plan_collaborator_update.sql
  pkg/storage/plan_collaboratorStore.go
Due: graphql-schema, check-code-generation

Add unique constraint on plan collaborators
  migrations/V5__Add_Plan_Collaborator.sql
Due: none

Uncomment local ldap client
  pkg/server/routes.go
Due: none

clean up old TODO comments
  cmd/devdata/main.go
  pkg/graph/schema.resolvers.go
  pkg/graph/schema.resolvers_helpers.go
Due: check-code-generation

Updated unit tests for planmilestones create and get
  pkg/graph/resolvers/planmilestones_test.go
Due: none

correct typo on TestPlanBasics
  pkg/graph/resolvers/planbasics_test.go
Due: none

Update collaborator / plan unique syntax
  migrations/V5__Add_Plan_Collaborator.sql
Due: none
