Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-cedar-swagger

Path conditions:
  dockerfilelint: any of: Dockerfile.*
  eslint: any of: \.(js|jsx|ts|tsx)$
  graphql-schema: any of: pkg/graph/schema.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts
  check-intake-schema-generation: any of: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json|pkg/cedar/intake/translation/constants\.go
  preprocess-cedar-swagger: any of: pkg/cedar/intake/cedar_intake.json|pkg/cedar/core/cedar_core.json

Fixed discussion rerender/refetch
  src/views/ModelPlan/Discussions/index.tsx
Due: eslint

comment to clarify why we skip access check logive for ModelPlanCreate
  pkg/graph/resolvers/model_plan.go
Due: none

remove some comments and add mobilenav component
  src/views/ModelPlan/ReadOnly/index.tsx
Due: eslint

MObile Navigation component inti
  src/views/ModelPlan/ReadOnly/_components/MobileNav/index.scss
  src/views/ModelPlan/ReadOnly/_components/MobileNav/index.tsx
Due: eslint

move the mobile nav component
  src/views/ModelPlan/ReadOnly/index.tsx
Due: eslint

change classnamle
  src/views/ModelPlan/ReadOnly/_components/MobileNav/index.tsx
Due: eslint

Dynamic styles
  src/views/ModelPlan/ReadOnly/_components/MobileNav/index.tsx
Due: eslint

add 'back to all models' to subnav
  src/views/ModelPlan/ReadOnly/_components/MobileNav/index.scss
  src/views/ModelPlan/ReadOnly/_components/MobileNav/index.tsx
Due: eslint

remove unused resolver code, corect typos
  pkg/graph/resolvers/plan_favorite.go
  pkg/graph/resolvers/plan_favorite_test.go
  pkg/graph/schema.resolvers.go
  pkg/storage/SQL/plan_favorite_collection_by_user.sql
  pkg/storage/plan_favoriteStore.go
Due: check-code-generation

Moved Contact Info into its own component
  src/views/ModelPlan/ReadOnly/_components/ContactInfo/index.tsx
  src/views/ModelPlan/ReadOnly/index.tsx
Due: eslint

passing down the model id
  src/views/ModelPlan/ReadOnly/index.tsx
Due: eslint

Call the collaborator and map through it
  src/views/ModelPlan/ReadOnly/_components/ContactInfo/index.tsx
Due: eslint

[NOREF] - Fixed discussion rerender/refetch (#193)
  src/views/ModelPlan/Discussions/index.tsx
Due: eslint

add a todo comment
  src/views/ModelPlan/ReadOnly/_components/ContactInfo/index.tsx
Due: eslint

remove some more status read only weirdness
  src/i18n/en-US/modelPlan.ts
  src/views/ModelPlan/Status/index.tsx
Due: eslint

update snaps
  src/views/ModelPlan/TaskList/_components/TaskListSideNav/__snapshots__/index.test.tsx.snap
Due: none

update tests
  src/views/ModelPlan/ReadOnly/index.test.tsx
  src/views/ModelPlan/ReadOnly/index.tsx
Due: eslint

adjust the key
  src/views/ModelPlan/ReadOnly/_components/Sidenav/index.tsx
Due: eslint

add testing id
  src/views/ModelPlan/ReadOnly/_components/ContactInfo/index.tsx
Due: eslint

remove only in testing
  src/views/ModelPlan/ReadOnly/index.test.tsx
Due: eslint

add more tests
  src/views/ModelPlan/ReadOnly/index.test.tsx
Due: eslint

Add testing id
  src/views/ModelPlan/ReadOnly/_components/Sidenav/index.tsx
Due: eslint

update snaps
  src/views/ModelPlan/ReadOnly/__snapshots__/index.test.tsx.snap
Due: none

add modelPlanRelation to favorites. Add pre-create and pre-delete checks
  pkg/graph/resolvers/plan_favorite.go
  pkg/models/plan_favorite.go
Due: none

chore: added support for loading configs from a file
  config/emailServiceConfig.yaml
  config/test/emailServiceConfig.yaml
  pkg/shared/oddmail/email_service.go
  pkg/shared/oddmail/email_service_config.go
  pkg/shared/oddmail/go_simple_mail_service.go
  pkg/shared/oddmail/go_simple_mail_service_config.go
  pkg/shared/oddmail/testGoSimpleMailService/go_simple_mail_service_test.go
Due: none

add email to plan collaborator and add email domain to DB
  migrations/V2__Add_Domains.sql
  migrations/V5__Add_Plan_Collaborator.sql
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/resolvers/model_plan.go
  pkg/graph/resolvers/plan_collaborator.go
  pkg/graph/resolvers/plan_collaborator_test.go
  pkg/graph/resolvers/resolver_test.go
  pkg/graph/schema.graphql
  pkg/models/plan_collaborator.go
  pkg/storage/SQL/plan_collaborator_create.sql
  pkg/storage/SQL/plan_collaborator_delete.sql
  pkg/storage/SQL/plan_collaborator_fetch_by_id.sql
  pkg/storage/SQL/plan_collaborator_fetch_by_model_plan_id.sql
  pkg/storage/SQL/plan_collaborator_update.sql
  src/types/graphql-global-types.ts
Due: eslint, graphql-schema, check-code-generation

add seed data
  scripts/data/local-db.sql
Due: none

chore: wrote a test to check loading go simple mail service config from file
  pkg/shared/oddmail/go_simple_mail_service.go
  pkg/shared/oddmail/go_simple_mail_service_config.go
  pkg/shared/oddmail/testGoSimpleMailService/go_simple_mail_service_test.go
Due: none

Fixed subscription import
  src/views/ModelPlan/TaskList/index.tsx
Due: eslint

Added email to collaborator gql query/mutations
  src/queries/Collaborators/CreateModelPlanCollaborator.ts
  src/queries/Collaborators/GetModelCollaborators.ts
  src/queries/Collaborators/GetModelPlanCollaborator.ts
  src/queries/Collaborators/UpdateModelPlanCollaborator.ts
  src/queries/Collaborators/types/CreateModelPlanCollaborator.ts
  src/queries/Collaborators/types/GetModelCollaborator.ts
  src/queries/Collaborators/types/GetModelCollaborators.ts
  src/queries/Collaborators/types/UpdateModelPlanCollaborator.ts
  src/views/ModelPlan/Collaborators/AddCollaborator/index.tsx
  src/views/ModelPlan/Collaborators/index.test.tsx
Due: eslint, check-code-generation

Add comment to plan collaborator
  pkg/models/plan_collaborator.go
Due: none

correct SQL to add createdDts
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/plan_favorite.go
  pkg/graph/schema.graphql
  pkg/storage/SQL/plan_favorite_create.sql
Due: graphql-schema, check-code-generation

add email to plan collaborator and add email domain to DB (#195)
  migrations/V2__Add_Domains.sql
  migrations/V5__Add_Plan_Collaborator.sql
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/resolvers/model_plan.go
  pkg/graph/resolvers/plan_collaborator.go
  pkg/graph/resolvers/plan_collaborator_test.go
  pkg/graph/resolvers/resolver_test.go
  pkg/graph/schema.graphql
  pkg/models/plan_collaborator.go
  pkg/storage/SQL/plan_collaborator_create.sql
  pkg/storage/SQL/plan_collaborator_delete.sql
  pkg/storage/SQL/plan_collaborator_fetch_by_id.sql
  pkg/storage/SQL/plan_collaborator_fetch_by_model_plan_id.sql
  pkg/storage/SQL/plan_collaborator_update.sql
  scripts/data/local-db.sql
  src/queries/Collaborators/CreateModelPlanCollaborator.ts
  src/queries/Collaborators/GetModelCollaborators.ts
  src/queries/Collaborators/GetModelPlanCollaborator.ts
  src/queries/Collaborators/UpdateModelPlanCollaborator.ts
  src/queries/Collaborators/types/CreateModelPlanCollaborator.ts
  src/queries/Collaborators/types/GetModelCollaborator.ts
  src/queries/Collaborators/types/GetModelCollaborators.ts
  src/queries/Collaborators/types/UpdateModelPlanCollaborator.ts
  src/types/graphql-global-types.ts
  src/views/ModelPlan/Collaborators/AddCollaborator/index.tsx
  src/views/ModelPlan/Collaborators/index.test.tsx
Due: eslint, graphql-schema, check-code-generation

update seed data from merge conflict
  scripts/data/local-db.sql
Due: none

updated to have email
  src/views/ModelPlan/ReadOnly/_components/ContactInfo/index.tsx
Due: eslint

Copy updates
  src/i18n/en-US/index.ts
  src/i18n/en-US/readOnly/readOnlyModelPlan.ts
Due: eslint

Add the header for Model Plan page
  src/views/ModelPlan/index.tsx
Due: eslint

following section
  src/views/ModelPlan/index.tsx
Due: eslint

work work
  src/i18n/en-US/readOnly/readOnlyModelPlan.ts
  src/views/ModelPlan/index.tsx
Due: eslint
