Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, tsc-check, graphql-schema, check-code-generation

dockerfilelint:
  name: Lint Dockerfile
  entry: dockerfilelint
  language: node
  additional_dependencies:
  - dockerfilelint

eslint:
  name: Run eslint
  entry: scripts/pre-commit-eslint
  language: script

tsc-check:
  name: Run typescript check
  entry: scripts/pre-commit-tsc
  language: script
  pass_filenames: false

graphql-schema:
  name: Lint GraphQL schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script

check-code-generation:
  name: Run GraphQL code generation
  entry: scripts/pre-commit-check-code-generation
  language: script
  pass_filenames: false

[EASI-3326] - Phases involved HKC (#764)
  src/i18n/en-US/helpAndKnowledge/Articles/phasesInvolved.ts
  src/i18n/en-US/index.ts
  src/views/HelpAndKnowledge/Articles/AllArticles/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/Articles/ModelSolutionDesign/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/Articles/ModelSolutionImplementation/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/Articles/PhasesInvolved/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/Articles/PhasesInvolved/index.test.tsx
  src/views/HelpAndKnowledge/Articles/PhasesInvolved/index.tsx
  src/views/HelpAndKnowledge/Articles/UtilizingSolutions/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/Articles/index.tsx
  src/views/HelpAndKnowledge/index.tsx
Due: eslint, tsc-check

[EASI-3366] - Removed link on track solution card (#765)
  src/views/ModelPlan/TaskList/ITSolutions/_components/CheckboxCard/index.tsx
Due: eslint, tsc-check

chore: migration update to update audit table config
  migrations/V110__Alter_Team_Role_To_Array.sql
  pkg/worker/aggregated_digest_email_job_test.go
  pkg/worker/analyzed_audit_job.go
  pkg/worker/analyzed_audit_job_test.go
  pkg/worker/digest_email_job_test.go
  pkg/worker/worker_test.go
Due: none

feat: parse team_roles string to string array
  pkg/worker/analyzed_audit_job.go
Due: none

chore: update postman collection
  MINT.postman_collection.json
Due: none

chore: updated postman endpoints to use vars
  MINT.postman_collection.json
Due: none

linting
  migrations/V110__Alter_Team_Role_To_Array.sql
Due: none

Revert gqlgen upgrade
  go.mod
  go.sum
Due: none

Run go mod tidy
  go.mod
  go.sum
Due: none

Enable edit button for all user roles
  src/views/ModelPlan/Collaborators/table.tsx
Due: eslint, tsc-check

Correctly enable edit button for all user roles
  src/views/ModelPlan/Collaborators/table.tsx
Due: eslint, tsc-check

PoC ga and gtag stuff
  index.html
  src/index.tsx
  src/views/UserInfoWrapper/index.tsx
Due: eslint, tsc-check

Removed unneeded translation and test
  src/i18n/en-US/draftModelPlan/discussions.ts
  src/views/ModelPlan/Discussions/QuestionAndReply.tsx
  src/views/ModelPlan/Discussions/index.test.tsx
Due: eslint, tsc-check

[NOREF] - Removed unneeded translation and test (#768)
  src/i18n/en-US/draftModelPlan/discussions.ts
  src/views/ModelPlan/Discussions/QuestionAndReply.tsx
  src/views/ModelPlan/Discussions/index.test.tsx
Due: eslint, tsc-check

feat: rename migration
  migrations/V110__Add_Tag_Table.sql
Due: none

Added event listeners
  src/components/Mention/index.tsx
  src/queries/CreateModelPlanReply.ts
  src/queries/Discussions/CreateModelPlanDiscussion.ts
  src/queries/Discussions/GetModelPlanDiscussions.ts
  src/queries/Discussions/types/CreateModelPlanDiscussion.ts
  src/queries/Discussions/types/GetModelPlanDiscussions.ts
  src/queries/GetAllModelData.ts
  src/queries/GetAllSingleModelPlan.ts
  src/queries/GetModelPlan.ts
  src/queries/types/CreateModelPlanReply.ts
  src/queries/types/GetAllModelData.ts
  src/queries/types/GetAllSingleModelData.ts
  src/queries/types/GetModelPlan.ts
  src/types/graphql-global-types.ts
  src/utils/export/CsvData.ts
  src/views/ModelPlan/Discussions/QuestionAndReply.tsx
  src/views/ModelPlan/Discussions/Replies/index.tsx
  src/views/ModelPlan/Discussions/SingleDiscussion.tsx
  src/views/ModelPlan/Discussions/index.tsx
Due: eslint, tsc-check, check-code-generation

Added event listeners
  src/components/Mention/index.tsx
  src/components/Mention/style.scss
Due: eslint, tsc-check

Added event listeners
  src/components/Mention/index.tsx
Due: eslint, tsc-check

add more parameters in utils file
  src/utils/modelPlan.ts
Due: eslint, tsc-check

adding disabled checkbox if last model lead
  src/components/shared/MultiSelect/index.tsx
  src/views/ModelPlan/Collaborators/AddCollaborator/index.tsx
  src/views/ModelPlan/Collaborators/index.tsx
Due: eslint, tsc-check

Made custom mention a function that takes in history to route
  src/components/Mention/index.tsx
Due: eslint, tsc-check

make them optional
  src/components/shared/MultiSelect/index.tsx
  src/views/ModelPlan/Collaborators/AddCollaborator/index.tsx
Due: eslint, tsc-check

make model lead sorted first
  src/views/ModelPlan/Collaborators/table.tsx
Due: eslint, tsc-check

make it not clearable if lastmodel lead
  src/components/shared/MultiSelect/index.tsx
Due: eslint, tsc-check

new alert for last lead
  src/i18n/en-US/modelPlan/collaborators.ts
  src/views/ModelPlan/Collaborators/AddCollaborator/index.tsx
Due: eslint, tsc-check

updated snaps
  src/views/ModelPlan/Collaborators/AddCollaborator/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/__snapshots__/index.test.tsx.snap
Due: none

Added styling per figma, added eua to render
  src/components/Mention/index.tsx
  src/components/Mention/style.scss
Due: eslint, tsc-check

feat: WIP adding a useraccount by a username
  pkg/graph/resolvers/plan_discussion.go
  pkg/graph/resolvers/plan_discussion_test.go
  pkg/graph/resolvers/resolver_test.go
  pkg/graph/resolvers/tag.go
  pkg/graph/schema.resolvers.go
  pkg/models/tagged_html.go
  pkg/models/tagged_html_test.go
  pkg/sanitization/html.go
  pkg/storage/plan_discussionStore.go
  pkg/storage/tagStore.go
  pkg/worker/worker_test.go
Due: check-code-generation

drying up the queries
  src/views/ModelPlan/Collaborators/AddCollaborator/index.tsx
Due: eslint, tsc-check

Upgrade to storybook 7
  .storybook/main.js
  package.json
  src/components/Tabs/index.scss
  yarn.lock
Due: tsc-check

Simplified data for GA, removed gtag for debug
  index.html
  src/views/FlagsWrapper/index.tsx
  src/views/UserInfoWrapper/index.tsx
Due: eslint, tsc-check

Removed unneeded commented out code
  src/index.tsx
Due: eslint, tsc-check

Added readonly capability
  src/components/Mention/MentionList.tsx
  src/components/Mention/index.tsx
  src/components/Mention/style.scss
  src/components/shared/TruncatedText/index.tsx
  src/views/ModelPlan/Discussions/QuestionAndReply.tsx
  src/views/ModelPlan/Discussions/SingleDiscussion.tsx
Due: eslint, tsc-check

Added readonly capability, updated tests
  src/components/AskAQuestion/index.test.tsx
  src/views/Landing/index.tsx
  src/views/ModelPlan/Discussions/index.test.tsx
  src/views/ModelPlan/TaskList/index.test.tsx
Due: eslint, tsc-check

udpate snaps
  src/views/ModelPlan/Collaborators/AddCollaborator/__snapshots__/index.test.tsx.snap
Due: none

Fixed min height style on p element, removed unneeded discussion props
  src/components/Mention/index.tsx
  src/components/Mention/style.scss
  src/views/Landing/index.tsx
  src/views/ModelPlan/Discussions/FormatDiscussion.tsx
  src/views/ModelPlan/Discussions/SingleDiscussion.tsx
  src/views/ModelPlan/Discussions/index.tsx
Due: eslint, tsc-check

Fixed loading on discussion center
  src/views/ModelPlan/Discussions/index.tsx
Due: eslint, tsc-check

addressing error
  src/views/ModelPlan/Collaborators/AddCollaborator/index.tsx
Due: eslint, tsc-check

udpate snaps[]
  src/views/ModelPlan/Collaborators/AddCollaborator/__snapshots__/index.test.tsx.snap
Due: none

Fixed error banner not appearing on the correct discussion panel
  src/views/ModelPlan/Discussions/QuestionAndReply.tsx
  src/views/ModelPlan/Discussions/index.tsx
Due: eslint, tsc-check

Path conditions:
  dockerfilelint: any of: Dockerfile.*
  eslint: any of: \.(js|jsx|ts|tsx)$, but not: (\.(d\.ts)$)|(\.storybook)|(serviceWorker\.ts)
  tsc-check: any of: \.(js|jsx|ts|tsx)$
  graphql-schema: any of: pkg/graph/schema.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts
