Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, tsc-check, graphql-schema, check-code-generation

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch
        args: [
          '--pattern', '^(?!((main)|(feature\/EASI-\d{1,5})|((EASI-\d{1,5}|NOREF|dependabot)\/[a-zA-Z0-9\-\._/]+))$).*',
          '--branch', '' # Adding this to remove the default protection on `main` so that CI checks can pass
        ]
        name: Enforce branch naming patterns
        description: Enforces branch naming policy. Allowed branch patterns are 'EASI-#', 'EASI-#/*', 'feature/EASI-#', 'NOREF/*', and 'dependabot/*'. A feature branch like feature/EASI-2020 would have branches like EASI-2020/frontend and EASI-2020/backend merge into it.
      - id: check-yaml
        name: Check YAML formatting
      - id: detect-private-key
        name: Check for private keys
      - id: end-of-file-fixer
        files: \.(sql|scss|md|js|ts|tsx|go|yml|yaml)$
        name: Add newlines to ends of files

  - repo: https://github.com/detailyang/pre-commit-shell
    rev: v1.0.6
    hooks:
      - id: shell-lint
        name: Lint shell files

  - repo: https://github.com/trussworks/pre-commit-hooks
    rev: v1.1.1
    hooks:
      - id: mdspell
        name: Spellcheck Markdown files
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor
          )$

  - repo: https://github.com/Bahjat/pre-commit-golang
    rev: v1.0.1
    hooks:
      - id: go-fmt-import
        name: Run "goimports" on go files
        args: ['-local', 'github.com/cmsgov/mint-app']
        files: .*\.go$
        exclude: >
          (?x)^(
            .*gen/.*|
            .*generated/.*|
            .*models_gen.go|
          )$

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.48.0
    hooks:
      - id: golangci-lint
        name: Lint go files
        args: ['--concurrency', '-1'] # Run with all CPUs

  - repo: local
    hooks:
    - id: dockerfilelint
      name: Lint Dockerfile
      entry: dockerfilelint
      language: node
      additional_dependencies: [dockerfilelint]
      files: Dockerfile.*

  - repo: local
    hooks:
      - id: eslint
        name: Run eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$

  - repo: local
    hooks:
      - id: tsc-check
        name: Run typescript check
        entry: scripts/pre-commit-tsc
        language: script
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false

  - repo: local
    hooks:
      - id: graphql-schema
        name: Lint GraphQL schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: pkg/graph/schema.graphql

  - repo: local
    hooks:
      - id: check-code-generation
        name: Run GraphQL code generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: "pkg/graph/schema\\.graphql|pkg/graph/schema\\.resolvers\\.go|src/queries/.*\\.ts"
        pass_filenames: false

  - repo: https://github.com/awslabs/git-secrets
    rev: b9e96b3212fa06aea65964ff0d5cda84ce935f38
    hooks:
      - id: git-secrets
        name: Check for committed secrets
        entry: git-secrets --pre_commit_hook

  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 1.2.1
    hooks:
      - id: sqlfluff-fix
        exclude: ^scripts/data/
      - id: sqlfluff-lint
        exclude: ^scripts/data/

feat: disable op need trigger for plan payments
  migrations/V60__Update_Plan_Payments_To_User_Account_Table.sql
Due: none

fix: removed debug print statement, fixed principal references to use testConfigs
  pkg/graph/resolvers/plan_cr_tdl.go
  pkg/graph/resolvers/plan_cr_tdl_test.go
Due: none

feat: migrate plan payments models and schema to the user table
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/model_plan.go
  pkg/graph/resolvers/plan_payments_test.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/plan_payments.go
  src/queries/Payments/types/GetRecover.ts
  src/queries/types/GetAllModelData.ts
  src/queries/types/GetAllSingleModelData.ts
  src/queries/types/GetModelPlan.ts
Due: eslint, tsc-check, graphql-schema, check-code-generation

feat: add user account types to the postman collection
  MINT.postman_collection.json
Due: none

feat: update python script to create beneficiaries
  scripts/table_user_account_migration.py
Due: none

feat: generated SQL for updating Plan_Beneficiaries to use the User Account table
  migrations/V61__Update_Plan_Beneficiaries_To_User_Account_Table.sql
Due: none

chore: disable opneeds trigger on beneficiaries.
  migrations/V61__Update_Plan_Beneficiaries_To_User_Account_Table.sql
Due: none

feat: Migrate beneficiaries model and schema to user table
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/model_plan.go
  pkg/graph/resolvers/plan_beneficiaries_test.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/plan_beneficiaries.go
  src/queries/Beneficiaries/types/GetFrequency.ts
  src/queries/types/GetAllModelData.ts
  src/queries/types/GetAllSingleModelData.ts
  src/queries/types/GetModelPlan.ts
Due: eslint, tsc-check, graphql-schema, check-code-generation

feat: update postman collection to include different possible user accounts
  MINT.postman_collection.json
Due: none

feat: update python script to migrate g charactrst
  scripts/table_user_account_migration.py
Due: none

feat: generated SQL for updating Plan_General_Characteristics to use the User Account table
  migrations/V62__Update_Plan_General_Characteristics_To_User_Account_Table.sql
Due: none

feat: disable op need trigger for plan general characteristics
  migrations/V62__Update_Plan_General_Characteristics_To_User_Account_Table.sql
Due: none

feat: migrate plan general characteristics models and schema
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/model_plan.go
  pkg/graph/resolvers/plan_general_characteristics_test.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/plan_general_characteristics.go
  src/queries/GeneralCharacteristics/types/GetAuthority.ts
  src/queries/types/GetAllModelData.ts
  src/queries/types/GetAllSingleModelData.ts
  src/queries/types/GetModelPlan.ts
Due: eslint, tsc-check, graphql-schema, check-code-generation

feat: updated postman collection to show user account types on update general characteristics
  MINT.postman_collection.json
Due: none

chore: fix broken unit test
  pkg/graph/resolvers/plan_general_characteristics_test.go
Due: none

chore: disable opneeds trigger unit test with testing.skip()
  pkg/graph/resolvers/operational_need_triggers_test.go
Due: none

chore: move disable operational need trigger to a separate functionn
  migrations/V58__Update_Plan_Ops_Eval_and_Learning_To_User_Account_Table.sql
  migrations/V59__Disable_All_Operational_Need_Trigger.sql
Due: none

chore: skip composite column need trigger test
  pkg/graph/resolvers/operational_need_triggers_test.go
Due: none

chore: remove logic to diable audit trigger in individual migrations as it now is in migration V59
  migrations/V60__Update_Plan_Participants_and_Providers_To_User_Account_Table.sql
  migrations/V61__Update_Plan_Payments_To_User_Account_Table.sql
  migrations/V62__Update_Plan_Beneficiaries_To_User_Account_Table.sql
  migrations/V63__Update_Plan_General_Characteristics_To_User_Account_Table.sql
Due: none

Easi 1638/data backfill (#375)
  .gitignore
  cmd/backfill/backfillEntry.go
  cmd/backfill/backfiller.go
  cmd/backfill/data/dataTranslation.csv
  cmd/backfill/data/dataTranslationFull.csv
  cmd/backfill/data/enumTranslations.json
  cmd/backfill/enumTranslation.go
  cmd/backfill/main.go
  cmd/backfill/possibleUser.go
  cmd/backfill/translation.go
  cmd/backfill/uploader.go
  go.mod
  go.sum
Due: none

fix: removed migration generated during testing
  migrations/V53__Update_plan_discussion_To_User_Account_Table.sql
Due: none

fix: disabled checking if the repo is dirty before generating migration, disabled auto commit
  scripts/table_user_account_migration.py
Due: none

fix: added missing changes from previous commit
  scripts/table_user_account_migration.py
Due: none

feat: remove data-backfill adr added
  docs/adr/0010-remove-data-backfill.md
Due: none

feat: add notes about how to restore the backfill if needed in the future
  docs/adr/0010-remove-data-backfill.md
Due: none

chore: remove the data backfill command, and unused go modules
  cmd/backfill/backfillEntry.go
  cmd/backfill/backfiller.go
  cmd/backfill/data/dataTranslation.csv
  cmd/backfill/data/dataTranslationFull.csv
  cmd/backfill/data/enumTranslations.json
  cmd/backfill/enumTranslation.go
  cmd/backfill/main.go
  cmd/backfill/possibleUser.go
  cmd/backfill/translation.go
  cmd/backfill/uploader.go
Due: none

chore: remove github.com/icza/gox from go mod as it was used only for the backfiller
  go.mod
  go.sum
Due: none

Converted CRTDL input to textarea (#453)
  src/views/ModelPlan/CRTDL/AddCRTDL/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/CRTDL/AddCRTDL/index.tsx
Due: eslint, tsc-check

Updated readyForReview component to utilize useraccount, updated queries
  src/components/ReadyForReview/index.test.tsx
  src/components/ReadyForReview/index.tsx
  src/queries/Beneficiaries/getFrequency.ts
  src/queries/Beneficiaries/types/GetFrequency.ts
  src/queries/GeneralCharacteristics/GetAuthority.ts
  src/queries/GeneralCharacteristics/types/GetAuthority.ts
  src/queries/OpsEvalAndLearning/GetLearning.ts
  src/queries/OpsEvalAndLearning/types/GetLearning.ts
  src/queries/ParticipantsAndProviders/GetProviderOptions.ts
  src/queries/ParticipantsAndProviders/types/GetProviderOptions.ts
  src/queries/Payments/GetRecover.ts
  src/queries/Payments/types/GetRecover.ts
  src/views/ModelPlan/TaskList/Beneficiaries/Frequency/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Beneficiaries/Frequency/index.test.tsx
  src/views/ModelPlan/TaskList/Beneficiaries/Frequency/index.tsx
  src/views/ModelPlan/TaskList/GeneralCharacteristics/Authority/index.test.tsx
  src/views/ModelPlan/TaskList/GeneralCharacteristics/Authority/index.tsx
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/Learning/index.test.tsx
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/Learning/index.tsx
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/ProviderOptions/index.test.tsx
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/ProviderOptions/index.tsx
  src/views/ModelPlan/TaskList/Payment/Recover/index.test.tsx
  src/views/ModelPlan/TaskList/Payment/Recover/index.tsx
Due: eslint, tsc-check, check-code-generation

Noref/remove data backfill (#459)
  cmd/backfill/backfillEntry.go
  cmd/backfill/backfiller.go
  cmd/backfill/data/dataTranslation.csv
  cmd/backfill/data/dataTranslationFull.csv
  cmd/backfill/data/enumTranslations.json
  cmd/backfill/enumTranslation.go
  cmd/backfill/main.go
  cmd/backfill/possibleUser.go
  cmd/backfill/translation.go
  cmd/backfill/uploader.go
  docs/adr/0010-remove-data-backfill.md
  go.mod
  go.sum
Due: none

Added readyForReviewByUserAccount to basics
  src/queries/Basics/GetMilestones.ts
  src/queries/Basics/types/GetMilestones.ts
  src/views/ModelPlan/TaskList/Basics/Milestones/index.test.tsx
  src/views/ModelPlan/TaskList/Basics/Milestones/index.tsx
Due: eslint, tsc-check, check-code-generation

Added boilerplate view for linking documents
  src/i18n/en-US/draftModelPlan/documents.ts
  src/i18n/en-US/draftModelPlan/itSolutions.ts
  src/views/ModelPlan/Documents/index.scss
  src/views/ModelPlan/Documents/table.tsx
  src/views/ModelPlan/TaskList/ITSolutions/LinkDocuments/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/ITSolutionSidebar/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/index.tsx
Due: eslint, tsc-check

Added checkbox functionality to linked documents table
  src/i18n/en-US/draftModelPlan/documents.ts
  src/queries/ITSolutions/CreateDocumentSolutionLinks.ts
  src/queries/ITSolutions/DeleteDocumentSolutionLinks.ts
  src/queries/ITSolutions/GetOperationalSolution.ts
  src/queries/ITSolutions/types/CreateDocumentSolutionLinks.ts
  src/queries/ITSolutions/types/DeleteDocumentSolutionLinks.ts
  src/queries/ITSolutions/types/GetOperationalSolution.ts
  src/views/ModelPlan/Documents/table.tsx
  src/views/ModelPlan/TaskList/ITSolutions/AddCustomSolution/index.test.tsx
  src/views/ModelPlan/TaskList/ITSolutions/AddCustomSolution/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/LinkDocuments/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/SolutionDetails/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/SolutionImplementation/_components/Solution.tsx
  src/views/ModelPlan/TaskList/ITSolutions/SolutionImplementation/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionDetailCard/index.stories.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionDetailCard/index.test.tsx
Due: eslint, tsc-check, check-code-generation

[NOREF] Table User Account Migration Tool Base Struct SQL Bugfix (#448)
  scripts/table_user_account_migration.py
Due: none

[EASI-2618] User Account Migration plan_crtdl (#449)
  migrations/V58__Update_Plan_CR_TDL_To_User_Account_Table.sql
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/plan_cr_tdl.go
  pkg/graph/resolvers/plan_cr_tdl_test.go
  pkg/graph/schema.graphql
  pkg/models/plan_cr_tdl.go
  pkg/storage/plan_cr_tdlStore.go
Due: graphql-schema, check-code-generation

rename migrations to account for addition of V58
  migrations/V59__Update_Plan_Ops_Eval_and_Learning_To_User_Account_Table.sql
  migrations/V60__Disable_All_Operational_Need_Trigger.sql
  migrations/V61__Update_Plan_Participants_and_Providers_To_User_Account_Table.sql
  migrations/V62__Update_Plan_Payments_To_User_Account_Table.sql
  migrations/V63__Update_Plan_Beneficiaries_To_User_Account_Table.sql
  migrations/V64__Update_Plan_General_Characteristics_To_User_Account_Table.sql
Due: none

discussion and reply migrations
  migrations/V65__Update_plan_discussion_To_User_Account_Table.sql
  migrations/V66__Update_discussion_reply_To_User_Account_Table.sql
  scripts/table_user_account_migration.py
Due: none

migrate models and schema
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/plan_discussion.go
  pkg/graph/resolvers/plan_discussion_test.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/plan_discussion.go
  src/queries/Discussions/GetModelPlanDiscussions.ts
  src/queries/Discussions/types/CreateModelPlanDiscussion.ts
  src/queries/Discussions/types/GetModelPlanDiscussions.ts
  src/queries/types/CreateModelPlanReply.ts
  src/queries/types/GetAllModelData.ts
  src/queries/types/GetAllSingleModelData.ts
  src/queries/types/GetModelPlan.ts
Due: eslint, tsc-check, graphql-schema, check-code-generation

feat: implement front end changes for discusion and reply
  src/views/ModelPlan/Discussions/SingleDiscussion.tsx
  src/views/ModelPlan/Discussions/index.test.tsx
  src/views/ModelPlan/Discussions/index.tsx
Due: eslint, tsc-check
