Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, tsc-check, graphql-schema, check-code-generation

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-yaml
        name: Check YAML formatting
      - id: detect-private-key
        name: Check for private keys
      - id: end-of-file-fixer
        files: \.(sql|scss|md|js|ts|tsx|go|yml|yaml)$
        name: Add newlines to ends of files

  - repo: https://github.com/detailyang/pre-commit-shell
    rev: v1.0.6
    hooks:
      - id: shell-lint
        name: Lint shell files

  - repo: https://github.com/trussworks/pre-commit-hooks
    rev: v1.1.1
    hooks:
      - id: mdspell
        name: Spellcheck Markdown files
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor
          )$

  - repo: https://github.com/Bahjat/pre-commit-golang
    rev: v1.0.1
    hooks:
      - id: go-fmt-import
        name: Run "goimports" on go files
        args: ['-local', 'github.com/cmsgov/mint-app']
        files: .*\.go$
        exclude: >
          (?x)^(
            .*gen/.*|
            .*generated/.*|
            .*models_gen.go|
          )$

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.48.0
    hooks:
      - id: golangci-lint
        name: Lint go files
        args: ['--concurrency', '-1'] # Run with all CPUs

  - repo: local
    hooks:
    - id: dockerfilelint
      name: Lint Dockerfile
      entry: dockerfilelint
      language: node
      additional_dependencies: [dockerfilelint]
      files: Dockerfile.*

  - repo: local
    hooks:
      - id: eslint
        name: Run eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$
        exclude: (\.(d\.ts)$)|(\.storybook)|(serviceWorker\.ts) # This should match the .eslintrc "ignorePatterns". Change one, change the other!

  - repo: local
    hooks:
      - id: tsc-check
        name: Run typescript check
        entry: scripts/pre-commit-tsc
        language: script
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false

  - repo: local
    hooks:
      - id: graphql-schema
        name: Lint GraphQL schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: pkg/graph/schema.graphql

  - repo: local
    hooks:
      - id: check-code-generation
        name: Run GraphQL code generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: "pkg/graph/schema\\.graphql|pkg/graph/schema\\.resolvers\\.go|src/queries/.*\\.ts"
        pass_filenames: false

  - repo: https://github.com/awslabs/git-secrets
    rev: b9e96b3212fa06aea65964ff0d5cda84ce935f38
    hooks:
      - id: git-secrets
        name: Check for committed secrets
        entry: git-secrets --pre_commit_hook

  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 2.0.7
    hooks:
      - id: sqlfluff-fix
        exclude: ^migrations/
      - id: sqlfluff-lint
        exclude: ^migrations/

[EASI-3686] Update beneficiary question language (#876)
  src/components/ShareExport/__snapshots__/index.test.tsx.snap
  src/i18n/en-US/modelPlan/beneficiaries.ts
  src/views/ModelPlan/ReadOnly/Beneficiaries/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Beneficiaries/Frequency/__snapshots__/index.test.tsx.snap
Due: eslint, tsc-check

Added form work for beneficiary frequency type
  migrations/V127__Update_Beneficiary_Selection_Frequency.sql
  src/gql/apolloGQL/Beneficiaries/GetAllBeneficiaries.ts
  src/gql/apolloGQL/Beneficiaries/GetFrequency.ts
  src/gql/gen/graphql.ts
  src/gql/gen/types/GetAllBeneficiaries.ts
  src/gql/gen/types/GetFrequency.ts
  src/i18n/en-US/modelPlan/beneficiaries.ts
  src/i18n/en-US/modelPlan/payments.ts
  src/queries/GetAllModelData.ts
  src/queries/GetAllSingleModelPlan.ts
  src/queries/types/GetAllModelData.ts
  src/queries/types/GetAllSingleModelData.ts
  src/types/translation.ts
  src/utils/export/CsvData.ts
  src/views/ModelPlan/ReadOnly/Beneficiaries/index.tsx
  src/views/ModelPlan/TaskList/Beneficiaries/Frequency/index.test.tsx
  src/views/ModelPlan/TaskList/Beneficiaries/Frequency/index.tsx
Due: eslint, tsc-check, check-code-generation

remove sortOtherLast util function
  src/utils/modelPlan.ts
Due: eslint, tsc-check

Updated tests
  src/components/ShareExport/__snapshots__/index.test.tsx.snap
  src/data/mock/readonly.ts
  src/types/translation.ts
  src/views/ModelPlan/ReadOnly/Beneficiaries/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/Beneficiaries/index.tsx
  src/views/ModelPlan/TaskList/Beneficiaries/Frequency/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Beneficiaries/Frequency/index.test.tsx
Due: eslint, tsc-check

[EASI-3675] Updating Risk Type Questions - FE (#867)
  cypress/e2e/participantsAndProviders.spec.js
  src/components/ShareExport/__snapshots__/index.test.tsx.snap
  src/data/mock/readonly.ts
  src/i18n/en-US/modelPlan/participantsAndProviders.ts
  src/types/translation.ts
  src/utils/export/CsvData.ts
  src/views/ModelPlan/ReadOnly/Beneficiaries/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/GeneralCharacteristics/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/ModelBasics/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/OpsEvalAndLearning/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/ParticipantsAndProviders/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/ParticipantsAndProviders/index.tsx
  src/views/ModelPlan/ReadOnly/Payments/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/_components/ReadOnlySection/index.tsx
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/Communication/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/Communication/index.test.tsx
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/Communication/index.tsx
  src/views/ModelPlan/TaskList/PrepareForClearance/ClearanceReview/__snapshots__/index.test.tsx.snap
Due: eslint, tsc-check

[EASI-3713] - Frequency Updates Part 3 (#882)
  migrations/V126__Update_Anticipated_Payment_Frequency.sql
  migrations/V127__Update_Beneficiary_Selection_Frequency.sql
  pkg/graph/generated/generated.go
  pkg/graph/gqlresolvers/schema.resolvers.go
  pkg/graph/schema.graphql
  pkg/models/plan_beneficiaries.go
  pkg/storage/SQL/plan_beneficiaries/create.sql
  pkg/storage/SQL/plan_beneficiaries/get_by_id.sql
  pkg/storage/SQL/plan_beneficiaries/get_by_model_plan_id_LOADER.sql
  pkg/storage/SQL/plan_beneficiaries/update.sql
  src/components/ShareExport/__snapshots__/index.test.tsx.snap
  src/data/mock/readonly.ts
  src/gql/apolloGQL/Beneficiaries/GetAllBeneficiaries.ts
  src/gql/apolloGQL/Beneficiaries/GetFrequency.ts
  src/gql/gen/graphql.ts
  src/gql/gen/types/GetAllBeneficiaries.ts
  src/gql/gen/types/GetFrequency.ts
  src/i18n/en-US/modelPlan/beneficiaries.ts
  src/i18n/en-US/modelPlan/miscellaneous.ts
  src/i18n/en-US/modelPlan/participantsAndProviders.ts
  src/i18n/en-US/modelPlan/payments.ts
  src/queries/GetAllModelData.ts
  src/queries/GetAllSingleModelPlan.ts
  src/queries/types/GetAllModelData.ts
  src/queries/types/GetAllSingleModelData.ts
  src/types/graphql-global-types.ts
  src/types/translation.ts
  src/utils/export/CsvData.ts
  src/views/ModelPlan/ReadOnly/Beneficiaries/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/Beneficiaries/index.tsx
  src/views/ModelPlan/TaskList/Beneficiaries/Frequency/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Beneficiaries/Frequency/index.test.tsx
  src/views/ModelPlan/TaskList/Beneficiaries/Frequency/index.tsx
Due: eslint, tsc-check, graphql-schema, check-code-generation

Finished BE work for data sharing
  migrations/V128__Update_Data_Sharing_And_Collection_Frequency.sql
  pkg/graph/generated/generated.go
  pkg/graph/gqlresolvers/schema.resolvers.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/models/plan_ops_eval_and_learning.go
  pkg/storage/SQL/plan_ops_eval_and_learning/create.sql
  pkg/storage/SQL/plan_ops_eval_and_learning/get_by_id.sql
  pkg/storage/SQL/plan_ops_eval_and_learning/get_by_model_plan_id_LOADER.sql
  pkg/storage/SQL/plan_ops_eval_and_learning/update.sql
  src/gql/apolloGQL/OpsEvalAndLearning/GetAllOpsEvalAndLearning.ts
  src/gql/apolloGQL/OpsEvalAndLearning/GetDataSharing.ts
  src/gql/gen/graphql.ts
  src/gql/gen/types/GetAllOpsEvalAndLearning.ts
  src/gql/gen/types/GetDataSharing.ts
  src/queries/GetAllModelData.ts
  src/queries/GetAllSingleModelPlan.ts
  src/queries/types/GetAllModelData.ts
  src/queries/types/GetAllSingleModelData.ts
  src/types/graphql-global-types.ts
Due: eslint, tsc-check, graphql-schema, check-code-generation

Added form elements for opsevalandlearning
  src/i18n/en-US/modelPlan/opsEvalAndLearning.ts
  src/types/translation.ts
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/DataSharing/index.tsx
Due: eslint, tsc-check

feat: first pass tui, and basic test of go version of some commands (not functioning currently)
  .vscode/launch.json
  go.mod
  go.sum
  scripts/dev_command/command/db_seed.go
  scripts/dev_command/command/docker.go
  scripts/dev_command/command/shared.go
  scripts/dev_command/dev_command_tui.go
  scripts/dev_command/main.go
Due: none

chore: note about not capturing all docker logs
  scripts/dev_command/command/docker.go
Due: none

Added readonly opsavalandlearning frequency
  src/components/ShareExport/__snapshots__/index.test.tsx.snap
  src/data/mock/readonly.ts
  src/views/ModelPlan/ReadOnly/OpsEvalAndLearning/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/OpsEvalAndLearning/index.tsx
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/DataSharing/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/DataSharing/index.test.tsx
Due: eslint, tsc-check

Updated cypress tests
  cypress/e2e/opsEvalAndLearning.spec.js
  src/components/FrequencyForm/index.tsx
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/ProviderOptions/__snapshots__/index.test.tsx.snap
Due: eslint, tsc-check

Added csv
  src/utils/export/CsvData.ts
Due: eslint, tsc-check

Updated translation form types
  src/i18n/en-US/modelPlan/beneficiaries.ts
  src/i18n/en-US/modelPlan/opsEvalAndLearning.ts
  src/i18n/en-US/modelPlan/participantsAndProviders.ts
  src/i18n/en-US/modelPlan/payments.ts
Due: eslint, tsc-check

[EASI-3629] Update risk questions (#871)
  MINT.postman_collection.json
  cypress/e2e/participantsAndProviders.spec.js
  migrations/V125__Update_Risk_Questions.sql
  pkg/graph/generated/generated.go
  pkg/graph/gqlresolvers/schema.resolvers.go
  pkg/graph/resolvers/plan_participants_and_providers_test.go
  pkg/graph/schema.graphql
  pkg/models/plan_participants_and_providers.go
  pkg/storage/SQL/plan_participants_and_providers/create.sql
  pkg/storage/SQL/plan_participants_and_providers/get_by_id.sql
  pkg/storage/SQL/plan_participants_and_providers/get_by_model_plan_id_LOADER.sql
  pkg/storage/SQL/plan_participants_and_providers/update.sql
  src/components/ShareExport/__snapshots__/index.test.tsx.snap
  src/data/mock/readonly.ts
  src/gql/apolloGQL/ParticipantsAndProviders/GetAllParticipantsAndProviders.ts
  src/gql/apolloGQL/ParticipantsAndProviders/GetCommunication.ts
  src/gql/gen/graphql.ts
  src/gql/gen/types/GetAllParticipantsAndProviders.ts
  src/gql/gen/types/GetCommunication.ts
  src/i18n/en-US/modelPlan/participantsAndProviders.ts
  src/queries/GetAllModelData.ts
  src/queries/GetAllSingleModelPlan.ts
  src/queries/types/GetAllModelData.ts
  src/queries/types/GetAllSingleModelData.ts
  src/types/graphql-global-types.ts
  src/types/translation.ts
  src/utils/export/CsvData.ts
  src/views/ModelPlan/ReadOnly/Beneficiaries/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/GeneralCharacteristics/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/ModelBasics/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/OpsEvalAndLearning/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/ParticipantsAndProviders/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/ParticipantsAndProviders/index.tsx
  src/views/ModelPlan/ReadOnly/Payments/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/_components/ReadOnlySection/index.tsx
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/Communication/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/Communication/index.test.tsx
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/Communication/index.tsx
  src/views/ModelPlan/TaskList/PrepareForClearance/ClearanceReview/__snapshots__/index.test.tsx.snap
Due: eslint, tsc-check, graphql-schema, check-code-generation

feat: add some peripheral placeholder notes and commands
  scripts/dev_command/command/docker.go
  scripts/dev_command/command/frontend.go
  scripts/dev_command/dev_command_tui.go
  scripts/dev_command/main.go
Due: none

Fixed lint error
  migrations/V128__Update_Data_Sharing_And_Collection_Frequency.sql
Due: none

Added COR role to TeamRole
  migrations/V126__Add_COR_team_role.sql
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/models/plan_collaborator.go
  src/gql/gen/graphql.ts
  src/i18n/en-US/modelPlan/collaborators.ts
  src/types/graphql-global-types.ts
Due: eslint, tsc-check, graphql-schema, check-code-generation

note about subforms
  scripts/dev_command/main.go
Due: none

[EASI-3713] - Frequency Updates Part 4 (#883)
  cypress/e2e/opsEvalAndLearning.spec.js
  migrations/V128__Update_Data_Sharing_And_Collection_Frequency.sql
  pkg/graph/generated/generated.go
  pkg/graph/gqlresolvers/schema.resolvers.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/models/plan_ops_eval_and_learning.go
  pkg/storage/SQL/plan_ops_eval_and_learning/create.sql
  pkg/storage/SQL/plan_ops_eval_and_learning/get_by_id.sql
  pkg/storage/SQL/plan_ops_eval_and_learning/get_by_model_plan_id_LOADER.sql
  pkg/storage/SQL/plan_ops_eval_and_learning/update.sql
  src/components/FrequencyForm/index.tsx
  src/components/ShareExport/__snapshots__/index.test.tsx.snap
  src/data/mock/readonly.ts
  src/gql/apolloGQL/OpsEvalAndLearning/GetAllOpsEvalAndLearning.ts
  src/gql/apolloGQL/OpsEvalAndLearning/GetDataSharing.ts
  src/gql/gen/graphql.ts
  src/gql/gen/types/GetAllOpsEvalAndLearning.ts
  src/gql/gen/types/GetDataSharing.ts
  src/i18n/en-US/modelPlan/beneficiaries.ts
  src/i18n/en-US/modelPlan/opsEvalAndLearning.ts
  src/i18n/en-US/modelPlan/participantsAndProviders.ts
  src/i18n/en-US/modelPlan/payments.ts
  src/queries/GetAllModelData.ts
  src/queries/GetAllSingleModelPlan.ts
  src/queries/types/GetAllModelData.ts
  src/queries/types/GetAllSingleModelData.ts
  src/types/graphql-global-types.ts
  src/types/translation.ts
  src/utils/export/CsvData.ts
  src/views/ModelPlan/ReadOnly/OpsEvalAndLearning/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/OpsEvalAndLearning/index.tsx
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/DataSharing/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/DataSharing/index.test.tsx
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/DataSharing/index.tsx
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/ProviderOptions/__snapshots__/index.test.tsx.snap
Due: eslint, tsc-check, graphql-schema, check-code-generation

Renamed frequency type minus migrations
  pkg/graph/generated/generated.go
  pkg/graph/gqlresolvers/schema.resolvers.go
  pkg/graph/schema.graphql
  pkg/models/shared_enums.go
  src/components/FrequencyForm/index.tsx
  src/data/mock/readonly.ts
  src/gql/gen/graphql.ts
  src/gql/gen/types/GetAllBeneficiaries.ts
  src/gql/gen/types/GetAllParticipantsAndProviders.ts
  src/gql/gen/types/GetAllPayments.ts
  src/gql/gen/types/GetComplexity.ts
  src/gql/gen/types/GetFrequency.ts
  src/gql/gen/types/GetProviderOptions.ts
  src/i18n/en-US/modelPlan/miscellaneous.ts
  src/queries/types/GetAllModelData.ts
  src/queries/types/GetAllSingleModelData.ts
  src/types/graphql-global-types.ts
  src/types/translation.ts
  src/views/ModelPlan/TaskList/Beneficiaries/Frequency/index.test.tsx
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/ProviderOptions/index.test.tsx
  src/views/ModelPlan/TaskList/Payment/Complexity/index.test.tsx
Due: eslint, tsc-check, graphql-schema, check-code-generation

[EASI-3713] - Rename frequency type (#886)
  pkg/graph/generated/generated.go
  pkg/graph/gqlresolvers/schema.resolvers.go
  pkg/graph/schema.graphql
  pkg/models/shared_enums.go
  src/components/FrequencyForm/index.tsx
  src/data/mock/readonly.ts
  src/gql/gen/graphql.ts
  src/gql/gen/types/GetAllBeneficiaries.ts
  src/gql/gen/types/GetAllOpsEvalAndLearning.ts
  src/gql/gen/types/GetAllParticipantsAndProviders.ts
  src/gql/gen/types/GetAllPayments.ts
  src/gql/gen/types/GetComplexity.ts
  src/gql/gen/types/GetDataSharing.ts
  src/gql/gen/types/GetFrequency.ts
  src/gql/gen/types/GetProviderOptions.ts
  src/i18n/en-US/modelPlan/miscellaneous.ts
  src/queries/types/GetAllModelData.ts
  src/queries/types/GetAllSingleModelData.ts
  src/types/graphql-global-types.ts
  src/types/translation.ts
  src/views/ModelPlan/TaskList/Beneficiaries/Frequency/index.test.tsx
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/ProviderOptions/index.test.tsx
  src/views/ModelPlan/TaskList/Payment/Complexity/index.test.tsx
Due: eslint, tsc-check, graphql-schema, check-code-generation

[EASI-3745] - Collaborator/Team Role updates (#885)
  migrations/V126__Add_COR_team_role.sql
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/models/plan_collaborator.go
  src/gql/gen/graphql.ts
  src/i18n/en-US/modelPlan/collaborators.ts
  src/types/graphql-global-types.ts
Due: eslint, tsc-check, graphql-schema, check-code-generation

Add and update key characteristics enum
  src/i18n/en-US/modelPlan/generalCharacteristics.ts
Due: eslint, tsc-check

Added csv support for array nested translations
  src/components/shared/IconInitial/index.tsx
  src/hooks/useFetchCSVData.tsx
  src/i18n/en-US/modelPlan/collaborators.ts
  src/types/translation.ts
  src/utils/export/CsvData.ts
  src/views/ModelPlan/Collaborators/AddCollaborator/index.tsx
  src/views/ModelPlan/Collaborators/table.tsx
  src/views/ModelPlan/ReadOnly/Team/index.tsx
Due: eslint, tsc-check

Added condition to strip rte tags from csv content
  src/hooks/useFetchCSVData.tsx
Due: eslint, tsc-check

correct typo
  pkg/storage/transactions.go
Due: none

feat: rename extract transaction utility to a separate package. Implement a new interface to prepare a transaction
  pkg/graph/resolvers/model_plan.go
  pkg/models/model_plan.go
  pkg/sqlutils/named_preparer.go
  pkg/sqlutils/transaction_preparer.go
  pkg/sqlutils/transactions.go
  pkg/storage/store.go
  pkg/storage/transactions_test.go
Due: none

feat: model plan update and create moved to sql utils and the DB model
  pkg/graph/resolvers/model_plan.go
  pkg/models/model_plan.go
  pkg/sqlutils/sqlscripts/SQL/model_plan/create.sql
  pkg/sqlutils/sqlscripts/SQL/model_plan/update.sql
  pkg/sqlutils/sqlscripts/model_plan.go
  pkg/storage/model_planStore.go
  pkg/storage/transactions_test.go
  pkg/worker/analyzed_audit_job_test.go
Due: none

feat: create Model Plan moved to Save to Database Function
  pkg/graph/resolvers/model_plan.go
  pkg/models/model_plan.go
  pkg/storage/transactions_test.go
  pkg/worker/analyzed_audit_job_test.go
Due: none

feat: update Model Plan moved to Save to Database Function
  pkg/graph/resolvers/model_plan.go
  pkg/models/model_plan.go
Due: none

chore: remove irrelevant comments
  pkg/models/model_plan.go
  pkg/storage/model_planStore.go
Due: none

feat: correctly call the up command with -d to not show all logs as well
  scripts/dev_command/command/docker.go
Due: none

wip: data migrations
  migrations/V125__Update_Provider_Addition_Frequency.sql
  migrations/V128__Update_Data_Sharing_And_Collection_Frequency.sql
Due: none

wip docker commands
  scripts/dev_command/command/docker.go
Due: none

feat: sql scripts structured on an exported variable
  pkg/models/model_plan.go
  pkg/sqlutils/sqlscripts/model_plan.go
Due: none

[NOREF] - Fix CSV TeamRole translation and RTE parsing (#887)
  src/components/shared/IconInitial/index.tsx
  src/hooks/useFetchCSVData.tsx
  src/i18n/en-US/modelPlan/collaborators.ts
  src/types/translation.ts
  src/utils/export/CsvData.ts
  src/views/ModelPlan/Collaborators/AddCollaborator/index.tsx
  src/views/ModelPlan/Collaborators/table.tsx
  src/views/ModelPlan/ReadOnly/Team/index.tsx
Due: eslint, tsc-check

feat: add ci flag to docker command
  scripts/dev_command/command/docker.go
  scripts/dev_command/main.go
Due: none

feat: package comments
  scripts/dev_command/command/command.go
  scripts/dev_command/command/docker.go
Due: none

remove old comments
  scripts/dev_command/command/docker.go
Due: none
