Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, tsc-check, graphql-schema, check-code-generation

dockerfilelint:
  name: Lint Dockerfile
  entry: dockerfilelint
  language: node
  additional_dependencies:
  - dockerfilelint

eslint:
  name: Run eslint
  entry: scripts/pre-commit-eslint
  language: script

tsc-check:
  name: Run typescript check
  entry: scripts/pre-commit-tsc
  language: script
  pass_filenames: false

graphql-schema:
  name: Lint GraphQL schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script
  pass_filenames: false

check-code-generation:
  name: Run GraphQL code generation
  entry: scripts/pre-commit-check-code-generation
  language: script
  pass_filenames: false

Added nav for solution keys
  src/components/ModelsBySolution/table.tsx
  src/views/HomeNew/components/ModelsBySolutions/index.scss
  src/views/HomeNew/components/ModelsBySolutions/index.tsx
  src/views/HomeNew/index.tsx
Due: eslint, tsc-check

Added select for tablet
  src/views/HomeNew/components/ModelsBySolutions/index.tsx
Due: eslint, tsc-check

Added translation to data card
  src/components/ModelsBySolution/index.tsx
  src/components/ModelsBySolution/table.tsx
  src/utils/date.ts
  src/utils/globalFilterCellText.ts
  src/views/HomeNew/components/ModelsBySolutions/index.tsx
Due: eslint, tsc-check

aligning the tooltip with the sentence
  src/views/ModelPlan/ReadOnly/_components/ReadOnlySection/index.tsx
Due: eslint, tsc-check

update snaps
  src/components/ShareExport/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/Beneficiaries/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/GeneralCharacteristics/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/ModelBasics/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/OpsEvalAndLearning/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/ParticipantsAndProviders/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/Payments/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/PrepareForClearance/ClearanceReview/__snapshots__/index.test.tsx.snap
Due: none

Add optional wrapper class to tooltip
  src/components/shared/Tooltip/index.tsx
Due: eslint, tsc-check

adjust classnames while using wrapperclass
  src/views/ModelPlan/ReadOnly/_components/ReadOnlySection/index.tsx
Due: eslint, tsc-check

Added info lert for no models
  src/components/ModelsBySolution/table.tsx
  src/components/TableResults/index.tsx
  src/i18n/en-US/home/customHome.ts
  src/i18n/en-US/tableAndPagination.ts
Due: eslint, tsc-check

[EASI-4393] CR TDL homepage (#1220)
  src/i18n/en-US/home/customHome.ts
  src/views/Home/index.tsx
  src/views/HomeNew/__snapshots__/index.test.tsx.snap
  src/views/HomeNew/index.scss
  src/views/HomeNew/index.tsx
  src/views/ModelPlan/HomeTable/index.scss
  src/views/ModelPlan/HomeTable/index.tsx
Due: eslint, tsc-check

Adjusted col
  src/components/ModelsBySolution/table.tsx
Due: eslint, tsc-check

Added button banner status toggle
  src/components/ModelsBySolution/table.tsx
  src/i18n/en-US/home/customHome.ts
  src/views/HomeNew/components/ModelsBySolutions/banner.tsx
  src/views/HomeNew/components/ModelsBySolutions/index.scss
Due: eslint, tsc-check

Added filter for model status
  src/components/ModelsBySolution/table.tsx
Due: eslint, tsc-check

feat: get JID in the TranslatedAuditJob, update Unit tests to use get the context for a JID
  pkg/worker/translate_audit_job.go
  pkg/worker/translate_audit_job_test.go
Due: none

Added state for back to home
  src/views/HomeNew/Settings/index.tsx
  src/views/HomeNew/Settings/selectSolutions.tsx
  src/views/HomeNew/components/ModelsBySolutions/index.tsx
  src/views/HomeNew/index.tsx
Due: eslint, tsc-check

Replaced table for reactpagination, refactored globalfilter
  src/components/ModelsBySolution/index.test.tsx
  src/components/ModelsBySolution/table.tsx
  src/components/TableFilter/index.test.tsx
  src/components/TableFilter/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionsHeader/index.tsx
  src/views/HomeNew/components/ModelsBySolutions/index.tsx
  src/views/ModelPlan/HomeTable/index.tsx
  src/views/ModelPlan/Table/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/Home/operationalNeedsTable.tsx
Due: eslint, tsc-check

Adjusted alert styling on mobile
  src/stylesheets/custom.scss
Due: none

Added sort to model plans
  src/components/ModelsBySolution/table.tsx
Due: eslint, tsc-check

Added prop for tableFilter for card pagination results
  src/components/ModelsBySolution/table.tsx
  src/components/TableResults/index.tsx
Due: eslint, tsc-check

Fixed conditional for solution with no models
  src/components/ModelsBySolution/table.tsx
Due: eslint, tsc-check

Refactored planned status and util
  src/components/ModelsBySolution/table.tsx
  src/views/HomeNew/components/ModelsBySolutions/banner.tsx
Due: eslint, tsc-check

Changed application to performance date
  src/components/ModelsBySolution/index.tsx
  src/components/ModelsBySolution/table.tsx
  src/gql/apolloGQL/ITSolutions/GetModelsBySolution.ts
  src/gql/gen/graphql.ts
Due: eslint, tsc-check

Updated conditional for query results
  src/components/ModelsBySolution/table.tsx
Due: eslint, tsc-check

Reset pageoffset
  src/components/ModelsBySolution/table.tsx
Due: eslint, tsc-check

feat: add typed errors to the sqlutils package. Check if a job error is because there is a duplicate entry, and if so dont fail job
  pkg/sqlutils/errors.go
  pkg/sqlutils/exec_procedure.go
  pkg/storage/translated_audit_queueStore.go
  pkg/translatedaudit/translated_audit_job_utitilities.go
  pkg/worker/translate_audit_job_test.go
Due: none

feat: add logging to translated audit Job By ID
  pkg/translatedaudit/translated_audit_job_utitilities.go
Due: none

translated audit queue object correctly updates modified by and modified dts
  pkg/sqlqueries/SQL/translated_audit_queue/update.sql
  pkg/translatedaudit/translated_audit_job_utitilities.go
  pkg/worker/translate_audit_batch_job.go
  pkg/worker/translate_audit_job_test.go
Due: none

feat: set max retry for translated audit Job
  pkg/worker/translate_audit_batch_job.go
Due: none

chore: converted data exchange approach complete meta to id
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/activity.resolvers.go
  pkg/graph/resolvers/data_exchange_approach_helper.go
  pkg/graph/schema/types/activity.graphql
  pkg/models/data_exchange_approach_completed_activity_meta.go
  pkg/notifications/data_exchange_approach_completed.go
  pkg/notifications/data_exchange_approach_completed_test.go
  src/gql/gen/graphql.ts
Due: tsc-check, graphql-schema

[EASI-4473] Notification: Data Exchange Approach Completed (#1209)
  MINT.postman_collection.json
  cmd/dbseed/main.go
  cmd/test_email/main.go
  migrations/V162__Add_Data_Exchange_Approach_Completed_Notification.sql
  pkg/email/data_exchange_approach_completed.go
  pkg/email/template_service_impl.go
  pkg/email/templates/data_exchange_approach_completed_body.html
  pkg/email/templates/data_exchange_approach_completed_subject.html
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/activity.resolvers.go
  pkg/graph/resolvers/data_exchange_approach_completed_email_test.go
  pkg/graph/resolvers/data_exchange_approach_helper.go
  pkg/graph/resolvers/plan_collaborator_test.go
  pkg/graph/resolvers/resolver_test.go
  pkg/graph/resolvers/resolver_test_utilities.go
  pkg/graph/resolvers/user_notification_preferences.resolvers.go
  pkg/graph/schema/types/activity.graphql
  pkg/graph/schema/types/user_notification_preferences.graphql
  pkg/models/activity.go
  pkg/models/data_exchange_approach.go
  pkg/models/data_exchange_approach_completed_activity_meta.go
  pkg/models/user_notification_preferences.go
  pkg/notifications/activity.go
  pkg/notifications/data_exchange_approach_completed.go
  pkg/notifications/data_exchange_approach_completed_test.go
  pkg/sqlqueries/SQL/user_notification_preferences/create.sql
  pkg/sqlqueries/SQL/user_notification_preferences/get_by_user_id.sql
  pkg/sqlqueries/SQL/user_notification_preferences/get_by_user_id_loader.sql
  pkg/sqlqueries/SQL/user_notification_preferences/update.sql
  src/gql/gen/graphql.ts
Due: tsc-check, graphql-schema

Added forcepage
  src/components/ModelsBySolution/table.tsx
Due: eslint, tsc-check

Added unit test
  src/components/ModelsBySolution/__snapshots__/index.test.tsx.snap
  src/components/ModelsBySolution/index.test.tsx
  src/views/HomeNew/components/ModelsBySolutions/banner.tsx
Due: eslint, tsc-check

Added mock to test
  src/views/HomeNew/index.test.tsx
Due: eslint, tsc-check

[EASI-4476] Models following homepage (#1223)
  src/components/FavoriteCard/__snapshots__/index.test.tsx.snap
  src/components/FavoriteCard/index.scss
  src/components/FavoriteCard/index.tsx
  src/components/FavoriteCard/table.tsx
  src/i18n/en-US/home/customHome.ts
  src/i18n/en-US/modelPlan.ts
  src/views/HomeNew/index.tsx
  src/views/ModelPlan/HomeTable/index.tsx
  src/views/ModelPlan/TaskList/_components/TaskListStatus/index.tsx
Due: eslint, tsc-check

fix: migration linting
  migrations/V162__Add_Data_Exchange_Approach.sql
  migrations/V163__Add_Data_Exchange_Approach_Completed_Notification.sql
Due: none

fix: postman query can be submitted without editing
  MINT.postman_collection.json
Due: none

Restructured files, style tweak
  src/components/ModelsBySolution/index.scss
  src/views/HomeNew/components/ModelsBySolutions/__snapshots__/index.test.tsx.snap
  src/views/HomeNew/components/ModelsBySolutions/banner.tsx
  src/views/HomeNew/components/ModelsBySolutions/card.tsx
  src/views/HomeNew/components/ModelsBySolutions/index.scss
  src/views/HomeNew/components/ModelsBySolutions/index.test.tsx
  src/views/HomeNew/components/ModelsBySolutions/index.tsx
  src/views/HomeNew/components/ModelsBySolutions/table.tsx
Due: eslint, tsc-check

add question tool tip to general characteristics
  src/i18n/en-US/modelPlan/generalCharacteristics.ts
Due: eslint, tsc-check

update to ops eval and learning read view page
  src/i18n/en-US/modelPlan/opsEvalAndLearning.ts
Due: eslint, tsc-check

Path conditions:
  dockerfilelint: any of: Dockerfile.*
  eslint: any of: \.(js|jsx|ts|tsx)$, but not: (\.(d\.ts)$)|(\.storybook)|(serviceWorker\.ts)|(src/gql/gen/.*)
  tsc-check: any of: \.(js|jsx|ts|tsx)$
  graphql-schema: any of: pkg/graph/schema/.*\.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts|src/queriesCodegen/.*\.ts
