Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-intake-swagger

.pre-commit-config.yaml:

---
repos:
  - repo: git://github.com/detailyang/pre-commit-shell
    rev: 1.0.5
    hooks:
      - id: shell-lint

  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-yaml
      - id: detect-private-key

  - repo: git://github.com/trussworks/pre-commit-hooks
    rev: v1.1.0
    hooks:
      - id: gen-docs
        args: ['docs/adr']
      - id: mdspell
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor/|
            docs/adr/index.md
          )$

  - repo: git://github.com/Bahjat/pre-commit-golang
    rev: c3086eea8af86847dbdff2e46b85a5fe3c9d9656
    hooks:
      - id: go-fmt-import

  - repo: git://github.com/golangci/golangci-lint
    rev: v1.41.1
    hooks:
      - id: golangci-lint
        entry: bash -c 'exec golangci-lint run -j=${GOLANGCI_LINT_CONCURRENCY:-1}' # custom bash so we can override concurrency for faster dev runs

  - repo: https://github.com/pryorda/dockerfilelint-precommit-hooks
    rev: v0.1.0
    hooks:
      - id: dockerfilelint

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$

  - repo: local
    hooks:
      - id: graphql-schema
        name: graphql-schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: pkg/graph/schema.graphql

  - repo: local
    hooks:
      - id: check-code-generation
        name: check-code-generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: "pkg/graph/schema\\.graphql|pkg/graph/schema\\.resolvers\\.go|src/queries/.*\\.ts"

  # for some reason, trying to call "go run cmd/intake_schema_gen/main.go" directly from this config doesn't work;
  # so call scripts/gen_intake_schema, which calls that command and works 
  - repo: local
    hooks:
      - id: check-intake-schema-generation
        name: check-intake-schema-generation
        entry: scripts/gen_intake_schema
        language: script
        files: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json

  - repo: local
    hooks:
      - id: preprocess-intake-swagger
        name: preprocess-intake-swagger
        entry: scripts/generate_cedar_intake_client
        language: script
        files: pkg/cedar/intake/cedar_intake.json

  - repo: git://github.com/awslabs/git-secrets
    rev: 80230afa8c8bdeac766a0fece36f95ffaa0be778
    hooks:
      - id: git-secrets
        entry: git-secrets --pre_commit_hook

  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: end-of-file-fixer
        name: Add newlines to end of files
        files: \.(sql|scss|md|js|ts|tsx|go)$

Codeowners updates with a new team getting all reviews for now
  .github/CODEOWNERS
Due: none

Reduced nav bar to only Home
  src/components/NavigationBar/index.tsx
  src/i18n/en-US/home.ts
Due: eslint

Remove tailscale
  .envrc
  .spelling
  README.md
  docker-compose.tailscale.yml
  docs/dev_script_usage.md
  docs/docker_compose.md
  scripts/dev
Due: none

Ran cypress for login, added video
  cypress/videos/login.spec.js.mp4
Due: none

First pass at removing extra graphql schema data
  pkg/graph/schema.graphql
Due: graphql-schema, check-code-generation

First pass code gen pass. Need to clean up schema resolvers references
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
Due: graphql-schema, check-code-generation

Removed AccessibilityRequestDocumentQueries.ts and references
  src/queries/AccessibilityRequestDocumentQueries.ts
  src/views/Accessibility/AccessibilityRequestDetailPage.tsx
Due: eslint, check-code-generation

Removed AddGRTFeedbackKeepDraftBizCase.ts and references
  src/queries/AddGRTFeedbackKeepDraftBizCase.ts
  src/views/GovernanceReviewTeam/RequestOverview.tsx
Due: eslint, check-code-generation

Removed AddGRTFeedbackProgressToFinal.ts and references
  src/queries/AddGRTFeedbackProgressToFinal.ts
  src/views/GovernanceReviewTeam/Actions/ProvideGRTFeedbackToBusinessOwner.test.tsx
  src/views/GovernanceReviewTeam/RequestOverview.tsx
Due: eslint, check-code-generation

Removed AddGRTFeedbackRequestBizCaseQuery.ts and references, also fixed missed earlier broken references
  src/components/GRTFeedbackView/index.tsx
  src/queries/AddGRTFeedbackRequestBizCaseQuery.ts
  src/queries/types/UpdateAccessibilityRequestStatus.ts
  src/views/Accessibility/AccessibilityRequest/Documents/New/index.tsx
  src/views/GovernanceReviewTeam/Actions/ProvideGRTFeedbackToBusinessOwner.test.tsx
  src/views/GovernanceReviewTeam/RequestOverview.tsx
Due: eslint, check-code-generation

Removed CreateAccessibilityRequestNoteQuery.ts and references
  src/components/BusinessCaseReview/index.tsx
  src/queries/CreateAccessibilityRequestNoteQuery.ts
  src/views/Accessibility/AccessibilityRequestDetailPage.test.tsx
  src/views/Accessibility/AccessibilityRequestDetailPage.tsx
  src/views/GovernanceReviewTeam/BusinessCaseReview/index.tsx
Due: eslint, check-code-generation

Removed broken references
  src/views/BusinessCase/ViewOnly/index.tsx
  src/views/GovernanceReviewTeam/RequestOverview.tsx
Due: eslint

Removed CreateAccessibilityRequestQuery.ts and references
  src/queries/CreateAccessibilityRequestQuery.ts
  src/views/Accessibility/AccessibilityRequest/Create/index.test.tsx
  src/views/Accessibility/AccessibilityRequest/Create/index.tsx
Due: eslint, check-code-generation

Removed CreateCedarSystemBookmarkQuery.ts and references
  src/queries/CreateCedarSystemBookmarkQuery.ts
  src/views/SystemList/Table.tsx
Due: eslint, check-code-generation

Removed CreateSystemIntakeActionBusinessCaseNeededQuery.ts and references
  src/queries/CreateSystemIntakeActionBusinessCaseNeededQuery.ts
  src/views/GovernanceReviewTeam/Actions/SubmitAction.test.tsx
  src/views/GovernanceReviewTeam/RequestOverview.tsx
  src/views/SystemList/Table.tsx
Due: eslint, check-code-generation

Removed CreateSystemIntakeActionBusinessCaseNeedsChangesQuery.ts and references
  src/queries/CreateSystemIntakeActionBusinessCaseNeedsChangesQuery.ts
  src/views/GovernanceReviewTeam/Actions/SubmitAction.test.tsx
  src/views/GovernanceReviewTeam/RequestOverview.tsx
Due: eslint, check-code-generation

Removed CreateSystemIntakeActionBusinessCaseNeedsChangesQuery.ts and references
  src/queries/CreateSystemIntakeActionExtendLifecycleIdQuery.ts
  src/views/GovernanceReviewTeam/Actions/ExtendLifecycleId.tsx
Due: eslint, check-code-generation

Removed CreateSystemIntakeActionGuideReceievedCloseQuery.ts and references
  src/queries/CreateSystemIntakeActionGuideReceievedCloseQuery.ts
  src/views/GovernanceReviewTeam/Actions/SubmitAction.test.tsx
  src/views/GovernanceReviewTeam/RequestOverview.tsx
Due: eslint, check-code-generation

Removed CreateSystemIntakeActionNoGovernanceNeededQuery.ts and references
  src/queries/CreateSystemIntakeActionNoGovernanceNeededQuery.ts
  src/views/GovernanceReviewTeam/Actions/SubmitAction.test.tsx
  src/views/GovernanceReviewTeam/RequestOverview.tsx
Due: eslint, check-code-generation

Removed CreateSystemIntakeActionNotItRequestQuery.ts and references
  src/queries/CreateSystemIntakeActionNotItRequestQuery.ts
  src/views/GovernanceReviewTeam/Actions/SubmitAction.test.tsx
  src/views/GovernanceReviewTeam/RequestOverview.tsx
Due: eslint, check-code-generation

[NOREF] Remove tailscale (#4)
  .envrc
  .spelling
  README.md
  docker-compose.tailscale.yml
  docs/dev_script_usage.md
  docs/docker_compose.md
  scripts/dev
Due: none

Removed CreateSystemIntakeActionNotRespondingCloseQuery.ts and references
  src/queries/CreateSystemIntakeActionNotRespondingCloseQuery.ts
Due: eslint, check-code-generation

Removed CreateSystemIntakeActionReadyForGRTQuery.ts
  src/queries/CreateSystemIntakeActionReadyForGRTQuery.ts
Due: eslint, check-code-generation

Removed CreateSystemIntakeActionSendEmailQuery.ts
  src/queries/CreateSystemIntakeActionSendEmailQuery.ts
Due: eslint, check-code-generation

Removed all remaining queries except GetCurrentUserQuery.ts
  src/queries/CreateSystemIntakeNoteQuery.ts
  src/queries/CreateTestDateQuery.ts
  src/queries/DeleteAccessibilityRequestQuery.ts
  src/queries/DeleteCedarSystemBookmarkQuery.ts
  src/queries/DeleteTestDateQuery.ts
  src/queries/GeneratePresignedUploadURLQuery.ts
  src/queries/GetAccessibilityRequestAccessibilityTeamOnlyQuery.ts
  src/queries/GetAccessibilityRequestForStatusChange.ts
  src/queries/GetAccessibilityRequestQuery.ts
  src/queries/GetAccessibilityRequestsQuery.ts
  src/queries/GetAdminNotesAndActionsQuery.ts
  src/queries/GetCedarSystemBookmarksQuery.ts
  src/queries/GetCedarSystemQuery.ts
  src/queries/GetCedarSystemsAndBookmarksQuery.ts
  src/queries/GetCedarSystemsQuery.ts
  src/queries/GetGRTFeedbackQuery.ts
  src/queries/GetRequestsQuery.ts
  src/queries/GetSystemIntakeQuery.ts
  src/queries/GetSystems.ts
  src/queries/IssueLifecycleIdQuery.ts
  src/queries/MarkReadyForGRBQuery.ts
  src/queries/RejectIntakeQuery.ts
  src/queries/SystemIntakeQueries.ts
  src/queries/UpdateAccessibilityRequestStatusQuery.ts
  src/queries/UpdateSystemIntakeAdminLeadQuery.ts
  src/queries/UpdateSystemIntakeReviewDatesQuery.ts
  src/queries/UpdateTestDateQuery.ts
Due: eslint, check-code-generation

Removed unused resolvers
  pkg/graph/schema.resolvers.go
Due: check-code-generation

Removed requests.go as it references a removed model
  go.mod
  pkg/graph/schema.resolvers.go
  pkg/storage/requests.go
  src/types/graphql-global-types.ts
Due: eslint, check-code-generation

First pass at changing Docker config for other ports. DB Migratation to be updated
  .airDebug.conf
  .airDebugWait.conf
  .dockerignore
  .envrc
  .gitignore
  .vscode/launch.json
  Dockerfile
  docker-compose.override.yml
  docker-compose.yml
  flyway.conf
  scripts/dev
Due: none

db migration port correction to new pgres port
  docker-compose.override.yml
  docker-compose.yml
  flyway.conf
  scripts/dev
Due: none

Removed tests with broken references
  pkg/graph/schema.resolvers_accessibility_request_test.go
  pkg/graph/schema.resolvers_business_case_test.go
  pkg/graph/schema.resolvers_system_intake_test.go
  pkg/storage/requests_test.go
Due: none

port routing and branding changes
  docker-compose.override.yml
  docker-compose.yml
Due: none

Removed accessibility_request_document model
  pkg/email/new_document.go
  pkg/models/accessibility_request_document.go
  pkg/storage/accessibility_request_document.go
  pkg/storage/accessibility_request_document_test.go
  pkg/testhelpers/accessibility_request_document.go
Due: none

Removed presigned URL model references
  pkg/services/file_uploads.go
  pkg/upload/upload.go
Due: none

Removed accessibility_request_metrics model
  pkg/models/accessibility_request_metrics.go
  pkg/models/metrics.go
  pkg/server/routes.go
  pkg/services/metrics.go
  pkg/services/metrics_test.go
  pkg/storage/accessibility_request.go
  pkg/storage/accessibility_request_metrics.go
  pkg/storage/accessibility_request_metrics_test.go
  pkg/storage/accessibility_request_test.go
Due: none

Removed accessibility_request_note model
  pkg/storage/accessibility_request_note.go
  pkg/storage/accessibility_request_note_test.go
Due: none

Removed accessibility_request_note model (remaining file)
  pkg/models/accessibility_request_note.go
Due: none
