Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, tsc-check, graphql-schema, check-code-generation

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-yaml
        name: Check YAML formatting
      - id: detect-private-key
        name: Check for private keys
      - id: end-of-file-fixer
        files: \.(sql|scss|md|js|ts|tsx|go|yml|yaml)$
        name: Add newlines to ends of files
        exclude: src/gql/gen/.* # Ignore generated FE files

  - repo: https://github.com/detailyang/pre-commit-shell
    rev: v1.0.6
    hooks:
      - id: shell-lint
        name: Lint shell files

  - repo: https://github.com/trussworks/pre-commit-hooks
    rev: v1.1.1
    hooks:
      - id: mdspell
        name: Spellcheck Markdown files
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor
          )$

  - repo: https://github.com/Bahjat/pre-commit-golang
    rev: v1.0.3
    hooks:
      - id: go-fmt-import
        name: Run "goimports" on go files
        args: ['-local', 'github.com/cmsgov/mint-app']
        files: .*\.go$
        exclude: >
          (?x)^(
            .*gen/.*|
            .*generated/.*|
            .*models_gen.go|
          )$

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.59.1
    hooks:
      - id: golangci-lint
        name: Lint go files
        args: ['--concurrency', '-1', '-v'] # Run with all CPUs

  - repo: local
    hooks:
    - id: dockerfilelint
      name: Lint Dockerfile
      entry: dockerfilelint
      language: node
      additional_dependencies: [dockerfilelint]
      files: Dockerfile.*

  - repo: local
    hooks:
      - id: eslint
        name: Run eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$
        exclude: (\.(d\.ts)$)|(\.storybook)|(serviceWorker\.ts)|(src/gql/gen/.*) # This should match the .eslintrc "ignorePatterns". Change one, change the other!

  - repo: local
    hooks:
      - id: tsc-check
        name: Run typescript check
        entry: scripts/pre-commit-tsc
        language: script
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false

  - repo: local
    hooks:
      - id: graphql-schema
        name: Lint GraphQL schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: "pkg/graph/schema/.*\\.graphql"
        pass_filenames: false

  - repo: local
    hooks:
      - id: check-code-generation
        name: Run GraphQL code generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: "pkg/graph/schema\\.graphql|pkg/graph/schema\\.resolvers\\.go|src/queries/.*\\.ts|src/queriesCodegen/.*\\.ts"
        pass_filenames: false

  - repo: https://github.com/awslabs/git-secrets
    rev: b9e96b3212fa06aea65964ff0d5cda84ce935f38
    hooks:
      - id: git-secrets
        name: Check for committed secrets
        entry: git-secrets --pre_commit_hook

  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 2.0.7
    hooks:
      - id: sqlfluff-fix
        exclude: ^migrations/
      - id: sqlfluff-lint
        exclude: ^migrations/

[NOREF] debounce echimp err (#2405)
  go.mod
  pkg/echimpcache/echimp_cache.go
  pkg/echimpcache/echimp_cache_missing_file_test.go
  pkg/echimpcache/echimp_cache_refresh_coordination_test.go
  pkg/echimpcache/echimp_cache_test.go
  pkg/graph/resolvers/echimp.go
  pkg/graph/resolvers/model_plan.go
Due: none

[Refactor filter tags to be reusable, update tests]
  src/components/FilterGroup/index.test.tsx
  src/components/FilterGroup/index.tsx
  src/components/FilterModal/index.test.tsx
  src/components/FilterTags/index.test.tsx
  src/components/FilterTags/index.tsx
  src/features/MilestoneLibrary/MilestoneCardGroup/index.tsx
  src/features/MilestoneLibrary/MilestoneFilter/getMilestoneFilters.tsx
  src/i18n/en-US/helpAndKnowledge/helpAndKnowledge.ts
Due: eslint, tsc-check

[Remove unused components]
  src/features/MilestoneLibrary/MilestoneFilter/MilestoneFilterGroup/index.test.tsx
  src/features/MilestoneLibrary/MilestoneFilter/MilestoneFilterGroup/index.tsx
  src/features/MilestoneLibrary/MilestoneFilter/MilestoneFilterModal/getMilestoneFilters.tsx
  src/features/MilestoneLibrary/MilestoneFilter/MilestoneFilterModal/index.scss
  src/features/MilestoneLibrary/MilestoneFilter/MilestoneFilterModal/index.test.tsx
  src/features/MilestoneLibrary/MilestoneFilter/MilestoneFilterModal/index.tsx
  src/features/MilestoneLibrary/MilestoneFilterTags/index.test.tsx
  src/features/MilestoneLibrary/MilestoneFilterTags/index.tsx
Due: eslint, tsc-check

initial playground and testing
  src/components/AutoLinkedText/index.test.tsx
  src/components/AutoLinkedText/index.tsx
  src/features/Home/__snapshots__/index.test.tsx.snap
  src/features/Home/components/HyperlinkPlayground/index.tsx
  src/features/Home/index.scss
  src/features/Home/index.test.tsx
  src/features/Home/index.tsx
  src/i18n/en-US/home/customHome.ts
Due: eslint, tsc-check

punycode protections, protect against cyrillics that appear to be english characters
  src/components/AutoLinkedText/index.test.tsx
  src/components/AutoLinkedText/index.tsx
Due: eslint, tsc-check

[MINT-3636] Milestone filter reusable modal (#2409)
  src/components/FilterGroup/index.test.tsx
  src/components/FilterGroup/index.tsx
  src/components/FilterModal/index.scss
  src/components/FilterModal/index.test.tsx
  src/components/FilterModal/index.tsx
  src/components/FilterTags/index.test.tsx
  src/components/FilterTags/index.tsx
  src/features/MilestoneLibrary/MilestoneCardGroup/index.tsx
  src/features/MilestoneLibrary/MilestoneFilter/getMilestoneFilters.tsx
  src/features/MilestoneLibrary/MilestoneFilterTags/index.tsx
  src/i18n/en-US/helpAndKnowledge/helpAndKnowledge.ts
Due: eslint, tsc-check

[Add ctat report to report page]
  src/features/ReportsAndAnalytics/__snapshots__/index.test.tsx.snap
  src/features/ReportsAndAnalytics/index.test.tsx
  src/features/ReportsAndAnalytics/index.tsx
  src/i18n/en-US/analytics.ts
Due: eslint, tsc-check

[MINT-3792] Add ctat report to report page (#2411)
  src/features/ReportsAndAnalytics/__snapshots__/index.test.tsx.snap
  src/features/ReportsAndAnalytics/index.test.tsx
  src/features/ReportsAndAnalytics/index.tsx
  src/i18n/en-US/analytics.ts
Due: eslint, tsc-check

[Implement ctat report modal and tests]
  src/features/ReportsAndAnalytics/_components/DateRangeModal/__snapshots__/index.test.tsx.snap
  src/features/ReportsAndAnalytics/_components/DateRangeModal/index.test.tsx
  src/features/ReportsAndAnalytics/_components/DateRangeModal/index.tsx
  src/features/ReportsAndAnalytics/index.tsx
  src/i18n/en-US/analytics.ts
  src/i18n/en-US/general.ts
Due: eslint, tsc-check

[NOREF] Upgraded faktory image (#2381)
  Dockerfile.faktory
Due: dockerfilelint

[MINT-3793] CTAT Report Modal (#2413)
  src/features/ReportsAndAnalytics/_components/DateRangeModal/__snapshots__/index.test.tsx.snap
  src/features/ReportsAndAnalytics/_components/DateRangeModal/index.test.tsx
  src/features/ReportsAndAnalytics/_components/DateRangeModal/index.tsx
  src/features/ReportsAndAnalytics/index.tsx
  src/i18n/en-US/analytics.ts
  src/i18n/en-US/general.ts
Due: eslint, tsc-check

[Implement csv rows]
  src/features/ReportsAndAnalytics/_components/DateRangeModal/index.tsx
  src/features/ReportsAndAnalytics/ctatReportFields.ts
  src/hooks/useFetchCtatReport.tsx
Due: eslint, tsc-check

skeleton for easi-mint scan parity
  .github/workflows/build_application_images.yml
  .github/workflows/scan_deployed_image.yml
  scripts/check_deployed_image_findings
  scripts/check_ecr_findings
  scripts/check_ecr_findings.sh
Due: none

add smoke scan to run_tests
  .github/workflows/run_tests.yml
Due: none

[Refactor and add unit tests]
  src/features/ReportsAndAnalytics/_components/DateRangeModal/index.tsx
  src/features/ReportsAndAnalytics/ctatReportFields.ts
  src/features/ReportsAndAnalytics/index.tsx
  src/hooks/tests/useFetchCTATReport.test.tsx
  src/hooks/useFetchCtatReport.tsx
Due: eslint, tsc-check

[Add spiner for downloading and fix broken unit tests]
  src/features/ReportsAndAnalytics/__snapshots__/index.test.tsx.snap
  src/features/ReportsAndAnalytics/_components/DateRangeModal/index.test.tsx
  src/features/ReportsAndAnalytics/index.tsx
Due: eslint, tsc-check

[clean up]
  src/features/ReportsAndAnalytics/index.tsx
  src/i18n/en-US/analytics.ts
Due: eslint, tsc-check

[Temp change name]
  src/features/ReportsAndAnalytics/_components/DateRangeModal/index.tsx
  src/features/ReportsAndAnalytics/ctatReportFields.ts
  src/features/ReportsAndAnalytics/index.tsx
  src/hooks/tests/useFetchCTATReport.test.tsx
  src/hooks/useTest.tsx
Due: eslint, tsc-check

[Fix file name]
  src/features/ReportsAndAnalytics/_components/DateRangeModal/index.tsx
  src/features/ReportsAndAnalytics/ctatReportFields.ts
  src/features/ReportsAndAnalytics/index.tsx
  src/hooks/tests/useFetchCTATReport.test.tsx
  src/hooks/useFetchCTATReport.tsx
Due: eslint, tsc-check

testing something
  .github/workflows/pr_checks.yml
  .github/workflows/run_tests.yml
  Dockerfile
Due: dockerfilelint

fix link location and match up wording
  pkg/email/templates/custom_timeline_date_created_body.html
  pkg/email/templates/model_plan_date_changed_body.html
Due: none

[Change ui back to save button, fix not save button saves bug, revert tests]
  cypress/e2e/notification.spec.js
  cypress/e2e/timeline.spec.js
  src/features/ModelPlan/Timeline/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/Timeline/_components/CustomDate/index.tsx
  src/features/ModelPlan/Timeline/index.tsx
  src/i18n/en-US/modelPlan/timeline.ts
Due: eslint, tsc-check

[Update button type]
  src/features/ModelPlan/Timeline/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/Timeline/index.tsx
Due: eslint, tsc-check

always show both sections - always show all custom dates, even when no changes
  pkg/email/model_plan_date_changed_test.go
  pkg/email/templates/model_plan_date_changed_body.html
Due: none

add some test data
  cmd/test_email/main.go
Due: none

add back condition for rendering custom date portion of email
  pkg/email/model_plan_date_changed_test.go
  pkg/email/templates/model_plan_date_changed_body.html
Due: none

wire up existing date change email to the one-off custom date update flow (for date changes only, not title/desc)
  pkg/graph/resolvers/custom_timeline_date.go
  pkg/graph/resolvers/custom_timeline_date.resolvers.go
  pkg/graph/resolvers/custom_timeline_date_test.go
  pkg/graph/resolvers/plan_timeline_helper_test.go
Due: none

[MINT-3795] Download ctat report (#2421)
  pkg/graph/generated/generated.go
  pkg/graph/schema/types/ctat_request.graphql
  src/features/ReportsAndAnalytics/__snapshots__/index.test.tsx.snap
  src/features/ReportsAndAnalytics/_components/DateRangeModal/index.test.tsx
  src/features/ReportsAndAnalytics/_components/DateRangeModal/index.tsx
  src/features/ReportsAndAnalytics/ctatReportFields.ts
  src/features/ReportsAndAnalytics/index.tsx
  src/gql/generated/graphql.ts
  src/gql/operations/Analytics/GetAllCTATRequests.ts
  src/hooks/tests/useFetchCTATReport.test.tsx
  src/hooks/useFetchCTATReport.tsx
  src/i18n/en-US/analytics.ts
Due: eslint, tsc-check, graphql-schema

[Add document size limitation help text]
  src/features/ModelPlan/Documents/AddDocument/__snapshots__/index.test.tsx.snap
  src/i18n/en-US/helpAndKnowledge/contractAssistance.ts
  src/i18n/en-US/modelPlan/documents.ts
Due: eslint, tsc-check

[Add more disable logic]
  src/features/ReportsAndAnalytics/_components/DateRangeModal/index.tsx
Due: eslint, tsc-check

update audit change and translation to include custom timeline date
  mappings/custom_timeline_date_translation.go
  mappings/custom_timeline_date_translation_test.go
  mappings/export/exportTranslation.ts
  mappings/export/util.ts
  mappings/translation/custom_timeline_dates.json
  mappings/translation_utilities.go
  migrations/V268__Add_Custom_Timeline_Date.sql
  pkg/graph/model/translation_extensions.go
  pkg/graph/resolvers/model_plan.go
  src/features/ModelPlan/ChangeHistory/util.tsx
  src/i18n/en-US/modelPlan/changeHistory.ts
Due: eslint, tsc-check

[NOREF] UI twix for custom timeline (#2422)
  cypress/e2e/notification.spec.js
  cypress/e2e/timeline.spec.js
  src/features/ModelPlan/Timeline/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/Timeline/_components/CustomDate/index.tsx
  src/features/ModelPlan/Timeline/index.tsx
  src/i18n/en-US/modelPlan/timeline.ts
Due: eslint, tsc-check

remove unneeded ts change
  mappings/export/util.ts
Due: eslint, tsc-check

fix ordering
  src/features/ModelPlan/ChangeHistory/util.tsx
Due: eslint, tsc-check

[Modify frontend to add customtimeline to changehistory]
  src/features/ModelPlan/ChangeHistory/components/ChangeRecord/index.tsx
  src/features/ModelPlan/ChangeHistory/util.tsx
  src/i18n/en-US/modelPlan/changeHistory.ts
Due: eslint, tsc-check

add title meta for translation
  pkg/translatedaudit/translated_audit_meta_data.go
  pkg/translatedaudit/translated_audit_meta_data_test.go
  pkg/translatedaudit/translated_audit_suite_utils_test.go
  src/features/ModelPlan/ChangeHistory/components/ChangeRecord/index.test.tsx
  src/features/ModelPlan/ChangeHistory/components/ChangeRecord/index.tsx
Due: eslint, tsc-check

update table name to be singular, also changed translations, etc to match
  mappings/custom_timeline_date_translation.go
  mappings/export/exportTranslation.ts
  mappings/export/util.ts
  mappings/translation/custom_timeline_date.json
  mappings/translation/table_name.json
  mappings/translation_utilities.go
  migrations/V268__Add_Custom_Timeline_Date.sql
  pkg/graph/generated/generated.go
  pkg/graph/model/translation_extensions.go
  pkg/graph/resolvers/model_plan.go
  pkg/graph/schema/types/shared_enums.graphql
  pkg/models/table_names.go
  pkg/sqlqueries/SQL/custom_timeline_date/create.sql
  pkg/sqlqueries/SQL/custom_timeline_date/delete.sql
  pkg/sqlqueries/SQL/custom_timeline_date/get_by_id_LOADER.sql
  pkg/sqlqueries/SQL/custom_timeline_date/get_by_model_plan_id_LOADER.sql
  pkg/sqlqueries/SQL/custom_timeline_date/update.sql
  pkg/sqlqueries/SQL/custom_timeline_date/update_dates_by_ids.sql
  pkg/sqlqueries/custom_timeline_date.go
  pkg/storage/truncate.go
  pkg/translatedaudit/translated_audit_meta_data.go
  pkg/translatedaudit/translated_audit_meta_data_test.go
  src/features/ModelPlan/ChangeHistory/components/ChangeRecord/index.test.tsx
  src/features/ModelPlan/ChangeHistory/util.tsx
  src/gql/generated/graphql.ts
  src/i18n/en-US/modelPlan/tables.ts
Due: eslint, tsc-check, graphql-schema

put migrations together
  migrations/V268__Add_Custom_Timeline_Date.sql
  migrations/V269__Add_Custom_dates_note.sql
Due: none
