Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, tsc-check, graphql-schema, check-code-generation

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-yaml
        name: Check YAML formatting
      - id: detect-private-key
        name: Check for private keys
      - id: end-of-file-fixer
        files: \.(sql|scss|md|js|ts|tsx|go|yml|yaml)$
        name: Add newlines to ends of files
        exclude: src/gql/gen/.* # Ignore generated FE files

  - repo: https://github.com/detailyang/pre-commit-shell
    rev: v1.0.6
    hooks:
      - id: shell-lint
        name: Lint shell files

  - repo: https://github.com/trussworks/pre-commit-hooks
    rev: v1.1.1
    hooks:
      - id: mdspell
        name: Spellcheck Markdown files
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor
          )$

  - repo: https://github.com/Bahjat/pre-commit-golang
    rev: v1.0.3
    hooks:
      - id: go-fmt-import
        name: Run "goimports" on go files
        args: ['-local', 'github.com/cmsgov/mint-app']
        files: .*\.go$
        exclude: >
          (?x)^(
            .*gen/.*|
            .*generated/.*|
            .*models_gen.go|
          )$

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.59.1
    hooks:
      - id: golangci-lint
        name: Lint go files
        args: ['--concurrency', '-1', '-v'] # Run with all CPUs

  - repo: local
    hooks:
    - id: dockerfilelint
      name: Lint Dockerfile
      entry: dockerfilelint
      language: node
      additional_dependencies: [dockerfilelint]
      files: Dockerfile.*

  - repo: local
    hooks:
      - id: eslint
        name: Run eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$
        exclude: (\.(d\.ts)$)|(\.storybook)|(serviceWorker\.ts)|(src/gql/gen/.*) # This should match the .eslintrc "ignorePatterns". Change one, change the other!

  - repo: local
    hooks:
      - id: tsc-check
        name: Run typescript check
        entry: scripts/pre-commit-tsc
        language: script
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false

  - repo: local
    hooks:
      - id: graphql-schema
        name: Lint GraphQL schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: "pkg/graph/schema/.*\\.graphql"
        pass_filenames: false

  - repo: local
    hooks:
      - id: check-code-generation
        name: Run GraphQL code generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: "pkg/graph/schema\\.graphql|pkg/graph/schema\\.resolvers\\.go|src/queries/.*\\.ts|src/queriesCodegen/.*\\.ts"
        pass_filenames: false

  - repo: https://github.com/awslabs/git-secrets
    rev: b9e96b3212fa06aea65964ff0d5cda84ce935f38
    hooks:
      - id: git-secrets
        name: Check for committed secrets
        entry: git-secrets --pre_commit_hook

  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 2.0.7
    hooks:
      - id: sqlfluff-fix
        exclude: ^migrations/
      - id: sqlfluff-lint
        exclude: ^migrations/

chore remove no longer applicable todos
  pkg/models/translation_field.go
  pkg/translatedaudit/translated_audit.go
Due: none

chore: update migration syntax
  migrations/V163__Translated_Audit_Queue.sql
Due: none

chore: correct SQL syntax
  pkg/sqlqueries/SQL/translated_audit/collection_get_by_model_plan_ids.sql
  pkg/storage/translated_audit_fieldStore.go
Due: none

Added empty state
  src/i18n/en-US/home/settings.ts
  src/views/HomeNew/Settings/settingsOrder.tsx
Due: eslint, tsc-check

Updated snapshot
  src/views/HomeNew/Settings/__snapshots__/index.test.tsx.snap
Due: none

Typed settings with enum
  src/i18n/en-US/home/settings.ts
  src/views/HomeNew/Settings/index.tsx
Due: eslint, tsc-check

Used enum as property key
  src/i18n/en-US/home/settings.ts
Due: eslint, tsc-check

Renamed type
  src/i18n/en-US/home/settings.ts
  src/views/HomeNew/Settings/index.tsx
Due: eslint, tsc-check

feat: added filter for getting favorited models by user id
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/resolvers/model_plan.go
  pkg/graph/schema/types/model_plan.graphql
  pkg/storage/SQL/model_plan/collection_where_favorited_by_user_id.sql
  pkg/storage/model_planStore.go
  src/gql/gen/graphql.ts
Due: tsc-check, graphql-schema

[EASI-4446] Get Model Plan and Operational Solution Data by Operational Solution Key (#1192)
  MINT.postman_collection.json
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/resolvers/operational_need.resolvers.go
  pkg/graph/resolvers/operational_solution.go
  pkg/graph/resolvers/operational_solution.resolvers.go
  pkg/graph/resolvers/operational_solution_and_model_plan.go
  pkg/graph/resolvers/operational_solution_and_model_plan.resolvers.go
  pkg/graph/resolvers/operational_solution_and_model_plan_test.go
  pkg/graph/resolvers/operational_solution_test.go
  pkg/graph/schema/types/operational_solution_and_model_plan.graphql
  pkg/models/model_plan.go
  pkg/models/model_plan_and_operational_solution.go
  pkg/sqlqueries/SQL/operational_solution/get_by_id_LOADER.sql
  pkg/sqlqueries/operational_solution.go
  pkg/storage/SQL/model_plan/get_by_operational_solution_key.sql
  pkg/storage/loaders/data_loaders.go
  pkg/storage/loaders/operational_solution_and_possible_collection_loader.go
  pkg/storage/loaders/operational_solution_loader.go
  pkg/storage/model_planStore.go
  pkg/storage/operational_solutionStore.go
  src/gql/gen/graphql.ts
Due: tsc-check, graphql-schema

Added auto selection of solution if solutions selected
  cypress/e2e/homepageSettings.js
  pkg/graph/generated/generated.go
  pkg/graph/schema/types/user_view_customization.graphql
  src/views/HomeNew/Settings/selectSolutions.tsx
Due: eslint, tsc-check, graphql-schema

Added pointer to order button
  src/views/HomeNew/Settings/settingsOrder.tsx
Due: eslint, tsc-check

Reordered route
  src/views/App/index.tsx
Due: eslint, tsc-check

Used correct not found
  src/views/HomeNew/Settings/index.tsx
Due: eslint, tsc-check

Fixed capitalization, updated snaps
  src/i18n/en-US/home/settings.ts
  src/views/HomeNew/Settings/__snapshots__/index.test.tsx.snap
Due: eslint, tsc-check

chore: correct SQL syntax
  pkg/sqlqueries/SQL/translated_audit/collection_get_by_model_plan_ids.sql
Due: none

Updating PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Add callout for SQL in testing instructions
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

feat: unit test for translated audit collection
  pkg/graph/resolvers/translated_audit_test.go
Due: none

[NOREF] Updating PR template (#1197)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

temp wip
  src/views/ModelPlan/ReadOnly/_components/Body/index.tsx
Due: eslint, tsc-check

add grouplabel and grouplabeltooltip to translation
  src/i18n/en-US/modelPlan/basics.ts
  src/types/translation.ts
  src/views/ModelPlan/ReadOnly/_components/Body/index.tsx
Due: eslint, tsc-check

update snaps
  src/components/ReadyForReview/__snapshots__/index.test.tsx.snap
  src/components/ShareExport/__snapshots__/index.test.tsx.snap
  src/views/Feedback/SendFeedback/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/Beneficiaries/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/GeneralCharacteristics/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/ModelBasics/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/OpsEvalAndLearning/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/ParticipantsAndProviders/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/Payments/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Basics/Milestones/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Basics/Overview/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Basics/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Beneficiaries/Frequency/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/GeneralCharacteristics/Authority/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/GeneralCharacteristics/KeyCharacteristics/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/GeneralCharacteristics/TargetsAndOptions/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/DataSharing/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/Evaluation/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/IDDOCTesting/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/Learning/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/Communication/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/Coordination/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/ProviderOptions/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Payment/Complexity/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Payment/FundingSource/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Payment/Recover/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/PrepareForClearance/Checklist/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/PrepareForClearance/ClearanceReview/__snapshots__/index.test.tsx.snap
Due: none

chore: remove addressed comment
  mappings/translation_test_utilities.go
Due: none

removed manual translation and using groupLabelTooltip instead
  src/views/ModelPlan/ReadOnly/_components/Body/index.tsx
Due: eslint, tsc-check

chore: correct type checking
  pkg/translatedaudit/translate_foreign_key.go
  src/views/ModelPlan/ChangeHistory/util.test.tsx
Due: eslint, tsc-check

chore: added unit tests (wip), refined sql query, updated store method to use sqlutility
  pkg/graph/resolvers/model_plan_test.go
  pkg/storage/SQL/model_plan/collection_where_favorited_by_user_id.sql
  pkg/storage/model_planStore.go
Due: none

chore: corect js unit tests
  src/views/ModelPlan/ChangeHistory/util.test.tsx
Due: eslint, tsc-check

feat: upgrade postgres image version
  .github/workflows/run_tests.yml
  docker-compose.backend.yml
Due: none

Added type safety to help center
  src/i18n/en-US/helpAndKnowledge/helpAndKnowledge.ts
  src/views/HelpAndKnowledge/Articles/AllArticles/index.tsx
  src/views/HelpAndKnowledge/Articles/HighLevelProjectPlan/index.tsx
  src/views/HelpAndKnowledge/Articles/ModelPlanOverview/index.tsx
  src/views/HelpAndKnowledge/Articles/ModelSolutionDesign/index.tsx
  src/views/HelpAndKnowledge/Articles/ModelSolutionImplementation/index.tsx
  src/views/HelpAndKnowledge/Articles/PhasesInvolved/index.tsx
  src/views/HelpAndKnowledge/Articles/SampleModelPlan/index.tsx
  src/views/HelpAndKnowledge/Articles/SixPagerMeeting/index.tsx
  src/views/HelpAndKnowledge/Articles/TwoPagerMeeting/index.tsx
  src/views/HelpAndKnowledge/Articles/UtilizingSolutions/index.tsx
  src/views/HelpAndKnowledge/Articles/_components/ArticleCard/index.tsx
  src/views/HelpAndKnowledge/Articles/_components/HelpCardGroup/index.tsx
  src/views/HelpAndKnowledge/Articles/_components/HelpCategoryTag/index.test.tsx
  src/views/HelpAndKnowledge/Articles/_components/HelpCategoryTag/index.tsx
  src/views/HelpAndKnowledge/Articles/_components/RelatedArticles/index.test.tsx
  src/views/HelpAndKnowledge/Articles/_components/RelatedArticles/index.tsx
  src/views/HelpAndKnowledge/Articles/index.tsx
  src/views/HelpAndKnowledge/home.tsx
Due: eslint, tsc-check

Updated header key
  src/views/HelpAndKnowledge/home.tsx
Due: eslint, tsc-check

Added missing tag
  src/views/HelpAndKnowledge/Articles/ModelPlanOverview/index.tsx
Due: eslint, tsc-check

wip
  src/views/ModelPlan/ReadOnly/Beneficiaries/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/GeneralCharacteristics/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/OpsEvalAndLearning/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/Payments/__snapshots__/index.test.tsx.snap
Due: none

Updated snap
  src/views/HelpAndKnowledge/Articles/AllArticles/__snapshots__/index.test.tsx.snap
Due: none

stubbing the tooltip and updating snaps
  src/views/ModelPlan/ReadOnly/Beneficiaries/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/Beneficiaries/index.test.tsx
  src/views/ModelPlan/ReadOnly/GeneralCharacteristics/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/GeneralCharacteristics/index.test.tsx
  src/views/ModelPlan/ReadOnly/OpsEvalAndLearning/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/OpsEvalAndLearning/index.test.tsx
  src/views/ModelPlan/ReadOnly/Payments/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/Payments/index.test.tsx
Due: eslint, tsc-check

fix: corrected unit tests and sql query
  pkg/graph/resolvers/model_plan_test.go
  pkg/storage/SQL/model_plan/collection_where_favorited_by_user_id.sql
Due: none

Added explicit order on help article
  src/views/HelpAndKnowledge/Articles/_components/HelpCardGroup/index.tsx
  src/views/HelpAndKnowledge/Articles/index.tsx
Due: eslint, tsc-check
