Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-cedar-swagger

Path conditions:
  dockerfilelint: any of: Dockerfile.*
  eslint: any of: \.(js|jsx|ts|tsx)$
  graphql-schema: any of: pkg/graph/schema.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts
  check-intake-schema-generation: any of: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json|pkg/cedar/intake/translation/constants\.go
  preprocess-cedar-swagger: any of: pkg/cedar/intake/cedar_intake.json|pkg/cedar/core/cedar_core.json

fix cypress test
  cypress/e2e/archive.spec.js
Due: eslint

fix typo in cypress test
  cypress/e2e/collaborator.spec.js
Due: eslint

Fixing Discussion Cypress test
  cypress/e2e/discussions.spec.js
Due: eslint

add name histroy to query and types
  src/queries/ReadOnly/GetAllModelPlans.ts
  src/queries/ReadOnly/types/GetAllModelPlans.ts
Due: eslint, check-code-generation

first unit test for trigger
  pkg/graph/resolvers/operational_need_triggers_test.go
Due: none

unit test for composite column analysis
  migrations/V28__Add_Possible_Operational_Need_Options.sql
  pkg/graph/resolvers/operational_need_triggers_test.go
Due: none

work in progress unit test for multi-select functionality
  pkg/graph/resolvers/operational_need_triggers_test.go
Due: none

add name history to test
  src/components/FavoriteCard/index.test.tsx
Due: eslint

Added HelpBox component and main need table
  src/i18n/en-US/draftModelPlan/itSolutions.ts
  src/queries/ITSolutions/GetOperationalNeeds.ts
  src/queries/ITSolutions/types/GetOperationalNeeds.ts
  src/utils/globalFilterCellText.ts
  src/utils/modelPlan.ts
  src/views/ModelPlan/TaskList/ITSolutions/Home/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/Home/operationalNeedsTable.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/HelpBox/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/util.tsx
  src/views/ModelPlan/TaskList/index.tsx
Due: eslint, check-code-generation

WIP
  migrations/V33__Add_Users_table.sql
  pkg/models/user.go
  pkg/storage/SQL/user_get_by_euaid.sql
  pkg/storage/SQL/user_get_by_euaid_or_create.sql
  pkg/storage/SQL/user_update_by_euaid.sql
  pkg/storage/userStore.go
Due: none

Added missing table columns
  src/utils/globalFilterCellText.ts
  src/views/ModelPlan/TaskList/ITSolutions/Home/operationalNeedsTable.tsx
  src/views/ModelPlan/TaskList/ITSolutions/util.tsx
Due: eslint

Update the trigger to unnest nested array values
  migrations/V33__Set_Operational_Need_Needed_Trigger.sql
  pkg/graph/resolvers/operational_need_triggers_test.go
Due: none

update the postman collection to include section for operational need
  MINT.postman_collection.json
Due: none

Finish dev work, begin testing
  src/i18n/en-US/draftModelPlan/itSolutions.ts
  src/utils/globalFilterCellText.ts
  src/utils/globalTableFilter.tsx
  src/views/ModelPlan/TaskList/ITSolutions/Home/operationalNeedsTable.tsx
  src/views/ModelPlan/TaskList/ITSolutions/util.tsx
Due: eslint

Updated IT Tools warning to IT solutions warning
  src/components/ITToolsWarning/index.tsx
  src/queries/GeneralCharacteristics/GetKeyCharacteristics.ts
  src/queries/GeneralCharacteristics/types/GetKeyCharacteristics.ts
  src/queries/OpsEvalAndLearning/GetEvaluation.ts
  src/queries/OpsEvalAndLearning/GetLearning.ts
  src/queries/OpsEvalAndLearning/GetOpsEvalAndLearning.ts
  src/queries/OpsEvalAndLearning/GetPerformance.ts
  src/queries/OpsEvalAndLearning/types/GetEvaluation.ts
  src/queries/OpsEvalAndLearning/types/GetLearning.ts
  src/queries/OpsEvalAndLearning/types/GetOpsEvalAndLearning.ts
  src/queries/OpsEvalAndLearning/types/GetPerformance.ts
  src/queries/ParticipantsAndProviders/GetCommunication.ts
  src/queries/ParticipantsAndProviders/GetParticipantOptions.ts
  src/queries/ParticipantsAndProviders/types/GetCommunication.ts
  src/queries/ParticipantsAndProviders/types/GetParticipantOptions.ts
  src/queries/Payments/GetClaimsBasedPayment.ts
  src/queries/Payments/GetFunding.ts
  src/queries/Payments/GetNonClaimsBasedPayment.ts
  src/queries/Payments/GetRecover.ts
  src/queries/Payments/types/GetClaimsBasedPayment.ts
  src/queries/Payments/types/GetFunding.ts
  src/queries/Payments/types/GetNonClaimsBasedPayment.ts
  src/queries/Payments/types/GetRecover.ts
  src/views/ModelPlan/TaskList/GeneralCharacteristics/KeyCharacteristics/index.tsx
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/Evaluation/index.tsx
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/Learning/index.tsx
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/Performance/index.tsx
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/index.tsx
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/Communication/index.tsx
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/ParticipantOptions/index.tsx
  src/views/ModelPlan/TaskList/Payment/ClaimsBasedPayment/index.tsx
  src/views/ModelPlan/TaskList/Payment/FundingSource/index.tsx
  src/views/ModelPlan/TaskList/Payment/NonClaimsBasedPayment/index.tsx
  src/views/ModelPlan/TaskList/Payment/Recover/index.tsx
Due: eslint, check-code-generation

updated ADR to add note about caching, and to correct typo
  docs/adr/0008-non-eua-user-support.md
Due: none

Route -> SecureRoute
  src/views/App/index.tsx
Due: eslint

save the search query in url
  src/views/NDAWrapper/index.tsx
Due: eslint

Add previous names to the model plan table
  src/views/ModelPlan/ReadOnly/Table/index.tsx
  src/views/ModelPlan/Table/index.tsx
Due: eslint

[EASI-2411] Unfollow Email Link (#279)
  cypress/e2e/unfollow.spec.js
  src/i18n/en-US/modelPlan.ts
  src/views/App/index.tsx
  src/views/ModelPlan/ModelPlanOverview/index.test.tsx
  src/views/ModelPlan/ModelPlanOverview/index.tsx
  src/views/NDA/index.tsx
  src/views/NDAWrapper/index.tsx
  src/views/Unfollow/index.tsx
Due: eslint

remove operational need insert update resolver as it is replaced by this trigger
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/operational_need.go
  pkg/graph/resolvers/operational_need_test.go
  pkg/graph/resolvers/operational_solution_test.go
  pkg/graph/resolvers/resolver_test.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
Due: graphql-schema, check-code-generation

Added unit tests
  src/views/ModelPlan/TaskList/ITSolutions/Home/__snapshots__/operationalNeedsTable.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/Home/operationalNeedsTable.test.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/HelpBox/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/_components/HelpBox/index.test.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/NeedsStatus/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/_components/NeedsStatus/index.test.tsx
Due: eslint

Easi 2260/mac user support adr (#272)
  docs/adr/0008-non-eua-user-support.md
Due: none

Added more unit tests
  src/views/ModelPlan/TaskList/ITSolutions/util.test.tsx
Due: eslint

updated task list section to make rename model_basics to basics for conistency
  cypress/e2e/webSocket.spec.js
  migrations/V24__Add_Possible_Operational_Need.sql
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/plan_task_list_section_locks_test.go
  pkg/graph/schema.graphql
  pkg/models/shared_enums.go
  src/types/graphql-global-types.ts
  src/views/ModelPlan/TaskList/index.tsx
  src/views/SubscriptionHandler/index.tsx
Due: eslint, graphql-schema, check-code-generation

Updated unit tests
  src/components/ITToolsWarning/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/GeneralCharacteristics/KeyCharacteristics/index.test.tsx
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/Evaluation/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/Evaluation/index.test.tsx
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/Learning/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/Learning/index.test.tsx
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/Performance/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/Performance/index.test.tsx
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/index.test.tsx
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/Communication/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/Communication/index.test.tsx
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/ParticipantOptions/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/ParticipantOptions/index.test.tsx
  src/views/ModelPlan/TaskList/Payment/ClaimsBasedPayment/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Payment/ClaimsBasedPayment/index.test.tsx
  src/views/ModelPlan/TaskList/Payment/FundingSource/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Payment/FundingSource/index.test.tsx
  src/views/ModelPlan/TaskList/Payment/NonClaimsBasedPayment/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Payment/NonClaimsBasedPayment/index.test.tsx
  src/views/ModelPlan/TaskList/Payment/Recover/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Payment/Recover/index.test.tsx
  src/views/ModelPlan/TaskList/PrepareForClearance/Checklist/__snapshots__/index.test.tsx.snap
Due: eslint

Added some comments
  src/views/ModelPlan/TaskList/ITSolutions/Home/operationalNeedsTable.tsx
Due: eslint

Easi 2365/op needs set needed (#280)
  MINT.postman_collection.json
  cypress/e2e/webSocket.spec.js
  migrations/V24__Add_Possible_Operational_Need.sql
  migrations/V28__Add_Possible_Operational_Need_Options.sql
  migrations/V33__Set_Operational_Need_Needed_Trigger.sql
  migrations/V34__Add_Operational_Need_Needed_Function.sql
  migrations/V35__Add_Operational_Need_Trigger_To_Task_List_Sections.sql
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/resolvers/operational_need.go
  pkg/graph/resolvers/operational_need_test.go
  pkg/graph/resolvers/operational_need_triggers_test.go
  pkg/graph/resolvers/operational_solution_test.go
  pkg/graph/resolvers/plan_task_list_section_locks.go
  pkg/graph/resolvers/plan_task_list_section_locks_test.go
  pkg/graph/resolvers/resolver_test.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/operational_need.go
  pkg/models/possible_operational_need.go
  pkg/models/shared_enums.go
  pkg/storage/SQL/operational_need_collection_get_by_model_plan_id.sql
  pkg/storage/SQL/operational_need_get_by_id.sql
  pkg/storage/SQL/operational_need_get_by_model_plan_id_and_type.sql
  pkg/storage/SQL/operational_need_insert_all_possible.sql
  pkg/storage/SQL/operational_need_insert_or_update.sql
  pkg/storage/SQL/operational_need_update_by_id.sql
  pkg/storage/SQL/possible_operational_need_collection_get_by_model_plan_id.sql
  src/types/graphql-global-types.ts
  src/views/ModelPlan/TaskList/index.tsx
  src/views/SubscriptionHandler/index.tsx
Due: eslint, graphql-schema, check-code-generation

conditional wrap the renderFilternameHistory copmonent
  src/views/ModelPlan/ReadOnly/Table/index.tsx
Due: eslint

add more
  src/i18n/en-US/home.ts
Due: eslint

add previous name in favorite card
  src/components/FavoriteCard/index.tsx
Due: eslint

Change the filter for slicing
  src/views/ModelPlan/ReadOnly/Table/index.tsx
  src/views/ModelPlan/Table/index.tsx
Due: eslint

conditionally render the plus more
  src/components/FavoriteCard/index.tsx
  src/i18n/en-US/home.ts
Due: eslint

update snaps
  src/components/FavoriteCard/__snapshots__/index.test.tsx.snap
Due: none

shortcircuit the conditnioal
  src/components/FavoriteCard/index.tsx
Due: eslint

Added filter for archived and displaying custom name
  src/views/ModelPlan/TaskList/ITSolutions/Home/operationalNeedsTable.tsx
  src/views/ModelPlan/TaskList/ITSolutions/util.tsx
Due: eslint

Update translation copy
  src/i18n/en-US/helpAndKnowledge/Articles/sampleModelPlan.ts
Due: eslint

Doing work on the sample model plan
  src/views/HelpAndKnowledge/Articles/SampleModelPlan/index.tsx
Due: eslint

doing some routing work
  src/views/HelpAndKnowledge/index.tsx
Due: eslint
