Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-intake-swagger

.pre-commit-config.yaml:

---
repos:
  - repo: git://github.com/detailyang/pre-commit-shell
    rev: 1.0.5
    hooks:
      - id: shell-lint

  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-yaml
      - id: detect-private-key

  - repo: git://github.com/trussworks/pre-commit-hooks
    rev: v1.1.0
    hooks:
      - id: gen-docs
        args: ['docs/adr']
      - id: mdspell
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor/|
            docs/adr/index.md
          )$

  - repo: git://github.com/Bahjat/pre-commit-golang
    rev: c3086eea8af86847dbdff2e46b85a5fe3c9d9656
    hooks:
      - id: go-fmt-import

  - repo: git://github.com/golangci/golangci-lint
    rev: v1.41.1
    hooks:
      - id: golangci-lint
        entry: bash -c 'exec golangci-lint run -j=${GOLANGCI_LINT_CONCURRENCY:-1}' # custom bash so we can override concurrency for faster dev runs

  - repo: https://github.com/pryorda/dockerfilelint-precommit-hooks
    rev: v0.1.0
    hooks:
      - id: dockerfilelint

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$

  - repo: local
    hooks:
      - id: graphql-schema
        name: graphql-schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: pkg/graph/schema.graphql

  - repo: local
    hooks:
      - id: check-code-generation
        name: check-code-generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: "pkg/graph/schema\\.graphql|pkg/graph/schema\\.resolvers\\.go|src/queries/.*\\.ts"

  # for some reason, trying to call "go run cmd/intake_schema_gen/main.go" directly from this config doesn't work;
  # so call scripts/gen_intake_schema, which calls that command and works 
  - repo: local
    hooks:
      - id: check-intake-schema-generation
        name: check-intake-schema-generation
        entry: scripts/gen_intake_schema
        language: script
        files: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json

  - repo: local
    hooks:
      - id: preprocess-intake-swagger
        name: preprocess-intake-swagger
        entry: scripts/generate_cedar_intake_client
        language: script
        files: pkg/cedar/intake/cedar_intake.json

  - repo: git://github.com/awslabs/git-secrets
    rev: 80230afa8c8bdeac766a0fece36f95ffaa0be778
    hooks:
      - id: git-secrets
        entry: git-secrets --pre_commit_hook

  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: end-of-file-fixer
        name: Add newlines to end of files
        files: \.(sql|scss|md|js|ts|tsx|go)$

db dump with the new columns
  scripts/data/local-db.sql
Due: none

taskstatusInput type
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/models/base_task_list_section.go
  pkg/storage/plan_paymentsStore.go
  src/types/graphql-global-types.ts
Due: eslint, graphql-schema, check-code-generation

remove outdated todo
  pkg/graph/resolvers/model_plan.go
Due: none

pre-update unit test
  pkg/graph/resolvers/base_task_list_section_test.go
Due: none

Update copy
  src/i18n/en-US/draftModelPlan/payments.ts
Due: eslint

feat: nats streaming pubsub
  go.mod
  go.sum
  pkg/server/pubsub_test.go
  pkg/server/server.go
Due: none

Finished page 5
  src/components/ITToolsSummary/index.tsx
  src/i18n/en-US/draftModelPlan/itTools.ts
  src/queries/ITTools/GetITToolsPageFive.ts
  src/queries/ITTools/types/GetITToolPageFive.ts
  src/utils/modelPlan.ts
  src/views/ModelPlan/TaskList/ITTools/PageFive/index.tsx
  src/views/ModelPlan/TaskList/ITTools/PageFour/index.tsx
  src/views/ModelPlan/TaskList/ITTools/index.tsx
Due: eslint, check-code-generation

Finished page 6
  src/i18n/en-US/draftModelPlan/itTools.ts
  src/queries/ITTools/GetITToolsPageSix.ts
  src/queries/ITTools/types/GetITToolPageSix.ts
  src/utils/modelPlan.ts
  src/views/ModelPlan/TaskList/ITTools/PageSix/index.tsx
  src/views/ModelPlan/TaskList/ITTools/index.tsx
Due: eslint, check-code-generation

Finished page 7
  src/i18n/en-US/draftModelPlan/itTools.ts
  src/i18n/en-US/draftModelPlan/operationsEvaulationAndLearning.ts
  src/queries/ITTools/GetITToolsPageSeven.ts
  src/queries/ITTools/types/GetITToolPageSeven.ts
  src/utils/modelPlan.ts
  src/views/ModelPlan/TaskList/ITTools/PageSeven/index.tsx
  src/views/ModelPlan/TaskList/ITTools/index.tsx
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/Evaluation/index.tsx
Due: eslint, check-code-generation

base struct pre-update
  pkg/graph/resolvers/base_struct.go
  pkg/graph/resolvers/base_task_list_section.go
  pkg/models/base_task_list_section.go
Due: none

BaseStructPreUpdate for model plan, discussion, and discussion reply
  pkg/graph/resolvers/model_plan.go
  pkg/graph/resolvers/model_plan_test.go
  pkg/graph/resolvers/plan_discussion.go
  pkg/graph/schema.resolvers.go
Due: check-code-generation

Add ADR for data exporting approach
  docs/adr/0002-adr-data-export.md
  docs/adr/index.md
Due: none

cleanup SQL type definitions to be in migrations they are specific to
  migrations/V10__Add_Plan_Discussion.sql
  migrations/V3__Add_DataTypes.sql
  migrations/V4__Add_Model_Plan.sql
  migrations/V5__Add_Plan_Collaborator.sql
  migrations/V6__Add_Plan_Basics.sql
  migrations/V8__Add_Plan_Document.sql
Due: none

move specific enums in the shared_enums.go file to their specific module declaration. Remove enum declaration that arent directly used in a struct
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.resolvers.go
  pkg/models/model_plan.go
  pkg/models/plan_basics.go
  pkg/models/plan_collaborator.go
  pkg/models/plan_discussion.go
  pkg/models/shared_enums.go
Due: check-code-generation

Start ADR
  docs/adr/0003-adr-explicit-enum-types.md
Due: none

add payments
  src/queries/GetModelPlan.ts
  src/queries/types/GetModelPlan.ts
  src/views/ModelPlan/TaskList/index.tsx
Due: eslint, check-code-generation

work
  src/queries/Payments/UpdatePayments.ts
  src/queries/Payments/getFunding.ts
  src/queries/Payments/types/GetFunding.ts
  src/queries/Payments/types/UpdatePayments.ts
  src/types/graphql-global-types.ts
  src/views/ModelPlan/TaskList/Payment/FundingSource/index.tsx
Due: eslint, check-code-generation

add initial values
  src/views/ModelPlan/TaskList/Payment/FundingSource/index.tsx
Due: eslint

Began page 8
  src/queries/ITTools/GetITToolsPageEight.ts
  src/views/ModelPlan/TaskList/ITTools/PageEight/index.tsx
  src/views/ModelPlan/TaskList/ITTools/index.tsx
Due: eslint, check-code-generation

Re added cy.wait, will address in another ticket
  cypress/integration/characteristics.spec.js
  cypress/integration/opsEvalAndLearning.spec.js
  cypress/integration/participantsAndProviders.spec.js
Due: eslint

Revert "Bump github.com/99designs/gqlgen from 0.17.10 to 0.17.12 (#139)"
  cmd/seed/main.go
  go.mod
  go.sum
  migrations/V16__Add_Plan_Payments.sql
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/resolvers/model_plan.go
  pkg/graph/resolvers/plan_payments.go
  pkg/graph/resolvers/plan_payments_test.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/plan_payments.go
  pkg/storage/SQL/plan_payments_create.sql
  pkg/storage/SQL/plan_payments_get_by_id.sql
  pkg/storage/SQL/plan_payments_get_by_model_plan_id.sql
  pkg/storage/SQL/plan_payments_update.sql
  pkg/storage/plan_paymentsStore.go
  pkg/storage/truncate.go
  scripts/data/local-db.sql
  scripts/dev
Due: graphql-schema, check-code-generation

fix: broken merge issue
  go.mod
  go.sum
Due: none

Added disabled styling for form elements
  src/i18n/en-US/draftModelPlan/itTools.ts
  src/i18n/en-US/draftModelPlan/participantsAndProviders.ts
  src/index.scss
  src/queries/ITTools/GetITToolsPageEight.ts
  src/views/ModelPlan/TaskList/ITTools/PageFive/index.tsx
  src/views/ModelPlan/TaskList/ITTools/PageFour/index.tsx
  src/views/ModelPlan/TaskList/ITTools/PageOne/index.tsx
  src/views/ModelPlan/TaskList/ITTools/PageSeven/index.tsx
  src/views/ModelPlan/TaskList/ITTools/PageSix/index.tsx
  src/views/ModelPlan/TaskList/ITTools/PageThree/index.tsx
  src/views/ModelPlan/TaskList/ITTools/PageTwo/index.tsx
  src/views/ModelPlan/TaskList/index.tsx
Due: eslint, check-code-generation

fix: generated code for new gql distro
  pkg/graph/generated/generated.go
  pkg/graph/schema.resolvers.go
Due: check-code-generation

Fix for broken merge in "Bump github.com/99designs/gqlgen from 0.17.10 to 0.17.12" (#143)
  cmd/seed/main.go
  migrations/V16__Add_Plan_Payments.sql
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/resolvers/model_plan.go
  pkg/graph/resolvers/plan_payments.go
  pkg/graph/resolvers/plan_payments_test.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/plan_payments.go
  pkg/storage/SQL/plan_payments_create.sql
  pkg/storage/SQL/plan_payments_get_by_id.sql
  pkg/storage/SQL/plan_payments_get_by_model_plan_id.sql
  pkg/storage/SQL/plan_payments_update.sql
  pkg/storage/plan_paymentsStore.go
  pkg/storage/truncate.go
  scripts/data/local-db.sql
  scripts/dev
Due: graphql-schema, check-code-generation

change
  src/views/ModelPlan/TaskList/Payment/index.tsx
Due: eslint

Finished page 8
  src/i18n/en-US/draftModelPlan/itTools.ts
  src/i18n/en-US/draftModelPlan/payment.ts
  src/i18n/en-US/index.ts
  src/queries/ITTools/GetITToolsPageEight.ts
  src/queries/ITTools/types/GetITToolPageEight.ts
  src/types/graphql-global-types.ts
  src/utils/modelPlan.ts
  src/views/ModelPlan/TaskList/ITTools/PageEight/index.tsx
Due: eslint, check-code-generation

fix: nullable enum arrays
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
Due: graphql-schema, check-code-generation

Changed heading
  src/i18n/en-US/draftModelPlan/payments.ts
Due: eslint

temporary removed CreatedDts
  src/queries/GetModelPlan.ts
  src/queries/types/GetModelPlan.ts
Due: eslint, check-code-generation

Updated url
  src/views/ModelPlan/TaskList/Payment/index.tsx
  src/views/ModelPlan/TaskList/index.tsx
Due: eslint

fix copy
  src/i18n/en-US/draftModelPlan/payments.ts
Due: eslint

fix: updated schema to include fundingSourceOther
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
Due: graphql-schema, check-code-generation

new translations
  src/utils/modelPlan.ts
Due: eslint

work
  src/views/ModelPlan/TaskList/Payment/FundingSource/index.tsx
Due: eslint

Finished page 9
  src/components/ITToolsSummary/index.tsx
  src/i18n/en-US/draftModelPlan/itTools.ts
  src/i18n/en-US/draftModelPlan/payment.ts
  src/queries/ITTools/GetITToolsPageNine.ts
  src/queries/ITTools/types/GetITToolPageNine.ts
  src/types/graphql-global-types.ts
  src/utils/modelPlan.ts
  src/views/ModelPlan/TaskList/ITTools/PageEight/index.tsx
  src/views/ModelPlan/TaskList/ITTools/PageFive/index.tsx
  src/views/ModelPlan/TaskList/ITTools/PageFour/index.tsx
  src/views/ModelPlan/TaskList/ITTools/PageNine/index.tsx
  src/views/ModelPlan/TaskList/ITTools/PageSeven/index.tsx
  src/views/ModelPlan/TaskList/ITTools/PageSix/index.tsx
  src/views/ModelPlan/TaskList/ITTools/PageThree/index.tsx
  src/views/ModelPlan/TaskList/ITTools/PageTwo/index.tsx
  src/views/ModelPlan/TaskList/ITTools/index.tsx
Due: eslint, check-code-generation

sd gql
  src/queries/Payments/types/GetFunding.ts
  src/types/graphql-global-types.ts
Due: eslint, check-code-generation

fix: removed created_dts and modified_dts fields such that the sql query will take defaults
  pkg/storage/SQL/plan_payments_create.sql
Due: none

add fundingSourceOther
  src/queries/Payments/getFunding.ts
  src/queries/Payments/types/GetFunding.ts
Due: eslint, check-code-generation

add fundingSourceOther
  src/views/ModelPlan/TaskList/Payment/FundingSource/index.tsx
Due: eslint
