Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, tsc-check, graphql-schema, check-code-generation

dockerfilelint:
  name: Lint Dockerfile
  entry: dockerfilelint
  language: node
  additional_dependencies:
  - dockerfilelint

eslint:
  name: Run eslint
  entry: scripts/pre-commit-eslint
  language: script

tsc-check:
  name: Run typescript check
  entry: scripts/pre-commit-tsc
  language: script
  pass_filenames: false

graphql-schema:
  name: Lint GraphQL schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script
  pass_filenames: false

check-code-generation:
  name: Run GraphQL code generation
  entry: scripts/pre-commit-check-code-generation
  language: script
  pass_filenames: false

Cross-reference calculated vs manually-markable plan task keys in doc comments
  pkg/graph/resolvers/plan_task_status_updates.go
  pkg/models/plan_task.go
Due: none

[MINT-3641]MTO table search (#2471)
  src/components/FilterButtonWithModal/index.tsx
  src/features/HelpAndKnowledge/HKCMilestoneLibrary/__snapshots__/index.test.tsx.snap
  src/features/MilestoneLibrary/MilestoneCardGroup/index.tsx
  src/features/ModelPlan/ModelToOperations/Home/index.tsx
  src/features/ModelPlan/ModelToOperations/_components/MTOTableFilters/index.test.tsx
  src/features/ModelPlan/ModelToOperations/_components/MTOTableFilters/index.tsx
  src/features/ModelPlan/ModelToOperations/_components/MatrixTable/_utils.ts
  src/features/ModelPlan/ModelToOperations/_components/MatrixTable/index.tsx
  src/features/ModelPlan/ReadOnly/MTOMilestones/index.tsx
  src/hooks/usePagination.tsx
  src/i18n/en-US/modelPlan/modelToOperations.ts
Due: eslint, tsc-check

[Handle both singular and plural]
  src/features/ModelPlan/ModelToOperations/_components/MTOTableFilters/index.tsx
  src/i18n/en-US/modelPlan/modelToOperations.ts
Due: eslint, tsc-check

Mint 3831/tasks 2 page resolvers (#2472)
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/plan_task.go
  pkg/graph/resolvers/plan_task.resolvers.go
  pkg/graph/resolvers/plan_task_status_updates.go
  pkg/graph/resolvers/plan_task_test.go
  pkg/graph/schema/types/model_collaboration/tasks/plan_task.graphql
  pkg/models/plan_task.go
  pkg/models/plan_task_test.go
  query_examples/MINT/Tasks/Get Plan Tasks.bru
  query_examples/MINT/Tasks/Mark Plan Task Complete.bru
  query_examples/MINT/Tasks/folder.bru
  src/gql/generated/graphql.ts
Due: eslint, tsc-check, graphql-schema

enum work for 6 pager
  migrations/V274__Add_Six_Pager_Plan_Task.sql
  pkg/graph/generated/generated.go
  pkg/graph/schema/types/model_collaboration/tasks/plan_task.graphql
  pkg/models/plan_task.go
  pkg/models/plan_task_test.go
  src/gql/generated/graphql.ts
  src/tests/mock/mto.ts
Due: eslint, tsc-check, graphql-schema

e2e test fix
  cypress/e2e/notification.spec.js
Due: eslint, tsc-check

enum work for 6 pager (#2477)
  migrations/V274__Add_Six_Pager_Plan_Task.sql
  pkg/graph/generated/generated.go
  pkg/graph/schema/types/model_collaboration/tasks/plan_task.graphql
  pkg/models/plan_task.go
  pkg/models/plan_task_test.go
  src/gql/generated/graphql.ts
  src/tests/mock/mto.ts
Due: eslint, tsc-check, graphql-schema

fix wording
  src/i18n/en-US/notifications.ts
Due: eslint, tsc-check

be trigger for 6 pager
  migrations/V274__Add_Six_Pager_Plan_Task.sql
  pkg/graph/resolvers/model_plan.go
  pkg/graph/resolvers/plan_task.go
  pkg/graph/resolvers/plan_task_test.go
  pkg/models/plan_task.go
  pkg/models/plan_task_test.go
Due: none

add topics to discussion
  src/features/ModelPlan/Discussions/QuestionAndReply.tsx
  src/i18n/en-US/modelPlan/discussions.ts
Due: eslint, tsc-check

add tests
  cypress/e2e/discussions.spec.js
  src/features/ModelPlan/Discussions/index.test.tsx
Due: eslint, tsc-check

filter out Waiver assessment survey
  src/features/ModelPlan/Discussions/QuestionAndReply.tsx
  src/features/ModelPlan/Discussions/index.test.tsx
Due: eslint, tsc-check

[Remove hidden rows count]
  src/features/ModelPlan/ModelToOperations/Home/index.tsx
  src/features/ModelPlan/ModelToOperations/_components/MTOTableFilters/index.test.tsx
  src/features/ModelPlan/ModelToOperations/_components/MTOTableFilters/index.tsx
  src/features/ModelPlan/ReadOnly/MTOMilestones/index.tsx
  src/i18n/en-US/modelPlan/modelToOperations.ts
Due: eslint, tsc-check

wip
  src/features/ModelPlan/ChangeHistory/components/ChangeRecord/index.test.tsx
  src/features/ModelPlan/ChangeHistory/util.test.tsx
  src/features/ModelPlan/ChangeHistory/util.tsx
  src/i18n/en-US/modelPlan/changeHistory.ts
Due: eslint, tsc-check

[Refactor the function to include past due dates]
  src/utils/date.ts
Due: eslint, tsc-check

add discussion topic to change history
  src/features/ModelPlan/ChangeHistory/components/ChangeRecord/index.test.tsx
  src/features/ModelPlan/ChangeHistory/components/ChangeRecord/index.tsx
  src/features/ModelPlan/ChangeHistory/util.test.tsx
  src/features/ModelPlan/ChangeHistory/util.tsx
  src/i18n/en-US/modelPlan/changeHistory.ts
Due: eslint, tsc-check

change translation to match figma
  src/i18n/en-US/modelPlan/discussions.ts
Due: eslint, tsc-check

[Address edge case]
  src/utils/date.ts
Due: eslint, tsc-check

change error to errororwarn helper logger
  pkg/worker/translate_audit_batch_job.go
Due: none

[MINT-3863] Include past due dates in within window (#2479)
  src/utils/date.ts
Due: eslint, tsc-check

change error to errororwarn helper logger (#2481)
  pkg/worker/translate_audit_batch_job.go
Due: none

fix text
  src/features/Notifications/Settings/__snapshots__/index.test.tsx.snap
  src/i18n/en-US/notifications.ts
Due: eslint, tsc-check

oops - put notifications in proper section
  src/features/Notifications/Settings/__snapshots__/index.test.tsx.snap
  src/i18n/en-US/notifications.ts
Due: eslint, tsc-check

button text
  src/i18n/en-US/notifications.ts
Due: eslint, tsc-check

Prefill discussion topic from the current section and show it on replies.
  cypress/e2e/discussions.spec.js
  src/features/ModelPlan/Discussions/QuestionAndReply.tsx
  src/features/ModelPlan/Discussions/getDefaultDiscussionTopicFromPath.test.ts
  src/features/ModelPlan/Discussions/getDefaultDiscussionTopicFromPath.ts
  src/features/ModelPlan/Discussions/index.test.tsx
  src/features/ModelPlan/Discussions/index.tsx
  src/i18n/en-US/modelPlan/discussions.ts
Due: eslint, tsc-check

make the util file more condense
  src/features/ModelPlan/Discussions/getDefaultDiscussionTopicFromPath.test.ts
  src/features/ModelPlan/Discussions/getDefaultDiscussionTopicFromPath.ts
  src/features/ModelPlan/Discussions/index.tsx
Due: eslint, tsc-check

change mappings to match figma
  mappings/translation/plan_discussion.json
Due: none

consolidate discussion form validation check
  src/features/ModelPlan/Discussions/QuestionAndReply.tsx
  src/features/ModelPlan/Discussions/discussionTopicConstants.ts
  src/features/ModelPlan/Discussions/isDiscussionFormSubmittable.ts
Due: eslint, tsc-check

Replaced loose includes() with anchored regexes under /collaboration-area/... in getDefaultDiscussionTopicFromPath.ts.
  src/features/ModelPlan/Discussions/getDefaultDiscussionTopicFromPath.ts
Due: eslint, tsc-check

Pass parent discussion topic explicitly in reply form.
  src/features/ModelPlan/Discussions/FormatDiscussion.tsx
  src/features/ModelPlan/Discussions/QuestionAndReply.tsx
  src/features/ModelPlan/Discussions/SingleDiscussion.tsx
  src/features/ModelPlan/Discussions/index.tsx
Due: eslint, tsc-check

add topic to discussions in single discussions
  src/features/ModelPlan/Discussions/SingleDiscussion.tsx
Due: eslint, tsc-check

fixing lint
  src/features/ModelPlan/Discussions/QuestionAndReply.tsx
  src/features/ModelPlan/Discussions/index.test.tsx
Due: eslint, tsc-check

addressing lint
  src/features/ModelPlan/Discussions/QuestionAndReply.tsx
  src/features/ModelPlan/Discussions/discussionTopicConstants.ts
Due: eslint, tsc-check

[FEATURE/MINT-3482] MTO Milestone search and filter (#2410)
  cypress/e2e/helpAndKnowledge.spec.js
  src/components/FilterButtonWithModal/index.scss
  src/components/FilterButtonWithModal/index.test.tsx
  src/components/FilterButtonWithModal/index.tsx
  src/components/FilterGroup/index.test.tsx
  src/components/FilterGroup/index.tsx
  src/components/FilterTags/index.test.tsx
  src/components/FilterTags/index.tsx
  src/features/HelpAndKnowledge/HKCMilestoneLibrary/__snapshots__/index.test.tsx.snap
  src/features/MilestoneLibrary/MilestoneCardGroup/index.tsx
  src/features/MilestoneLibrary/MilestoneFilter/MilestoneFilterGroup/index.tsx
  src/features/MilestoneLibrary/MilestoneFilter/getMilestoneFilters.tsx
  src/features/MilestoneLibrary/MilestoneFilterTags/index.tsx
  src/features/ModelPlan/ModelToOperations/Home/index.tsx
  src/features/ModelPlan/ModelToOperations/_components/ActionsTable/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/ModelToOperations/_components/ActionsTable/index.tsx
  src/features/ModelPlan/ModelToOperations/_components/MTOTableDateFilter/index.test.tsx
  src/features/ModelPlan/ModelToOperations/_components/MTOTableDateFilter/index.tsx
  src/features/ModelPlan/ModelToOperations/_components/MTOTableFilters/_utils.test.ts
  src/features/ModelPlan/ModelToOperations/_components/MTOTableFilters/_utils.ts
  src/features/ModelPlan/ModelToOperations/_components/MTOTableFilters/getMTOTableFilters.ts
  src/features/ModelPlan/ModelToOperations/_components/MTOTableFilters/index.test.tsx
  src/features/ModelPlan/ModelToOperations/_components/MTOTableFilters/index.tsx
  src/features/ModelPlan/ModelToOperations/_components/MatrixTable/_utils.ts
  src/features/ModelPlan/ModelToOperations/_components/MatrixTable/index.tsx
  src/features/ModelPlan/ReadOnly/MTOMilestones/index.tsx
  src/hooks/usePagination.tsx
  src/i18n/en-US/general.ts
  src/i18n/en-US/helpAndKnowledge/helpAndKnowledge.ts
  src/i18n/en-US/modelPlan/modelToOperations.ts
  src/utils/date.ts
  src/utils/modelPlan.ts
Due: eslint, tsc-check

fixing notification cypress test
  cypress/e2e/notification.spec.js
Due: eslint, tsc-check

fix lint
  src/features/ModelPlan/ChangeHistory/components/ChangeRecord/index.test.tsx
Due: eslint, tsc-check

bump sql nums
  migrations/V274__Add_Discussion_Topic.sql
Due: none

Path conditions:
  dockerfilelint: any of: Dockerfile.*
  eslint: any of: \.(js|jsx|ts|tsx)$, but not: (\.(d\.ts)$)|(\.storybook)|(serviceWorker\.ts)|(src/gql/gen/.*)
  tsc-check: any of: \.(js|jsx|ts|tsx)$
  graphql-schema: any of: pkg/graph/schema/.*\.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts|src/queriesCodegen/.*\.ts
