Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, tsc-check, graphql-schema, check-code-generation

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-yaml
        name: Check YAML formatting
      - id: detect-private-key
        name: Check for private keys
      - id: end-of-file-fixer
        files: \.(sql|scss|md|js|ts|tsx|go|yml|yaml)$
        name: Add newlines to ends of files
        exclude: src/gql/gen/.* # Ignore generated FE files

  - repo: https://github.com/detailyang/pre-commit-shell
    rev: v1.0.6
    hooks:
      - id: shell-lint
        name: Lint shell files

  - repo: https://github.com/trussworks/pre-commit-hooks
    rev: v1.1.1
    hooks:
      - id: mdspell
        name: Spellcheck Markdown files
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor
          )$

  - repo: https://github.com/Bahjat/pre-commit-golang
    rev: v1.0.3
    hooks:
      - id: go-fmt-import
        name: Run "goimports" on go files
        args: ['-local', 'github.com/cmsgov/mint-app']
        files: .*\.go$
        exclude: >
          (?x)^(
            .*gen/.*|
            .*generated/.*|
            .*models_gen.go|
          )$

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.59.1
    hooks:
      - id: golangci-lint
        name: Lint go files
        args: ['--concurrency', '-1', '-v'] # Run with all CPUs

  - repo: local
    hooks:
    - id: dockerfilelint
      name: Lint Dockerfile
      entry: dockerfilelint
      language: node
      additional_dependencies: [dockerfilelint]
      files: Dockerfile.*

  - repo: local
    hooks:
      - id: eslint
        name: Run eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$
        exclude: (\.(d\.ts)$)|(\.storybook)|(serviceWorker\.ts)|(src/gql/gen/.*) # This should match the .eslintrc "ignorePatterns". Change one, change the other!

  - repo: local
    hooks:
      - id: tsc-check
        name: Run typescript check
        entry: scripts/pre-commit-tsc
        language: script
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false

  - repo: local
    hooks:
      - id: graphql-schema
        name: Lint GraphQL schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: "pkg/graph/schema/.*\\.graphql"
        pass_filenames: false

  - repo: local
    hooks:
      - id: check-code-generation
        name: Run GraphQL code generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: "pkg/graph/schema\\.graphql|pkg/graph/schema\\.resolvers\\.go|src/queries/.*\\.ts|src/queriesCodegen/.*\\.ts"
        pass_filenames: false

  - repo: https://github.com/awslabs/git-secrets
    rev: b9e96b3212fa06aea65964ff0d5cda84ce935f38
    hooks:
      - id: git-secrets
        name: Check for committed secrets
        entry: git-secrets --pre_commit_hook

  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 2.0.7
    hooks:
      - id: sqlfluff-fix
        exclude: ^migrations/
      - id: sqlfluff-lint
        exclude: ^migrations/

add back to top copy
  src/i18n/en-US/readOnly/generalReadOnly.ts
Due: eslint, tsc-check

Sticky header in ready only
  src/features/ModelPlan/ReadOnly/index.scss
  src/features/ModelPlan/ReadOnly/index.tsx
Due: eslint, tsc-check

[Refactor modal open logic for add]
  src/features/HelpAndKnowledge/_components/KeyContactDirectory/index.tsx
Due: eslint, tsc-check

[fixed bug yayyy form working now]
  src/features/HelpAndKnowledge/_components/KeyContactDirectory/_components/SmeForm/index.tsx
  src/features/HelpAndKnowledge/_components/KeyContactDirectory/_components/SmeModal/index.tsx
  src/features/HelpAndKnowledge/_components/KeyContactDirectory/index.tsx
Due: eslint, tsc-check

[Fix typo and add tests]
  src/features/HelpAndKnowledge/_components/KeyContactDirectory/_components/IndividualSmeFieldset/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/_components/KeyContactDirectory/_components/IndividualSmeFieldset/index.tsx
  src/features/HelpAndKnowledge/_components/KeyContactDirectory/_components/SmeForm/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/_components/KeyContactDirectory/_components/SmeForm/index.test.tsx
  src/features/HelpAndKnowledge/_components/KeyContactDirectory/_components/SmeForm/index.tsx
  src/features/HelpAndKnowledge/_components/KeyContactDirectory/_components/SmeModal/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/_components/KeyContactDirectory/_components/SmeModal/index.test.tsx
  src/i18n/en-US/helpAndKnowledge/keyContact.ts
Due: eslint, tsc-check

[Fix typo and update snapshot]
  src/features/HelpAndKnowledge/_components/KeyContactDirectory/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/_components/KeyContactDirectory/index.tsx
Due: eslint, tsc-check

feat: correct error message
  pkg/graph/resolvers/analyzed_audit.go
Due: none

113 --> 112px
  src/features/ModelPlan/ReadOnly/_components/FilterView/Banner/index.scss
Due: none

adjust some styles for the sticky header
  src/features/ModelPlan/ReadOnly/index.scss
Due: none

add sticky header
  src/features/ModelPlan/ReadOnly/index.tsx
Due: eslint, tsc-check

[NOREF] Remove the error for nil section audits (#2055)
  pkg/graph/resolvers/analyzed_audit.go
Due: none

addressing screen readability
  src/features/ModelPlan/ReadOnly/index.tsx
Due: eslint, tsc-check

moved sticky header to its own component
  src/components/StickyModelNameWrapper/index.scss
  src/components/StickyModelNameWrapper/index.tsx
  src/features/ModelPlan/ReadOnly/index.scss
  src/features/ModelPlan/ReadOnly/index.tsx
Due: eslint, tsc-check

delete unused code
  src/features/ModelPlan/ReadOnly/index.tsx
Due: eslint, tsc-check

add classname to the sticky header
  src/components/StickyModelNameWrapper/index.tsx
  src/features/ModelPlan/CollaborationArea/index.tsx
  src/features/ModelPlan/ReadOnly/index.tsx
Due: eslint, tsc-check

adding line clamp
  src/features/ModelPlan/ReadOnly/index.scss
Due: none

[Fix invisible page number]
  src/features/HelpAndKnowledge/Articles/_components/HelpCardGroup/index.scss
Due: none

move summary Ref to the component
  src/components/StickyModelNameWrapper/index.tsx
  src/features/ModelPlan/ReadOnly/index.tsx
Due: eslint, tsc-check

[Fix typo and remove not used snapshot]
  src/features/HelpAndKnowledge/_components/KeyContactDirectory/_components/IndividualSmeFieldset/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/_components/KeyContactDirectory/_components/SmeForm/index.tsx
Due: eslint, tsc-check

[clean up code]
  src/features/HelpAndKnowledge/_components/KeyContactDirectory/index.tsx
Due: eslint, tsc-check

[Add delete sme modal]
  src/features/HelpAndKnowledge/_components/KeyContactDirectory/_components/KeyContactTable/index.tsx
  src/features/HelpAndKnowledge/_components/KeyContactDirectory/_components/RemoveModal/index.tsx
  src/gql/generated/graphql.ts
  src/gql/operations/KeyContactDirectory/DeleteKeyContact.ts
  src/i18n/en-US/helpAndKnowledge/keyContact.ts
Due: eslint, tsc-check

[Add tests]
  src/features/HelpAndKnowledge/_components/KeyContactDirectory/_components/RemoveModal/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/_components/KeyContactDirectory/_components/RemoveModal/index.test.tsx
Due: eslint, tsc-check

[NOREF] Fix invisible page number (#2057)
  src/features/HelpAndKnowledge/Articles/_components/HelpCardGroup/index.scss
Due: none

[Fix broken pagination]
  src/hooks/useSearchSortPagination.tsx
Due: eslint, tsc-check

[WIP add tests]
  pkg/graph/resolvers/key_contact_test.go
Due: none

[Fix snapshot]
  src/features/ModelPlan/ModelToOperations/SolutionLibrary/__snapshots__/index.test.tsx.snap
Due: none

[NOREF] Fix broken pagination for help articles (#2058)
  src/features/ModelPlan/ModelToOperations/SolutionLibrary/__snapshots__/index.test.tsx.snap
  src/hooks/useSearchSortPagination.tsx
Due: eslint, tsc-check

[Fix email]
  pkg/email/key_contact_added.go
  pkg/email/templates/key_contact_welcome_body.html
  pkg/graph/resolvers/key_contact.go
Due: none

[Fix tests]
  pkg/graph/resolvers/key_contact_test.go
Due: none

[Update migration file number]
  migrations/V246__Add_Key_Contact_Tables.sql
Due: none

pin versions of dlv and gopls for go1.24
  Dockerfile
Due: dockerfilelint

feat: note the next ticket number for updating go version
  Dockerfile
Due: dockerfilelint

[NOREF] Pin versions of dlv and gopls for go1.24 (#2063)
  Dockerfile
Due: dockerfilelint

fix clamav version
  .github/workflows/build_application_images.yml
Due: none

fix clamav version (#2064)
  .github/workflows/build_application_images.yml
Due: none

[Fix snapshot]
  src/components/Modal/index.tsx
  src/features/HelpAndKnowledge/_components/KeyContactDirectory/_components/SmeModal/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/_components/KeyContactDirectory/_components/SmeModal/index.test.tsx
  src/features/HelpAndKnowledge/_components/KeyContactDirectory/_components/SmeModal/index.tsx
Due: eslint, tsc-check
