Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-intake-swagger

eslint:
  name: eslint
  entry: scripts/pre-commit-eslint
  language: script

graphql-schema:
  name: graphql-schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script

check-code-generation:
  name: check-code-generation
  entry: scripts/pre-commit-check-code-generation
  language: script

check-intake-schema-generation:
  name: check-intake-schema-generation
  entry: scripts/gen_intake_schema
  language: script

preprocess-intake-swagger:
  name: preprocess-intake-swagger
  entry: scripts/generate_cedar_intake_client
  language: script

Nullability of query/mutation results
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  src/queries/types/CreateModelPlan.ts
  src/queries/types/CreateModelPlanCollaborator.ts
  src/queries/types/CreateModelPlanDocument.ts
  src/queries/types/DeleteModelPlanCollaborator.ts
  src/queries/types/GeneratePresignedUploadURL.ts
  src/queries/types/GetCurrentUser.ts
  src/queries/types/GetModelCollaborators.ts
  src/queries/types/GetModelPlan.ts
  src/queries/types/GetModelPlanDocument.ts
  src/queries/types/GetModelPlanDocumentByModelID.ts
  src/queries/types/GetModelPlans.ts
  src/queries/types/GetPlanDocumentDownloadURL.ts
  src/queries/types/UpdateModelPlan.ts
  src/queries/types/UpdateModelPlanCollaborator.ts
  src/queries/types/UpdatePlanBasics.ts
  src/queries/types/UpdatePlanMilestones.ts
Due: eslint, graphql-schema, check-code-generation

Add beneficiaries migration
  migrations/V12__Add_Plan_Beneficiaries.sql
Due: none

Added a few comments
  src/views/ModelPlan/Discussions/index.tsx
Due: eslint

Only start MINT if migrations complete in docker-compose
  docker-compose.yml
Due: none

Added unit testing to discussion center
  src/i18n/en-US/draftModelPlan/discussions.ts
  src/views/ModelPlan/Discussions/index.test.tsx
  src/views/ModelPlan/Discussions/index.tsx
Due: eslint

Added unit testing to discussion center
  src/views/ModelPlan/Documents/AddDocument/index.test.tsx
  src/views/ModelPlan/Documents/index.test.tsx
  src/views/ModelPlan/TaskList/Basics/Milestones/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Basics/Overview/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Basics/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/index.test.tsx
Due: eslint

Generated new gql files for nullability
  src/queries/types/CreateModelPlanDiscussion.ts
  src/queries/types/CreateModelPlanReply.ts
  src/queries/types/GetModelPlan.ts
  src/queries/types/GetModelPlanDiscussions.ts
  src/queries/types/UpdateModelPlanDiscussion.ts
Due: eslint, check-code-generation

Added unit test for AskAQuestion
  src/components/AskAQuestion/index.test.tsx
  src/components/AskAQuestion/index.tsx
  src/views/ModelPlan/Discussions/index.tsx
Due: eslint

Added an warning ignore to unit test for modal
  src/components/AskAQuestion/index.test.tsx
  src/views/ModelPlan/Discussions/index.test.tsx
Due: eslint

Changed modifiedDts to createdDts due to new nullability
  src/views/ModelPlan/Table/formatActivity.tsx
  src/views/ModelPlan/Table/index.tsx
Due: eslint

Added milestones and basics to a piece of seeded data
  cmd/devdata/main.go
  src/views/ModelPlan/TaskList/index.tsx
Due: eslint

Removed empty console statement
  src/views/ModelPlan/TaskList/index.tsx
Due: eslint

Removed empty console statement
  src/views/ModelPlan/Table/formatActivity.tsx
Due: eslint

Updated snapshots
  src/views/ModelPlan/TaskList/Basics/Milestones/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Basics/Overview/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Basics/__snapshots__/index.test.tsx.snap
Due: none

plan beneficiaries store function
  pkg/models/plan_beneficiaries.go
  pkg/storage/SQL/plan_beneficiaries_create.sql
  pkg/storage/SQL/plan_beneficiaries_get_by_id.sql
  pkg/storage/SQL/plan_beneficiaries_get_by_model_plan_id.sql
  pkg/storage/SQL/plan_beneficiaries_update.sql
  pkg/storage/plan_beneficiariesStore.go
Due: none

update GetModified by to match the new structure
  pkg/models/plan_beneficiaries.go
Due: none

Remove unneeded sql.ErrNoRows handling in favor of passing the error up the call stack.
  pkg/storage/genericmodel/errorhandling.go
  pkg/storage/model_planStore.go
  pkg/storage/plan_basicsStore.go
  pkg/storage/plan_collaboratorStore.go
  pkg/storage/plan_discussionStore.go
  pkg/storage/plan_documentStore.go
  pkg/storage/plan_general_characteristicsStore.go
  pkg/storage/plan_milestonesStore.go
Due: none

Fix tests that were expecting no error
  pkg/graph/resolvers/plan_collaborator_test.go
Due: none

Basi GQL types
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
Due: graphql-schema, check-code-generation

DB seed data
  cmd/devdata/main.go
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/plan_beneficiaries.go
  pkg/graph/resolvers/plan_beneficiaries_test.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/model_helpers.go
  pkg/models/plan_beneficiaries.go
  scripts/dev
Due: graphql-schema, check-code-generation

plan beneficiaries update GQL statement
  cmd/devdata/main.go
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/model_plan.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/storage/plan_beneficiariesStore.go
Due: graphql-schema, check-code-generation

WIP: gql subscriptions first pass
  go.mod
  go.sum
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/resolvers/plan_collaborator.go
  pkg/graph/resolvers/subscription_collaborators.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
Due: graphql-schema, check-code-generation

[EASI-2051] SQL error handling (#95)
  pkg/graph/resolvers/plan_collaborator_test.go
  pkg/storage/genericmodel/errorhandling.go
  pkg/storage/model_planStore.go
  pkg/storage/plan_basicsStore.go
  pkg/storage/plan_collaboratorStore.go
  pkg/storage/plan_discussionStore.go
  pkg/storage/plan_documentStore.go
  pkg/storage/plan_general_characteristicsStore.go
  pkg/storage/plan_milestonesStore.go
Due: none

added missing beneficiarySelectionFrequencyNote field
  cmd/devdata/main.go
  migrations/V12__Add_Plan_Beneficiaries.sql
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/models/plan_beneficiaries.go
  pkg/storage/SQL/plan_beneficiaries_create.sql
  pkg/storage/SQL/plan_beneficiaries_get_by_id.sql
  pkg/storage/SQL/plan_beneficiaries_get_by_model_plan_id.sql
  pkg/storage/SQL/plan_beneficiaries_update.sql
Due: graphql-schema, check-code-generation

plan beneficiaries test suite
  pkg/graph/resolvers/plan_beneficiaries_test.go
  pkg/storage/truncate.go
Due: none

add migration
  migrations/V13__Add_Plan_Providers_and_Participants.sql
Due: none

add FK relationship to beneficiaries table, and move confidence and frequency type to the shared types migrations and models
  migrations/V12__Add_Plan_Beneficiaries.sql
  migrations/V3__Add_DataTypes.sql
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/models/plan_beneficiaries.go
  pkg/models/shared_enums.go
Due: graphql-schema, check-code-generation

first pass participants and providers table. Move overlap type to shared enums as used here and in beneficiaries
  migrations/V12__Add_Plan_Beneficiaries.sql
  migrations/V13__Add_Plan_Providers_and_Participants.sql
  migrations/V3__Add_DataTypes.sql
  pkg/models/plan_beneficiaries.go
  pkg/models/shared_enums.go
Due: none

add types and GQL structure
  migrations/V13__Add_Plan_Providers_and_Participants.sql
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/plan_providers_and_participants.go
Due: graphql-schema, check-code-generation

store methods
  pkg/storage/SQL/plan_providers_and_participants_create.sql
  pkg/storage/SQL/plan_providers_and_participants_get_by_id.sql
  pkg/storage/SQL/plan_providers_and_participants_get_by_model_plan_id.sql
  pkg/storage/SQL/plan_providers_and_participants_update.sql
  pkg/storage/plan_providers_and_participantsStore.go
Due: none

correct update script to not allow updating ids
  pkg/storage/SQL/plan_beneficiaries_update.sql
Due: none

[NOREF] Only start MINT if migrations complete in docker-compose (#93)
  docker-compose.yml
Due: none

schema resolvers and starting to rename from providers and participants to participants and providers
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/model_plan.go
  pkg/graph/resolvers/plan_participants_and_providers.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/plan_providers_and_participants.go
  pkg/storage/SQL/plan_participants_and_providers_create.sql
  pkg/storage/SQL/plan_participants_and_providers_get_by_id.sql
  pkg/storage/SQL/plan_participants_and_providers_get_by_model_plan_id.sql
  pkg/storage/SQL/plan_participants_and_providers_update.sql
  pkg/storage/plan_providers_and_participantsStore.go
Due: graphql-schema, check-code-generation

rename from providers and participants to participants and providers
  pkg/models/plan_participants_and_providers.go
  pkg/storage/plan_participants_and_providersStore.go
Due: none

rename migration for consistency
  migrations/V13__Add_Plan_Participants_And_Providers.sql
Due: none

Generically calculate task statuses
  cmd/devdata/main.go
  pkg/graph/resolvers/model_plan.go
  pkg/graph/resolvers/plan_basics.go
  pkg/graph/resolvers/plan_basics_test.go
  pkg/graph/resolvers/plan_general_characteristics.go
  pkg/graph/resolvers/plan_general_characteristics_test.go
  pkg/graph/resolvers/plan_milestones.go
  pkg/graph/resolvers/plan_milestones_test.go
  pkg/models/calc_status.go
  pkg/models/calc_status_test.go
  pkg/models/plan_basics.go
  pkg/models/plan_general_characteristics.go
  pkg/models/plan_milestones.go
  pkg/models/plan_milestones_test.go
Due: none

correct participants id note
  pkg/graph/resolvers/model_plan.go
  pkg/models/plan_participants_and_providers.go
Due: none

exclude_certain_characteristics corrected to be tristate answer in the DB
  migrations/V12__Add_Plan_Beneficiaries.sql
Due: none

basic dev data
  cmd/devdata/main.go
  pkg/models/plan_participants_and_providers.go
  pkg/storage/truncate.go
  scripts/dev
Due: none

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$
  graphql-schema: any of: pkg/graph/schema.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts
  check-intake-schema-generation: any of: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json
  preprocess-intake-swagger: any of: pkg/cedar/intake/cedar_intake.json
