Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, tsc-check, graphql-schema, check-code-generation

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-yaml
        name: Check YAML formatting
      - id: detect-private-key
        name: Check for private keys
      - id: end-of-file-fixer
        files: \.(sql|scss|md|js|ts|tsx|go|yml|yaml)$
        name: Add newlines to ends of files
        exclude: src/gql/gen/.* # Ignore generated FE files

  - repo: https://github.com/detailyang/pre-commit-shell
    rev: v1.0.6
    hooks:
      - id: shell-lint
        name: Lint shell files

  - repo: https://github.com/trussworks/pre-commit-hooks
    rev: v1.1.1
    hooks:
      - id: mdspell
        name: Spellcheck Markdown files
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor
          )$

  - repo: https://github.com/Bahjat/pre-commit-golang
    rev: v1.0.3
    hooks:
      - id: go-fmt-import
        name: Run "goimports" on go files
        args: ['-local', 'github.com/cmsgov/mint-app']
        files: .*\.go$
        exclude: >
          (?x)^(
            .*gen/.*|
            .*generated/.*|
            .*models_gen.go|
          )$

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.59.1
    hooks:
      - id: golangci-lint
        name: Lint go files
        args: ['--concurrency', '-1', '-v'] # Run with all CPUs

  - repo: local
    hooks:
    - id: dockerfilelint
      name: Lint Dockerfile
      entry: dockerfilelint
      language: node
      additional_dependencies: [dockerfilelint]
      files: Dockerfile.*

  - repo: local
    hooks:
      - id: eslint
        name: Run eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$
        exclude: (\.(d\.ts)$)|(\.storybook)|(serviceWorker\.ts)|(src/gql/gen/.*) # This should match the .eslintrc "ignorePatterns". Change one, change the other!

  - repo: local
    hooks:
      - id: tsc-check
        name: Run typescript check
        entry: scripts/pre-commit-tsc
        language: script
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false

  - repo: local
    hooks:
      - id: graphql-schema
        name: Lint GraphQL schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: "pkg/graph/schema/.*\\.graphql"
        pass_filenames: false

  - repo: local
    hooks:
      - id: check-code-generation
        name: Run GraphQL code generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: "pkg/graph/schema\\.graphql|pkg/graph/schema\\.resolvers\\.go|src/queries/.*\\.ts|src/queriesCodegen/.*\\.ts"
        pass_filenames: false

  - repo: https://github.com/awslabs/git-secrets
    rev: b9e96b3212fa06aea65964ff0d5cda84ce935f38
    hooks:
      - id: git-secrets
        name: Check for committed secrets
        entry: git-secrets --pre_commit_hook

  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 2.0.7
    hooks:
      - id: sqlfluff-fix
        exclude: ^migrations/
      - id: sqlfluff-lint
        exclude: ^migrations/

fix imports
  pkg/storage/mto_common_milestone_test.go
Due: none

bump go, linter, pin golang version in pre-commit. fix lint issues
  .github/COPILOT_REVIEW.md
  .pre-commit-config.yaml
  Dockerfile
  cmd/dbseed/seed_command_tui.go
  docs/dev_environment_setup.md
  go.mod
Due: dockerfilelint

bump go, linter, pin golang version in pre-commit. fix lint issues (#2237)
  .github/COPILOT_REVIEW.md
  .pre-commit-config.yaml
  Dockerfile
  cmd/dbseed/seed_command_tui.go
  docs/dev_environment_setup.md
  go.mod
Due: dockerfilelint

fi imports
  pkg/graph/resolvers/plan_discussion.go
Due: none

cleanup, removed deprecated funcs, used some new Go 1.26 features
  cmd/dbseed/audit.go
  cmd/dbseed/main.go
  cmd/test_email/main.go
  cmd/test_email/mto_solution_selected_emails.go
  pkg/graph/resolvers/apply_changes.go
  pkg/graph/resolvers/auditing_paradigm_test.go
  pkg/graph/resolvers/iddoc_questionnaire.go
  pkg/graph/resolvers/model_plan.go
  pkg/graph/resolvers/mto_category.go
  pkg/graph/resolvers/mto_category_test.go
  pkg/graph/resolvers/plan_data_exchange_approach.go
  pkg/graph/resolvers/plan_data_exchange_approach_test.go
  pkg/graph/resolvers/plan_discussion.go
  pkg/graph/resolvers/plan_discussion.resolvers.go
  pkg/graph/resolvers/plan_discussion_test.go
  pkg/graph/resolvers/plan_general_characteristics.go
  pkg/graph/resolvers/resolver_test.go
  pkg/helpers/pointer.go
  pkg/models/model_helpers.go
  pkg/models/plan_cr.go
  pkg/models/plan_tdl.go
  pkg/s3/errors.go
  pkg/storage/store_test.go
  pkg/testconfig/useraccountstoretestconfigs/user_account_store_test_config.go
  pkg/translatedaudit/translated_audit_job_utitilities.go
  pkg/translatedaudit/translated_audit_meta_data.go
  pkg/translatedaudit/translated_audit_suite_utils_test.go
  pkg/worker/analyzed_audit_job_test.go
  pkg/worker/worker_test.go
Due: none

fix tests
  pkg/storage/mto_common_milestone_test.go
Due: none

[Implement edit common milestone and update tests]
  src/features/HelpAndKnowledge/HKCMilestoneLibrary/_components/CommonMilestoneForm/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/HKCMilestoneLibrary/_components/CommonMilestoneForm/index.test.tsx
  src/features/HelpAndKnowledge/HKCMilestoneLibrary/_components/CommonMilestoneForm/index.tsx
  src/features/HelpAndKnowledge/HKCMilestoneLibrary/_components/CommonMilestoneSidePanel/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/HKCMilestoneLibrary/_components/CommonMilestoneSidePanel/index.test.tsx
  src/features/HelpAndKnowledge/HKCMilestoneLibrary/_components/CommonMilestoneSidePanel/index.tsx
  src/features/ModelPlan/ModelToOperations/_components/MilestonePanel/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/ModelToOperations/_components/MilestonePanel/index.test.tsx
  src/features/ModelPlan/ModelToOperations/_components/MilestonePanel/index.tsx
  src/i18n/en-US/helpAndKnowledge/mtoCommonMilestone.ts
  src/tests/mock/mto.ts
Due: eslint, tsc-check

[Clean up]
  src/features/ModelPlan/ModelToOperations/_components/MilestonePanel/index.tsx
  src/tests/mock/mto.ts
Due: eslint, tsc-check

[Apply query changes for categories and facilitated by other]
  src/features/HelpAndKnowledge/HKCMilestoneLibrary/_components/CommonMilestoneForm/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/HKCMilestoneLibrary/_components/CommonMilestoneForm/index.test.tsx
  src/features/HelpAndKnowledge/HKCMilestoneLibrary/_components/CommonMilestoneForm/index.tsx
  src/features/HelpAndKnowledge/HKCMilestoneLibrary/_components/CommonMilestoneSidePanel/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/HKCMilestoneLibrary/_components/CommonMilestoneSidePanel/index.test.tsx
  src/gql/generated/graphql.ts
  src/gql/operations/HKCMilestoneLibrary/GetCommonSolutionsAndCategories.ts
  src/gql/operations/ModelToOperations/GetMTOAllCommonMilestones.ts
  src/tests/mock/general.ts
  src/tests/mock/mto.ts
Due: eslint, tsc-check

fix wrong err check
  pkg/graph/resolvers/plan_discussion.go
Due: none

add functionality for creating a common milestone
  pkg/graph/resolvers/mto_common_milestone.go
  pkg/graph/resolvers/mto_common_milestone.resolvers.go
  pkg/graph/resolvers/mto_common_milestone_test.go
  pkg/sqlqueries/SQL/mto/common_milestone/create.sql
  pkg/sqlqueries/SQL/mto/common_milestone/create_solution_links.sql
  pkg/sqlqueries/mto_common_milestone.go
  pkg/storage/mto_common_milestone.go
  pkg/storage/mto_common_milestone_test.go
  query_examples/MINT/Models to Operations Matrix/Common Milestones/CreateMTO Common Milestone.bru
Due: none

include `facilited_by_other` when applying to model plan
  pkg/graph/resolvers/mto_milestone.go
  pkg/graph/resolvers/mto_milestone_test.go
  pkg/sqlqueries/SQL/mto/milestone/create.sql
Due: none

[Implement complete modal on milestone mark complete]
  src/features/ModelPlan/ModelToOperations/_components/CompletionModal/index.tsx
  src/features/ModelPlan/ModelToOperations/_components/EditMilestoneForm/index.tsx
  src/gql/generated/graphql.ts
  src/gql/operations/ModelToOperations/UpdateMTOMilestone.ts
  src/i18n/en-US/modelPlan/modelToOperations.ts
Due: eslint, tsc-check

[Add test]
  src/features/ModelPlan/ModelToOperations/_components/CompletionModal/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/ModelToOperations/_components/CompletionModal/index.test.tsx
  src/features/ModelPlan/ModelToOperations/_components/CompletionModal/index.tsx
Due: eslint, tsc-check

[Add border]
  src/features/HelpAndKnowledge/HKCMilestoneLibrary/_components/CommonMilestoneForm/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/HKCMilestoneLibrary/_components/CommonMilestoneForm/index.tsx
  src/features/HelpAndKnowledge/HKCMilestoneLibrary/_components/CommonMilestoneSidePanel/__snapshots__/index.test.tsx.snap
Due: eslint, tsc-check

[Clean up]
  src/features/ModelPlan/ModelToOperations/_components/CompletionModal/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/ModelToOperations/_components/CompletionModal/index.tsx
  src/i18n/en-US/modelPlan/modelToOperations.ts
Due: eslint, tsc-check

[small fix test]
  src/features/ModelPlan/ModelToOperations/_components/CompletionModal/index.test.tsx
Due: eslint, tsc-check

remove unused logger
  pkg/graph/resolvers/mto_common_milestone.go
  pkg/graph/resolvers/mto_common_milestone.resolvers.go
  pkg/graph/resolvers/mto_common_milestone_test.go
  pkg/graph/resolvers/mto_milestone_test.go
  pkg/storage/mto_common_milestone.go
  pkg/storage/mto_common_milestone_test.go
Due: none

better single responsibility principle implementation
  pkg/storage/mto_common_milestone.go
  pkg/storage/mto_common_milestone_test.go
Due: none

fix fm
  pkg/storage/mto_common_milestone.go
Due: none

oops - didn't need that nil check
  pkg/graph/resolvers/apply_changes.go
  pkg/graph/resolvers/apply_changes_test.go
Due: none

[MINT-3689] Milestone mark complete modal (#2241)
  src/features/ModelPlan/ModelToOperations/_components/CompletionModal/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/ModelToOperations/_components/CompletionModal/index.test.tsx
  src/features/ModelPlan/ModelToOperations/_components/CompletionModal/index.tsx
  src/features/ModelPlan/ModelToOperations/_components/EditMilestoneForm/index.tsx
  src/gql/generated/graphql.ts
  src/gql/operations/ModelToOperations/UpdateMTOMilestone.ts
  src/i18n/en-US/modelPlan/modelToOperations.ts
Due: eslint, tsc-check

[MINT-3656] Edit common milestone (#2236)
  src/features/HelpAndKnowledge/HKCMilestoneLibrary/_components/CommonMilestoneForm/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/HKCMilestoneLibrary/_components/CommonMilestoneForm/index.test.tsx
  src/features/HelpAndKnowledge/HKCMilestoneLibrary/_components/CommonMilestoneForm/index.tsx
  src/features/HelpAndKnowledge/HKCMilestoneLibrary/_components/CommonMilestoneSidePanel/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/HKCMilestoneLibrary/_components/CommonMilestoneSidePanel/index.test.tsx
  src/features/HelpAndKnowledge/HKCMilestoneLibrary/_components/CommonMilestoneSidePanel/index.tsx
  src/features/ModelPlan/ModelToOperations/_components/MilestonePanel/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/ModelToOperations/_components/MilestonePanel/index.test.tsx
  src/features/ModelPlan/ModelToOperations/_components/MilestonePanel/index.tsx
  src/gql/generated/graphql.ts
  src/gql/operations/HKCMilestoneLibrary/GetCommonSolutionsAndCategories.ts
  src/gql/operations/ModelToOperations/GetMTOAllCommonMilestones.ts
  src/i18n/en-US/helpAndKnowledge/mtoCommonMilestone.ts
  src/tests/mock/general.ts
  src/tests/mock/mto.ts
Due: eslint, tsc-check

Removing the grid container and adding in the gap to match the rest of the side panels
  src/features/ModelPlan/ModelToOperations/_components/MilestonePanel/index.tsx
Due: eslint, tsc-check

updated snaps
  src/features/ModelPlan/ModelToOperations/_components/MilestonePanel/__snapshots__/index.test.tsx.snap
Due: none

task status regression logic
  pkg/graph/resolvers/model_plan.go
  pkg/graph/resolvers/mto_category.go
  pkg/graph/resolvers/mto_milestone.go
  pkg/graph/resolvers/mto_solution.go
  pkg/graph/resolvers/plan_data_exchange_approach.go
  pkg/graph/resolvers/plan_task.go
  pkg/graph/resolvers/plan_task_status_updates.go
  pkg/graph/resolvers/plan_task_test.go
Due: none

[NOREF] Add Gap to Milestone Details Sidepanel (#2243)
  src/features/ModelPlan/ModelToOperations/_components/MilestonePanel/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/ModelToOperations/_components/MilestonePanel/index.tsx
Due: eslint, tsc-check

dedupe the truncate call, avoid launching goroutine unless we have valid `emailService`
  pkg/graph/resolvers/mto_milestone.go
  pkg/storage/truncate.go
Due: none

Fix EditMilestoneForm
  src/components/MultiSelect/index.tsx
  src/features/ModelPlan/ModelToOperations/_components/EditMilestoneForm/index.tsx
Due: eslint, tsc-check

Fix failing tests
  cypress/e2e/tasks.spec.js
  src/features/ModelPlan/CollaborationArea/Cards/ModelPlanCard/__snapshots__/index.test.tsx.snap
Due: eslint, tsc-check

Noref/fix locked tests (#2247)
  pkg/graph/resolvers/mto_milestone.go
  pkg/graph/resolvers/plan_discussion.go
  pkg/storage/truncate.go
Due: none

Add modelType to getTimeline query
  src/gql/generated/graphql.ts
  src/gql/operations/Timeline/getTimeline.ts
  src/tests/mock/readonly.ts
Due: eslint, tsc-check

init pass for mto common milestone emails
  pkg/email/mto_common_milestone_created.go
  pkg/email/mto_common_milestone_emails.go
  pkg/email/mto_common_milestone_removed.go
  pkg/email/mto_common_milestone_updated.go
  pkg/email/mto_emails.go
  pkg/email/templates/mto_common_milestone_created_body.html
  pkg/email/templates/mto_common_milestone_created_subject.html
  pkg/email/templates/mto_common_milestone_removed_body.html
  pkg/email/templates/mto_common_milestone_removed_subject.html
  pkg/email/templates/mto_common_milestone_updated_body.html
  pkg/email/templates/mto_common_milestone_updated_subject.html
Due: none
