Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, tsc-check, graphql-schema, check-code-generation

dockerfilelint:
  name: Lint Dockerfile
  entry: dockerfilelint
  language: node
  additional_dependencies:
  - dockerfilelint

eslint:
  name: Run eslint
  entry: scripts/pre-commit-eslint
  language: script

tsc-check:
  name: Run typescript check
  entry: scripts/pre-commit-tsc
  language: script
  pass_filenames: false

graphql-schema:
  name: Lint GraphQL schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script

check-code-generation:
  name: Run GraphQL code generation
  entry: scripts/pre-commit-check-code-generation
  language: script
  pass_filenames: false

Use envrc.local
  .github/workflows/run_tests.yml
Due: none

quotes
  .github/workflows/run_tests.yml
Due: none

use single quotes
  .github/workflows/run_tests.yml
Due: none

Updated cypress test for it solutions
  cypress/e2e/itSolutions.js
Due: eslint, tsc-check

Removed commented out cypress line
  cypress/e2e/itSolutions.js
Due: eslint, tsc-check

Fix missing quote
  .github/workflows/run_tests.yml
Due: none

render only one modal and pass in props
  src/views/ModelPlan/TaskList/ITSolutions/ManageSubtasks/index.tsx
Due: eslint, tsc-check

Cypress 12
  cypress/support/login.js
  package.json
  yarn.lock
Due: eslint, tsc-check

fix some it solutions e2e errors
  cypress/e2e/itSolutions.js
Due: eslint, tsc-check

feat: implement general characteristics loader
  pkg/graph/resolvers/plan_general_characteristics.go
  pkg/graph/schema.resolvers.go
  pkg/storage/SQL/plan_general_characteristics/get_by_model_plan_id_LOADER.sql
  pkg/storage/loaders/data_loaders.go
  pkg/storage/loaders/general_characteristics_loader.go
  pkg/storage/plan_general_characteristicsStore.go
Due: check-code-generation

fix: corrected aggregated digest tests
  pkg/worker/aggregated_digest_email_job_test.go
Due: none

feat: basic general characteristics unit test
  pkg/graph/resolvers/plan_general_characteristics_test.go
Due: none

chore: fix snapshot
  src/views/ModelPlan/Collaborators/AddCollaborator/__snapshots__/index.test.tsx.snap
Due: none

feat: add quality option to team role (#503)
  migrations/V86__Add_Quality_To_Role_Type.sql
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/models/plan_collaborator.go
  src/i18n/en-US/modelPlan.ts
  src/types/graphql-global-types.ts
  src/utils/modelPlan.ts
  src/views/ModelPlan/Collaborators/AddCollaborator/__snapshots__/index.test.tsx.snap
Due: eslint, tsc-check, graphql-schema, check-code-generation

Final cypress debug
  cypress/e2e/participantsAndProviders.spec.js
  cypress/e2e/prepareForClearance.js
Due: eslint, tsc-check

Double .check for characteristics
  cypress/e2e/characteristics.spec.js
Due: eslint, tsc-check

Make build images after run tests (should utilize cache) and make job run with caches
  .github/workflows/build_application_images.yml
  .github/workflows/deploy_pipeline.yml
  .github/workflows/run_tests.yml
Due: none

Cy.wait again
  cypress/e2e/modelPlan.spec.js
Due: eslint, tsc-check

feat: implement plan participants and providers data loader
  pkg/graph/resolvers/operational_need_triggers_test.go
  pkg/graph/resolvers/plan_participants_and_providers.go
  pkg/graph/resolvers/plan_participants_and_providers_test.go
  pkg/graph/resolvers/prepare_for_clearance_test.go
  pkg/graph/schema.resolvers.go
  pkg/storage/SQL/plan_participants_and_providers/get_by_model_plan_id_LOADER.sql
  pkg/storage/loaders/data_loaders.go
  pkg/storage/loaders/plan_participants_and_providers_loader.go
  pkg/storage/plan_participants_and_providersStore.go
  pkg/worker/analyzed_audit_job_test.go
Due: check-code-generation

Add test id to the individual subtasks
  src/views/ModelPlan/TaskList/ITSolutions/Subtasks/index.tsx
Due: eslint, tsc-check

feat: plan beneficiaries loader
  pkg/graph/resolvers/plan_beneficiaries.go
  pkg/graph/resolvers/plan_beneficiaries_test.go
  pkg/storage/SQL/plan_beneficiaries/get_by_model_plan_id_LOADER.sql
  pkg/storage/loaders/data_loaders.go
  pkg/storage/loaders/plan_beneficiaries_loader.go
  pkg/storage/plan_beneficiariesStore.go
Due: none

feat: remove legacy by model plan id logic for beneficiaries and providers
  pkg/graph/resolvers/plan_beneficiaries.go
  pkg/graph/resolvers/plan_beneficiaries_test.go
  pkg/graph/resolvers/prepare_for_clearance_test.go
  pkg/graph/schema.resolvers.go
  pkg/storage/SQL/plan_beneficiaries/get_by_model_plan_id.sql
  pkg/storage/SQL/plan_participants_and_providers/get_by_model_plan_id.sql
  pkg/storage/plan_beneficiariesStore.go
  pkg/storage/plan_participants_and_providersStore.go
  pkg/worker/analyzed_audit_job_test.go
Due: check-code-generation

update e2e test
  cypress/e2e/itSolutions.js
Due: eslint, tsc-check

render empty div if subtask per column is empty
  src/views/ModelPlan/TaskList/ITSolutions/_components/SubtasksTable/index.tsx
Due: eslint, tsc-check

add data test id
  src/views/ModelPlan/TaskList/ITSolutions/ManageSubtasks/index.tsx
Due: eslint, tsc-check

Manage Subtasks e2e
  cypress/e2e/itSolutions.js
Due: eslint, tsc-check

feat: Ops Eval and Learning Data Loader
  pkg/graph/resolvers/plan_ops_eval_and_learning.go
  pkg/graph/resolvers/plan_participants_and_providers_test.go
  pkg/storage/SQL/plan_ops_eval_and_learning/get_by_model_plan_id_LOADER.sql
  pkg/storage/loaders/data_loaders.go
  pkg/storage/loaders/plan_ops_eval_and_learning_loader.go
  pkg/storage/plan_ops_eval_and_learningStore.go
Due: none

Update snaps
  src/views/ModelPlan/TaskList/ITSolutions/ManageSubtasks/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/Subtasks/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/_components/SubtasksTable/__snapshots__/index.test.tsx.snap
Due: none

chore: remove old get by model plan id logic for ops eval and learning
  pkg/graph/resolvers/operational_need_triggers_test.go
  pkg/graph/resolvers/plan_ops_eval_and_learning.go
  pkg/graph/resolvers/plan_ops_eval_and_learning_test.go
  pkg/graph/resolvers/prepare_for_clearance_test.go
  pkg/graph/schema.resolvers.go
  pkg/storage/SQL/plan_ops_eval_and_learning/get_by_model_plan_id.sql
  pkg/storage/plan_ops_eval_and_learningStore.go
  pkg/worker/analyzed_audit_job_test.go
Due: check-code-generation

Uncomment skipped jobs
  .github/workflows/run_tests.yml
Due: none

Added update click on pfc cypress tests
  cypress/e2e/prepareForClearance.js
Due: eslint, tsc-check

feat: Plan Payments Loader
  pkg/graph/resolvers/plan_payments.go
  pkg/graph/resolvers/plan_payments_test.go
  pkg/storage/SQL/plan_payments/get_by_model_plan_id_LOADER.sql
  pkg/storage/loaders/data_loaders.go
  pkg/storage/loaders/plan_payments_loader.go
  pkg/storage/plan_paymentsStore.go
Due: none

chore: remove old get by model plan id logic for plan payments
  pkg/graph/resolvers/plan_payments.go
  pkg/graph/resolvers/plan_payments_test.go
  pkg/graph/resolvers/prepare_for_clearance_test.go
  pkg/graph/schema.resolvers.go
  pkg/storage/SQL/plan_payments/get_by_model_plan_id.sql
  pkg/storage/plan_paymentsStore.go
  pkg/worker/analyzed_audit_job_test.go
Due: check-code-generation

chore: remove old get by model plan id logic for plan basics
  cmd/dbseed/resolver_wrappers.go
  pkg/graph/resolvers/plan_basics.go
  pkg/graph/resolvers/plan_basics_test.go
  pkg/graph/resolvers/prepare_for_clearance_test.go
  pkg/storage/SQL/plan_basics/get_by_model_plan_id.sql
  pkg/storage/loaders/data_loaders.go
  pkg/storage/plan_basicsStore.go
  pkg/worker/analyzed_audit_job_test.go
Due: none

chore: remove old get by model plan id logic for plan general characteristics
  pkg/graph/resolvers/operational_need_triggers_test.go
  pkg/graph/resolvers/plan_general_characteristics.go
  pkg/graph/resolvers/plan_general_characteristics_test.go
  pkg/graph/resolvers/prepare_for_clearance_test.go
  pkg/storage/SQL/plan_general_characteristics/get_by_model_plan_id.sql
  pkg/storage/plan_general_characteristicsStore.go
  pkg/worker/analyzed_audit_job_test.go
Due: none

chore: correct variable naming error in data loader files
  pkg/storage/loaders/general_characteristics_loader.go
  pkg/storage/loaders/plan_beneficiaries_loader.go
  pkg/storage/loaders/plan_ops_eval_and_learning_loader.go
  pkg/storage/loaders/plan_participants_and_providers_loader.go
  pkg/storage/loaders/plan_payments_loader.go
Due: none

chore: fix unit test, fetch 3rd job and complete it to get callback job
  pkg/storage/model_planStore.go
  pkg/worker/digest_email_job_test.go
Due: none

[EASI-2557] Daily Digest Email to MINT Team Mailbox (#502)
  pkg/email/aggregated_daily_digest.go
  pkg/email/template_service_impl.go
  pkg/email/templates/aggregated_daily_digest_body.html
  pkg/email/templates/aggregated_daily_digest_subject.html
  pkg/storage/SQL/analyzed_audit/get_by_date.sql
  pkg/storage/SQL/model_plan/collection_where_archived.sql
  pkg/storage/analyzed_auditStore.go
  pkg/storage/model_planStore.go
  pkg/worker/aggregated_digest_email_job.go
  pkg/worker/aggregated_digest_email_job_test.go
  pkg/worker/analyzed_audit_job.go
  pkg/worker/digest_email_job.go
  pkg/worker/digest_email_job_test.go
  pkg/worker/worker.go
Due: none

Add mode max to caching in build images and ensure faktory also has a cache-to property
  .github/workflows/build_application_images.yml
Due: none

Path conditions:
  dockerfilelint: any of: Dockerfile.*
  eslint: any of: \.(js|jsx|ts|tsx)$
  tsc-check: any of: \.(js|jsx|ts|tsx)$
  graphql-schema: any of: pkg/graph/schema.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts
