Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, tsc-check, graphql-schema, check-code-generation

dockerfilelint:
  name: Lint Dockerfile
  entry: dockerfilelint
  language: node
  additional_dependencies:
  - dockerfilelint

eslint:
  name: Run eslint
  entry: scripts/pre-commit-eslint
  language: script

tsc-check:
  name: Run typescript check
  entry: scripts/pre-commit-tsc
  language: script
  pass_filenames: false

graphql-schema:
  name: Lint GraphQL schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script

check-code-generation:
  name: Run GraphQL code generation
  entry: scripts/pre-commit-check-code-generation
  language: script
  pass_filenames: false

fix number list items not showing a bullet
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/index.scss
Due: none

Bold text below “Data collection capabilities” should be the same size as the non-bolded text but is currently smaller.
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/about.tsx
Due: eslint, tsc-check

remove extra period
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/SalesforceApplicationReview/index.tsx
Due: eslint, tsc-check

remove duplicate 'Functions' and changed Donna's title
  src/i18n/en-US/helpAndKnowledge/helpAndKnowledge.ts
  src/views/HelpAndKnowledge/SolutionsHelp/solutionsMap.tsx
Due: eslint, tsc-check

export contactroles
  src/views/HelpAndKnowledge/SolutionsHelp/solutionsMap.tsx
Due: eslint, tsc-check

add new function to shorten the contact roles in the side bar
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/_components/Contact/index.tsx
Due: eslint, tsc-check

update snaps
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/_components/Contact/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/_components/Header/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionCategories/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionHelpCard/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionHelpCardGroup/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionsHeader/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionsTag/__snapshots__/index.test.tsx.snap
Due: none

feat: test other approach of using a CTE to set the user context of the request instead of using a transaction
  pkg/storage/SQL/discussion_reply/delete.sql
  pkg/storage/plan_discussionStore.go
Due: none

feat: elasticsearch query endpoints
  .envrc
  config/elasticsearch/certs/http_ca.crt
  config/elasticsearch/elasticsearch.yml
  config/elasticsearch/log4j2.properties
  config/logstash/logstash.conf
  docker-compose.yml
  go.mod
  go.sum
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/resolver.go
  pkg/graph/resolvers/search_change_table.go
  pkg/graph/resolvers/search_change_table_test.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/graph/schema.resolvers_test.go
  pkg/models/change_table_record.go
  pkg/server/routes.go
Due: graphql-schema, check-code-generation

[NOREF] - useCacheQuery hook for 'cache-and-network' fetchPolicy (#514)
  src/hooks/useCacheQuery.ts
Due: eslint, tsc-check

feat: added endpoints for SearchChangeTableByModelStatus, SearchChangeTableByActor, SearchChangeTableByDateRange, SearchChangeTableWithFreeText
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/resolvers/search_change_table.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
Due: graphql-schema, check-code-generation

Move click outside waitFor
  src/views/ModelPlan/TaskList/ITSolutions/Subtasks/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/Subtasks/index.test.tsx
Due: eslint, tsc-check

pairing with Patrick to resolve no mock data
  src/views/ModelPlan/TaskList/ITSolutions/Subtasks/index.test.tsx
  src/views/ModelPlan/TaskList/ITSolutions/Subtasks/index.tsx
Due: eslint, tsc-check

wip: date range aggregation and consolidation
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/search_change_table.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/date_histogram_aggregation_bucket.go
Due: graphql-schema, check-code-generation

testing in dev
  .github/workflows/deploy_to_environment.yml
Due: none

[EASI-2511] Operational Need Subtasks (#517)
  cypress/e2e/itSolutions.js
  src/i18n/en-US/draftModelPlan/subtasks.ts
  src/i18n/en-US/index.ts
  src/index.scss
  src/queries/ITSolutions/CreateOperationalSolutionSubtasks.ts
  src/queries/ITSolutions/DeleteOperationalSolutionSubtasks.ts
  src/queries/ITSolutions/GetOperationalSolution.ts
  src/queries/ITSolutions/GetOperationalSolutionSubtasks.ts
  src/queries/ITSolutions/UpdateOperationalSolutionSubtasks.ts
  src/queries/ITSolutions/types/CreateOperationalSolutionSubtasks.ts
  src/queries/ITSolutions/types/DeleteOperationalSolutionSubtask.ts
  src/queries/ITSolutions/types/GetOperationalSolution.ts
  src/queries/ITSolutions/types/GetOperationalSolutionSubtasks.ts
  src/queries/ITSolutions/types/UpdateOperationalSolutionSubtasks.ts
  src/types/graphql-global-types.ts
  src/utils/modelPlan.ts
  src/views/ModelPlan/TaskList/ITSolutions/AddCustomSolution/index.test.tsx
  src/views/ModelPlan/TaskList/ITSolutions/AddCustomSolution/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/LinkDocuments/index.test.tsx
  src/views/ModelPlan/TaskList/ITSolutions/SolutionDetails/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/Subtasks/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/Subtasks/index.test.tsx
  src/views/ModelPlan/TaskList/ITSolutions/Subtasks/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/NeedQuestionAndAnswer/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionCard/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionDetailCard/index.stories.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionDetailCard/index.test.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/SubtasksTable/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/_components/SubtasksTable/index.stories.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/SubtasksTable/index.test.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/SubtasksTable/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/index.tsx
Due: eslint, tsc-check, check-code-generation

qa feedback
  src/i18n/en-US/helpAndKnowledge/helpAndKnowledge.ts
  src/views/HelpAndKnowledge/SolutionsHelp/solutionsMap.tsx
Due: eslint, tsc-check

update snaps
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionHelpCardGroup/__snapshots__/index.test.tsx.snap
Due: none

add categories to be searched
  src/views/HelpAndKnowledge/SolutionsHelp/index.tsx
Due: eslint, tsc-check

feat: discusion and reply using shared transaction utility to set local transaction only session variable
  pkg/storage/plan_discussionStore.go
  pkg/storage/utitiltyStore.go
Due: none

feat: audit delete paradigm unit test to verify no race condition and the correct actor is recorded in audit change
  pkg/graph/resolvers/auditing_paradigm_test.go
Due: none

feat: ADR for capturing the deleted actor
  docs/adr/0011-capturing-deleted-actor.md
Due: none

wip: search change table date histogram aggregation consolidation
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/resolvers/aggregate_change_table.go
  pkg/graph/resolvers/search_change_table.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/date_histogram_aggregation_bucket.go
  pkg/models/elasticsearch_request.go
Due: graphql-schema, check-code-generation

update
  .github/workflows/deploy_to_environment.yml
Due: none

[EASI-2735] Help Center Operational Solution Review Updates (#516)
  src/i18n/en-US/helpAndKnowledge/helpAndKnowledge.ts
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Modal/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/4Innovation/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/CMSQualtrics/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/CentralizedDataExchange/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/about.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/pointsOfContact.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/SalesforceApplicationReview/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/index.scss
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/_components/Contact/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/_components/Contact/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/_components/Header/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/_components/Header/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/_components/CategoryFooter/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionCategories/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionCategories/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionHelpCard/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionHelpCard/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionHelpCardGroup/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionHelpCardGroup/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionsHeader/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionsHeader/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionsTag/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionsTag/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/solutionsMap.tsx
  src/views/HelpAndKnowledge/home.tsx
  src/views/ModelPlan/ReadOnly/_components/MobileNav/index.scss
Due: eslint, tsc-check

feat: add pros and cons for chosen option
  docs/adr/0011-capturing-deleted-actor.md
Due: none

feat: update adr template to use the term option instead of alternative
  docs/adr/template.md
Due: none

ADR for capturing the deleted actor (#520)
  docs/adr/0011-capturing-deleted-actor.md
  docs/adr/template.md
Due: none

feat: replace fmt.print and println statment with log statements where possible
  pkg/graph/resolvers/plan_task_list_section_locks.go
  pkg/local/authentication_middleware.go
  pkg/okta/authentication_middleware.go
  pkg/server/routes.go
  pkg/services/auth.go
Due: none

Easi 2750/create rds snapshot (#513)
  .github/workflows/deploy_to_environment.yml
  scripts/rds-snapshot-app-db
  scripts/rds-snapshot-app-db.sh
Due: none

Replace print statements with Zap Logger Statements (#522)
  pkg/graph/resolvers/plan_task_list_section_locks.go
  pkg/local/authentication_middleware.go
  pkg/okta/authentication_middleware.go
  pkg/server/routes.go
  pkg/services/auth.go
Due: none

feat: remove unused function, correct function to use tx
  pkg/storage/operational_solution_subtaskStore.go
  pkg/storage/plan_discussionStore.go
Due: none

feat: collaborator delete user ctx
  pkg/graph/resolvers/plan_collaborator.go
  pkg/storage/plan_collaboratorStore.go
  pkg/storage/plan_discussionStore.go
Due: none

feat: solution subtask delete
  pkg/graph/resolvers/operational_solution_subtask.go
  pkg/storage/operational_solution_subtaskStore.go
Due: none

feat: plan favorite delete
  pkg/graph/resolvers/plan_favorite.go
  pkg/storage/operational_solution_subtaskStore.go
  pkg/storage/plan_collaboratorStore.go
  pkg/storage/plan_favoriteStore.go
Due: none

Addressed race condition for intital state of op needs table
  src/views/ModelPlan/TaskList/ITSolutions/Home/operationalNeedsTable.tsx
  src/views/ModelPlan/TaskList/ITSolutions/util.tsx
Due: eslint, tsc-check

Refactored code
  src/views/ModelPlan/TaskList/ITSolutions/Home/operationalNeedsTable.tsx
Due: eslint, tsc-check

Updated snap
  src/views/ModelPlan/TaskList/ITSolutions/Home/__snapshots__/operationalNeedsTable.test.tsx.snap
Due: none

Updated contact info
  src/views/HelpAndKnowledge/SolutionsHelp/solutionsMap.tsx
Due: eslint, tsc-check

Removed duplicate roles
  src/views/HelpAndKnowledge/SolutionsHelp/solutionsMap.tsx
Due: eslint, tsc-check

Path conditions:
  dockerfilelint: any of: Dockerfile.*
  eslint: any of: \.(js|jsx|ts|tsx)$
  tsc-check: any of: \.(js|jsx|ts|tsx)$
  graphql-schema: any of: pkg/graph/schema.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts
