Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, tsc-check, graphql-schema, check-code-generation

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch
        args: [
          '--pattern', '^(?!((main)|(feature\/EASI-\d{1,5})|((EASI-\d{1,5}|NOREF|dependabot)\/[a-zA-Z0-9\-\._/]+))$).*',
          '--branch', '' # Adding this to remove the default protection on `main` so that CI checks can pass
        ]
        name: Enforce branch naming patterns
        description: Enforces branch naming policy. Allowed branch patterns are 'EASI-#', 'EASI-#/*', 'feature/EASI-#', 'NOREF/*', and 'dependabot/*'. A feature branch like feature/EASI-2020 would have branches like EASI-2020/frontend and EASI-2020/backend merge into it.
      - id: check-yaml
        name: Check YAML formatting
      - id: detect-private-key
        name: Check for private keys
      - id: end-of-file-fixer
        files: \.(sql|scss|md|js|ts|tsx|go|yml|yaml)$
        name: Add newlines to ends of files

  - repo: https://github.com/detailyang/pre-commit-shell
    rev: v1.0.6
    hooks:
      - id: shell-lint
        name: Lint shell files

  - repo: https://github.com/trussworks/pre-commit-hooks
    rev: v1.1.1
    hooks:
      - id: mdspell
        name: Spellcheck Markdown files
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor
          )$

  - repo: https://github.com/Bahjat/pre-commit-golang
    rev: v1.0.1
    hooks:
      - id: go-fmt-import
        name: Run "goimports" on go files
        args: ['-local', 'github.com/cmsgov/mint-app']
        files: .*\.go$
        exclude: >
          (?x)^(
            .*gen/.*|
            .*generated/.*|
            .*models_gen.go|
          )$

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.48.0
    hooks:
      - id: golangci-lint
        name: Lint go files
        args: ['--concurrency', '-1'] # Run with all CPUs

  - repo: local
    hooks:
    - id: dockerfilelint
      name: Lint Dockerfile
      entry: dockerfilelint
      language: node
      additional_dependencies: [dockerfilelint]
      files: Dockerfile.*

  - repo: local
    hooks:
      - id: eslint
        name: Run eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$

  - repo: local
    hooks:
      - id: tsc-check
        name: Run typescript check
        entry: scripts/pre-commit-tsc
        language: script
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false

  - repo: local
    hooks:
      - id: graphql-schema
        name: Lint GraphQL schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: pkg/graph/schema.graphql

  - repo: local
    hooks:
      - id: check-code-generation
        name: Run GraphQL code generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: "pkg/graph/schema\\.graphql|pkg/graph/schema\\.resolvers\\.go|src/queries/.*\\.ts"
        pass_filenames: false

  - repo: https://github.com/awslabs/git-secrets
    rev: b9e96b3212fa06aea65964ff0d5cda84ce935f38
    hooks:
      - id: git-secrets
        name: Check for committed secrets
        entry: git-secrets --pre_commit_hook

  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 1.2.1
    hooks:
      - id: sqlfluff-fix
        exclude: ^scripts/data/
      - id: sqlfluff-lint
        exclude: ^scripts/data/

moved stuff around
  src/views/ModelPlan/TaskList/ITSolutions/Subtasks/index.tsx
Due: eslint, tsc-check

chore: experimenting with changing to head and base refs rather than SHA-1
  .github/workflows/check_migrations.yml
Due: none

chore: renaming env vars to correspond with previous commit's changes
  .github/workflows/check_migrations.yml
Due: none

chore: re-added refs/heads/ prefix to HEAD_BRANCH and BASE_BRANCH
  .github/workflows/check_migrations.yml
Due: none

chore: removed the refs/heads branch prefix
  .github/workflows/check_migrations.yml
Due: none

Adding manage subtask work and removalmodal
  src/i18n/en-US/draftModelPlan/subtasks.ts
  src/queries/ITSolutions/GetOperationalSolution.ts
  src/queries/ITSolutions/types/GetOperationalSolution.ts
  src/views/ModelPlan/TaskList/ITSolutions/Subtasks/index.tsx
Due: eslint, tsc-check, check-code-generation

chore: added debug logging
  .github/workflows/check_migrations.yml
Due: none

chore: fetching the head branch
  .github/workflows/check_migrations.yml
Due: none

Arching Subtasks now working
  src/i18n/en-US/draftModelPlan/subtasks.ts
  src/views/ModelPlan/TaskList/ITSolutions/Subtasks/index.tsx
Due: eslint, tsc-check

renamed archive to removeSubtask
  src/views/ModelPlan/TaskList/ITSolutions/Subtasks/index.tsx
Due: eslint, tsc-check

chore: added debug output
  .github/workflows/check_migrations.yml
Due: none

chore: removed broken debug line
  .github/workflows/check_migrations.yml
Due: none

if remove the last subtask, return to sollutions detail
  src/views/ModelPlan/TaskList/ITSolutions/Subtasks/index.tsx
Due: eslint, tsc-check

NOREF: Create Missing Operational Needs for Existing Model plans (#496)
  migrations/V85__Add_Missing_Needs_And_Update_Existing_Needs.sql
Due: none

notes to self
  src/views/ModelPlan/TaskList/ITSolutions/Subtasks/index.tsx
Due: eslint, tsc-check

chore: rename migration to V86 V87
  migrations/V86__Update_Possible_Operational_Solutions.sql
  migrations/V87__Update_Create_Possible_Need_Solution_Link_Function.sql
Due: none

chore: refactoring action into steps
  .github/workflows/check_migrations.yml
Due: none

fix: changed multiline string assignment to to heredoc syntax
  .github/workflows/check_migrations.yml
Due: none

chore: tightened up syntax and matched standard heredoc assignment
  .github/workflows/check_migrations.yml
Due: none

chore: split Find migration files step into multiple steps
  .github/workflows/check_migrations.yml
Due: none

chore: further refactored steps into single responsibilities
  .github/workflows/check_migrations.yml
Due: none

chore: added outputs
  .github/workflows/check_migrations.yml
Due: none

using GITHUB_OUTPUT with heredoc syntax
  .github/workflows/check_migrations.yml
Due: none

feat: complete list of possible solution links, add to migration
  migrations/V87__Update_Create_Possible_Need_Solution_Link_Function.sql
Due: none

chore: split the workflow up into multiple files
  .github/workflows/check_migrations.yml
  .github/workflows/fetch_branch.yml
  .github/workflows/gather_migrations.yml
Due: none

chore: upgraded from checkout@v2 to checkout@v3
  .github/workflows/check_migrations.yml
  .github/workflows/fetch_branch.yml
Due: none

chore: updated referenced action names
  .github/workflows/check_migrations.yml
Due: none

Revert "chore: updated referenced action names"
  .github/workflows/check_migrations.yml
Due: none

Revert "chore: upgraded from checkout@v2 to checkout@v3"
  .github/workflows/check_migrations.yml
  .github/workflows/fetch_branch.yml
Due: none

Revert "chore: split the workflow up into multiple files"
  .github/workflows/check_migrations.yml
  .github/workflows/fetch_branch.yml
  .github/workflows/gather_migrations.yml
Due: none

Revert "using GITHUB_OUTPUT with heredoc syntax"
  .github/workflows/check_migrations.yml
Due: none

Revert "chore: added outputs"
  .github/workflows/check_migrations.yml
Due: none

chore: cleaned up test file used to emulate migration conflict
  migrations/V84__test.sql
Due: none

fix: diff showing files added on main as included in HEAD migrations
  .github/workflows/check_migrations.yml
Due: none

Remove non-data loader method to get operational solutions
  pkg/graph/resolvers/operational_solution.go
  pkg/graph/schema.resolvers.go
  pkg/storage/SQL/operational_solution/and_possible_get_by_operational_need_id.sql
  pkg/storage/operational_solutionStore.go
Due: check-code-generation

add error handling
  src/i18n/en-US/draftModelPlan/subtasks.ts
  src/views/ModelPlan/TaskList/ITSolutions/Subtasks/index.tsx
Due: eslint, tsc-check

add copy
  src/i18n/en-US/draftModelPlan/subtasks.ts
Due: eslint, tsc-check

chore: remove redundant principal logging
  pkg/services/auth.go
Due: none

updated code
  .github/workflows/deploy_to_environment.yml
Due: none
