Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, tsc-check, graphql-schema, check-code-generation

dockerfilelint:
  name: Lint Dockerfile
  entry: dockerfilelint
  language: node
  additional_dependencies:
  - dockerfilelint

eslint:
  name: Run eslint
  entry: scripts/pre-commit-eslint
  language: script

tsc-check:
  name: Run typescript check
  entry: scripts/pre-commit-tsc
  language: script
  pass_filenames: false

graphql-schema:
  name: Lint GraphQL schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script

check-code-generation:
  name: Run GraphQL code generation
  entry: scripts/pre-commit-check-code-generation
  language: script
  pass_filenames: false

blowup read only discussions
  src/views/ModelPlan/ReadOnly/Discussions/index.tsx
Due: eslint, tsc-check

feat: update truncate to include history tables
  pkg/storage/truncate.go
  scripts/dev
Due: none

Add back the reply parts
  src/views/ModelPlan/Discussions/FormatDiscussion.tsx
  src/views/ModelPlan/Discussions/SingleDiscussion.tsx
  src/views/ModelPlan/ReadOnly/Discussions/_components/QuestionAndReply.tsx
Due: eslint, tsc-check

Add back the reply parts
  src/views/ModelPlan/ReadOnly/Discussions/index.tsx
Due: eslint, tsc-check

move teh conditional inside the onclick
  src/views/ModelPlan/Discussions/SingleDiscussion.tsx
Due: eslint, tsc-check

remove some commented code
  src/views/ModelPlan/ReadOnly/Discussions/index.tsx
Due: eslint, tsc-check

add a bunch of optional props
  src/views/ModelPlan/ReadOnly/Discussions/_components/QuestionAndReply.tsx
Due: eslint, tsc-check

embracing the QuestionAndReply component
  src/views/ModelPlan/Discussions/index.tsx
Due: eslint, tsc-check

pass modal state setter down
  src/views/ModelPlan/Discussions/index.tsx
  src/views/ModelPlan/ReadOnly/Discussions/index.tsx
Due: eslint, tsc-check

sort abc
  src/views/ModelPlan/ReadOnly/Discussions/_components/QuestionAndReply.tsx
Due: eslint, tsc-check

remove weird logic
  src/views/ModelPlan/Discussions/index.tsx
Due: eslint, tsc-check

feat: first pass at temporal table write up
  docs/temporal_tables.md
Due: none

feat: update spelling errors
  docs/temporal_tables.md
Due: none

feat: backend code for new statuses
  migrations/V93__Model_Status_add_active_and_ended.sql
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/models/model_plan.go
  src/types/graphql-global-types.ts
Due: eslint, tsc-check, graphql-schema, check-code-generation

feat: db:migrate script updated to correctly detect when container is finished
  scripts/dev
Due: none

feat: add translation for the new model statuses
  src/i18n/en-US/modelPlan.ts
  src/utils/modelPlan.ts
Due: eslint, tsc-check

feat: update snapshot
  src/views/ModelPlan/Status/__snapshots__/index.test.tsx.snap
Due: none

feat: cmd to provide all meta data about a provided list of structs
  cmd/getJSONMapping/main.go
  cmd/getJSONMapping/result.JSON
  cmd/getJSONMapping/result.csv
Due: none

filter-based dynamic query generation
  go.mod
  go.sum
  pkg/factories/query_builder_factory.go
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/resolvers/search_change_table.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/shared/oddsearch/query_builder.go
  pkg/shared/oddsearch/query_builder_filters.go
  pkg/shared/oddsearch/query_builder_test.go
Due: graphql-schema, check-code-generation

Easi 2900/temporal tables documentation (#577)
  docs/temporal_tables.md
Due: none

Easi 2937/active and ended to model status (#579)
  migrations/V93__Model_Status_add_active_and_ended.sql
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/models/model_plan.go
  scripts/dev
  src/i18n/en-US/modelPlan.ts
  src/types/graphql-global-types.ts
  src/utils/modelPlan.ts
  src/views/ModelPlan/Status/__snapshots__/index.test.tsx.snap
Due: eslint, tsc-check, graphql-schema, check-code-generation

Add filter view copy
  src/i18n/en-US/readOnly/generalReadOnly.ts
Due: eslint, tsc-check

filter view box
  src/views/ModelPlan/ReadOnly/_components/Sidenav/index.tsx
Due: eslint, tsc-check

using implicit state
  src/views/ModelPlan/ReadOnly/index.tsx
Due: eslint, tsc-check

add Filter View Modal and state handling
  src/views/ModelPlan/ReadOnly/_components/FilterViewModal/index.tsx
  src/views/ModelPlan/ReadOnly/_components/Sidenav/index.tsx
  src/views/ModelPlan/ReadOnly/index.tsx
Due: eslint, tsc-check

add modal heading and heading part into modal
  src/components/Modal/index.tsx
Due: eslint, tsc-check

change the props in the copy
  src/i18n/en-US/readOnly/generalReadOnly.ts
Due: eslint, tsc-check

pass modal heading prop
  src/views/ModelPlan/ReadOnly/index.tsx
Due: eslint, tsc-check

adjust the name
  src/views/ModelPlan/ReadOnly/_components/Sidenav/index.tsx
Due: eslint, tsc-check

no one will know
  src/components/Modal/index.scss
Due: none

add filter view copy
  src/i18n/en-US/index.ts
  src/i18n/en-US/readOnly/filterView.ts
Due: eslint, tsc-check

progress
  src/i18n/en-US/readOnly/filterView.ts
  src/views/ModelPlan/ReadOnly/_components/FilterViewModal/index.tsx
Due: eslint, tsc-check

visually it looks great now
  src/i18n/en-US/readOnly/filterView.ts
  src/views/ModelPlan/ReadOnly/_components/FilterViewModal/index.tsx
Due: eslint, tsc-check

Added date scalar and some WIP queries and mutations
  gqlgen.yml
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/date.go
Due: graphql-schema, check-code-generation

Fixed char spacing not preserved in comments, alerts not rerendering
  src/components/shared/Alert/index.tsx
  src/views/ModelPlan/Discussions/SingleDiscussion.tsx
  src/views/ModelPlan/Discussions/index.tsx
Due: eslint, tsc-check

Updated snaps
  src/components/ITSolutionsWarning/__snapshots__/index.test.tsx.snap
  src/components/shared/Alert/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/Collaborators/AddCollaborator/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/Collaborators/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/Documents/AddDocument/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/NewPlan/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Basics/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/GeneralCharacteristics/KeyCharacteristics/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/GeneralCharacteristics/TargetsAndOptions/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/CCWAndQuality/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/IDDOCTesting/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/Learning/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/Performance/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/Coordination/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Payment/AnticipateDependencies/__snapshots__/index.test.tsx.snap
  src/views/NDA/__snapshots__/index.test.tsx.snap
Due: none

Remove logger from store
  cmd/dbseed/main.go
  pkg/graph/resolvers/resolver_test_utilities.go
  pkg/graph/schema.resolvers_test.go
  pkg/integration/integration_test.go
  pkg/okta/authentication_middleware_test.go
  pkg/server/routes.go
  pkg/services/services_test.go
  pkg/storage/store.go
  pkg/storage/store_test.go
  pkg/worker/worker_test_utilities.go
Due: none

Add environment and new logger fields to logger middleware
  pkg/server/logger.go
  pkg/server/logger_test.go
  pkg/server/server.go
Due: none

Remove logger from trace middleware
  pkg/server/logger_test.go
  pkg/server/server.go
  pkg/server/trace.go
  pkg/server/trace_test.go
Due: none

Remove logger from RequirePrincipalMiddleware
  pkg/authorization/require_principal_middleware.go
  pkg/authorization/require_principal_middleware_test.go
  pkg/server/routes.go
Due: none

Path conditions:
  dockerfilelint: any of: Dockerfile.*
  eslint: any of: \.(js|jsx|ts|tsx)$
  tsc-check: any of: \.(js|jsx|ts|tsx)$
  graphql-schema: any of: pkg/graph/schema.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts
