Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, tsc-check, graphql-schema, check-code-generation

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-yaml
        name: Check YAML formatting
      - id: detect-private-key
        name: Check for private keys
      - id: end-of-file-fixer
        files: \.(sql|scss|md|js|ts|tsx|go|yml|yaml)$
        name: Add newlines to ends of files

  - repo: https://github.com/detailyang/pre-commit-shell
    rev: v1.0.6
    hooks:
      - id: shell-lint
        name: Lint shell files

  - repo: https://github.com/trussworks/pre-commit-hooks
    rev: v1.1.1
    hooks:
      - id: mdspell
        name: Spellcheck Markdown files
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor
          )$

  - repo: https://github.com/Bahjat/pre-commit-golang
    rev: v1.0.1
    hooks:
      - id: go-fmt-import
        name: Run "goimports" on go files
        args: ['-local', 'github.com/cmsgov/mint-app']
        files: .*\.go$
        exclude: >
          (?x)^(
            .*gen/.*|
            .*generated/.*|
            .*models_gen.go|
          )$

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.48.0
    hooks:
      - id: golangci-lint
        name: Lint go files
        args: ['--concurrency', '-1'] # Run with all CPUs

  - repo: local
    hooks:
    - id: dockerfilelint
      name: Lint Dockerfile
      entry: dockerfilelint
      language: node
      additional_dependencies: [dockerfilelint]
      files: Dockerfile.*

  - repo: local
    hooks:
      - id: eslint
        name: Run eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$
        exclude: (\.(d\.ts)$)|(\.storybook)|(serviceWorker\.ts) # This should match the .eslintrc "ignorePatterns". Change one, change the other!

  - repo: local
    hooks:
      - id: tsc-check
        name: Run typescript check
        entry: scripts/pre-commit-tsc
        language: script
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false

  - repo: local
    hooks:
      - id: graphql-schema
        name: Lint GraphQL schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: pkg/graph/schema.graphql

  - repo: local
    hooks:
      - id: check-code-generation
        name: Run GraphQL code generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: "pkg/graph/schema\\.graphql|pkg/graph/schema\\.resolvers\\.go|src/queries/.*\\.ts"
        pass_filenames: false

  - repo: https://github.com/awslabs/git-secrets
    rev: b9e96b3212fa06aea65964ff0d5cda84ce935f38
    hooks:
      - id: git-secrets
        name: Check for committed secrets
        entry: git-secrets --pre_commit_hook

  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 2.0.7
    hooks:
      - id: sqlfluff-fix
        exclude: ^migrations/
      - id: sqlfluff-lint
        exclude: ^migrations/

prelimarily works
  src/i18n/en-US/helpAndKnowledge/Articles/highLevelProjectPlans.ts
  src/views/HelpAndKnowledge/Articles/HighLevelProjectPlan/index.tsx
Due: eslint, tsc-check

working through the special characters
  src/i18n/en-US/helpAndKnowledge/Articles/highLevelProjectPlans.ts
  src/views/HelpAndKnowledge/Articles/HighLevelProjectPlan/table.tsx
Due: eslint, tsc-check

Add high level project plan to get started page
  src/views/HelpAndKnowledge/Articles/index.ts
Due: eslint, tsc-check

Actually loop the code
  src/i18n/en-US/helpAndKnowledge/Articles/highLevelProjectPlans.ts
  src/views/HelpAndKnowledge/Articles/HighLevelProjectPlan/table.tsx
Due: eslint, tsc-check

EASI-3161: separate release_static into build and release scripts
  scripts/build_static.sh
  scripts/release_static.sh
Due: none

EASI-3161: restructure deploy_to_environment
  .github/workflows/deploy_to_environment.yml
Due: none

Actually loop the code
  src/views/HelpAndKnowledge/Articles/HighLevelProjectPlan/index.tsx
  src/views/HelpAndKnowledge/Articles/HighLevelProjectPlan/table.tsx
Due: eslint, tsc-check

cmmi-internal-clearance-process copy translation
  src/i18n/en-US/helpAndKnowledge/Articles/highLevelProjectPlans.ts
Due: eslint, tsc-check

drying up code
  src/views/HelpAndKnowledge/Articles/HighLevelProjectPlan/table.tsx
Due: eslint, tsc-check

adding todo reminder
  src/views/HelpAndKnowledge/Articles/HighLevelProjectPlan/index.tsx
Due: eslint, tsc-check

Work wip
  src/i18n/en-US/helpAndKnowledge/Articles/highLevelProjectPlans.ts
  src/views/HelpAndKnowledge/Articles/HighLevelProjectPlan/table.tsx
Due: eslint, tsc-check

add external link init
  src/components/shared/ExternalLink/index.tsx
Due: eslint, tsc-check

updated to use new external link component
  src/views/HelpAndKnowledge/Articles/SixPagerMeeting/index.tsx
  src/views/HelpAndKnowledge/Articles/TwoPagerMeeting/index.tsx
Due: eslint, tsc-check

updated to use new external link component
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/_components/GatheringInfoAlert/index.tsx
Due: eslint, tsc-check

updated to use new external link component
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/4Innovation/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/CMSBox/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/CMSQualtrics/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/CentralizedDataExchange/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/ChronicConditions/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/about.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/HIGLAS/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/OutlookMailbox/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/RMADA/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/SalesforceApplicationReview/index.tsx
  src/views/ModelPlan/TaskList/Basics/Milestones/index.tsx
Due: eslint, tsc-check

update snaps
  src/views/HelpAndKnowledge/Articles/SixPagerMeeting/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/Articles/TwoPagerMeeting/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Timeline/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Basics/Milestones/__snapshots__/index.test.tsx.snap
Due: none

use new externalLink component
  src/views/HelpAndKnowledge/Articles/HighLevelProjectPlan/table.tsx
Due: eslint, tsc-check

add external links
  src/i18n/en-US/helpAndKnowledge/Articles/highLevelProjectPlans.ts
  src/views/HelpAndKnowledge/Articles/HighLevelProjectPlan/table.tsx
Due: eslint, tsc-check

add teh correct link
  src/views/HelpAndKnowledge/Articles/HighLevelProjectPlan/index.tsx
Due: eslint, tsc-check

Add a few more copy conditions
  src/i18n/en-US/helpAndKnowledge/Articles/highLevelProjectPlans.ts
  src/views/HelpAndKnowledge/Articles/HighLevelProjectPlan/index.tsx
Due: eslint, tsc-check

Accordion copy before the table
  src/i18n/en-US/helpAndKnowledge/Articles/highLevelProjectPlans.ts
  src/views/HelpAndKnowledge/Articles/HighLevelProjectPlan/index.tsx
Due: eslint, tsc-check

remove some unused prop types and commented code
  src/views/HelpAndKnowledge/Articles/HighLevelProjectPlan/index.tsx
Due: eslint, tsc-check

EASI-3161: init build_frontend_assets
  .github/workflows/build_frontend_assets.yml
Due: none

EASI-3161: utilize build_frontend_assets
  .github/workflows/deploy_pipeline.yml
  .github/workflows/manual_deploy.yml
  .github/workflows/run_tests.yml
Due: none

EASI-3161: utilize build_frontend_assets.yml
  .github/workflows/deploy_pipeline.yml
  .github/workflows/manual_deploy.yml
Due: none

EASI-3161: manual deploy requires build_frontend_assets
  .github/workflows/manual_deploy.yml
Due: none

EASI-3161: (fix) call correct script
  .github/workflows/build_frontend_assets.yml
Due: none

EASI-3161: adjust order for manual deploy
  .github/workflows/manual_deploy.yml
Due: none

EASI-3161: (fix) eof new line
  .github/workflows/build_frontend_assets.yml
Due: none

add a few more italics
  src/i18n/en-US/helpAndKnowledge/Articles/highLevelProjectPlans.ts
Due: eslint, tsc-check

initial work to get the pop up modal working
  src/views/HelpAndKnowledge/Articles/HighLevelProjectPlan/index.tsx
Due: eslint, tsc-check

[EASI-3098] Share Model Plan (#665)
  MINT.postman_collection.json
  pkg/email/model_plan_share.go
  pkg/email/template_service_impl.go
  pkg/email/templates/model_plan_share_body.html
  pkg/email/templates/model_plan_share_subject.html
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/model_plan.go
  pkg/graph/resolvers/plan_basics.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/model_plan.go
  pkg/storage/model_planStore.go
  src/components/Modal/index.scss
  src/components/ShareExport/__snapshots__/index.test.tsx.snap
  src/components/ShareExport/index.scss
  src/components/ShareExport/index.test.tsx
  src/components/ShareExport/index.tsx
  src/components/shared/Alert/index.tsx
  src/gql/apolloGQL/ShareExport/CreateShareModelPlan.ts
  src/gql/gen/gql.ts
  src/gql/gen/graphql.ts
  src/i18n/en-US/readOnly/generalReadOnly.ts
  src/views/ModelPlan/Discussions/index.tsx
  src/views/ModelPlan/ReadOnly/_components/FilterView/BodyContent/_filterGroupMapping.ts
  src/views/ModelPlan/ReadOnly/index.tsx
  src/views/ModelPlan/TaskList/_components/TaskListSideNav/index.test.tsx
  src/views/ModelPlan/TaskList/_components/TaskListSideNav/index.tsx
  src/views/ModelPlan/TaskList/index.tsx
Due: eslint, tsc-check, graphql-schema, check-code-generation

EASI-3161: prioritize build_frontend_assets earlier in pipeline
  .github/workflows/deploy_pipeline.yml
  .github/workflows/manual_deploy.yml
Due: none

got one modal to pop up
  src/i18n/en-US/helpAndKnowledge/Articles/highLevelProjectPlans.ts
  src/views/HelpAndKnowledge/Articles/HighLevelProjectPlan/index.tsx
  src/views/HelpAndKnowledge/Articles/HighLevelProjectPlan/table.tsx
Due: eslint, tsc-check

EASI-3161: (MINT) build frontend files concurrently (#677)
  .github/workflows/build_frontend_assets.yml
  .github/workflows/deploy_pipeline.yml
  .github/workflows/deploy_to_environment.yml
  .github/workflows/manual_deploy.yml
  .github/workflows/run_tests.yml
  scripts/build_static.sh
  scripts/release_static.sh
Due: none

Use default sender instead of principal of caller when sharing model plans
  pkg/graph/resolvers/model_plan.go
  pkg/graph/schema.resolvers.go
Due: check-code-generation

[EASI-3098] Use default sender when sharing model plans (#678)
  pkg/graph/resolvers/model_plan.go
  pkg/graph/schema.resolvers.go
Due: check-code-generation

Pull model status instead of basics status. Add humanized string for model status
  pkg/email/model_plan_share.go
  pkg/graph/resolvers/model_plan.go
  pkg/models/model_plan.go
Due: none

Fix categories not being humanized. Fix no spaces between commas when listing categories
  pkg/email/model_plan_share.go
  pkg/email/templates/model_plan_share_body.html
  pkg/graph/resolvers/model_plan.go
  pkg/models/model_plan.go
Due: none

[EASI-3098] Use Model Status in Share Email (#679)
  pkg/email/model_plan_share.go
  pkg/email/templates/model_plan_share_body.html
  pkg/graph/resolvers/model_plan.go
  pkg/models/model_plan.go
Due: none
