Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, tsc-check, graphql-schema, check-code-generation

dockerfilelint:
  name: Lint Dockerfile
  entry: dockerfilelint
  language: node
  additional_dependencies:
  - dockerfilelint

eslint:
  name: Run eslint
  entry: scripts/pre-commit-eslint
  language: script

tsc-check:
  name: Run typescript check
  entry: scripts/pre-commit-tsc
  language: script
  pass_filenames: false

graphql-schema:
  name: Lint GraphQL schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script
  pass_filenames: false

check-code-generation:
  name: Run GraphQL code generation
  entry: scripts/pre-commit-check-code-generation
  language: script
  pass_filenames: false

Early return if no changes
  src/hooks/useHandleMutation.ts
  src/views/ModelPlan/TaskList/GeneralCharacteristics/index.tsx
Due: eslint, tsc-check

Add middleware functionality to log response times
  pkg/server/logger.go
Due: none

Add middleware functionality to log response times (#1184)
  pkg/server/logger.go
Due: none

Added redirect when task list nor readview present
  src/views/App/index.tsx
Due: eslint, tsc-check

Updated order of redirect
  src/views/App/index.tsx
Due: eslint, tsc-check

[EASI-4416] Added redirect when task list nor read view present (#1185)
  src/views/App/index.tsx
Due: eslint, tsc-check

Added flag, boilerplate component and translations
  src/i18n/en-US/home/customHome.ts
  src/i18n/en-US/home/settings.ts
  src/i18n/en-US/index.ts
  src/types/flags.ts
  src/utils/user.test.ts
  src/views/App/index.tsx
  src/views/FlagsWrapper/index.tsx
  src/views/HomeNew/Settings/index.tsx
  src/views/HomeNew/index.tsx
Due: eslint, tsc-check

feat: genericize one off translation function
  pkg/translatedaudit/translated_audit_meta_data.go
  pkg/translatedaudit/translated_audit_utils.go
Due: none

feat: translate document data where applicable in meta data
  pkg/translatedaudit/translated_audit_meta_data.go
Due: none

feat: address todos in DocumentSolutionLinkMetaDataGet
  pkg/translatedaudit/translated_audit_meta_data.go
Due: none

feat: correct failing unit tests
  pkg/translatedaudit/translated_audit_meta_data.go
  pkg/translatedaudit/translated_audit_meta_data_test.go
Due: none

Updating RelatedArticles component to have specific article names
  src/views/HelpAndKnowledge/Articles/_components/RelatedArticles/index.tsx
  src/views/HelpAndKnowledge/Articles/index.tsx
Due: eslint, tsc-check

udpate model plan overview related articles
  src/views/HelpAndKnowledge/Articles/ModelPlanOverview/index.tsx
Due: eslint, tsc-check

update sample model plan related articles
  src/views/HelpAndKnowledge/Articles/ModelPlanOverview/index.tsx
  src/views/HelpAndKnowledge/Articles/SampleModelPlan/index.tsx
Due: eslint, tsc-check

Added formik and form boilerplate and query
  src/gql/apolloGQL/Homepage/GetHomepageSettings.ts
  src/gql/gen/graphql.ts
  src/i18n/en-US/home/settings.ts
  src/stylesheets/custom.scss
  src/views/HomeNew/Settings/index.scss
  src/views/HomeNew/Settings/index.tsx
Due: eslint, tsc-check

udpate elated artciles'
  src/views/HelpAndKnowledge/Articles/HighLevelProjectPlan/index.tsx
  src/views/HelpAndKnowledge/Articles/PhasesInvolved/index.tsx
  src/views/HelpAndKnowledge/Articles/SixPagerMeeting/index.tsx
  src/views/HelpAndKnowledge/Articles/TwoPagerMeeting/index.tsx
  src/views/HelpAndKnowledge/Articles/index.tsx
Due: eslint, tsc-check

udpate related artciles'
  src/views/HelpAndKnowledge/Articles/ModelSolutionDesign/index.tsx
  src/views/HelpAndKnowledge/Articles/ModelSolutionImplementation/index.tsx
  src/views/HelpAndKnowledge/Articles/UtilizingSolutions/index.tsx
Due: eslint, tsc-check

Added submission buttons/links
  src/i18n/en-US/home/settings.ts
  src/views/HomeNew/Settings/index.tsx
Due: eslint, tsc-check

udpate the snaps
  src/views/HelpAndKnowledge/Articles/HighLevelProjectPlan/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/Articles/ModelSolutionDesign/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/Articles/ModelSolutionImplementation/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/Articles/PhasesInvolved/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/Articles/SixPagerMeeting/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/Articles/TwoPagerMeeting/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/Articles/UtilizingSolutions/__snapshots__/index.test.tsx.snap
Due: none

feat: doc meta data no longer fails if it cant get document even for delete or truncate
  pkg/translatedaudit/translated_audit_meta_data.go
  pkg/translatedaudit/translated_audit_meta_data_test.go
Due: none

feat: update document meta data to not fail if name isnt fetchable
  pkg/translatedaudit/translated_audit_meta_data.go
  pkg/translatedaudit/translated_audit_meta_data_test.go
Due: none

Added location state to not persist on page change
  src/views/App/index.tsx
  src/views/HomeNew/Settings/index.scss
  src/views/HomeNew/Settings/index.tsx
  src/views/HomeNew/Settings/settingsOrder.tsx
Due: eslint, tsc-check

feat: get model plan and operational solution data by operational solution key
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/resolvers/operational_solution_and_model_plan.go
  pkg/graph/resolvers/operational_solution_and_model_plan.resolvers.go
  pkg/graph/schema/types/operational_solution_and_model_plan.graphql
  pkg/models/model_plan.go
  pkg/models/model_plan_and_operational_solution_raw.go
  pkg/models/operational_solution.go
  pkg/storage/SQL/model_plan/get_by_operational_solution_key.sql
  pkg/storage/model_planStore.go
  src/gql/gen/graphql.ts
Due: tsc-check, graphql-schema

add sublabel to the question
  src/i18n/en-US/modelPlan/participantsAndProviders.ts
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/index.tsx
Due: eslint, tsc-check

update snaps
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/__snapshots__/index.test.tsx.snap
Due: none

[EASI-4380] Shared systems updates (#1181)
  src/i18n/en-US/helpAndKnowledge/helpAndKnowledge.ts
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/About/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Modal/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/4Innovation/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/CMSBox/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/CMSQualtrics/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/CentralizedDataExchange/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/ChronicConditions/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/about.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/HIGLAS/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/OutlookMailbox/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/RMADA/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/SharedSystems/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Timeline/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/SolutionsHelp/index.tsx
Due: eslint, tsc-check

update PBG filter view for basics
  src/i18n/en-US/modelPlan/basics.ts
Due: eslint, tsc-check

update PBG filter view for general characteristics
  src/i18n/en-US/modelPlan/generalCharacteristics.ts
Due: eslint, tsc-check

update PBG filter view for participaints and providers
  src/i18n/en-US/modelPlan/participantsAndProviders.ts
Due: eslint, tsc-check

update PBG filter view for beneficiaries
  src/i18n/en-US/modelPlan/beneficiaries.ts
Due: eslint, tsc-check

chore: updated postman collection
  MINT.postman_collection.json
Due: none

update PBG filter view for payments
  src/i18n/en-US/modelPlan/payments.ts
Due: eslint, tsc-check

chore: removed old changes from postman collection
  MINT.postman_collection.json
Due: none

add more solutions to the operational solutions table
  src/views/ModelPlan/ReadOnly/_components/FilterView/BodyContent/_filterGroupMapping.ts
Due: eslint, tsc-check

Added util for ordering settings
  src/i18n/en-US/home/settings.ts
  src/views/HomeNew/Settings/index.scss
  src/views/HomeNew/Settings/index.tsx
  src/views/HomeNew/Settings/settingsOrder.tsx
Due: eslint, tsc-check

Added empty state banners
  src/gql/apolloGQL/Homepage/UpdateHomepageSettings.ts
  src/gql/gen/graphql.ts
  src/i18n/en-US/home/settings.ts
  src/views/HomeNew/Settings/index.scss
  src/views/HomeNew/Settings/index.tsx
  src/views/HomeNew/Settings/settingsOrder.tsx
Due: eslint, tsc-check

Added multiselect to solution form
  pkg/graph/generated/generated.go
  pkg/graph/schema/types/user_view_customization.graphql
  src/gql/gen/graphql.ts
  src/i18n/en-US/home/settings.ts
  src/views/App/index.tsx
  src/views/HomeNew/Settings/index.tsx
  src/views/HomeNew/Settings/selectSolutions.tsx
  src/views/HomeNew/Settings/settingsOrder.tsx
  src/views/HomeNew/index.tsx
Due: eslint, tsc-check, graphql-schema

Path conditions:
  dockerfilelint: any of: Dockerfile.*
  eslint: any of: \.(js|jsx|ts|tsx)$, but not: (\.(d\.ts)$)|(\.storybook)|(serviceWorker\.ts)|(src/gql/gen/.*)
  tsc-check: any of: \.(js|jsx|ts|tsx)$
  graphql-schema: any of: pkg/graph/schema/.*\.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts|src/queriesCodegen/.*\.ts
