Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, tsc-check, graphql-schema, check-code-generation

dockerfilelint:
  name: Lint Dockerfile
  entry: dockerfilelint
  language: node
  additional_dependencies:
  - dockerfilelint

eslint:
  name: Run eslint
  entry: scripts/pre-commit-eslint
  language: script

tsc-check:
  name: Run typescript check
  entry: scripts/pre-commit-tsc
  language: script
  pass_filenames: false

graphql-schema:
  name: Lint GraphQL schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script
  pass_filenames: false

check-code-generation:
  name: Run GraphQL code generation
  entry: scripts/pre-commit-check-code-generation
  language: script
  pass_filenames: false

[NOREF] Refactor routing (#1247)
  src/views/App/ProtectedRoute/index.tsx
  src/views/App/index.tsx
  src/views/Home/index.tsx
  src/views/HomeNew/Settings/__snapshots__/index.test.tsx.snap
  src/views/HomeNew/Settings/index.test.tsx
  src/views/HomeNew/Settings/index.tsx
  src/views/HomeNew/Settings/selectSolutions.tsx
  src/views/HomeNew/Settings/settings.tsx
  src/views/HomeNew/Settings/settingsOrder.tsx
  src/views/ModelPlan/Collaborators/index.tsx
  src/views/ModelPlan/Documents/index.tsx
  src/views/ModelPlan/TaskList/Basics/index.tsx
  src/views/ModelPlan/TaskList/Beneficiaries/index.tsx
  src/views/ModelPlan/TaskList/CostEstimate/index.tsx
  src/views/ModelPlan/TaskList/GeneralCharacteristics/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/index.tsx
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/index.tsx
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/index.tsx
  src/views/ModelPlan/TaskList/Payment/index.tsx
  src/views/ModelPlan/TaskList/PrepareForClearance/index.tsx
  src/views/ModelPlan/TaskList/SubmitRequest/index.tsx
  src/views/Notifications/index.tsx
Due: eslint, tsc-check

Fixed mispellings
  cypress/e2e/changeHistory.js
  mappings/translation/plan_general_characteristics.json
  src/i18n/en-US/changeHistory.ts
  src/i18n/en-US/modelPlan/generalCharacteristics.ts
Due: eslint, tsc-check

Fix ICD text
  mappings/translation/plan_ops_eval_and_learning.json
  src/i18n/en-US/modelPlan/opsEvalAndLearning.ts
Due: eslint, tsc-check

[NOREF] FE QA UX CH Fixes (#1252)
  cypress/e2e/changeHistory.js
  mappings/translation/operational_solution.json
  mappings/translation/plan_document.json
  mappings/translation/plan_general_characteristics.json
  mappings/translation/plan_ops_eval_and_learning.json
  mappings/translation/plan_participants_and_providers.json
  src/i18n/en-US/changeHistory.ts
  src/i18n/en-US/modelPlan/documents.ts
  src/i18n/en-US/modelPlan/generalCharacteristics.ts
  src/i18n/en-US/modelPlan/opsEvalAndLearning.ts
  src/i18n/en-US/modelPlan/participantsAndProviders.ts
  src/i18n/en-US/modelPlan/solutions.ts
  src/stylesheets/custom.scss
  src/views/ModelPlan/ChangeHistory/components/BatchRecord/index.tsx
  src/views/ModelPlan/ChangeHistory/components/ChangeRecord/index.scss
  src/views/ModelPlan/ChangeHistory/components/ChangeRecord/index.tsx
  src/views/ModelPlan/ChangeHistory/components/RecentChanges/index.scss
  src/views/ModelPlan/ChangeHistory/components/RecentChanges/index.tsx
  src/views/ModelPlan/ChangeHistory/components/Search/index.tsx
  src/views/ModelPlan/ChangeHistory/index.scss
  src/views/ModelPlan/ChangeHistory/index.tsx
  src/views/ModelPlan/ChangeHistory/util.test.tsx
  src/views/ModelPlan/ChangeHistory/util.tsx
Due: eslint, tsc-check

chore: added more verbose description for GetAllStatusEvaluationStrategies
  pkg/graph/resolvers/status_evaluation_strategies.go
Due: none

chore: added descriptive comment for modelStatusChronologicalIndex
  pkg/models/model_plan.go
Due: none

Merge in main, resolved conflicts, move HomeTable
  src/views/Home/Table/index.scss
  src/views/Home/Table/index.tsx
  src/views/Home/index.tsx
  src/views/ModelPlan/ModelPlanOverview/index.tsx
Due: eslint, tsc-check

Removed unneeded flag
  src/views/App/index.tsx
Due: eslint, tsc-check

Updated snapshots
  src/views/Home/__snapshots__/index.test.tsx.snap
Due: none

chore: updated scripts/dev mockgen to limit output
  scripts/dev
Due: none

[EASI-4536] (Backend) Model Plan Anticipated Statuses (#1250)
  MINT.postman_collection.json
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/model_plan.go
  pkg/graph/resolvers/model_plan.resolvers.go
  pkg/graph/resolvers/status_evaluation_strategies.go
  pkg/graph/resolvers/status_evaluation_strategies_test.go
  pkg/graph/schema/types/model_plan.graphql
  pkg/models/model_plan.go
  pkg/shared/utilitytime/checks.go
  src/gql/gen/graphql.ts
Due: tsc-check, graphql-schema

Updated snaps
  src/components/ShareExport/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/GeneralCharacteristics/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/ParticipantsAndProviders/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/Payments/__snapshots__/index.test.tsx.snap
Due: none

Fixed route placement and cypress test
  cypress/support/model-plan-by-name.js
  src/views/App/index.tsx
  src/views/ModelPlan/HomeTable/index.tsx
Due: eslint, tsc-check

Updated unit test
  cypress/support/model-plan-by-name.js
  src/views/HomeNew/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/HomeTable/index.tsx
Due: eslint, tsc-check

Adjusted cypress util
  cypress/e2e/changeHistory.js
  cypress/support/model-plan-by-name.js
Due: eslint, tsc-check

Fixed ch translation
  mappings/translation/plan_general_characteristics.json
  src/i18n/en-US/modelPlan/generalCharacteristics.ts
Due: eslint, tsc-check

[MINT-2208] Homepage refactor (#1245)
  src/i18n/en-US/home.ts
  src/i18n/en-US/index.ts
  src/types/flags.ts
  src/utils/export/CsvExportLink.tsx
  src/utils/user.test.ts
  src/views/App/index.tsx
  src/views/FlagsWrapper/index.tsx
  src/views/Home/Settings/__snapshots__/index.test.tsx.snap
  src/views/Home/Settings/index.scss
  src/views/Home/Settings/index.test.tsx
  src/views/Home/Settings/index.tsx
  src/views/Home/Settings/selectSolutions.tsx
  src/views/Home/Settings/settings.tsx
  src/views/Home/Settings/settingsOrder.tsx
  src/views/Home/Table/index.scss
  src/views/Home/Table/index.tsx
  src/views/Home/__snapshots__/index.test.tsx.snap
  src/views/Home/components/ModelsBySolutions/__snapshots__/index.test.tsx.snap
  src/views/Home/components/ModelsBySolutions/banner.tsx
  src/views/Home/components/ModelsBySolutions/card.tsx
  src/views/Home/components/ModelsBySolutions/index.scss
  src/views/Home/components/ModelsBySolutions/index.test.tsx
  src/views/Home/components/ModelsBySolutions/index.tsx
  src/views/Home/components/ModelsBySolutions/table.tsx
  src/views/Home/index.scss
  src/views/Home/index.test.tsx
  src/views/Home/index.tsx
  src/views/HomeNew/index.scss
  src/views/HomeNew/index.test.tsx
  src/views/HomeNew/index.tsx
  src/views/ModelPlan/ModelPlanOverview/index.tsx
  src/views/ModelPlan/Table/index.scss
  src/views/ModelPlan/Table/index.tsx
Due: eslint, tsc-check

Added LD string flag and conditional date
  src/gql/apolloGQL/ModelPlan/GetModelPlanBase.ts
  src/gql/gen/graphql.ts
  src/i18n/en-US/changeHistory.ts
  src/types/flags.ts
  src/utils/user.test.ts
  src/views/FlagsWrapper/index.tsx
  src/views/ModelInfoWrapper/index.tsx
  src/views/ModelPlan/ChangeHistory/index.tsx
Due: eslint, tsc-check

PArse LD date to check to render alert
  src/views/ModelPlan/ChangeHistory/index.tsx
Due: eslint, tsc-check

Added try to parse LD date
  src/views/ModelPlan/ChangeHistory/index.tsx
Due: eslint, tsc-check

Fix capitalization
  mappings/translation/plan_general_characteristics.json
  src/i18n/en-US/modelPlan/generalCharacteristics.ts
Due: eslint, tsc-check

Fixed basics as well
  mappings/export/exportTranslation.test.ts
  mappings/translation/plan_basics.json
  src/i18n/en-US/modelPlan/basics.ts
Due: eslint, tsc-check

Ran go mod tidy
  go.sum
Due: none

Added status mutation to task list
  src/i18n/en-US/modelPlanTaskList.ts
  src/views/ModelPlan/Status/index.tsx
  src/views/ModelPlan/TaskList/index.tsx
Due: eslint, tsc-check

MINT-2308: re-enable main to dev
  .github/workflows/change_history_dev_deploy.yml
  .github/workflows/deploy_pipeline.yml
Due: none

add and move tooltips around
  src/i18n/en-US/modelPlan/opsEvalAndLearning.ts
  src/i18n/en-US/modelPlan/payments.ts
Due: eslint, tsc-check

add and move tooltips around
  src/i18n/en-US/modelPlan/payments.ts
Due: eslint, tsc-check

update snaps
  src/components/ShareExport/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/OpsEvalAndLearning/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/Payments/__snapshots__/index.test.tsx.snap
Due: none

Fix key char crtdl table render
  src/views/Home/Table/index.tsx
Due: eslint, tsc-check

[NOREF] Fix key char crtdl table render (#1265)
  src/views/Home/Table/index.tsx
Due: eslint, tsc-check

Provider and Supplier modal init
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/_component/ProviderAndSupplierModal/index.scss
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/_component/ProviderAndSupplierModal/index.tsx
Due: eslint, tsc-check

Added default status from query param on status update
  src/views/ModelPlan/Status/index.tsx
  src/views/ModelPlan/TaskList/index.tsx
Due: eslint, tsc-check

TEMP: Enable sandbox
  src/views/App/index.tsx
  src/views/Sandbox/index.tsx
Due: eslint, tsc-check

Add translations && ProviderAndSupplierModal inti
  src/i18n/en-US/modelPlan/participantsAndProviders.ts
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/_component/ProviderAndSupplierModal/index.tsx
Due: eslint, tsc-check

MINT-2308: re-enable deploy to dev (#1264)
  .github/workflows/change_history_dev_deploy.yml
  .github/workflows/deploy_pipeline.yml
Due: none

boilerplate for models approaching clearance
  pkg/graph/model/models_gen.go
  pkg/graph/resolvers/model_plan.go
  pkg/graph/schema/types/model_plan.graphql
  pkg/sqlqueries/SQL/model_plan/collection_approaching_clearance.sql
  pkg/sqlqueries/model_plan.go
  pkg/storage/model_planStore.go
Due: graphql-schema

Path conditions:
  dockerfilelint: any of: Dockerfile.*
  eslint: any of: \.(js|jsx|ts|tsx)$, but not: (\.(d\.ts)$)|(\.storybook)|(serviceWorker\.ts)|(src/gql/gen/.*)
  tsc-check: any of: \.(js|jsx|ts|tsx)$
  graphql-schema: any of: pkg/graph/schema/.*\.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts|src/queriesCodegen/.*\.ts
