Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, tsc-check, graphql-schema, check-code-generation

dockerfilelint:
  name: Lint Dockerfile
  entry: dockerfilelint
  language: node
  additional_dependencies:
  - dockerfilelint

eslint:
  name: Run eslint
  entry: scripts/pre-commit-eslint
  language: script

tsc-check:
  name: Run typescript check
  entry: scripts/pre-commit-tsc
  language: script
  pass_filenames: false

graphql-schema:
  name: Lint GraphQL schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script

check-code-generation:
  name: Run GraphQL code generation
  entry: scripts/pre-commit-check-code-generation
  language: script
  pass_filenames: false

add more copy
  src/i18n/en-US/readOnly/filterView.ts
Due: eslint, tsc-check

Remove copygst
  src/i18n/en-US/readOnly/generalReadOnly.ts
Due: eslint, tsc-check

removed filtered button from size bar
  src/views/ModelPlan/ReadOnly/_components/FilterView/Banner/index.tsx
  src/views/ModelPlan/ReadOnly/_components/FilterView/FilterButton/index.tsx
  src/views/ModelPlan/ReadOnly/_components/Sidenav/index.tsx
  src/views/ModelPlan/ReadOnly/index.tsx
Due: eslint, tsc-check

Add snaps
  src/components/FavoriteCard/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/About/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/PointsOfContact/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Timeline/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/_components/TaskListSideNav/__snapshots__/index.test.tsx.snap
Due: none

updated snaps
  src/components/FavoriteCard/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/__snapshots__/index.test.tsx.snap
Due: none

update tests
  src/views/ModelPlan/ReadOnly/index.test.tsx
  src/views/ModelPlan/TaskList/_components/TaskListStatus/index.tsx
Due: eslint, tsc-check

Fixed solution OTHER_NEW_PROCESS links and rendering
  src/i18n/en-US/draftModelPlan/itSolutions.ts
  src/views/ModelPlan/TaskList/ITSolutions/AddCustomSolution/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/AddSolution/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/CheckboxCard/index.tsx
Due: eslint, tsc-check

Remove console log
  src/views/ModelPlan/TaskList/ITSolutions/AddSolution/index.tsx
Due: eslint, tsc-check

[NOREF] - Fixed conditional when updating custom solution (#625)
  src/i18n/en-US/draftModelPlan/itSolutions.ts
  src/views/ModelPlan/TaskList/ITSolutions/AddCustomSolution/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/AddSolution/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/CheckboxCard/index.tsx
Due: eslint, tsc-check

wip
  src/components/shared/Tooltip/index.tsx
  src/views/ModelPlan/ReadOnly/_components/FilterView/Banner/index.tsx
Due: eslint, tsc-check

[EASI-2987] - Operational solutions category updates (#622)
  src/data/operationalSolutionCategories.ts
  src/i18n/en-US/helpAndKnowledge/helpAndKnowledge.ts
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/About/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/PointsOfContact/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Timeline/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/_components/Header/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/_components/Header/index.test.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/_components/Header/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/_components/CategoryCard/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/SolutionsHelp/_components/CategoryCard/index.scss
  src/views/HelpAndKnowledge/SolutionsHelp/_components/CategoryCard/index.stories.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/_components/CategoryCard/index.test.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/_components/CategoryCard/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/_components/CategoryFooter/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/SolutionsHelp/_components/CategoryFooter/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionCategories/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionCategories/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionHelpCard/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionHelpCard/index.scss
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionHelpCard/index.test.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionHelpCard/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionHelpCardGroup/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionHelpCardGroup/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionsHeader/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionsTag/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionsTag/index.stories.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionsTag/index.test.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionsTag/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/index.test.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/solutionsMap.tsx
Due: eslint, tsc-check

fix how the conditional question rendered
  src/views/ModelPlan/ReadOnly/OpsEvalAndLearning/index.tsx
Due: eslint, tsc-check

fix how the conditional question rendered
  src/views/ModelPlan/ReadOnly/Payments/index.tsx
Due: eslint, tsc-check

snaps
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/About/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/PointsOfContact/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Timeline/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/OpsEvalAndLearning/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/Payments/__snapshots__/index.test.tsx.snap
Due: none

Updated snaps
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/About/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Timeline/__snapshots__/index.test.tsx.snap
Due: none

[EASI-3084] Bug fixes for the conditional questions (#629)
  src/views/ModelPlan/ReadOnly/OpsEvalAndLearning/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/OpsEvalAndLearning/index.tsx
  src/views/ModelPlan/ReadOnly/Payments/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/Payments/index.tsx
Due: eslint, tsc-check

[EASI-2988] - ISP solution (#628)
  src/i18n/en-US/helpAndKnowledge/helpAndKnowledge.ts
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/About/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/PointsOfContact/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/BCDA/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/about.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Timeline/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionHelpCardGroup/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionsHeader/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionsHeader/index.test.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/solutionsMap.tsx
Due: eslint, tsc-check

Add the tooltip
  src/components/shared/Tooltip/index.tsx
  src/i18n/en-US/readOnly/filterView.ts
  src/views/ModelPlan/ReadOnly/_components/FilterView/Banner/index.tsx
Due: eslint, tsc-check

reverting the icon positoin
  src/components/shared/CollapsableLink/index.tsx
  src/views/ModelPlan/ReadOnly/_components/ModelSummary/index.tsx
Due: eslint, tsc-check

adjust padding
  src/views/ModelPlan/ReadOnly/index.tsx
Due: eslint, tsc-check

added create label
  pkg/graph/schema.resolvers.go
  src/i18n/en-US/readOnly/generalReadOnly.ts
  src/queries/ReadOnly/GetModelSummary.ts
  src/queries/ReadOnly/types/GetModelSummary.ts
  src/views/ModelPlan/ReadOnly/_components/FilterView/BodyContent/index.test.tsx
  src/views/ModelPlan/ReadOnly/index.test.tsx
  src/views/ModelPlan/ReadOnly/index.tsx
  src/views/ModelPlan/TaskList/_components/TaskListStatus/index.tsx
Due: eslint, tsc-check, check-code-generation

update snaps
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/About/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Timeline/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/__snapshots__/index.test.tsx.snap
Due: none

snaps
  src/views/ModelPlan/ReadOnly/__snapshots__/index.test.tsx.snap
Due: none

updated read only index test id
  src/views/ModelPlan/ReadOnly/__snapshots__/index.test.tsx.snap
Due: none

forcing the change to stop the lint faily
  pkg/graph/schema.resolvers.go
Due: check-code-generation

wip
  src/views/ModelPlan/ReadOnly/__snapshots__/index.test.tsx.snap
Due: none

trying to see if this works
  src/views/ModelPlan/ReadOnly/__snapshots__/index.test.tsx.snap
Due: none

fix rogue question
  src/views/ModelPlan/ReadOnly/Payments/index.tsx
Due: eslint, tsc-check

update snaps
  src/views/ModelPlan/ReadOnly/Payments/__snapshots__/index.test.tsx.snap
Due: none

chore: updated enum migration so that we are now simply reusing the same enum and removing biannually as a front-end option
  migrations/V102__Add_Enum_Semiannually.sql
  migrations/V102__Update_Enums_Biannually_To_Semiannually.sql
  migrations/V103__Update_Enums_Biannually_To_Semiannually.sql
  migrations/V27__Add_Operational_Solution.sql
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/plan_payments_test.go
  pkg/graph/schema.resolvers.go
  pkg/models/plan_payments.go
  pkg/storage/SQL/plan_payments/create.sql
  pkg/storage/SQL/plan_payments/get_by_id.sql
  pkg/storage/SQL/plan_payments/get_by_model_plan_id_LOADER.sql
  pkg/storage/SQL/plan_payments/update.sql
Due: check-code-generation

remove unused test
  src/views/ModelPlan/ReadOnly/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/index.test.tsx
Due: eslint, tsc-check

change modal title
  src/i18n/en-US/readOnly/filterView.ts
  src/views/ModelPlan/ReadOnly/_components/FilterView/Modal/index.tsx
Due: eslint, tsc-check

make alert slim
  src/views/ModelPlan/ReadOnly/index.tsx
Due: eslint, tsc-check

add high level note
  src/views/ModelPlan/ReadOnly/ModelBasics/index.tsx
  src/views/ModelPlan/ReadOnly/index.tsx
Due: eslint, tsc-check

side by side the geography questions
  src/views/ModelPlan/ReadOnly/GeneralCharacteristics/index.tsx
Due: eslint, tsc-check

typo
  src/i18n/en-US/draftModelPlan/participantsAndProviders.ts
Due: eslint, tsc-check

conditinonal question renders
  src/views/ModelPlan/ReadOnly/ParticipantsAndProviders/index.tsx
Due: eslint, tsc-check

Participants and providers section note fix
  src/views/ModelPlan/ReadOnly/ParticipantsAndProviders/index.tsx
Due: eslint, tsc-check

contract support questions side by side
  src/views/ModelPlan/ReadOnly/OpsEvalAndLearning/index.tsx
Due: eslint, tsc-check

funding soruce edits
  src/views/ModelPlan/ReadOnly/Payments/index.tsx
Due: eslint, tsc-check

Path conditions:
  dockerfilelint: any of: Dockerfile.*
  eslint: any of: \.(js|jsx|ts|tsx)$
  tsc-check: any of: \.(js|jsx|ts|tsx)$
  graphql-schema: any of: pkg/graph/schema.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts
