Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, tsc-check, graphql-schema, check-code-generation

dockerfilelint:
  name: Lint Dockerfile
  entry: dockerfilelint
  language: node
  additional_dependencies:
  - dockerfilelint

eslint:
  name: Run eslint
  entry: scripts/pre-commit-eslint
  language: script

tsc-check:
  name: Run typescript check
  entry: scripts/pre-commit-tsc
  language: script
  pass_filenames: false

graphql-schema:
  name: Lint GraphQL schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script
  pass_filenames: false

check-code-generation:
  name: Run GraphQL code generation
  entry: scripts/pre-commit-check-code-generation
  language: script
  pass_filenames: false

remove crtdlMocks
  src/tests/mock/readonly.ts
Due: eslint, tsc-check

remove cr and tdl in queries && scripts/dev gql
  src/components/FavoriteCard/index.test.tsx
  src/features/Home/index.tsx
  src/features/ModelPlan/ModelPlanOverview/index.test.tsx
  src/features/ModelPlan/ModelPlanOverview/index.tsx
  src/gql/generated/graphql.ts
  src/gql/operations/ModelPlan/GetFavorites.ts
  src/gql/operations/ModelPlan/GetModelPlans.ts
  src/tests/mock/general.ts
Due: eslint, tsc-check

Remove CR and TDLs queries, updates, and deletes
  src/gql/operations/CRsTDLs/CreateCR.ts
  src/gql/operations/CRsTDLs/CreateTDL.ts
  src/gql/operations/CRsTDLs/DeleteCR.ts
  src/gql/operations/CRsTDLs/DeleteTDL.ts
  src/gql/operations/CRsTDLs/GetCR.ts
  src/gql/operations/CRsTDLs/GetCRsTDLs.ts
  src/gql/operations/CRsTDLs/GetTDL.ts
  src/gql/operations/CRsTDLs/UpdateCR.ts
  src/gql/operations/CRsTDLs/UpdateTDL.ts
Due: eslint, tsc-check

Remove CR and TDLs queries
  src/gql/operations/ModelPlan/GetModelPlan.ts
  src/gql/operations/ReadOnly/GetModelSummary.ts
Due: eslint, tsc-check

Remove CR and TDLs queries
  src/features/ModelPlan/ReadOnly/_components/FilterView/BodyContent/index.test.tsx
  src/gql/generated/graphql.ts
  src/tests/mock/readonly.ts
Due: eslint, tsc-check

Clean up MTO GraphQL for high-level review
  pkg/graph/schema/types/model_to_operations_matrix.graphql
  pkg/models/mto.go
Due: graphql-schema

Rename function
  src/components/AddNote/AddNoteRHF.tsx
  src/features/ModelPlan/DataExchangeApproach/CollectingAndSendingData/index.tsx
  src/features/ModelPlan/DataExchangeApproach/CollectionAndAggregation/index.tsx
  src/features/ModelPlan/DataExchangeApproach/NewMethologiesAndConsiderations/index.tsx
  src/utils/modelPlan.ts
Due: eslint, tsc-check

Added resolution for react-dom, updated jsdom
  package.json
  yarn.lock
Due: none

Modify strategy evalutaion / phase tests to use relative dates instead of absolute
  pkg/graph/resolvers/model_plan_phase_test.go
Due: none

add type to mock data in CRTDL test
  src/features/ModelPlan/CRTDL/CRTDLs/index.test.tsx
Due: eslint, tsc-check

wip: daily digest updates to support data exchange approach
  .envrc
  pkg/constants/constants.go
  pkg/email/templates/aggregated_daily_digest_body.html
  pkg/graph/resolvers/analyzed_audit.go
  pkg/graph/resolvers/audit_change_test.go
  pkg/graph/resolvers/model_plan_phase_test.go
  pkg/graph/resolvers/resolver_test_utilities.go
  pkg/models/analyzed_audit.go
  pkg/worker/analyzed_audit_job_test.go
  pkg/worker/worker_test.go
Due: none

[NOREF] Fix strategy evalutaion / phase tests to use relative dates (#1436)
  pkg/graph/resolvers/model_plan_phase_test.go
Due: none

update mocks
  src/components/EChimpCards/EChimpCardsTable.test.tsx
  src/features/ModelPlan/CRTDL/CRTDLs/index.test.tsx
  src/features/ModelPlan/ReadOnly/CRTDLs/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/ReadOnly/CRTDLs/index.test.tsx
  src/tests/mock/general.ts
Due: eslint, tsc-check

updated snaps
  src/features/ModelPlan/CRTDL/CRTDLs/__snapshots__/index.test.tsx.snap
Due: none

ran export for translations
  mappings/translation/data_exchange_approach.json
Due: none

update query mock in home test
  src/features/Home/index.test.tsx
Due: eslint, tsc-check

Address missing types in mock
  src/features/ModelPlan/CollaborationArea/Cards/ModelPlanCard/index.test.tsx
Due: eslint, tsc-check

feat: first implementation of MODEL_SPACE migration. need to verify values with figma
  migrations/V176__Add_Model_Space_Solution.sql
Due: none

Begin ch work
  mappings/translation/data_exchange_approach.json
  src/i18n/en-US/modelPlan/dataExchangeApproach.ts
Due: eslint, tsc-check

feat: simplify naming of grouping and sorting generic functions
  pkg/helpers/mapping.go
  pkg/storage/loaders/helpers.go
  pkg/storage/loaders/model_plan_loader.go
  pkg/storage/loaders/operational_solution_and_possible_collection_loader.go
  pkg/storage/loaders/operational_solution_loader.go
  pkg/storage/loaders/plan_basics_loader.go
  pkg/storage/loaders/plan_discussion_loader.go
Due: none

feat: add pocs in the migration
  migrations/V176__Add_Model_Space_Solution.sql
Due: none

chore: restored envrc to unedited
  .envrc
Due: none

feat: first pass at help and knowledge center about and timeline for model space
  mappings/translation/operational_solution.json
  src/i18n/en-US/helpAndKnowledge/helpAndKnowledge.ts
  src/i18n/en-US/modelPlan/solutions.ts
Due: eslint, tsc-check

feat: add model space to the solutions map page
  src/features/HelpAndKnowledge/SolutionsHelp/solutionsMap.tsx
Due: eslint, tsc-check

feat: add more points of contacts in solutions map
  src/features/HelpAndKnowledge/SolutionsHelp/solutionsMap.tsx
Due: eslint, tsc-check

feat: correct spacing for description
  src/i18n/en-US/helpAndKnowledge/helpAndKnowledge.ts
Due: eslint, tsc-check

fix: broken unit test mock calls
  pkg/worker/analyzed_audit_job_test.go
Due: none

feat: update ISP description, correct databricks link in model space timeline
  src/i18n/en-US/helpAndKnowledge/helpAndKnowledge.ts
Due: eslint, tsc-check

feat: link model space in ISP solution
  src/i18n/en-US/helpAndKnowledge/helpAndKnowledge.ts
Due: eslint, tsc-check

feat: update snapshots
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/About/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/PointsOfContact/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Timeline/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/SolutionsHelp/_components/SolutionsHeader/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/SolutionsHelp/_components/SolutionsHeader/index.test.tsx
Due: eslint, tsc-check

Add data exchange marked complete humanized string
  pkg/models/analyzed_audit.go
Due: none

feat: update header size and link placement
  src/i18n/en-US/helpAndKnowledge/helpAndKnowledge.ts
Due: eslint, tsc-check

chore: update snapshots
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/About/__snapshots__/index.test.tsx.snap
Due: none

Finished DEA CH
  src/features/ModelPlan/ChangeHistory/util.tsx
Due: eslint, tsc-check

Path conditions:
  dockerfilelint: any of: Dockerfile.*
  eslint: any of: \.(js|jsx|ts|tsx)$, but not: (\.(d\.ts)$)|(\.storybook)|(serviceWorker\.ts)|(src/gql/gen/.*)
  tsc-check: any of: \.(js|jsx|ts|tsx)$
  graphql-schema: any of: pkg/graph/schema/.*\.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts|src/queriesCodegen/.*\.ts
