Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, tsc-check, graphql-schema, check-code-generation

dockerfilelint:
  name: Lint Dockerfile
  entry: dockerfilelint
  language: node
  additional_dependencies:
  - dockerfilelint

eslint:
  name: Run eslint
  entry: scripts/pre-commit-eslint
  language: script

tsc-check:
  name: Run typescript check
  entry: scripts/pre-commit-tsc
  language: script
  pass_filenames: false

graphql-schema:
  name: Lint GraphQL schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script

check-code-generation:
  name: Run GraphQL code generation
  entry: scripts/pre-commit-check-code-generation
  language: script
  pass_filenames: false

Added linking mutation functionality and handling
  src/i18n/en-US/draftModelPlan/documents.ts
  src/queries/ITSolutions/DeleteDocumentSolutionLink.ts
  src/queries/ITSolutions/GetOperationalSolution.ts
  src/queries/ITSolutions/types/DeleteDocumentSolutionLink.ts
  src/queries/ITSolutions/types/GetOperationalSolution.ts
  src/views/ModelPlan/TaskList/ITSolutions/LinkDocuments/index.tsx
Due: eslint, tsc-check, check-code-generation

Added linked pf solution directly on doc upload view
  src/i18n/en-US/draftModelPlan/documents.ts
  src/views/ModelPlan/Documents/AddDocument/documentUpload.tsx
  src/views/ModelPlan/Documents/AddDocument/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/LinkDocuments/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/SolutionDetails/index.tsx
Due: eslint, tsc-check

Support for removing multiple solutions
  MINT.postman_collection.json
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/plan_document_solution_links.go
  pkg/graph/resolvers/plan_document_solution_links_test.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/storage/SQL/plan_document_solution_link/delete_by_id.sql
  pkg/storage/SQL/plan_document_solution_link/delete_by_ids.sql
  pkg/storage/SQL/plan_document_solution_link/get_by_ids.sql
  pkg/storage/plan_document_solution_linksStore.go
Due: graphql-schema, check-code-generation

feat: plan document migration script
  migrations/V67__Update_plan_document_To_User_Account_Table.sql
  scripts/table_user_account_migration.py
Due: none

feat: migrate document models and schema
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/plan_document.go
  pkg/graph/schema.graphql
  pkg/models/plan_document.go
Due: graphql-schema, check-code-generation

feat: update postman collection to include different possible user accounts, remove deprecated plan document queries
  MINT.postman_collection.json
Due: none

feat: document solution link to user table migration
  migrations/V68__Update_plan_document_solution_link_To_User_Account_Table.sql
  scripts/table_user_account_migration.py
Due: none

[NOREF] Support for removing multiple solutions (#461)
  MINT.postman_collection.json
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/plan_document_solution_links.go
  pkg/graph/resolvers/plan_document_solution_links_test.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/storage/SQL/plan_document_solution_link/delete_by_id.sql
  pkg/storage/SQL/plan_document_solution_link/delete_by_ids.sql
  pkg/storage/SQL/plan_document_solution_link/get_by_ids.sql
  pkg/storage/plan_document_solution_linksStore.go
Due: graphql-schema, check-code-generation

feat: migrate models and schema
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/plan_document_solution_links.go
  pkg/graph/schema.graphql
  pkg/models/plan_document_solution_link.go
Due: graphql-schema, check-code-generation

chore: rename migration to V66 and 67
  migrations/V66__Update_plan_discussion_To_User_Account_Table.sql
  migrations/V67__Update_discussion_reply_To_User_Account_Table.sql
Due: none

chore: rename migration to V65
  migrations/V65__Update_plan_document_To_User_Account_Table.sql
Due: none

EASI-2620 Plan Document to User Table migration (#462)
  MINT.postman_collection.json
  migrations/V65__Update_plan_document_To_User_Account_Table.sql
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/plan_document.go
  pkg/graph/schema.graphql
  pkg/models/plan_document.go
  scripts/table_user_account_migration.py
Due: graphql-schema, check-code-generation

chore: added constants to map table names to humanized table names
  pkg/constants/constants.go
  pkg/models/analyzed_audit.go
Due: none

chore: correct SQL to cast created_by as uuid instead of text, and pass id in db seed
  migrations/V68__Update_plan_document_solution_link_To_User_Account_Table.sql
  pkg/storage/SQL/plan_document_solution_link/create.sql
  pkg/storage/plan_document_solution_linksStore.go
Due: none

Added mutations to unlink multiple docs
  src/queries/ITSolutions/DeleteDocumentSolutionLink.ts
  src/queries/ITSolutions/types/DeleteDocumentSolutionLink.ts
  src/views/ModelPlan/Documents/table.tsx
  src/views/ModelPlan/TaskList/ITSolutions/LinkDocuments/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/SolutionDetails/index.tsx
Due: eslint, tsc-check, check-code-generation

feat: add user account types to the postman collection
  MINT.postman_collection.json
Due: none

Updated remove document modal to handle unlinking
  src/i18n/en-US/draftModelPlan/documents.ts
  src/views/ModelPlan/Documents/table.tsx
  src/views/ModelPlan/TaskList/ITSolutions/LinkDocuments/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/SolutionDetails/index.tsx
Due: eslint, tsc-check

Added check for no updated links before mutation handler
  src/views/ModelPlan/TaskList/ITSolutions/LinkDocuments/index.tsx
Due: eslint, tsc-check

Hid column for SolutionDetails view
  src/views/ModelPlan/Documents/table.tsx
Due: eslint, tsc-check

feat: add existing model migration script
  migrations/V69__Update_existing_model_To_User_Account_Table.sql
Due: none

migrate schema and model
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/models/existing_model.go
Due: graphql-schema, check-code-generation

chore: refactored database table name conversion to humanized table name
  pkg/models/analyzed_audit.go
Due: none

feat: create migration scripts for needs, possible needs, solutions, possible solutions, and links
  migrations/V70__Update_operational_need_To_User_Account_Table.sql
  migrations/V71__Update_operational_solution_To_User_Account_Table.sql
  migrations/V72__Update_possible_operational_need_To_User_Account_Table.sql
  migrations/V73__Update_possible_operational_solution_To_User_Account_Table.sql
  migrations/V74__Update_possible_need_solution_link_To_User_Account_Table.sql
  scripts/table_user_account_migration.py
Due: none

Easi 2619/discussion and reply user table migration (#460)
  MINT.postman_collection.json
  migrations/V66__Update_plan_discussion_To_User_Account_Table.sql
  migrations/V67__Update_discussion_reply_To_User_Account_Table.sql
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/plan_discussion.go
  pkg/graph/resolvers/plan_discussion_test.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/plan_discussion.go
  src/queries/Discussions/GetModelPlanDiscussions.ts
  src/queries/Discussions/types/CreateModelPlanDiscussion.ts
  src/queries/Discussions/types/GetModelPlanDiscussions.ts
  src/queries/types/CreateModelPlanReply.ts
  src/queries/types/GetAllModelData.ts
  src/queries/types/GetAllSingleModelData.ts
  src/queries/types/GetModelPlan.ts
  src/views/ModelPlan/Discussions/SingleDiscussion.tsx
  src/views/ModelPlan/Discussions/index.test.tsx
  src/views/ModelPlan/Discussions/index.tsx
Due: eslint, tsc-check, graphql-schema, check-code-generation

feat: operational solution to baseStructUser
  pkg/graph/resolvers/operational_solution.go
  pkg/models/operational_solution.go
Due: none

feat: operational need to BaseStruct User table
  pkg/graph/resolvers/operational_need.go
  pkg/models/operational_need.go
Due: none

feat: create modified by and created by relation, and embed in possible operational need
  pkg/models/created_by_relation.go
  pkg/models/modified_by_relation.go
  pkg/models/possible_operational_need.go
Due: none

feat: embed createdByRelation and modifiedByRelation in possible operational solution
  pkg/models/possible_operational_need.go
  pkg/models/possible_operational_solution.go
Due: none

feat: update schema to include user account queries
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  src/queries/ITSolutions/types/GetOperationalNeeds.ts
Due: eslint, tsc-check, graphql-schema, check-code-generation

chore: correct passing username instead of account ID to create all possible operational needs
  pkg/graph/resolvers/model_plan.go
  pkg/storage/operational_needStore.go
Due: none

chore: fix error of trying to pass possible operational need created by as null. Switched to use UUID.Nil (unknown user account) instead
  pkg/storage/SQL/operational_need/get_by_model_plan_id_and_type.sql
Due: none

Revert "[EASI-2586] Add 'ARCHITECT' to TeamRoles for Collaborators (#401)"
  migrations/V42__Add_Architect_Role_To_Team_Roles.sql
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/models/plan_collaborator.go
  src/i18n/en-US/modelPlan.ts
  src/types/graphql-global-types.ts
  src/utils/modelPlan.ts
  src/views/ModelPlan/Collaborators/AddCollaborator/__snapshots__/index.test.tsx.snap
Due: eslint, tsc-check, graphql-schema, check-code-generation

Added initial tests for linked documents
  src/views/ModelPlan/Documents/index.test.tsx
  src/views/ModelPlan/TaskList/ITSolutions/LinkDocuments/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/LinkDocuments/index.test.tsx
  src/views/ModelPlan/TaskList/ITSolutions/LinkDocuments/index.tsx
Due: eslint, tsc-check

New migration to delete architect role
  migrations/V42__Add_Architect_Role_To_Team_Roles.sql
  migrations/V68__Remove_Architect_Role_From_Team_Roles.sql
Due: none

Remove references to Architect in tests
  pkg/graph/resolvers/base_struct_test.go
  pkg/graph/resolvers/user_id_relation_test.go
Due: none

Updated query improts for test
  src/views/ModelPlan/TaskList/ITSolutions/LinkDocuments/index.test.tsx
Due: eslint, tsc-check

Disable and enable trigger
  migrations/V68__Remove_Architect_Role_From_Team_Roles.sql
Due: none

chore: cast NULL as uuid.Nil in SQL to be a uuid instead of EUAID
  pkg/storage/SQL/operational_solution/and_possible_get_by_operational_need_id.sql
  pkg/storage/SQL/operational_solution/and_possible_get_by_operational_need_id_LOADER.sql
Due: none

ALTER TABLE
  migrations/V68__Remove_Architect_Role_From_Team_Roles.sql
Due: none

Path conditions:
  dockerfilelint: any of: Dockerfile.*
  eslint: any of: \.(js|jsx|ts|tsx)$
  tsc-check: any of: \.(js|jsx|ts|tsx)$
  graphql-schema: any of: pkg/graph/schema.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts
