Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, tsc-check, graphql-schema, check-code-generation

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-yaml
        name: Check YAML formatting
      - id: detect-private-key
        name: Check for private keys
      - id: end-of-file-fixer
        files: \.(sql|scss|md|js|ts|tsx|go|yml|yaml)$
        name: Add newlines to ends of files

  - repo: https://github.com/detailyang/pre-commit-shell
    rev: v1.0.6
    hooks:
      - id: shell-lint
        name: Lint shell files

  - repo: https://github.com/trussworks/pre-commit-hooks
    rev: v1.1.1
    hooks:
      - id: mdspell
        name: Spellcheck Markdown files
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor
          )$

  - repo: https://github.com/Bahjat/pre-commit-golang
    rev: v1.0.1
    hooks:
      - id: go-fmt-import
        name: Run "goimports" on go files
        args: ['-local', 'github.com/cmsgov/mint-app']
        files: .*\.go$
        exclude: >
          (?x)^(
            .*gen/.*|
            .*generated/.*|
            .*models_gen.go|
          )$

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.48.0
    hooks:
      - id: golangci-lint
        name: Lint go files
        args: ['--concurrency', '-1'] # Run with all CPUs

  - repo: local
    hooks:
    - id: dockerfilelint
      name: Lint Dockerfile
      entry: dockerfilelint
      language: node
      additional_dependencies: [dockerfilelint]
      files: Dockerfile.*

  - repo: local
    hooks:
      - id: eslint
        name: Run eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$
        exclude: (\.(d\.ts)$)|(\.storybook)|(serviceWorker\.ts) # This should match the .eslintrc "ignorePatterns". Change one, change the other!

  - repo: local
    hooks:
      - id: tsc-check
        name: Run typescript check
        entry: scripts/pre-commit-tsc
        language: script
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false

  - repo: local
    hooks:
      - id: graphql-schema
        name: Lint GraphQL schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: pkg/graph/schema.graphql

  - repo: local
    hooks:
      - id: check-code-generation
        name: Run GraphQL code generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: "pkg/graph/schema\\.graphql|pkg/graph/schema\\.resolvers\\.go|src/queries/.*\\.ts"
        pass_filenames: false

  - repo: https://github.com/awslabs/git-secrets
    rev: b9e96b3212fa06aea65964ff0d5cda84ce935f38
    hooks:
      - id: git-secrets
        name: Check for committed secrets
        entry: git-secrets --pre_commit_hook

  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 2.0.7
    hooks:
      - id: sqlfluff-fix
        exclude: ^migrations/
      - id: sqlfluff-lint
        exclude: ^migrations/

remove comment
  src/views/ModelPlan/Discussions/SingleDiscussion.tsx
Due: eslint, tsc-check

Split docker compose files by frontend + backend, rather than by regular/override. Remove most duplicative env vars
  .envrc
  .github/workflows/run_tests.yml
  .spelling
  docker-compose.backend.yml
  docker-compose.frontend.yml
  docker-compose.override.yml
  docs/docker_compose.md
  scripts/dev
Due: none

remove exclude for G602 as issue was resolved
  .golangci.yml
Due: none

remove hasEditAccess
  src/views/Landing/index.tsx
  src/views/ModelPlan/Discussions/FormatDiscussion.tsx
  src/views/ModelPlan/Discussions/index.tsx
Due: eslint, tsc-check

drying up some code
  src/views/ModelPlan/Discussions/Replies/index.tsx
Due: eslint, tsc-check

Fix typo in docker compose file
  .github/workflows/run_tests.yml
Due: none

Use PGPASSWORD instead of PGPASS
  .envrc
  docker-compose.backend.yml
Due: none

adding the connected styles
  src/views/ModelPlan/Discussions/Replies/index.tsx
  src/views/ModelPlan/Discussions/_components/DiscussionUserInfo/index.scss
  src/views/ModelPlan/Discussions/_components/DiscussionUserInfo/index.tsx
Due: eslint, tsc-check

Add the conected border styles
  src/views/ModelPlan/Discussions/Replies/index.tsx
Due: eslint, tsc-check

Use PGPASS and PGPASSWORD
  .envrc
  docker-compose.backend.yml
Due: none

Init poc for tiptap
  package.json
  src/components/Mention/MentionList.scss
  src/components/Mention/MentionList.tsx
  src/components/Mention/index.tsx
  src/components/Mention/style.scss
  src/components/Mention/suggestion.ts
  src/views/ModelPlan/Discussions/QuestionAndReply.tsx
  yarn.lock
Due: eslint, tsc-check

EASI-3236: init skip_tests feature for manual deployment
  .github/workflows/manual_deploy.yml
  .github/workflows/run_tests.yml
Due: none

feat: add the ability to add a document which a link to an outside document
  migrations/V104__Plan_Document_Add_URL.sql
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/resolvers/plan_document.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/plan_document.go
  pkg/storage/SQL/plan_document/create.sql
  pkg/storage/SQL/plan_document/read_by_id.sql
  pkg/storage/SQL/plan_document/read_by_model_plan_id.sql
  pkg/storage/SQL/plan_document/read_by_model_plan_id_not_restricted.sql
  pkg/storage/SQL/plan_document/read_by_solution_id.sql
  pkg/storage/SQL/plan_document/read_by_solution_id_not_restricted.sql
  pkg/storage/SQL/plan_document/update.sql
  pkg/storage/plan_documentStore.go
  src/gql/gen/graphql.ts
Due: eslint, tsc-check, graphql-schema, check-code-generation

feat: add unit test for a linked document
  pkg/graph/resolvers/plan_document.go
  pkg/graph/resolvers/plan_document_test.go
Due: none

feat: add note about the fact that we dont virus scan a linked document. Add URL format validation and unit test
  pkg/graph/resolvers/plan_document.go
  pkg/graph/resolvers/plan_document_test.go
  pkg/storage/plan_documentStore.go
Due: none

feat: add postman query for upoloading a linked document
  MINT.postman_collection.json
Due: none

feat: removed discussion status from go and sql
  migrations/V105__Drop_Discussion_Status.sql
  pkg/models/plan_discussion.go
Due: none

WIP for seeder in ./pkg
  pkg/dbseed/data/sample.pdf
  pkg/dbseed/main.go
  pkg/dbseed/resolver_wrappers.go
  pkg/dbseed/seeder.go
Due: none

Added async data
  src/components/Mention/MentionList.tsx
  src/components/Mention/index.tsx
Due: eslint, tsc-check

feat: constraint to not allow url to be null if is_link, and require null if !is_link. More explicit url validation
  migrations/V104__Plan_Document_Add_URL.sql
  pkg/graph/resolvers/plan_document.go
Due: none

Added mention data function
  src/components/Mention/MentionList.tsx
  src/components/Mention/index.tsx
Due: eslint, tsc-check

Fix mispelled basics and change parent category map key
  src/views/ModelPlan/Table/index.tsx
Due: eslint, tsc-check

chore: remove unused deprecated search queries. Base resolver code retained
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  src/gql/gen/graphql.ts
Due: eslint, tsc-check, graphql-schema, check-code-generation

Added tests for other types of URLs
  pkg/graph/resolvers/plan_document_test.go
Due: none

desctructure the prop to only use replies
  src/views/ModelPlan/Discussions/Replies/index.tsx
Due: eslint, tsc-check

Read more toggle when there are more than four replies
  src/i18n/en-US/draftModelPlan/discussions.ts
  src/views/ModelPlan/Discussions/Replies/index.tsx
Due: eslint, tsc-check

change div to span so no div within p descendant error
  src/components/shared/TruncatedText/index.tsx
  src/views/ModelPlan/Discussions/Replies/index.tsx
Due: eslint, tsc-check

major progress
  src/components/shared/TruncatedText/index.tsx
  src/i18n/en-US/general.ts
  src/views/ModelPlan/Discussions/Replies/index.tsx
Due: eslint, tsc-check

increase the character limit
  src/views/ModelPlan/Discussions/Replies/index.tsx
Due: eslint, tsc-check

EASI-3236: skip_tests feature for manual deployment (#709)
  .github/workflows/manual_deploy.yml
  .github/workflows/run_tests.yml
Due: none

[EASi 3154] links as documents be (#710)
  MINT.postman_collection.json
  migrations/V104__Plan_Document_Add_URL.sql
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/resolvers/plan_document.go
  pkg/graph/resolvers/plan_document_test.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/plan_document.go
  pkg/storage/SQL/plan_document/create.sql
  pkg/storage/SQL/plan_document/read_by_id.sql
  pkg/storage/SQL/plan_document/read_by_model_plan_id.sql
  pkg/storage/SQL/plan_document/read_by_model_plan_id_not_restricted.sql
  pkg/storage/SQL/plan_document/read_by_solution_id.sql
  pkg/storage/SQL/plan_document/read_by_solution_id_not_restricted.sql
  pkg/storage/SQL/plan_document/update.sql
  pkg/storage/plan_documentStore.go
  src/gql/gen/graphql.ts
Due: eslint, tsc-check, graphql-schema, check-code-generation

feat: remove unused queries from postman collection
  MINT.postman_collection.json
Due: none

Remove unused Dockerfiles (client CI and cypress). Rename Dockerfile.client to Dockerfile.frontend, refactor to no longer copy source and use alpine base image
  Dockerfile.client
  Dockerfile.client_ci
  Dockerfile.cypress
  Dockerfile.frontend
  docker-compose.frontend.yml
Due: dockerfilelint

adjust the spacing between the replies
  src/components/shared/TruncatedText/index.tsx
  src/views/ModelPlan/Discussions/Replies/index.tsx
Due: eslint, tsc-check

Remove templates for emails (they are embedded in the binary). Refactor dockerfile for backend.
  .envrc
  Dockerfile
  config/tls/Entrust_Managed_Services_Root_CA.crt
  config/tls/Entrust_Managed_Services_Root_CA_G2.crt
  config/tls/HHS-FPKI-Intermediate-CA-E1.crt
  config/tls/hhs-fpki-intermediate-ca.crt
  config/tls/rds-ca-2019-root.crt
  docker-compose.backend.yml
  pkg/appconfig/config.go
  scripts/testsuite
Due: dockerfilelint

made some more chagnes
  src/views/ModelPlan/Discussions/Replies/index.tsx
  src/views/ModelPlan/Discussions/SingleDiscussion.tsx
  src/views/ModelPlan/Discussions/_components/DiscussionUserInfo/index.tsx
Due: eslint, tsc-check

feat: homogenized css styling using the template directive in emails
  pkg/email/template_service_impl.go
  pkg/email/templates/added_as_collaborator_body.html
  pkg/email/templates/model_plan_created_body.html
  pkg/email/templates/model_plan_date_changed_body.html
  pkg/email/templates/model_plan_share_body.html
  pkg/email/templates/plan_discussion_created_body.html
  pkg/email/templates/shared_css.html
  pkg/graph/resolvers/resolver_test_utilities.go
  pkg/shared/emailTemplates/template_cache.go
Due: none

fix: broken unit test
  pkg/shared/emailTemplates/template_cache_test.go
Due: none

[EASI-2842] - Model home table updates (#705)
  src/components/FavoriteCard/index.test.tsx
  src/components/FavoriteCard/index.tsx
  src/components/FavoriteCard/table.tsx
  src/i18n/en-US/home.ts
  src/i18n/en-US/readOnly/readOnlyModelPlan.ts
  src/queries/GetFavorites.ts
  src/queries/GetModelPlans.ts
  src/queries/ReadOnly/types/GetAllModelPlans.ts
  src/queries/types/GetFavorites.ts
  src/queries/types/GetModelPlans.ts
  src/views/Home/index.tsx
  src/views/ModelPlan/Collaborators/AddCollaborator/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ModelPlanOverview/index.tsx
  src/views/ModelPlan/ReadOnly/Table/index.tsx
  src/views/ModelPlan/Table/index.tsx
Due: eslint, tsc-check, check-code-generation

[NOREF] Split docker compose files (#707)
  .envrc
  .github/workflows/run_tests.yml
  .spelling
  Dockerfile
  Dockerfile.client
  Dockerfile.client_ci
  Dockerfile.cypress
  Dockerfile.frontend
  config/tls/Entrust_Managed_Services_Root_CA.crt
  config/tls/Entrust_Managed_Services_Root_CA_G2.crt
  config/tls/HHS-FPKI-Intermediate-CA-E1.crt
  config/tls/hhs-fpki-intermediate-ca.crt
  config/tls/rds-ca-2019-root.crt
  docker-compose.backend.yml
  docker-compose.frontend.yml
  docker-compose.override.yml
  docs/docker_compose.md
  pkg/appconfig/config.go
  scripts/dev
  scripts/testsuite
Due: dockerfilelint
