Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, tsc-check, graphql-schema, check-code-generation

dockerfilelint:
  name: Lint Dockerfile
  entry: dockerfilelint
  language: node
  additional_dependencies:
  - dockerfilelint

eslint:
  name: Run eslint
  entry: scripts/pre-commit-eslint
  language: script

tsc-check:
  name: Run typescript check
  entry: scripts/pre-commit-tsc
  language: script
  pass_filenames: false

graphql-schema:
  name: Lint GraphQL schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script
  pass_filenames: false

check-code-generation:
  name: Run GraphQL code generation
  entry: scripts/pre-commit-check-code-generation
  language: script
  pass_filenames: false

merge and bump sql num
  migrations/V273__Add_Discussion_Topic.sql
Due: none

[WIP add more filters to modal]
  src/features/ModelPlan/ModelToOperations/_components/MTOTableFilters/getMTOTableFilters.ts
  src/features/ModelPlan/ModelToOperations/_components/MTOTableFilters/index.tsx
  src/i18n/en-US/modelPlan/modelToOperations.ts
Due: eslint, tsc-check

[Refactor]
  src/components/FilterGroup/index.test.tsx
  src/components/FilterGroup/index.tsx
  src/features/ModelPlan/ModelToOperations/_components/MTOTableFilters/getMTOTableFilters.ts
  src/i18n/en-US/helpAndKnowledge/helpAndKnowledge.ts
Due: eslint, tsc-check

[Fix incorrect translation path]
  src/features/HelpAndKnowledge/home.tsx
Due: eslint, tsc-check

[NOREF] Fix incorrect translation path (#2455)
  src/features/HelpAndKnowledge/home.tsx
Due: eslint, tsc-check

Potential fix for pull request finding
  pkg/email/templates/plan_task_new_available_body.html
Due: none

include test
  pkg/email/plan_task_emails_test.go
Due: none

[Refactor]
  src/components/FilterGroup/index.tsx
  src/features/ModelPlan/ModelToOperations/_components/MTOTableFilters/getMTOTableFilters.ts
  src/features/ModelPlan/ModelToOperations/_components/MTOTableFilters/index.tsx
  src/i18n/en-US/modelPlan/modelToOperations.ts
Due: eslint, tsc-check

[MINT-3761] Spike Okta redirect login behind feature flag (#2389)
  .envrc
  .github/workflows/build_frontend_assets.yml
  .github/workflows/run_tests.yml
  cypress/e2e/login.spec.js
  cypress/support/login.js
  docker-compose.frontend.yml
  scripts/build_static.sh
  src/app/Routes/index.tsx
  src/app/index.scss
  src/components/Header/index.tsx
  src/components/OktaLoginCallback/index.tsx
  src/components/OktaSignInWidget/index.scss
  src/components/OktaSignInWidget/index.tsx
  src/components/PageWrapper/index.tsx
  src/config/global.d.ts
  src/features/Landing/index.tsx
  src/features/Login/index.tsx
  src/i18n/en-US/auth.ts
  src/i18n/en-US/general.ts
  src/utils/auth.ts
  src/wrappers/AuthenticationWrapper/index.tsx
  src/wrappers/UserInfoWrapper/index.tsx
  vite.config.ts
Due: eslint, tsc-check

Bound Postgres pool connection idle time/lifetime to avoid stale connections
  pkg/storage/store.go
Due: none

[more refactor to existing quick filter so it will sync with new filters date range]
  src/components/FilterGroup/index.tsx
  src/components/FilterTags/index.tsx
  src/features/ModelPlan/ModelToOperations/_components/MTOTableDateFilter/index.tsx
  src/features/ModelPlan/ModelToOperations/_components/MTOTableFilters/getMTOTableFilters.ts
  src/features/ModelPlan/ModelToOperations/_components/MTOTableFilters/index.tsx
  src/features/ModelPlan/ModelToOperations/_components/MatrixTable/_utils.ts
  src/i18n/en-US/modelPlan/modelToOperations.ts
  src/utils/modelPlan.ts
Due: eslint, tsc-check

[Should enable filter table if any filters are being used]
  src/features/ModelPlan/ModelToOperations/_components/MTOTableFilters/index.tsx
Due: eslint, tsc-check

attempting parity with another unsub flow, still testing some things
  migrations/V273__Add_New_Task_Added_enum.sql
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/user_notification_preferences.resolvers.go
  pkg/graph/schema/types/user_notification_preferences.graphql
  pkg/models/user_notification_preferences.go
  pkg/sqlqueries/SQL/user_notification_preferences/get_by_user_id.sql
  pkg/sqlqueries/SQL/user_notification_preferences/get_by_user_id_loader.sql
  pkg/sqlqueries/SQL/user_notification_preferences/update.sql
  src/features/Home/components/NewlyCreatedModels/index.test.tsx
  src/features/Notifications/Home/_components/_utils.tsx
  src/features/Notifications/Home/_components/utils.test.tsx
  src/features/Notifications/Settings/__snapshots__/index.test.tsx.snap
  src/features/Notifications/Settings/index.test.tsx
  src/features/Notifications/Settings/index.tsx
  src/gql/generated/graphql.ts
  src/gql/operations/Notifications/GetNotificationSettings.ts
  src/gql/operations/Notifications/UpdateNotificationSettings.ts
  src/i18n/en-US/notifications.ts
Due: eslint, tsc-check, graphql-schema

put in additional notifications
  src/features/Notifications/Settings/__snapshots__/index.test.tsx.snap
  src/i18n/en-US/notifications.ts
Due: eslint, tsc-check

feat: re-order ctat request and custom timeline schema file location
  pkg/graph/generated/generated.go
  pkg/graph/schema/types/ctat/ctat_request.graphql
  pkg/graph/schema/types/ctat/ctat_request_document.graphql
  pkg/graph/schema/types/ctat/ctat_request_translation.graphql
  pkg/graph/schema/types/model_collaboration/timeline/custom_timeline_date.graphql
  pkg/graph/schema/types/model_collaboration/timeline/custom_timeline_date_translation.graphql
Due: graphql-schema

[WIP pass custom date to generic component]
  src/components/FilterButtonWithModal/index.tsx
  src/components/FilterGroup/index.tsx
  src/features/ModelPlan/ModelToOperations/_components/MTOTableDateFilter/index.tsx
  src/features/ModelPlan/ModelToOperations/_components/MTOTableFilters/getMTOTableFilters.ts
  src/features/ModelPlan/ModelToOperations/_components/MTOTableFilters/index.tsx
  src/features/ModelPlan/ModelToOperations/_components/MatrixTable/_utils.ts
  src/i18n/en-US/general.ts
Due: eslint, tsc-check

flakey e2e test fix attempt 1
  cypress/e2e/editMilestoneAndSolution.spec.js
Due: eslint, tsc-check

another try
  cypress/e2e/editMilestoneAndSolution.spec.js
Due: eslint, tsc-check

update migration
  migrations/V273__Add_New_Task_Added_enum.sql
Due: none

UI, DB, GQL infra
  migrations/V273__Add_New_Task_Added_enum.sql
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/user_notification_preferences.resolvers.go
  pkg/graph/schema/types/activity.graphql
  pkg/graph/schema/types/user_notification_preferences.graphql
  pkg/models/activity.go
  pkg/models/user_notification_preferences.go
  pkg/sqlqueries/SQL/user_notification_preferences/get_by_user_id.sql
  pkg/sqlqueries/SQL/user_notification_preferences/get_by_user_id_loader.sql
  pkg/sqlqueries/SQL/user_notification_preferences/update.sql
  src/features/Home/components/NewlyCreatedModels/index.test.tsx
  src/features/Notifications/Home/_components/_utils.tsx
  src/features/Notifications/Home/_components/utils.test.tsx
  src/features/Notifications/Settings/__snapshots__/index.test.tsx.snap
  src/features/Notifications/Settings/index.test.tsx
  src/features/Notifications/Settings/index.tsx
  src/gql/generated/graphql.ts
  src/gql/operations/Notifications/GetNotificationSettings.ts
  src/gql/operations/Notifications/UpdateNotificationSettings.ts
  src/i18n/en-US/notifications.ts
Due: eslint, tsc-check, graphql-schema

[Polish component to improve user experience]
  src/components/FilterButtonWithModal/index.tsx
  src/features/ModelPlan/ModelToOperations/_components/MTOTableDateFilter/index.tsx
  src/features/ModelPlan/ModelToOperations/_components/MTOTableFilters/index.tsx
Due: eslint, tsc-check

add email infra, template, etc
  cmd/test_email/main.go
  cmd/test_email/plan_task_emails.go
  pkg/email/plan_task_emails.go
  pkg/email/plan_task_emails_test.go
  pkg/email/templates/plan_task_completed_body.html
  pkg/email/templates/plan_task_completed_subject.html
Due: none

clean up some email formatting (and apply to the new task email)
  pkg/email/templates/plan_task_completed_body.html
  pkg/email/templates/plan_task_new_available_body.html
Due: none

minor update for a retry
  cypress/e2e/editMilestoneAndSolution.spec.js
Due: eslint, tsc-check

[Clean up and refactor date filter component]
  src/components/FilterButtonWithModal/index.tsx
  src/features/ModelPlan/ModelToOperations/_components/MTOTableDateFilter/index.tsx
  src/features/ModelPlan/ModelToOperations/_components/MTOTableFilters/index.tsx
Due: eslint, tsc-check

[refactor]
  src/features/ModelPlan/ModelToOperations/_components/MTOTableDateFilter/index.tsx
  src/features/ModelPlan/ModelToOperations/_components/MTOTableFilters/_utils.ts
  src/features/ModelPlan/ModelToOperations/_components/MTOTableFilters/index.tsx
Due: eslint, tsc-check

[Add new tests and fix old broken tests]
  src/features/ModelPlan/ModelToOperations/_components/MTOTableDateFilter/index.test.tsx
  src/features/ModelPlan/ModelToOperations/_components/MTOTableDateFilter/index.tsx
  src/features/ModelPlan/ModelToOperations/_components/MTOTableFilters/_utils.test.ts
  src/features/ModelPlan/ModelToOperations/_components/MTOTableFilters/index.test.tsx
Due: eslint, tsc-check

bump minor version for json2csv
  package.json
  yarn.lock
Due: none

[Make changes to accommodate tags]
  src/components/FilterGroup/index.tsx
  src/features/ModelPlan/ModelToOperations/_components/MTOTableFilters/_utils.test.ts
  src/features/ModelPlan/ModelToOperations/_components/MTOTableFilters/_utils.ts
  src/features/ModelPlan/ModelToOperations/_components/MTOTableFilters/getMTOTableFilters.ts
  src/features/ModelPlan/ModelToOperations/_components/MTOTableFilters/index.tsx
  src/i18n/en-US/modelPlan/modelToOperations.ts
Due: eslint, tsc-check

added apk update patch for faktory image (#2443)
  Dockerfile.faktory
  pkg/storage/store.go
Due: dockerfilelint

[NOREF] Bump Minor Version for json2csv (#2458)
  package.json
  yarn.lock
Due: none

[refactor test]
  src/features/ModelPlan/ModelToOperations/_components/MTOTableFilters/_utils.test.ts
Due: eslint, tsc-check

[refactor more tests]
  src/features/ModelPlan/ModelToOperations/_components/MTOTableFilters/_utils.test.ts
Due: eslint, tsc-check

[Fix date params bug]
  src/features/ModelPlan/ModelToOperations/_components/MTOTableFilters/index.tsx
Due: eslint, tsc-check

minor updates to different types
  package.json
  yarn.lock
Due: none

working on resolver layer for completed task notifications
  cmd/dbseed/resolver_wrappers.go
  pkg/graph/resolvers/audit_change_test.go
  pkg/graph/resolvers/model_plan.go
  pkg/graph/resolvers/model_plan.resolvers.go
  pkg/graph/resolvers/model_plan_test.go
  pkg/graph/resolvers/plan_data_exchange_approach.go
  pkg/graph/resolvers/plan_task.go
  pkg/graph/resolvers/plan_task_status_updates.go
  pkg/graph/resolvers/plan_task_test.go
  pkg/graph/resolvers/translated_audit_field_test.go
  pkg/graph/resolvers/translated_audit_test.go
  pkg/sqlqueries/SQL/user_account/get_notification_preferences_task_completed.sql
  pkg/sqlqueries/user_account.go
  pkg/storage/user_accountStore.go
  pkg/worker/analyzed_audit_job_test.go
Due: none

[NOREF] Minor Updates to Types Packages (#2461)
  package.json
  yarn.lock
Due: none

update ctx chain, add in-app notification flow for task complete resolver (task update resolver when task is completed)
  cmd/dbseed/resolver_wrappers.go
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/activity.resolvers.go
  pkg/graph/resolvers/audit_change_test.go
  pkg/graph/resolvers/base_task_list_section.go
  pkg/graph/resolvers/model_plan.go
  pkg/graph/resolvers/model_plan.resolvers.go
  pkg/graph/resolvers/model_plan_test.go
  pkg/graph/resolvers/mto_category.go
  pkg/graph/resolvers/mto_milestone.go
  pkg/graph/resolvers/mto_milestone_test.go
  pkg/graph/resolvers/mto_solution.go
  pkg/graph/resolvers/mto_solution.resolvers.go
  pkg/graph/resolvers/mto_solution_test.go
  pkg/graph/resolvers/plan_data_exchange_approach.go
  pkg/graph/resolvers/plan_task.go
  pkg/graph/resolvers/plan_task_status_updates.go
  pkg/graph/resolvers/plan_task_test.go
  pkg/graph/resolvers/translated_audit_field_test.go
  pkg/graph/resolvers/translated_audit_test.go
  pkg/graph/schema/types/notifications/activity.graphql
  pkg/models/activity.go
  pkg/models/task_completed_activity_meta.go
  pkg/notifications/task_completed.go
  pkg/notifications/task_completed_test.go
  pkg/worker/analyzed_audit_job_test.go
  src/features/Notifications/Home/_components/_utils.tsx
  src/gql/generated/graphql.ts
  src/gql/operations/Notifications/GetNotifications.ts
  src/i18n/en-US/notifications.ts
Due: eslint, tsc-check, graphql-schema

Path conditions:
  dockerfilelint: any of: Dockerfile.*
  eslint: any of: \.(js|jsx|ts|tsx)$, but not: (\.(d\.ts)$)|(\.storybook)|(serviceWorker\.ts)|(src/gql/gen/.*)
  tsc-check: any of: \.(js|jsx|ts|tsx)$
  graphql-schema: any of: pkg/graph/schema/.*\.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts|src/queriesCodegen/.*\.ts
