Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-intake-swagger

.pre-commit-config.yaml:

---
repos:
  - repo: git://github.com/detailyang/pre-commit-shell
    rev: 1.0.5
    hooks:
      - id: shell-lint

  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-yaml
      - id: detect-private-key

  - repo: git://github.com/trussworks/pre-commit-hooks
    rev: v1.1.0
    hooks:
      - id: gen-docs
        args: ['docs/adr']
      - id: mdspell
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor/|
            docs/adr/index.md
          )$

  - repo: git://github.com/Bahjat/pre-commit-golang
    rev: c3086eea8af86847dbdff2e46b85a5fe3c9d9656
    hooks:
      - id: go-fmt-import

  - repo: git://github.com/golangci/golangci-lint
    rev: v1.41.1
    hooks:
      - id: golangci-lint
        entry: bash -c 'exec golangci-lint run -j=${GOLANGCI_LINT_CONCURRENCY:-1}' # custom bash so we can override concurrency for faster dev runs

  - repo: https://github.com/pryorda/dockerfilelint-precommit-hooks
    rev: v0.1.0
    hooks:
      - id: dockerfilelint

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$

  - repo: local
    hooks:
      - id: graphql-schema
        name: graphql-schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: pkg/graph/schema.graphql

  - repo: local
    hooks:
      - id: check-code-generation
        name: check-code-generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: "pkg/graph/schema\\.graphql|pkg/graph/schema\\.resolvers\\.go|src/queries/.*\\.ts"

  # for some reason, trying to call "go run cmd/intake_schema_gen/main.go" directly from this config doesn't work;
  # so call scripts/gen_intake_schema, which calls that command and works 
  - repo: local
    hooks:
      - id: check-intake-schema-generation
        name: check-intake-schema-generation
        entry: scripts/gen_intake_schema
        language: script
        files: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json

  - repo: local
    hooks:
      - id: preprocess-intake-swagger
        name: preprocess-intake-swagger
        entry: scripts/generate_cedar_intake_client
        language: script
        files: pkg/cedar/intake/cedar_intake.json

  - repo: git://github.com/awslabs/git-secrets
    rev: 80230afa8c8bdeac766a0fece36f95ffaa0be778
    hooks:
      - id: git-secrets
        entry: git-secrets --pre_commit_hook

  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: end-of-file-fixer
        name: Add newlines to end of files
        files: \.(sql|scss|md|js|ts|tsx|go)$

added testing for plan milestones
  migrations/V7__Add_Plan_Milestones.sql
  pkg/apperrors/errors.go
  pkg/graph/resolvers/planmilestones.go
  pkg/graph/resolvers/planmilestones_test.go
  pkg/graph/schema.resolvers.go
  pkg/graph/schema.resolvers_helpers.go
  pkg/storage/SQL/plan_milestones_delete_by_id.sql
  pkg/storage/genericmodel/errorhandling.go
  pkg/storage/plan_milestonesStore.go
Due: check-code-generation

Rename component to cmsCenter
  migrations/V5__Add_Plan_Collaborator.sql
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers_helpers.go
  pkg/models/plan_collaborator.go
  pkg/storage/SQL/plan_collaborator_create.sql
  pkg/storage/SQL/plan_collaborator_update.sql
Due: graphql-schema, check-code-generation

Add TODO comment
  src/views/ModelPlan/TaskList/components/TaskListSideNav/index.tsx
Due: eslint

using USWDS color token for gold
  src/stylesheets/_colors.scss
  src/views/ModelPlan/TaskList/index.scss
Due: none

using USDWS token colors
  src/stylesheets/_colors.scss
Due: none

remove completed since it has been removed from figma
  src/views/ModelPlan/TaskList/components/TaskListItem/index.tsx
Due: eslint

using USWDS color token
  src/views/ModelPlan/TaskList/index.scss
Due: none

Removing commented code
  src/views/ModelPlan/TaskList/components/TaskListCta/index.tsx
Due: eslint

Renamed variable to better express purpose
  pkg/graph/schema.resolvers.go
Due: check-code-generation

Updated milestone resolver names to be consistent and less redundant
  pkg/graph/resolvers/planmilestones.go
  pkg/graph/resolvers/planmilestones_test.go
  pkg/graph/schema.resolvers.go
Due: check-code-generation

Reducing the Sass for favor of Utilties
  src/views/ModelPlan/TaskList/components/TaskListItem/index.tsx
  src/views/ModelPlan/TaskList/index.scss
  src/views/ModelPlan/TaskList/index.tsx
Due: eslint

🧹
  src/views/ModelPlan/TaskList/components/TaskListItem/index.tsx
  src/views/ModelPlan/TaskList/index.scss
Due: eslint

🧹
  src/views/ModelPlan/TaskList/index.scss
  src/views/ModelPlan/TaskList/index.tsx
Due: eslint

using switch case instead
  src/views/ModelPlan/TaskList/components/TaskListItem/index.tsx
Due: eslint

more cleaning
  src/views/ModelPlan/TaskList/components/TaskListItem/index.tsx
Due: eslint

clean up sttyles
  src/views/ModelPlan/TaskList/index.scss
Due: none

clean up sttyles
  src/views/ModelPlan/TaskList/components/TaskListItem/index.tsx
  src/views/ModelPlan/TaskList/index.scss
Due: eslint

clean up styles
  src/views/ModelPlan/TaskList/components/TaskListItem/index.tsx
  src/views/ModelPlan/TaskList/index.scss
  src/views/ModelPlan/TaskList/index.tsx
Due: eslint

clean up styles
  src/views/ModelPlan/TaskList/index.scss
Due: none

using Tag component
  src/views/ModelPlan/TaskList/components/TaskListItem/index.tsx
Due: eslint

QA Feedback
  src/views/ModelPlan/TaskList/components/TaskListSideNav/TeamMembersList.tsx
Due: eslint

🧹
  src/views/ModelPlan/TaskList/components/TaskListSideNav/index.tsx
Due: eslint

convert to switch
  src/views/ModelPlan/TaskList/index.tsx
Due: eslint

remove unused prop
  src/views/ModelPlan/TaskList/components/TaskListItem/index.tsx
Due: eslint

remove unused prop
  src/views/ModelPlan/TaskList/index.tsx
Due: eslint

add paths
  src/i18n/en-US/modelPlanTaskList.ts
Due: eslint

renamed folder
  src/views/ModelPlan/TaskList/components/TaskListCta/index.tsx
  src/views/ModelPlan/TaskList/components/TaskListItem/index.test.tsx
  src/views/ModelPlan/TaskList/components/TaskListItem/index.tsx
  src/views/ModelPlan/TaskList/components/TaskListSideNav/TeamMembersList.tsx
  src/views/ModelPlan/TaskList/components/TaskListSideNav/index.test.tsx
  src/views/ModelPlan/TaskList/components/TaskListSideNav/index.tsx
Due: eslint

renamed folder
  src/views/ModelPlan/TaskList/_components/TaskListCta/index.tsx
  src/views/ModelPlan/TaskList/_components/TaskListItem/index.test.tsx
  src/views/ModelPlan/TaskList/_components/TaskListItem/index.tsx
  src/views/ModelPlan/TaskList/_components/TaskListSideNav/TeamMembersList.tsx
  src/views/ModelPlan/TaskList/_components/TaskListSideNav/index.test.tsx
  src/views/ModelPlan/TaskList/_components/TaskListSideNav/index.tsx
Due: eslint

renamed folder
  src/views/ModelPlan/TaskList/index.tsx
Due: eslint

add Beneficiaries route
  src/i18n/en-US/modelPlanTaskList.ts
  src/views/App/index.tsx
  src/views/ModelPlan/TaskList/Beneficiaries/index.tsx
Due: eslint

Added support for team roles nad enum types
  src/constants/enums/teamRoles.ts
  src/i18n/en-US/draftModelPlan/draftModelPlan.ts
  src/types/collaborator.ts
  src/views/ModelPlan/Collaborators/AddCollaborator/index.tsx
Due: eslint

nevermind dont need path
  src/i18n/en-US/modelPlanTaskList.ts
Due: eslint

renamed TaskListCta to TaskListButton
  src/views/ModelPlan/TaskList/_components/TaskListButton/index.tsx
  src/views/ModelPlan/TaskList/_components/TaskListCta/index.tsx
Due: eslint

Pass down path as prop
  src/views/ModelPlan/TaskList/index.tsx
Due: eslint

sort props
  src/views/ModelPlan/TaskList/_components/TaskListItem/index.tsx
Due: eslint

remove not needed status since.. its ... not needed
  src/views/ModelPlan/TaskList/_components/TaskListButton/index.tsx
  src/views/ModelPlan/TaskList/_components/TaskListItem/index.tsx
Due: eslint

Add TaskListButton test
  src/views/ModelPlan/TaskList/_components/TaskListButton/index.test.tsx
Due: eslint
