Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, tsc-check, graphql-schema, check-code-generation

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch
        args: [
          '--pattern', '^(?!((main)|(feature\/EASI-\d{1,5})|((EASI-\d{1,5}|NOREF|dependabot)\/[a-zA-Z0-9\-\._/]+))$).*',
          '--branch', '' # Adding this to remove the default protection on `main` so that CI checks can pass
        ]
        name: Enforce branch naming patterns
        description: Enforces branch naming policy. Allowed branch patterns are 'EASI-#', 'EASI-#/*', 'feature/EASI-#', 'NOREF/*', and 'dependabot/*'. A feature branch like feature/EASI-2020 would have branches like EASI-2020/frontend and EASI-2020/backend merge into it.
      - id: check-yaml
        name: Check YAML formatting
      - id: detect-private-key
        name: Check for private keys
      - id: end-of-file-fixer
        files: \.(sql|scss|md|js|ts|tsx|go|yml|yaml)$
        name: Add newlines to ends of files

  - repo: https://github.com/detailyang/pre-commit-shell
    rev: v1.0.6
    hooks:
      - id: shell-lint
        name: Lint shell files

  - repo: https://github.com/trussworks/pre-commit-hooks
    rev: v1.1.1
    hooks:
      - id: mdspell
        name: Spellcheck Markdown files
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor
          )$

  - repo: https://github.com/Bahjat/pre-commit-golang
    rev: v1.0.1
    hooks:
      - id: go-fmt-import
        name: Run "goimports" on go files
        args: ['-local', 'github.com/cmsgov/mint-app']
        files: .*\.go$
        exclude: >
          (?x)^(
            .*gen/.*|
            .*generated/.*|
            .*models_gen.go|
          )$

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.48.0
    hooks:
      - id: golangci-lint
        name: Lint go files
        args: ['--concurrency', '-1'] # Run with all CPUs

  - repo: local
    hooks:
    - id: dockerfilelint
      name: Lint Dockerfile
      entry: dockerfilelint
      language: node
      additional_dependencies: [dockerfilelint]
      files: Dockerfile.*

  - repo: local
    hooks:
      - id: eslint
        name: Run eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$

  - repo: local
    hooks:
      - id: tsc-check
        name: Run typescript check
        entry: scripts/pre-commit-tsc
        language: script
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false

  - repo: local
    hooks:
      - id: graphql-schema
        name: Lint GraphQL schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: pkg/graph/schema.graphql

  - repo: local
    hooks:
      - id: check-code-generation
        name: Run GraphQL code generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: "pkg/graph/schema\\.graphql|pkg/graph/schema\\.resolvers\\.go|src/queries/.*\\.ts"
        pass_filenames: false

  - repo: https://github.com/awslabs/git-secrets
    rev: b9e96b3212fa06aea65964ff0d5cda84ce935f38
    hooks:
      - id: git-secrets
        name: Check for committed secrets
        entry: git-secrets --pre_commit_hook

  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 1.2.1
    hooks:
      - id: sqlfluff-fix
        exclude: ^scripts/data/
      - id: sqlfluff-lint
        exclude: ^scripts/data/

have the correct conditonals
  src/views/ModelPlan/TaskList/ITSolutions/_components/CheckboxCard/index.tsx
Due: eslint, tsc-check

default solution based on name being not null to be in its own section
  src/views/ModelPlan/TaskList/ITSolutions/_components/CheckboxCard/index.tsx
Due: eslint, tsc-check

Default solution is based on not null name and null pocEmail
  src/views/ModelPlan/TaskList/ITSolutions/_components/CheckboxCard/index.tsx
Due: eslint, tsc-check

feat: first part of migration, now need to remove general characteristics fields
  migrations/V91__Resembles_Existing_Model_To_Link.sql
Due: none

fixing itSolutions e2e test
  cypress/e2e/itSolutions.spec.js
Due: eslint, tsc-check

update the solution card to display a few more things in the solution implementation details page
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionCard/index.tsx
Due: eslint, tsc-check

pass along state too
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionCard/index.tsx
Due: eslint, tsc-check

[NOREF] Upgrade SQLFluff to v2 (#551)
  .pre-commit-config.yaml
  .sqlfluff
  config/logstash/ingest_change_table.sql
  pkg/storage/SQL/access_control/check_if_collaborator.sql
  pkg/storage/SQL/access_control/check_if_collaborator_by_operational_need_id.sql
  pkg/storage/SQL/access_control/check_if_collaborator_by_solution_id.sql
  pkg/storage/SQL/access_control/check_if_collaborator_discussion_id.sql
  pkg/storage/SQL/analyzed_audit/get_by_model_plan_id_and_date.sql
  pkg/storage/SQL/analyzed_audit/get_collection_by_model_plan_ids_and_date.sql
  pkg/storage/SQL/audit_change/collection_by_id_and_table_and_field.sql
  pkg/storage/SQL/audit_change/collection_by_primary_key_or_foreign_keyand_date.sql
  pkg/storage/SQL/discussion_reply/update.sql
  pkg/storage/SQL/nda_agreement/update.sql
  pkg/storage/SQL/operational_need/insert_all_possible.sql
  pkg/storage/SQL/operational_need/insert_or_update.sql
  pkg/storage/SQL/operational_need/update_by_id.sql
  pkg/storage/SQL/operational_solution/insert.sql
  pkg/storage/SQL/operational_solution/update_by_id.sql
  pkg/storage/SQL/plan_document_solution_link/delete_by_ids.sql
  pkg/storage/SQL/plan_favorite/create.sql
  pkg/storage/SQL/plan_ops_eval_and_learning/update.sql
Due: none

address index issues
  src/views/ModelPlan/TaskList/ITSolutions/SelectSolutions/index.tsx
Due: eslint, tsc-check

adjusting the id so that label and input id is not duplicated
  src/views/ModelPlan/TaskList/ITSolutions/_components/CheckboxCard/index.tsx
Due: eslint, tsc-check

feat: remove general characteristics resembles_which question
  migrations/V91__Resembles_Existing_Model_To_Link.sql
Due: none

feat: remove general characteristics resembles_which question from schema and model
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/plan_general_characteristics_test.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/plan_general_characteristics.go
  pkg/storage/SQL/plan_general_characteristics/create.sql
  pkg/storage/SQL/plan_general_characteristics/get_by_id.sql
  pkg/storage/SQL/plan_general_characteristics/get_by_model_plan_id_LOADER.sql
  pkg/storage/SQL/plan_general_characteristics/update.sql
  src/queries/GeneralCharacteristics/GetGeneralCharacteristics.ts
  src/queries/GeneralCharacteristics/types/GetGeneralCharacteristics.ts
  src/queries/GetAllModelData.ts
  src/queries/GetAllSingleModelPlan.ts
  src/queries/ReadOnly/GetAllGeneralCharacteristics.ts
  src/queries/ReadOnly/types/GetAllGeneralCharacteristics.ts
  src/queries/types/GetAllModelData.ts
  src/queries/types/GetAllSingleModelData.ts
  src/types/graphql-global-types.ts
Due: eslint, tsc-check, graphql-schema, check-code-generation

Show update solution for custom solutions
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionCard/index.tsx
Due: eslint, tsc-check

compare ids not names
  src/views/ModelPlan/TaskList/ITSolutions/SelectSolutions/index.tsx
Due: eslint, tsc-check

add solution type and conditonal render and comments
  src/views/ModelPlan/TaskList/ITSolutions/SelectSolutions/index.tsx
Due: eslint, tsc-check

itSolutions to check ids that start with, since the id has a long uuid appended
  cypress/e2e/itSolutions.spec.js
Due: eslint, tsc-check

update snaps
  src/views/ModelPlan/TaskList/ITSolutions/SelectSolutions/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/_components/CheckboxCard/__snapshots__/index.test.tsx.snap
Due: none

feat: add returning statment to delete SQL
  pkg/storage/SQL/existing_model_link/delete.sql
Due: none

feat: add queries to postman collection
  MINT.postman_collection.json
Due: none

feat: transformed search data into composition of ChangedFields structures
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/search_change_table.go
  pkg/graph/schema.graphql
  pkg/models/change_table_record.go
Due: graphql-schema, check-code-generation

change the cta links to checkboxcard
  src/i18n/en-US/draftModelPlan/itSolutions.ts
  src/views/ModelPlan/TaskList/ITSolutions/_components/CheckboxCard/index.tsx
Due: eslint, tsc-check

feat: add seeded data for existing model links
  cmd/dbseed/main.go
  cmd/dbseed/resolver_wrappers.go
Due: none

chore: remove reference to legacy column
  pkg/storage/SQL/plan_general_characteristics/update.sql
Due: none

checkbox to have the same height across
  src/views/ModelPlan/TaskList/ITSolutions/_components/CheckboxCard/index.tsx
Due: eslint, tsc-check

change some styles
  src/views/ModelPlan/TaskList/ITSolutions/_components/CheckboxCard/index.scss
  src/views/ModelPlan/TaskList/ITSolutions/_components/CheckboxCard/index.tsx
Due: eslint, tsc-check

two spaces not four
  src/views/ModelPlan/TaskList/ITSolutions/_components/CheckboxCard/index.scss
Due: none

justify content space between'
  src/views/ModelPlan/TaskList/ITSolutions/_components/CheckboxCard/index.tsx
Due: eslint, tsc-check

do not pass null id and full width please
  src/views/ModelPlan/TaskList/ITSolutions/_components/CheckboxCard/index.tsx
Due: eslint, tsc-check

Use multi-arch images when building locally for migrate and mailcatcher, use alpine when building for ECR
  .github/workflows/build_application_images.yml
  Dockerfile.db_migrations
  docker-compose.yml
Due: dockerfilelint

updated how secrets are referenced
  .github/workflows/deploy_pipeline.yml
  .github/workflows/manual_deploy.yml
  .github/workflows/pr_checks.yml
Due: none

feat: Assessment is gets asigned MINT USER permissions as well in authentication
  pkg/graph/resolvers/search_change_table.go
  pkg/local/authentication_middleware.go
  pkg/okta/authentication_middleware.go
Due: none

dont load the list until loading is finished
  src/views/ModelPlan/TaskList/ITSolutions/SolutionImplementation/index.tsx
Due: eslint, tsc-check

change the id
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/Evaluation/index.tsx
Due: eslint, tsc-check

update snaps
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/Evaluation/__snapshots__/index.test.tsx.snap
Due: none

update nspas
  src/views/ModelPlan/TaskList/ITSolutions/_components/CheckboxCard/__snapshots__/index.test.tsx.snap
Due: none

update failing snaps
  src/views/ModelPlan/TaskList/ITSolutions/SelectSolutions/__snapshots__/index.test.tsx.snap
Due: none

feat: Unit tests for assessment user logic
  pkg/okta/authentication_middleware_test.go
Due: none
