Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, tsc-check, graphql-schema, check-code-generation

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch
        args: [
          '--pattern', '^(?!((main)|(feature\/EASI-\d{1,5})|((EASI-\d{1,5}|NOREF|dependabot)\/[a-zA-Z0-9\-\._/]+))$).*',
          '--branch', '' # Adding this to remove the default protection on `main` so that CI checks can pass
        ]
        name: Enforce branch naming patterns
        description: Enforces branch naming policy. Allowed branch patterns are 'EASI-#', 'EASI-#/*', 'feature/EASI-#', 'NOREF/*', and 'dependabot/*'. A feature branch like feature/EASI-2020 would have branches like EASI-2020/frontend and EASI-2020/backend merge into it.
      - id: check-yaml
        name: Check YAML formatting
      - id: detect-private-key
        name: Check for private keys
      - id: end-of-file-fixer
        files: \.(sql|scss|md|js|ts|tsx|go|yml|yaml)$
        name: Add newlines to ends of files

  - repo: https://github.com/detailyang/pre-commit-shell
    rev: v1.0.6
    hooks:
      - id: shell-lint
        name: Lint shell files

  - repo: https://github.com/trussworks/pre-commit-hooks
    rev: v1.1.1
    hooks:
      - id: mdspell
        name: Spellcheck Markdown files
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor
          )$

  - repo: https://github.com/Bahjat/pre-commit-golang
    rev: v1.0.1
    hooks:
      - id: go-fmt-import
        name: Run "goimports" on go files
        args: ['-local', 'github.com/cmsgov/mint-app']
        files: .*\.go$
        exclude: >
          (?x)^(
            .*gen/.*|
            .*generated/.*|
            .*models_gen.go|
          )$

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.48.0
    hooks:
      - id: golangci-lint
        name: Lint go files
        args: ['--concurrency', '-1'] # Run with all CPUs

  - repo: local
    hooks:
    - id: dockerfilelint
      name: Lint Dockerfile
      entry: dockerfilelint
      language: node
      additional_dependencies: [dockerfilelint]
      files: Dockerfile.*

  - repo: local
    hooks:
      - id: eslint
        name: Run eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$

  - repo: local
    hooks:
      - id: tsc-check
        name: Run typescript check
        entry: scripts/pre-commit-tsc
        language: script
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false

  - repo: local
    hooks:
      - id: graphql-schema
        name: Lint GraphQL schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: pkg/graph/schema.graphql

  - repo: local
    hooks:
      - id: check-code-generation
        name: Run GraphQL code generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: "pkg/graph/schema\\.graphql|pkg/graph/schema\\.resolvers\\.go|src/queries/.*\\.ts"
        pass_filenames: false

  - repo: https://github.com/awslabs/git-secrets
    rev: b9e96b3212fa06aea65964ff0d5cda84ce935f38
    hooks:
      - id: git-secrets
        name: Check for committed secrets
        entry: git-secrets --pre_commit_hook

  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 1.2.1
    hooks:
      - id: sqlfluff-fix
        exclude: ^scripts/data/
      - id: sqlfluff-lint
        exclude: ^scripts/data/

Fixed conditional for other name and update details text
  src/views/ModelPlan/TaskList/ITSolutions/_components/CheckboxCard/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionCard/index.tsx
Due: eslint, tsc-check

[EASI-2605] Front End work for Treat as Other Operational Solution (#543)
  cypress/e2e/itSolutions.spec.js
  src/i18n/en-US/draftModelPlan/itSolutions.ts
  src/queries/ITSolutions/GetOperationalNeed.ts
  src/queries/ITSolutions/GetOperationalSolution.ts
  src/queries/ITSolutions/types/GetOperationalNeed.ts
  src/queries/ITSolutions/types/GetOperationalSolution.ts
  src/utils/modelPlan.ts
  src/views/ModelPlan/TaskList/ITSolutions/AddCustomSolution/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/AddCustomSolution/index.test.tsx
  src/views/ModelPlan/TaskList/ITSolutions/AddCustomSolution/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/AddSolution/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/Home/operationalNeedsTable.tsx
  src/views/ModelPlan/TaskList/ITSolutions/LinkDocuments/index.test.tsx
  src/views/ModelPlan/TaskList/ITSolutions/SelectSolutions/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/SelectSolutions/index.test.tsx
  src/views/ModelPlan/TaskList/ITSolutions/SelectSolutions/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/SolutionImplementation/index.test.tsx
  src/views/ModelPlan/TaskList/ITSolutions/Subtasks/index.test.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/CheckboxCard/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/_components/CheckboxCard/index.scss
  src/views/ModelPlan/TaskList/ITSolutions/_components/CheckboxCard/index.stories.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/CheckboxCard/index.test.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/CheckboxCard/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/NeedQuestionAndAnswer/mocks.ts
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionCard/index.stories.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionCard/index.test.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionCard/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionDetailCard/index.stories.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionDetailCard/index.test.tsx
Due: eslint, tsc-check, check-code-generation

Added unit test for util function
  src/views/ModelPlan/TaskList/GeneralCharacteristics/index.test.tsx
  src/views/ModelPlan/TaskList/GeneralCharacteristics/index.tsx
Due: eslint, tsc-check

Add non null assertion where either current or existing model has to exist
  src/views/ModelPlan/ReadOnly/GeneralCharacteristics/index.tsx
  src/views/ModelPlan/TaskList/GeneralCharacteristics/index.tsx
Due: eslint, tsc-check

Added link to help center, fixed Please Specify margin
  src/views/ModelPlan/TaskList/ITSolutions/_components/ITSolutionSidebar/index.tsx
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/Learning/index.tsx
Due: eslint, tsc-check

chore: update operational need trigger column and values, calculate needs again and update
  migrations/V90__Need_Trigger_Updates.sql
Due: none

Added responsiveness to solution cards
  src/hooks/useCheckMobile.tsx
  src/views/ModelPlan/TaskList/ITSolutions/SelectSolutions/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/CheckboxCard/index.tsx
Due: eslint, tsc-check

chore: correct general characterstic needs trigger
  pkg/graph/resolvers/operational_need_triggers_test.go
Due: none

Reformatted acronym on solution cards
  src/views/ModelPlan/TaskList/ITSolutions/LinkDocuments/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/SelectSolutions/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/SelectSolutions/index.test.tsx
  src/views/ModelPlan/TaskList/ITSolutions/SelectSolutions/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/SolutionImplementation/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/SolutionImplementation/index.test.tsx
  src/views/ModelPlan/TaskList/ITSolutions/Subtasks/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/_components/CheckboxCard/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/_components/CheckboxCard/index.scss
  src/views/ModelPlan/TaskList/ITSolutions/_components/CheckboxCard/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionCard/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionCard/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionDetailCard/__snapshots__/index.test.tsx.snap
Due: eslint, tsc-check

Fixed table sorting
  src/views/ModelPlan/Table/index.scss
  src/views/ModelPlan/TaskList/ITSolutions/Home/operationalNeedsTable.tsx
  src/views/ModelPlan/TaskList/ITSolutions/util.tsx
Due: eslint, tsc-check

Separated out isOther solutions
  src/views/ModelPlan/TaskList/ITSolutions/SelectSolutions/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/CheckboxCard/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionCard/index.tsx
Due: eslint, tsc-check

Fixed update details link
  src/i18n/en-US/draftModelPlan/itSolutions.ts
  src/views/ModelPlan/TaskList/ITSolutions/_components/CheckboxCard/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionCard/index.tsx
Due: eslint, tsc-check

feat: add historic table for all public schema tables
  migrations/V91__Add_Historic_Tables.sql
Due: none

chore: rename migration to V92
  migrations/V92__Need_Trigger_Updates.sql
Due: none

Added combobox to AddSolution
  src/views/ModelPlan/TaskList/ITSolutions/AddSolution/index.tsx
Due: eslint, tsc-check

Changed how table sorted
  src/views/ModelPlan/TaskList/ITSolutions/Home/operationalNeedsTable.tsx
  src/views/ModelPlan/TaskList/ITSolutions/util.tsx
Due: eslint, tsc-check

Rename logger fields so they dont conflict with SPLUNK (#565)
  pkg/server/logger.go
Due: none

NOREF Update Operational Need Triggers (#568)
  migrations/V92__Need_Trigger_Updates.sql
  pkg/graph/resolvers/operational_need_triggers_test.go
Due: none

Added box shadow to checbox
  src/views/ModelPlan/TaskList/ITSolutions/_components/CheckboxCard/index.scss
  src/views/ModelPlan/TaskList/ITSolutions/_components/CheckboxCard/index.tsx
Due: eslint, tsc-check

Fixed global search on tables
  src/utils/globalFilterCellText.ts
  src/views/ModelPlan/ReadOnly/Table/index.tsx
  src/views/ModelPlan/Table/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/Home/operationalNeedsTable.tsx
Due: eslint, tsc-check

Fixed global search on tables
  src/views/ModelPlan/Table/index.tsx
Due: eslint, tsc-check

Added rounding to discussion time
  src/utils/date.ts
Due: eslint, tsc-check

Added update text fol solution details
  src/i18n/en-US/draftModelPlan/itSolutions.ts
  src/views/ModelPlan/TaskList/ITSolutions/SelectSolutions/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/SolutionImplementation/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionDetailCard/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/util.test.tsx
  src/views/ModelPlan/TaskList/ITSolutions/util.tsx
Due: eslint, tsc-check

Fixed mobile responsiveness
  src/hooks/useCheckMobile.tsx
  src/stylesheets/_variables.module.scss
  src/stylesheets/_viewports.scss
  src/views/ModelPlan/TaskList/ITSolutions/SelectSolutions/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/SolutionDetails/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/SolutionImplementation/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/Subtasks/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/index.tsx
Due: eslint, tsc-check

Fixed success message
  cypress/e2e/itSolutions.spec.js
  src/i18n/en-US/draftModelPlan/itSolutions.ts
  src/views/ModelPlan/TaskList/ITSolutions/SolutionImplementation/index.tsx
Due: eslint, tsc-check

feat: add temporal tables for all existing tables in public schema (except flyway)
  migrations/V94__Add_Temporal_Tables.sql
Due: none

Fixed modal stylings
  src/components/Modal/index.scss
  src/views/ModelPlan/CRTDL/CRTDLs/table.tsx
  src/views/ModelPlan/Collaborators/index.tsx
  src/views/ModelPlan/Documents/table.tsx
  src/views/ModelPlan/TaskList/ITSolutions/Subtasks/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/OperationalNeedRemovalModal/index.tsx
  src/views/ModelPlan/TaskList/PrepareForClearance/ClearanceReview/index.tsx
  src/views/ModelPlan/TaskList/_components/TaskListSideNav/index.tsx
  src/views/TimeOutWrapper/index.tsx
Due: eslint, tsc-check

Update remove solution alert
  cypress/e2e/itSolutions.spec.js
  src/i18n/en-US/draftModelPlan/itSolutions.ts
  src/views/ModelPlan/TaskList/ITSolutions/SelectSolutions/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/SolutionImplementation/index.tsx
Due: eslint, tsc-check

Expanded implementation status
  src/views/ModelPlan/TaskList/ITSolutions/Home/index.tsx
Due: eslint, tsc-check

Fixed mobile issue on detail card
  src/stylesheets/custom.scss
  src/views/ModelPlan/TaskList/ITSolutions/SolutionImplementation/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/NeedQuestionAndAnswer/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionDetailCard/index.tsx
Due: eslint, tsc-check

feat: correct temporal table migration, and add tSim method
  cmd/temporalSimulator/DBConfig.go
  cmd/temporalSimulator/SQL/addColumnToModelPlan.sql
  cmd/temporalSimulator/addColumn.go
  cmd/temporalSimulator/iam_db.go
  cmd/temporalSimulator/main.go
  migrations/V95__Add_Historic_Tables.sql
Due: none

chore: add where clause to migration to make sure links are only added when matched, if not, then ignore
  migrations/V91__Resembles_Existing_Model_To_Link.sql
Due: none

Updated unit tests
  src/stylesheets/custom.scss
  src/views/ModelPlan/TaskList/ITSolutions/AddSolution/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/AddSolution/index.test.tsx
  src/views/ModelPlan/TaskList/ITSolutions/Home/__snapshots__/operationalNeedsTable.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/SelectSolutions/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/SelectSolutions/index.test.tsx
  src/views/ModelPlan/TaskList/ITSolutions/SolutionImplementation/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/Subtasks/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/_components/CheckboxCard/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/_components/CheckboxCard/index.test.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionDetailCard/__snapshots__/index.test.tsx.snap
Due: eslint, tsc-check

Added updated solution table empty state
  cypress/e2e/itSolutions.spec.js
  src/i18n/en-US/draftModelPlan/itSolutions.ts
  src/queries/ITSolutions/GetOperationalNeeds.ts
  src/queries/ITSolutions/types/GetOperationalNeeds.ts
  src/views/ModelPlan/TaskList/ITSolutions/Home/operationalNeedsTable.tsx
  src/views/ModelPlan/TaskList/ITSolutions/SolutionImplementation/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/util.tsx
Due: eslint, tsc-check, check-code-generation

Existing Model Link Migration correction (#570)
  migrations/V91__Resembles_Existing_Model_To_Link.sql
Due: none

Fixed cypress tests
  cypress/e2e/itSolutions.spec.js
  src/views/ModelPlan/TaskList/ITSolutions/AddSolution/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/SelectSolutions/index.tsx
Due: eslint, tsc-check

Removed console log
  src/views/ModelPlan/TaskList/ITSolutions/AddSolution/index.tsx
Due: eslint, tsc-check

Fixed responsive detail card
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionDetailCard/index.tsx
Due: eslint, tsc-check

Fixed test
  src/views/ModelPlan/TaskList/ITSolutions/Home/operationalNeedsTable.test.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionDetailCard/__snapshots__/index.test.tsx.snap
Due: eslint, tsc-check
