Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-cedar-swagger

dockerfilelint:
  name: Lint Dockerfile
  entry: dockerfilelint
  language: node
  additional_dependencies:
  - dockerfilelint

eslint:
  name: Run eslint
  entry: scripts/pre-commit-eslint
  language: script

graphql-schema:
  name: Lint GraphQL schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script

check-code-generation:
  name: Run GraphQL code generation
  entry: scripts/pre-commit-check-code-generation
  language: script
  pass_filenames: false

check-intake-schema-generation:
  name: Generate CEDAR Intake schema
  entry: scripts/gen_intake_schema
  language: script
  pass_filenames: false

preprocess-cedar-swagger:
  name: Generate CEDAR Intake client
  description: Re-generates CEDAR Intake and CEDAR Core clients when either of the swagger files change. This will re-generate both clients if either file changes.
  entry: scripts/generate_cedar_clients
  language: script
  pass_filenames: false

Update tests
  src/views/ModelPlan/ModelPlanOverview/index.test.tsx
Due: eslint

[EASI-2402] FE Updates to Remove Model Plans Modal (#271)
  src/i18n/en-US/modelPlanTaskList.ts
  src/views/ModelPlan/TaskList/_components/TaskListSideNav/index.test.tsx
  src/views/ModelPlan/TaskList/_components/TaskListSideNav/index.tsx
  src/views/ModelPlan/TaskList/index.test.tsx
Due: eslint

add unfollow spec
  cypress/e2e/unfollow.spec.js
  src/views/Unfollow/index.tsx
Due: eslint

Updated decision outcome to show the chosen User Table approach
  docs/adr/0008-non-eua-user-support.md
Due: none

Unfollow Cypress test
  cypress/e2e/unfollow.spec.js
  src/views/Unfollow/index.tsx
Due: eslint

Edge Case error handling
  src/views/Unfollow/index.tsx
Due: eslint

Sort dep list alphabetically
  src/views/Unfollow/index.tsx
Due: eslint

Init it solutions
  src/i18n/en-US/draftModelPlan/itSolutions.ts
  src/i18n/en-US/index.ts
  src/views/App/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/Home/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/index.tsx
Due: eslint

Confirmed error message wtih UX
  src/i18n/en-US/modelPlan.ts
  src/views/Unfollow/index.tsx
Due: eslint

pull in changes from other branch for possible operational need
  migrations/V24__Add_Possible_Operational_Need.sql
  migrations/V28__Add_Possible_Operational_Need_Options.sql
Due: none

remove Unfollow Wrapper
  src/views/App/index.tsx
Due: eslint

Using URLSearchParams instead of string manipulation
  src/views/App/index.tsx
  src/views/Unfollow/index.tsx
Due: eslint

Add new field to query and types
  src/queries/ReadOnly/GetAllBasics.ts
  src/queries/ReadOnly/types/GetAllBasics.ts
Due: eslint, check-code-generation

add Name History to render on the Read Only page
  src/views/ModelPlan/ReadOnly/ModelBasics/index.tsx
Due: eslint

Add copy
  src/i18n/en-US/draftModelPlan/basics.ts
Due: eslint

use translation copy
  src/views/ModelPlan/ReadOnly/ModelBasics/index.tsx
Due: eslint

grid it up
  src/views/ModelPlan/TaskList/Basics/index.tsx
Due: eslint

add Name History
  src/queries/Basics/GetModelPlanInfo.ts
  src/queries/Basics/types/GetModelPlanInfo.ts
  src/views/ModelPlan/TaskList/Basics/index.tsx
Due: eslint, check-code-generation

WIP implementation of trigger to set OperationalNeeds by task list section
  migrations/V24__Add_Possible_Operational_Need.sql
  migrations/V28__Add_Possible_Operational_Need_Options.sql
  migrations/V33__Set_Operational_Need_Needed_Trigger.sql
  migrations/V34__Add_Operational_Need_Needed_Function.sql
  migrations/V35__Add_Operational_Need_Trigger_To_Task_List_Sections.sql
Due: none

update to use CTEs instead of temp table to avoid needing to drop tables
  migrations/V33__Set_Operational_Need_Needed_Trigger.sql
Due: none

Expose the TaskListSection for each possible Operational need to the front end
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/resolvers/plan_task_list_section_locks.go
  pkg/graph/resolvers/plan_task_list_section_locks_test.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/operational_need.go
  pkg/models/possible_operational_need.go
  pkg/models/shared_enums.go
  pkg/storage/SQL/operational_need_collection_get_by_model_plan_id.sql
  pkg/storage/SQL/operational_need_get_by_id.sql
  pkg/storage/SQL/operational_need_get_by_model_plan_id_and_type.sql
  pkg/storage/SQL/operational_need_insert_all_possible.sql
  pkg/storage/SQL/operational_need_insert_or_update.sql
  pkg/storage/SQL/operational_need_update_by_id.sql
  pkg/storage/SQL/possible_operational_need_collection_get_by_model_plan_id.sql
Due: graphql-schema, check-code-generation

Possible needs table - more
  src/components/ITToolsWarning/index.tsx
  src/i18n/en-US/draftModelPlan/itSolutions.ts
  src/i18n/en-US/modelPlanTaskList.ts
  src/queries/GetModelPlan.ts
  src/queries/ITSolutions/GetOperationalNeeds.ts
  src/queries/ITSolutions/types/GetOperationalNeeds.ts
  src/queries/types/GetModelPlan.ts
  src/types/graphql-global-types.ts
  src/utils/modelPlan.ts
  src/views/ModelPlan/TaskList/ITSolutions/Home/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/Home/operationalNeedsTable.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/NeedsStatus/index.tsx
  src/views/ModelPlan/TaskList/index.test.tsx
  src/views/ModelPlan/TaskList/index.tsx
Due: eslint, check-code-generation

Current name does not count as previous name
  src/views/ModelPlan/TaskList/Basics/index.tsx
Due: eslint

Temporary disable react prop type validation
  src/views/ModelPlan/TaskList/ITSolutions/Home/operationalNeedsTable.tsx
Due: eslint

Better filtering
  src/views/ModelPlan/TaskList/Basics/index.tsx
Due: eslint

Add a better filtered name history array
  src/views/ModelPlan/ReadOnly/ModelBasics/index.tsx
Due: eslint

allow section to be null for operational need. Update trigger to use the new store instead of changed (so we can look at existing data for calculating needed/not needed
  migrations/V33__Set_Operational_Need_Needed_Trigger.sql
  pkg/graph/generated/generated.go
  pkg/models/operational_need.go
Due: none

Descriptive comments on triggers and tables
  migrations/V24__Add_Possible_Operational_Need.sql
  migrations/V28__Add_Possible_Operational_Need_Options.sql
  migrations/V33__Set_Operational_Need_Needed_Trigger.sql
Due: none

Add more copy
  src/i18n/en-US/home.ts
Due: eslint

Add nameHistory to query and types
  src/queries/GetModelPlans.ts
  src/queries/types/GetModelPlans.ts
Due: eslint, check-code-generation

add NameHistory
  src/views/ModelPlan/Table/index.tsx
  src/views/ModelPlan/TaskList/Basics/index.tsx
Due: eslint

renamed state and setstate
  src/views/ModelPlan/Table/index.tsx
Due: eslint

streamlining and drying up code
  src/views/ModelPlan/Table/index.tsx
Due: eslint

Add Name History to tests
  src/views/ModelPlan/ReadOnly/ModelBasics/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/ModelBasics/index.test.tsx
Due: eslint

add test id and key
  src/views/ModelPlan/TaskList/Basics/index.tsx
Due: eslint

update tests and snaps
  src/views/ModelPlan/TaskList/Basics/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Basics/index.test.tsx
Due: eslint

Fix tests
  src/views/ModelPlan/ReadOnly/ModelBasics/index.test.tsx
  src/views/ModelPlan/TaskList/Basics/index.test.tsx
Due: eslint

fix cypress test
  cypress/e2e/modelPlan.spec.js
Due: eslint

Path conditions:
  dockerfilelint: any of: Dockerfile.*
  eslint: any of: \.(js|jsx|ts|tsx)$
  graphql-schema: any of: pkg/graph/schema.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts
  check-intake-schema-generation: any of: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json|pkg/cedar/intake/translation/constants\.go
  preprocess-cedar-swagger: any of: pkg/cedar/intake/cedar_intake.json|pkg/cedar/core/cedar_core.json
