Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, tsc-check, graphql-schema, check-code-generation

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch
        args: [
          '--pattern', '^(?!((main)|(feature\/EASI-\d{1,5})|((EASI-\d{1,5}|NOREF|dependabot)\/[a-zA-Z0-9\-\._/]+))$).*',
          '--branch', '' # Adding this to remove the default protection on `main` so that CI checks can pass
        ]
        name: Enforce branch naming patterns
        description: Enforces branch naming policy. Allowed branch patterns are 'EASI-#', 'EASI-#/*', 'feature/EASI-#', 'NOREF/*', and 'dependabot/*'. A feature branch like feature/EASI-2020 would have branches like EASI-2020/frontend and EASI-2020/backend merge into it.
      - id: check-yaml
        name: Check YAML formatting
      - id: detect-private-key
        name: Check for private keys
      - id: end-of-file-fixer
        files: \.(sql|scss|md|js|ts|tsx|go|yml|yaml)$
        name: Add newlines to ends of files

  - repo: https://github.com/detailyang/pre-commit-shell
    rev: v1.0.6
    hooks:
      - id: shell-lint
        name: Lint shell files

  - repo: https://github.com/trussworks/pre-commit-hooks
    rev: v1.1.1
    hooks:
      - id: mdspell
        name: Spellcheck Markdown files
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor
          )$

  - repo: https://github.com/Bahjat/pre-commit-golang
    rev: v1.0.1
    hooks:
      - id: go-fmt-import
        name: Run "goimports" on go files
        args: ['-local', 'github.com/cmsgov/mint-app']
        files: .*\.go$
        exclude: >
          (?x)^(
            .*gen/.*|
            .*generated/.*|
            .*models_gen.go|
          )$

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.48.0
    hooks:
      - id: golangci-lint
        name: Lint go files
        args: ['--concurrency', '-1'] # Run with all CPUs

  - repo: local
    hooks:
    - id: dockerfilelint
      name: Lint Dockerfile
      entry: dockerfilelint
      language: node
      additional_dependencies: [dockerfilelint]
      files: Dockerfile.*

  - repo: local
    hooks:
      - id: eslint
        name: Run eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$

  - repo: local
    hooks:
      - id: tsc-check
        name: Run typescript check
        entry: scripts/pre-commit-tsc
        language: script
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false

  - repo: local
    hooks:
      - id: graphql-schema
        name: Lint GraphQL schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: pkg/graph/schema.graphql

  - repo: local
    hooks:
      - id: check-code-generation
        name: Run GraphQL code generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: "pkg/graph/schema\\.graphql|pkg/graph/schema\\.resolvers\\.go|src/queries/.*\\.ts"
        pass_filenames: false

  - repo: https://github.com/awslabs/git-secrets
    rev: b9e96b3212fa06aea65964ff0d5cda84ce935f38
    hooks:
      - id: git-secrets
        name: Check for committed secrets
        entry: git-secrets --pre_commit_hook

  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 1.2.1
    hooks:
      - id: sqlfluff-fix
        exclude: ^scripts/data/
      - id: sqlfluff-lint
        exclude: ^scripts/data/

WIP for new code generator
  codegen.ts
  package.json
  src/gql/gql.ts
  src/gql/graphql.ts
  src/gql/index.ts
  src/queries/NDA/GetNDA.ts
  src/queriesCodegen/getNDA.ts
  src/views/UserInfoWrapper/index.tsx
  yarn.lock
Due: eslint, tsc-check, check-code-generation

chore: updated postman collection
  MINT.postman_collection.json
Due: none

Use multi-arch images when building locally for migrate and mailcatcher, use alpine when building for ECR (#555)
  .github/workflows/build_application_images.yml
  Dockerfile.db_migrations
  docker-compose.yml
Due: dockerfilelint

removed secrets on workflow call
  .github/workflows/build_application_images.yml
  .github/workflows/deploy_to_environment.yml
  .github/workflows/run_tests.yml
Due: none

Added type guard for mutation response and selective update on new solution
  src/views/ModelPlan/TaskList/ITSolutions/SelectSolutions/index.tsx
Due: eslint, tsc-check

Login to public ECR when logging into Docker
  .github/workflows/run_tests.yml
Due: none

Add AWS_ROLE_TO_ASSUME to secrets
  .github/workflows/deploy_pipeline.yml
  .github/workflows/manual_deploy.yml
  .github/workflows/pr_checks.yml
  .github/workflows/run_tests.yml
Due: none

Use infra role, not per-env AWS role
  .github/workflows/deploy_pipeline.yml
  .github/workflows/manual_deploy.yml
  .github/workflows/pr_checks.yml
  .github/workflows/run_tests.yml
Due: none

Added function to check if solution has been updated
  src/views/ModelPlan/TaskList/ITSolutions/SelectSolutions/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/SolutionImplementation/index.tsx
Due: eslint, tsc-check

Added unit test for findChangedSolution
  src/views/ModelPlan/TaskList/ITSolutions/SelectSolutions/index.test.tsx
  src/views/ModelPlan/TaskList/ITSolutions/SelectSolutions/index.tsx
Due: eslint, tsc-check

add page loading in solution implmentation
  src/views/ModelPlan/TaskList/ITSolutions/SolutionImplementation/index.tsx
Due: eslint, tsc-check

Added conditional check for null on search query
  src/utils/globalFilterCellText.ts
Due: eslint, tsc-check

do not destructure the location state
  src/views/ModelPlan/TaskList/ITSolutions/SolutionImplementation/index.tsx
Due: eslint, tsc-check

cleaning up task
  src/views/ModelPlan/TaskList/ITSolutions/SolutionImplementation/index.test.tsx
Due: eslint, tsc-check

Added mapping for section column on Op needs table
  src/data/operationalNeedMap.ts
  src/views/ModelPlan/TaskList/ITSolutions/Home/__snapshots__/operationalNeedsTable.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/Home/operationalNeedsTable.tsx
Due: eslint, tsc-check

add aria live to alert
  src/views/ModelPlan/ReadOnly/Table/index.tsx
Due: eslint, tsc-check

chore: fix typo, and adjust logic flow
  pkg/local/authentication_middleware.go
  pkg/okta/authentication_middleware_test.go
Due: none

EASI-2876: pull from dockerhub and pin to 2.5.0
  docker-compose.yml
Due: none

EASI-2876: pull opensearch-dashboards from dockerhub and pin to 2.5.0
  docker-compose.yml
Due: none

feat: updated ingestion to support model_plan_id on all associated documents
  config/logstash/ingest_change_table.sql
Due: none

EASI-2876: pull from dockerhub and pin to 2.5.0 (#561)
  docker-compose.yml
Due: none

Easi 2835/refactor gh secrets (#556)
  .github/workflows/build_application_images.yml
  .github/workflows/deploy_pipeline.yml
  .github/workflows/deploy_to_environment.yml
  .github/workflows/manual_deploy.yml
  .github/workflows/pr_checks.yml
  .github/workflows/run_tests.yml
Due: none

Init work for mapping solutions to it lead
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Modal/index.test.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Modal/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/_components/Contact/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/SelectSolutions/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/CheckboxCard/index.tsx
Due: eslint, tsc-check

Added custom NoOptionsMessage component for tabbable no results indicator
  src/components/OktaUserSelect/index.tsx
  src/i18n/en-US/general.ts
Due: eslint, tsc-check

remove unused prop
  src/components/OktaUserSelect/index.tsx
Due: eslint, tsc-check

Added support for noscroll on modal, added custom hook for modal state
  src/hooks/useModalSolutionState.ts
  src/views/App/index.tsx
  src/views/App/scrollConfig.ts
  src/views/HelpAndKnowledge/SolutionsHelp/solutionsMap.tsx
  src/views/ModelPlan/TaskList/ITSolutions/SelectSolutions/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/SolutionImplementation/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/CheckboxCard/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionCard/index.tsx
Due: eslint, tsc-check

Added modal state hook to solutions help center
  src/views/HelpAndKnowledge/SolutionsHelp/index.tsx
Due: eslint, tsc-check

do not destructure the location state
  src/views/ModelPlan/TaskList/ITSolutions/SelectSolutions/index.test.tsx
  src/views/ModelPlan/TaskList/ITSolutions/SelectSolutions/index.tsx
Due: eslint, tsc-check

do not destructure the location state
  src/views/ModelPlan/TaskList/ITSolutions/AddCustomSolution/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/AddCustomSolution/index.test.tsx
  src/views/ModelPlan/TaskList/ITSolutions/AddCustomSolution/index.tsx
Due: eslint, tsc-check

do not destructure the location state
  src/views/ModelPlan/TaskList/ITSolutions/AddCustomSolution/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/AddCustomSolution/index.test.tsx
Due: eslint, tsc-check

feat: added support for searching by model plan id + date ranges to collect all associated records (direct or indirect) on the server as gql endpoints and corresponding resolver
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/search_change_table.go
  pkg/graph/resolvers/searchquerytemplates/by_model_id_dates.tmpl
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
Due: graphql-schema, check-code-generation

Fixed cypress test
  cypress/e2e/itSolutions.spec.js
  src/views/ModelPlan/TaskList/ITSolutions/SelectSolutions/index.tsx
Due: eslint, tsc-check

Added descriptions and contacts to solution cards
  src/views/ModelPlan/TaskList/ITSolutions/_components/CheckboxCard/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionCard/index.tsx
Due: eslint, tsc-check

link to have solution id if solution id is valid
  src/views/ModelPlan/TaskList/ITSolutions/_components/CheckboxCard/index.tsx
Due: eslint, tsc-check

Replaced location state with url param
  src/views/App/scrollConfig.ts
  src/views/ModelPlan/TaskList/ITSolutions/Home/operationalNeedsTable.tsx
  src/views/ModelPlan/TaskList/ITSolutions/SelectSolutions/index.test.tsx
  src/views/ModelPlan/TaskList/ITSolutions/SelectSolutions/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/CheckboxCard/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/NeedQuestionAndAnswer/index.test.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionCard/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionDetailCard/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/index.tsx
Due: eslint, tsc-check

Added default location if cant find solution
  src/views/ModelPlan/TaskList/ITSolutions/_components/CheckboxCard/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionCard/index.tsx
Due: eslint, tsc-check

chore: changed FieldValue from union to struct, changed FieldValue data from String to interface{}
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/models/change_table_record.go
Due: graphql-schema, check-code-generation

Easi 2592/mint assessment permissions overhaul (#557)
  pkg/graph/resolvers/search_change_table.go
  pkg/local/authentication_middleware.go
  pkg/okta/authentication_middleware.go
  pkg/okta/authentication_middleware_test.go
Due: none
