Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, tsc-check, graphql-schema, check-code-generation

dockerfilelint:
  name: Lint Dockerfile
  entry: dockerfilelint
  language: node
  additional_dependencies:
  - dockerfilelint

eslint:
  name: Run eslint
  entry: scripts/pre-commit-eslint
  language: script

tsc-check:
  name: Run typescript check
  entry: scripts/pre-commit-tsc
  language: script
  pass_filenames: false

graphql-schema:
  name: Lint GraphQL schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script
  pass_filenames: false

check-code-generation:
  name: Run GraphQL code generation
  entry: scripts/pre-commit-check-code-generation
  language: script
  pass_filenames: false

sidepanel init
  src/components/Sidepanel/index.tsx
Due: eslint, tsc-check

remove comments
  src/features/ModelPlan/Discussions/DiscussionModalWrapper.tsx
Due: eslint, tsc-check

add custom 50% width and its desktop, mobile, tablet variants
  src/features/ModelPlan/Discussions/DiscussionModalWrapper.tsx
  src/stylesheets/custom.scss
Due: eslint, tsc-check

code clean up
  src/features/ModelPlan/Discussions/DiscussionModalWrapper.tsx
  src/stylesheets/custom.scss
Due: eslint, tsc-check

remove unused prop
  src/features/ModelPlan/Discussions/DiscussionModalWrapper.tsx
Due: eslint, tsc-check

add sidepanel styles
  src/components/Sidepanel/index.scss
  src/components/Sidepanel/index.tsx
Due: eslint, tsc-check

add classname prop
  src/components/Sidepanel/index.tsx
Due: eslint, tsc-check

[NOREF] Fixed style on alert introduced from USWDS upgrade (#1410)
  src/stylesheets/custom.scss
Due: none

add the sidepanel to solution details modal
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Modal/index.tsx
Due: eslint, tsc-check

add tests and snaps
  src/components/Sidepanel/__snapshots__/index.test.tsx.snap
  src/components/Sidepanel/index.test.tsx
Due: eslint, tsc-check

sort props asc
  src/components/Sidepanel/index.tsx
Due: eslint, tsc-check

feat: use the cache to get model plans with crs or tdls
  go.mod
  pkg/graph/resolvers/echimp_test.go
  pkg/graph/resolvers/model_plan.go
  pkg/graph/resolvers/model_plan.resolvers.go
  pkg/graph/resolvers/model_plan_test.go
Due: none

changed it to be mobile first
  src/components/Sidepanel/index.scss
Due: none

chore: remove unused mapper interface
  pkg/helpers/mapper.go
  pkg/helpers/mapper_test.go
Due: none

feat: renamed mapper --> mapping, and add comment
  pkg/helpers/mapping.go
Due: none

chore: PR feedback
  pkg/graph/resolvers/activity.resolvers.go
  pkg/graph/resolvers/plan_data_exchange_approach.go
  pkg/graph/resolvers/plan_data_exchange_approach_helper.go
  pkg/models/plan_data_exchange_approach_completed_activity_meta.go
  pkg/notifications/plan_data_exchange_approach_marked_complete.go
  pkg/notifications/plan_data_exchange_approach_marked_complete_test.go
Due: none

feat: renamed mapper --> mapping, and add comment. Remove unused mapper interface
  pkg/helpers/mapper_test.go
  pkg/helpers/mapping.go
Due: none

chore: correct unit test
  pkg/graph/resolvers/plan_data_exchange_approach_test.go
Due: none

Ran translation export
  mappings/export/exportTranslation.ts
  mappings/export/util.ts
  mappings/translation/data_exchange_approach.json
  mappings/translation/plan_general_characteristics.json
  mappings/translation/plan_participants_and_providers.json
Due: eslint, tsc-check

Add translation export to pre-commit
  .pre-commit-config.yaml
  cmd/dbseed/translation.go
  docs/change_history.md
  mappings/translation/plan_general_characteristics.json
  mappings/translation/plan_participants_and_providers.json
  package.json
  scripts/translation_mappings.sh
Due: none

Add 'modalLink' to unneeded fields in mappings export
  mappings/export/util.ts
  mappings/translation/plan_participants_and_providers.json
Due: eslint, tsc-check

feat: add Evaluate status unit test
  pkg/graph/resolvers/plan_data_exchange_approach.go
  pkg/graph/resolvers/plan_data_exchange_approach_test.go
Due: none

feat: simplify status setting logic
  pkg/graph/resolvers/plan_data_exchange_approach.go
  pkg/graph/resolvers/plan_data_exchange_approach_test.go
Due: none

feat: extend update unit test
  pkg/graph/resolvers/plan_data_exchange_approach_test.go
Due: none

chore: updated data model
  pkg/models/plan_data_exchange_approach.go
Due: none

milestone schema
  pkg/graph/schema/types/model_to_operations_matrix.graphql
Due: graphql-schema

feat: update unit tests, currently failing because of status logic
  pkg/graph/resolvers/plan_data_exchange_approach_test.go
Due: none

wip
  pkg/graph/schema/types/model_to_operations_matrix.graphql
Due: graphql-schema

feat: corect data exchange approach status calculation
  pkg/graph/resolvers/plan_data_exchange_approach.go
Due: none

feat: PlanDataExchangeApproachUpdate updates to not be a receiver method
  pkg/graph/resolvers/plan_data_exchange_approach.go
  pkg/storage/plan_data_exchange_approachStore.go
Due: none

feat: PlanDataExchangeApproachGetByID updated to not be a receiver
  pkg/graph/resolvers/plan_data_exchange_approach.go
  pkg/storage/plan_data_exchange_approachStore.go
Due: none

Path conditions:
  dockerfilelint: any of: Dockerfile.*
  eslint: any of: \.(js|jsx|ts|tsx)$, but not: (\.(d\.ts)$)|(\.storybook)|(serviceWorker\.ts)|(src/gql/gen/.*)
  tsc-check: any of: \.(js|jsx|ts|tsx)$
  graphql-schema: any of: pkg/graph/schema/.*\.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts|src/queriesCodegen/.*\.ts
