Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-intake-swagger

eslint:
  name: eslint
  entry: scripts/pre-commit-eslint
  language: script

graphql-schema:
  name: graphql-schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script

check-code-generation:
  name: check-code-generation
  entry: scripts/pre-commit-check-code-generation
  language: script

check-intake-schema-generation:
  name: check-intake-schema-generation
  entry: scripts/gen_intake_schema
  language: script

preprocess-intake-swagger:
  name: preprocess-intake-swagger
  entry: scripts/generate_cedar_intake_client
  language: script

Noref/participants and interventions field corrections (#119)
  migrations/V6__Add_Plan_Basics.sql
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/plan_basics_test.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/plan_basics.go
  pkg/storage/SQL/plan_basics_create.sql
  pkg/storage/SQL/plan_basics_get_by_id.sql
  pkg/storage/SQL/plan_basics_get_by_model_plan_id.sql
  pkg/storage/SQL/plan_basics_update.sql
  scripts/data/local-db.sql
  src/queries/CreateModelPlan.ts
  src/queries/GetModelPlan.ts
  src/queries/UpdatePlanBasics.ts
  src/queries/types/CreateModelPlan.ts
  src/queries/types/GetModelPlan.ts
  src/queries/types/UpdatePlanBasics.ts
  src/types/graphql-global-types.ts
  src/views/ModelPlan/TaskList/Basics/Overview/index.tsx
  src/views/ModelPlan/TaskList/index.test.tsx
Due: eslint, graphql-schema, check-code-generation

correct it tools enum arrays to return empty array intead of null
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
Due: graphql-schema, check-code-generation

Prep form main merge
  src/queries/GetModelPlan.ts
  src/queries/GetModelPlanParticipantsAndProviders.ts
  src/views/ModelPlan/TaskList/index.tsx
Due: eslint, check-code-generation

implement ZERO_STRING Domain on plan_it_tools table
  migrations/V17__Add_Plan_IT_Tools.sql
Due: none

refinement to generic status calculation function. Now valid on pointers and slices
  pkg/models/calc_status.go
  pkg/models/calc_status_test.go
Due: none

WIP generic scan, value types
  pkg/models/enum_array.go
  pkg/models/model_plan.go
Due: none

Finished page 2
  src/components/shared/MultiSelect/index.tsx
  src/i18n/en-US/draftModelPlan/participantsAndProviders.ts
  src/queries/types/GetModelPlan.ts
  src/queries/types/GetModelPlanProvidersAndParticipants.ts
  src/utils/modelPlan.ts
  src/views/ModelPlan/TaskList/Participants/Communication/index.tsx
  src/views/ModelPlan/TaskList/Participants/ParticipantsOptions/index.tsx
  src/views/ModelPlan/TaskList/Participants/index.scss
  src/views/ModelPlan/TaskList/Participants/index.tsx
Due: eslint, check-code-generation

Add CMMIGroup and CMSCenter array to model_plan model
  gqlgen.yml
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/enum_array.go
  pkg/models/model_plan.go
  pkg/models/shared_enums.go
Due: graphql-schema, check-code-generation

Finished last page 4 and 5
  src/i18n/en-US/draftModelPlan/documents.ts
  src/i18n/en-US/draftModelPlan/participantsAndProviders.ts
  src/utils/modelPlan.ts
  src/views/ModelPlan/Documents/AddDocument/documentUpload.tsx
  src/views/ModelPlan/TaskList/Participants/Communication/index.tsx
  src/views/ModelPlan/TaskList/Participants/Coordination/index.tsx
  src/views/ModelPlan/TaskList/Participants/ParticipantsOptions/index.tsx
  src/views/ModelPlan/TaskList/Participants/ProviderOptions/index.tsx
  src/views/ModelPlan/TaskList/Participants/index.tsx
Due: eslint

Add check to insert NULL instead of '' on document optional notes
  pkg/graph/schema.resolvers_helpers.go
Due: none

Began cypress testing
  cypress/integration/participantsAndProviders.spec.js
  scripts/data/local-db.sql
  src/i18n/en-US/draftModelPlan/participantsAndProviders.ts
  src/views/ModelPlan/TaskList/Participants/ParticipantsOptions/index.tsx
Due: eslint

Add skip runtime enumArray Directive
  gqlgen.yml
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/server/routes.go
Due: graphql-schema, check-code-generation

Finished cypress testing
  cypress/integration/participantsAndProviders.spec.js
Due: eslint

[NOREF] Add check to insert NULL instead of '' on document optional notes (#122)
  pkg/graph/schema.resolvers_helpers.go
Due: none

add communicationMethodOther field
  migrations/V13__Add_Plan_Participants_And_Providers.sql
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/models/plan_participants_and_providers.go
  pkg/storage/SQL/plan_participants_and_providers_create.sql
  pkg/storage/SQL/plan_participants_and_providers_get_by_id.sql
  pkg/storage/SQL/plan_participants_and_providers_get_by_model_plan_id.sql
  pkg/storage/SQL/plan_participants_and_providers_update.sql
Due: graphql-schema, check-code-generation

remove oel_working_agreement per requirement changes from EASI-2129
  migrations/V17__Add_Plan_IT_Tools.sql
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/resolvers/plan_it_tools_test.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/plan_it_tools.go
  pkg/storage/SQL/plan_it_tools_create.sql
  pkg/storage/SQL/plan_it_tools_get_by_id.sql
  pkg/storage/SQL/plan_it_tools_get_by_model_plan_id.sql
  pkg/storage/SQL/plan_it_tools_update.sql
  scripts/data/local-db.sql
Due: graphql-schema, check-code-generation

fix: various syntactic issues with plan payments model impl
  cmd/devdata/main.go
  pkg/graph/generated/generated.go
  pkg/graph/schema.resolvers.go
  pkg/models/plan_payments.go
Due: check-code-generation

feat: pubsub service for local use
  pkg/shared/pubsub/event_type.go
  pkg/shared/pubsub/mockpubsub/mock_event_types.go
  pkg/shared/pubsub/mockpubsub/pubsub.go
  pkg/shared/pubsub/mockpubsub/subscriber.go
  pkg/shared/pubsub/pubsub.go
  pkg/shared/pubsub/servicepubsub.go
  pkg/shared/pubsub/session.go
  pkg/shared/pubsub/session_map.go
  pkg/shared/pubsub/subscriber.go
  pkg/shared/pubsub/subscriber_map.go
  pkg/shared/pubsub/testpubsub/pubsub_implementation_test.go
Due: none

Remove python from CI
  .github/workflows/run_tests.yml
  scripts/testsuite
Due: none

Fixed back button on form
  src/views/ModelPlan/TaskList/Participants/Communication/index.tsx
  src/views/ModelPlan/TaskList/Participants/Coordination/index.tsx
  src/views/ModelPlan/TaskList/Participants/ParticipantsOptions/index.tsx
  src/views/ModelPlan/TaskList/Participants/ProviderOptions/index.tsx
Due: eslint

fix: run go mod tidy
  go.mod
  go.sum
Due: none

Wrote unit tests
  scripts/dev
  src/components/shared/MultiSelect/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Basics/Milestones/index.test.tsx
  src/views/ModelPlan/TaskList/Basics/Overview/index.test.tsx
  src/views/ModelPlan/TaskList/Basics/index.test.tsx
  src/views/ModelPlan/TaskList/Participants/Communication/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Participants/Communication/index.test.tsx
  src/views/ModelPlan/TaskList/Participants/Communication/index.tsx
  src/views/ModelPlan/TaskList/Participants/Coordination/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Participants/Coordination/index.test.tsx
  src/views/ModelPlan/TaskList/Participants/Coordination/index.tsx
  src/views/ModelPlan/TaskList/Participants/ParticipantsOptions/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Participants/ParticipantsOptions/index.test.tsx
  src/views/ModelPlan/TaskList/Participants/ParticipantsOptions/index.tsx
  src/views/ModelPlan/TaskList/Participants/ProviderOptions/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Participants/ProviderOptions/index.test.tsx
  src/views/ModelPlan/TaskList/Participants/ProviderOptions/index.tsx
  src/views/ModelPlan/TaskList/Participants/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Participants/index.test.tsx
  src/views/ModelPlan/TaskList/Participants/index.tsx
  src/views/ModelPlan/TaskList/Participants/mock.ts
  src/views/ModelPlan/TaskList/index.test.tsx
Due: eslint

Easi 2064/IT Tools BE (#118)
  migrations/V17__Add_Plan_IT_Tools.sql
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/resolvers/model_plan.go
  pkg/graph/resolvers/plan_it_tools.go
  pkg/graph/resolvers/plan_it_tools_test.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/calc_status.go
  pkg/models/calc_status_test.go
  pkg/models/plan_it_tools.go
  pkg/storage/SQL/plan_it_tools_create.sql
  pkg/storage/SQL/plan_it_tools_get_by_id.sql
  pkg/storage/SQL/plan_it_tools_get_by_model_plan_id.sql
  pkg/storage/SQL/plan_it_tools_update.sql
  pkg/storage/plan_it_toolsStore.go
  pkg/storage/truncate.go
  scripts/data/local-db.sql
  scripts/dev
Due: graphql-schema, check-code-generation

add participant and provider task list items that were missing from model_plans
  scripts/data/local-db.sql
Due: none

[NOREF] Remove python from CI (#126)
  .github/workflows/run_tests.yml
  scripts/testsuite
Due: none

Fixed linting error in scss
  src/views/ModelPlan/TaskList/Participants/index.scss
Due: none

Add communicationMethodOther field to Participants and Providers (#124)
  migrations/V13__Add_Plan_Participants_And_Providers.sql
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/models/plan_participants_and_providers.go
  pkg/storage/SQL/plan_participants_and_providers_create.sql
  pkg/storage/SQL/plan_participants_and_providers_get_by_id.sql
  pkg/storage/SQL/plan_participants_and_providers_get_by_model_plan_id.sql
  pkg/storage/SQL/plan_participants_and_providers_update.sql
  scripts/data/local-db.sql
Due: graphql-schema, check-code-generation

Pulled in changes from main for communicationMethodOther and added field
  scripts/dev
  src/queries/GetModelPlanParticipantsAndProviders.ts
  src/queries/types/GetModelPlanProvidersAndParticipants.ts
  src/types/graphql-global-types.ts
  src/views/ModelPlan/TaskList/Participants/Communication/index.tsx
  src/views/ModelPlan/TaskList/Participants/mock.ts
Due: eslint, check-code-generation

Fixed incorrect text on question and updated snaps
  src/views/ModelPlan/TaskList/Participants/ProviderOptions/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Participants/ProviderOptions/index.tsx
Due: eslint

WIP gql gen plugin to resolve based on directive
  cmd/gqlgen/main.go
  cmd/gqlgen/plugin/enum_array_plugin.go
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
Due: graphql-schema, check-code-generation

Update helpdesk question to use bool. Remove helpdesk other
  migrations/V14__Add_Plan_Ops_Eval_and_Learning.sql
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/resolvers/plan_ops_eval_and_learning_test.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/plan_ops_eval_and_learning.go
  pkg/storage/SQL/plan_ops_eval_and_learning_create.sql
  pkg/storage/SQL/plan_ops_eval_and_learning_get_by_id.sql
  pkg/storage/SQL/plan_ops_eval_and_learning_get_by_model_plan_id.sql
  pkg/storage/SQL/plan_ops_eval_and_learning_update.sql
Due: graphql-schema, check-code-generation

Remove IDDOC operations questions from page 2
  migrations/V14__Add_Plan_Ops_Eval_and_Learning.sql
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/plan_ops_eval_and_learning_test.go
  pkg/graph/schema.graphql
  pkg/models/plan_ops_eval_and_learning.go
  pkg/storage/SQL/plan_ops_eval_and_learning_create.sql
  pkg/storage/SQL/plan_ops_eval_and_learning_get_by_id.sql
  pkg/storage/SQL/plan_ops_eval_and_learning_get_by_model_plan_id.sql
  pkg/storage/SQL/plan_ops_eval_and_learning_update.sql
Due: graphql-schema, check-code-generation

Removed unused translation, and added id to 2 queries for caching
  src/components/shared/MultiSelect/index.tsx
  src/queries/GetModelPlan.ts
  src/queries/GetModelPlanCharacteristics.ts
  src/queries/GetModelPlanParticipantsAndProviders.ts
  src/queries/types/GetModelPlan.ts
  src/queries/types/GetModelPlanCharacteristics.ts
  src/queries/types/GetModelPlanProvidersAndParticipants.ts
  src/views/ModelPlan/TaskList/Characteristics/mock.ts
  src/views/ModelPlan/TaskList/Participants/mock.ts
  src/views/ModelPlan/TaskList/index.tsx
Due: eslint, check-code-generation

Updated beneficiaries index to use truss components
  src/views/ModelPlan/TaskList/Beneficiaries/index.tsx
Due: eslint

update dev data to match changes
  scripts/data/local-db.sql
Due: none

Page One Initial Set up
  src/views/ModelPlan/TaskList/Beneficiaries/PageOne/index.tsx
  src/views/ModelPlan/TaskList/Beneficiaries/index.tsx
Due: eslint

Init ops eval and learning fe
  src/i18n/en-US/draftModelPlan/operationsEvaulationAndLearning.ts
  src/i18n/en-US/index.ts
  src/i18n/en-US/modelPlanTaskList.ts
  src/queries/GetModelPlan.ts
  src/queries/GetModelPlanOpsEvalAndLearning.ts
  src/queries/UpdateModelPlanOpsEvalAndLearning.ts
  src/queries/types/GetModelPlan.ts
  src/queries/types/GetModelPlanOpsEvalAndLearning.ts
  src/queries/types/UpdateModelPlanOpsEvalAndLearning.ts
  src/types/graphql-global-types.ts
  src/utils/modelPlan.ts
  src/views/App/index.tsx
  src/views/ModelPlan/TaskList/Operations/index.tsx
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/IDDOC/index.tsx
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/index.tsx
  src/views/ModelPlan/TaskList/index.tsx
Due: eslint, check-code-generation

Easi 2128/ops eval learning changes (#128)
  migrations/V14__Add_Plan_Ops_Eval_and_Learning.sql
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/resolvers/plan_ops_eval_and_learning_test.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/plan_ops_eval_and_learning.go
  pkg/storage/SQL/plan_ops_eval_and_learning_create.sql
  pkg/storage/SQL/plan_ops_eval_and_learning_get_by_id.sql
  pkg/storage/SQL/plan_ops_eval_and_learning_get_by_model_plan_id.sql
  pkg/storage/SQL/plan_ops_eval_and_learning_update.sql
  scripts/data/local-db.sql
Due: graphql-schema, check-code-generation

Finished page 1 and updated Basics formatted to be standardized with other task list items
  scripts/dev
  src/components/shared/MultiSelect/__snapshots__/index.test.tsx.snap
  src/components/shared/MultiSelect/index.tsx
  src/i18n/en-US/draftModelPlan/operationsEvaulationAndLearning.ts
  src/index.scss
  src/queries/GetModelPlanOpsEvalAndLearning.ts
  src/queries/types/GetModelPlanOpsEvalAndLearning.ts
  src/types/graphql-global-types.ts
  src/utils/modelPlan.ts
  src/views/ModelPlan/TaskList/Basics/Milestones/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Basics/Milestones/index.tsx
  src/views/ModelPlan/TaskList/Basics/Overview/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Basics/Overview/index.tsx
  src/views/ModelPlan/TaskList/Basics/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Basics/index.tsx
  src/views/ModelPlan/TaskList/Characteristics/KeyCharacteristics/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Characteristics/KeyCharacteristics/index.tsx
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/index.tsx
  src/views/ModelPlan/TaskList/Participants/ParticipantsOptions/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Participants/ParticipantsOptions/index.tsx
  src/views/ModelPlan/TaskList/Participants/ProviderOptions/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Participants/ProviderOptions/index.tsx
  src/views/ModelPlan/TaskList/Participants/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Participants/index.tsx
Due: eslint, check-code-generation

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$
  graphql-schema: any of: pkg/graph/schema.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts
  check-intake-schema-generation: any of: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json
  preprocess-intake-swagger: any of: pkg/cedar/intake/cedar_intake.json
