Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, tsc-check, graphql-schema, check-code-generation

dockerfilelint:
  name: Lint Dockerfile
  entry: dockerfilelint
  language: node
  additional_dependencies:
  - dockerfilelint

eslint:
  name: Run eslint
  entry: scripts/pre-commit-eslint
  language: script

tsc-check:
  name: Run typescript check
  entry: scripts/pre-commit-tsc
  language: script
  pass_filenames: false

graphql-schema:
  name: Lint GraphQL schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script

check-code-generation:
  name: Run GraphQL code generation
  entry: scripts/pre-commit-check-code-generation
  language: script
  pass_filenames: false

Removing temporary subtasks data
  src/views/ModelPlan/TaskList/ITSolutions/SolutionDetails/index.tsx
Due: eslint, tsc-check

working
  src/views/ModelPlan/TaskList/ITSolutions/AddCustomSolution/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionDetailCard/index.stories.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionDetailCard/index.test.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/SubtasksTable/index.stories.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/SubtasksTable/index.test.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/SubtasksTable/index.tsx
Due: eslint, tsc-check

fix subtask being undefined
  src/views/ModelPlan/TaskList/ITSolutions/SolutionDetails/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/SubtasksTable/index.tsx
Due: eslint, tsc-check

Trying build push with buildx
  .github/workflows/run_tests.yml
Due: none

Try docker compose
  scripts/dev
Due: none

feat: migration to update solutions. WIP function to create links
  migrations/V85__Update_Possible_Operational_Solutions.sql
  migrations/V86__Update_Create_Possible_Need_Solution_Link_Function.sql
  migrations/V86__Update_Possible_Operational_Solution_Treat_Custom.sql
Due: none

add 'add another subtask' copy
  src/i18n/en-US/draftModelPlan/subtasks.ts
Due: eslint, tsc-check

add 'add another subtask' button
  src/views/ModelPlan/TaskList/ITSolutions/Subtasks/index.tsx
Due: eslint, tsc-check

Add Another Subtask Route
  src/views/ModelPlan/TaskList/ITSolutions/Subtasks/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/index.tsx
Due: eslint, tsc-check

chore: made sending email to MINT Team on plan discussion creation async
  pkg/email/plan_discussion_created.go
  pkg/email/templates/plan_discussion_created_body.html
  pkg/graph/resolvers/plan_discussion.go
Due: none

[EASI-2712] - Milestones updates (#491)
  src/i18n/en-US/draftModelPlan/basics.ts
  src/views/ModelPlan/TaskList/Basics/Milestones/index.tsx
Due: eslint, tsc-check

chore: drop the old operational need key type, add the new keys to the GQL schema
  migrations/V79__Update_Operational_Needs.sql
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  src/types/graphql-global-types.ts
Due: eslint, tsc-check, graphql-schema, check-code-generation

Easi 2465/operational needs names trigger update (#481)
  migrations/V79__Update_Operational_Needs.sql
  migrations/V80__Add_Determine_Section_Needs_Function.SQL
  migrations/V81__Update_Operational_Need_trigger.sql
  migrations/V82__Enable_All_Operational_Need_Trigger.sql
  migrations/V83__Add_Determine_Model_Plan_Needs_Function.sql
  migrations/V84__Update_Existing_Needs.sql
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/operational_need_triggers_test.go
  pkg/graph/resolvers/operational_solution_test.go
  pkg/graph/schema.graphql
  pkg/models/possible_operational_need.go
  src/data/operationalNeedMap.ts
  src/types/graphql-global-types.ts
  src/views/ModelPlan/TaskList/ITSolutions/Home/__snapshots__/operationalNeedsTable.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/Home/operationalNeedsTable.test.tsx
  src/views/ModelPlan/TaskList/ITSolutions/util.test.tsx
Due: eslint, tsc-check, graphql-schema, check-code-generation

chore: fixed padding to match Figma
  pkg/email/templates/plan_discussion_created_body.html
Due: none

Simplifying Dockerfile.client to reduce number of stages and include ENTRYPOINT
  Dockerfile.client
  docker-compose.override.yml
Due: dockerfilelint

chore: remove drop function statement in migration 85
  migrations/V85__Update_Possible_Operational_Solutions.sql
Due: none

Update build container step names
  .github/workflows/run_tests.yml
Due: none

[EASI-2558] New question email to MINT dev team (#489)
  pkg/email/plan_discussion_created.go
  pkg/email/template_service_impl.go
  pkg/email/templates/plan_discussion_created_body.html
  pkg/email/templates/plan_discussion_created_subject.html
  pkg/graph/resolvers/plan_discussion.go
  pkg/graph/resolvers/plan_discussion_test.go
  pkg/graph/resolvers/resolver_test.go
  pkg/graph/schema.resolvers.go
  pkg/worker/worker_test.go
Due: check-code-generation

add copy
  src/i18n/en-US/draftModelPlan/subtasks.ts
Due: eslint, tsc-check

feat: added github action to block a PR containing duplicate prefixes
  .github/workflows/check_migrations.yml
Due: none

chore: added name Check Migrations for workflow
  .github/workflows/check_migrations.yml
Due: none

chore: Update check-migrations.yml workflow with fetch command
  .github/workflows/check_migrations.yml
Due: none

chore: Add echo statement and --no-tags option to check-migrations workflow
  .github/workflows/check_migrations.yml
Due: none

major work
  src/views/ModelPlan/TaskList/ITSolutions/Subtasks/index.tsx
Due: eslint, tsc-check

Add waiting for the invalidation
  scripts/invalidate_cloudfront_cache.sh
Due: none

Plain output
  .github/workflows/run_tests.yml
Due: none

Load true
  .github/workflows/run_tests.yml
Due: none

Disable jobs
  .github/workflows/run_tests.yml
Due: none

feat: insert operational needs for existing model_plans, set all needs as needed or not
  migrations/V85__Add_Missing_Needs_And_Update_Existing_Needs.sql
Due: none

Testing multiple checkouts
  .github/workflows/check_migrations.yml
Due: none

Remove status set
  .github/workflows/check_migrations.yml
Due: none

Checkout depth 0
  .github/workflows/check_migrations.yml
Due: none

Add trailing slash
  .github/workflows/check_migrations.yml
Due: none

test
  migrations/V84__test.sql
Due: none

Compare
  .github/workflows/check_migrations.yml
Due: none

Use ref instead of sha
  .github/workflows/check_migrations.yml
Due: none

Refs heads
  .github/workflows/check_migrations.yml
Due: none

Working
  .github/workflows/check_migrations.yml
Due: none

working version
  src/views/ModelPlan/TaskList/ITSolutions/Subtasks/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/index.tsx
Due: eslint, tsc-check

Manage Subtask route and copy conditional renders
  src/views/ModelPlan/TaskList/ITSolutions/Subtasks/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/index.tsx
Due: eslint, tsc-check

Path conditions:
  dockerfilelint: any of: Dockerfile.*
  eslint: any of: \.(js|jsx|ts|tsx)$
  tsc-check: any of: \.(js|jsx|ts|tsx)$
  graphql-schema: any of: pkg/graph/schema.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts
