Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, tsc-check, graphql-schema, check-code-generation

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch
        args: [
          '--pattern', '^(?!((main)|(feature\/EASI-\d{1,5})|((EASI-\d{1,5}|NOREF|dependabot)\/[a-zA-Z0-9\-\._/]+))$).*',
          '--branch', '' # Adding this to remove the default protection on `main` so that CI checks can pass
        ]
        name: Enforce branch naming patterns
        description: Enforces branch naming policy. Allowed branch patterns are 'EASI-#', 'EASI-#/*', 'feature/EASI-#', 'NOREF/*', and 'dependabot/*'. A feature branch like feature/EASI-2020 would have branches like EASI-2020/frontend and EASI-2020/backend merge into it.
      - id: check-yaml
        name: Check YAML formatting
      - id: detect-private-key
        name: Check for private keys
      - id: end-of-file-fixer
        files: \.(sql|scss|md|js|ts|tsx|go|yml|yaml)$
        name: Add newlines to ends of files

  - repo: https://github.com/detailyang/pre-commit-shell
    rev: v1.0.6
    hooks:
      - id: shell-lint
        name: Lint shell files

  - repo: https://github.com/trussworks/pre-commit-hooks
    rev: v1.1.1
    hooks:
      - id: mdspell
        name: Spellcheck Markdown files
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor
          )$

  - repo: https://github.com/Bahjat/pre-commit-golang
    rev: v1.0.1
    hooks:
      - id: go-fmt-import
        name: Run "goimports" on go files
        args: ['-local', 'github.com/cmsgov/mint-app']
        files: .*\.go$
        exclude: >
          (?x)^(
            .*gen/.*|
            .*generated/.*|
            .*models_gen.go|
          )$

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.48.0
    hooks:
      - id: golangci-lint
        name: Lint go files
        args: ['--concurrency', '-1'] # Run with all CPUs

  - repo: local
    hooks:
    - id: dockerfilelint
      name: Lint Dockerfile
      entry: dockerfilelint
      language: node
      additional_dependencies: [dockerfilelint]
      files: Dockerfile.*

  - repo: local
    hooks:
      - id: eslint
        name: Run eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$

  - repo: local
    hooks:
      - id: tsc-check
        name: Run typescript check
        entry: scripts/pre-commit-tsc
        language: script
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false

  - repo: local
    hooks:
      - id: graphql-schema
        name: Lint GraphQL schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: pkg/graph/schema.graphql

  - repo: local
    hooks:
      - id: check-code-generation
        name: Run GraphQL code generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: "pkg/graph/schema\\.graphql|pkg/graph/schema\\.resolvers\\.go|src/queries/.*\\.ts"
        pass_filenames: false

  - repo: https://github.com/awslabs/git-secrets
    rev: b9e96b3212fa06aea65964ff0d5cda84ce935f38
    hooks:
      - id: git-secrets
        name: Check for committed secrets
        entry: git-secrets --pre_commit_hook

  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 1.2.1
    hooks:
      - id: sqlfluff-fix
        exclude: ^scripts/data/
      - id: sqlfluff-lint
        exclude: ^scripts/data/

chore: remove old base struct
  pkg/models/base_struct.go
  pkg/models/base_struct_user_table.go
Due: none

chore: rename baseStructUserTable to baseStruct
  pkg/models/analyzed_audit.go
  pkg/models/base_struct.go
  pkg/models/base_task_list_section.go
  pkg/models/model_plan.go
  pkg/models/operational_need.go
  pkg/models/operational_solution.go
  pkg/models/operational_solution_subtask.go
  pkg/models/plan_collaborator.go
  pkg/models/plan_cr_tdl.go
  pkg/models/plan_discussion.go
  pkg/models/plan_document.go
  pkg/models/plan_document_solution_link.go
  pkg/models/plan_favorite.go
Due: none

chore: embed createdBy and modifiedBy relation in baseStruct
  pkg/models/base_struct.go
Due: none

chore: embed createdBy and modifiedBy relation in existing model
  pkg/models/existing_model.go
Due: none

Refactored map
  src/i18n/en-US/helpAndKnowledge/helpAndKnowledge.ts
  src/views/HelpAndKnowledge/Articles/index.ts
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionCategories/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/_components/CategoryFooter/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionHelpCard/index.scss
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionHelpCard/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionsTag/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/solutionsMap.ts
Due: eslint, tsc-check

chore: revert accidental changes to yarn.lock
  yarn.lock
Due: none

Added routing to tags and filtered category views
  src/i18n/en-US/helpAndKnowledge/helpAndKnowledge.ts
  src/index.scss
  src/views/HelpAndKnowledge/SolutionsHelp/_components/CategoryFooter/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionHelpCard/index.scss
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionHelpCard/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionsTag/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/index.tsx
Due: eslint, tsc-check

fix: updated the existing models list updates migration to the latest variant
  migrations/V69__Existing_Models_List_Updates.sql
Due: none

chore: remove redundant createdDts and modifiedDts fields when using embedded relation structs
  pkg/models/base_struct.go
  pkg/models/existing_model.go
Due: none

chore: remove python migration tool
  scripts/table_user_account_migration.py
Due: none

[NOREF] - UX changes part 4 (#468)
  src/views/ModelPlan/ReadOnly/GeneralCharacteristics/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/GeneralCharacteristics/index.tsx
  src/views/ModelPlan/ReadOnly/ModelBasics/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/ModelBasics/index.tsx
  src/views/ModelPlan/ReadOnly/OpsEvalAndLearning/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/OpsEvalAndLearning/index.tsx
  src/views/ModelPlan/TaskList/GeneralCharacteristics/KeyCharacteristics/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/GeneralCharacteristics/KeyCharacteristics/index.tsx
Due: eslint, tsc-check

[EASI-2375, EASI-2566] - Link/Unlink documents (#470)
  cypress/e2e/itSolutions.js
  src/i18n/en-US/draftModelPlan/documents.ts
  src/i18n/en-US/draftModelPlan/itSolutions.ts
  src/queries/Documents/GetModelPlanDocuments.ts
  src/queries/Documents/types/GetModelPlanDocuments.ts
  src/queries/ITSolutions/CreateDocumentSolutionLinks.ts
  src/queries/ITSolutions/DeleteDocumentSolutionLink.ts
  src/queries/ITSolutions/GetOperationalSolution.ts
  src/queries/ITSolutions/types/CreateDocumentSolutionLinks.ts
  src/queries/ITSolutions/types/DeleteDocumentSolutionLink.ts
  src/queries/ITSolutions/types/DeleteDocumentSolutionLinks.ts
  src/queries/ITSolutions/types/GetOperationalSolution.ts
  src/views/ModelPlan/Documents/AddDocument/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/Documents/AddDocument/documentUpload.tsx
  src/views/ModelPlan/Documents/AddDocument/index.tsx
  src/views/ModelPlan/Documents/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/Documents/index.scss
  src/views/ModelPlan/Documents/index.test.tsx
  src/views/ModelPlan/Documents/table.tsx
  src/views/ModelPlan/TaskList/ITSolutions/AddCustomSolution/index.test.tsx
  src/views/ModelPlan/TaskList/ITSolutions/AddCustomSolution/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/LinkDocuments/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/LinkDocuments/index.test.tsx
  src/views/ModelPlan/TaskList/ITSolutions/LinkDocuments/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/SolutionDetails/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/SolutionImplementation/_components/Solution.tsx
  src/views/ModelPlan/TaskList/ITSolutions/SolutionImplementation/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/HelpBox/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/_components/HelpBox/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/ITSolutionSidebar/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionDetailCard/index.stories.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionDetailCard/index.test.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionDetailCard/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/index.tsx
Due: eslint, tsc-check, check-code-generation

Separated out soultion card into grouped component, prep for pagination
  src/i18n/en-US/helpAndKnowledge/helpAndKnowledge.ts
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionCategories/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionHelpCard/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionHelpCardGroup/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/index.tsx
Due: eslint, tsc-check

Added react-paginate for paginating items not in react-table
  package.json
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionHelpCard/index.scss
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionHelpCard/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionHelpCardGroup/index.scss
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionHelpCardGroup/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/index.scss
  src/views/HelpAndKnowledge/SolutionsHelp/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/solutionsMap.ts
  yarn.lock
Due: eslint, tsc-check

Added breadcrumbs
  src/components/Breadcrumbs/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionHelpCardGroup/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionsHeader/index.scss
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionsHeader/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/index.tsx
Due: eslint, tsc-check

Added ArticlePageInfo component for future use
  src/i18n/en-US/helpAndKnowledge/helpAndKnowledge.ts
  src/views/HelpAndKnowledge/Articles/_components/ArticlePageInfo/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionHelpCard/index.tsx
  src/views/HelpAndKnowledge/home.tsx
Due: eslint, tsc-check

chore: updates to the migration format
  migrations/V69__Existing_Models_List_Updates.sql
Due: none

tool: created a tool to import existing_model data from google spreadsheet csv exports and export flyway migration content
  scripts/update_existing_model_table_tool/New MINT Model List.csv:Zone.Identifier
  scripts/update_existing_model_table_tool/column_map.yaml
  scripts/update_existing_model_table_tool/data_transformer.py
  scripts/update_existing_model_table_tool/data_transformer_helper.py
  scripts/update_existing_model_table_tool/database.ini
  scripts/update_existing_model_table_tool/header_column_mapping.py
  scripts/update_existing_model_table_tool/id_generator.py
  scripts/update_existing_model_table_tool/migration_generator.py
  scripts/update_existing_model_table_tool/requirements.txt
  scripts/update_existing_model_table_tool/update_existing_models_table_data.py
Due: none

Feat: migration to rename operational needs and trigger logic
  migrations/V79__Update_Operational_Needs.sql
Due: none

chore: deleted unintentionally added file
  scripts/update_existing_model_table_tool/New MINT Model List.csv:Zone.Identifier
Due: none

chore: deleted unused config file
  scripts/update_existing_model_table_tool/database.ini
Due: none

chore: updated migration to latest incremental version
  migrations/V77__Existing_Models_List_Updates.sql
Due: none

chore: updated migration created_by to use MINT user id rather than fake EUAID
  migrations/V77__Existing_Models_List_Updates.sql
Due: none

chore: renamed migration to conform with other migration naming conventions
  migrations/V77__Update_Existing_Model_Table_Data.sql
Due: none

chore: removed unused package from requirements
  scripts/update_existing_model_table_tool/requirements.txt
Due: none

chore: various code cleaning and refactoring passes
  scripts/update_existing_model_table_tool/csv_reader.py
  scripts/update_existing_model_table_tool/data_processor.py
  scripts/update_existing_model_table_tool/data_transformer.py
  scripts/update_existing_model_table_tool/migration_generator.py
Due: none

Started adding contact information
  src/i18n/en-US/helpAndKnowledge/helpAndKnowledge.ts
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionHelpCard/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/solutionsMap.ts
Due: eslint, tsc-check

Finished adding all contact/solution info
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionHelpCard/index.scss
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionHelpCard/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionHelpCardGroup/index.scss
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionHelpCardGroup/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/solutionsMap.ts
Due: eslint, tsc-check

remove more references to IT_Tools
  pkg/constants/constants.go
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/models/base_struct.go
  pkg/storage/SQL/plan_it_tools/create.sql
  pkg/storage/SQL/plan_it_tools/get_by_id.sql
  pkg/storage/SQL/plan_it_tools/get_by_model_plan_id.sql
  pkg/storage/SQL/plan_it_tools/update.sql
  src/components/ITToolsSummary/__snapshots__/index.test.tsx.snap
  src/components/ITToolsSummary/index.test.tsx
  src/components/ITToolsSummary/index.tsx
  src/types/graphql-global-types.ts
  src/views/SubscriptionHandler/index.test.tsx
  src/views/SubscriptionHandler/index.tsx
Due: eslint, tsc-check, graphql-schema, check-code-generation

Feat: remove IT_Tools from task_list_section enum
  migrations/V77__Remove_Plan_IT_Tools.sql
Due: none

Finished search query work
  src/i18n/en-US/helpAndKnowledge/helpAndKnowledge.ts
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionHelpCard/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionHelpCardGroup/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionsHeader/index.scss
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionsHeader/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/index.tsx
Due: eslint, tsc-check

chore: remove IT-tools infrom from CSVData.ts
  src/utils/export/CsvData.ts
Due: eslint, tsc-check

chore: remove conditional it-tools logic in mobile subnav
  src/views/ModelPlan/ReadOnly/_components/MobileNav/index.tsx
Due: eslint, tsc-check

chore: add skip statement for the solution loader for now until we get solutions linked to the new needs
  pkg/graph/resolvers/operational_solution_test.go
Due: none

WIP
  pkg/oktaapi/client.go
  pkg/server/routes.go
Due: none

Updated references to model start date to use performance start date
  src/components/FavoriteCard/index.test.tsx
  src/components/FavoriteCard/index.tsx
  src/queries/ReadOnly/GetAllModelPlans.ts
  src/queries/ReadOnly/GetModelSummary.ts
  src/queries/ReadOnly/types/GetAllModelPlans.ts
  src/queries/ReadOnly/types/GetModelSummary.ts
  src/views/ModelPlan/ReadOnly/Table/index.tsx
  src/views/ModelPlan/ReadOnly/index.test.tsx
  src/views/ModelPlan/ReadOnly/index.tsx
Due: eslint, tsc-check, check-code-generation

chore: replace FE instances of Advertise the model with Recruit Participants
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/operational_need_triggers_test.go
  pkg/graph/schema.graphql
  pkg/models/possible_operational_need.go
  src/data/operationalNeedMap.ts
  src/types/graphql-global-types.ts
  src/views/ModelPlan/TaskList/ITSolutions/Home/__snapshots__/operationalNeedsTable.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/Home/operationalNeedsTable.test.tsx
  src/views/ModelPlan/TaskList/ITSolutions/util.test.tsx
Due: eslint, tsc-check, graphql-schema, check-code-generation

Added empty state for solution search
  src/components/TableFilter/index.tsx
  src/i18n/en-US/helpAndKnowledge/helpAndKnowledge.ts
  src/views/HelpAndKnowledge/SolutionsHelp/_components/CategoryFooter/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionHelpCardGroup/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionsHeader/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/index.tsx
Due: eslint, tsc-check

Replaced globalTableFilter with globalFilterCellText
  src/utils/globalFilterCellText.ts
  src/utils/globalTableFilter.test.ts
  src/utils/globalTableFilter.tsx
  src/views/ModelPlan/CRTDL/CRTDLs/table.tsx
  src/views/ModelPlan/Documents/table.tsx
  src/views/ModelPlan/ReadOnly/Documents/index.test.tsx
  src/views/ModelPlan/ReadOnly/Table/index.tsx
  src/views/ModelPlan/Table/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/Home/operationalNeedsTable.tsx
  src/views/ModelPlan/TaskList/ITSolutions/LinkDocuments/index.test.tsx
Due: eslint, tsc-check

Clear query on route change
  src/views/HelpAndKnowledge/SolutionsHelp/index.tsx
Due: eslint, tsc-check
