Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, tsc-check, graphql-schema, check-code-generation

dockerfilelint:
  name: Lint Dockerfile
  entry: dockerfilelint
  language: node
  additional_dependencies:
  - dockerfilelint

eslint:
  name: Run eslint
  entry: scripts/pre-commit-eslint
  language: script

tsc-check:
  name: Run typescript check
  entry: scripts/pre-commit-tsc
  language: script
  pass_filenames: false

graphql-schema:
  name: Lint GraphQL schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script

check-code-generation:
  name: Run GraphQL code generation
  entry: scripts/pre-commit-check-code-generation
  language: script
  pass_filenames: false

remove comment
  src/views/ModelPlan/ReadOnly/ModelBasics/index.tsx
Due: eslint, tsc-check

asdfasdf
  src/views/ModelPlan/ReadOnly/ModelBasics/index.tsx
  src/views/ModelPlan/ReadOnly/_components/FilterView/BodyContent/_filterGroupMapping.ts
Due: eslint, tsc-check

add more basic mapping
  src/views/ModelPlan/ReadOnly/_components/FilterView/BodyContent/_filterGroupMapping.ts
Due: eslint, tsc-check

passing down filteredVIew prop]
  src/views/ModelPlan/ReadOnly/ModelBasics/index.tsx
  src/views/ModelPlan/ReadOnly/_components/FilterView/BodyContent/index.tsx
Due: eslint, tsc-check

add a specific IPC view
  src/views/ModelPlan/ReadOnly/ModelBasics/index.tsx
Due: eslint, tsc-check

add more maps to the paraipcpatin and providers
  src/views/ModelPlan/ReadOnly/ParticipantsAndProviders/index.tsx
  src/views/ModelPlan/ReadOnly/_components/FilterView/BodyContent/_filterGroupMapping.ts
Due: eslint, tsc-check

add more mapping
  src/views/ModelPlan/ReadOnly/_components/FilterView/BodyContent/_filterGroupMapping.ts
Due: eslint, tsc-check

update snaps
  src/views/ModelPlan/ReadOnly/Beneficiaries/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/GeneralCharacteristics/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/ModelBasics/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/OpsEvalAndLearning/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/ParticipantsAndProviders/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/Payments/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/_components/FilterView/Banner/__snapshots__/index.test.tsx.snap
Due: none

Added readonly translations
  src/components/FavoriteCard/index.tsx
  src/hooks/usePlanTranslation.tsx
  src/i18n/en-US/index.ts
  src/i18n/en-US/modelPlan.ts
  src/i18n/en-US/modelPlan/plan.tsx
  src/i18n/en-US/modelPlan/planBasics.tsx
  src/types/translation.ts
  src/utils/modelPlan.ts
  src/views/ModelPlan/ReadOnly/ModelBasics/index.tsx
  src/views/ModelPlan/Status/index.tsx
  src/views/ModelPlan/TaskList/Basics/Milestones/index.tsx
  src/views/ModelPlan/TaskList/Basics/Overview/index.tsx
  src/views/ModelPlan/TaskList/Basics/index.tsx
  src/views/Unfollow/index.tsx
Due: eslint, tsc-check

Fixed issues caught by snapshots
  src/i18n/en-US/modelPlan/planBasics.tsx
  src/utils/modelPlan.ts
  src/views/ModelPlan/ReadOnly/ModelBasics/index.tsx
  src/views/ModelPlan/TaskList/Basics/__snapshots__/index.test.tsx.snap
Due: eslint, tsc-check

Removed unneeded translation utils
  src/utils/modelPlan.ts
Due: eslint, tsc-check

Handle JWT creation erorrs more gracefully in NewOktaWebSocketAuthenticationMiddleware
  pkg/okta/authentication_middleware.go
Due: none

Removed unneeded util
  src/utils/translation.tsx
Due: eslint, tsc-check

Removed unneeded types
  src/types/translation.ts
Due: eslint, tsc-check

[EASI-2899] Add AMS Model ID and other fields to General Characteristics (#590)
  MINT.postman_collection.json
  cmd/dbseed/main.go
  migrations/V94__Update_Plan_Basics_AMSModelID_DemoCode.sql
  migrations/V95__Update_Model_Plan_Abbreviation.sql
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/model_plan_test.go
  pkg/graph/resolvers/plan_basics_test.go
  pkg/graph/schema.graphql
  pkg/models/model_plan.go
  pkg/models/plan_basics.go
  pkg/storage/SQL/model_plan/collection_by_collaborator.sql
  pkg/storage/SQL/model_plan/collection_where_archived.sql
  pkg/storage/SQL/model_plan/collection_where_favorited.sql
  pkg/storage/SQL/model_plan/collection_with_crtdl.sql
  pkg/storage/SQL/model_plan/create.sql
  pkg/storage/SQL/model_plan/get_by_id.sql
  pkg/storage/SQL/model_plan/get_by_id_LOADER.sql
  pkg/storage/SQL/model_plan/get_by_name.sql
  pkg/storage/SQL/model_plan/update.sql
  pkg/storage/SQL/plan_basics/create.sql
  pkg/storage/SQL/plan_basics/get_by_id.sql
  pkg/storage/SQL/plan_basics/get_by_model_plan_id_LOADER.sql
  pkg/storage/SQL/plan_basics/update.sql
  src/types/graphql-global-types.ts
Due: eslint, tsc-check, graphql-schema, check-code-generation

chore: update app-name to mint
  pkg/server/logger.go
Due: none

Allow MAC users to favorite plans
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  src/views/ModelPlan/ModelPlanOverview/index.tsx
  src/views/ModelPlan/ReadOnly/index.tsx
Due: eslint, tsc-check, graphql-schema, check-code-generation

[NOREF] Handle JWT creation erorrs more gracefully in (#599)
  pkg/okta/authentication_middleware.go
  pkg/server/logger.go
Due: none

chore: cleaned up old migration
  migrations/V94__Update_General_Characteristics_AMSModelID_DemoCode.sql
Due: none

[EASI-3022] Allow MAC users to favorite plans (#600)
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  src/views/ModelPlan/ModelPlanOverview/index.tsx
  src/views/ModelPlan/ReadOnly/index.tsx
Due: eslint, tsc-check, graphql-schema, check-code-generation

chore: removed testing code
  pkg/storage/plan_discussionStore.go
Due: none

chore: removed old ghost code from branch-off
  pkg/models/plan_general_characteristics.go
  pkg/storage/SQL/plan_general_characteristics/create.sql
  pkg/storage/SQL/plan_general_characteristics/get_by_id.sql
  pkg/storage/SQL/plan_general_characteristics/get_by_model_plan_id_LOADER.sql
  pkg/storage/SQL/plan_general_characteristics/update.sql
Due: none

chore: go mod tidy
  go.mod
Due: none

fix test id
  src/views/ModelPlan/ReadOnly/Beneficiaries/index.tsx
  src/views/ModelPlan/ReadOnly/Payments/index.tsx
Due: eslint, tsc-check

test and snaps
  src/views/ModelPlan/ReadOnly/_components/FilterView/BodyContent/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/_components/FilterView/BodyContent/index.test.tsx
Due: eslint, tsc-check

Added comments for clarity
  src/hooks/usePlanTranslation.tsx
  src/i18n/en-US/modelPlan/planBasics.tsx
  src/types/translation.ts
Due: eslint, tsc-check

update snaps
  src/views/ModelPlan/ReadOnly/Beneficiaries/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/Payments/__snapshots__/index.test.tsx.snap
Due: none

update the test
  src/views/ModelPlan/ReadOnly/_components/FilterView/BodyContent/index.test.tsx
Due: eslint, tsc-check

Init landing page - new links added
  src/i18n/en-US/landing.ts
  src/views/Landing/index.scss
  src/views/Landing/index.tsx
Due: eslint, tsc-check

Began adding article content
  src/components/HelpBreadcrumb/index.tsx
  src/i18n/en-US/helpAndKnowledge/Articles/getAccess.ts
  src/i18n/en-US/helpAndKnowledge/helpAndKnowledge.ts
  src/i18n/en-US/index.ts
  src/views/App/index.tsx
  src/views/HelpAndKnowledge/Articles/GetAccess/index.tsx
  src/views/Landing/index.scss
  src/views/Landing/index.tsx
Due: eslint, tsc-check

Added sign in link to list item
  src/i18n/en-US/helpAndKnowledge/Articles/getAccess.ts
  src/views/HelpAndKnowledge/Articles/GetAccess/index.tsx
Due: eslint, tsc-check

fix: updated inputs to fix broken tests
  pkg/graph/resolvers/plan_discussion_test.go
Due: none

fix: added user role to plan discussion test inputs
  pkg/graph/resolvers/resolver_test.go
  pkg/worker/worker_test.go
Due: none

chore: updated postman collection
  MINT.postman_collection.json
Due: none

Added uswds in-page nav
  src/i18n/en-US/helpAndKnowledge/Articles/getAccess.ts
  src/index.scss
  src/views/App/index.tsx
  src/views/HelpAndKnowledge/Articles/GetAccess/index.tsx
  src/views/Landing/index.tsx
Due: eslint, tsc-check

Added custom hook for handling uswds in-page navigation with hash
  package.json
  src/hooks/useNavHash.tsx
  src/i18n/en-US/helpAndKnowledge/Articles/getAccess.ts
  src/index.scss
  src/views/HelpAndKnowledge/Articles/GetAccess/index.tsx
  yarn.lock
Due: eslint, tsc-check

Reworked scroll buffer
  src/hooks/useHashScroll.tsx
  src/views/HelpAndKnowledge/Articles/GetAccess/index.tsx
Due: eslint, tsc-check

Iterated through anchorLinks render
  src/views/HelpAndKnowledge/Articles/GetAccess/index.tsx
Due: eslint, tsc-check

EASI-2995: Set log level for JDBC
  logstash/logstash_entrypoint.sh
Due: none

feat: added user role description to plan discussion with constraints and unit tests
  migrations/V96__Update_Plan_Discussion_Add_Role.sql
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/resolvers/plan_discussion.go
  pkg/graph/resolvers/plan_discussion_test.go
  pkg/graph/resolvers/resolver_test.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/model_helpers.go
  pkg/models/plan_discussion.go
  pkg/storage/SQL/plan_discussion/create.sql
  pkg/storage/SQL/plan_discussion/delete.sql
  pkg/storage/SQL/plan_discussion/get_by_id.sql
  pkg/storage/SQL/plan_discussion/get_by_model_plan_id_LOADER.sql
  pkg/storage/SQL/plan_discussion/update.sql
  pkg/worker/worker_test.go
  src/types/graphql-global-types.ts
Due: eslint, tsc-check, graphql-schema, check-code-generation

Path conditions:
  dockerfilelint: any of: Dockerfile.*
  eslint: any of: \.(js|jsx|ts|tsx)$
  tsc-check: any of: \.(js|jsx|ts|tsx)$
  graphql-schema: any of: pkg/graph/schema.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts
