Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, tsc-check, graphql-schema, check-code-generation

dockerfilelint:
  name: Lint Dockerfile
  entry: dockerfilelint
  language: node
  additional_dependencies:
  - dockerfilelint

eslint:
  name: Run eslint
  entry: scripts/pre-commit-eslint
  language: script

tsc-check:
  name: Run typescript check
  entry: scripts/pre-commit-tsc
  language: script
  pass_filenames: false

graphql-schema:
  name: Lint GraphQL schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script
  pass_filenames: false

check-code-generation:
  name: Run GraphQL code generation
  entry: scripts/pre-commit-check-code-generation
  language: script
  pass_filenames: false

fixing type error
  src/views/HelpAndKnowledge/Articles/DataExchangeConcept/index.tsx
  src/views/HelpAndKnowledge/Articles/_components/RelatedArticles/index.tsx
Due: eslint, tsc-check

Adding data exchange approach help article
  src/components/shared/ExternalLink/index.tsx
  src/i18n/en-US/helpAndKnowledge/Articles/dataExchangeApproach.ts
  src/i18n/en-US/helpAndKnowledge/helpAndKnowledge.ts
  src/i18n/en-US/index.ts
  src/views/HelpAndKnowledge/Articles/DataExchangeConcept/index.test.tsx
  src/views/HelpAndKnowledge/Articles/DataExchangeConcept/index.tsx
  src/views/HelpAndKnowledge/Articles/index.tsx
Due: eslint, tsc-check

updating names
  src/components/Header/index.tsx
  src/views/HelpAndKnowledge/Articles/DataExchangeApproach/index.test.tsx
  src/views/HelpAndKnowledge/Articles/DataExchangeApproach/index.tsx
Due: eslint, tsc-check

updating translation name
  src/views/HelpAndKnowledge/Articles/DataExchangeApproach/index.tsx
Due: eslint, tsc-check

Adding to h&k index page
  src/views/HelpAndKnowledge/index.tsx
Due: eslint, tsc-check

feat: set user view customization for MINT user
  cmd/dbseed/main.go
  cmd/dbseed/resolver_wrappers.go
Due: none

feat: update to filter on the frontend using the backend calculated status
  pkg/graph/schema/types/operational_solution_and_model_plan.graphql
  src/gql/apolloGQL/ITSolutions/GetModelsBySolution.ts
  src/gql/gen/graphql.ts
  src/views/HomeNew/components/ModelsBySolutions/banner.tsx
  src/views/HomeNew/components/ModelsBySolutions/table.tsx
Due: eslint, tsc-check, graphql-schema

feat: add cancelled model plan that uses 4i to seed data for testing
  cmd/dbseed/main.go
Due: none

feat: update client test
  src/views/HomeNew/components/ModelsBySolutions/index.test.tsx
Due: eslint, tsc-check

feaT: rename StatusPlannedActiveOrEnded to ModelBySolutionStatus
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/operational_solution_and_model_plan.resolvers.go
  pkg/graph/schema/types/operational_solution_and_model_plan.graphql
  src/gql/apolloGQL/ITSolutions/GetModelsBySolution.ts
  src/gql/gen/graphql.ts
  src/views/HomeNew/components/ModelsBySolutions/banner.tsx
  src/views/HomeNew/components/ModelsBySolutions/table.tsx
Due: eslint, tsc-check, graphql-schema

Update flyway version from 9 to 10. Update default flyway sql migration folder
  .github/workflows/build_application_images.yml
  .github/workflows/run_tests.yml
  Dockerfile.db_clean
  Dockerfile.db_migrations
Due: dockerfilelint

feat: add remaining statuses to unit test
  pkg/graph/resolvers/operational_solution_and_model_plan_test.go
Due: none

Update CICD to call flyway migrate
  .github/workflows/run_tests.yml
Due: none

Try args
  .github/workflows/run_tests.yml
Due: none

update snaps
  src/views/HelpAndKnowledge/Articles/AllArticles/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/Articles/DataExchangeApproach/__snapshots__/index.test.tsx.snap
Due: none

Addressing typescript errors
  src/views/Notifications/Home/_components/IndividualNotification.tsx
  src/views/Notifications/Home/_components/_utils.tsx
Due: eslint, tsc-check

Change teset mock property to match query
  src/views/HomeNew/components/ModelsBySolutions/index.test.tsx
Due: eslint, tsc-check

Update Flyway from v9 to v10 (#1234)
  .github/workflows/build_application_images.yml
  .github/workflows/run_tests.yml
  Dockerfile.db_clean
  Dockerfile.db_migrations
Due: dockerfilelint

Added new mdm migration and translation
  migrations/V162__Add_MDM_NCBP_to_Operational_Solutions.sql
  pkg/graph/generated/generated.go
  pkg/graph/schema/types/shared_enums.graphql
  src/gql/gen/graphql.ts
  src/i18n/en-US/helpAndKnowledge/helpAndKnowledge.ts
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/about.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/timeline.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/solutionsMap.tsx
Due: eslint, tsc-check, graphql-schema

Updated tests
  src/i18n/en-US/modelPlan/solutions.ts
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/About/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/PointsOfContact/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Timeline/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionsHeader/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionsHeader/index.test.tsx
Due: eslint, tsc-check

feat: add new question migration
  migrations/V162__Add_New_Questions_For_PBG.sql
Due: none

Added migration comments
  migrations/V162__Add_MDM_NCBP_to_Operational_Solutions.sql
Due: none

feat: add new questions to GO and GQL
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/plan_payments.resolvers.go
  pkg/graph/schema/types/plan_participants_and_providers.graphql
  pkg/graph/schema/types/plan_payments.graphql
  pkg/models/plan_participants_and_providers.go
  pkg/models/plan_payments.go
  src/gql/gen/graphql.ts
Due: tsc-check, graphql-schema

feat: add is_new_type_of_providers_or_suppliers to sql for plan_participants and providers
  pkg/sqlqueries/SQL/plan_participants_and_providers/create.sql
  pkg/sqlqueries/SQL/plan_participants_and_providers/get_by_id.sql
  pkg/sqlqueries/SQL/plan_participants_and_providers/get_by_model_plan_id_LOADER.sql
  pkg/sqlqueries/SQL/plan_participants_and_providers/update.sql
Due: none

feat: add columns to sql for plan payments
  pkg/sqlqueries/SQL/plan_payments/create.sql
  pkg/sqlqueries/SQL/plan_payments/get_by_id.sql
  pkg/sqlqueries/SQL/plan_payments/get_by_model_plan_id_LOADER.sql
  pkg/sqlqueries/SQL/plan_payments/update.sql
Due: none

Addressed flakiness by joining test
  src/views/HomeNew/components/ModelsBySolutions/__snapshots__/index.test.tsx.snap
  src/views/HomeNew/components/ModelsBySolutions/index.test.tsx
Due: eslint, tsc-check

feat: add unit tests for the new questions
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/plan_participants_and_providers_test.go
  pkg/graph/resolvers/plan_payments.resolvers.go
  pkg/graph/resolvers/plan_payments_test.go
  pkg/models/plan_payments.go
  pkg/sqlqueries/SQL/plan_participants_and_providers/update.sql
Due: none

feat: export postman collection, update to add the needed inputs
  MINT.postman_collection.json
  pkg/graph/generated/generated.go
  pkg/graph/schema/types/plan_participants_and_providers.graphql
  src/gql/gen/graphql.ts
Due: tsc-check, graphql-schema

Fixed plural title
  src/i18n/en-US/helpAndKnowledge/Articles/highLevelProjectPlans.ts
  src/i18n/en-US/helpAndKnowledge/helpAndKnowledge.ts
  src/views/HelpAndKnowledge/Articles/AllArticles/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/Articles/HighLevelProjectPlan/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/Articles/SixPagerMeeting/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/Articles/TwoPagerMeeting/__snapshots__/index.test.tsx.snap
Due: eslint, tsc-check

[EASI-4443] Data Exchange Concept Help Article (#1235)
  src/components/Header/index.tsx
  src/components/shared/ExternalLink/index.tsx
  src/i18n/en-US/helpAndKnowledge/Articles/dataExchangeApproach.ts
  src/i18n/en-US/helpAndKnowledge/helpAndKnowledge.ts
  src/i18n/en-US/index.ts
  src/views/HelpAndKnowledge/Articles/AllArticles/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/Articles/DataExchangeApproach/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/Articles/DataExchangeApproach/index.test.tsx
  src/views/HelpAndKnowledge/Articles/DataExchangeApproach/index.tsx
  src/views/HelpAndKnowledge/Articles/index.tsx
  src/views/HelpAndKnowledge/index.tsx
  src/views/Notifications/Home/_components/IndividualNotification.tsx
  src/views/Notifications/Home/_components/_utils.tsx
Due: eslint, tsc-check

Add willBePaymentAdjustment to query
  src/gql/apolloGQL/Payments/GetAnticipateDependencies.ts
Due: eslint, tsc-check

Add willBePaymentAdjustments to query and all the stuff
  src/gql/gen/graphql.ts
  src/i18n/en-US/modelPlan/payments.ts
  src/types/translation.ts
  src/views/ModelPlan/TaskList/Payment/AnticipateDependencies/index.tsx
Due: eslint, tsc-check

Add the new question to the edit view
  src/views/ModelPlan/TaskList/Payment/AnticipateDependencies/index.tsx
Due: eslint, tsc-check

Add the new question to the read view
  src/gql/apolloGQL/Payments/GetAllPayments.ts
  src/gql/gen/graphql.ts
  src/i18n/en-US/modelPlan/payments.ts
  src/views/ModelPlan/ReadOnly/Payments/index.tsx
Due: eslint, tsc-check

adding new isNewTypeofProviersorSupplies questions, gql, types, and all the sauce
  src/gql/apolloGQL/ParticipantsAndProviders/GetAllParticipantsAndProviders.ts
  src/gql/apolloGQL/ParticipantsAndProviders/GetParticipantsAndProviders.ts
  src/gql/gen/graphql.ts
  src/i18n/en-US/modelPlan/participantsAndProviders.ts
  src/types/translation.ts
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/index.tsx
Due: eslint, tsc-check

adding new things for the csv export
  src/gql/apolloGQL/ModelPlan/GetAllModelData.ts
  src/gql/apolloGQL/ModelPlan/GetAllSingleModelData.ts
  src/gql/gen/graphql.ts
Due: eslint, tsc-check

add to csv export
  src/utils/export/CsvData.ts
Due: eslint, tsc-check

update snapshots for tasklist
  src/views/ModelPlan/TaskList/GeneralCharacteristics/Involvements/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Payment/AnticipateDependencies/__snapshots__/index.test.tsx.snap
Due: none

update mocks with new entries and update snaps
  src/components/ShareExport/__snapshots__/index.test.tsx.snap
  src/data/mock/readonly.ts
  src/views/HomeNew/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/CRTDLs/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/GeneralCharacteristics/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/ParticipantsAndProviders/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/Payments/__snapshots__/index.test.tsx.snap
Due: eslint, tsc-check

Path conditions:
  dockerfilelint: any of: Dockerfile.*
  eslint: any of: \.(js|jsx|ts|tsx)$, but not: (\.(d\.ts)$)|(\.storybook)|(serviceWorker\.ts)|(src/gql/gen/.*)
  tsc-check: any of: \.(js|jsx|ts|tsx)$
  graphql-schema: any of: pkg/graph/schema/.*\.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts|src/queriesCodegen/.*\.ts
