Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, tsc-check, graphql-schema, check-code-generation

dockerfilelint:
  name: Lint Dockerfile
  entry: dockerfilelint
  language: node
  additional_dependencies:
  - dockerfilelint

eslint:
  name: Run eslint
  entry: scripts/pre-commit-eslint
  language: script

tsc-check:
  name: Run typescript check
  entry: scripts/pre-commit-tsc
  language: script
  pass_filenames: false

graphql-schema:
  name: Lint GraphQL schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script

check-code-generation:
  name: Run GraphQL code generation
  entry: scripts/pre-commit-check-code-generation
  language: script
  pass_filenames: false

updated snaps
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/IDDOC/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Payment/Recover/__snapshots__/index.test.tsx.snap
Due: none

rework add collaborator to pass get user information delegate function. hasLoggedIn added to userAccount
  cmd/dbseed/resolver_wrappers.go
  migrations/V2.5__Add_Users_table.sql
  pkg/authentication/user_account.go
  pkg/graph/resolvers/added_as_collaborator_email_test.go
  pkg/graph/resolvers/model_plan.go
  pkg/graph/resolvers/model_plan_test.go
  pkg/graph/resolvers/plan_collaborator.go
  pkg/graph/resolvers/plan_collaborator_test.go
  pkg/graph/resolvers/resolver_test.go
  pkg/graph/schema.resolvers.go
  pkg/local/cedar_ldap.go
  pkg/storage/SQL/user_account/get_by_username.sql
  pkg/storage/SQL/user_account/insert_by_username.sql
  pkg/storage/SQL/user_account/update_by_username.sql
  pkg/userhelpers/user_account_utils.go
  pkg/worker/worker_test.go
Due: check-code-generation

add new breadcrumb
  src/i18n/en-US/draftModelPlan/itSolutions.ts
  src/views/ModelPlan/TaskList/ITSolutions/SolutionImplementation/index.tsx
Due: eslint, tsc-check

Finished cypress testing
  cypress.config.ts
  cypress/e2e/itSolutions.js
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionDetailCard/index.tsx
Due: eslint, tsc-check

Add comment to cypress testing
  cypress/e2e/itSolutions.js
Due: eslint, tsc-check

refactor to take context vs token
  cmd/dbseed/resolver_wrappers.go
  pkg/appcontext/context.go
  pkg/authentication/enhanced_jwt.go
  pkg/graph/resolvers/plan_collaborator.go
  pkg/graph/resolvers/resolver_test_utilities.go
  pkg/local/authentication_middleware.go
  pkg/okta/authentication_middleware.go
  pkg/okta/authentication_middleware_test.go
  pkg/userhelpers/user_account_utils.go
  pkg/worker/worker_test_utilities.go
Due: none

update to update useraccount on login with OKTA
  pkg/storage/SQL/user_account/update_by_username.sql
  pkg/storage/user_accountStore.go
  pkg/userhelpers/user_account_utils.go
Due: none

Added additional comments and word break to card header
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionCard/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionDetailCard/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/Subtasks/index.tsx
Due: eslint, tsc-check

Updated tests
  src/views/ModelPlan/TaskList/ITSolutions/AddCustomSolution/index.test.tsx
  src/views/ModelPlan/TaskList/ITSolutions/SolutionImplementation/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionCard/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionDetailCard/__snapshots__/index.test.tsx.snap
Due: eslint, tsc-check

add solution id in params
  src/views/ModelPlan/TaskList/ITSolutions/util.tsx
Due: eslint, tsc-check

add solution id in params
  src/views/ModelPlan/TaskList/ITSolutions/index.tsx
Due: eslint, tsc-check

add solution id in params
  src/views/ModelPlan/TaskList/ITSolutions/SolutionImplementation/index.tsx
Due: eslint, tsc-check

GetOrCreateUserAccount is now the singular entry point for user account getting/creating
  cmd/dbseed/resolver_wrappers.go
  pkg/appcontext/context.go
  pkg/graph/resolvers/plan_collaborator.go
  pkg/graph/resolvers/resolver_test_utilities.go
  pkg/local/authentication_middleware.go
  pkg/okta/authentication_middleware.go
  pkg/okta/authentication_middleware_test.go
  pkg/userhelpers/user_account_utils.go
  pkg/worker/worker_test_utilities.go
Due: none

check that a user account is made in the plan collaborator unit test
  pkg/graph/resolvers/plan_collaborator_test.go
Due: none

move basics sql
  pkg/storage/SQL/plan_basics/get_by_model_plan_id_LOADER.sql
Due: none

Re-enable IMPL deployments. Make dev/test deploy concurrently
  .github/workflows/deploy_pipeline.yml
Due: none

Added info warning to OpsEvalAndLearning page 2, updated snap
  src/i18n/en-US/draftModelPlan/operationsEvaulationAndLearning.ts
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/Performance/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/Performance/index.tsx
Due: eslint, tsc-check

[NOREF] Re-enable IMPL deployments. Make dev/test deploy concurrently (#383)
  .github/workflows/deploy_pipeline.yml
Due: none

Added storybooks and storybook apollo client addon to mock requests
  .storybook/main.js
  .storybook/preview.js
  package.json
  src/views/ModelPlan/TaskList/ITSolutions/AddCustomSolution/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/AddSolution/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/SelectSolutions/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/SolutionImplementation/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/_components/NeedQuestionAndAnswer/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/_components/NeedQuestionAndAnswer/index.test.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/NeedQuestionAndAnswer/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/NeedQuestionAndAnswer/mocks.ts
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionDetailCard/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionDetailCard/index.stories.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/Subtasks/index.stories.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/Subtasks/index.test.tsx
  yarn.lock
Due: eslint, tsc-check

Temp disable snapshot
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionDetailCard/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionDetailCard/index.test.tsx
Due: eslint, tsc-check

Reimplement snapshot
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionDetailCard/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionDetailCard/index.test.tsx
Due: eslint, tsc-check

Updated snap
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionDetailCard/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionDetailCard/index.test.tsx
Due: eslint, tsc-check

Margin bottom 3 instead of 6
  src/views/Home/index.tsx
Due: eslint, tsc-check

heading level h2
  src/views/HelpAndKnowledge/Articles/ModelPlanOverview/index.tsx
  src/views/ModelPlan/StepsOverview/__snapshots__/index.test.tsx.snap
Due: eslint, tsc-check

stub data loader middleware
  go.mod
  go.sum
  pkg/loaders/data_loader_middleware.go
  pkg/storage/plan_basicsStore.go
Due: none

[EASI-2520] - Ops Eval and Learning Info warning and text (#384)
  src/i18n/en-US/draftModelPlan/operationsEvaulationAndLearning.ts
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/Performance/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/Performance/index.tsx
Due: eslint, tsc-check

Passing down operational solution id
  src/i18n/en-US/draftModelPlan/itSolutions.ts
  src/views/ModelPlan/TaskList/ITSolutions/SolutionDetails/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionDetailCard/index.stories.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionDetailCard/index.test.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionDetailCard/index.tsx
Due: eslint, tsc-check

Add boolean to ToStateProps
  src/components/LinkWrapper/index.tsx
Due: eslint, tsc-check

Taking in the fromSolutionDetails state to determine conditonal render
  src/views/ModelPlan/TaskList/ITSolutions/SolutionImplementation/index.tsx
Due: eslint, tsc-check

adding explict pathname and state to the UswdsReactLink
  src/views/ModelPlan/TaskList/ITSolutions/util.tsx
Due: eslint, tsc-check

showing the props more explicit
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionDetailCard/index.tsx
Due: eslint, tsc-check

Add fromSolutionDetails state prop in history push
  src/views/ModelPlan/TaskList/ITSolutions/SelectSolutions/index.tsx
Due: eslint, tsc-check

passing the correct url
  src/views/ModelPlan/TaskList/ITSolutions/SolutionImplementation/index.tsx
Due: eslint, tsc-check

Fixed subtasks prop destructuring
  src/views/ModelPlan/TaskList/ITSolutions/_components/Subtasks/index.tsx
Due: eslint, tsc-check

work
  src/views/ModelPlan/TaskList/ITSolutions/SolutionImplementation/_components/Solution.tsx
  src/views/ModelPlan/TaskList/ITSolutions/SolutionImplementation/index.tsx
Due: eslint, tsc-check

Conditionally render Cancel Copy
  src/i18n/en-US/draftModelPlan/itSolutions.ts
  src/views/ModelPlan/TaskList/ITSolutions/SolutionImplementation/index.tsx
Due: eslint, tsc-check

adding optional chain
  src/views/ModelPlan/TaskList/ITSolutions/SolutionImplementation/index.tsx
Due: eslint, tsc-check

[NOREF] - Fixed subtasks prop destructuring (#386)
  src/views/ModelPlan/TaskList/ITSolutions/_components/Subtasks/index.tsx
Due: eslint, tsc-check

add has_logged_in to new migration
  migrations/V2.5__Add_Users_table.sql
  migrations/V41__Add_Has_Logged_In_To_User_Account.sql
  pkg/userhelpers/user_account_utils.go
Due: none

Path conditions:
  dockerfilelint: any of: Dockerfile.*
  eslint: any of: \.(js|jsx|ts|tsx)$
  tsc-check: any of: \.(js|jsx|ts|tsx)$
  graphql-schema: any of: pkg/graph/schema.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts
