Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, tsc-check, graphql-schema, check-code-generation

dockerfilelint:
  name: Lint Dockerfile
  entry: dockerfilelint
  language: node
  additional_dependencies:
  - dockerfilelint

eslint:
  name: Run eslint
  entry: scripts/pre-commit-eslint
  language: script

tsc-check:
  name: Run typescript check
  entry: scripts/pre-commit-tsc
  language: script
  pass_filenames: false

graphql-schema:
  name: Lint GraphQL schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script

check-code-generation:
  name: Run GraphQL code generation
  entry: scripts/pre-commit-check-code-generation
  language: script
  pass_filenames: false

Responsive for tablet
  src/views/ModelPlan/TaskList/ITSolutions/AddOrUpdateOperationalNeed/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/LinkDocuments/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/LinkDocuments/index.tsx
Due: eslint, tsc-check

Removed commentd code and fuxed success emssage
  src/views/ModelPlan/TaskList/ITSolutions/SolutionImplementation/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionDetailCard/index.tsx
Due: eslint, tsc-check

Fixed assertions on query string
  src/views/ModelPlan/TaskList/ITSolutions/AddSolution/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/SelectSolutions/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/SolutionImplementation/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionDetailCard/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/util.test.tsx
  src/views/ModelPlan/TaskList/ITSolutions/util.tsx
Due: eslint, tsc-check

Rename migration
  migrations/V93__Add_Temporal_Tables.sql
Due: none

Fixed unneeded path state
  src/views/ModelPlan/TaskList/ITSolutions/util.test.tsx
  src/views/ModelPlan/TaskList/ITSolutions/util.tsx
Due: eslint, tsc-check

Added smooth scroll into solution question
  src/hooks/useScrollElement.ts
Due: eslint, tsc-check

Added default 'other' solutions to still show in 'common' section
  src/views/ModelPlan/TaskList/ITSolutions/SelectSolutions/index.tsx
Due: eslint, tsc-check

feat: update date with bad data test in DB seed, command to add columns for model plan
  cmd/dbseed/main.go
  cmd/temporalSimulator/SQL/addColumnToModelPlan.sql
  cmd/temporalSimulator/SQL/addColumnToModelPlanHistory.sql
  cmd/temporalSimulator/addColumn.go
  cmd/temporalSimulator/main.go
Due: none

feat: add struct field isCommonSolution, and update query to return true/false
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/models/operational_solution.go
  pkg/storage/SQL/operational_solution/and_possible_get_by_operational_need_id_LOADER.sql
  pkg/storage/SQL/operational_solution/get_by_id.sql
  pkg/storage/SQL/operational_solution/insert.sql
  pkg/storage/SQL/operational_solution/update_by_id.sql
Due: graphql-schema, check-code-generation

feat: update postman collection
  MINT.postman_collection.json
Due: none

feat: add unit tests to assert isCommonLogic
  pkg/graph/resolvers/operational_solution_test.go
Due: none

feat: add remove column command
  cmd/temporalSimulator/SQL/removeColumnFromModelPlan.sql
  cmd/temporalSimulator/main.go
  cmd/temporalSimulator/removeColumn.go
Due: none

feat: add alter enum command
  cmd/temporalSimulator/SQL/alterEnum.sql
  cmd/temporalSimulator/SQL/removeColumnFromModelPlan.sql
  cmd/temporalSimulator/alterEnum.go
  cmd/temporalSimulator/main.go
Due: none

Added isCommonSolution to queries, added lodash function filtering, fixed breacrumb
  src/queries/ITSolutions/GetOperationalNeed.ts
  src/queries/ITSolutions/GetOperationalSolution.ts
  src/queries/ITSolutions/types/GetOperationalNeed.ts
  src/queries/ITSolutions/types/GetOperationalSolution.ts
  src/views/ModelPlan/TaskList/ITSolutions/AddCustomSolution/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/SelectSolutions/index.test.tsx
  src/views/ModelPlan/TaskList/ITSolutions/SelectSolutions/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/SolutionImplementation/index.test.tsx
  src/views/ModelPlan/TaskList/ITSolutions/SolutionImplementation/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/CheckboxCard/index.stories.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/CheckboxCard/index.test.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionCard/index.stories.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionCard/index.test.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionDetailCard/index.stories.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionDetailCard/index.test.tsx
Due: eslint, tsc-check, check-code-generation

chore: add clarifying comments about is_common_solution
  pkg/models/operational_solution.go
  pkg/storage/SQL/operational_solution/and_possible_get_by_operational_need_id_LOADER.sql
  pkg/storage/SQL/operational_solution/get_by_id.sql
  pkg/storage/SQL/operational_solution/insert.sql
  pkg/storage/SQL/operational_solution/update_by_id.sql
Due: none

Added needed to true if adding custom details to new solution
  src/views/ModelPlan/TaskList/ITSolutions/AddCustomSolution/index.tsx
Due: eslint, tsc-check

Removed unneeded location state, added loading redner
  src/views/ModelPlan/TaskList/ITSolutions/AddCustomSolution/index.test.tsx
  src/views/ModelPlan/TaskList/ITSolutions/AddCustomSolution/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/AddSolution/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/CheckboxCard/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionCard/index.tsx
Due: eslint, tsc-check

Updated unit tests
  src/views/ModelPlan/TaskList/ITSolutions/AddCustomSolution/index.test.tsx
  src/views/ModelPlan/TaskList/ITSolutions/LinkDocuments/index.test.tsx
  src/views/ModelPlan/TaskList/ITSolutions/SolutionImplementation/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/Subtasks/index.test.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/NeedQuestionAndAnswer/mocks.ts
Due: eslint, tsc-check

feat: db_migrate command correctly detects if container has exited now
  scripts/dev
Due: none

Update snapshot
  src/views/ModelPlan/TaskList/ITSolutions/AddCustomSolution/__snapshots__/index.test.tsx.snap
Due: none

feat: commands to either drop column from history table or alter history table to allow nulls
  cmd/temporalSimulator/SQL/alterColumnFromModelPlanHistory.sql
  cmd/temporalSimulator/SQL/removeColumnFromModelPlanHistory.sql
  cmd/temporalSimulator/addColumn.go
  cmd/temporalSimulator/alterEnum.go
  cmd/temporalSimulator/main.go
  cmd/temporalSimulator/removeColumn.go
Due: none

chore: update alterEnum command help statement
  cmd/temporalSimulator/alterEnum.go
Due: none

upgraded logstash config to use pipelines
  config/logstash/connectors/postgresql-42.6.0.jar
  config/logstash/pipeline/change_table/ingest.sql
  config/logstash/pipeline/change_table/settings.conf
  config/logstash/pipeline/temporal_table/ingest.sql
  config/logstash/pipeline/temporal_table/settings.conf
  config/logstash/pipelines.yml
  docker-compose.yml
Due: none

Converted selectSolutions to query param
  src/views/ModelPlan/TaskList/ITSolutions/AddCustomSolution/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/AddCustomSolution/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/AddSolution/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/LinkDocuments/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/Subtasks/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/_components/CheckboxCard/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionCard/index.tsx
Due: eslint, tsc-check

Deprecated remove details//not needed
  src/views/ModelPlan/TaskList/ITSolutions/AddCustomSolution/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionCard/index.tsx
Due: eslint, tsc-check

Fixed incorrect breadcrumb
  src/views/ModelPlan/TaskList/ITSolutions/SelectSolutions/index.tsx
Due: eslint, tsc-check

Operational solution is common field (#572)
  MINT.postman_collection.json
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/operational_solution_test.go
  pkg/graph/schema.graphql
  pkg/models/operational_solution.go
  pkg/storage/SQL/operational_solution/and_possible_get_by_operational_need_id_LOADER.sql
  pkg/storage/SQL/operational_solution/get_by_id.sql
  pkg/storage/SQL/operational_solution/insert.sql
  pkg/storage/SQL/operational_solution/update_by_id.sql
  src/queries/ITSolutions/GetOperationalNeed.ts
  src/queries/ITSolutions/GetOperationalSolution.ts
  src/queries/ITSolutions/types/GetOperationalNeed.ts
  src/queries/ITSolutions/types/GetOperationalSolution.ts
  src/views/ModelPlan/TaskList/ITSolutions/AddCustomSolution/index.test.tsx
  src/views/ModelPlan/TaskList/ITSolutions/AddCustomSolution/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/LinkDocuments/index.test.tsx
  src/views/ModelPlan/TaskList/ITSolutions/SelectSolutions/index.test.tsx
  src/views/ModelPlan/TaskList/ITSolutions/SelectSolutions/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/SolutionImplementation/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/SolutionImplementation/index.test.tsx
  src/views/ModelPlan/TaskList/ITSolutions/SolutionImplementation/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/Subtasks/index.test.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/CheckboxCard/index.stories.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/CheckboxCard/index.test.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/NeedQuestionAndAnswer/mocks.ts
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionCard/index.stories.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionCard/index.test.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionDetailCard/index.stories.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionDetailCard/index.test.tsx
Due: eslint, tsc-check, graphql-schema, check-code-generation

[NOREF] - Replaced location state with query param (#573)
  src/views/ModelPlan/TaskList/ITSolutions/AddCustomSolution/index.test.tsx
  src/views/ModelPlan/TaskList/ITSolutions/AddCustomSolution/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/AddSolution/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/LinkDocuments/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/SelectSolutions/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/Subtasks/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/_components/CheckboxCard/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionCard/index.tsx
Due: eslint, tsc-check

feat: ingestion pipleine named for model_plan_history
  config/logstash/pipeline/model_plan_history/ingest.sql
  config/logstash/pipeline/model_plan_history/settings.conf
  config/logstash/pipeline/temporal_table/ingest.sql
Due: none

feat: some basic examples of removing a value from a enum. Note, trigger doesnt support this currently
  cmd/temporalSimulator/SQL/alterEnumAdd.sql
  cmd/temporalSimulator/SQL/alterEnumRem.sql
  cmd/temporalSimulator/SQL/alterEnumRemExpandedHistory.sql
  cmd/temporalSimulator/SQL/alterEnumRemHistory.sql
  cmd/temporalSimulator/SQL/alterEnumRemStringHistory.sql
  cmd/temporalSimulator/alterEnumAdd.go
  cmd/temporalSimulator/alterEnumRem.go
  cmd/temporalSimulator/main.go
Due: none

chore: update error messages
  cmd/temporalSimulator/alterEnumRem.go
Due: none

Add copy
  src/i18n/en-US/general.ts
Due: eslint, tsc-check

add alert to show error and pass down setError state
  src/components/shared/OktaSignInWidget/index.tsx
  src/views/Login/index.tsx
Due: eslint, tsc-check

[EASI-2628] Okta Error message for incorrect job code (#575)
  src/components/shared/OktaSignInWidget/index.tsx
  src/i18n/en-US/general.ts
  src/views/Login/index.tsx
Due: eslint, tsc-check

duplicate temporal table trigger, so it can be tested modified
  migrations/V96__Temporal_Tables_Modified.sql
Due: none

feat: use audit config table to specify columns to ignore, so there are not empty inserts
  migrations/V96__Temporal_Tables_Modified.sql
Due: none

Extracted Question and Reply into its own component
  src/views/ModelPlan/ReadOnly/Discussions/_components/QuestionAndReply.tsx
Due: eslint, tsc-check

Path conditions:
  dockerfilelint: any of: Dockerfile.*
  eslint: any of: \.(js|jsx|ts|tsx)$
  tsc-check: any of: \.(js|jsx|ts|tsx)$
  graphql-schema: any of: pkg/graph/schema.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts
