Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, tsc-check, graphql-schema, check-code-generation

dockerfilelint:
  name: Lint Dockerfile
  entry: dockerfilelint
  language: node
  additional_dependencies:
  - dockerfilelint

eslint:
  name: Run eslint
  entry: scripts/pre-commit-eslint
  language: script

tsc-check:
  name: Run typescript check
  entry: scripts/pre-commit-tsc
  language: script
  pass_filenames: false

graphql-schema:
  name: Lint GraphQL schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script

check-code-generation:
  name: Run GraphQL code generation
  entry: scripts/pre-commit-check-code-generation
  language: script
  pass_filenames: false

feat: plan discussion data loader implementation
  pkg/graph/resolvers/plan_discussion.go
  pkg/graph/resolvers/plan_discussion_test.go
  pkg/storage/SQL/plan_discussion/get_by_model_plan_id_LOADER.sql
  pkg/storage/loaders/data_loaders.go
  pkg/storage/loaders/plan_discussion_loader.go
  pkg/storage/plan_discussionStore.go
Due: none

feat: remove old plan discussion get by model plan id logic
  pkg/graph/resolvers/plan_discussion.go
  pkg/graph/resolvers/plan_discussion_test.go
  pkg/graph/schema.resolvers.go
  pkg/storage/SQL/plan_discussion/collection_by_model_plan_id.sql
  pkg/storage/loaders/plan_discussion_loader.go
  pkg/storage/plan_discussionStore.go
Due: check-code-generation

feat: discusission reply loader
  pkg/graph/resolvers/plan_discussion.go
  pkg/graph/resolvers/plan_discussion_test.go
  pkg/storage/SQL/discussion_reply/get_by_discussion_id_LOADER.sql
  pkg/storage/loaders/data_loaders.go
  pkg/storage/loaders/discussion_reply_loader.go
  pkg/storage/plan_discussionStore.go
Due: none

feat: remove old disucssion reply non loader logic
  pkg/graph/resolvers/plan_discussion.go
  pkg/graph/resolvers/plan_discussion_test.go
  pkg/graph/schema.resolvers.go
  pkg/storage/SQL/discussion_reply/collection_by_discussion_id.sql
  pkg/storage/loaders/discussion_reply_loader.go
  pkg/storage/plan_discussionStore.go
Due: check-code-generation

[NOREF] Add GitHub action to check for duplicate migration prefixes (#495)
  .github/workflows/check_migrations.yml
Due: none

Moved over Manage Subtask functions and created Union types
  src/views/ModelPlan/TaskList/ITSolutions/Subtasks/index.tsx
Due: eslint, tsc-check

wip: statetrace impl research spike
  .envrc
  docker-compose.yml
Due: none

Remove cache:true since caching is on by default in setup-go v4
  .github/workflows/run_tests.yml
Due: none

Add check to not click disabled button
  cypress/e2e/itSolutions.js
Due: eslint, tsc-check

Retry login test
  cypress/e2e/login.spec.js
Due: eslint, tsc-check

so far so good
  src/views/ModelPlan/TaskList/ITSolutions/Subtasks/index.tsx
Due: eslint, tsc-check

Create subtasks works now
  src/views/ModelPlan/TaskList/ITSolutions/Subtasks/index.tsx
Due: eslint, tsc-check

remove console log
  src/views/ModelPlan/TaskList/ITSolutions/Subtasks/index.tsx
Due: eslint, tsc-check

redo routes
  src/views/ModelPlan/TaskList/ITSolutions/index.tsx
Due: eslint, tsc-check

merging the manage subtask componet over
  src/views/ModelPlan/TaskList/ITSolutions/Subtasks/index.tsx
Due: eslint, tsc-check

feat: data loader for operational solution subtask
  pkg/graph/resolvers/operational_solution_subtask.go
  pkg/graph/resolvers/operational_solution_subtask_test.go
  pkg/storage/SQL/operational_solution_subtask/get_by_solution_id_LOADER.sql
  pkg/storage/loaders/data_loaders.go
  pkg/storage/loaders/operational_solution_subtask_loader.go
  pkg/storage/operational_solution_subtaskStore.go
Due: none

chore: remove old get by solution id logic for solutions subtask
  pkg/graph/resolvers/operational_solution_subtask.go
  pkg/graph/resolvers/operational_solution_subtask_test.go
  pkg/graph/schema.resolvers.go
  pkg/storage/SQL/operational_solution_subtask/get_by_solution_id.sql
  pkg/storage/operational_solution_subtaskStore.go
Due: check-code-generation

feat: plan collaborator data loader
  pkg/graph/resolvers/plan_collaborator.go
  pkg/graph/resolvers/plan_collaborator_test.go
  pkg/storage/SQL/plan_collaborator/get_by_model_plan_id_LOADER.sql
  pkg/storage/loaders/data_loaders.go
  pkg/storage/loaders/plan_collaborator_loader.go
  pkg/storage/plan_collaboratorStore.go
Due: none

remove ManageSubtask since it si no longer needed
  src/views/ModelPlan/TaskList/ITSolutions/ManageSubtasks/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/ManageSubtasks/index.test.tsx
  src/views/ModelPlan/TaskList/ITSolutions/ManageSubtasks/index.tsx
Due: eslint, tsc-check

chore: remove old get by model plan id logic for collaborators, and fix data loader logic
  pkg/graph/resolvers/plan_collaborator.go
  pkg/graph/resolvers/plan_collaborator_test.go
  pkg/graph/schema.resolvers.go
  pkg/storage/SQL/plan_collaborator/fetch_by_model_plan_id.sql
  pkg/storage/loaders/plan_collaborator_loader.go
  pkg/storage/plan_collaboratorStore.go
Due: check-code-generation

more type guarding
  src/views/ModelPlan/TaskList/ITSolutions/Subtasks/index.tsx
Due: eslint, tsc-check

code clean up
  src/views/ModelPlan/TaskList/ITSolutions/Subtasks/index.tsx
Due: eslint, tsc-check

Easi 1797/cypress in ci pt 2 (#493)
  .github/workflows/build_application_images.yml
  .github/workflows/deploy_pipeline.yml
  .github/workflows/manual_deploy.yml
  .github/workflows/pr_checks.yml
  .github/workflows/run_tests.yml
  Dockerfile
  Dockerfile.client
  cypress/e2e/characteristics.spec.js
  cypress/e2e/collaborator.spec.js
  cypress/e2e/itSolutions.js
  cypress/e2e/login.spec.js
  cypress/e2e/modelPlan.spec.js
  cypress/e2e/participantsAndProviders.spec.js
  cypress/e2e/prepareForClearance.js
  cypress/support/login.js
  docker-compose.ci_server_test.yml
  docker-compose.cypress_ci.yml
  docker-compose.cypress_local.yml
  docker-compose.override.yml
  package.json
  scripts/dev
  yarn.lock
Due: dockerfilelint, eslint, tsc-check

workin on the tests
  src/views/ModelPlan/TaskList/ITSolutions/Subtasks/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/Subtasks/index.test.tsx
Due: eslint, tsc-check

fixing console errors in tests
  src/views/ModelPlan/TaskList/ITSolutions/AddCustomSolution/index.test.tsx
  src/views/ModelPlan/TaskList/ITSolutions/LinkDocuments/index.test.tsx
Due: eslint, tsc-check

fixing odd modal scrolling issue
  src/index.scss
Due: none

wip: ELK stack monitoring postgres for changes
  config/connectors/postgresql-42.6.0.jar
  config/elasticsearch/certs/http.p12
  config/elasticsearch/certs/http_ca.crt
  config/elasticsearch/certs/transport.p12
  config/elasticsearch/elasticsearch.keystore
  config/elasticsearch/elasticsearch.yml
  config/elasticsearch/log4j2.properties
  config/logstash/logstash.conf
  docker-compose.yml
Due: none

wip: ELK stack monitoring postgres for changes
  config/logstash/logstash.conf
Due: none

chore: updated gql
  pkg/graph/schema.resolvers.go
Due: check-code-generation

Skip NDA query if not logged in
  src/views/UserInfoWrapper/index.tsx
Due: eslint, tsc-check

add condtional test id
  src/views/ModelPlan/TaskList/ITSolutions/Subtasks/index.tsx
Due: eslint, tsc-check

feat: add @hasAnyRole(roles: [MINT_USER, MINT_MAC]) to ndaInfo query
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
Due: graphql-schema, check-code-generation

Update test and snaps
  src/views/ModelPlan/TaskList/ITSolutions/Subtasks/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/Subtasks/index.test.tsx
Due: eslint, tsc-check

[NOREF] Skip NDA query if not logged in (#507)
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  src/views/UserInfoWrapper/index.tsx
Due: eslint, tsc-check, graphql-schema, check-code-generation

feat: added statetrace to stack
  docker-compose.yml
Due: none

Add a cypress wait just in case that's what this test needs to not flake
  cypress/e2e/itSolutions.js
Due: eslint, tsc-check

feat: add @hasAnyRole(roles: [MINT_USER, MINT_MAC]) to all queries except current user
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
Due: graphql-schema, check-code-generation

wip: pushing changes up for sync
  config/elasticsearch/elasticsearch.yml
  config/logstash/logstash.conf
  docker-compose.yml
Due: none

[NOREF] Cypress debug for flaky test (#508)
  cypress/e2e/itSolutions.js
Due: eslint, tsc-check

Path conditions:
  dockerfilelint: any of: Dockerfile.*
  eslint: any of: \.(js|jsx|ts|tsx)$
  tsc-check: any of: \.(js|jsx|ts|tsx)$
  graphql-schema: any of: pkg/graph/schema.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts
