Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-cedar-swagger

Path conditions:
  dockerfilelint: any of: Dockerfile.*
  eslint: any of: \.(js|jsx|ts|tsx)$
  graphql-schema: any of: pkg/graph/schema.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts
  check-intake-schema-generation: any of: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json|pkg/cedar/intake/translation/constants\.go
  preprocess-cedar-swagger: any of: pkg/cedar/intake/cedar_intake.json|pkg/cedar/core/cedar_core.json

it works for now
  src/views/ModelPlan/ReadOnly/index.tsx
Due: eslint

Add PREPARE_COR_CLEARANCE as a lockable section
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  src/types/graphql-global-types.ts
Due: eslint, graphql-schema, check-code-generation

rename key and name in SQL to non reserved names
  migrations/V24__Add_Possible_Operational_Need.sql
  migrations/V26__Add_Possible_Operational_Solution.sql
  migrations/V28__Add_Possible_Operational_Need_Options.sql
  migrations/V29__Add_Possible_Operational_Solution_Options.sql
  migrations/V31__Add_Possible_Need_Solution_Link_Functions.sql
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/models/operational_need.go
  pkg/models/operational_solution.go
  pkg/models/possible_operational_need.go
  pkg/models/possible_operational_solution.go
  pkg/storage/SQL/operational_need_and_possible_collection_get_by_model_plan_id.sql
  pkg/storage/SQL/operational_need_collection_get_by_model_plan_id.sql
  pkg/storage/SQL/operational_need_get_by_model_plan_id_and_other_type.sql
  pkg/storage/SQL/operational_need_get_by_model_plan_id_and_type.sql
  pkg/storage/SQL/operational_need_insert_or_update.sql
  pkg/storage/SQL/operational_need_insert_or_update_other.sql
  pkg/storage/SQL/operational_solution_collection_get_by_operational_need_id.sql
  pkg/storage/SQL/operational_solution_get_by_operational_need_id_and_other_type.sql
  pkg/storage/SQL/operational_solution_get_by_operational_need_id_and_type.sql
  pkg/storage/SQL/operational_solution_insert_or_update.sql
  pkg/storage/SQL/operational_solution_insert_or_update_other.sql
  pkg/storage/SQL/possible_operational_need_collection_get_by_model_plan_id.sql
  pkg/storage/SQL/possible_operational_solution_collection_get_by_need_type.sql
  pkg/storage/SQL/possible_operational_solution_collection_get_by_operational_need_id.sql
  pkg/storage/operational_needStore.go
  pkg/storage/operational_solutionStore.go
  pkg/storage/possible_operational_solutionStore.go
Due: graphql-schema, check-code-generation

[NOREF] Add PREPARE_FOR_CLEARANCE as a lockable section (#267)
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  src/types/graphql-global-types.ts
Due: eslint, graphql-schema, check-code-generation

Init prepare for clearance
  src/i18n/en-US/modelPlanTaskList.ts
  src/queries/GetModelPlan.ts
  src/queries/types/GetModelPlan.ts
  src/types/modelPlan.ts
  src/views/ModelPlan/TaskList/_components/TaskListButton/index.tsx
  src/views/ModelPlan/TaskList/_components/TaskListItem/index.tsx
  src/views/ModelPlan/TaskList/index.tsx
Due: eslint, check-code-generation

Removed unused commented code
  src/views/ModelPlan/TaskList/index.tsx
Due: eslint

Add more to the copy doc
  src/i18n/en-US/readOnly/modelSummary.ts
Due: eslint

Display formatted CRTDLs
  src/views/ModelPlan/ReadOnly/index.tsx
Due: eslint

show the third item
  src/views/ModelPlan/TaskList/index.tsx
Due: eslint

Updated tests and snaps
  src/views/ModelPlan/CRTDL/CRTDLs/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/index.test.tsx
Due: eslint

update SQL fluff rules
  .sqlfluff
Due: none

Query to get ready for clearance information by model_plan_id
  pkg/storage/SQL/prepare_for_clearance_get_by_model_plan_id.sql
Due: none

Add isCollaborator to query and type
  src/queries/CRTDL/GetCRDTLs.ts
  src/queries/CRTDL/types/GetCRTDLs.ts
Due: eslint, check-code-generation

Hide Actions column if user does not have edit access
  src/views/ModelPlan/CRTDL/CRTDLs/table.tsx
Due: eslint

not hidden when user has access
  src/views/ModelPlan/CRTDL/CRTDLs/table.tsx
Due: eslint

test updates
  src/views/ModelPlan/ReadOnly/CRTDLs/index.test.tsx
Due: eslint

Update failing tests
  src/views/ModelPlan/CRTDL/CRTDLs/index.test.tsx
  src/views/ModelPlan/CRTDL/CRTDLs/table.test.tsx
Due: eslint

OperationalNeed insert test
  pkg/graph/resolvers/operational_need_test.go
  pkg/graph/resolvers/operational_solution_test.go
  pkg/graph/resolvers/resolver_test.go
  pkg/models/operational_solution.go
Due: none

PFC home page and mutations done
  src/i18n/en-US/draftModelPlan/prepareForClearance.ts
  src/i18n/en-US/index.ts
  src/queries/PrepareForClearance/GetClearanceStatuses.ts
  src/queries/PrepareForClearance/UpdatePrepareForClearance.ts
  src/queries/PrepareForClearance/types/GetClearanceStatuses.ts
  src/queries/PrepareForClearance/types/UpdatePrepareForClearance.ts
  src/views/App/index.tsx
  src/views/ModelPlan/TaskList/PrepareForClearance/Checklist/index.tsx
  src/views/ModelPlan/TaskList/PrepareForClearance/index.tsx
  src/views/ModelPlan/TaskList/index.tsx
Due: eslint, check-code-generation

tests for insert & update OpNeed. CTE to make it possible to return name from join on insert
  pkg/graph/resolvers/operational_need_test.go
  pkg/storage/SQL/operational_need_insert_or_update.sql
Due: none

Prepare for clearance GQL + tests
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/resolvers/prepare_for_clearance.go
  pkg/graph/resolvers/prepare_for_clearance_test.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/prepare_for_clearance.go
  pkg/storage/prepare_for_clearance.go
Due: graphql-schema, check-code-generation

op solution insert now returns the solution type name as well
  pkg/storage/SQL/operational_solution_insert_or_update.sql
Due: none

finish operational need unit test. Remove unused resolver, SQL and store methods.
  pkg/graph/resolvers/operational_need.go
  pkg/graph/resolvers/operational_need_test.go
  pkg/storage/SQL/operational_need_and_possible_collection_get_by_model_plan_id.sql
  pkg/storage/operational_needStore.go
Due: none

remove unused op solution resolver and store methods
  pkg/graph/resolvers/operational_solution.go
  pkg/graph/resolvers/operational_solution_test.go
  pkg/graph/schema.resolvers.go
  pkg/storage/operational_solutionStore.go
Due: check-code-generation

Make most of the OperationalSolution Unit Tests
  pkg/graph/resolvers/operational_solution_test.go
Due: none

Added go integration test for ready for clearance
  pkg/graph/resolvers/prepare_for_clearance_test.go
Due: none

PFC finished checklist
  src/i18n/en-US/draftModelPlan/prepareForClearance.ts
  src/views/ModelPlan/TaskList/PrepareForClearance/Checklist/index.tsx
Due: eslint

remove unused import
  src/views/ModelPlan/CRTDL/CRTDLs/table.test.tsx
Due: eslint

finish unit test for op sol. Correct SQL issue caused by noqa : L026 syntax
  pkg/graph/resolvers/operational_solution_test.go
  pkg/storage/SQL/possible_operational_solution_collection_get_by_need_type.sql
Due: none

update postman collection
  MINT.postman_collection.json
Due: none

PFC finished basics
  src/i18n/en-US/draftModelPlan/basics.ts
  src/i18n/en-US/draftModelPlan/prepareForClearance.ts
  src/queries/PrepareForClearance/UpdateClearanceBasics.ts
  src/queries/PrepareForClearance/types/UpdateClearanceBasics.ts
  src/views/App/index.tsx
  src/views/ModelInfoWrapper/index.tsx
  src/views/ModelPlan/ReadOnly/ModelBasics/index.tsx
  src/views/ModelPlan/TaskList/PrepareForClearance/Basics/index.tsx
  src/views/ModelPlan/TaskList/PrepareForClearance/Checklist/index.tsx
  src/views/ModelPlan/TaskList/PrepareForClearance/index.tsx
Due: eslint, check-code-generation

Incorporated pfc status branch
  src/queries/GetModelPlan.ts
  src/queries/types/GetModelPlan.ts
  src/types/graphql-global-types.ts
  src/types/modelPlan.ts
  src/views/ModelPlan/TaskList/_components/TaskListButton/index.tsx
  src/views/ModelPlan/TaskList/_components/TaskListItem/index.tsx
  src/views/ModelPlan/TaskList/index.tsx
Due: eslint, check-code-generation

update duration unit test
  pkg/graph/resolvers/operational_solution_test.go
Due: none

Explicitly close the modal
  src/views/ModelPlan/CRTDL/CRTDLs/table.tsx
Due: eslint

update copy and styles
  src/i18n/en-US/modelPlanTaskList.ts
  src/views/ModelPlan/TaskList/_components/TaskListSideNav/index.tsx
Due: eslint

Remove unnecessary data wrapper
  src/views/ModelPlan/TaskList/index.tsx
Due: eslint

Revert "Remove unnecessary data wrapper"
  src/views/ModelPlan/TaskList/index.tsx
Due: eslint

[NOREF] Fix (or silence) typescript errors (#263)
  .pre-commit-config.yaml
  scripts/pre-commit-tsc
  src/components/FavoriteCard/index.test.tsx
  src/components/NavigationBar/index.test.tsx
  src/i18n/en-US/draftModelPlan/finalizeModelPlan.ts
  src/utils/tableSort.test.ts
  src/views/ModelPlan/Collaborators/AddCollaborator/index.tsx
  src/views/ModelPlan/Discussions/index.tsx
  src/views/ModelPlan/TaskList/ITTools/PageEight/index.test.tsx
  src/views/ModelPlan/TaskList/ITTools/PageFive/index.test.tsx
  src/views/ModelPlan/TaskList/ITTools/PageFour/index.test.tsx
  src/views/ModelPlan/TaskList/ITTools/PageNine/index.test.tsx
  src/views/ModelPlan/TaskList/ITTools/PageOne/index.test.tsx
  src/views/ModelPlan/TaskList/ITTools/PageSeven/index.test.tsx
  src/views/ModelPlan/TaskList/ITTools/PageSix/index.test.tsx
  src/views/ModelPlan/TaskList/ITTools/PageThree/index.test.tsx
  src/views/ModelPlan/TaskList/ITTools/PageTwo/index.test.tsx
  src/views/ModelPlan/TaskList/_components/TaskListButton/index.test.tsx
  src/views/ModelPlan/TaskList/index.test.tsx
  src/views/ModelPlan/TaskList/index.tsx
  src/views/SubscriptionHandler/index.test.tsx
  src/views/SubscriptionWrapper/index.test.tsx
Due: eslint

[NOREF] Prepare for clearance statuses + GQL (#270)
  .sqlfluff
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/resolvers/prepare_for_clearance.go
  pkg/graph/resolvers/prepare_for_clearance_test.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/prepare_for_clearance.go
  pkg/storage/SQL/prepare_for_clearance_get_by_model_plan_id.sql
  pkg/storage/prepare_for_clearance.go
Due: graphql-schema, check-code-generation

Create message and pass it to home screen
  src/i18n/en-US/modelPlanTaskList.ts
  src/views/ModelPlan/TaskList/_components/TaskListSideNav/index.tsx
Due: eslint
