Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, tsc-check, graphql-schema, check-code-generation

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-yaml
        name: Check YAML formatting
      - id: detect-private-key
        name: Check for private keys
      - id: end-of-file-fixer
        files: \.(sql|scss|md|js|ts|tsx|go|yml|yaml)$
        name: Add newlines to ends of files
        exclude: src/gql/gen/.* # Ignore generated FE files

  - repo: https://github.com/detailyang/pre-commit-shell
    rev: v1.0.6
    hooks:
      - id: shell-lint
        name: Lint shell files

  - repo: https://github.com/trussworks/pre-commit-hooks
    rev: v1.1.1
    hooks:
      - id: mdspell
        name: Spellcheck Markdown files
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor
          )$

  - repo: https://github.com/Bahjat/pre-commit-golang
    rev: v1.0.3
    hooks:
      - id: go-fmt-import
        name: Run "goimports" on go files
        args: ['-local', 'github.com/cmsgov/mint-app']
        files: .*\.go$
        exclude: >
          (?x)^(
            .*gen/.*|
            .*generated/.*|
            .*models_gen.go|
          )$

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.59.1
    hooks:
      - id: golangci-lint
        name: Lint go files
        args: ['--concurrency', '-1', '-v'] # Run with all CPUs

  - repo: local
    hooks:
    - id: dockerfilelint
      name: Lint Dockerfile
      entry: dockerfilelint
      language: node
      additional_dependencies: [dockerfilelint]
      files: Dockerfile.*

  - repo: local
    hooks:
      - id: eslint
        name: Run eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$
        exclude: (\.(d\.ts)$)|(\.storybook)|(serviceWorker\.ts)|(src/gql/gen/.*) # This should match the .eslintrc "ignorePatterns". Change one, change the other!

  - repo: local
    hooks:
      - id: tsc-check
        name: Run typescript check
        entry: scripts/pre-commit-tsc
        language: script
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false

  - repo: local
    hooks:
      - id: graphql-schema
        name: Lint GraphQL schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: "pkg/graph/schema/.*\\.graphql"
        pass_filenames: false

  - repo: local
    hooks:
      - id: check-code-generation
        name: Run GraphQL code generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: "pkg/graph/schema\\.graphql|pkg/graph/schema\\.resolvers\\.go|src/queries/.*\\.ts|src/queriesCodegen/.*\\.ts"
        pass_filenames: false

  - repo: https://github.com/awslabs/git-secrets
    rev: b9e96b3212fa06aea65964ff0d5cda84ce935f38
    hooks:
      - id: git-secrets
        name: Check for committed secrets
        entry: git-secrets --pre_commit_hook

  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 2.0.7
    hooks:
      - id: sqlfluff-fix
        exclude: ^migrations/
      - id: sqlfluff-lint
        exclude: ^migrations/

[Clean up]
  src/i18n/en-US/modelPlan/modelToOperations.ts
Due: eslint, tsc-check

add infra, update plan discussion tagged user flow first for testing
  cmd/test_email/tag_emails.go
  pkg/email/plan_discussion_tagged_user.go
  pkg/email/templates/plan_discussion_tagged_user_body.html
  pkg/graph/resolvers/plan_discussion.go
  pkg/models/plan_discussion.go
Due: none

add to solution tagged flow
  cmd/test_email/tag_emails.go
  pkg/email/plan_discussion_tagged_solution.go
  pkg/email/templates/plan_discussion_tagged_solution_body.html
  pkg/graph/resolvers/plan_discussion.go
Due: none

fixed timeout issue
  pkg/worker/worker.go
Due: none

Fix YAML syntax error and restore Faktory connection keepalive fix
  .github/workflows/manual_deploy_faktory.yml
  pkg/worker/worker.go
Due: none

unskip the login spec
  cypress/e2e/login.spec.js
Due: eslint, tsc-check

[Update help needed type dropdowns]
  migrations/V269__Add_CTAT_Enums.sql
  pkg/graph/generated/generated.go
  pkg/graph/schema/types/ctat_request.graphql
  src/gql/generated/graphql.ts
  src/i18n/en-US/helpAndKnowledge/contractAssistance.ts
Due: eslint, tsc-check, graphql-schema

rewrite login spec
  .github/workflows/run_tests.yml
  cypress/support/login.js
  src/features/Login/index.tsx
Due: eslint, tsc-check

add topic to discussion reply created originator email flow
  cmd/test_email/discussion_reply_emails.go
  pkg/email/discussion_reply_created_originator.go
  pkg/email/templates/discussion_reply_created_originator_body.html
  pkg/graph/resolvers/discussion_emails.go
Due: none

add topic to New plan discussion created email flow
  pkg/email/plan_discussion_created.go
  pkg/email/templates/plan_discussion_created_body.html
Due: none

[Add status info to panel]
  src/components/CollapsableLink/index.tsx
  src/features/HelpAndKnowledge/ContractAssistancePage/_components/CTATSidePanel/CtatTicketViewPanel/CtatTicketAdminForm.tsx
  src/features/HelpAndKnowledge/ContractAssistancePage/_components/CTATSidePanel/CtatTicketViewPanel/CtatTicketViewContent.tsx
  src/i18n/en-US/helpAndKnowledge/contractAssistance.ts
Due: eslint, tsc-check

[Update snapshot]
  src/features/ModelPlan/ModelToOperations/_components/MilestoneNotes/__snapshots__/index.test.tsx.snap
Due: none

[Prevent users from choosing past date]
  src/features/HelpAndKnowledge/ContractAssistancePage/_components/CTATSidePanel/CtatTicketForm.tsx
  src/i18n/en-US/helpAndKnowledge/contractAssistance.ts
  src/utils/date.ts
Due: eslint, tsc-check

[Add remove file function. and ui]
  src/components/FileUpload/index.tsx
  src/features/HelpAndKnowledge/ContractAssistancePage/_components/CTATSidePanel/SupportingDocumentsUpload.tsx
  src/i18n/en-US/modelPlan/documents.ts
Due: eslint, tsc-check

attempt lodash resolution
  package.json
Due: none

[NOREF] attempt lodash resolution (#2439)
  package.json
Due: none

version bump
  .github/workflows/manual_deploy_faktory.yml
  Report_Jul_28_2026_1002_AM_2026_07_28T15_02_45Z.csv
Due: none

[MINT-3829] Update MTO Filter Section (#2437)
  src/features/ModelPlan/ModelToOperations/_components/ActionsTable/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/ModelToOperations/_components/ActionsTable/index.tsx
  src/features/ModelPlan/ModelToOperations/_components/MTOTableFilters/index.test.tsx
  src/features/ModelPlan/ModelToOperations/_components/MTOTableFilters/index.tsx
  src/i18n/en-US/modelPlan/modelToOperations.ts
Due: eslint, tsc-check

Noref/fix faktory deploy (#2428)
  .github/workflows/manual_deploy_faktory.yml
  Report_Jul_28_2026_1002_AM_2026_07_28T15_02_45Z.csv
  pkg/worker/worker.go
Due: none

removed accidentally commited csv doc report
  Report_Jul_28_2026_1002_AM_2026_07_28T15_02_45Z.csv
Due: none

[minor tweaks]
  src/components/FileUpload/index.test.tsx
  src/components/FileUpload/index.tsx
  src/features/HelpAndKnowledge/ContractAssistancePage/_components/CTATSidePanel/CtatTicketForm.tsx
  src/utils/date.ts
Due: eslint, tsc-check

added apk update patch for faktory image
  Dockerfile.faktory
Due: dockerfilelint

[Update missing enum spot]
  pkg/models/ctat_enums.go
Due: none

[Fix broken test]
  cypress/e2e/ctat.spec.js
Due: eslint, tsc-check

[MINT-3838] Multi Fixes (#2441)
  cypress/e2e/ctat.spec.js
  migrations/V269__Add_CTAT_Enums.sql
  pkg/graph/generated/generated.go
  pkg/graph/schema/types/ctat_request.graphql
  pkg/models/ctat_enums.go
  src/components/CollapsableLink/index.tsx
  src/components/FileUpload/index.test.tsx
  src/components/FileUpload/index.tsx
  src/features/HelpAndKnowledge/ContractAssistancePage/_components/CTATSidePanel/CtatTicketForm.tsx
  src/features/HelpAndKnowledge/ContractAssistancePage/_components/CTATSidePanel/CtatTicketViewPanel/CtatTicketAdminForm.tsx
  src/features/HelpAndKnowledge/ContractAssistancePage/_components/CTATSidePanel/CtatTicketViewPanel/CtatTicketViewContent.tsx
  src/features/HelpAndKnowledge/ContractAssistancePage/_components/CTATSidePanel/SupportingDocumentsUpload.tsx
  src/features/ModelPlan/ModelToOperations/_components/MilestoneNotes/__snapshots__/index.test.tsx.snap
  src/gql/generated/graphql.ts
  src/i18n/en-US/helpAndKnowledge/contractAssistance.ts
  src/i18n/en-US/modelPlan/documents.ts
  src/utils/date.ts
Due: eslint, tsc-check, graphql-schema

removed accidentally commited csv doc report (#2442)
  Report_Jul_28_2026_1002_AM_2026_07_28T15_02_45Z.csv
Due: none

run yarn
  yarn.lock
Due: none

run yarn (#2444)
  yarn.lock
Due: none

working through new task added email
  migrations/V269__Add_New_Task_Added_enum.sql
  pkg/email/plan_task_emails.go
  pkg/email/templates/plan_task_new_available_body.html
  pkg/email/templates/plan_task_new_available_subject.html
  pkg/graph/generated/generated.go
  pkg/graph/schema/types/activity.graphql
  src/gql/generated/graphql.ts
Due: eslint, tsc-check, graphql-schema

add access banner
  pkg/email/templates/plan_task_new_available_body.html
  pkg/email/templates/shared_access_banner.html
Due: none

add `IsModelLead` var
  pkg/email/plan_task_emails.go
Due: none

[Update component name]
  src/components/FilterButtonWithModal/index.scss
  src/components/FilterButtonWithModal/index.test.tsx
  src/components/FilterButtonWithModal/index.tsx
  src/features/MilestoneLibrary/MilestoneCardGroup/index.tsx
  src/features/MilestoneLibrary/MilestoneFilter/getMilestoneFilters.tsx
Due: eslint, tsc-check

[WIP]
  src/features/ModelPlan/ModelToOperations/_components/MTOTableFilters/getMTOTableFilters.ts
  src/features/ModelPlan/ModelToOperations/_components/MTOTableFilters/index.tsx
  src/i18n/en-US/modelPlan/modelToOperations.ts
Due: eslint, tsc-check

wire up to tests
  cmd/test_email/main.go
  cmd/test_email/plan_task_emails.go
  pkg/email/templates/plan_task_new_available_body.html
Due: none

[Remove option per request]
  cmd/dbseed/ctat.go
  migrations/V269__Add_CTAT_Enums.sql
  pkg/graph/generated/generated.go
  pkg/graph/schema/types/ctat_request.graphql
  pkg/models/ctat_enums.go
  src/gql/generated/graphql.ts
  src/i18n/en-US/helpAndKnowledge/contractAssistance.ts
Due: eslint, tsc-check, graphql-schema

feat: remove cor_transcript option
  cmd/dbseed/ctat.go
  migrations/V269__Add_CTAT_Enums.sql
  pkg/graph/generated/generated.go
  pkg/graph/schema/types/ctat_request.graphql
  pkg/models/ctat_enums.go
  src/gql/generated/graphql.ts
  src/i18n/en-US/helpAndKnowledge/contractAssistance.ts
Due: eslint, tsc-check, graphql-schema

merge and bump sql num
  migrations/V273__Add_New_Task_Added_enum.sql
Due: none
