Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, tsc-check, graphql-schema, check-code-generation

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch
        args: [
          '--pattern', '^(?!((main)|(feature\/EASI-\d{1,5})|((EASI-\d{1,5}|NOREF|dependabot)\/[a-zA-Z0-9\-\._/]+))$).*',
          '--branch', '' # Adding this to remove the default protection on `main` so that CI checks can pass
        ]
        name: Enforce branch naming patterns
        description: Enforces branch naming policy. Allowed branch patterns are 'EASI-#', 'EASI-#/*', 'feature/EASI-#', 'NOREF/*', and 'dependabot/*'. A feature branch like feature/EASI-2020 would have branches like EASI-2020/frontend and EASI-2020/backend merge into it.
      - id: check-yaml
        name: Check YAML formatting
      - id: detect-private-key
        name: Check for private keys
      - id: end-of-file-fixer
        files: \.(sql|scss|md|js|ts|tsx|go|yml|yaml)$
        name: Add newlines to ends of files

  - repo: https://github.com/detailyang/pre-commit-shell
    rev: v1.0.6
    hooks:
      - id: shell-lint
        name: Lint shell files

  - repo: https://github.com/trussworks/pre-commit-hooks
    rev: v1.1.1
    hooks:
      - id: mdspell
        name: Spellcheck Markdown files
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor
          )$

  - repo: https://github.com/Bahjat/pre-commit-golang
    rev: v1.0.1
    hooks:
      - id: go-fmt-import
        name: Run "goimports" on go files
        args: ['-local', 'github.com/cmsgov/mint-app']
        files: .*\.go$
        exclude: >
          (?x)^(
            .*gen/.*|
            .*generated/.*|
            .*models_gen.go|
          )$

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.48.0
    hooks:
      - id: golangci-lint
        name: Lint go files
        args: ['--concurrency', '-1'] # Run with all CPUs

  - repo: local
    hooks:
    - id: dockerfilelint
      name: Lint Dockerfile
      entry: dockerfilelint
      language: node
      additional_dependencies: [dockerfilelint]
      files: Dockerfile.*

  - repo: local
    hooks:
      - id: eslint
        name: Run eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$

  - repo: local
    hooks:
      - id: tsc-check
        name: Run typescript check
        entry: scripts/pre-commit-tsc
        language: script
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false

  - repo: local
    hooks:
      - id: graphql-schema
        name: Lint GraphQL schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: pkg/graph/schema.graphql

  - repo: local
    hooks:
      - id: check-code-generation
        name: Run GraphQL code generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: "pkg/graph/schema\\.graphql|pkg/graph/schema\\.resolvers\\.go|src/queries/.*\\.ts"
        pass_filenames: false

  - repo: https://github.com/awslabs/git-secrets
    rev: b9e96b3212fa06aea65964ff0d5cda84ce935f38
    hooks:
      - id: git-secrets
        name: Check for committed secrets
        entry: git-secrets --pre_commit_hook

  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 1.2.1
    hooks:
      - id: sqlfluff-fix
        exclude: ^scripts/data/
      - id: sqlfluff-lint
        exclude: ^scripts/data/

Reworked route state management for modal
  src/hooks/usePreviousLocation.tsx
  src/views/App/index.tsx
  src/views/App/scrollConfig.ts
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Modal/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/_components/Contact/index.stories.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/_components/Contact/index.test.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionHelpCard/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionHelpCard/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionHelpCardGroup/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionHelpCardGroup/index.stories.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionHelpCardGroup/index.test.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionHelpCardGroup/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/index.tsx
  src/views/HelpAndKnowledge/index.tsx
Due: eslint, tsc-check

Added forcePage to maintain page on refresh
  src/hooks/useModalSroll.tsx
  src/hooks/usePreviousLocation.tsx
  src/views/App/scrollConfig.ts
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionHelpCardGroup/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/index.tsx
Due: eslint, tsc-check

Reworked route state management for modal
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Modal/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/index.tsx
Due: eslint, tsc-check

Adjusted modal route initial state
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Modal/index.tsx
Due: eslint, tsc-check

Adjusted comments for clarity
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Modal/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/index.test.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/index.tsx
Due: eslint, tsc-check

Changes for renaming cedar query
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  src/components/CedarContactSelect/index.test.tsx
  src/hooks/useCedarContactLookup.tsx
  src/queries/GetCedarUser.ts
  src/queries/SearchOktaUsers.ts
  src/queries/types/GetCedarUser.ts
  src/queries/types/SearchOktaUsers.ts
Due: eslint, tsc-check, graphql-schema, check-code-generation

Updated references of CedarContacts to OktaUsers
  src/components/OktaUserSelect/__snapshots__/index.test.tsx.snap
  src/components/OktaUserSelect/index.scss
  src/components/OktaUserSelect/index.test.tsx
  src/components/OktaUserSelect/index.tsx
  src/hooks/useOktaUserLookup.tsx
  src/queries/SearchOktaUsers.ts
  src/queries/types/SearchOktaUsers.ts
  src/views/ModelPlan/Collaborators/AddCollaborator/index.tsx
Due: eslint, tsc-check, check-code-generation

Update BE resolver
  pkg/graph/schema.resolvers.go
Due: check-code-generation

Updated commonName input to searchTerm
  src/hooks/useOktaUserLookup.tsx
Due: eslint, tsc-check

Update postman collection
  MINT.postman_collection.json
Due: none

Removed unused prev state
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionHelpCard/index.tsx
Due: eslint, tsc-check

Refactored category mapping
  src/data/operationalSolutionCategories.ts
  src/i18n/en-US/helpAndKnowledge/helpAndKnowledge.ts
  src/views/HelpAndKnowledge/SolutionsHelp/_components/CategoryFooter/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionCategories/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionHelpCard/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionsHeader/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionsTag/index.stories.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionsTag/index.test.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/index.test.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/solutionsMap.ts
Due: eslint, tsc-check

Init structure for passing in solution component as props
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/About/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Modal/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/PointsOfContact/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/4Innovation/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/index.ts
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Timeline/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/index.test.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/solutionsMap.tsx
Due: eslint, tsc-check

Updated solution tag test
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionsTag/index.test.tsx
Due: eslint, tsc-check

Added contact role and more contacts link
  src/i18n/en-US/helpAndKnowledge/helpAndKnowledge.ts
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Modal/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/_components/Contact/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/_components/Contact/index.stories.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/_components/Contact/index.test.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/_components/Contact/index.tsx
Due: eslint, tsc-check

[EASI-2666] Updated existing_models Data to Current Spec (#474)
  migrations/V78__Update_Existing_Model_Table_Data.sql
Due: none

Set up generic component type for modal views
  src/i18n/en-US/helpAndKnowledge/helpAndKnowledge.ts
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/About/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/PointsOfContact/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/CentralizedDataExchange/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/about.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/pointsOfContact.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/timeline.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/index.ts
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Timeline/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionHelpCard/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/index.test.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/solutionsMap.tsx
Due: eslint, tsc-check

Added scroll stop on background view when modal open
  src/i18n/en-US/helpAndKnowledge/helpAndKnowledge.ts
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Modal/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/about.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/solutionsMap.tsx
Due: eslint, tsc-check

Added more work on about info
  src/i18n/en-US/helpAndKnowledge/helpAndKnowledge.ts
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Modal/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/about.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/solutionsMap.tsx
Due: eslint, tsc-check

Fixed param not maintained on modal close
  src/views/HelpAndKnowledge/SolutionsHelp/index.tsx
Due: eslint, tsc-check

Added more details
  src/i18n/en-US/helpAndKnowledge/helpAndKnowledge.ts
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/About/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Modal/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/about.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/solutionsMap.tsx
Due: eslint, tsc-check

Fixed an issue where param parsing returns undefined string
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Modal/index.tsx
Due: eslint, tsc-check

Added more solution details
  src/i18n/en-US/helpAndKnowledge/helpAndKnowledge.ts
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/about.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/solutionsMap.tsx
Due: eslint, tsc-check

chore: resolved css to match figma spec
  pkg/email/templates/elements.css
  pkg/email/templates/reset.css
Due: none

chore: resolved css to match figma spec
  pkg/email/templates/model_plan_created_body.template
  pkg/email/templates/typography.css
Due: none

fix: restored mistakenly deleted folder
  pkg/email/templates/editme/daily_digest_body_editme.template
Due: none

Fixed tests query variable name
  src/components/OktaUserSelect/__snapshots__/index.test.tsx.snap
  src/components/OktaUserSelect/index.test.tsx
  src/views/ModelPlan/ReadOnly/Documents/index.test.tsx
Due: eslint, tsc-check

Added missing document field to unit test
  src/views/ModelPlan/TaskList/ITSolutions/LinkDocuments/index.test.tsx
Due: eslint, tsc-check

Updated snap
  src/components/OktaUserSelect/__snapshots__/index.test.tsx.snap
Due: none

Finished all about sections
  src/i18n/en-US/helpAndKnowledge/helpAndKnowledge.ts
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/about.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/index.scss
  src/views/HelpAndKnowledge/SolutionsHelp/solutionsMap.tsx
Due: eslint, tsc-check

Added generic component for points of contact
  src/i18n/en-US/helpAndKnowledge/helpAndKnowledge.ts
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/pointsOfContact.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/solutionsMap.tsx
Due: eslint, tsc-check

chore: tailoring html to match closer to Figma spec
  pkg/email/templates/model_plan_created_body.template
Due: none

[NOREF] - Updated references to model start date to use performance start date (#476)
  src/components/FavoriteCard/index.test.tsx
  src/components/FavoriteCard/index.tsx
  src/queries/ReadOnly/GetAllModelPlans.ts
  src/queries/ReadOnly/GetModelSummary.ts
  src/queries/ReadOnly/types/GetAllModelPlans.ts
  src/queries/ReadOnly/types/GetModelSummary.ts
  src/utils/globalFilterCellText.ts
  src/utils/globalTableFilter.test.ts
  src/utils/globalTableFilter.tsx
  src/views/ModelPlan/CRTDL/CRTDLs/table.tsx
  src/views/ModelPlan/Documents/table.tsx
  src/views/ModelPlan/ReadOnly/Documents/index.test.tsx
  src/views/ModelPlan/ReadOnly/Table/index.tsx
  src/views/ModelPlan/ReadOnly/index.test.tsx
  src/views/ModelPlan/ReadOnly/index.tsx
  src/views/ModelPlan/Table/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/Home/operationalNeedsTable.tsx
  src/views/ModelPlan/TaskList/ITSolutions/LinkDocuments/index.test.tsx
Due: eslint, tsc-check, check-code-generation

Added all contact data
  src/views/HelpAndKnowledge/SolutionsHelp/solutionsMap.tsx
Due: eslint, tsc-check

Fixed about link bug
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/about.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/pointsOfContact.tsx
Due: eslint, tsc-check

Added flag for operational solution help
  src/types/flags.ts
  src/utils/user.test.ts
  src/views/FlagsWrapper/index.tsx
  src/views/HelpAndKnowledge/home.tsx
  src/views/HelpAndKnowledge/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/LinkDocuments/index.test.tsx
Due: eslint, tsc-check

Fixed route prevservation issue when changing modal routes
  src/hooks/usePreviousModalRoute.ts
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionHelpCardGroup/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/index.tsx
Due: eslint, tsc-check

Condensed useeffect management for solutionHelp
  src/hooks/useModalSroll.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Modal/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionHelpCardGroup/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/solutionsMap.ts
Due: eslint, tsc-check
