Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-intake-swagger

.pre-commit-config.yaml:

---
repos:
  - repo: git://github.com/detailyang/pre-commit-shell
    rev: 1.0.5
    hooks:
      - id: shell-lint

  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-yaml
      - id: detect-private-key

  - repo: git://github.com/trussworks/pre-commit-hooks
    rev: v1.1.0
    hooks:
      - id: gen-docs
        args: ['docs/adr']
      - id: mdspell
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor/|
            docs/adr/index.md
          )$

  - repo: git://github.com/Bahjat/pre-commit-golang
    rev: c3086eea8af86847dbdff2e46b85a5fe3c9d9656
    hooks:
      - id: go-fmt-import

  - repo: git://github.com/golangci/golangci-lint
    rev: v1.41.1
    hooks:
      - id: golangci-lint
        entry: bash -c 'exec golangci-lint run -j=${GOLANGCI_LINT_CONCURRENCY:-1}' # custom bash so we can override concurrency for faster dev runs

  - repo: https://github.com/pryorda/dockerfilelint-precommit-hooks
    rev: v0.1.0
    hooks:
      - id: dockerfilelint

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$

  - repo: local
    hooks:
      - id: graphql-schema
        name: graphql-schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: pkg/graph/schema.graphql

  - repo: local
    hooks:
      - id: check-code-generation
        name: check-code-generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: "pkg/graph/schema\\.graphql|pkg/graph/schema\\.resolvers\\.go|src/queries/.*\\.ts"

  # for some reason, trying to call "go run cmd/intake_schema_gen/main.go" directly from this config doesn't work;
  # so call scripts/gen_intake_schema, which calls that command and works 
  - repo: local
    hooks:
      - id: check-intake-schema-generation
        name: check-intake-schema-generation
        entry: scripts/gen_intake_schema
        language: script
        files: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json

  - repo: local
    hooks:
      - id: preprocess-intake-swagger
        name: preprocess-intake-swagger
        entry: scripts/generate_cedar_intake_client
        language: script
        files: pkg/cedar/intake/cedar_intake.json

  - repo: git://github.com/awslabs/git-secrets
    rev: 80230afa8c8bdeac766a0fece36f95ffaa0be778
    hooks:
      - id: git-secrets
        entry: git-secrets --pre_commit_hook

  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: end-of-file-fixer
        name: Add newlines to end of files
        files: \.(sql|scss|md|js|ts|tsx|go)$

WIP create plan collaborator when model plan is created, need to update for full name and perhaps role
  pkg/graph/resolvers/model_planR.go
Due: none

feat: CRUD queries for plan document
  pkg/storage/SQL/plan_document_create.sql
  pkg/storage/SQL/plan_document_delete_by_id.sql
  pkg/storage/SQL/plan_document_read_by_id.sql
  pkg/storage/SQL/plan_document_read_by_model_plan_id.sql
  pkg/storage/SQL/plan_document_update.sql
  pkg/storage/plan_documentStore.go
Due: none

Unify SQL to use * when appropriate. Add SQL linter
  .pre-commit-config.yaml
  pkg/storage/SQL/model_plan_create.sql
  pkg/storage/SQL/model_plan_delete_by_id.sql
  pkg/storage/SQL/model_plan_get_by_id.sql
  pkg/storage/SQL/model_plan_update.sql
  pkg/storage/SQL/plan_basics_create.sql
  pkg/storage/SQL/plan_basics_get_by_id.sql
  pkg/storage/SQL/plan_basics_get_by_model_plan_id.sql
  pkg/storage/SQL/plan_basics_update.sql
  pkg/storage/SQL/plan_collaborator_create.sql
  pkg/storage/SQL/plan_collaborator_update.sql
  pkg/storage/SQL/plan_milestones_create.sql
  pkg/storage/SQL/plan_milestones_delete_by_id.sql
  pkg/storage/SQL/plan_milestones_get_by_id.sql
  pkg/storage/SQL/plan_milestones_update.sql
Due: none

Rename resolver functions to not have the 'Resolver' suffix
  pkg/graph/resolvers/planbasics.go
  pkg/graph/resolvers/planbasics_test.go
  pkg/graph/resolvers/planmilestones_test.go
  pkg/graph/schema.resolvers.go
Due: check-code-generation

rename resolvers to use snake case, and remove R from end of word file names
  pkg/graph/resolvers/model_plan.go
  pkg/graph/resolvers/model_plan_test.go
  pkg/graph/resolvers/plan_basics.go
  pkg/graph/resolvers/plan_basics_test.go
  pkg/graph/resolvers/plan_milestones.go
  pkg/graph/resolvers/plan_milestones_test.go
Due: none

basic collect user info call from CEDAR API
  pkg/graph/resolvers/model_planR.go
  pkg/graph/resolvers/model_planR_test.go
  pkg/graph/resolvers/planmilestones_test.go
  pkg/graph/schema.resolvers.go
Due: check-code-generation

basic plan collaborator test
  pkg/graph/resolvers/plan_collaborator_test.go
  pkg/graph/resolvers/planmilestones_test.go
Due: none

update plan milestones test to pass with current paradigm. Trying to delete violates model plan violates fk constraint for collaborator logic
  pkg/graph/resolvers/planmilestones_test.go
Due: none

Adding update query to edit collaborators
  package.json
  pkg/server/routes.go
  src/queries/UpdateModelPlanCollaborator.ts
  src/queries/types/UpdateModelPlanCollaborator.ts
  src/views/ModelPlan/Collaborators/AddCollaborator/index.tsx
  src/views/ModelPlan/NewPlan/index.tsx
  src/views/ModelPlan/Table/index.tsx
  yarn.lock
Due: eslint, check-code-generation

basic trigger on delete and update of model_collaborator that requires 1 model lead
  migrations/V9__Plan_Collaborator_Lead_Trigger.sql
Due: none

Added reach combobox in place of Truss
  package.json
  src/hooks/getCedarUsers.ts
  src/i18n/en-US/draftModelPlan/draftModelPlan.ts
  src/i18n/en-US/draftModelPlan/newModel.ts
  src/queries/GetModelCollaborators.ts
  src/queries/types/GetModelCollaborators.ts
  src/views/ModelPlan/Collaborators/AddCollaborator/index.tsx
  yarn.lock
Due: eslint, check-code-generation

update trigger function to contextually return either the deleted row, or the NEW depending if it is update or delete. Update db:clean to use truncate to bypass trigger
  migrations/V9__Plan_Collaborator_Lead_Trigger.sql
  scripts/dev
Due: none

Added remove user mutation
  src/i18n/en-US/draftModelPlan/newModel.ts
  src/queries/DeleteModelPlanCollaborator.ts
  src/queries/GetModelCollaborators.ts
  src/queries/types/DeleteModelPlanCollaborator.ts
  src/queries/types/GetModelCollaborators.ts
  src/views/ModelPlan/Collaborators/AddCollaborator/index.tsx
  src/views/ModelPlan/Collaborators/index.tsx
  src/views/ModelPlan/Collaborators/table.tsx
Due: eslint, check-code-generation

Basic plan_question datatypes and db migrations to add table
  migrations/V10__Add_Plan_Question.sql
  migrations/V3__Add_DataTypes.sql
  pkg/models/plan_question.go
  pkg/models/shared_enums.go
Due: none

[NOREF] GitHub Actions copied from EASi. Jobs that will not work due to lacking infrastructure have been temporarily set to not run with "if: ${{ false }}" (#44)
  .github/workflows/build.yml
  .github/workflows/build_and_test.yml
  .github/workflows/build_application_images.yml
  .github/workflows/build_db_clean_image.yml
  .github/workflows/deploy_dev.yml
  .github/workflows/deploy_pipeline.yml
  .github/workflows/deploy_to_environment.yml
  .github/workflows/manual_deploy.yml
  .github/workflows/run_tests.yml
  .github/workflows/scan_deployed_image.yml
Due: none

Remove github actions test dependency which was causing whole build to be skipped
  .github/workflows/build_and_test.yml
Due: none

Enable pre-deps
  .github/workflows/build_and_test.yml
  .github/workflows/build_application_images.yml
Due: none

Fix tests
  src/views/ModelPlan/TaskList/index.test.tsx
Due: eslint

Fix tests (#52)
  src/views/ModelPlan/TaskList/index.test.tsx
Due: eslint

Use non coverage test for now
  .github/workflows/run_tests.yml
Due: none

Add ticket link
  .github/workflows/run_tests.yml
Due: none

Added in line comments for clarity
  src/hooks/getCedarUsers.ts
  src/views/ModelPlan/Collaborators/AddCollaborator/index.tsx
  src/views/ModelPlan/Collaborators/index.tsx
  src/views/ModelPlan/Collaborators/table.tsx
  src/views/ModelPlan/Table/index.tsx
  src/views/ModelPlan/TaskList/index.tsx
Due: eslint

Remove CMS Center from collaborators
  migrations/V5__Add_Plan_Collaborator.sql
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers_helpers.go
  pkg/models/plan_collaborator.go
  pkg/storage/SQL/plan_collaborator_create.sql
  pkg/storage/SQL/plan_collaborator_update.sql
Due: graphql-schema, check-code-generation

[NOREF] Remove github actions test dependency (#51)
  .github/workflows/build_and_test.yml
  .github/workflows/build_application_images.yml
  .github/workflows/run_tests.yml
Due: none

[NOREF] Remove CMS Center from collaborators (#53)
  migrations/V5__Add_Plan_Collaborator.sql
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers_helpers.go
  pkg/models/plan_collaborator.go
  pkg/storage/SQL/plan_collaborator_create.sql
  pkg/storage/SQL/plan_collaborator_update.sql
Due: graphql-schema, check-code-generation

Removed cmsCenter query field and types
  src/queries/CreateModelPlanCollaborator.ts
  src/queries/DeleteModelPlanCollaborator.ts
  src/queries/GetModelCollaborators.ts
  src/queries/UpdateModelPlanCollaborator.ts
  src/queries/types/CreateModelPlanCollaborator.ts
  src/queries/types/DeleteModelPlanCollaborator.ts
  src/queries/types/GetModelCollaborators.ts
  src/queries/types/UpdateModelPlanCollaborator.ts
  src/views/ModelPlan/Collaborators/AddCollaborator/index.tsx
  src/views/ModelPlan/NewPlan/index.tsx
Due: eslint, check-code-generation

[NOREF] Rename resolver functions to not have the 'Resolver' suffix (#46)
  pkg/graph/resolvers/planbasics.go
  pkg/graph/resolvers/planbasics_test.go
  pkg/graph/resolvers/planmilestones_test.go
  pkg/graph/schema.resolvers.go
Due: check-code-generation

feat: gql and store wiring for plan document
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/resolvers/plan_document.go
  pkg/graph/resolvers/plan_document_test.go
  pkg/graph/resolvers/planmilestones_test.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/graph/schema.resolvers_helpers.go
  pkg/models/plan_document.go
  pkg/shared/utilitySQL/query_construction.go
  pkg/storage/plan_documentStore.go
Due: graphql-schema, check-code-generation

rename resolvers to use snake case, and remove R from end of word file names (#48)
  pkg/graph/resolvers/model_plan.go
  pkg/graph/resolvers/model_plan_test.go
  pkg/graph/resolvers/plan_basics.go
  pkg/graph/resolvers/plan_basics_test.go
  pkg/graph/resolvers/plan_milestones.go
  pkg/graph/resolvers/plan_milestones_test.go
Due: none

WIP collaborator update
  cmd/devdata/main.go
  pkg/graph/resolvers/model_plan.go
  pkg/graph/resolvers/plan_collaborator_test.go
Due: none

Added model plan status
  migrations/V3__Add_DataTypes.sql
  migrations/V4__Add_Model_Plan.sql
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers_helpers.go
  pkg/models/model_plan.go
  pkg/models/shared_enums.go
  pkg/storage/SQL/model_plan_collection_by_user.sql
  pkg/storage/SQL/model_plan_create.sql
  pkg/storage/SQL/model_plan_get_by_id.sql
  pkg/storage/SQL/model_plan_update.sql
Due: graphql-schema, check-code-generation

basic archive functionality
  migrations/V4__Add_Model_Plan.sql
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/graph/schema.resolvers_helpers.go
  pkg/models/model_plan.go
  pkg/storage/SQL/model_plan_collection_by_user.sql
  pkg/storage/SQL/model_plan_create.sql
  pkg/storage/SQL/model_plan_get_by_id.sql
  pkg/storage/SQL/model_plan_update.sql
Due: graphql-schema, check-code-generation

Refactored initial icon for table use
  src/components/shared/IconInitial/index.tsx
  src/views/ModelPlan/Collaborators/table.tsx
  src/views/ModelPlan/TaskList/_components/TaskListSideNav/TeamMembersList.tsx
  src/views/ModelPlan/TaskList/_components/TaskListSideNav/index.tsx
Due: eslint

get modelPlanCollection only returns non-archived model plans now
  pkg/graph/resolvers/model_plan.go
  pkg/storage/SQL/model_plan_collection_by_user.sql
  pkg/storage/model_planStore.go
Due: none

Added model plan status (#54)
  migrations/V3__Add_DataTypes.sql
  migrations/V4__Add_Model_Plan.sql
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers_helpers.go
  pkg/models/model_plan.go
  pkg/models/shared_enums.go
  pkg/storage/SQL/model_plan_collection_by_user.sql
  pkg/storage/SQL/model_plan_create.sql
  pkg/storage/SQL/model_plan_get_by_id.sql
  pkg/storage/SQL/model_plan_update.sql
Due: graphql-schema, check-code-generation

correct unit tests to account for model plan status
  cmd/devdata/main.go
  pkg/graph/resolvers/model_plan_test.go
  pkg/graph/resolvers/plan_milestones_test.go
Due: none

update plan collaborator test to remove CMMIgroup
  pkg/graph/resolvers/plan_collaborator_test.go
Due: none

added unit test for deleting collaborators and removed old comments
  pkg/graph/resolvers/plan_collaborator_test.go
  pkg/graph/resolvers/plan_milestones_test.go
Due: none

Added SQLFluff linter
  .pre-commit-config.yaml
  .sqlfluff
  migrations/V1__Add_CRUD_Role_And_App_User.sql
  migrations/V2__Add_EUA_Domain.sql
  migrations/V3__Add_DataTypes.sql
  migrations/V4__Add_Model_Plan.sql
  migrations/V5__Add_Plan_Collaborator.sql
  migrations/V6__Add_Plan_Basics.sql
  migrations/V7__Add_Plan_Milestones.sql
  migrations/V8__Add_Plan_Document.sql
  pkg/storage/SQL/model_plan_collection_by_user.sql
  pkg/storage/SQL/model_plan_create.sql
  pkg/storage/SQL/model_plan_get_by_id.sql
  pkg/storage/SQL/model_plan_update.sql
  pkg/storage/SQL/plan_basics_create.sql
  pkg/storage/SQL/plan_basics_get_by_id.sql
  pkg/storage/SQL/plan_basics_get_by_model_plan_id.sql
  pkg/storage/SQL/plan_basics_update.sql
  pkg/storage/SQL/plan_collaborator_create.sql
  pkg/storage/SQL/plan_collaborator_delete.sql
  pkg/storage/SQL/plan_collaborator_fetch_by_model_plan_id.sql
  pkg/storage/SQL/plan_collaborator_update.sql
  pkg/storage/SQL/plan_milestones_create.sql
  pkg/storage/SQL/plan_milestones_get_by_id.sql
  pkg/storage/SQL/plan_milestones_get_by_model_plan_id.sql
  pkg/storage/SQL/plan_milestones_update.sql
Due: none

Added sqlfluff lint to make errors more obvious
  .pre-commit-config.yaml
Due: none
