Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, tsc-check, graphql-schema, check-code-generation

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-yaml
        name: Check YAML formatting
      - id: detect-private-key
        name: Check for private keys
      - id: end-of-file-fixer
        files: \.(sql|scss|md|js|ts|tsx|go|yml|yaml)$
        name: Add newlines to ends of files
        exclude: src/gql/gen/.* # Ignore generated FE files

  - repo: https://github.com/detailyang/pre-commit-shell
    rev: v1.0.6
    hooks:
      - id: shell-lint
        name: Lint shell files

  - repo: https://github.com/trussworks/pre-commit-hooks
    rev: v1.1.1
    hooks:
      - id: mdspell
        name: Spellcheck Markdown files
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor
          )$

  - repo: https://github.com/Bahjat/pre-commit-golang
    rev: v1.0.3
    hooks:
      - id: go-fmt-import
        name: Run "goimports" on go files
        args: ['-local', 'github.com/cmsgov/mint-app']
        files: .*\.go$
        exclude: >
          (?x)^(
            .*gen/.*|
            .*generated/.*|
            .*models_gen.go|
          )$

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.59.1
    hooks:
      - id: golangci-lint
        name: Lint go files
        args: ['--concurrency', '-1', '-v'] # Run with all CPUs

  - repo: local
    hooks:
    - id: dockerfilelint
      name: Lint Dockerfile
      entry: dockerfilelint
      language: node
      additional_dependencies: [dockerfilelint]
      files: Dockerfile.*

  - repo: local
    hooks:
      - id: eslint
        name: Run eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$
        exclude: (\.(d\.ts)$)|(\.storybook)|(serviceWorker\.ts)|(src/gql/gen/.*) # This should match the .eslintrc "ignorePatterns". Change one, change the other!

  - repo: local
    hooks:
      - id: tsc-check
        name: Run typescript check
        entry: scripts/pre-commit-tsc
        language: script
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false

  - repo: local
    hooks:
      - id: graphql-schema
        name: Lint GraphQL schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: "pkg/graph/schema/.*\\.graphql"
        pass_filenames: false

  - repo: local
    hooks:
      - id: check-code-generation
        name: Run GraphQL code generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: "pkg/graph/schema\\.graphql|pkg/graph/schema\\.resolvers\\.go|src/queries/.*\\.ts|src/queriesCodegen/.*\\.ts"
        pass_filenames: false

  - repo: https://github.com/awslabs/git-secrets
    rev: b9e96b3212fa06aea65964ff0d5cda84ce935f38
    hooks:
      - id: git-secrets
        name: Check for committed secrets
        entry: git-secrets --pre_commit_hook

  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 2.0.7
    hooks:
      - id: sqlfluff-fix
        exclude: ^migrations/
      - id: sqlfluff-lint
        exclude: ^migrations/

initial migrations
  migrations/V250__Common_Milestone.sql
Due: none

add comment
  migrations/V250__Common_Milestone.sql
Due: none

[NOREF] Remove Feedback Enabled Feature Flag (#2143)
  src/components/Footer/index.tsx
  src/types/flags.ts
  src/utils/tests/user.test.ts
  src/wrappers/FlagsWrapper/index.tsx
Due: eslint, tsc-check

add cms-qualtrics back into routeToEnumMap
  src/features/HelpAndKnowledge/SolutionsHelp/solutionsMap.tsx
Due: eslint, tsc-check

skeleton ADR (#2142)
  .spelling
  docs/adr/0017-common-milestone.md
Due: none

[NOREF] Add `cms-qualtrics` into routeToEnumMap (#2146)
  src/features/HelpAndKnowledge/SolutionsHelp/solutionsMap.tsx
Due: eslint, tsc-check

[Continue implementation]
  migrations/V250__Common_Milestone.sql
Due: none

[Update filter view name per Zoe H feedback]
  src/features/ModelPlan/ReadOnly/_components/FilterView/Modal/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/ReadOnly/_components/FilterView/util.tsx
  src/features/ModelPlan/ReadOnly/index.tsx
Due: eslint, tsc-check

removed collaborator check for milestone note
  pkg/graph/resolvers/mto_milestone_note.go
Due: none

removed collaborator check for milestone note (#2147)
  pkg/graph/resolvers/mto_milestone_note.go
Due: none

if iddoc has been modified set to in progress
  pkg/models/iddoc_questionnaire.go
Due: none

[Refactor]
  migrations/V250__Common_Milestone.sql
Due: none

[Add missed constraints]
  migrations/V250__Common_Milestone.sql
Due: none

filter modal layout
  src/features/ModelPlan/ModelToOperations/MilestoneLibrary/MilestoneFilterModal/MilestoneFilterGroup.tsx
  src/features/ModelPlan/ModelToOperations/MilestoneLibrary/MilestoneFilterModal/getMilestoneFilters.tsx
  src/features/ModelPlan/ModelToOperations/MilestoneLibrary/MilestoneFilterModal/index.scss
  src/features/ModelPlan/ModelToOperations/MilestoneLibrary/MilestoneFilterModal/index.tsx
  src/features/ModelPlan/ModelToOperations/MilestoneLibrary/index.tsx
  src/i18n/en-US/helpAndKnowledge/helpAndKnowledge.ts
Due: eslint, tsc-check

Show all option
  src/features/ModelPlan/ModelToOperations/MilestoneLibrary/MilestoneFilterModal/MilestoneFilterGroup.tsx
  src/features/ModelPlan/ModelToOperations/MilestoneLibrary/MilestoneFilterModal/getMilestoneFilters.tsx
  src/i18n/en-US/general.ts
Due: eslint, tsc-check

Fix filter labels
  src/features/ModelPlan/ModelToOperations/MilestoneLibrary/MilestoneFilterModal/MilestoneFilterGroup.tsx
  src/features/ModelPlan/ModelToOperations/MilestoneLibrary/MilestoneFilterModal/getMilestoneFilters.tsx
  src/i18n/en-US/helpAndKnowledge/helpAndKnowledge.ts
Due: eslint, tsc-check

filter functionality
  src/features/ModelPlan/ModelToOperations/MilestoneLibrary/MilestoneFilterModal/MilestoneFilterGroup.tsx
  src/features/ModelPlan/ModelToOperations/MilestoneLibrary/MilestoneFilterModal/index.tsx
  src/features/ModelPlan/ModelToOperations/MilestoneLibrary/index.tsx
Due: eslint, tsc-check

cleanup & bug fixes
  src/features/ModelPlan/ModelToOperations/MilestoneLibrary/MilestoneFilterModal/MilestoneFilterGroup.tsx
  src/features/ModelPlan/ModelToOperations/MilestoneLibrary/MilestoneFilterModal/getMilestoneFilters.tsx
  src/features/ModelPlan/ModelToOperations/MilestoneLibrary/MilestoneFilterModal/index.tsx
  src/features/ModelPlan/ModelToOperations/MilestoneLibrary/index.tsx
Due: eslint, tsc-check

Unit tests
  src/features/ModelPlan/ModelToOperations/MilestoneLibrary/MilestoneFilterModal/index.test.tsx
Due: eslint, tsc-check

Only show filter button in HKC
  src/features/ModelPlan/ModelToOperations/MilestoneLibrary/index.test.tsx
  src/features/ModelPlan/ModelToOperations/MilestoneLibrary/index.tsx
Due: eslint, tsc-check

Cypress test
  cypress/e2e/mto.spec.js
Due: eslint, tsc-check

Add filter count to submit button
  src/features/ModelPlan/ModelToOperations/MilestoneLibrary/MilestoneFilterModal/index.test.tsx
  src/features/ModelPlan/ModelToOperations/MilestoneLibrary/MilestoneFilterModal/index.tsx
  src/i18n/en-US/general.ts
Due: eslint, tsc-check

Disable apply button if no changes
  src/features/ModelPlan/ModelToOperations/MilestoneLibrary/MilestoneFilterModal/index.tsx
Due: eslint, tsc-check

[MINT-3472] Feedback Form and Report a Problem link Cypress Tests (#2144)
  cypress/e2e/feedbackReportForms.spec.js
Due: eslint, tsc-check

No results alert
  src/features/ModelPlan/ModelToOperations/MilestoneLibrary/index.tsx
  src/i18n/en-US/helpAndKnowledge/helpAndKnowledge.ts
Due: eslint, tsc-check

Fix unit test
  src/features/ModelPlan/ModelToOperations/MilestoneLibrary/MilestoneFilterModal/index.test.tsx
Due: eslint, tsc-check

fix BE trigger for needed
  migrations/V254__Add_IDDOC_Triggers.sql
  pkg/models/iddoc_questionnaire.go
Due: none

Address PR comments
  src/features/ModelPlan/ModelToOperations/MilestoneLibrary/MilestoneFilterModal/MilestoneFilterGroup.tsx
  src/features/ModelPlan/ModelToOperations/MilestoneLibrary/MilestoneFilterModal/index.tsx
  src/features/ModelPlan/ModelToOperations/MilestoneLibrary/index.tsx
Due: eslint, tsc-check

removed modified by from backfill for setting needed
  migrations/V253__Backfill_IDDOC_Questionnaire_Needed.sql
Due: none

fixed modified by logic in triggers and status check
  migrations/V253__Backfill_IDDOC_Questionnaire_Needed.sql
  migrations/V254__Add_IDDOC_Triggers.sql
  pkg/models/iddoc_questionnaire.go
Due: none

migrate existing iddoc data
  migrations/V253__Backfill_IDDOC_Questionnaire_Needed.sql
Due: none

[Refactor commit and add audit for mto common milestone]
  migrations/V250__Common_Milestone.sql
Due: none

[Refactor into separate migrations for better practice]
  migrations/V250__Add_ID_To_MTO_Common_Milestone.sql
  migrations/V251__Set_Constraints_Keys_MTO_Common_Milestone_ID.sql
Due: none

[MINT-3609] Initial migrations (#2145)
  migrations/V250__Add_ID_To_MTO_Common_Milestone.sql
  migrations/V251__Set_Constraints_Keys_MTO_Common_Milestone_ID.sql
Due: none

[Add sql and loaders related functions]
  pkg/graph/resolvers/mto_common_milestone.go
  pkg/sqlqueries/SQL/mto/common_milestone/get_by_id_loader.sql
  pkg/sqlqueries/mto_common_milestone.go
  pkg/storage/loaders/mto_common_milestone.go
  pkg/storage/mto_common_milestone.go
Due: none

[Fix sql and update gql]
  pkg/sqlqueries/SQL/mto/common_milestone/get_by_id_loader.sql
  pkg/sqlqueries/SQL/mto/common_milestone/get_by_model_plan_id_LOADER.sql
  query_examples/MINT/Models to Operations Matrix/Common Milestones/GetMTO Common Milestones Without Model Plan ID.bru
  src/gql/generated/graphql.ts
  src/gql/operations/ModelToOperations/GetMTOAllCommonMilestones.ts
Due: eslint, tsc-check

go version update (#2135)
  .air.conf
  .air.toml
  .airDebug.conf
  .airDebugWait.conf
  .pre-commit-config.yaml
  Dockerfile
  docker-compose.backend.yml
  go.mod
Due: dockerfilelint
