Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-intake-swagger

eslint:
  name: eslint
  entry: scripts/pre-commit-eslint
  language: script

graphql-schema:
  name: graphql-schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script

check-code-generation:
  name: check-code-generation
  entry: scripts/pre-commit-check-code-generation
  language: script

check-intake-schema-generation:
  name: check-intake-schema-generation
  entry: scripts/gen_intake_schema
  language: script

preprocess-intake-swagger:
  name: preprocess-intake-swagger
  entry: scripts/generate_cedar_intake_client
  language: script

update get statement to be named parameters, modified date set by SQL
  pkg/models/model_plan.go
  pkg/storage/SQL/model_plan_create.sql
  pkg/storage/SQL/model_plan_get_by_id.sql
  pkg/storage/SQL/model_plan_update.sql
  pkg/storage/model_planStore.go
Due: none

EASI 1700/adr cleanup data layer spike (#18)
  docs/adr/0000-adr-starting-point.md
  docs/adr/0000-open-source-application-code.md
  docs/adr/0001-adr-persistence-layer.md
  docs/adr/0001-separate-infra-repo.md
  docs/adr/0002-use-terraform.md
  docs/adr/0003-use-golang-for-server.md
  docs/adr/0004-using-typescript.md
  docs/adr/0005-frontend-toolchain-choice.md
  docs/adr/0006-frontend-server-repo.md
  docs/adr/0007-go-for-scripting.md
  docs/adr/0008-ssm-for-configsecrets.md
  docs/adr/0009-logging-platform.md
  docs/adr/0010-build-and-deploy-go-backend.md
  docs/adr/0011-build-and-deploy-react.md
  docs/adr/0012-backend-testing-suite.md
  docs/adr/0013-backend-testing-structure.md
  docs/adr/0014-use-mux-for-routing.md
  docs/adr/0015-api-schema.md
  docs/adr/0016-migration-tool.md
  docs/adr/0017-go-orm.md
  docs/adr/0018-integration-tests-third-party-apis.md
  docs/adr/0019-use-1password-for-sharing-secrets.md
  docs/adr/0020-do-not-implement-state-machine.md
  docs/adr/0021-audit-logging.md
  docs/adr/0022-generate-pdfs-with-prince.md
  docs/adr/0023_508_systems_list_as_view_of_system_intakes.md
  docs/adr/0024-soft-deleting.md
  docs/adr/0025-provide-testing-environments.md
  docs/adr/0026-cedar-data-definition.md
  docs/adr/0027-code-coverage.md
  docs/adr/0028-use-react-testing-library.md
  docs/adr/0029-server-side-caching.md
  docs/adr/0030-graphql-n+1-queries.md
  docs/adr/0031-do-not-use-server-side-pagination.md
  docs/adr/0032-use-svg-icons.md
  docs/adr/0033-technical-action-scheduling.md
  docs/adr/index.md
Due: none

Added sign in page for MINT (#26)
  src/i18n/en-US/home.ts
  src/views/Home/WelcomeText.tsx
Due: eslint

remove EUA-USERID from plan basics table
  migrations/V6__Add_Plan_Basics.sql
Due: none

Easi 1833 Home page/table - MINT Models table (#21)
  src/i18n/en-US/home.ts
  src/views/Home/index.scss
  src/views/Home/index.test.tsx
  src/views/Home/index.tsx
  src/views/ModelPlan/Table/index.scss
  src/views/ModelPlan/Table/index.tsx
  src/views/ModelPlan/Table/mockData.ts
Due: eslint

correct issue in plan basics migration syntax
  migrations/V6__Add_Plan_Basics.sql
Due: none

QA Feedback
  src/views/App/index.tsx
Due: eslint

Removing unused NewPlan component
  src/views/ModelPlan/NewPlan/index.scss
  src/views/ModelPlan/NewPlan/index.tsx
Due: eslint

Update routes
  src/views/App/index.tsx
Due: eslint

remove commented code
  src/views/ModelPlan/ModelPlanStepsOverview/index.tsx
Due: eslint

Change name to StepsOverivew
  src/views/App/index.tsx
  src/views/ModelPlan/ModelPlanStepsOverview/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ModelPlanStepsOverview/index.scss
  src/views/ModelPlan/ModelPlanStepsOverview/index.test.tsx
  src/views/ModelPlan/ModelPlanStepsOverview/index.tsx
Due: eslint

Change name to StepsOverivew
  src/views/ModelPlan/StepsOverview/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/StepsOverview/index.scss
  src/views/ModelPlan/StepsOverview/index.test.tsx
  src/views/ModelPlan/StepsOverview/index.tsx
Due: eslint

Update tests
  src/views/ModelPlan/StepsOverview/__snapshots__/index.test.tsx.snap
Due: none

Update tests
  src/views/ModelPlan/StepsOverview/index.test.tsx
Due: eslint

Easi 1881 - New model plan page (#28)
  src/i18n/en-US/index.ts
  src/i18n/en-US/modelPlan.ts
  src/views/App/index.tsx
  src/views/ModelPlan/NewPlan/index.scss
  src/views/ModelPlan/NewPlan/index.tsx
  src/views/ModelPlan/StepsOverview/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/StepsOverview/index.scss
  src/views/ModelPlan/StepsOverview/index.test.tsx
  src/views/ModelPlan/StepsOverview/index.tsx
Due: eslint

basic update model plan statement and endpoint
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/model_plan.go
  pkg/storage/SQL/model_plan_collection_by_user.sql
  pkg/storage/SQL/model_plan_update.sql
  pkg/storage/model_planStore.go
Due: graphql-schema, check-code-generation

basic model plan data seeding
  cmd/devdata/main.go
Due: none

basic get model plan collection implementation
  pkg/storage/SQL/model_plan_collection_by_user.sql
  pkg/storage/model_planStore.go
Due: none

update CTA to go to the correct page
  src/views/Home/index.tsx
Due: eslint

update CTA to go to the correct page (#29)
  src/views/Home/index.tsx
Due: eslint

ability to add more information to a create model plan GQL statement. empty strings are handled by the DB as null
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/storage/SQL/model_plan_create.sql
  pkg/storage/model_planStore.go
Due: graphql-schema, check-code-generation

Model Plan Basics backend first pass
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/resolvers/planbasics.go
  pkg/graph/resolvers/planbasics_test.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/shared/uuid/utility.go
  pkg/storage/SQL/plan_basics_create.sql
  pkg/storage/SQL/plan_basics_get_by_id.sql
  pkg/storage/SQL/plan_basics_update.sql
  pkg/storage/plan_basicsStore.go
  pkg/storage/planbasics/errorhandling.go
Due: graphql-schema, check-code-generation

Easi 1879/model plan initial backend (#30)
  cmd/devdata/main.go
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/model_plan.go
  pkg/storage/SQL/model_plan_collection_by_user.sql
  pkg/storage/SQL/model_plan_create.sql
  pkg/storage/SQL/model_plan_update.sql
  pkg/storage/model_planStore.go
Due: graphql-schema, check-code-generation

Model plan task list init
  src/views/ModelPlan/TaskList/SideNavActions/index.test.tsx
  src/views/ModelPlan/TaskList/SideNavActions/index.tsx
  src/views/ModelPlan/TaskList/index.tsx
Due: eslint

Model plan task list i18n.ts
  src/i18n/en-US/index.ts
  src/i18n/en-US/modelPlanTaskList.ts
Due: eslint

Moved around components for better file nav
  src/views/ModelPlan/TaskList/components/TaskListItem/index.test.tsx
  src/views/ModelPlan/TaskList/components/TaskListItem/index.tsx
  src/views/ModelPlan/TaskList/components/TaskListSideNav/index.test.tsx
  src/views/ModelPlan/TaskList/components/TaskListSideNav/index.tsx
Due: eslint

Imported new comps
  src/views/ModelPlan/TaskList/index.tsx
Due: eslint

Adding the copy
  src/i18n/en-US/modelPlanTaskList.ts
  src/views/ModelPlan/TaskList/components/TaskListSideNav/index.tsx
  src/views/ModelPlan/TaskList/index.tsx
Due: eslint

Add stsyles
  src/views/ModelPlan/TaskList/index.scss
Due: none

add copy
  src/i18n/en-US/modelPlanTaskList.ts
Due: eslint

add sttyles
  src/views/ModelPlan/TaskList/index.tsx
Due: eslint

remove trailing coma
  src/i18n/en-US/modelPlanTaskList.ts
Due: eslint

Object key all the goods
  src/views/ModelPlan/TaskList/index.tsx
Due: eslint

checking to see if status box works
  src/views/ModelPlan/TaskList/index.tsx
Due: eslint

adding task list cta
  src/views/ModelPlan/TaskList/components/TaskListCta/index.tsx
Due: eslint

Model Plan Basics backend first pass (#31)
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/resolvers/planbasics.go
  pkg/graph/resolvers/planbasics_test.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/shared/uuid/utility.go
  pkg/storage/SQL/plan_basics_create.sql
  pkg/storage/SQL/plan_basics_get_by_id.sql
  pkg/storage/SQL/plan_basics_update.sql
  pkg/storage/plan_basicsStore.go
  pkg/storage/planbasics/errorhandling.go
Due: graphql-schema, check-code-generation

Converted null.String to *string
  cmd/devdata/main.go
  migrations/V4__Add_Model_Plan.sql
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.resolvers.go
  pkg/graph/schema.resolvers_helpers.go
  pkg/models/model_helpers.go
  pkg/models/model_plan.go
  pkg/storage/SQL/model_plan_create.sql
  pkg/storage/model_planStore.go
Due: check-code-generation

basic moving of model basics fields to model plan. Model basics end points to be updated as well
  cmd/devdata/main.go
  migrations/V6__Add_Plan_Basics.sql
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/graph/schema.resolvers_helpers.go
  pkg/models/model_plan.go
  pkg/models/plan_basics.go
  pkg/storage/SQL/model_plan_collection_by_user.sql
  pkg/storage/SQL/model_plan_get_by_id.sql
  pkg/storage/SQL/model_plan_update.sql
  pkg/storage/SQL/plan_basics_create.sql
  pkg/storage/SQL/plan_basics_get_by_id.sql
  pkg/storage/SQL/plan_basics_update.sql
Due: graphql-schema, check-code-generation

updated plan basics to use *string, first pass getting create plan basics to work. Will add nullif() logic
  cmd/devdata/main.go
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/resolvers/planbasics.go
  pkg/graph/resolvers/planbasics_test.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/plan_basics.go
  pkg/storage/SQL/plan_basics_create.sql
  pkg/storage/planbasics/errorhandling.go
Due: graphql-schema, check-code-generation

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$
  graphql-schema: any of: pkg/graph/schema.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts
  check-intake-schema-generation: any of: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json
  preprocess-intake-swagger: any of: pkg/cedar/intake/cedar_intake.json
