Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, tsc-check, graphql-schema, check-code-generation

dockerfilelint:
  name: Lint Dockerfile
  entry: dockerfilelint
  language: node
  additional_dependencies:
  - dockerfilelint

eslint:
  name: Run eslint
  entry: scripts/pre-commit-eslint
  language: script

tsc-check:
  name: Run typescript check
  entry: scripts/pre-commit-tsc
  language: script
  pass_filenames: false

graphql-schema:
  name: Lint GraphQL schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script

check-code-generation:
  name: Run GraphQL code generation
  entry: scripts/pre-commit-check-code-generation
  language: script
  pass_filenames: false

EASI-3077: remove pinned version
  .github/workflows/run_tests.yml
Due: none

[EASI-3013] - Salesforce solution updates (#619)
  src/components/shared/Alert/index.scss
  src/components/shared/Alert/index.tsx
  src/i18n/en-US/helpAndKnowledge/helpAndKnowledge.ts
  src/stylesheets/custom.scss
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/About/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/About/index.test.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Modal/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/PointsOfContact/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/PointsOfContact/index.test.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/about.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Timeline/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Timeline/index.test.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/solutionsMap.tsx
Due: eslint, tsc-check

chore: updated migration
  migrations/V98__Update_Salesforce_Connect_And_Portal_Names.sql
Due: none

chore: updated migration version
  migrations/V99__Update_Salesforce_Connect_And_Portal_Names.sql
Due: none

[EASI-2985] New Solution: Beneficiary Claims Data API (BCDA) (#613)
  migrations/V99__Add_BCDA_to_Operational_Solutions.sql
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/models/possible_operational_solution.go
  src/i18n/en-US/helpAndKnowledge/helpAndKnowledge.ts
  src/types/graphql-global-types.ts
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/BCDA/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/BCDA/index.test.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/BCDA/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionHelpCardGroup/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionsHeader/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionsHeader/index.test.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/solutionsMap.tsx
Due: eslint, tsc-check, graphql-schema, check-code-generation

Began adding subcategories
  src/data/operationalSolutionCategories.ts
  src/i18n/en-US/helpAndKnowledge/helpAndKnowledge.ts
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/_components/Header/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/_components/CategoryCard/index.scss
  src/views/HelpAndKnowledge/SolutionsHelp/_components/CategoryCard/index.stories.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/_components/CategoryCard/index.test.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/_components/CategoryCard/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/_components/CategoryFooter/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionCategories/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionsHeader/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionsTag/index.stories.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionsTag/index.test.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionsTag/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/index.test.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/solutionsMap.tsx
Due: eslint, tsc-check

Implemented first subcategory solutions page
  src/i18n/en-US/helpAndKnowledge/helpAndKnowledge.ts
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionHelpCard/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionHelpCardGroup/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionsHeader/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/solutionsMap.tsx
Due: eslint, tsc-check

Implemented rest of subcategory pageS
  src/views/HelpAndKnowledge/SolutionsHelp/solutionsMap.tsx
Due: eslint, tsc-check

chore: migrated date changed recipient emails to envrc as we don't have a pipeline for loading configs before dbseed runs which leads to unpredictable first-run behavior on the server
  .envrc
  docker-compose.yml
  migrations/V100__Add_Model_Plan_Date_Changed_Email_Recipients.sql
  migrations/V99__Add_Config_Schema.sql
  pkg/appconfig/config.go
  pkg/server/routes.go
Due: none

Updated unit tests
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/_components/Header/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/_components/Header/index.test.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/_components/CategoryCard/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/SolutionsHelp/_components/CategoryFooter/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionCategories/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionHelpCard/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionHelpCard/index.test.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionHelpCardGroup/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionHelpCardGroup/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionsTag/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionsTag/index.test.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/index.test.tsx
Due: eslint, tsc-check

Reorder subcategories to no be alphabetical
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionHelpCardGroup/index.tsx
Due: eslint, tsc-check

Began support for ISP solution
  src/i18n/en-US/helpAndKnowledge/helpAndKnowledge.ts
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/about.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/solutionsMap.tsx
Due: eslint, tsc-check

Fixed undefined subheader and updated snap
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/_components/Header/index.tsx
Due: eslint, tsc-check

Fixed comma header order and updated snap
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/_components/Header/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/_components/Header/index.tsx
Due: eslint, tsc-check

chore: updated most recent role selection to quietly handle the 'error' when no role selection exists and to return null for the selection in that case
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/storage/plan_discussionStore.go
  src/queries/Discussions/types/GetMostRecentRoleSelection.ts
Due: eslint, tsc-check, graphql-schema, check-code-generation

chore: updated migration version
  migrations/V100__Update_Salesforce_Connect_And_Portal_Names.sql
Due: none

[EASI-3015] Update Salesforce Names (#614)
  migrations/V100__Update_Salesforce_Connect_And_Portal_Names.sql
  src/components/shared/Alert/index.scss
  src/components/shared/Alert/index.tsx
  src/i18n/en-US/helpAndKnowledge/helpAndKnowledge.ts
  src/stylesheets/custom.scss
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/About/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/About/index.test.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Modal/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/PointsOfContact/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/PointsOfContact/index.test.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/about.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Timeline/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Timeline/index.test.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/solutionsMap.tsx
Due: eslint, tsc-check

chore: added fk constraints to possible need solution link table
  migrations/V101__Add_foreign_keys_to_possible_need_solution_link.sql
Due: none

Finished ISP translation work
  src/i18n/en-US/helpAndKnowledge/helpAndKnowledge.ts
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/about.tsx
Due: eslint, tsc-check

Updated snaps
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionsHeader/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionsHeader/index.test.tsx
Due: eslint, tsc-check

Resolved typescript error
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/about.tsx
Due: eslint, tsc-check

EASI-3024: GHA step to clean Opensearch domain on dev deploy (#620)
  .github/workflows/build_application_images.yml
  .github/workflows/deploy_to_environment.yml
  scripts/opensearch_clean.sh
Due: none

Remove ts ignore
  src/i18n/en-US/helpAndKnowledge/helpAndKnowledge.ts
Due: eslint, tsc-check

Updated snaps
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/About/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/PointsOfContact/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/BCDA/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Timeline/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionHelpCardGroup/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/SolutionsHelp/solutionsMap.tsx
Due: eslint, tsc-check

[NOREF] Wrap Role Selection Error (#623)
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/storage/plan_discussionStore.go
  src/queries/Discussions/types/GetMostRecentRoleSelection.ts
Due: eslint, tsc-check, graphql-schema, check-code-generation

feat: updating enums from biannually to semiannually and corresponding front-end elements
  migrations/V101__Update_Plan_Payments_Fields.sql
  migrations/V102__Update_Enums_Biannually_To_Semiannually.sql
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/models/plan_payments.go
  pkg/models/shared_enums.go
  src/i18n/en-US/draftModelPlan/operationsEvaulationAndLearning.ts
  src/i18n/en-US/draftModelPlan/participantsAndProviders.ts
  src/i18n/en-US/draftModelPlan/payments.ts
  src/types/graphql-global-types.ts
  src/utils/modelPlan.ts
  src/views/ModelPlan/ReadOnly/ParticipantsAndProviders/index.test.tsx
  src/views/ModelPlan/ReadOnly/Payments/index.test.tsx
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/DataSharing/index.tsx
  src/views/ModelPlan/TaskList/Payment/Complexity/index.tsx
Due: eslint, tsc-check, graphql-schema, check-code-generation

chore: updated snapshots
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/About/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/PointsOfContact/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Timeline/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/ParticipantsAndProviders/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/Payments/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Beneficiaries/Frequency/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/ProviderOptions/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Payment/AnticipateDependencies/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Payment/BeneficiaryCostSharing/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Payment/ClaimsBasedPayment/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Payment/Complexity/__snapshots__/index.test.tsx.snap
Due: none

chore: updated snapshots
  src/views/ModelPlan/TaskList/Beneficiaries/Frequency/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Payment/AnticipateDependencies/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Payment/BeneficiaryCostSharing/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Payment/ClaimsBasedPayment/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Payment/Complexity/__snapshots__/index.test.tsx.snap
Due: none

Updated how trans bold works in help center
  src/i18n/en-US/helpAndKnowledge/helpAndKnowledge.ts
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/about.tsx
Due: eslint, tsc-check

Updated snaps
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/About/__snapshots__/index.test.tsx.snap
Due: none

Updated snaps
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/About/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/PointsOfContact/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Timeline/__snapshots__/index.test.tsx.snap
Due: none

back to all models to view all models
  src/i18n/en-US/readOnly/generalReadOnly.ts
Due: eslint, tsc-check

update side bar for task list index
  src/i18n/en-US/modelPlanTaskList.ts
  src/views/ModelPlan/TaskList/_components/TaskListSideNav/index.tsx
Due: eslint, tsc-check

update side bar for task list index
  src/views/ModelPlan/TaskList/index.tsx
Due: eslint, tsc-check

removed model sub nav
  src/components/ModelSubNav/__snapshots__/index.test.tsx.snap
  src/components/ModelSubNav/index.scss
  src/components/ModelSubNav/index.test.tsx
  src/components/ModelSubNav/index.tsx
  src/views/ModelPlan/ReadOnly/index.tsx
Due: eslint, tsc-check

change the icon
  src/components/shared/CollapsableLink/index.tsx
  src/views/ModelPlan/ReadOnly/_components/ModelSummary/index.tsx
Due: eslint, tsc-check

change the model summary
  src/views/ModelPlan/ReadOnly/_components/ModelSummary/index.tsx
Due: eslint, tsc-check

move the task list status to a different spot
  src/i18n/en-US/modelPlanTaskList.ts
  src/views/ModelPlan/ReadOnly/index.tsx
  src/views/ModelPlan/TaskList/_components/TaskListStatus/index.tsx
Due: eslint, tsc-check

more styles
  src/views/ModelPlan/ReadOnly/index.tsx
Due: eslint, tsc-check

Fixed conditional when updating custom solution
  src/views/ModelPlan/TaskList/ITSolutions/AddCustomSolution/index.tsx
Due: eslint, tsc-check

Path conditions:
  dockerfilelint: any of: Dockerfile.*
  eslint: any of: \.(js|jsx|ts|tsx)$
  tsc-check: any of: \.(js|jsx|ts|tsx)$
  graphql-schema: any of: pkg/graph/schema.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts
