Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-cedar-swagger

Path conditions:
  dockerfilelint: any of: Dockerfile.*
  eslint: any of: \.(js|jsx|ts|tsx)$
  graphql-schema: any of: pkg/graph/schema.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts
  check-intake-schema-generation: any of: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json|pkg/cedar/intake/translation/constants\.go
  preprocess-cedar-swagger: any of: pkg/cedar/intake/cedar_intake.json|pkg/cedar/core/cedar_core.json

Adding undefined conditional checks
  src/views/ModelPlan/ReadOnly/Payments/index.tsx
Due: eslint

streamline the conditional rendering
  src/views/ModelPlan/ReadOnly/Payments/index.tsx
Due: eslint

update snaps
  src/views/ModelPlan/ReadOnly/ModelBasics/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/ParticipantsAndProviders/__snapshots__/index.test.tsx.snap
Due: none

update tests and snaps
  src/views/ModelPlan/ReadOnly/GeneralCharacteristics/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/GeneralCharacteristics/index.test.tsx
Due: eslint

Removed sub nav for users without edit access
  src/queries/ReadOnly/GetModelSummary.ts
  src/queries/ReadOnly/types/GetModelSummary.ts
  src/utils/export/CsvExportLink.tsx
  src/views/ModelPlan/ReadOnly/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/index.scss
  src/views/ModelPlan/ReadOnly/index.test.tsx
  src/views/ModelPlan/ReadOnly/index.tsx
  src/views/ModelPlan/TaskList/_components/TaskListSideNav/__snapshots__/index.test.tsx.snap
Due: eslint, check-code-generation

add enum instead of string for poss op needs and solution types
  migrations/V24__Add_Possible_Operational_Need.sql
  migrations/V26__Add_Possible_Operational_Solution.sql
  migrations/V28__Add_Possible_Operational_Need_Options.sql
  migrations/V29__Add_Possible_Operational_Solution_Options.sql
Due: none

update need and solution to use enum instead of string
  migrations/V24__Add_Possible_Operational_Need.sql
  migrations/V26__Add_Possible_Operational_Solution.sql
  migrations/V29__Add_Possible_Operational_Solution_Options.sql
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/operational_need.go
  pkg/graph/resolvers/operational_solution.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/operational_need.go
  pkg/models/operational_solution.go
  pkg/models/possible_operational_need.go
  pkg/models/possible_operational_solution.go
  pkg/storage/operational_needStore.go
  pkg/storage/operational_solutionStore.go
Due: graphql-schema, check-code-generation

Added hover style to subnav per figma
  src/components/ModelSubNav/__snapshots__/index.test.tsx.snap
  src/components/ModelSubNav/index.scss
  src/components/ModelSubNav/index.test.tsx
  src/components/ModelSubNav/index.tsx
  src/views/ModelPlan/ReadOnly/__snapshots__/index.test.tsx.snap
Due: eslint

Readded save and exit link
  src/views/ModelPlan/TaskList/_components/TaskListSideNav/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/_components/TaskListSideNav/index.tsx
Due: eslint

Added `isAssessment` property to TaskListSectionLockStatus type in GraphQL to denote whether the lock was created by an assessment user or not.
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/resolvers/plan_task_list_section_locks.go
  pkg/graph/resolvers/plan_task_list_section_locks_test.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  src/queries/TaskListSubscription/GetTaskListSubscriptions.ts
  src/queries/TaskListSubscription/SubscribeToTaskList.ts
  src/queries/TaskListSubscription/types/GetTaskListSubscriptions.ts
  src/queries/TaskListSubscription/types/TaskListSubscription.ts
Due: eslint, graphql-schema, check-code-generation

Added assessment icon and text to locked task list section
  src/i18n/en-US/modelPlanTaskList.ts
  src/views/ModelPlan/TaskList/_components/TaskListLock/index.scss
  src/views/ModelPlan/TaskList/_components/TaskListLock/index.tsx
  src/views/ModelPlan/TaskList/index.tsx
Due: eslint

Add isAssessment to discussions and replies
  migrations/V9__Add_Plan_Discussion.sql
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/plan_discussion.go
  pkg/graph/resolvers/plan_discussion_test.go
  pkg/graph/schema.graphql
  pkg/models/plan_discussion.go
  pkg/storage/SQL/discussion_reply_collection_by_discussion_id.sql
  pkg/storage/SQL/discussion_reply_create.sql
  pkg/storage/SQL/discussion_reply_delete.sql
  pkg/storage/SQL/discussion_reply_get_by_id.sql
  pkg/storage/SQL/discussion_reply_update.sql
  pkg/storage/SQL/plan_discussion_collection_by_model_plan_id.sql
  pkg/storage/SQL/plan_discussion_create.sql
  pkg/storage/SQL/plan_discussion_delete.sql
  pkg/storage/SQL/plan_discussion_get_by_id.sql
  pkg/storage/SQL/plan_discussion_update.sql
Due: graphql-schema, check-code-generation

Converted assessment to boolean in case of undefined
  src/views/ModelPlan/TaskList/index.tsx
Due: eslint

possible needs to possible solutions linking
  migrations/V31__Add_Possible_Need_Solution_Link_Functions.sql
  migrations/V32__Add_Possible_Need_Solution_Link_Entries.sql
Due: none

possible solutions linking
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/resolvers/operational_solution.go
  pkg/graph/resolvers/possible_operational_solution.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/storage/SQL/possible_operational_need_collection_get_by_model_plan_id.sql
  pkg/storage/possible_operational_solutionStore.go
Due: graphql-schema, check-code-generation

possible solutions linking
  pkg/storage/SQL/possible_operational_solution_collection_get_by_need_type.sql
Due: none

[EASI-2399] Added `isAssessment` property to TaskListSectionLockStatus (#252)
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/resolvers/plan_task_list_section_locks.go
  pkg/graph/resolvers/plan_task_list_section_locks_test.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  src/i18n/en-US/modelPlanTaskList.ts
  src/queries/TaskListSubscription/GetTaskListSubscriptions.ts
  src/queries/TaskListSubscription/SubscribeToTaskList.ts
  src/queries/TaskListSubscription/types/GetTaskListSubscriptions.ts
  src/queries/TaskListSubscription/types/TaskListSubscription.ts
  src/views/ModelPlan/TaskList/_components/TaskListLock/index.scss
  src/views/ModelPlan/TaskList/_components/TaskListLock/index.tsx
  src/views/ModelPlan/TaskList/index.tsx
Due: eslint, graphql-schema, check-code-generation

clean up env variables
  .envrc
  docker-compose.yml
Due: none

Custom icon for rendering assessment team, added icons to discussions and replies
  src/components/shared/AssessmentIcon/index.scss
  src/components/shared/AssessmentIcon/index.tsx
  src/i18n/en-US/draftModelPlan/discussions.ts
  src/queries/Discussions/GetModelPlanDiscussions.ts
  src/queries/Discussions/types/GetModelPlanDiscussions.ts
  src/views/ModelPlan/Discussions/index.tsx
  src/views/ModelPlan/TaskList/_components/TaskListLock/index.tsx
Due: eslint, check-code-generation

chore: cleanup old configs from debugging
  docker-compose.override.yml
Due: none

Added collaborator map to discussions to render full name and both initials
  src/queries/Discussions/GetModelPlanDiscussions.ts
  src/queries/Discussions/types/GetModelPlanDiscussions.ts
  src/views/ModelPlan/Discussions/index.tsx
Due: eslint, check-code-generation

fix go.mod
  go.mod
Due: none

Introduce new return variables for isAssessment for task list locks (From #252) and discussions/replies (this PR)
  MINT.postman_collection.json
Due: none

[NOREF] New Translate Function And Read Only Redirect (#250)
  src/utils/modelPlan.ts
  src/views/App/index.tsx
  src/views/ModelPlan/ReadOnly/GeneralCharacteristics/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/GeneralCharacteristics/index.test.tsx
  src/views/ModelPlan/ReadOnly/GeneralCharacteristics/index.tsx
  src/views/ModelPlan/ReadOnly/ModelBasics/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/ModelBasics/index.tsx
  src/views/ModelPlan/ReadOnly/ParticipantsAndProviders/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/ParticipantsAndProviders/index.tsx
  src/views/ModelPlan/ReadOnly/Payments/index.tsx
Due: eslint

Added collaborator mock to discussion test
  src/views/ModelPlan/Discussions/index.test.tsx
  src/views/ModelPlan/Discussions/index.tsx
Due: eslint

Removed log statement
  src/views/ModelPlan/Discussions/index.tsx
Due: eslint

reset to previous working version
  .envrc
Due: none

EASI-2337/faktory implementation (#249)
  .envrc
  cmd/mint/serve.go
  docker-compose.yml
  docs/faktory.md
  docs/images/faktory/dashboard_busy.png
  go.mod
  go.sum
  pkg/graph/resolvers/plan_cr_tdl.go
  pkg/models/base_task_list_section.go
  pkg/models/discussion_relation.go
  pkg/models/model_plan.go
  pkg/models/model_plan_relation.go
  pkg/models/plan_beneficiaries.go
  pkg/models/plan_cr_tdl.go
  pkg/models/plan_discussion.go
  pkg/models/plan_document.go
  pkg/models/plan_favorite.go
  pkg/models/plan_general_characteristics.go
  pkg/models/plan_it_tools.go
  pkg/models/plan_ops_eval_and_learning.go
  pkg/models/plan_participants_and_providers.go
  pkg/models/plan_payments.go
  pkg/worker/client.go
  pkg/worker/worker.go
Due: none

updating to postgres version 14.4 for local testing
  docker-compose.yml
Due: none

ran dos2unix across .envrc to sanitize for unix environments
  .envrc
Due: none

Updated content for task list and process steps
  src/i18n/en-US/modelPlan.ts
  src/i18n/en-US/modelPlanTaskList.ts
  src/views/ModelPlan/StepsOverview/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/index.tsx
Due: eslint

Added ability to download single plan from task list
  src/i18n/en-US/home.ts
  src/queries/GetAllSingleModelPlan.ts
  src/queries/types/GetAllSingleModelData.ts
  src/utils/export/CsvExportLink.tsx
  src/views/ModelPlan/TaskList/_components/TaskListSideNav/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/_components/TaskListSideNav/index.tsx
Due: eslint, check-code-generation

add SQL to get operational solutions and possible at one time to see what it would look like
  pkg/storage/SQL/operational_solution_and_possible_get_by_operational_need_id_and_type.sql
  pkg/storage/operational_solutionStore.go
Due: none

contraints so no duplicate custom needs, and no need with both a need type and a custom need
  migrations/V25__Add_Operational_Need.sql
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/operational_need.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/storage/operational_solutionStore.go
Due: graphql-schema, check-code-generation

Added revisions to process list, basics, and discussions
  src/components/AskAQuestion/index.test.tsx
  src/i18n/en-US/draftModelPlan/basics.ts
  src/i18n/en-US/draftModelPlan/discussions.ts
  src/i18n/en-US/home.ts
  src/i18n/en-US/modelPlan.ts
  src/views/ModelPlan/ReadOnly/ModelBasics/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/StepsOverview/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/StepsOverview/index.tsx
  src/views/ModelPlan/TaskList/Basics/Milestones/index.tsx
  src/views/ModelPlan/TaskList/Basics/Overview/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Basics/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Basics/index.tsx
Due: eslint

Updated cypress tests
  cypress/e2e/modelPlan.spec.js
  src/i18n/en-US/home.ts
Due: eslint

[NOREF] updating to postgres version 14.4 for local testing (#256)
  docker-compose.yml
Due: none

[NOREF] Add isAssessment to discussions and replies (#253)
  MINT.postman_collection.json
  migrations/V9__Add_Plan_Discussion.sql
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/plan_discussion.go
  pkg/graph/resolvers/plan_discussion_test.go
  pkg/graph/schema.graphql
  pkg/models/plan_discussion.go
  pkg/storage/SQL/discussion_reply_collection_by_discussion_id.sql
  pkg/storage/SQL/discussion_reply_create.sql
  pkg/storage/SQL/discussion_reply_delete.sql
  pkg/storage/SQL/discussion_reply_get_by_id.sql
  pkg/storage/SQL/discussion_reply_update.sql
  pkg/storage/SQL/plan_discussion_collection_by_model_plan_id.sql
  pkg/storage/SQL/plan_discussion_create.sql
  pkg/storage/SQL/plan_discussion_delete.sql
  pkg/storage/SQL/plan_discussion_get_by_id.sql
  pkg/storage/SQL/plan_discussion_update.sql
  src/components/shared/AssessmentIcon/index.scss
  src/components/shared/AssessmentIcon/index.tsx
  src/i18n/en-US/draftModelPlan/discussions.ts
  src/queries/Discussions/GetModelPlanDiscussions.ts
  src/queries/Discussions/types/GetModelPlanDiscussions.ts
  src/views/ModelPlan/Discussions/index.test.tsx
  src/views/ModelPlan/Discussions/index.tsx
  src/views/ModelPlan/TaskList/_components/TaskListLock/index.tsx
Due: eslint, graphql-schema, check-code-generation

Constraints on solution so no duplicate other type, and no other type and a normal type
  migrations/V27__Add_Operational_Solution.sql
Due: none

Remove Status update link in read only pages
  src/views/ModelPlan/ReadOnly/index.tsx
  src/views/ModelPlan/TaskList/_components/TaskListStatus/index.tsx
Due: eslint
