Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, tsc-check, graphql-schema, check-code-generation

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch
        args: [
          '--pattern', '^(?!((main)|(feature\/EASI-\d{1,5})|((EASI-\d{1,5}|NOREF|dependabot)\/[a-zA-Z0-9\-\._/]+))$).*',
          '--branch', '' # Adding this to remove the default protection on `main` so that CI checks can pass
        ]
        name: Enforce branch naming patterns
        description: Enforces branch naming policy. Allowed branch patterns are 'EASI-#', 'EASI-#/*', 'feature/EASI-#', 'NOREF/*', and 'dependabot/*'. A feature branch like feature/EASI-2020 would have branches like EASI-2020/frontend and EASI-2020/backend merge into it.
      - id: check-yaml
        name: Check YAML formatting
      - id: detect-private-key
        name: Check for private keys
      - id: end-of-file-fixer
        files: \.(sql|scss|md|js|ts|tsx|go|yml|yaml)$
        name: Add newlines to ends of files

  - repo: https://github.com/detailyang/pre-commit-shell
    rev: v1.0.6
    hooks:
      - id: shell-lint
        name: Lint shell files

  - repo: https://github.com/trussworks/pre-commit-hooks
    rev: v1.1.1
    hooks:
      - id: mdspell
        name: Spellcheck Markdown files
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor
          )$

  - repo: https://github.com/Bahjat/pre-commit-golang
    rev: v1.0.1
    hooks:
      - id: go-fmt-import
        name: Run "goimports" on go files
        args: ['-local', 'github.com/cmsgov/mint-app']
        files: .*\.go$
        exclude: >
          (?x)^(
            .*gen/.*|
            .*generated/.*|
            .*models_gen.go|
          )$

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.48.0
    hooks:
      - id: golangci-lint
        name: Lint go files
        args: ['--concurrency', '-1'] # Run with all CPUs

  - repo: local
    hooks:
    - id: dockerfilelint
      name: Lint Dockerfile
      entry: dockerfilelint
      language: node
      additional_dependencies: [dockerfilelint]
      files: Dockerfile.*

  - repo: local
    hooks:
      - id: eslint
        name: Run eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$

  - repo: local
    hooks:
      - id: tsc-check
        name: Run typescript check
        entry: scripts/pre-commit-tsc
        language: script
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false

  - repo: local
    hooks:
      - id: graphql-schema
        name: Lint GraphQL schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: pkg/graph/schema.graphql

  - repo: local
    hooks:
      - id: check-code-generation
        name: Run GraphQL code generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: "pkg/graph/schema\\.graphql|pkg/graph/schema\\.resolvers\\.go|src/queries/.*\\.ts"
        pass_filenames: false

  - repo: https://github.com/awslabs/git-secrets
    rev: b9e96b3212fa06aea65964ff0d5cda84ce935f38
    hooks:
      - id: git-secrets
        name: Check for committed secrets
        entry: git-secrets --pre_commit_hook

  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 1.2.1
    hooks:
      - id: sqlfluff-fix
        exclude: ^scripts/data/
      - id: sqlfluff-lint
        exclude: ^scripts/data/

[Easi-2533] Multiple Role Directive and Assign MAC Role to Mutations (#372)
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/server/routes.go
  pkg/services/auth.go
Due: graphql-schema, check-code-generation

Fix timeout modal locally
  src/views/TimeOutWrapper/index.tsx
Due: eslint, tsc-check

Simplify conditional
  src/views/TimeOutWrapper/index.tsx
Due: eslint, tsc-check

Don't pop open modal for local auth
  src/views/TimeOutWrapper/index.tsx
Due: eslint, tsc-check

Fix timeout from testing
  src/views/TimeOutWrapper/index.tsx
Due: eslint, tsc-check

Simplify createModelPlan resolver to use user account information instead of a CEDAR Call for user info
  cmd/dbseed/resolver_wrappers.go
  pkg/graph/resolvers/model_plan.go
  pkg/graph/resolvers/model_plan_test.go
  pkg/graph/resolvers/resolver_test.go
  pkg/graph/schema.resolvers.go
  pkg/worker/worker_test.go
Due: check-code-generation

add integration tests, cleanup
  .envrc
  docker-compose.yml
  pkg/server/routes.go
  pkg/worker/analyzed_audit_job.go
  pkg/worker/analyzed_audit_job_test.go
  pkg/worker/client.go
  pkg/worker/daily_digest_test.go
  pkg/worker/digest_cron_job.go
  pkg/worker/digest_cron_job_test.go
  pkg/worker/digest_email_job.go
  pkg/worker/digest_email_job_test.go
  pkg/worker/worker.go
  pkg/worker/worker_test.go
Due: none

Cleanup
  Dockerfile.db_migrations
  pkg/worker/analyzed_audit_job.go
Due: dockerfilelint

remove unused userinfo in resolver wrapper. Correct DB seeding to ensure principal has a user account
  cmd/dbseed/resolver_wrappers.go
Due: none

update cron for dev
  .faktory/conf.d/cron.toml
Due: none

remove unused import
  src/views/Login/index.tsx
Due: eslint, tsc-check

h2 header styling
  src/views/ModelPlan/ModelPlanOverview/index.tsx
Due: eslint, tsc-check

Decreasing spacing between header and copy
  src/views/Home/index.tsx
Due: eslint, tsc-check

empty model state copy update
  src/i18n/en-US/home.ts
Due: eslint, tsc-check

Model Overview UI fixes
  src/views/HelpAndKnowledge/Articles/ModelPlanOverview/index.tsx
Due: eslint, tsc-check

replace direnv action with direnv export
  .github/workflows/run_tests.yml
Due: none

[NOREF] Fix timeout modal locally (#376)
  src/views/TimeOutWrapper/index.tsx
Due: eslint, tsc-check

Default FLYWAY_CLEAN_DISABLED to false
  Dockerfile.db_clean
Due: dockerfilelint

[NOREF] Default FLYWAY_CLEAN_DISABLED to false (#378)
  Dockerfile.db_clean
Due: dockerfilelint

fix sql
  pkg/storage/SQL/model_plan/collection_ids_favorited.sql
  pkg/storage/SQL/model_plan/collection_where_favorited.sql
  pkg/storage/model_planStore.go
Due: none

use constant
  pkg/worker/digest_cron_job.go
Due: none

[EASI-2346] - Faktory Jobs (#358)
  .envrc
  .faktory/conf.d/cron.toml
  Dockerfile.db_migrations
  cmd/mint/serve.go
  docker-compose.yml
  migrations/V40__Add_Constraint_To_Analyzed_Audit.sql
  pkg/appconfig/config.go
  pkg/models/analyzed_audit.go
  pkg/server/routes.go
  pkg/server/server.go
  pkg/storage/SQL/model_plan/collection_where_favorited.sql
  pkg/storage/SQL/plan_collaborator/collection_unique_by_eua.sql
  pkg/storage/model_planStore.go
  pkg/storage/plan_collaboratorStore.go
  pkg/worker/analyzed_audit_job.go
  pkg/worker/analyzed_audit_job_test.go
  pkg/worker/client.go
  pkg/worker/daily_digest.go
  pkg/worker/daily_digest_test.go
  pkg/worker/digest_cron_job.go
  pkg/worker/digest_cron_job_test.go
  pkg/worker/digest_email_job.go
  pkg/worker/digest_email_job_test.go
  pkg/worker/worker.go
  pkg/worker/worker_test.go
  scripts/dev
Due: dockerfilelint

Rich text / markdown POC
  package.json
  src/views/ModelPlan/TaskList/Basics/Overview/index.tsx
  yarn.lock
Due: eslint, tsc-check

Change the close icon
  src/components/Modal/index.tsx
Due: eslint, tsc-check

Model Type is not required
  src/validations/planBasics.ts
  src/views/ModelPlan/TaskList/Basics/Overview/index.tsx
Due: eslint, tsc-check

Remove Phased In required question
  src/validations/planBasics.ts
  src/views/ModelPlan/TaskList/Basics/Milestones/index.tsx
Due: eslint, tsc-check

updaed snaps
  src/views/ModelPlan/StepsOverview/__snapshots__/index.test.tsx.snap
Due: none

[NOREF] - Added filter to modelPlanCollection on generalCharacteristics (#360)
  src/views/ModelPlan/TaskList/GeneralCharacteristics/index.tsx
Due: eslint, tsc-check

Easi 2505/create model plan error handling (#377)
  cmd/dbseed/resolver_wrappers.go
  pkg/graph/resolvers/model_plan.go
  pkg/graph/resolvers/model_plan_test.go
  pkg/graph/resolvers/resolver_test.go
  pkg/graph/schema.resolvers.go
  pkg/worker/worker_test.go
Due: check-code-generation

Refactor subtask table
  src/views/ModelPlan/TaskList/ITSolutions/_components/Subtasks/index.tsx
Due: eslint, tsc-check

Added message on implementations details to show warning if removing solution
  src/i18n/en-US/draftModelPlan/itSolutions.ts
  src/views/ModelPlan/TaskList/ITSolutions/SelectSolutions/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/SolutionDetails/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/SolutionImplementation/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/NeedsStatus/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/Subtasks/index.tsx
Due: eslint, tsc-check

working to store jwt reference in context, and return more information from CEDAR so it is accessible for adding a collaborator
  pkg/appcontext/context.go
  pkg/authentication/enhanced_jwt.go
  pkg/cedar/cedarldap/translated_client.go
  pkg/graph/schema.resolvers.go
  pkg/models/user_info.go
  pkg/okta/authentication_middleware.go
Due: check-code-generation

Changed conditional for showing message on imp details page
  src/views/ModelPlan/TaskList/ITSolutions/SelectSolutions/index.tsx
Due: eslint, tsc-check

Update snaps and affected previous tests
  src/i18n/en-US/draftModelPlan/itSolutions.ts
  src/views/ModelPlan/Documents/AddDocument/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/Documents/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/AddCustomSolution/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/AddCustomSolution/index.test.tsx
  src/views/ModelPlan/TaskList/ITSolutions/AddSolution/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/Home/__snapshots__/operationalNeedsTable.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/SelectSolutions/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/SelectSolutions/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/SolutionDetails/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/SolutionImplementation/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/_components/NeedQuestionAndAnswer/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionCard/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/util.test.tsx
Due: eslint, tsc-check

Finished unit testing
  src/views/ModelPlan/TaskList/ITSolutions/_components/NeedQuestionAndAnswer/index.test.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionDetailCard/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionDetailCard/index.test.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/Subtasks/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/_components/Subtasks/index.test.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/Subtasks/index.tsx
Due: eslint, tsc-check

Remove width-card lg
  src/components/shared/DatePicker/index.tsx
Due: eslint, tsc-check

flexing the children
  src/views/ModelPlan/TaskList/Basics/Milestones/index.scss
Due: none

Removing width-card-lg
  src/views/ModelPlan/TaskList/Basics/Milestones/index.tsx
Due: eslint, tsc-check

desktop column 7
  src/views/ModelPlan/TaskList/Basics/Milestones/index.tsx
Due: eslint, tsc-check

Using datepicker__wrapper instead of fieldgroup__wrapper
  src/views/ModelPlan/TaskList/Basics/Milestones/index.scss
  src/views/ModelPlan/TaskList/Basics/Milestones/index.tsx
Due: eslint, tsc-check
