Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, tsc-check, graphql-schema, check-code-generation

dockerfilelint:
  name: Lint Dockerfile
  entry: dockerfilelint
  language: node
  additional_dependencies:
  - dockerfilelint

eslint:
  name: Run eslint
  entry: scripts/pre-commit-eslint
  language: script

tsc-check:
  name: Run typescript check
  entry: scripts/pre-commit-tsc
  language: script
  pass_filenames: false

graphql-schema:
  name: Lint GraphQL schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script

check-code-generation:
  name: Run GraphQL code generation
  entry: scripts/pre-commit-check-code-generation
  language: script
  pass_filenames: false

[EASI-2792] Search Change History GQL Result Typing (#552)
  MINT.postman_collection.json
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/search_change_table.go
  pkg/graph/schema.graphql
  pkg/models/change_table_record.go
Due: graphql-schema, check-code-generation

feat: first pass merge functionality, partially working
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/exisiting_model_link.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/storage/SQL/existing_model_link/merge.sql
  pkg/storage/existing_model_linkStore.go
  pkg/storage/utitiltyStore.go
Due: graphql-schema, check-code-generation

Mobile responsive tweaks
  src/views/ModelPlan/TaskList/ITSolutions/SelectSolutions/index.tsx
Due: eslint, tsc-check

Added subtask count to table
  src/queries/ITSolutions/GetOperationalNeeds.ts
  src/queries/ITSolutions/types/GetOperationalNeeds.ts
  src/views/ModelPlan/TaskList/ITSolutions/Home/operationalNeedsTable.tsx
  src/views/ModelPlan/TaskList/ITSolutions/SelectSolutions/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/util.tsx
Due: eslint, tsc-check, check-code-generation

Updated unit tests
  src/views/ModelPlan/TaskList/ITSolutions/Home/operationalNeedsTable.test.tsx
  src/views/ModelPlan/TaskList/ITSolutions/SelectSolutions/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/SolutionImplementation/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/_components/CheckboxCard/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionCard/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionCard/index.test.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionDetailCard/__snapshots__/index.test.tsx.snap
Due: eslint, tsc-check

chore: updated postman collection
  MINT.postman_collection.json
Due: none

[EASI-2895] - Added mapping for section column on Op needs table (#560)
  src/data/operationalNeedMap.ts
  src/views/ModelPlan/TaskList/ITSolutions/Home/__snapshots__/operationalNeedsTable.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/Home/operationalNeedsTable.tsx
Due: eslint, tsc-check

chore: removed unnecessary recursive directive in sql statement
  config/logstash/ingest_change_table.sql
Due: none

key to be more unique to account for duplicate solutions
  src/views/ModelPlan/TaskList/ITSolutions/SelectSolutions/index.tsx
Due: eslint, tsc-check

use Breadcrumbs component
  src/views/ModelPlan/TaskList/ITSolutions/AddCustomSolution/index.tsx
Due: eslint, tsc-check

Removed commented out code
  src/views/ModelPlan/TaskList/ITSolutions/index.tsx
Due: eslint, tsc-check

[EASI-2896] Map solution details/modal (#564)
  src/hooks/useModalSolutionState.ts
  src/queries/ITSolutions/GetOperationalNeeds.ts
  src/queries/ITSolutions/types/GetOperationalNeeds.ts
  src/views/App/index.tsx
  src/views/App/scrollConfig.ts
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Modal/index.test.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Modal/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/_components/Contact/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/solutionsMap.tsx
  src/views/ModelPlan/TaskList/ITSolutions/Home/operationalNeedsTable.test.tsx
  src/views/ModelPlan/TaskList/ITSolutions/Home/operationalNeedsTable.tsx
  src/views/ModelPlan/TaskList/ITSolutions/SelectSolutions/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/SelectSolutions/index.test.tsx
  src/views/ModelPlan/TaskList/ITSolutions/SelectSolutions/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/SolutionImplementation/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/SolutionImplementation/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/CheckboxCard/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/_components/CheckboxCard/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/NeedQuestionAndAnswer/index.test.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionCard/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionCard/index.test.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionCard/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionDetailCard/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionDetailCard/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/util.tsx
Due: eslint, tsc-check, check-code-generation

explicitly tell the inputs what teh value is
  src/views/ModelPlan/TaskList/ITSolutions/AddCustomSolution/index.tsx
Due: eslint, tsc-check

update snaps
  src/views/ModelPlan/TaskList/ITSolutions/AddCustomSolution/__snapshots__/index.test.tsx.snap
Due: none

Added contact to solution card
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionCard/index.tsx
Due: eslint, tsc-check

Updated snaps
  src/views/ModelPlan/TaskList/ITSolutions/LinkDocuments/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/SelectSolutions/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/SolutionImplementation/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/Subtasks/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/_components/CheckboxCard/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionCard/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionCard/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionDetailCard/__snapshots__/index.test.tsx.snap
Due: eslint, tsc-check

rename logger fields (source and host) for no conflict with SPLUNK
  pkg/server/logger.go
Due: none

op needs table to only render the subtasks if is a solution and not a need
  src/views/ModelPlan/TaskList/ITSolutions/Home/operationalNeedsTable.tsx
Due: eslint, tsc-check

Added query params in place of location state
  src/views/ModelPlan/TaskList/ITSolutions/AddCustomSolution/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/AddOrUpdateOperationalNeed/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/AddSolution/index.test.tsx
  src/views/ModelPlan/TaskList/ITSolutions/AddSolution/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/Home/operationalNeedsTable.tsx
  src/views/ModelPlan/TaskList/ITSolutions/SelectSolutions/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/SolutionImplementation/index.test.tsx
  src/views/ModelPlan/TaskList/ITSolutions/SolutionImplementation/index.tsx
Due: eslint, tsc-check

Adjusted cypress test
  cypress/e2e/itSolutions.spec.js
Due: eslint, tsc-check

[EASI-2601, EASI-2898] - Only create solution if needed, use query param instead of location state (#559)
  cypress/e2e/itSolutions.spec.js
  src/utils/globalFilterCellText.ts
  src/views/ModelPlan/TaskList/ITSolutions/AddCustomSolution/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/AddOrUpdateOperationalNeed/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/AddSolution/index.test.tsx
  src/views/ModelPlan/TaskList/ITSolutions/AddSolution/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/Home/operationalNeedsTable.tsx
  src/views/ModelPlan/TaskList/ITSolutions/SelectSolutions/index.test.tsx
  src/views/ModelPlan/TaskList/ITSolutions/SelectSolutions/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/SolutionImplementation/index.test.tsx
  src/views/ModelPlan/TaskList/ITSolutions/SolutionImplementation/index.tsx
Due: eslint, tsc-check

chore: regnerated gql
  pkg/graph/generated/generated.go
Due: none

correct merge to only delete unmatched, and to return all results correctly
  pkg/storage/SQL/existing_model_link/merge.sql
Due: none

feat: correctly use tx to set user context for merge delete statement
  pkg/storage/existing_model_linkStore.go
Due: none

[EASI-2816] Search Changes in Model Plan Hierarchy by ID (#562)
  MINT.postman_collection.json
  config/logstash/ingest_change_table.sql
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/search_change_table.go
  pkg/graph/resolvers/searchquerytemplates/by_model_id_dates.tmpl
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
Due: graphql-schema, check-code-generation

feat: unit test for existing model link update
  pkg/graph/resolvers/existing_model_link_test.go
Due: none

feat: update postman collection to include updateEndpoint
  MINT.postman_collection.json
Due: none

feat: remove old create and delete functions
  cmd/dbseed/main.go
  cmd/dbseed/resolver_wrappers.go
  pkg/graph/resolvers/exisiting_model_link.go
  pkg/graph/resolvers/existing_model_link_test.go
  pkg/storage/existing_model_linkStore.go
Due: none

Replaced resembles model fields with new field,query, and mutation for both form and readonly
  src/queries/GeneralCharacteristics/GetGeneralCharacteristics.ts
  src/queries/GeneralCharacteristics/UpdateExistingModelLinks.ts
  src/queries/GeneralCharacteristics/types/GetGeneralCharacteristics.ts
  src/queries/GeneralCharacteristics/types/UpdateExistingModelLinks.ts
  src/queries/ReadOnly/GetAllGeneralCharacteristics.ts
  src/queries/ReadOnly/types/GetAllGeneralCharacteristics.ts
  src/utils/export/CsvData.ts
  src/views/ModelPlan/ReadOnly/GeneralCharacteristics/index.test.tsx
  src/views/ModelPlan/ReadOnly/GeneralCharacteristics/index.tsx
  src/views/ModelPlan/ReadOnly/_components/ReadOnlySection/index.tsx
  src/views/ModelPlan/TaskList/GeneralCharacteristics/index.test.tsx
  src/views/ModelPlan/TaskList/GeneralCharacteristics/index.tsx
Due: eslint, tsc-check, check-code-generation

chore: update linting on merge file
  pkg/storage/SQL/existing_model_link/merge.sql
Due: none

WIP
  migrations/V90__Add_Temporal_Tables.sql
  migrations/V91__Add_Historic_Tables.sql
Due: none

after creating custom solution, go to select solution page
  src/views/ModelPlan/TaskList/ITSolutions/AddCustomSolution/index.tsx
Due: eslint, tsc-check

making the e2e call more specific
  cypress/e2e/itSolutions.spec.js
Due: eslint, tsc-check

loading render for teh cards
  src/views/ModelPlan/TaskList/ITSolutions/SelectSolutions/index.tsx
Due: eslint, tsc-check

add more conditonals
  src/views/ModelPlan/TaskList/ITSolutions/_components/CheckboxCard/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionCard/index.tsx
Due: eslint, tsc-check

chore: remove unused comments and error handling
  migrations/V90__Existing_Model_Link_Table.sql
  pkg/graph/resolvers/exisiting_model_link.go
  pkg/models/existing_model_link.go
  pkg/storage/SQL/existing_model_link/merge.sql
  pkg/storage/existing_model_linkStore.go
Due: none

chore: update variable initialization
  pkg/storage/existing_model_linkStore.go
Due: none

chore: update variable initialization and CTE naming
  migrations/V91__Resembles_Existing_Model_To_Link.sql
  pkg/storage/model_planStore.go
Due: none

Path conditions:
  dockerfilelint: any of: Dockerfile.*
  eslint: any of: \.(js|jsx|ts|tsx)$
  tsc-check: any of: \.(js|jsx|ts|tsx)$
  graphql-schema: any of: pkg/graph/schema.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts
