Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, tsc-check, graphql-schema, check-code-generation

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch
        args: [
          '--pattern', '^(?!((main)|(feature\/EASI-\d{1,5})|((EASI-\d{1,5}|NOREF|dependabot)\/[a-zA-Z0-9\-\._/]+))$).*',
          '--branch', '' # Adding this to remove the default protection on `main` so that CI checks can pass
        ]
        name: Enforce branch naming patterns
        description: Enforces branch naming policy. Allowed branch patterns are 'EASI-#', 'EASI-#/*', 'feature/EASI-#', 'NOREF/*', and 'dependabot/*'. A feature branch like feature/EASI-2020 would have branches like EASI-2020/frontend and EASI-2020/backend merge into it.
      - id: check-yaml
        name: Check YAML formatting
      - id: detect-private-key
        name: Check for private keys
      - id: end-of-file-fixer
        files: \.(sql|scss|md|js|ts|tsx|go|yml|yaml)$
        name: Add newlines to ends of files

  - repo: https://github.com/detailyang/pre-commit-shell
    rev: v1.0.6
    hooks:
      - id: shell-lint
        name: Lint shell files

  - repo: https://github.com/trussworks/pre-commit-hooks
    rev: v1.1.1
    hooks:
      - id: mdspell
        name: Spellcheck Markdown files
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor
          )$

  - repo: https://github.com/Bahjat/pre-commit-golang
    rev: v1.0.1
    hooks:
      - id: go-fmt-import
        name: Run "goimports" on go files
        args: ['-local', 'github.com/cmsgov/mint-app']
        files: .*\.go$
        exclude: >
          (?x)^(
            .*gen/.*|
            .*generated/.*|
            .*models_gen.go|
          )$

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.48.0
    hooks:
      - id: golangci-lint
        name: Lint go files
        args: ['--concurrency', '-1'] # Run with all CPUs

  - repo: local
    hooks:
    - id: dockerfilelint
      name: Lint Dockerfile
      entry: dockerfilelint
      language: node
      additional_dependencies: [dockerfilelint]
      files: Dockerfile.*

  - repo: local
    hooks:
      - id: eslint
        name: Run eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$

  - repo: local
    hooks:
      - id: tsc-check
        name: Run typescript check
        entry: scripts/pre-commit-tsc
        language: script
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false

  - repo: local
    hooks:
      - id: graphql-schema
        name: Lint GraphQL schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: pkg/graph/schema.graphql

  - repo: local
    hooks:
      - id: check-code-generation
        name: Run GraphQL code generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: "pkg/graph/schema\\.graphql|pkg/graph/schema\\.resolvers\\.go|src/queries/.*\\.ts"
        pass_filenames: false

  - repo: https://github.com/awslabs/git-secrets
    rev: b9e96b3212fa06aea65964ff0d5cda84ce935f38
    hooks:
      - id: git-secrets
        name: Check for committed secrets
        entry: git-secrets --pre_commit_hook

  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 1.2.1
    hooks:
      - id: sqlfluff-fix
        exclude: ^scripts/data/
      - id: sqlfluff-lint
        exclude: ^scripts/data/

Remove logger from handlerbase
  pkg/handlers/handler_base.go
  pkg/handlers/handlers_test.go
  pkg/integration/integration_test.go
  pkg/okta/authentication_middleware_test.go
  pkg/server/routes.go
Due: none

Remove logger from authentication middleware
  pkg/local/authentication_middleware.go
  pkg/server/routes.go
Due: none

Check for new logger in all logger tests because we always make a new one
  pkg/server/logger_test.go
Due: none

feat: update select statement to correctly get operational solution created_by instead of operational needs
  pkg/storage/SQL/operational_solution/and_possible_get_by_operational_need_id_LOADER.sql
Due: none

[NOREF] Add splunk log fields and fix log references (#582)
  cmd/dbseed/main.go
  pkg/authorization/require_principal_middleware.go
  pkg/authorization/require_principal_middleware_test.go
  pkg/graph/resolvers/resolver_test_utilities.go
  pkg/graph/schema.resolvers_test.go
  pkg/handlers/handler_base.go
  pkg/handlers/handlers_test.go
  pkg/integration/integration_test.go
  pkg/local/authentication_middleware.go
  pkg/okta/authentication_middleware_test.go
  pkg/server/logger.go
  pkg/server/logger_test.go
  pkg/server/routes.go
  pkg/server/server.go
  pkg/server/trace.go
  pkg/server/trace_test.go
  pkg/services/services_test.go
  pkg/storage/store.go
  pkg/storage/store_test.go
  pkg/worker/worker_test_utilities.go
Due: none

add closeModal functionality to FilterViewModal component
  src/views/ModelPlan/ReadOnly/_components/FilterViewModal/index.tsx
  src/views/ModelPlan/ReadOnly/index.tsx
Due: eslint, tsc-check

chore: run GQL gen to allow for version differences. No impact except stylistically
  pkg/graph/generated/generated.go
Due: none

Add group options
  src/views/ModelPlan/ReadOnly/_components/FilterViewModal/index.tsx
Due: eslint, tsc-check

[NOREF] - Discussion text and alert fixes (#581)
  src/components/ITSolutionsWarning/__snapshots__/index.test.tsx.snap
  src/components/shared/Alert/__snapshots__/index.test.tsx.snap
  src/components/shared/Alert/index.tsx
  src/views/ModelPlan/Collaborators/AddCollaborator/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/Collaborators/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/Discussions/SingleDiscussion.tsx
  src/views/ModelPlan/Discussions/index.tsx
  src/views/ModelPlan/Documents/AddDocument/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/NewPlan/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Basics/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/GeneralCharacteristics/KeyCharacteristics/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/GeneralCharacteristics/TargetsAndOptions/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/CCWAndQuality/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/IDDOCTesting/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/Learning/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/Performance/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/Coordination/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Payment/AnticipateDependencies/__snapshots__/index.test.tsx.snap
  src/views/NDA/__snapshots__/index.test.tsx.snap
Due: eslint, tsc-check

its working
  src/views/ModelPlan/ReadOnly/_components/FilterViewModal/index.tsx
Due: eslint, tsc-check

modal functionality works
  src/views/ModelPlan/ReadOnly/_components/FilterViewModal/index.tsx
  src/views/ModelPlan/ReadOnly/index.tsx
Due: eslint, tsc-check

fix console error
  src/views/ModelPlan/ReadOnly/_components/FilterViewModal/index.tsx
Due: eslint, tsc-check

temp eslint disable
  src/views/ModelPlan/ReadOnly/index.tsx
Due: eslint, tsc-check

Spacing
  src/views/ModelPlan/ReadOnly/index.tsx
Due: eslint, tsc-check

remove commented code
  src/views/ModelPlan/ReadOnly/index.tsx
Due: eslint, tsc-check

wrapped filter group in a flag
  src/views/ModelPlan/ReadOnly/_components/Sidenav/index.tsx
Due: eslint, tsc-check

add flags
  src/types/flags.ts
  src/utils/user.test.ts
  src/views/FlagsWrapper/index.tsx
  src/views/ModelPlan/ReadOnly/_components/Sidenav/index.tsx
Due: eslint, tsc-check

removed setting state in favor of setting query parameter
  src/views/ModelPlan/ReadOnly/_components/FilterViewModal/index.tsx
  src/views/ModelPlan/ReadOnly/index.tsx
Due: eslint, tsc-check

if view all then remove query parameter
  src/views/ModelPlan/ReadOnly/_components/FilterViewModal/index.tsx
Due: eslint, tsc-check

add unit test
  src/views/ModelPlan/ReadOnly/_components/FilterViewModal/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/_components/FilterViewModal/index.test.tsx
  src/views/ModelPlan/ReadOnly/_components/FilterViewModal/index.tsx
Due: eslint, tsc-check

added postman collection, added model plan section query filter, updated factories, added model plan ID to change table records, added pagination and sort typed inputs
  MINT.postman_collection.json
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/resolvers/search_change_table.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/change_table_record.go
  pkg/querybuilderfactories/query_builder_factory.go
  pkg/querybuilderfilters/model_plan_section_filter.go
  pkg/shared/oddsearch/query_builder.go
  pkg/shared/oddsearch/query_builder_filters.go
Due: graphql-schema, check-code-generation

chore: updated documentation for filter types
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
Due: graphql-schema, check-code-generation

merging from main
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
Due: none

chore: regenerated gql after merge from main
  pkg/graph/generated/generated.go
Due: none

add snaps
  src/views/ModelPlan/ReadOnly/__snapshots__/index.test.tsx.snap
Due: none

Correct Duplicate Operational Solution (#583)
  pkg/storage/SQL/operational_solution/and_possible_get_by_operational_need_id_LOADER.sql
Due: none

[EASI-2410] Ask a Question Modal Functionality in Read Only pages (#576)
  src/views/ModelPlan/Discussions/FormatDiscussion.tsx
  src/views/ModelPlan/Discussions/SingleDiscussion.tsx
  src/views/ModelPlan/Discussions/index.tsx
  src/views/ModelPlan/ReadOnly/Discussions/_components/QuestionAndReply.tsx
Due: eslint, tsc-check

work in progress
  src/views/ModelPlan/ReadOnly/index.tsx
Due: eslint, tsc-check

Filter View Banner init component
  src/views/ModelPlan/ReadOnly/_components/FilterViewBanner/index.tsx
Due: eslint, tsc-check

[EASI-2968] Group Filter Box/Modal Select (#585)
  src/components/Modal/index.scss
  src/components/Modal/index.tsx
  src/i18n/en-US/index.ts
  src/i18n/en-US/readOnly/filterView.ts
  src/i18n/en-US/readOnly/generalReadOnly.ts
  src/types/flags.ts
  src/utils/user.test.ts
  src/views/FlagsWrapper/index.tsx
  src/views/ModelPlan/ReadOnly/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/_components/FilterViewModal/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/_components/FilterViewModal/index.test.tsx
  src/views/ModelPlan/ReadOnly/_components/FilterViewModal/index.tsx
  src/views/ModelPlan/ReadOnly/_components/Sidenav/index.tsx
  src/views/ModelPlan/ReadOnly/index.tsx
Due: eslint, tsc-check

add more to copy
  src/i18n/en-US/readOnly/filterView.ts
Due: eslint, tsc-check

moved into own Filter View folder
  src/views/ModelPlan/ReadOnly/_components/FilterView/Banner/index.tsx
  src/views/ModelPlan/ReadOnly/_components/FilterView/Modal/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/_components/FilterView/Modal/index.test.tsx
  src/views/ModelPlan/ReadOnly/_components/FilterView/Modal/index.tsx
  src/views/ModelPlan/ReadOnly/_components/FilterViewBanner/index.tsx
  src/views/ModelPlan/ReadOnly/index.tsx
Due: eslint, tsc-check

moved groupOptions to its own folder
  src/views/ModelPlan/ReadOnly/_components/FilterView/Modal/index.tsx
  src/views/ModelPlan/ReadOnly/_components/FilterView/util.ts
Due: eslint, tsc-check

passing down filtered view prop
  src/views/ModelPlan/ReadOnly/_components/FilterView/Banner/index.tsx
  src/views/ModelPlan/ReadOnly/index.tsx
Due: eslint, tsc-check

add more copy
  src/i18n/en-US/readOnly/filterView.ts
Due: eslint, tsc-check

making the functionality work
  src/views/ModelPlan/ReadOnly/_components/FilterView/Banner/index.tsx
  src/views/ModelPlan/ReadOnly/index.tsx
Due: eslint, tsc-check

EASI-2993 init
  docs/logstash.md
Due: none

add styles
  src/views/ModelPlan/ReadOnly/_components/FilterView/Banner/index.scss
  src/views/ModelPlan/ReadOnly/_components/FilterView/Banner/index.tsx
Due: eslint, tsc-check

EASI-2993 build logstash image
  docker-compose.yml
  logstash/Dockerfile.logstash
  logstash/config/ingest_change_table.sql
  logstash/config/logstash.conf
  logstash/config/postgresql-42.6.0.jar
  logstash/logstash_entrypoint.sh
Due: dockerfilelint

EASI-2993 GHA step to build logstash image
  .github/workflows/build_application_images.yml
Due: none
