Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, tsc-check, graphql-schema, check-code-generation

dockerfilelint:
  name: Lint Dockerfile
  entry: dockerfilelint
  language: node
  additional_dependencies:
  - dockerfilelint

eslint:
  name: Run eslint
  entry: scripts/pre-commit-eslint
  language: script

tsc-check:
  name: Run typescript check
  entry: scripts/pre-commit-tsc
  language: script
  pass_filenames: false

graphql-schema:
  name: Lint GraphQL schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script
  pass_filenames: false

check-code-generation:
  name: Run GraphQL code generation
  entry: scripts/pre-commit-check-code-generation
  language: script
  pass_filenames: false

update code types to match
  migrations/V280__Create_Waiver_Tables.sql
  pkg/graph/generated/generated.go
  pkg/graph/schema/types/waiver/common_waiver.graphql
  pkg/models/common_waiver.go
  src/features/ModelPlan/AdditionalQuestionnaires/WaiverAssessmentSurvey/mockWaiversData.ts
  src/gql/generated/graphql.ts
Due: eslint, tsc-check, graphql-schema

update to enum array but still translate on the way out to keep contract the same
  migrations/V280__Create_Waiver_Tables.sql
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/common_waiver.resolvers.go
  pkg/graph/resolvers/waiver.go
  pkg/graph/resolvers/waiver_test.go
  pkg/graph/schema/types/waiver/common_waiver.graphql
  pkg/graph/schema/types/waiver/waiver.graphql
  pkg/models/common_waiver.go
  pkg/models/common_waiver_test.go
  pkg/models/waiver.go
  pkg/sqlqueries/SQL/common_waiver/get_by_id_LOADER.sql
  pkg/sqlqueries/SQL/common_waiver/get_by_model_plan_id_LOADER.sql
  pkg/sqlqueries/SQL/waiver/get_by_model_plan_id_LOADER.sql
  pkg/sqlqueries/SQL/waiver/upsert.sql
  pkg/sqlqueries/SQL/waiver/upsert_collection.sql
  pkg/sqlqueries/waiver.go
  pkg/storage/common_waiverStore.go
  pkg/storage/waiver_store.go
  src/features/ModelPlan/AdditionalQuestionnaires/WaiverAssessmentSurvey/_components/SelectWaiverField/index.test.tsx
  src/features/ModelPlan/AdditionalQuestionnaires/WaiverAssessmentSurvey/_components/SelectWaiverField/index.tsx
  src/features/ModelPlan/AdditionalQuestionnaires/WaiverAssessmentSurvey/_components/WaiverInfoPanel/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/AdditionalQuestionnaires/WaiverAssessmentSurvey/_components/WaiverInfoPanel/index.test.tsx
  src/features/ModelPlan/AdditionalQuestionnaires/WaiverAssessmentSurvey/_components/WaiverInfoPanel/index.tsx
  src/features/ModelPlan/AdditionalQuestionnaires/WaiverAssessmentSurvey/_components/WaiverSelectionSection/index.tsx
  src/features/ModelPlan/AdditionalQuestionnaires/WaiverAssessmentSurvey/util.ts
  src/gql/generated/graphql.ts
  src/gql/operations/AdditionalQuestionnaires/WaiverAssessmentSurvey/GetAllWaiverAssessmentSurvey.ts
  src/gql/operations/AdditionalQuestionnaires/WaiverAssessmentSurvey/GetWaivers.ts
  src/i18n/en-US/modelPlan/waiverAssessmentSurvey.ts
  src/types/waivers.ts
Due: eslint, tsc-check, graphql-schema

(no verify) bump sql nums in anticipation of main merge
  migrations/V281__Add_Waiver_Assessment_Survey_Task.sql
  migrations/V282__Backfill_Waiver_Assessment_Survey_Task.sql
  migrations/V283__Create_Waiver_Tables.sql
  migrations/V284__Add_Waiver_Assessment_Survey_Notifications.sql
  migrations/V285__Backfill_Waiver_Assessment_Survey_And_Waivers.sql
  migrations/V286__Suggested_Waiver_Trigger.sql
Due: none

bump sql nums in anticipation of main merge
  migrations/V281__Add_Waiver_Assessment_Survey_Task.sql
  migrations/V282__Backfill_Waiver_Assessment_Survey_Task.sql
  migrations/V283__Create_Waiver_Tables.sql
  migrations/V284__Add_Waiver_Assessment_Survey_Notifications.sql
  migrations/V285__Backfill_Waiver_Assessment_Survey_And_Waivers.sql
  migrations/V286__Suggested_Waiver_Trigger.sql
Due: none

removed OA as per feedback
  pkg/models/plan_task.go
Due: none

fix column and type
  migrations/V282__Backfill_Waiver_Assessment_Survey_Task.sql
Due: none

update test for future-proofing
  pkg/graph/resolvers/plan_task_test.go
Due: none

prevent null bools
  migrations/V283__Create_Waiver_Tables.sql
Due: none

require bool fields
  pkg/graph/generated/generated.go
  pkg/graph/schema/types/waiver/common_waiver.graphql
  pkg/models/common_waiver.go
  src/gql/generated/graphql.ts
Due: eslint, tsc-check, graphql-schema

revisiting the way documentType gets pass down
  src/features/ModelPlan/CollaborationArea/Cards/TaskCard/index.tsx
  src/features/ModelPlan/Documents/AddDocument/documentUpload.tsx
  src/features/ModelPlan/Documents/AddDocument/index.tsx
  src/i18n/en-US/modelPlan/tasks.ts
Due: eslint, tsc-check

Add documentType prop to LinkDocument and update how planTaskID is set
  src/features/ModelPlan/Documents/AddDocument/LinkDocument.tsx
  src/features/ModelPlan/Documents/AddDocument/index.tsx
Due: eslint, tsc-check

update plan_task_test.go
  pkg/models/plan_task_test.go
Due: none

remove infra supporting cmmi point of contact
  migrations/V283__Create_Waiver_Tables.sql
  pkg/graph/generated/generated.go
  pkg/graph/schema/types/waiver/common_waiver.graphql
  pkg/models/common_waiver.go
  pkg/sqlqueries/SQL/common_waiver/get_by_id_LOADER.sql
  pkg/sqlqueries/SQL/common_waiver/get_by_model_plan_id_LOADER.sql
  query_examples/MINT/Task List Sections/Get All Common Waivers.bru
  query_examples/MINT/Task List Sections/Get Common Waiver.bru
  query_examples/MINT/Waivers/Get Common Waiver By Model Plan ID.bru
  query_examples/MINT/Waivers/GetModelPlanWithWaiverInfo.bru
  query_examples/MINT/Waivers/GetWaiverInfo.bru
  src/features/ModelPlan/AdditionalQuestionnaires/WaiverAssessmentSurvey/_components/WaiverInfoPanel/index.test.tsx
  src/features/ModelPlan/AdditionalQuestionnaires/WaiverAssessmentSurvey/mockWaiversData.ts
  src/gql/generated/graphql.ts
  src/gql/operations/AdditionalQuestionnaires/WaiverAssessmentSurvey/GetCommonWaiver.ts
Due: eslint, tsc-check, graphql-schema

back out UI changes
  src/gql/generated/graphql.ts
  src/gql/operations/AdditionalQuestionnaires/WaiverAssessmentSurvey/GetCommonWaiver.ts
Due: eslint, tsc-check

put back fields
  src/features/ModelPlan/AdditionalQuestionnaires/WaiverAssessmentSurvey/_components/WaiverInfoPanel/index.test.tsx
  src/features/ModelPlan/AdditionalQuestionnaires/WaiverAssessmentSurvey/mockWaiversData.ts
Due: eslint, tsc-check

copying how 6 pager does its migrations
  migrations/V281__Add_OA_Presentation_Plan_Task.sql
Due: none

splitting the migrations b/c postgreSQL
  migrations/V281__Add_OA_Presentation_Plan_Task.sql
  migrations/V282__Backfill_OA_Presentation_Plan_Task.sql
Due: none

(no verify) back out `usingReason` UI changes
  src/features/ModelPlan/AdditionalQuestionnaires/WaiverAssessmentSurvey/_components/SelectWaiverField/index.test.tsx
  src/features/ModelPlan/AdditionalQuestionnaires/WaiverAssessmentSurvey/_components/SelectWaiverField/index.tsx
  src/features/ModelPlan/AdditionalQuestionnaires/WaiverAssessmentSurvey/_components/WaiverInfoPanel/index.test.tsx
  src/features/ModelPlan/AdditionalQuestionnaires/WaiverAssessmentSurvey/_components/WaiverInfoPanel/index.tsx
  src/features/ModelPlan/AdditionalQuestionnaires/WaiverAssessmentSurvey/_components/WaiverSelectionSection/index.tsx
  src/features/ModelPlan/AdditionalQuestionnaires/WaiverAssessmentSurvey/util.ts
  src/gql/generated/graphql.ts
  src/gql/operations/AdditionalQuestionnaires/WaiverAssessmentSurvey/GetAllWaiverAssessmentSurvey.ts
  src/gql/operations/AdditionalQuestionnaires/WaiverAssessmentSurvey/GetWaivers.ts
  src/i18n/en-US/modelPlan/waiverAssessmentSurvey.ts
  src/types/waivers.ts
Due: eslint, tsc-check

[Giant rework on page 4, adjust all areas except read only. Still WIP]
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/waiver.resolvers.go
  pkg/graph/schema/types/waiver/waiver.graphql
  src/features/ModelPlan/AdditionalQuestionnaires/WaiverAssessmentSurvey/WaiverSelectionAndConfirmation/index.tsx
  src/features/ModelPlan/AdditionalQuestionnaires/WaiverAssessmentSurvey/_components/OtherWaiversTable/index.tsx
  src/features/ModelPlan/AdditionalQuestionnaires/WaiverAssessmentSurvey/_components/SelectWaiverField/index.tsx
  src/features/ModelPlan/AdditionalQuestionnaires/WaiverAssessmentSurvey/_components/WaiverInfoPanel/index.tsx
  src/features/ModelPlan/AdditionalQuestionnaires/WaiverAssessmentSurvey/_components/WaiverSelectionSection/index.tsx
  src/features/ModelPlan/AdditionalQuestionnaires/WaiverAssessmentSurvey/mockWaiversData.ts
  src/features/ModelPlan/AdditionalQuestionnaires/WaiverAssessmentSurvey/util.test.ts
  src/features/ModelPlan/AdditionalQuestionnaires/WaiverAssessmentSurvey/util.ts
  src/gql/generated/graphql.ts
  src/gql/operations/AdditionalQuestionnaires/WaiverAssessmentSurvey/GetWaivers.ts
  src/gql/operations/Fragments/CommonWaiver.ts
  src/hooks/useScrollTop.ts
  src/i18n/en-US/modelPlan/waiverAssessmentSurvey.ts
  src/types/waivers.ts
Due: eslint, tsc-check, graphql-schema

[Fix broken tests]
  src/features/ModelPlan/AdditionalQuestionnaires/WaiverAssessmentSurvey/ActiveModelWaivers/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/AdditionalQuestionnaires/WaiverAssessmentSurvey/_components/SelectWaiverField/index.test.tsx
  src/features/ModelPlan/AdditionalQuestionnaires/WaiverAssessmentSurvey/_components/SelectWaiverField/index.tsx
  src/features/ModelPlan/AdditionalQuestionnaires/WaiverAssessmentSurvey/_components/WaiverInfoPanel/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/AdditionalQuestionnaires/WaiverAssessmentSurvey/_components/WaiverInfoPanel/index.test.tsx
  src/features/ModelPlan/AdditionalQuestionnaires/WaiverAssessmentSurvey/mockWaiversData.ts
Due: eslint, tsc-check

[Fix types]
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/waiver.resolvers.go
  pkg/graph/schema/types/waiver/waiver.graphql
  src/features/ModelPlan/AdditionalQuestionnaires/WaiverAssessmentSurvey/mockWaiversData.ts
  src/gql/generated/graphql.ts
  src/gql/operations/AdditionalQuestionnaires/WaiverAssessmentSurvey/GetCommonWaiver.ts
Due: eslint, tsc-check, graphql-schema

[Make BE to accept null to allow user revert answers to null state when needed]
  pkg/graph/generated/generated.go
  pkg/graph/schema/types/waiver/waiver.graphql
  src/features/ModelPlan/AdditionalQuestionnaires/WaiverAssessmentSurvey/util.ts
  src/gql/generated/graphql.ts
  src/utils/formUtil.ts
Due: eslint, tsc-check, graphql-schema

(no verify) unrequire bool
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/waiver.go
  pkg/graph/resolvers/waiver_test.go
  pkg/graph/schema/types/waiver/waiver.graphql
  pkg/models/waiver.go
  src/gql/generated/graphql.ts
Due: eslint, tsc-check, graphql-schema

bump go to 1.26.8
  .pre-commit-config.yaml
  Dockerfile
  docs/dev_environment_setup.md
  go.mod
Due: dockerfilelint

[Add empty alert for no waivers in use]
  src/features/ModelPlan/AdditionalQuestionnaires/WaiverAssessmentSurvey/ActiveModelWaivers/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/AdditionalQuestionnaires/WaiverAssessmentSurvey/_components/WaiverSelectionSection/index.tsx
  src/i18n/en-US/modelPlan/waiverAssessmentSurvey.ts
Due: eslint, tsc-check

(no verify) initial pass at selected waiver trigger logic
  migrations/V286__Suggested_Waiver_Trigger.sql
  pkg/graph/resolvers/waiver_suggestion_trigger_test.go
Due: none

[MINT-3873] Rework page 6 (#2535)
  pkg/graph/generated/generated.go
  pkg/graph/schema/types/waiver/waiver.graphql
  src/features/ModelPlan/AdditionalQuestionnaires/WaiverAssessmentSurvey/WaiverSelectionAndConfirmation/index.tsx
  src/features/ModelPlan/AdditionalQuestionnaires/WaiverAssessmentSurvey/_components/OtherWaiversTable/index.tsx
  src/features/ModelPlan/AdditionalQuestionnaires/WaiverAssessmentSurvey/_components/SelectWaiverField/index.test.tsx
  src/features/ModelPlan/AdditionalQuestionnaires/WaiverAssessmentSurvey/_components/SelectWaiverField/index.tsx
  src/features/ModelPlan/AdditionalQuestionnaires/WaiverAssessmentSurvey/_components/WaiverInfoPanel/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/AdditionalQuestionnaires/WaiverAssessmentSurvey/_components/WaiverInfoPanel/index.test.tsx
  src/features/ModelPlan/AdditionalQuestionnaires/WaiverAssessmentSurvey/_components/WaiverInfoPanel/index.tsx
  src/features/ModelPlan/AdditionalQuestionnaires/WaiverAssessmentSurvey/_components/WaiverSelectionSection/index.tsx
  src/features/ModelPlan/AdditionalQuestionnaires/WaiverAssessmentSurvey/mockWaiversData.ts
  src/features/ModelPlan/AdditionalQuestionnaires/WaiverAssessmentSurvey/util.test.ts
  src/features/ModelPlan/AdditionalQuestionnaires/WaiverAssessmentSurvey/util.ts
  src/gql/generated/graphql.ts
  src/gql/operations/AdditionalQuestionnaires/WaiverAssessmentSurvey/GetCommonWaiver.ts
  src/gql/operations/AdditionalQuestionnaires/WaiverAssessmentSurvey/GetWaivers.ts
  src/gql/operations/Fragments/CommonWaiver.ts
  src/hooks/useScrollTop.ts
  src/i18n/en-US/modelPlan/waiverAssessmentSurvey.ts
  src/types/waivers.ts
  src/utils/formUtil.ts
Due: eslint, tsc-check, graphql-schema

fix unneeded var
  pkg/graph/resolvers/waiver_test.go
Due: none

[MINT-3884] Update Node to Version 24.x.x (#2534)
  .nvmrc
  .spelling
  Dockerfile.frontend
  docs/dev_environment_setup.md
Due: dockerfilelint

Streamline PrepareForClearanceActivateIfDue to use the 6-pager activation paradigm
  pkg/graph/resolvers/plan_task.go
Due: none

no outlines please
  src/features/ModelPlan/CollaborationArea/Cards/TaskCard/index.tsx
  src/i18n/en-US/modelPlan/tasks.ts
Due: eslint, tsc-check

[MINT-3845] Add PREPARE_FOR_CLEARANCE plan task key with 20-day clearance trigger (#2508)
  .faktory/conf.d/cron.toml
  migrations/V281__Add_Prepare_For_Clearance_Plan_Task.sql
  migrations/V282__Backfill_Prepare_For_Clearance_Plan_Task.sql
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/plan_task.go
  pkg/graph/resolvers/plan_task_test.go
  pkg/graph/schema/types/model_collaboration/tasks/plan_task.graphql
  pkg/models/plan_task.go
  pkg/sqlqueries/SQL/plan_task/get_model_plan_ids_due_for_prepare_for_clearance.sql
  pkg/sqlqueries/plan_task.go
  pkg/storage/plan_taskStore.go
  pkg/worker/prepare_for_clearance_batch_job.go
  pkg/worker/prepare_for_clearance_cron_job.go
  pkg/worker/prepare_for_clearance_job.go
  pkg/worker/worker.go
  src/features/ReportsAndAnalytics/index.tsx
  src/gql/generated/graphql.ts
  src/tests/mock/mto.ts
Due: eslint, tsc-check, graphql-schema

Drop unnecessary type casts in PREPARE_FOR_CLEARANCE backfill migration
  migrations/V282__Backfill_Prepare_For_Clearance_Plan_Task.sql
Due: none

prepare for clearance resolver work
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/plan_task_test.go
  pkg/graph/schema/types/model_collaboration/tasks/plan_task.graphql
  pkg/models/plan_task.go
  query_examples/MINT/Tasks/Mark Plan Task Complete - Prepare For Clearance.bru
  src/gql/generated/graphql.ts
Due: eslint, tsc-check, graphql-schema

access checks
  pkg/graph/resolvers/waiver.go
  pkg/graph/resolvers/waiver_test.go
Due: none

updating tiptap
  package.json
  yarn.lock
Due: none

clarify comment
  migrations/V286__Suggested_Waiver_Trigger.sql
Due: none

Path conditions:
  dockerfilelint: any of: Dockerfile.*
  eslint: any of: \.(js|jsx|ts|tsx)$, but not: (\.(d\.ts)$)|(\.storybook)|(serviceWorker\.ts)|(src/gql/gen/.*)
  tsc-check: any of: \.(js|jsx|ts|tsx)$
  graphql-schema: any of: pkg/graph/schema/.*\.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts|src/queriesCodegen/.*\.ts
