Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, tsc-check, graphql-schema, check-code-generation

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-yaml
        name: Check YAML formatting
      - id: detect-private-key
        name: Check for private keys
      - id: end-of-file-fixer
        files: \.(sql|scss|md|js|ts|tsx|go|yml|yaml)$
        name: Add newlines to ends of files

  - repo: https://github.com/detailyang/pre-commit-shell
    rev: v1.0.6
    hooks:
      - id: shell-lint
        name: Lint shell files

  - repo: https://github.com/trussworks/pre-commit-hooks
    rev: v1.1.1
    hooks:
      - id: mdspell
        name: Spellcheck Markdown files
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor
          )$

  - repo: https://github.com/Bahjat/pre-commit-golang
    rev: v1.0.1
    hooks:
      - id: go-fmt-import
        name: Run "goimports" on go files
        args: ['-local', 'github.com/cmsgov/mint-app']
        files: .*\.go$
        exclude: >
          (?x)^(
            .*gen/.*|
            .*generated/.*|
            .*models_gen.go|
          )$

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.48.0
    hooks:
      - id: golangci-lint
        name: Lint go files
        args: ['--concurrency', '-1'] # Run with all CPUs

  - repo: local
    hooks:
    - id: dockerfilelint
      name: Lint Dockerfile
      entry: dockerfilelint
      language: node
      additional_dependencies: [dockerfilelint]
      files: Dockerfile.*

  - repo: local
    hooks:
      - id: eslint
        name: Run eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$
        exclude: (\.(d\.ts)$)|(\.storybook)|(serviceWorker\.ts) # This should match the .eslintrc "ignorePatterns". Change one, change the other!

  - repo: local
    hooks:
      - id: tsc-check
        name: Run typescript check
        entry: scripts/pre-commit-tsc
        language: script
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false

  - repo: local
    hooks:
      - id: graphql-schema
        name: Lint GraphQL schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: pkg/graph/schema.graphql

  - repo: local
    hooks:
      - id: check-code-generation
        name: Run GraphQL code generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: "pkg/graph/schema\\.graphql|pkg/graph/schema\\.resolvers\\.go|src/queries/.*\\.ts"
        pass_filenames: false

  - repo: https://github.com/awslabs/git-secrets
    rev: b9e96b3212fa06aea65964ff0d5cda84ce935f38
    hooks:
      - id: git-secrets
        name: Check for committed secrets
        entry: git-secrets --pre_commit_hook

  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 2.0.7
    hooks:
      - id: sqlfluff-fix
        exclude: ^migrations/
      - id: sqlfluff-lint
        exclude: ^migrations/

Removed unneeded TODO
  src/data/operationalNeedMap.ts
Due: eslint, tsc-check

Deprecated lots of unneeded translation util files
  src/data/operationalNeedMap.ts
  src/utils/modelPlan.ts
  src/views/ModelPlan/ReadOnly/Beneficiaries/index.test.tsx
  src/views/ModelPlan/ReadOnly/OpsEvalAndLearning/index.test.tsx
  src/views/ModelPlan/ReadOnly/_components/ModelSummary/index.tsx
  src/views/ModelPlan/Table/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/NeedQuestionAndAnswer/_component/InfoToggle.tsx
Due: eslint, tsc-check

chore: changed model plan date change email to link to the readonly view of a model plan rather than the task list
  pkg/email/templates/model_plan_date_changed_body.html
Due: none

Removed unneeded translation files
  src/i18n/en-US/draftModelPlan/basics.ts
  src/i18n/en-US/draftModelPlan/beneficiaries.ts
  src/i18n/en-US/draftModelPlan/generalCharacteristics.ts
  src/i18n/en-US/draftModelPlan/operationsEvaulationAndLearning.ts
  src/i18n/en-US/draftModelPlan/participantsAndProviders.ts
  src/i18n/en-US/draftModelPlan/payments.ts
  src/i18n/en-US/index.ts
Due: eslint, tsc-check

[NOREF] Fix model plan date change email to link to the readonly view (#670)
  pkg/email/templates/model_plan_date_changed_body.html
Due: none

Added new translation for status form
  src/i18n/en-US/index.ts
  src/i18n/en-US/modelPlan.ts
  src/i18n/en-US/modelPlan/modelPlan.ts
  src/types/translation.ts
  src/utils/modelPlan.ts
  src/views/ModelPlan/ReadOnly/Table/index.tsx
  src/views/ModelPlan/ReadOnly/index.test.tsx
  src/views/ModelPlan/Status/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/Status/index.tsx
  src/views/ModelPlan/Table/index.tsx
  src/views/ModelPlan/TaskList/_components/TaskListStatus/index.tsx
Due: eslint, tsc-check

chore: refactored error wrapping into store method and loader logic
  pkg/graph/resolvers/model_plan.go
  pkg/graph/resolvers/plan_basics.go
  pkg/storage/model_planStore.go
Due: none

chore: extended model categories to support additional model categories
  pkg/graph/resolvers/model_plan.go
Due: none

fix: do not show model plan share optional message where it has zero length
  pkg/email/templates/model_plan_share_body.html
Due: none

chore: updated postman collection
  MINT.postman_collection.json
Due: none

Added collaborators and new plan translation rework
  src/i18n/en-US/draftModelPlan/newModel.ts
  src/i18n/en-US/index.ts
  src/i18n/en-US/modelPlan.ts
  src/i18n/en-US/modelPlan/collaborators.ts
  src/i18n/en-US/modelPlan/modelPlan.ts
  src/types/translation.ts
  src/utils/modelPlan.ts
  src/views/ModelPlan/Collaborators/AddCollaborator/index.tsx
  src/views/ModelPlan/Collaborators/index.tsx
  src/views/ModelPlan/Collaborators/table.tsx
  src/views/ModelPlan/NewPlan/index.tsx
  src/views/ModelPlan/ReadOnly/Team/index.tsx
  src/views/ModelPlan/Status/index.tsx
Due: eslint, tsc-check

Removed unneeded enum files/folder
  src/constants/enums/modelPlanStatuses.ts
  src/constants/enums/teamRoles.ts
  src/views/ModelPlan/ReadOnly/Team/index.tsx
Due: eslint, tsc-check

[NOREF] HelpScout POC (#666)
  .envrc
  .github/workflows/deploy_to_environment.yml
  docker-compose.override.yml
  public/index.html
  src/global.d.ts
  src/types/flags.ts
  src/utils/user.test.ts
  src/views/App/index.tsx
  src/views/BeaconWrapper/index.tsx
  src/views/FlagsWrapper/index.tsx
Due: eslint, tsc-check

chore: update named statements to use a cache
  pkg/storage/access_controlStore.go
  pkg/storage/analyzed_auditStore.go
  pkg/storage/audit_changeStore.go
  pkg/storage/existing_modelStore.go
  pkg/storage/existing_model_linkStore.go
  pkg/storage/model_planStore.go
  pkg/storage/namedstatements/cache.go
  pkg/storage/nda_agreementStore.go
  pkg/storage/operational_needStore.go
  pkg/storage/operational_solutionStore.go
  pkg/storage/operational_solution_subtaskStore.go
  pkg/storage/plan_basicsStore.go
  pkg/storage/plan_beneficiariesStore.go
  pkg/storage/plan_collaboratorStore.go
  pkg/storage/plan_cr_tdlStore.go
  pkg/storage/plan_discussionStore.go
  pkg/storage/plan_documentStore.go
  pkg/storage/plan_document_solution_linksStore.go
  pkg/storage/plan_favoriteStore.go
  pkg/storage/plan_general_characteristicsStore.go
  pkg/storage/plan_ops_eval_and_learningStore.go
  pkg/storage/plan_participants_and_providersStore.go
  pkg/storage/plan_paymentsStore.go
  pkg/storage/possible_operational_needStore.go
  pkg/storage/possible_operational_solutionStore.go
  pkg/storage/prepare_for_clearance.go
  pkg/storage/store.go
  pkg/storage/user_accountStore.go
Due: none

fix: corrected thread-safety issues
  pkg/storage/namedstatements/cache.go
Due: none

fix: added permissions for MAC users to delete plan favorites
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
Due: graphql-schema, check-code-generation

[NOREF] Fix: Added permissions for MAC users to delete plan favorites (#673)
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
Due: graphql-schema, check-code-generation

Added job code MINT_CONTRACTOR_FFS to prod auth middleware
  pkg/local/authentication_middleware.go
Due: none

Removed nonprod contractor code from auth middleware for prod
  pkg/local/authentication_middleware.go
Due: none

Revert nonprod code
  pkg/local/authentication_middleware.go
Due: none

deprecating setting the ldgmodal
  src/views/HelpAndKnowledge/Articles/SixPagerMeeting/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Modal/index.tsx
Due: eslint, tsc-check

change the button to a link
  src/views/HelpAndKnowledge/Articles/SixPagerMeeting/index.tsx
Due: eslint, tsc-check

update snaps
  src/views/HelpAndKnowledge/Articles/SixPagerMeeting/__snapshots__/index.test.tsx.snap
Due: none

Add back article page info
  src/views/HelpAndKnowledge/Articles/_components/ArticlePageInfo/index.tsx
  src/views/HelpAndKnowledge/home.tsx
Due: eslint, tsc-check

splicing out the first three articles
  src/views/HelpAndKnowledge/Articles/_components/HelpCardGroup/index.tsx
  src/views/HelpAndKnowledge/home.tsx
Due: eslint, tsc-check

Added UI for share model plan
  src/components/ShareExport/index.scss
  src/components/ShareExport/index.tsx
Due: eslint, tsc-check

Added mutation and status states/messages
  src/components/ShareExport/index.test.tsx
  src/components/ShareExport/index.tsx
  src/gql/apolloGQL/ShareExport/CreateShareModelPlan.ts
  src/gql/gen/gql.ts
  src/gql/gen/graphql.ts
  src/i18n/en-US/readOnly/generalReadOnly.ts
  src/views/ModelPlan/ReadOnly/index.tsx
  src/views/ModelPlan/TaskList/_components/TaskListSideNav/index.test.tsx
  src/views/ModelPlan/TaskList/_components/TaskListSideNav/index.tsx
  src/views/ModelPlan/TaskList/index.tsx
Due: eslint, tsc-check

Added close prop to modal alert
  src/components/shared/Alert/index.tsx
  src/views/ModelPlan/Discussions/index.tsx
  src/views/ModelPlan/ReadOnly/index.tsx
  src/views/ModelPlan/TaskList/index.tsx
Due: eslint, tsc-check

Updated unit tests
  src/components/ShareExport/__snapshots__/index.test.tsx.snap
  src/components/ShareExport/index.test.tsx
  src/components/ShareExport/index.tsx
Due: eslint, tsc-check

Added overflow scroll to modal
  src/components/Modal/index.scss
Due: none

Imported ModelViewFilter enum to replace FE defined const
  src/components/ShareExport/index.tsx
  src/views/ModelPlan/ReadOnly/_components/FilterView/BodyContent/_filterGroupMapping.ts
Due: eslint, tsc-check

[EASI-2588] 6-pager Meeting Help Article (#668)
  src/components/RelatedArticles/__snapshots__/index.test.tsx.snap
  src/i18n/en-US/helpAndKnowledge/Articles/sixPageMeeting.ts
  src/i18n/en-US/index.ts
  src/views/HelpAndKnowledge/Articles/SixPagerMeeting/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/Articles/SixPagerMeeting/index.test.tsx
  src/views/HelpAndKnowledge/Articles/SixPagerMeeting/index.tsx
  src/views/HelpAndKnowledge/Articles/TwoPagerMeeting/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/Articles/_components/ArticlePageInfo/index.tsx
  src/views/HelpAndKnowledge/Articles/_components/HelpCardGroup/index.tsx
  src/views/HelpAndKnowledge/Articles/index.ts
  src/views/HelpAndKnowledge/home.tsx
  src/views/HelpAndKnowledge/index.tsx
Due: eslint, tsc-check

HighLevelProjectPlan init
  src/views/HelpAndKnowledge/Articles/HighLevelProjectPlan/index.tsx
  src/views/HelpAndKnowledge/index.tsx
Due: eslint, tsc-check

Replace IDR with MDM filter view
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/models/model_plan.go
  src/gql/gen/graphql.ts
Due: eslint, tsc-check, graphql-schema, check-code-generation

Trimmed emails strings and added form disable if no emails
  src/components/ShareExport/index.tsx
Due: eslint, tsc-check

Uodated incorrect email recipient hint
  src/components/ShareExport/__snapshots__/index.test.tsx.snap
  src/components/ShareExport/index.tsx
Due: eslint, tsc-check

Add high level project plans translations
  src/i18n/en-US/helpAndKnowledge/Articles/highLevelProjectPlans.ts
  src/i18n/en-US/index.ts
Due: eslint, tsc-check

mucho updates
  src/views/HelpAndKnowledge/Articles/HighLevelProjectPlan/index.tsx
Due: eslint, tsc-check

Add related article footer
  src/views/HelpAndKnowledge/Articles/HighLevelProjectPlan/index.tsx
Due: eslint, tsc-check
