Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, tsc-check, graphql-schema, check-code-generation

dockerfilelint:
  name: Lint Dockerfile
  entry: dockerfilelint
  language: node
  additional_dependencies:
  - dockerfilelint

eslint:
  name: Run eslint
  entry: scripts/pre-commit-eslint
  language: script

tsc-check:
  name: Run typescript check
  entry: scripts/pre-commit-tsc
  language: script
  pass_filenames: false

graphql-schema:
  name: Lint GraphQL schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script
  pass_filenames: false

check-code-generation:
  name: Run GraphQL code generation
  entry: scripts/pre-commit-check-code-generation
  language: script
  pass_filenames: false

cascade delete custom timeline dates when a model plan is deleted
  migrations/V268__Add_Custom_Timeline_Date.sql
Due: none

[MINT-3790] CTAT Report (#2412)
  pkg/graph/generated/generated.go
  pkg/graph/schema/types/ctat_request.graphql
  src/features/ModelPlan/Documents/AddDocument/__snapshots__/index.test.tsx.snap
  src/features/ReportsAndAnalytics/__snapshots__/index.test.tsx.snap
  src/features/ReportsAndAnalytics/_components/DateRangeModal/__snapshots__/index.test.tsx.snap
  src/features/ReportsAndAnalytics/_components/DateRangeModal/index.test.tsx
  src/features/ReportsAndAnalytics/_components/DateRangeModal/index.tsx
  src/features/ReportsAndAnalytics/ctatReportFields.ts
  src/features/ReportsAndAnalytics/index.test.tsx
  src/features/ReportsAndAnalytics/index.tsx
  src/gql/generated/graphql.ts
  src/gql/operations/Analytics/GetAllCTATRequests.ts
  src/hooks/tests/useFetchCTATReport.test.tsx
  src/hooks/useFetchCTATReport.tsx
  src/i18n/en-US/analytics.ts
  src/i18n/en-US/general.ts
  src/i18n/en-US/helpAndKnowledge/contractAssistance.ts
  src/i18n/en-US/modelPlan/documents.ts
Due: eslint, tsc-check, graphql-schema

[Add CTAT feature flag and update tests]
  src/components/NavigationBar/HelpNavMenu.tsx
  src/components/NavigationBar/index.test.tsx
  src/features/HelpAndKnowledge/Articles/AddCustomMilestone/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/Articles/AddCustomSolution/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/Articles/CreatingMTOMatrix/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/Articles/EvaluatingDataExchangeApproach/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/Articles/HighLevelProjectPlan/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/Articles/ModelSolutionDesign/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/Articles/ModelSolutionImplementation/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/Articles/OperationalPlanning/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/Articles/PhasesInvolved/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/Articles/SharingAndExportingMTO/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/Articles/SixPagerMeeting/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/Articles/StartingMTOMatrix/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/Articles/TwoPagerMeeting/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/Articles/UpdatingMTOStatus/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/Articles/UsingMilestoneLibrary/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/Articles/UsingMilestoneTable/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/Articles/UsingSolutionLibrary/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/Articles/UsingSolutionsAndITSystemsTable/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/Articles/UsingTableActions/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/Articles/UtilizingSolutions/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/Articles/_components/RelatedArticles/index.test.tsx
  src/features/HelpAndKnowledge/Articles/_components/RelatedArticles/index.tsx
  src/features/HelpAndKnowledge/ContractAssistancePage/index.test.tsx
  src/features/HelpAndKnowledge/ContractAssistancePage/index.tsx
  src/features/HelpAndKnowledge/home.tsx
  src/features/Home/components/AdminActions/index.test.tsx
  src/features/Home/components/AdminActions/index.tsx
  src/features/Home/index.test.tsx
  src/features/Home/index.tsx
  src/features/ReportsAndAnalytics/index.test.tsx
  src/features/ReportsAndAnalytics/index.tsx
  src/types/flags.ts
  src/utils/tests/user.test.ts
  src/wrappers/FlagsWrapper/index.tsx
Due: eslint, tsc-check

[Skip queries if ctat featur flag is off]
  src/features/HelpAndKnowledge/ContractAssistancePage/index.tsx
Due: eslint, tsc-check

[memoize data]
  src/features/HelpAndKnowledge/home.tsx
Due: eslint, tsc-check

[NOREF] Fix Faktory manual deploy workflow
  .github/workflows/manual_deploy_faktory.yml
Due: none

[NOREF] Scope deploy_faktory job to its target environment
  .github/workflows/manual_deploy_faktory.yml
Due: none

[MINT-3804] Part 1 - Add CTAT feature flag (#2427)
  src/components/NavigationBar/HelpNavMenu.tsx
  src/components/NavigationBar/index.test.tsx
  src/features/HelpAndKnowledge/Articles/AddCustomMilestone/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/Articles/AddCustomSolution/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/Articles/CreatingMTOMatrix/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/Articles/EvaluatingDataExchangeApproach/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/Articles/HighLevelProjectPlan/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/Articles/ModelSolutionDesign/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/Articles/ModelSolutionImplementation/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/Articles/OperationalPlanning/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/Articles/PhasesInvolved/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/Articles/SharingAndExportingMTO/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/Articles/SixPagerMeeting/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/Articles/StartingMTOMatrix/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/Articles/TwoPagerMeeting/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/Articles/UpdatingMTOStatus/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/Articles/UsingMilestoneLibrary/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/Articles/UsingMilestoneTable/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/Articles/UsingSolutionLibrary/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/Articles/UsingSolutionsAndITSystemsTable/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/Articles/UsingTableActions/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/Articles/UtilizingSolutions/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/Articles/_components/RelatedArticles/index.test.tsx
  src/features/HelpAndKnowledge/Articles/_components/RelatedArticles/index.tsx
  src/features/HelpAndKnowledge/ContractAssistancePage/index.test.tsx
  src/features/HelpAndKnowledge/ContractAssistancePage/index.tsx
  src/features/HelpAndKnowledge/home.tsx
  src/features/Home/components/AdminActions/index.test.tsx
  src/features/Home/components/AdminActions/index.tsx
  src/features/Home/index.test.tsx
  src/features/Home/index.tsx
  src/features/ReportsAndAnalytics/index.test.tsx
  src/features/ReportsAndAnalytics/index.tsx
  src/types/flags.ts
  src/utils/tests/user.test.ts
  src/wrappers/FlagsWrapper/index.tsx
Due: eslint, tsc-check

[Capitalize go field]
  mappings/translation/custom_timeline_date.json
  src/i18n/en-US/modelPlan/customDate.ts
Due: eslint, tsc-check

test push
  scripts/check_ecr_findings.sh
Due: none

remove test-only pr check block
  .github/workflows/pr_checks.yml
Due: none

test push to run pipeline with image step included
  .github/workflows/pr_checks.yml
Due: none

attempt to parallelize e2e
  .github/workflows/run_tests.yml
Due: none

put back
  .github/workflows/run_tests.yml
Due: none

new enums, migration, go/gql types, and update existing queries. minor UI work for lint purposes
  migrations/V269__Add_Discussion_Topic.sql
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema/types/plan_discussion.graphql
  pkg/models/plan_discussion.go
  pkg/storage/SQL/plan_discussion/create.sql
  pkg/storage/SQL/plan_discussion/delete.sql
  pkg/storage/SQL/plan_discussion/get_by_id.sql
  pkg/storage/SQL/plan_discussion/update.sql
  src/features/ModelPlan/Discussions/QuestionAndReply.tsx
  src/features/ModelPlan/Discussions/index.tsx
  src/gql/generated/graphql.ts
Due: eslint, tsc-check, graphql-schema

update tests, resolver flow, translation for new field
  cmd/test_email/main.go
  mappings/discussion_reply_translation_test.go
  mappings/translation/plan_discussion.json
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/resolvers/plan_discussion.go
  pkg/graph/resolvers/plan_discussion_test.go
  pkg/graph/resolvers/resolver_test.go
  pkg/graph/schema/types/plan_discussion_translation.graphql
  pkg/models/plan_discussion.go
  pkg/translatedaudit/translated_audit_suite_utils_test.go
  src/gql/generated/graphql.ts
  src/i18n/en-US/modelPlan/discussions.ts
  src/types/translation.ts
Due: eslint, tsc-check, graphql-schema

[Add CTAT translation, update related files, ticket forms remain broken for now]
  graphql-schema-linter.config.js
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema/types/ctat_request_translation.graphql
  src/features/HelpAndKnowledge/ContractAssistancePage/_components/AdminTicketManagementSection/index.tsx
  src/features/HelpAndKnowledge/ContractAssistancePage/_components/CTATSidePanel/CtatTicketForm.tsx
  src/features/HelpAndKnowledge/ContractAssistancePage/_components/CTATSidePanel/CtatTicketViewPanel/CtatTicketAdminForm.tsx
  src/features/HelpAndKnowledge/ContractAssistancePage/_components/CTATSidePanel/CtatTicketViewPanel/CtatTicketViewContent.tsx
  src/features/HelpAndKnowledge/ContractAssistancePage/_components/ContractAssistanceTicketsTable/index.tsx
  src/features/HelpAndKnowledge/ContractAssistancePage/_components/UserSubmittedTicketsSection/index.tsx
  src/features/HelpAndKnowledge/ContractAssistancePage/index.tsx
  src/features/HelpAndKnowledge/ContractAssistancePage/utils.ts
  src/features/HelpAndKnowledge/ContractAssistanceSection/index.tsx
  src/features/HelpAndKnowledge/home.tsx
  src/features/ReportsAndAnalytics/ctatReportFields.ts
  src/gql/generated/graphql.ts
  src/i18n/en-US/ctatRequest.ts
  src/i18n/en-US/helpAndKnowledge/contractAssistance.ts
  src/i18n/en-US/index.ts
  src/types/translation.ts
Due: eslint, tsc-check, graphql-schema

[WIP Apply new translation to forms]
  src/features/HelpAndKnowledge/ContractAssistancePage/_components/CTATSidePanel/CtatTicketForm.tsx
  src/features/HelpAndKnowledge/ContractAssistancePage/_components/CTATSidePanel/CtatTicketViewPanel/CtatTicketAdminForm.tsx
  src/features/HelpAndKnowledge/ContractAssistancePage/_components/CTATSidePanel/CtatTicketViewPanel/CtatTicketViewContent.tsx
  src/i18n/en-US/helpAndKnowledge/contractAssistance.ts
Due: eslint, tsc-check

[Update report with dynamic translation]
  src/features/ReportsAndAnalytics/ctatReportFields.ts
  src/hooks/useFetchCTATReport.tsx
  src/i18n/en-US/helpAndKnowledge/contractAssistance.ts
Due: eslint, tsc-check

[Add support documents to translation]
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema/types/ctat_request_translation.graphql
  src/features/HelpAndKnowledge/ContractAssistancePage/_components/CTATSidePanel/CtatTicketForm.tsx
  src/features/HelpAndKnowledge/ContractAssistancePage/_components/CTATSidePanel/SupportingDocumentsUpload.tsx
  src/gql/generated/graphql.ts
  src/i18n/en-US/ctatRequest.ts
  src/i18n/en-US/helpAndKnowledge/contractAssistance.ts
  src/types/translation.ts
Due: eslint, tsc-check, graphql-schema

[handles when an assessment team member submits a ticket, it will update the ticket lists for both tables]
  src/features/HelpAndKnowledge/ContractAssistancePage/_components/CTATSidePanel/CtatTicketForm.tsx
Due: eslint, tsc-check

[Temporaryly fix broken forms]
  src/features/HelpAndKnowledge/ContractAssistancePage/_components/CTATSidePanel/CtatTicketForm.tsx
  src/features/HelpAndKnowledge/ContractAssistancePage/_components/CTATSidePanel/CtatTicketViewPanel/CtatTicketAdminForm.tsx
  src/features/HelpAndKnowledge/ContractAssistancePage/_components/CTATSidePanel/CtatTicketViewPanel/CtatTicketViewContent.tsx
  src/features/HelpAndKnowledge/ContractAssistancePage/_components/CTATSidePanel/CtatTicketViewPanel/index.tsx
  src/features/HelpAndKnowledge/ContractAssistancePage/_components/CTATSidePanel/SupportingDocumentsUpload.tsx
  src/features/HelpAndKnowledge/ContractAssistancePage/_components/CTATSidePanel/index.tsx
Due: eslint, tsc-check

[WIP replace translation with options]
  src/features/HelpAndKnowledge/ContractAssistancePage/_components/CTATSidePanel/CtatTicketForm.tsx
  src/features/HelpAndKnowledge/ContractAssistancePage/_components/CTATSidePanel/CtatTicketViewPanel/CtatTicketViewContent.tsx
  src/features/HelpAndKnowledge/ContractAssistancePage/_components/ContractAssistanceTicketsTable/index.tsx
  src/i18n/en-US/ctatRequest.ts
  src/i18n/en-US/helpAndKnowledge/contractAssistance.ts
  src/types/translation.ts
Due: eslint, tsc-check

[Clean up]
  pkg/graph/model/models_gen.go
  src/features/ReportsAndAnalytics/ctatReportFields.ts
  src/hooks/useFetchCTATReport.tsx
  src/i18n/en-US/helpAndKnowledge/contractAssistance.ts
Due: eslint, tsc-check

feat: remove CEDAR reference from documentation and backend configs
  .ai/ARCHITECTURE.md
  .envrc
  README.md
  docker-compose.backend.yml
Due: none

fix tests, move sqlqueries to newer package
  golangci-lint-full
  pkg/sqlqueries/SQL/plan_discussion/and_number_of_replies_get_by_id.sql
  pkg/sqlqueries/SQL/plan_discussion/create.sql
  pkg/sqlqueries/SQL/plan_discussion/delete.sql
  pkg/sqlqueries/SQL/plan_discussion/get_by_id.sql
  pkg/sqlqueries/SQL/plan_discussion/get_by_model_plan_id_LOADER.sql
  pkg/sqlqueries/SQL/plan_discussion/get_most_recent_user_role.sql
  pkg/sqlqueries/SQL/plan_discussion/update.sql
  pkg/sqlqueries/plan_discussion.go
  pkg/storage/plan_discussionStore.go
  pkg/worker/worker_test.go
Due: none

also move final outdated sql query location to newer package
  pkg/sqlqueries/SQL/audit_change/collection_by_id_and_table.sql
  pkg/sqlqueries/SQL/audit_change/collection_by_id_and_table_and_field.sql
  pkg/sqlqueries/SQL/audit_change/collection_by_primary_key_or_foreign_keyand_date.sql
  pkg/sqlqueries/audit_change.go
  pkg/sqlqueries/plan_discussion.go
  pkg/storage/audit_changeStore.go
Due: none

add to bruno queries, UI queries, and tests
  query_examples/MINT/Discussions & Replies/Create Plan Discussion.bru
  query_examples/MINT/Discussions & Replies/PlanDiscussionCreate TAG CURRENT USER ONLY.bru
  src/components/AskAQuestion/index.test.tsx
  src/features/Landing/index.tsx
  src/features/ModelPlan/Discussions/index.test.tsx
  src/features/ModelPlan/TaskList/index.test.tsx
  src/gql/generated/graphql.ts
  src/gql/operations/Discussions/CreateModelPlanDiscussion.ts
  src/gql/operations/Discussions/GetModelPlanDiscussions.ts
  src/gql/operations/ModelPlan/GetAllModelData.ts
  src/gql/operations/ModelPlan/GetAllSingleModelData.ts
  src/gql/operations/ModelPlan/GetCollaborationArea.ts
  src/gql/operations/ModelPlan/GetModelPlan.ts
  src/gql/operations/ModelPlan/GetModelPlans.ts
  src/gql/operations/ModelPlan/GetModelPlansByStatusGroup.ts
  src/gql/operations/ModelPlan/GetNewlyCreatedModelPlans.ts
  src/tests/mock/general.ts
Due: eslint, tsc-check

[Fix cause of broken test]
  src/features/HelpAndKnowledge/ContractAssistancePage/_components/CTATSidePanel/CtatTicketViewPanel/CtatTicketAdminForm.tsx
Due: eslint, tsc-check

fix issue where we can send `topic` in the reply flow, which does not need it
  src/features/ModelPlan/Discussions/index.tsx
Due: eslint, tsc-check

fix sort name
  src/hooks/useOktaUserLookup.tsx
Due: eslint, tsc-check

[MINT-3804] ctat translation refactor (#2431)
  graphql-schema-linter.config.js
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema/types/ctat_request_translation.graphql
  src/features/HelpAndKnowledge/ContractAssistancePage/_components/AdminTicketManagementSection/index.tsx
  src/features/HelpAndKnowledge/ContractAssistancePage/_components/CTATSidePanel/CtatTicketForm.tsx
  src/features/HelpAndKnowledge/ContractAssistancePage/_components/CTATSidePanel/CtatTicketViewPanel/CtatTicketAdminForm.tsx
  src/features/HelpAndKnowledge/ContractAssistancePage/_components/CTATSidePanel/CtatTicketViewPanel/CtatTicketViewContent.tsx
  src/features/HelpAndKnowledge/ContractAssistancePage/_components/CTATSidePanel/CtatTicketViewPanel/index.tsx
  src/features/HelpAndKnowledge/ContractAssistancePage/_components/CTATSidePanel/SupportingDocumentsUpload.tsx
  src/features/HelpAndKnowledge/ContractAssistancePage/_components/CTATSidePanel/index.tsx
  src/features/HelpAndKnowledge/ContractAssistancePage/_components/ContractAssistanceTicketsTable/index.tsx
  src/features/HelpAndKnowledge/ContractAssistancePage/_components/UserSubmittedTicketsSection/index.tsx
  src/features/HelpAndKnowledge/ContractAssistancePage/index.tsx
  src/features/HelpAndKnowledge/ContractAssistancePage/utils.ts
  src/features/HelpAndKnowledge/ContractAssistanceSection/index.tsx
  src/features/HelpAndKnowledge/home.tsx
  src/features/ReportsAndAnalytics/ctatReportFields.ts
  src/gql/generated/graphql.ts
  src/hooks/useFetchCTATReport.tsx
  src/i18n/en-US/ctatRequest.ts
  src/i18n/en-US/helpAndKnowledge/contractAssistance.ts
  src/i18n/en-US/index.ts
  src/types/translation.ts
Due: eslint, tsc-check, graphql-schema

update migration to remove default
  migrations/V269__Add_Discussion_Topic.sql
Due: none

bump to 1.001 instead of 1 for `topic` order in translation
  mappings/translation/plan_discussion.json
  src/i18n/en-US/modelPlan/discussions.ts
Due: eslint, tsc-check

[MINT-3807] skeleton for easi-mint scan parity (#2420)
  .github/workflows/build_application_images.yml
  .github/workflows/pr_checks.yml
  .github/workflows/scan_deployed_image.yml
  Dockerfile
  scripts/check_deployed_image_findings
  scripts/check_ecr_findings
  scripts/check_ecr_findings.sh
Due: dockerfilelint

better naming
  mappings/translation/plan_discussion.json
  migrations/V269__Add_Discussion_Topic.sql
  pkg/graph/generated/generated.go
  pkg/graph/schema/types/plan_discussion.graphql
  pkg/models/plan_discussion.go
  src/gql/generated/graphql.ts
  src/i18n/en-US/modelPlan/discussions.ts
Due: eslint, tsc-check, graphql-schema

[Update mto filter section ui and tests]
  src/features/ModelPlan/ModelToOperations/_components/ActionsTable/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/ModelToOperations/_components/ActionsTable/index.tsx
  src/features/ModelPlan/ModelToOperations/_components/MTOTableFilters/index.test.tsx
  src/features/ModelPlan/ModelToOperations/_components/MTOTableFilters/index.tsx
  src/i18n/en-US/modelPlan/modelToOperations.ts
Due: eslint, tsc-check

Potential fix for pull request finding
  .github/workflows/manual_deploy_faktory.yml
Due: none

Path conditions:
  dockerfilelint: any of: Dockerfile.*
  eslint: any of: \.(js|jsx|ts|tsx)$, but not: (\.(d\.ts)$)|(\.storybook)|(serviceWorker\.ts)|(src/gql/gen/.*)
  tsc-check: any of: \.(js|jsx|ts|tsx)$
  graphql-schema: any of: pkg/graph/schema/.*\.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts|src/queriesCodegen/.*\.ts
