Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, tsc-check, graphql-schema, check-code-generation

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-yaml
        name: Check YAML formatting
      - id: detect-private-key
        name: Check for private keys
      - id: end-of-file-fixer
        files: \.(sql|scss|md|js|ts|tsx|go|yml|yaml)$
        name: Add newlines to ends of files

  - repo: https://github.com/detailyang/pre-commit-shell
    rev: v1.0.6
    hooks:
      - id: shell-lint
        name: Lint shell files

  - repo: https://github.com/trussworks/pre-commit-hooks
    rev: v1.1.1
    hooks:
      - id: mdspell
        name: Spellcheck Markdown files
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor
          )$

  - repo: https://github.com/Bahjat/pre-commit-golang
    rev: v1.0.1
    hooks:
      - id: go-fmt-import
        name: Run "goimports" on go files
        args: ['-local', 'github.com/cmsgov/mint-app']
        files: .*\.go$
        exclude: >
          (?x)^(
            .*gen/.*|
            .*generated/.*|
            .*models_gen.go|
          )$

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.48.0
    hooks:
      - id: golangci-lint
        name: Lint go files
        args: ['--concurrency', '-1'] # Run with all CPUs

  - repo: local
    hooks:
    - id: dockerfilelint
      name: Lint Dockerfile
      entry: dockerfilelint
      language: node
      additional_dependencies: [dockerfilelint]
      files: Dockerfile.*

  - repo: local
    hooks:
      - id: eslint
        name: Run eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$
        exclude: (\.(d\.ts)$)|(\.storybook)|(serviceWorker\.ts) # This should match the .eslintrc "ignorePatterns". Change one, change the other!

  - repo: local
    hooks:
      - id: tsc-check
        name: Run typescript check
        entry: scripts/pre-commit-tsc
        language: script
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false

  - repo: local
    hooks:
      - id: graphql-schema
        name: Lint GraphQL schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: pkg/graph/schema.graphql

  - repo: local
    hooks:
      - id: check-code-generation
        name: Run GraphQL code generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: "pkg/graph/schema\\.graphql|pkg/graph/schema\\.resolvers\\.go|src/queries/.*\\.ts"
        pass_filenames: false

  - repo: https://github.com/awslabs/git-secrets
    rev: b9e96b3212fa06aea65964ff0d5cda84ce935f38
    hooks:
      - id: git-secrets
        name: Check for committed secrets
        entry: git-secrets --pre_commit_hook

  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 2.0.7
    hooks:
      - id: sqlfluff-fix
        exclude: ^migrations/
      - id: sqlfluff-lint
        exclude: ^migrations/

feat: WIP activity resolver
  pkg/graph/resolvers/activity.go
Due: none

[TASK-EASI-3695] - FE model participation questions (#931)
  cypress/e2e/characteristics.spec.js
  src/components/ShareExport/__snapshots__/index.test.tsx.snap
  src/data/mock/readonly.ts
  src/gql/apolloGQL/GeneralCharacteristics/GetAllGeneralCharacteristics.ts
  src/gql/apolloGQL/GeneralCharacteristics/GetGeneralCharacteristics.ts
  src/gql/gen/graphql.ts
  src/gql/gen/types/GetAllGeneralCharacteristics.ts
  src/gql/gen/types/GetGeneralCharacteristics.ts
  src/i18n/en-US/modelPlan/generalCharacteristics.ts
  src/i18n/en-US/modelPlan/miscellaneous.ts
  src/queries/GetAllModelData.ts
  src/queries/GetAllSingleModelPlan.ts
  src/queries/types/GetAllModelData.ts
  src/queries/types/GetAllSingleModelData.ts
  src/types/translation.ts
  src/utils/export/CsvData.ts
  src/views/ModelPlan/ReadOnly/GeneralCharacteristics/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/GeneralCharacteristics/index.tsx
  src/views/ModelPlan/TaskList/GeneralCharacteristics/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/GeneralCharacteristics/index.test.tsx
  src/views/ModelPlan/TaskList/GeneralCharacteristics/index.tsx
Due: eslint, tsc-check, check-code-generation

renamed migrations
  migrations/V146__Move_State_Agency_Help_Questions.sql
Due: none

chore: rename migration to correct conflict
  migrations/V146__Add_Model_Participation_To_General_Characteristics.sql
Due: none

Updated crtdl references and tests to include FFS
  cypress/e2e/crtdl.spec.js
  src/i18n/en-US/draftModelPlan/crtdl.ts
  src/i18n/en-US/modelPlanTaskList.ts
  src/i18n/en-US/readOnly/modelSummary.ts
  src/views/ModelPlan/CRTDL/AddCRTDL/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/CRTDL/CRTDLs/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/CRTDLs/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/CRTDLs/index.test.tsx
  src/views/ModelPlan/ReadOnly/__snapshots__/index.test.tsx.snap
Due: eslint, tsc-check

Fixed cypress text incorrect id
  cypress/e2e/characteristics.spec.js
Due: eslint, tsc-check

feat: return notifications per user
  pkg/graph/generated/generated.go
  pkg/graph/gqlresolvers/schema.resolvers.go
  pkg/graph/resolvers/activity.go
  pkg/graph/resolvers/plan_discussion.go
  pkg/graph/resolvers/user_notification.go
  pkg/sqlqueries/activity.go
  pkg/storage/activityStore.go
  pkg/storage/user_notificationStore.go
Due: none

Changing the labels && updating snaps
  src/components/ShareExport/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/OpsEvalAndLearning/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/OpsEvalAndLearning/index.tsx
Due: eslint, tsc-check

feat: add the ability to mark a single unread notification, or all unread notifications as read
  pkg/graph/generated/generated.go
  pkg/graph/gqlresolvers/schema.resolvers.go
  pkg/graph/resolvers/user_notification.go
  pkg/graph/schema.graphql
  pkg/sqlqueries/SQL/user_notification/mark_as_read_by_id.sql
  pkg/sqlqueries/SQL/user_notification/mark_as_read_by_user_id.sql
  pkg/sqlqueries/user_notification.go
  pkg/storage/user_notificationStore.go
  src/gql/gen/graphql.ts
Due: eslint, tsc-check, graphql-schema, check-code-generation

Fixed missing s on CR
  cypress/e2e/crtdl.spec.js
  src/i18n/en-US/draftModelPlan/crtdl.ts
  src/views/ModelPlan/CRTDL/AddCRTDL/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/CRTDL/CRTDLs/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/CRTDLs/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/CRTDLs/index.test.tsx
Due: eslint, tsc-check

[EASI-3906] Remove rogue "Payments" fields in ops, eval, and learning (#937)
  src/components/ShareExport/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/OpsEvalAndLearning/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/OpsEvalAndLearning/index.tsx
Due: eslint, tsc-check

feat: air now watches SQL files as well as go files
  .air.conf
  .airDebug.conf
  .airDebugWait.conf
Due: none

updated json2csv
  package.json
  yarn.lock
Due: none

updated more patch versions -- mainly @types
  package.json
  yarn.lock
Due: none

patch updates for launchdarkly-react-client-sdk and react-to-print
  package.json
  yarn.lock
Due: none

NOREF: Watch SQL files in backend DEV Server (#938)
  .air.conf
  .airDebug.conf
  .airDebugWait.conf
Due: none

update label and snaps
  src/i18n/en-US/modelPlan/payments.ts
  src/views/ModelPlan/TaskList/Payment/ClaimsBasedPayment/__snapshots__/index.test.tsx.snap
Due: eslint, tsc-check

Fixed a slew of missing fields in mock data
  src/components/ShareExport/__snapshots__/index.test.tsx.snap
  src/data/mock/readonly.ts
  src/views/ModelPlan/ReadOnly/Beneficiaries/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/GeneralCharacteristics/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Basics/Overview/index.test.tsx
  src/views/ModelPlan/TaskList/Beneficiaries/Frequency/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Beneficiaries/Frequency/index.test.tsx
  src/views/ModelPlan/TaskList/Beneficiaries/Frequency/index.tsx
  src/views/ModelPlan/TaskList/GeneralCharacteristics/index.test.tsx
  src/views/ModelPlan/TaskList/ITSolutions/Subtasks/index.tsx
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/ProviderOptions/index.tsx
  src/views/ModelPlan/TaskList/Payment/Complexity/index.test.tsx
  src/views/ModelPlan/TaskList/index.test.tsx
Due: eslint, tsc-check

feat: dont require a notifcation to be unread to mark as unread
  pkg/sqlqueries/SQL/user_notification/mark_as_read_by_id.sql
Due: none

Fixed a slew of missing fields in mock data part 2
  src/gql/apolloGQL/GeneralCharacteristics/GetKeyCharacteristics.ts
  src/gql/apolloGQL/OpsEvalAndLearning/GetEvaluation.ts
  src/gql/apolloGQL/OpsEvalAndLearning/GetOpsEvalAndLearning.ts
  src/gql/apolloGQL/OpsEvalAndLearning/GetPerformance.ts
  src/gql/apolloGQL/ParticipantsAndProviders/GetCommunication.ts
  src/gql/apolloGQL/ParticipantsAndProviders/GetParticipantOptions.ts
  src/gql/apolloGQL/Payments/GetClaimsBasedPayment.ts
  src/gql/apolloGQL/Payments/GetFunding.ts
  src/gql/apolloGQL/Payments/GetNonClaimsBasedPayment.ts
  src/index.tsx
  src/views/ModelPlan/CRTDL/AddCRTDL/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/CRTDL/AddCRTDL/index.test.tsx
  src/views/ModelPlan/TaskList/GeneralCharacteristics/KeyCharacteristics/index.test.tsx
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/Evaluation/index.test.tsx
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/Performance/index.test.tsx
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/index.test.tsx
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/Communication/index.test.tsx
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/Communication/index.tsx
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/ParticipantOptions/index.test.tsx
  src/views/ModelPlan/TaskList/Payment/ClaimsBasedPayment/index.test.tsx
  src/views/ModelPlan/TaskList/Payment/FundingSource/index.test.tsx
  src/views/ModelPlan/TaskList/Payment/NonClaimsBasedPayment/index.test.tsx
  src/views/ModelPlan/TaskList/Payment/Recover/index.test.tsx
Due: eslint, tsc-check

Feature/easi 3695 model participation questions (#935)
  cypress/e2e/characteristics.spec.js
  migrations/V147__Add_Model_Participation_To_General_Characteristics.sql
  pkg/graph/generated/generated.go
  pkg/graph/gqlresolvers/schema.resolvers.go
  pkg/graph/schema.graphql
  pkg/models/plan_general_characteristics.go
  pkg/storage/SQL/plan_general_characteristics/create.sql
  pkg/storage/SQL/plan_general_characteristics/get_by_id.sql
  pkg/storage/SQL/plan_general_characteristics/get_by_model_plan_id_LOADER.sql
  pkg/storage/SQL/plan_general_characteristics/update.sql
  src/components/ShareExport/__snapshots__/index.test.tsx.snap
  src/data/mock/readonly.ts
  src/gql/apolloGQL/GeneralCharacteristics/GetAllGeneralCharacteristics.ts
  src/gql/apolloGQL/GeneralCharacteristics/GetGeneralCharacteristics.ts
  src/gql/gen/graphql.ts
  src/gql/gen/types/GetAllGeneralCharacteristics.ts
  src/gql/gen/types/GetGeneralCharacteristics.ts
  src/i18n/en-US/modelPlan/generalCharacteristics.ts
  src/i18n/en-US/modelPlan/miscellaneous.ts
  src/queries/GetAllModelData.ts
  src/queries/GetAllSingleModelPlan.ts
  src/queries/types/GetAllModelData.ts
  src/queries/types/GetAllSingleModelData.ts
  src/types/graphql-global-types.ts
  src/types/translation.ts
  src/utils/export/CsvData.ts
  src/views/ModelPlan/ReadOnly/GeneralCharacteristics/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/GeneralCharacteristics/index.tsx
  src/views/ModelPlan/TaskList/GeneralCharacteristics/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/GeneralCharacteristics/index.test.tsx
  src/views/ModelPlan/TaskList/GeneralCharacteristics/index.tsx
Due: eslint, tsc-check, graphql-schema, check-code-generation

Updated snaps
  src/views/ModelPlan/ReadOnly/Beneficiaries/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/GeneralCharacteristics/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/OpsEvalAndLearning/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/ParticipantsAndProviders/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/Payments/__snapshots__/index.test.tsx.snap
Due: none

feat: expand notification to have content field. Parent level wrapper for notifications that includes unread count
  migrations/V145__Add_Notification_tables.sql
  pkg/graph/generated/generated.go
  pkg/graph/gqlresolvers/schema.resolvers.go
  pkg/graph/resolvers/user_notification.go
  pkg/graph/schema.graphql
  pkg/models/plan_discussion.go
  pkg/models/user_notification.go
  src/gql/gen/graphql.ts
Due: eslint, tsc-check, graphql-schema, check-code-generation

Updated snaps
  src/index.tsx
  src/views/ModelPlan/ReadOnly/Beneficiaries/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/GeneralCharacteristics/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/OpsEvalAndLearning/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/ParticipantsAndProviders/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/Payments/__snapshots__/index.test.tsx.snap
Due: eslint, tsc-check

[EASI-3916] Update Claims Based Payment text (#940)
  src/i18n/en-US/modelPlan/payments.ts
  src/views/ModelPlan/TaskList/Payment/ClaimsBasedPayment/__snapshots__/index.test.tsx.snap
Due: eslint, tsc-check

feat: removed dangling references and old tests
  .spelling
  go.mod
  go.sum
  logstash/Dockerfile.logstash
  logstash/config/ingest_change_table.sql
  logstash/config/logstash.conf
  logstash/connectors/postgresql-42.6.0.jar
  logstash/logstash_entrypoint.sh
  pkg/querybuilderfactories/query_builder_factory.go
  pkg/querybuilderfilters/model_plan_section_filter.go
  pkg/shared/oddsearch/query_builder.go
  pkg/shared/oddsearch/query_builder_filters.go
  pkg/shared/oddsearch/query_builder_test.go
Due: dockerfilelint

chore: removed logstash configs
  logstash/Dockerfile.logstash
  logstash/config/ingest_change_table.sql
  logstash/config/logstash.conf
  logstash/connectors/postgresql-42.6.0.jar
  logstash/logstash_entrypoint.sh
Due: dockerfilelint

attempting to fix lint tests by upgrade enzyme to 3.11.0
  package.json
  yarn.lock
Due: none

Added breadcrumb and updated snaps
  src/views/ModelPlan/CRTDL/AddCRTDL/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/CRTDL/AddCRTDL/index.tsx
Due: eslint, tsc-check

Ran gql
  src/gql/gen/graphql.ts
  src/gql/gen/types/GetClaimsBasedPayment.ts
  src/gql/gen/types/GetCommunication.ts
  src/gql/gen/types/GetEvaluation.ts
  src/gql/gen/types/GetFunding.ts
  src/gql/gen/types/GetKeyCharacteristics.ts
  src/gql/gen/types/GetNonClaimsBasedPayment.ts
  src/gql/gen/types/GetOpsEvalAndLearning.ts
  src/gql/gen/types/GetParticipantOptions.ts
  src/gql/gen/types/GetPerformance.ts
Due: eslint, tsc-check

feat: make notificaitons be part of the current user resolver
  pkg/graph/generated/generated.go
  pkg/graph/gqlresolvers/schema.resolvers.go
  pkg/graph/model/models_gen.go
  pkg/graph/resolvers/current_user.go
  pkg/graph/schema.graphql
  pkg/models/current_user.go
  src/gql/gen/graphql.ts
Due: eslint, tsc-check, graphql-schema, check-code-generation

[EASI-3896] - FFS CR TDL Updates (#936)
  cypress/e2e/crtdl.spec.js
  src/i18n/en-US/draftModelPlan/crtdl.ts
  src/i18n/en-US/modelPlanTaskList.ts
  src/i18n/en-US/readOnly/modelSummary.ts
  src/views/ModelPlan/CRTDL/AddCRTDL/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/CRTDL/AddCRTDL/index.tsx
  src/views/ModelPlan/CRTDL/CRTDLs/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/CRTDLs/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/CRTDLs/index.test.tsx
  src/views/ModelPlan/ReadOnly/__snapshots__/index.test.tsx.snap
Due: eslint, tsc-check

feat: update the manifest so that the app title reflects the actual app in PWA mode
  public/manifest.json
Due: none

updated @cypress/webpack-preprocessor, @graphql-codegen/cli, @graphql-codegen/introspection, autoprefixer, cypress-otp
  package.json
  yarn.lock
Due: none

downgrading enzyme back to 3.10.0
  package.json
  yarn.lock
Due: none
