Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-intake-swagger

eslint:
  name: eslint
  entry: scripts/pre-commit-eslint
  language: script

graphql-schema:
  name: graphql-schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script

check-code-generation:
  name: check-code-generation
  entry: scripts/pre-commit-check-code-generation
  language: script

check-intake-schema-generation:
  name: check-intake-schema-generation
  entry: scripts/gen_intake_schema
  language: script

preprocess-intake-swagger:
  name: preprocess-intake-swagger
  entry: scripts/generate_cedar_intake_client
  language: script

Plan Basics validation
  src/views/ModelPlan/TaskList/Basics/index.tsx
Due: eslint

EASI-1988/plan list by collaborator (#47)
  cmd/devdata/main.go
  migrations/V9__Plan_Collaborator_Lead_Trigger.sql
  pkg/graph/resolvers/model_plan.go
  pkg/graph/resolvers/model_plan_test.go
  pkg/graph/resolvers/plan_collaborator_test.go
  pkg/graph/resolvers/plan_milestones_test.go
  pkg/graph/schema.resolvers.go
  pkg/storage/SQL/model_plan_collection_by_user.sql
  scripts/dev
Due: check-code-generation

get discussion by model plan id
  pkg/graph/resolvers/plan_discussion.go
  pkg/graph/schema.resolvers.go
  pkg/storage/plan_discussionStore.go
Due: check-code-generation

discussion and discussion reply update statements
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/plan_discussion.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/storage/SQL/discussion_reply_update.sql
  pkg/storage/SQL/plan_discussion_update.sql
  pkg/storage/plan_discussionStore.go
Due: graphql-schema, check-code-generation

trying to get it to work
  src/validations/planBasics.ts
  src/views/ModelPlan/TaskList/Basics/index.tsx
Due: eslint

wip: Plan documents testing
  .github/workflows/build.yml
  .github/workflows/build_db_clean_image.yml
  .github/workflows/deploy_dev.yml
  .github/workflows/rescan_deployed_image.yml
  go.mod
  migrations/V8__Add_Plan_Document.sql
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/resolvers/plan_document.go
  pkg/graph/resolvers/plan_document_test.go
  pkg/graph/resolvers/planmilestones_test.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/graph/schema.resolvers_helpers.go
  pkg/models/plan_document.go
  pkg/shared/utilitySQL/query_construction.go
  pkg/storage/SQL/plan_document_create.sql
  pkg/storage/SQL/plan_document_delete_by_id.sql
  pkg/storage/SQL/plan_document_read_by_id.sql
  pkg/storage/SQL/plan_document_read_by_model_plan_id.sql
  pkg/storage/SQL/plan_document_update.sql
  pkg/storage/plan_documentStore.go
  pkg/upload/upload.go
Due: graphql-schema, check-code-generation

it works
  src/validations/planBasics.ts
  src/views/ModelPlan/TaskList/Basics/index.tsx
Due: eslint

update types
  src/types/graphql-global-types.ts
Due: eslint

remove asdf
  src/validations/planBasics.ts
Due: eslint

code clean up
  src/views/ModelPlan/TaskList/Basics/index.tsx
Due: eslint

reply and discussion update and delete
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/plan_discussion.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/graph/schema.resolvers_helpers.go
  pkg/storage/SQL/discussion_reply_delete.sql
  pkg/storage/SQL/discussion_reply_update.sql
  pkg/storage/SQL/plan_discussion_delete.sql
  pkg/storage/plan_discussionStore.go
Due: graphql-schema, check-code-generation

remove asdf andded intial value in modelname
  src/views/ModelPlan/TaskList/Basics/index.tsx
Due: eslint

submit button disabled if form is dirty
  src/views/ModelPlan/TaskList/Basics/index.tsx
Due: eslint

appleasing typescript
  src/views/ModelPlan/TaskList/Basics/index.tsx
Due: eslint

removing red wiggles
  src/views/ModelPlan/TaskList/Basics/index.tsx
Due: eslint

great wip
  src/queries/UpdateModelPlan.ts
  src/queries/types/UpdateModelPlan.ts
  src/views/ModelPlan/TaskList/Basics/index.tsx
Due: eslint, check-code-generation

basic unit testing for discussion and replies
  pkg/graph/resolvers/plan_discussion_test.go
  scripts/dev
Due: none

devdata for plan discussion and discussion reply
  cmd/devdata/main.go
Due: none

feat: backend support for uploading documents attached to a model plan
  migrations/V8__Add_Plan_Document.sql
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/resolvers/plan_document_test.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/graph/schema.resolvers_helpers.go
  pkg/graph/schema.resolvers_test.go
  pkg/models/plan_document.go
  pkg/storage/plan_documentStore.go
Due: graphql-schema, check-code-generation

capitalize bool/null and datatypes
  .sqlfluff
  migrations/V2__Add_EUA_Domain.sql
  migrations/V3__Add_DataTypes.sql
  migrations/V4__Add_Model_Plan.sql
  migrations/V5__Add_Plan_Collaborator.sql
  migrations/V6__Add_Plan_Basics.sql
  migrations/V7__Add_Plan_Milestones.sql
  migrations/V8__Add_Plan_Document.sql
Due: none

Fix spacing in sqlfluff file
  .sqlfluff
Due: none

Fix 'returning' syntax
  pkg/storage/SQL/model_plan_create.sql
  pkg/storage/SQL/model_plan_update.sql
  pkg/storage/SQL/plan_basics_create.sql
  pkg/storage/SQL/plan_basics_update.sql
  pkg/storage/SQL/plan_collaborator_create.sql
  pkg/storage/SQL/plan_collaborator_delete.sql
  pkg/storage/SQL/plan_collaborator_update.sql
  pkg/storage/SQL/plan_milestones_create.sql
  pkg/storage/SQL/plan_milestones_update.sql
Due: none

[NOREF] Added SQLFluff linter (#56)
  .pre-commit-config.yaml
  .sqlfluff
  migrations/V1__Add_CRUD_Role_And_App_User.sql
  migrations/V2__Add_EUA_Domain.sql
  migrations/V3__Add_DataTypes.sql
  migrations/V4__Add_Model_Plan.sql
  migrations/V5__Add_Plan_Collaborator.sql
  migrations/V6__Add_Plan_Basics.sql
  migrations/V7__Add_Plan_Milestones.sql
  migrations/V8__Add_Plan_Document.sql
  migrations/V9__Plan_Collaborator_Lead_Trigger.sql
  pkg/storage/SQL/model_plan_collection_by_user.sql
  pkg/storage/SQL/model_plan_create.sql
  pkg/storage/SQL/model_plan_get_by_id.sql
  pkg/storage/SQL/model_plan_update.sql
  pkg/storage/SQL/plan_basics_create.sql
  pkg/storage/SQL/plan_basics_get_by_id.sql
  pkg/storage/SQL/plan_basics_get_by_model_plan_id.sql
  pkg/storage/SQL/plan_basics_update.sql
  pkg/storage/SQL/plan_collaborator_create.sql
  pkg/storage/SQL/plan_collaborator_delete.sql
  pkg/storage/SQL/plan_collaborator_fetch_by_model_plan_id.sql
  pkg/storage/SQL/plan_collaborator_update.sql
  pkg/storage/SQL/plan_milestones_create.sql
  pkg/storage/SQL/plan_milestones_get_by_id.sql
  pkg/storage/SQL/plan_milestones_get_by_model_plan_id.sql
  pkg/storage/SQL/plan_milestones_update.sql
Due: none

Temporary Gary Validation
  src/validations/planBasics.ts
Due: eslint

handled if basics already exists
  src/views/ModelPlan/TaskList/_components/TaskListButton/index.tsx
Due: eslint

getting overview started
  src/views/ModelPlan/TaskList/Basics/Overview/index.tsx
Due: eslint

comments
  src/views/ModelPlan/TaskList/index.tsx
Due: eslint

wip
  src/views/ModelPlan/TaskList/Basics/index.tsx
Due: eslint

Add translate functions
  src/utils/modelPlan.ts
Due: eslint

rename cmscomponent to cmscenter
  src/validations/planBasics.ts
Due: eslint

remove comments, rename cmsCenter to cmsComponent and translate util functions
  src/views/ModelPlan/TaskList/Basics/index.tsx
Due: eslint

comments
  src/views/ModelPlan/TaskList/Basics/index.tsx
Due: eslint

Fix SQL formatting and use of parenthesis
  pkg/storage/SQL/plan_collaborator_fetch_by_model_plan_id.sql
Due: none

Fix SQL formatting and use of parenthesis (#61)
  pkg/storage/SQL/plan_collaborator_fetch_by_model_plan_id.sql
Due: none

add cms other, and cms group is multi select. named CMS Groups now
  cmd/devdata/main.go
  migrations/V4__Add_Model_Plan.sql
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/graph/schema.resolvers_helpers.go
  pkg/models/model_plan.go
  pkg/storage/SQL/model_plan_collection_by_user.sql
  pkg/storage/SQL/model_plan_create.sql
  pkg/storage/SQL/model_plan_get_by_id.sql
  pkg/storage/SQL/model_plan_update.sql
Due: graphql-schema, check-code-generation

plan update correction
  pkg/storage/SQL/model_plan_update.sql
Due: none

update plan milestones table to add missing fields according to FIGMA
  migrations/V7__Add_Plan_Milestones.sql
Due: none

first pass update milestone BO
  migrations/V7__Add_Plan_Milestones.sql
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers_helpers.go
  pkg/models/plan_milestones.go
Due: graphql-schema, check-code-generation

Update CRUD statements to use the new and updated fields. Updated SchemaResolverHelpers
  pkg/graph/schema.resolvers_helpers.go
  pkg/storage/SQL/plan_milestones_create.sql
  pkg/storage/SQL/plan_milestones_delete_by_id.sql
  pkg/storage/SQL/plan_milestones_get_by_id.sql
  pkg/storage/SQL/plan_milestones_get_by_model_plan_id.sql
  pkg/storage/SQL/plan_milestones_update.sql
Due: none

garyTestWithExtras new schema option
  src/validations/planBasics.ts
  src/views/ModelPlan/TaskList/Basics/index.tsx
Due: eslint

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$
  graphql-schema: any of: pkg/graph/schema.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts
  check-intake-schema-generation: any of: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json
  preprocess-intake-swagger: any of: pkg/cedar/intake/cedar_intake.json
