Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, tsc-check, graphql-schema, check-code-generation

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-yaml
        name: Check YAML formatting
      - id: detect-private-key
        name: Check for private keys
      - id: end-of-file-fixer
        files: \.(sql|scss|md|js|ts|tsx|go|yml|yaml)$
        name: Add newlines to ends of files
        exclude: src/gql/gen/.* # Ignore generated FE files

  - repo: https://github.com/detailyang/pre-commit-shell
    rev: v1.0.6
    hooks:
      - id: shell-lint
        name: Lint shell files

  - repo: https://github.com/trussworks/pre-commit-hooks
    rev: v1.1.1
    hooks:
      - id: mdspell
        name: Spellcheck Markdown files
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor
          )$

  - repo: https://github.com/Bahjat/pre-commit-golang
    rev: v1.0.3
    hooks:
      - id: go-fmt-import
        name: Run "goimports" on go files
        args: ['-local', 'github.com/cmsgov/mint-app']
        files: .*\.go$
        exclude: >
          (?x)^(
            .*gen/.*|
            .*generated/.*|
            .*models_gen.go|
          )$

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.59.1
    hooks:
      - id: golangci-lint
        name: Lint go files
        args: ['--concurrency', '-1', '-v'] # Run with all CPUs

  - repo: local
    hooks:
    - id: dockerfilelint
      name: Lint Dockerfile
      entry: dockerfilelint
      language: node
      additional_dependencies: [dockerfilelint]
      files: Dockerfile.*

  - repo: local
    hooks:
      - id: eslint
        name: Run eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$
        exclude: (\.(d\.ts)$)|(\.storybook)|(serviceWorker\.ts)|(src/gql/gen/.*) # This should match the .eslintrc "ignorePatterns". Change one, change the other!

  - repo: local
    hooks:
      - id: tsc-check
        name: Run typescript check
        entry: scripts/pre-commit-tsc
        language: script
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false

  - repo: local
    hooks:
      - id: graphql-schema
        name: Lint GraphQL schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: "pkg/graph/schema/.*\\.graphql"
        pass_filenames: false

  - repo: local
    hooks:
      - id: check-code-generation
        name: Run GraphQL code generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: "pkg/graph/schema\\.graphql|pkg/graph/schema\\.resolvers\\.go|src/queries/.*\\.ts|src/queriesCodegen/.*\\.ts"
        pass_filenames: false

  - repo: https://github.com/awslabs/git-secrets
    rev: b9e96b3212fa06aea65964ff0d5cda84ce935f38
    hooks:
      - id: git-secrets
        name: Check for committed secrets
        entry: git-secrets --pre_commit_hook

  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 2.0.7
    hooks:
      - id: sqlfluff-fix
        exclude: ^migrations/
      - id: sqlfluff-lint
        exclude: ^migrations/

couple cleanups for consistent labeling
  pkg/models/ctat_enums.go
  src/features/HelpAndKnowledge/ContractAssistancePage/_components/CTATSidePanel/CtatTicketForm.tsx
  src/features/HelpAndKnowledge/ContractAssistancePage/utils.ts
  src/i18n/en-US/ctatRequest.ts
Due: eslint, tsc-check

updated snaps
  src/features/HelpAndKnowledge/SolutionsHelp/_components/SolutionCategories/__snapshots__/index.test.tsx.snap
Due: none

add required asterisk
  src/features/HelpAndKnowledge/ContractAssistancePage/_components/CTATSidePanel/CtatTicketForm.tsx
Due: eslint, tsc-check

add a few mroe
  src/features/HelpAndKnowledge/ContractAssistancePage/_components/CTATSidePanel/CtatTicketForm.tsx
Due: eslint, tsc-check

[MINT-3729]Waiver read view (#2325)
  src/components/ShareExport/util.tsx
  src/features/ModelPlan/AdditionalQuestionnaires/WaiverAssessmentSurvey/_components/WaiverInfoPanel/index.test.tsx
  src/features/ModelPlan/AdditionalQuestionnaires/WaiverAssessmentSurvey/_components/WaiverInfoPanel/index.tsx
  src/features/ModelPlan/ReadOnly/IDDOCQuestionnaire/index.tsx
  src/features/ModelPlan/ReadOnly/WaiverAssessmentSurvey/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/ReadOnly/WaiverAssessmentSurvey/index.test.tsx
  src/features/ModelPlan/ReadOnly/WaiverAssessmentSurvey/index.tsx
  src/features/ModelPlan/ReadOnly/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/ReadOnly/_components/FilterView/BodyContent/index.tsx
  src/features/ModelPlan/ReadOnly/_components/SelectedWaiversTable/index.test.tsx
  src/features/ModelPlan/ReadOnly/_components/SelectedWaiversTable/index.tsx
  src/features/ModelPlan/ReadOnly/_components/SimpleReadOnlySection/index.test.tsx
  src/features/ModelPlan/ReadOnly/_components/SimpleReadOnlySection/index.tsx
  src/features/ModelPlan/ReadOnly/_components/TitleAndStatus/index.tsx
  src/features/ModelPlan/ReadOnly/index.tsx
  src/features/ModelPlan/TaskList/_components/TaskListItem/index.tsx
  src/gql/generated/graphql.ts
  src/gql/operations/AdditionalQuestionnaires/WaiverAssessmentSurvey/GetAllWaiverAssessmentSurvey.ts
  src/i18n/en-US/modelPlan/waiverAssessmentSurvey.ts
  src/i18n/en-US/readOnly/modelSummary.ts
  src/tests/mock/readonly.ts
  src/types/translation.ts
Due: eslint, tsc-check

changed health endpoint to ecs api call
  .github/workflows/deploy_to_environment.yml
  .github/workflows/scan_deployed_image.yml
  scripts/check_deployed_image_findings
  scripts/healthcheck
Due: none

moved new model plan link constructor
  pkg/graph/resolvers/ctat_request.go
  pkg/models/ctat_request_model_plan_link.go
Due: none

add ctat stuff on collab area
  src/features/HelpAndKnowledge/Articles/_components/RelatedArticles/index.tsx
  src/i18n/en-US/helpAndKnowledge/helpAndKnowledge.ts
Due: eslint, tsc-check

add ctat button to home page
  src/features/Home/__snapshots__/index.test.tsx.snap
  src/features/Home/index.scss
  src/features/Home/index.tsx
  src/i18n/en-US/home/customHome.ts
Due: eslint, tsc-check

add hdie/show toggle for admin action
  src/features/Home/components/AdminActions/__snapshots__/index.test.tsx.snap
  src/features/Home/components/AdminActions/index.test.tsx
  src/features/Home/components/AdminActions/index.tsx
  src/i18n/en-US/home/adminActions.ts
Due: eslint, tsc-check

adding a help submenu
  src/components/Header/index.tsx
  src/components/NavigationBar/HelpNavMenu.tsx
  src/components/NavigationBar/index.scss
  src/components/NavigationBar/index.test.tsx
  src/components/NavigationBar/index.tsx
  src/hooks/useOutsideClick.tsx
  src/i18n/en-US/header.ts
Due: eslint, tsc-check

remove commented code
  src/components/NavigationBar/index.scss
Due: none

updated snaps
  src/features/HelpAndKnowledge/Articles/AddCustomMilestone/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/Articles/AddCustomSolution/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/Articles/CreatingMTOMatrix/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/Articles/EvaluatingDataExchangeApproach/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/Articles/HighLevelProjectPlan/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/Articles/ModelSolutionDesign/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/Articles/ModelSolutionImplementation/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/Articles/OperationalPlanning/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/Articles/PhasesInvolved/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/Articles/SharingAndExportingMTO/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/Articles/SixPagerMeeting/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/Articles/StartingMTOMatrix/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/Articles/TwoPagerMeeting/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/Articles/UpdatingMTOStatus/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/Articles/UsingMilestoneLibrary/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/Articles/UsingMilestoneTable/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/Articles/UsingSolutionLibrary/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/Articles/UsingSolutionsAndITSystemsTable/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/Articles/UsingTableActions/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/Articles/UtilizingSolutions/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/Articles/_components/RelatedArticles/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/ModelToOperations/SolutionLibrary/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/ModelToOperations/_components/ActionsTable/__snapshots__/index.test.tsx.snap
Due: none

updated snaps
  src/features/ModelPlan/ModelToOperations/SolutionLibrary/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/ModelToOperations/_components/ActionsTable/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/ModelToOperations/_components/ActionsTable/index.tsx
  src/features/ModelPlan/ModelToOperations/_components/MatrixTable/index.tsx
Due: eslint, tsc-check

updated i18next to stop annoying promo during tests
  package.json
  yarn.lock
Due: none

updating icon accessiblity
  src/features/HelpAndKnowledge/KeyContactDirectory/_components/KeyContactTable/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/KeyContactDirectory/_components/KeyContactTable/index.tsx
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/_components/MailboxAndTeamMemberCard/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/_components/MailboxAndTeamMemberCard/index.tsx
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/_components/MailboxAndTeamMemberModal/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/_components/MailboxesAndTeamMembers/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/_components/TeamMailboxForm/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/_components/TeamMailboxForm/index.tsx
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/_components/TeamMemberForm/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/_components/TeamMemberForm/index.tsx
  src/features/ModelPlan/ModelToOperations/_components/EditMilestoneForm/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/ModelToOperations/_components/EditSolutionForm/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/ModelToOperations/_components/ITSystemsTable/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/ModelToOperations/_components/MTORiskIndicatorIcon/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/ModelToOperations/_components/MTORiskIndicatorIcon/index.tsx
  src/features/ModelPlan/ReadOnly/MTOSolutions/SolutionPanel/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/ReadOnly/MTOSolutions/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/ReadOnly/_components/TitleAndStatus/index.tsx
Due: eslint, tsc-check

addressing html nesting error
  src/features/Home/components/ModelCardTable/__snapshots__/index.test.tsx.snap
  src/features/Home/components/ModelCardTable/index.tsx
  src/features/Home/components/ModelsByGroup/__snapshots__/index.test.tsx.snap
  src/i18n/en-US/home/customHome.ts
Due: eslint, tsc-check

add missing modelTypeOther in mock
  src/tests/mock/readonly.ts
Due: eslint, tsc-check

starting on new emails
  pkg/email/templates/model_plan_date_changed_body.html
Due: none

addressing copilot's feedback
  src/hooks/useFetchCSVData.tsx
  src/tests/mock/readonly.ts
Due: eslint, tsc-check

starting on emails for CTAT admin notifications
  pkg/email/ctat_emails.go
  pkg/email/templates/ctat_submitted_admin_body.html
  pkg/email/templates/ctat_submitted_admin_subject.html
  pkg/email/templates/ctat_update_admin_body.html
  pkg/email/templates/ctat_update_admin_subject.html
Due: none

working on new email address env vars`
  .envrc
  cmd/test_email/main.go
  pkg/appconfig/config.go
  pkg/email/address_book.go
  pkg/server/routes.go
Due: none

wire up admin emails
  pkg/email/ctat_emails.go
  pkg/email/templates/ctat_submitted_admin_body.html
  pkg/email/templates/ctat_submitted_admin_subject.html
  pkg/email/templates/ctat_update_admin_body.html
  pkg/email/templates/ctat_update_admin_subject.html
  pkg/graph/resolvers/ctat_request.go
  pkg/graph/resolvers/ctat_request_test.go
Due: none

include new admin emails in cmd email test
  cmd/test_email/main.go
Due: none

get env var working
  docker-compose.backend.yml
Due: none

[Update ldf solution details about section]
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/About/index.tsx
  src/i18n/en-US/helpAndKnowledge/helpAndKnowledge.ts
Due: eslint, tsc-check

[update snapshots]
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/About/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/About/__snapshots__/index.test.tsx.snap
Due: none

Init page 7
  src/features/ModelPlan/AdditionalQuestionnaires/WaiverAssessmentSurvey/ConfirmAndSubmit/index.tsx
  src/features/ModelPlan/AdditionalQuestionnaires/WaiverAssessmentSurvey/_components/WaiverInfoPanel/index.tsx
  src/features/ModelPlan/AdditionalQuestionnaires/WaiverAssessmentSurvey/index.tsx
  src/features/ModelPlan/AdditionalQuestionnaires/WaiverAssessmentSurvey/mockWaiversData.ts
  src/i18n/en-US/modelPlan/waiverAssessmentSurvey.ts
Due: eslint, tsc-check

Refactor question sections
  src/features/ModelPlan/AdditionalQuestionnaires/WaiverAssessmentSurvey/ConfirmAndSubmit/index.tsx
  src/features/ModelPlan/AdditionalQuestionnaires/WaiverAssessmentSurvey/_components/WaiverAssessmentSurveyReadOnlySections/index.tsx
  src/features/ModelPlan/AdditionalQuestionnaires/WaiverAssessmentSurvey/mockWaiversData.ts
  src/features/ModelPlan/AdditionalQuestionnaires/WaiverAssessmentSurvey/util.ts
  src/features/ModelPlan/ReadOnly/WaiverAssessmentSurvey/index.tsx
Due: eslint, tsc-check

Form footer
  src/features/ModelPlan/AdditionalQuestionnaires/WaiverAssessmentSurvey/ConfirmAndSubmit/index.tsx
  src/i18n/en-US/modelPlan/waiverAssessmentSurvey.ts
Due: eslint, tsc-check

Form validation
  src/features/ModelPlan/AdditionalQuestionnaires/WaiverAssessmentSurvey/ConfirmAndSubmit/index.tsx
  src/features/ModelPlan/AdditionalQuestionnaires/WaiverAssessmentSurvey/mockWaiversData.ts
  src/features/ModelPlan/AdditionalQuestionnaires/WaiverAssessmentSurvey/util.ts
Due: eslint, tsc-check

oops, fix casing
  pkg/appconfig/config.go
  pkg/server/routes.go
Due: none

update tests to account for new admin email
  pkg/graph/resolvers/ctat_request_test.go
Due: none

log err on unset CTAT email, exit without error
  pkg/email/ctat_emails.go
Due: none

return errs
  pkg/email/ctat_emails.go
Due: none

upgarded faktory image
  Dockerfile.faktory
Due: dockerfilelint
