Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-intake-swagger

eslint:
  name: eslint
  entry: scripts/pre-commit-eslint
  language: script

graphql-schema:
  name: graphql-schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script

check-code-generation:
  name: check-code-generation
  entry: scripts/pre-commit-check-code-generation
  language: script

check-intake-schema-generation:
  name: check-intake-schema-generation
  entry: scripts/gen_intake_schema
  language: script

preprocess-intake-swagger:
  name: preprocess-intake-swagger
  entry: scripts/generate_cedar_intake_client
  language: script

Add Cypress e2e testing
  cypress/integration/payments.spec.js
Due: eslint

Testing ws stuff
  src/index.tsx
  src/views/ModelPlan/TaskList/index.tsx
Due: eslint

Removed Milestones and updated how modelCategory and cmsCenters gets loaded
  src/views/ModelPlan/TaskList/index.tsx
Due: eslint

WIP changes. Pushing to share with others.
  pkg/authorization/require_principal_middleware.go
  pkg/server/routes.go
  pkg/services/auth.go
Due: none

Updated queries and types
  src/queries/UpdateModelPlan.ts
  src/queries/types/UpdateModelPlan.ts
Due: eslint, check-code-generation

fix tests and snaps
  src/views/ModelPlan/TaskList/Beneficiaries/Frequency/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Beneficiaries/Frequency/index.test.tsx
  src/views/ModelPlan/TaskList/GeneralCharacteristics/Authority/index.test.tsx
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/Learning/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/Learning/index.test.tsx
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/ProviderOptions/index.test.tsx
  src/views/ModelPlan/TaskList/_components/TaskListButton/index.test.tsx
  src/views/ModelPlan/TaskList/index.test.tsx
Due: eslint

snaps udpate
  src/views/ModelPlan/TaskList/GeneralCharacteristics/Authority/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/ProviderOptions/__snapshots__/index.test.tsx.snap
Due: none

sd gql
  src/types/graphql-global-types.ts
Due: eslint

Resolved conflicts
  src/queries/types/GetModelPlan.ts
  src/types/graphql-global-types.ts
Due: eslint, check-code-generation

Initial version of local auth for websockets
  pkg/authorization/require_principal_middleware.go
  pkg/local/authentication_middleware.go
  pkg/server/routes.go
  pkg/services/auth.go
Due: none

Resolved conflicts
  src/utils/modelPlan.ts
Due: eslint

Add ready for review fields to payments
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  src/types/graphql-global-types.ts
Due: eslint, graphql-schema, check-code-generation

adding ready for review to payments
  src/queries/Payments/GetRecover.ts
  src/views/ModelPlan/TaskList/Payment/Recover/index.tsx
Due: eslint, check-code-generation

sd gql
  src/queries/Payments/types/GetRecover.ts
Due: eslint, check-code-generation

Add readyForReviewBy and readyForReviewDts to Milestones
  src/views/ModelPlan/TaskList/Basics/Milestones/index.tsx
Due: eslint

test fixes
  src/views/ModelPlan/TaskList/Basics/Milestones/index.test.tsx
  src/views/ModelPlan/TaskList/Payment/Recover/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Payment/Recover/index.test.tsx
Due: eslint

Lint go.mod
  go.mod
Due: none

Added subscription wrapper and context
  src/index.tsx
  src/views/ModelPlan/TaskList/index.tsx
  src/views/SubscriptionWrapper/index.tsx
Due: eslint

Included mapyments in it tools and cypress
  cypress/integration/itTools.spec.js
  src/i18n/en-US/draftModelPlan/payment.ts
  src/i18n/en-US/draftModelPlan/payments.ts
  src/views/ModelPlan/TaskList/ITTools/PageEight/index.tsx
  src/views/ModelPlan/TaskList/ITTools/PageNine/index.tsx
  src/views/ModelPlan/TaskList/Payment/ClaimsBasedPayment/index.tsx
  src/views/ModelPlan/TaskList/Payment/FundingSource/index.tsx
  src/views/ModelPlan/TaskList/Payment/NonClaimsBasedPayment/index.tsx
  src/views/ModelPlan/TaskList/Payment/Recover/index.tsx
  src/views/ModelPlan/TaskList/index.tsx
Due: eslint

added Basics to values.fieldValue
  src/views/ModelPlan/TaskList/Basics/index.tsx
Due: eslint

Updated snaps
  src/views/ModelPlan/TaskList/ITTools/PageEight/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITTools/PageNine/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Payment/FundingSource/__snapshots__/index.test.tsx.snap
Due: none

Finished init work on subscriptionwrapper
  src/views/ModelPlan/TaskList/index.tsx
  src/views/SubscriptionWrapper/index.tsx
Due: eslint

Cosmetic tweaks
  src/views/SubscriptionWrapper/index.tsx
Due: eslint

Added wrapper for locking sections
  src/index.tsx
  src/views/App/index.tsx
  src/views/ModelPlan/TaskList/index.tsx
  src/views/SubscriptionHandler/index.tsx
  src/views/SubscriptionWrapper/index.tsx
Due: eslint

Added loading to context
  src/views/SubscriptionHandler/index.tsx
  src/views/SubscriptionWrapper/index.tsx
Due: eslint

Easi 2175/backend websocket changes (#163)
  go.mod
  pkg/local/authentication_middleware.go
Due: none

woip
  src/views/ModelPlan/TaskList/Basics/index.tsx
Due: eslint

Update snaps
  src/views/ModelPlan/TaskList/Basics/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Beneficiaries/Frequency/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/GeneralCharacteristics/Authority/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/GeneralCharacteristics/TargetsAndOptions/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/Evaluation/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/IDDOCTesting/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/Learning/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/Communication/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/Coordination/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/ProviderOptions/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Payment/FundingSource/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Payment/Recover/__snapshots__/index.test.tsx.snap
Due: none

Updated Checkbox component to have a data test id
  src/components/shared/CheckboxField/index.tsx
Due: eslint

Add unit test for ReadyForReview
  src/components/ReadyForReview/__snapshots__/index.test.tsx.snap
  src/components/ReadyForReview/index.test.tsx
Due: eslint

add more unit test
  src/components/ReadyForReview/index.test.tsx
Due: eslint

Change all references of suite receivers to be pointer receivers
  pkg/appconfig/config_test.go
  pkg/appcontext/context_test.go
  pkg/appses/ses_test.go
  pkg/authorization/require_principal_middleware_test.go
  pkg/graph/schema.resolvers_current_user_test.go
  pkg/handlers/catch_all_test.go
  pkg/handlers/handler_base_test.go
  pkg/handlers/health_check_test.go
  pkg/handlers/metrics_test.go
  pkg/okta/authentication_middleware_test.go
  pkg/server/logger_test.go
  pkg/server/trace_test.go
  pkg/services/auth_test.go
  pkg/services/metrics_test.go
  pkg/storage/store_test.go
  pkg/validate/types_test.go
Due: none

Added locking and unlocking to SubscriptionHandler
  src/queries/TaskListSubscription/UnlockTackListSection.ts
  src/queries/TaskListSubscription/types/UnlockTaskListSection.ts
  src/utils/modelPlan.ts
  src/views/App/index.tsx
  src/views/SubscriptionHandler/index.tsx
  src/views/SubscriptionWrapper/index.tsx
Due: eslint, check-code-generation

updated UpdatedModelPlan to have two mutations
  src/queries/UpdateModelPlan.ts
  src/queries/types/UpdateModelPlan.ts
Due: eslint, check-code-generation

this part works
  src/views/ModelPlan/TaskList/Basics/index.tsx
Due: eslint

add id
  src/queries/Basics/GetModelPlanInfo.ts
  src/queries/Basics/types/GetModelPlanInfo.ts
Due: eslint, check-code-generation

Added UI for task list sections that are locked
  .eslintrc
  src/i18n/en-US/modelPlanTaskList.ts
  src/views/ModelPlan/TaskList/_components/TaskListButton/index.tsx
  src/views/ModelPlan/TaskList/_components/TaskListLock/index.tsx
  src/views/ModelPlan/TaskList/_components/TaskListSideNav/index.test.tsx
  src/views/ModelPlan/TaskList/_components/TaskListSideNav/index.tsx
  src/views/ModelPlan/TaskList/index.tsx
  src/views/SubscriptionHandler/index.tsx
Due: eslint

Add pre-commit hook for enforcing branch naming patterns
  .pre-commit-config.yaml
Due: none

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$
  graphql-schema: any of: pkg/graph/schema.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts
  check-intake-schema-generation: any of: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json
  preprocess-intake-swagger: any of: pkg/cedar/intake/cedar_intake.json
