Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, tsc-check, graphql-schema, check-code-generation

dockerfilelint:
  name: Lint Dockerfile
  entry: dockerfilelint
  language: node
  additional_dependencies:
  - dockerfilelint

eslint:
  name: Run eslint
  entry: scripts/pre-commit-eslint
  language: script

tsc-check:
  name: Run typescript check
  entry: scripts/pre-commit-tsc
  language: script
  pass_filenames: false

graphql-schema:
  name: Lint GraphQL schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script

check-code-generation:
  name: Run GraphQL code generation
  entry: scripts/pre-commit-check-code-generation
  language: script
  pass_filenames: false

[EASI-2679] - Reordered csv data to match task list (#608)
  src/queries/GetAllModelData.ts
  src/queries/GetAllSingleModelPlan.ts
  src/queries/types/GetAllModelData.ts
  src/queries/types/GetAllSingleModelData.ts
  src/utils/export/CsvData.ts
Due: eslint, tsc-check, check-code-generation

chore: fix sql constraints, remove trigger
  migrations/V96__Update_Plan_Discussion_Add_Role.sql
Due: none

wip: bug fixes and refactoring
  pkg/email/templates/model_plan_date_changed_body.html
  pkg/graph/resolvers/plan_basics.go
  pkg/graph/resolvers/plan_basics_helper.go
Due: none

Add more conditional note renders
  src/views/ModelPlan/ReadOnly/ModelBasics/index.tsx
Due: eslint, tsc-check

Add more conditional note renders
  src/views/ModelPlan/ReadOnly/GeneralCharacteristics/index.tsx
Due: eslint, tsc-check

Add more conditional note renders
  src/views/ModelPlan/ReadOnly/Beneficiaries/index.tsx
Due: eslint, tsc-check

Add more conditional note renders
  src/views/ModelPlan/ReadOnly/OpsEvalAndLearning/index.tsx
Due: eslint, tsc-check

Add more conditional note renders
  src/views/ModelPlan/ReadOnly/ParticipantsAndProviders/index.tsx
  src/views/ModelPlan/ReadOnly/Payments/index.tsx
Due: eslint, tsc-check

Began eradonlydiscussion work
  src/i18n/en-US/draftModelPlan/discussions.ts
  src/queries/Discussions/GetModelPlanDiscussions.ts
  src/queries/Discussions/types/GetModelPlanDiscussions.ts
  src/views/Landing/index.tsx
  src/views/ModelPlan/ReadOnly/Discussions/_components/QuestionAndReply.tsx
Due: eslint, tsc-check, check-code-generation

Fixed styling on landing and get access text
  src/views/HelpAndKnowledge/Articles/GetAccess/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/Articles/GetAccess/index.tsx
  src/views/Landing/index.scss
  src/views/Landing/index.tsx
Due: eslint, tsc-check

Added rendering of roles
  src/i18n/en-US/draftModelPlan/discussions.ts
  src/utils/modelPlan.ts
  src/views/ModelPlan/Discussions/QuestionAndReply.tsx
  src/views/ModelPlan/Discussions/SingleDiscussion.tsx
  src/views/ModelPlan/Discussions/index.tsx
Due: eslint, tsc-check

[NOREF] - Fixed styling on landing and get access text (#610)
  src/views/HelpAndKnowledge/Articles/GetAccess/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/Articles/GetAccess/index.tsx
  src/views/Landing/index.scss
  src/views/Landing/index.tsx
Due: eslint, tsc-check

fix: added userRole and userRoleDiscussion to discussion replies, improved constraints
  MINT.postman_collection.json
  migrations/V96__Update_Plan_Discussion_Add_Role.sql
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/resolvers/plan_discussion.go
  pkg/graph/schema.graphql
  pkg/models/plan_discussion.go
  pkg/storage/SQL/discussion_reply/create.sql
  pkg/storage/SQL/discussion_reply/delete.sql
  pkg/storage/SQL/discussion_reply/get_by_discussion_id_LOADER.sql
  pkg/storage/SQL/discussion_reply/get_by_id.sql
  pkg/storage/SQL/discussion_reply/update.sql
  pkg/storage/SQL/plan_discussion/get_most_recent_user_role.sql
  src/types/graphql-global-types.ts
Due: eslint, tsc-check, graphql-schema, check-code-generation

chore: remove unnecessary comments
  pkg/models/change_table_record.go
Due: none

fix: server tests relating to discussion reply create input
  pkg/graph/resolvers/auditing_paradigm_test.go
  pkg/graph/resolvers/plan_discussion_test.go
  pkg/graph/resolvers/resolver_test.go
Due: none

Noref/change history table name to type spike (#606)
  go.mod
  go.sum
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/models/change_table_record.go
  pkg/models/change_table_record_test.go
  pkg/models/gql_table_name.go
Due: graphql-schema, check-code-generation

chore: simplified email recipients table, added email recipient seeding
  cmd/dbseed/main.go
  cmd/dbseed/resolver_wrappers.go
  go.mod
  migrations/V98__Add_Model_Plan_Date_Changed_Email_Recipients.sql
  pkg/storage/SQL/model_plan_date_changed_email_recipients/create.sql
  pkg/storage/model_plan_date_changed_email_recipientsStore.go
Due: none

chore: fixed broken unit test
  pkg/graph/resolvers/plan_discussion_test.go
Due: none

fix: resolved broken unit test
  pkg/graph/resolvers/plan_discussion_test.go
Due: none

feat: added oact and payment collaborator team roles to gql enum, updated models constants, and added migration adding team roles to sql types
  migrations/V99__Add_Collaborator_Team_Roles_OACT_And_Payment.sql
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/models/plan_collaborator.go
  src/types/graphql-global-types.ts
Due: eslint, tsc-check, graphql-schema, check-code-generation

feat: updated front-end team role selections
  src/i18n/en-US/modelPlan.ts
  src/utils/modelPlan.ts
Due: eslint, tsc-check

feat: add document types Design Parameters Memo and Office of the Administrator Presentation
  migrations/V100__Update_Document_Types_Add_Design_Parameters_Memo_And_Office_Of_The_Administrator_Presentation.sql
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/models/DocumentType_enum.go
  src/i18n/en-US/draftModelPlan/documents.ts
  src/types/graphql-global-types.ts
  src/utils/modelPlan.ts
Due: eslint, tsc-check, graphql-schema, check-code-generation

feat: added BCDA to backend and boilerplate front-end
  migrations/V101__Add_BCDA_to_Operational_Solutions.sql
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/models/possible_operational_solution.go
  src/types/graphql-global-types.ts
  src/views/HelpAndKnowledge/SolutionsHelp/solutionsMap.tsx
Due: eslint, tsc-check, graphql-schema, check-code-generation

Fixed incorrect mappings, hide unneeded headings
  src/views/ModelPlan/ReadOnly/GeneralCharacteristics/index.tsx
  src/views/ModelPlan/ReadOnly/ModelBasics/index.tsx
  src/views/ModelPlan/ReadOnly/OpsEvalAndLearning/index.tsx
  src/views/ModelPlan/ReadOnly/ParticipantsAndProviders/index.tsx
  src/views/ModelPlan/ReadOnly/Payments/index.tsx
  src/views/ModelPlan/ReadOnly/_components/FilterView/BodyContent/_filterGroupMapping.ts
  src/views/ModelPlan/ReadOnly/_components/FilterView/BodyContent/index.tsx
Due: eslint, tsc-check

Finished fixing incorrect mappings
  src/views/ModelPlan/ReadOnly/Beneficiaries/index.tsx
  src/views/ModelPlan/ReadOnly/OpsEvalAndLearning/index.tsx
  src/views/ModelPlan/ReadOnly/_components/FilterView/BodyContent/_filterGroupMapping.ts
  src/views/ModelPlan/ReadOnly/_components/FilterView/BodyContent/index.tsx
Due: eslint, tsc-check

Updated naming to be standard across filters
  src/views/ModelPlan/ReadOnly/Beneficiaries/index.tsx
  src/views/ModelPlan/ReadOnly/GeneralCharacteristics/index.tsx
  src/views/ModelPlan/ReadOnly/ModelBasics/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/ModelBasics/index.tsx
  src/views/ModelPlan/ReadOnly/OpsEvalAndLearning/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/ParticipantsAndProviders/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/ParticipantsAndProviders/index.tsx
  src/views/ModelPlan/ReadOnly/Payments/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/Payments/index.tsx
  src/views/ModelPlan/ReadOnly/_components/FilterView/BodyContent/_filterGroupMapping.ts
Due: eslint, tsc-check

fix: updated snapshots
  src/views/ModelPlan/Collaborators/AddCollaborator/__snapshots__/index.test.tsx.snap
Due: none

chore: updated snapshots
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionsHeader/__snapshots__/index.test.tsx.snap
Due: none

chore: updated snapshots
  src/views/ModelPlan/Documents/AddDocument/__snapshots__/index.test.tsx.snap
Due: none

feat: update salesforce names in possible operational solutions
  migrations/V96__Update_Salesforce_Connect_And_Portal_Names.sql
Due: none

chore: updated roles to use enum and zero_string on sql
  migrations/V96__Update_Plan_Discussion_Add_Role.sql
Due: none

chore: renamed migration to next on main
  migrations/V96__Update_Document_Types_Add_Design_Parameters_Memo_And_Office_Of_The_Administrator_Presentation.sql
Due: none

Update migration name
  migrations/V97__Add_Collaborator_Team_Roles_OACT_And_Payment.sql
Due: none

[EASI-2848] Add Document Types: Design Parameters Memo and Office of the Administrator Presentation (#612)
  migrations/V96__Update_Document_Types_Add_Design_Parameters_Memo_And_Office_Of_The_Administrator_Presentation.sql
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/models/DocumentType_enum.go
  src/i18n/en-US/draftModelPlan/documents.ts
  src/types/graphql-global-types.ts
  src/utils/modelPlan.ts
  src/views/ModelPlan/Documents/AddDocument/__snapshots__/index.test.tsx.snap
Due: eslint, tsc-check, graphql-schema, check-code-generation

[EASI-2840] Add OACT and Payment Collaborator Role Types (#611)
  migrations/V97__Add_Collaborator_Team_Roles_OACT_And_Payment.sql
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/models/plan_collaborator.go
  src/i18n/en-US/modelPlan.ts
  src/types/graphql-global-types.ts
  src/utils/modelPlan.ts
  src/views/ModelPlan/Collaborators/AddCollaborator/__snapshots__/index.test.tsx.snap
Due: eslint, tsc-check, graphql-schema, check-code-generation

Rename migration
  migrations/V96__Update_Plan_Discussion_Add_Role.sql
  migrations/V98__Update_Plan_Discussion_Add_Role.sql
Due: none

most recent query written/troubleshoot
  src/queries/Discussions/GetModelPlanDiscussions.ts
  src/queries/Discussions/GetMostRecentRoleSelection.ts
  src/queries/Discussions/types/GetModelPlanDiscussions.ts
  src/queries/Discussions/types/GetMostRecentRoleSelection.ts
  src/views/Landing/index.tsx
  src/views/ModelPlan/Discussions/QuestionAndReply.tsx
Due: eslint, tsc-check, check-code-generation

Implemented most recent query, conditionally add description to payload
  src/views/ModelPlan/Discussions/QuestionAndReply.tsx
  src/views/ModelPlan/Discussions/index.tsx
Due: eslint, tsc-check

Path conditions:
  dockerfilelint: any of: Dockerfile.*
  eslint: any of: \.(js|jsx|ts|tsx)$
  tsc-check: any of: \.(js|jsx|ts|tsx)$
  graphql-schema: any of: pkg/graph/schema.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts
