Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, tsc-check, graphql-schema, check-code-generation

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-yaml
        name: Check YAML formatting
      - id: detect-private-key
        name: Check for private keys
      - id: end-of-file-fixer
        files: \.(sql|scss|md|js|ts|tsx|go|yml|yaml)$
        name: Add newlines to ends of files
        exclude: src/gql/gen/.* # Ignore generated FE files

  - repo: https://github.com/detailyang/pre-commit-shell
    rev: v1.0.6
    hooks:
      - id: shell-lint
        name: Lint shell files

  - repo: https://github.com/trussworks/pre-commit-hooks
    rev: v1.1.1
    hooks:
      - id: mdspell
        name: Spellcheck Markdown files
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor
          )$

  - repo: https://github.com/Bahjat/pre-commit-golang
    rev: v1.0.3
    hooks:
      - id: go-fmt-import
        name: Run "goimports" on go files
        args: ['-local', 'github.com/cmsgov/mint-app']
        files: .*\.go$
        exclude: >
          (?x)^(
            .*gen/.*|
            .*generated/.*|
            .*models_gen.go|
          )$

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.59.1
    hooks:
      - id: golangci-lint
        name: Lint go files
        args: ['--concurrency', '-1', '-v'] # Run with all CPUs

  - repo: local
    hooks:
    - id: dockerfilelint
      name: Lint Dockerfile
      entry: dockerfilelint
      language: node
      additional_dependencies: [dockerfilelint]
      files: Dockerfile.*

  - repo: local
    hooks:
      - id: eslint
        name: Run eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$
        exclude: (\.(d\.ts)$)|(\.storybook)|(serviceWorker\.ts)|(src/gql/gen/.*) # This should match the .eslintrc "ignorePatterns". Change one, change the other!

  - repo: local
    hooks:
      - id: tsc-check
        name: Run typescript check
        entry: scripts/pre-commit-tsc
        language: script
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false

  - repo: local
    hooks:
      - id: graphql-schema
        name: Lint GraphQL schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: "pkg/graph/schema/.*\\.graphql"
        pass_filenames: false

  - repo: local
    hooks:
      - id: check-code-generation
        name: Run GraphQL code generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: "pkg/graph/schema\\.graphql|pkg/graph/schema\\.resolvers\\.go|src/queries/.*\\.ts|src/queriesCodegen/.*\\.ts"
        pass_filenames: false

  - repo: https://github.com/awslabs/git-secrets
    rev: b9e96b3212fa06aea65964ff0d5cda84ce935f38
    hooks:
      - id: git-secrets
        name: Check for committed secrets
        entry: git-secrets --pre_commit_hook

  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 2.0.7
    hooks:
      - id: sqlfluff-fix
        exclude: ^migrations/
      - id: sqlfluff-lint
        exclude: ^migrations/

Revert UUIDArray in gqlgen.yml
  gqlgen.yml
Due: none

Update comments / code cleanup
  pkg/graph/resolvers/user_view_customization.go
  pkg/models/user_view_customization.go
  pkg/sqlqueries/user_view_customization.go
  pkg/storage/user_view_customizationStore.go
Due: none

Add UserAccount relation to UserViewCustomization model
  go.mod
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/user_view_customization.go
  pkg/graph/schema/types/user_view_customization.graphql
  pkg/models/user_view_customization.go
  src/gql/gen/graphql.ts
Due: tsc-check, graphql-schema

pleasing the linter
  src/views/Notifications/Settings/index.tsx
Due: eslint, tsc-check

Patrick's feedback
  src/i18n/en-US/notifications.ts
  src/views/Notifications/Settings/index.tsx
Due: eslint, tsc-check

addressing feedbaCK
  src/views/Notifications/Settings/index.tsx
Due: eslint, tsc-check

update snaps
  src/views/Notifications/Settings/__snapshots__/index.test.tsx.snap
Due: none

feat: update call to use a pointer
  pkg/translatedaudit/translated_audit_meta_data.go
Due: none

Added cypress testing for sorting and search
  cypress/e2e/changeHistory.js
  src/i18n/en-US/changeHistory.ts
  src/views/ModelPlan/ChangeHistory/components/ChangeRecord/index.tsx
Due: eslint, tsc-check

Fix read view CH link
  src/views/ModelPlan/TaskList/_components/TaskListStatus/index.tsx
Due: eslint, tsc-check

Enable auditing on table
  migrations/V160__Add_Customization_Table.sql
Due: none

Remove ability to update user_id. Add modified_by and modified_dts to update statement
  pkg/sqlqueries/SQL/user_view_customization/update.sql
Due: none

Re-add userId to UserViewCustomization type in gql
  pkg/graph/generated/generated.go
  pkg/graph/schema/types/user_view_customization.graphql
  src/gql/gen/graphql.ts
Due: tsc-check, graphql-schema

implemented Patricks suggestion and cleaned up comments
  src/views/Notifications/Settings/index.tsx
Due: eslint, tsc-check

Add some error checking for nil accounts
  pkg/authentication/principal.go
  pkg/graph/resolvers/user_view_customization.go
Due: none

Add case for Non CMS user
  pkg/graph/resolvers/user_view_customization.go
Due: none

[EASI-4416, EASI-4445] - Read-only -> Read-view changes (#1168)
  cypress/e2e/collaborator.spec.js
  cypress/e2e/notification.spec.js
  src/views/App/index.tsx
  src/views/ModelPlan/ReadOnly/index.tsx
Due: eslint, tsc-check

[EASI-4309] Front End work for the Dates Changed Notification (#1167)
  cypress/e2e/notification.spec.js
  src/gql/apolloGQL/Notifications/GetNotificationSettings.ts
  src/gql/apolloGQL/Notifications/GetNotifications.ts
  src/gql/apolloGQL/Notifications/UpdateNotificationSettings.ts
  src/gql/gen/graphql.ts
  src/i18n/en-US/notifications.ts
  src/views/Notifications/Home/_components/DatesChanged.tsx
  src/views/Notifications/Home/_components/IndividualNotification.tsx
  src/views/Notifications/Home/_components/_utils.tsx
  src/views/Notifications/Settings/__snapshots__/index.test.tsx.snap
  src/views/Notifications/Settings/index.test.tsx
  src/views/Notifications/Settings/index.tsx
Due: eslint, tsc-check

feat: adjust unit tests for cr tdl meta data to be nullable
  pkg/translatedaudit/translated_audit_meta_data.go
  pkg/translatedaudit/translated_audit_meta_data_test.go
Due: none

feat: add cypress test commands to dev script
  scripts/dev
Due: none

Updated snaps
  src/components/ShareExport/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ChangeHistory/components/BatchRecord/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ChangeHistory/components/ChangeRecord/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ChangeHistory/components/RecentChanges/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/GeneralCharacteristics/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/OpsEvalAndLearning/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/ParticipantsAndProviders/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/Payments/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/__snapshots__/index.test.tsx.snap
Due: none

Rename migration to avoid conflict with V160
  migrations/V160__Add_Customization_Table.sql
  migrations/V161__Add_Customization_Table.sql
Due: none

Began change history documentation
  .spelling
  docs/change_history.md
Due: none

Add pre-commit hook for removing often-conflicting fields in postman collections
  .pre-commit-config.yaml
  MINT.postman_collection.json
  scripts/edit_postman_json.sh
Due: none

feat: add more translated audit integration testing
  pkg/graph/resolvers/operational_solution_subtask_test.go
  pkg/graph/resolvers/resolver_test.go
  pkg/graph/resolvers/translated_audit_test.go
Due: none

[NOREF] Add pre-commit hook for removing often-conflicting fields in postman (#1179)
  .pre-commit-config.yaml
  MINT.postman_collection.json
  scripts/edit_postman_json.sh
Due: none

feat: integration test for when a subtask is deleted
  pkg/graph/resolvers/translated_audit_test.go
Due: none

feat: add tests to assert that cr and tdl will still translate if record is deleted before translating
  pkg/graph/resolvers/translated_audit_test.go
Due: none

feat: integration test for when a collaborator is deleted
  pkg/graph/resolvers/translated_audit_test.go
Due: none

chore: add note about issue with the current paradigm. We either need the collaborator name to be nullable, or we need to change the auditing paradigm to persist the user_id field always
  pkg/translatedaudit/translated_audit_meta_data.go
Due: none

feat: introduce nullable collaborator name to plan collaborator audit meta data
  pkg/translatedaudit/translated_audit_meta_data.go
Due: none

feat: add note about revisiting fk translation for plan document since it can be deleted
  pkg/translatedaudit/translate_foreign_key.go
Due: none

Added steps to create new table translation
  .spelling
  docs/change_history.md
Due: none

[EASI-4385] (Backend) User View Customization CRUD (#1170)
  MINT.postman_collection.json
  migrations/V161__Add_Customization_Table.sql
  pkg/authentication/principal.go
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/user_view_customization.go
  pkg/graph/resolvers/user_view_customization.resolvers.go
  pkg/graph/resolvers/user_view_customization_test.go
  pkg/graph/schema/types/user_view_customization.graphql
  pkg/models/user_view_customization.go
  pkg/sqlqueries/SQL/plan_collaborator/get_count_by_user_id.sql
  pkg/sqlqueries/SQL/user_view_customization/create.sql
  pkg/sqlqueries/SQL/user_view_customization/get_by_user_id.sql
  pkg/sqlqueries/SQL/user_view_customization/update.sql
  pkg/sqlqueries/plan_collaborator.go
  pkg/sqlqueries/user_view_customization.go
  pkg/storage/plan_collaboratorStore.go
  pkg/storage/truncate.go
  pkg/storage/user_view_customizationStore.go
  scripts/dev
  src/gql/gen/graphql.ts
Due: tsc-check, graphql-schema

Fixed incorrect Trans implementation, added support for hidden bullet list item
  src/i18n/en-US/helpAndKnowledge/helpAndKnowledge.ts
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/4Innovation/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/CMSBox/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/CMSQualtrics/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/CentralizedDataExchange/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/ChronicConditions/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/about.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/HIGLAS/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/OutlookMailbox/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/RMADA/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/SharedSystems/index.tsx
Due: eslint, tsc-check

Added shared systems updates
  src/i18n/en-US/helpAndKnowledge/helpAndKnowledge.ts
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/SharedSystems/index.tsx
Due: eslint, tsc-check

Fixed buggy help center functionality
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Modal/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/index.tsx
Due: eslint, tsc-check

Updated snaps
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/About/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Timeline/__snapshots__/index.test.tsx.snap
Due: none
