Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-cedar-swagger

Path conditions:
  dockerfilelint: any of: Dockerfile.*
  eslint: any of: \.(js|jsx|ts|tsx)$
  graphql-schema: any of: pkg/graph/schema.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts
  check-intake-schema-generation: any of: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json|pkg/cedar/intake/translation/constants\.go
  preprocess-cedar-swagger: any of: pkg/cedar/intake/cedar_intake.json|pkg/cedar/core/cedar_core.json

update snaps
  src/views/ModelPlan/ReadOnly/__snapshots__/index.test.tsx.snap
Due: none

sdfa
  src/views/ModelPlan/Discussions/DiscussionModalWrapper.tsx
  src/views/ModelPlan/Discussions/index.tsx
Due: eslint

add children and children props to component
  src/views/ModelPlan/Discussions/DiscussionModalWrapper.tsx
Due: eslint

temp work
  src/views/ModelPlan/ReadOnly/Discussions/index.tsx
Due: eslint

separating out the modal from the component
  src/views/ModelPlan/Discussions/index.tsx
Due: eslint

removed modelId from wrapper since it doesnt use it
  src/views/ModelPlan/Discussions/DiscussionModalWrapper.tsx
Due: eslint

temp work
  src/views/ModelPlan/Discussions/index.tsx
Due: eslint

Put Discussions Component as child of Modal Wrapper
  src/views/ModelPlan/ReadOnly/Discussions/index.tsx
Due: eslint

Wrapped Discussion component with DIscussionModalWrapper
  src/components/AskAQuestion/index.tsx
Due: eslint

clean up the code
  src/views/ModelPlan/Discussions/DiscussionModalWrapper.tsx
Due: eslint

clean up the code
  src/views/ModelPlan/Discussions/index.tsx
Due: eslint

clean up the code
  src/views/ModelPlan/ReadOnly/Discussions/index.tsx
Due: eslint

wrapped Discussino component with DiscussionModalWrapper
  src/views/ModelPlan/TaskList/index.tsx
Due: eslint

Add Update for Custom Needs and normal needs
  migrations/V25__Add_Operational_Need.sql
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/operational_need.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/storage/SQL/operational_need_get_by_model_plan_id_and_other_type.sql
  pkg/storage/SQL/operational_need_insert_or_update_other.sql
  pkg/storage/operational_needStore.go
  pkg/storage/operational_solutionStore.go
Due: graphql-schema, check-code-generation

remove need_type other and solution_type other from GQL enum
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
Due: graphql-schema, check-code-generation

feat: fixed environment vars for docker and updated email content for collaborator added to match Figma
  .envrc
  config/emailServiceConfig.yaml
  docker-compose.yml
  pkg/appconfig/config.go
  pkg/email/added_as_collaborator.go
  pkg/email/config.go
  pkg/email/templates/added_as_collaborator_body.template
  pkg/graph/resolvers/added_as_collaborator_email_test.go
  pkg/graph/resolvers/plan_collaborator.go
  pkg/graph/resolvers/plan_collaborator_test.go
  pkg/server/routes.go
  pkg/server/server.go
  pkg/shared/oddmail/email_service.go
  pkg/shared/oddmail/email_service_config.go
  pkg/shared/oddmail/email_service_mock.go
  pkg/shared/oddmail/go_simple_mail_service.go
  pkg/shared/oddmail/go_simple_mail_service_config.go
Due: none

Init help and knowledge work
  src/components/ArticleCard/__snapshots__/index.test.tsx.snap
  src/components/ArticleCard/index.scss
  src/components/ArticleCard/index.test.tsx
  src/components/ArticleCard/index.tsx
  src/components/NavigationBar/index.tsx
  src/i18n/en-US/helpAndKnowledge/Articles/modelPlanOverview.ts
  src/i18n/en-US/helpAndKnowledge/Articles/sampleModelPlan.ts
  src/i18n/en-US/helpAndKnowledge/helpAndKnowledge.ts
  src/i18n/en-US/index.ts
  src/i18n/en-US/modelPlan.ts
  src/views/App/index.tsx
  src/views/HelpAndKnowledge/Articles/ModelPlanOverview/index.tsx
  src/views/HelpAndKnowledge/Articles/SampleModelPlan/index.tsx
  src/views/HelpAndKnowledge/Articles/index.ts
  src/views/HelpAndKnowledge/home.tsx
  src/views/HelpAndKnowledge/index.tsx
  src/views/ModelPlan/StepsOverview/index.tsx
  src/views/ModelPlan/TaskList/_components/TaskListSideNav/index.tsx
Due: eslint

Update schema and migrations
  migrations/V10__Add_Plan_General_Characteristics.sql
  migrations/V11__Add_Plan_Beneficiaries.sql
  migrations/V12__Add_Plan_Participants_And_Providers.sql
  migrations/V13__Add_Plan_Ops_Eval_and_Learning.sql
  migrations/V15__Add_Plan_Payments.sql
  migrations/V3__Add_DataTypes.sql
  migrations/V6__Add_Plan_Basics.sql
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  src/types/graphql-global-types.ts
Due: eslint, graphql-schema, check-code-generation

wip
  src/views/ModelPlan/Discussions/index.tsx
  src/views/ModelPlan/ReadOnly/Discussions/index.tsx
Due: eslint

Added related articles and helpbreadcrumb
  src/components/ArticleCard/index.tsx
  src/components/HelpBreadcrumb/__snapshots__/index.test.tsx.snap
  src/components/HelpBreadcrumb/index.test.tsx
  src/components/HelpBreadcrumb/index.tsx
  src/components/RelatedArticles/__snapshots__/index.test.tsx.snap
  src/components/RelatedArticles/index.test.tsx
  src/components/RelatedArticles/index.tsx
  src/i18n/en-US/helpAndKnowledge/Articles/modelPlanOverview.ts
  src/i18n/en-US/helpAndKnowledge/Articles/sampleModelPlan.ts
  src/i18n/en-US/helpAndKnowledge/helpAndKnowledge.ts
  src/views/HelpAndKnowledge/Articles/ModelPlanOverview/index.tsx
  src/views/HelpAndKnowledge/Articles/index.ts
  src/views/HelpAndKnowledge/home.tsx
  src/views/HelpAndKnowledge/index.tsx
  src/views/ModelPlan/StepsOverview/index.tsx
  src/views/ModelPlan/TaskList/_components/TaskListSideNav/index.tsx
Due: eslint

EASI 2295 - Content revisions for task list and process list (#257)
  cypress/e2e/modelPlan.spec.js
  src/components/AskAQuestion/index.test.tsx
  src/i18n/en-US/draftModelPlan/basics.ts
  src/i18n/en-US/draftModelPlan/discussions.ts
  src/i18n/en-US/home.ts
  src/i18n/en-US/modelPlan.ts
  src/i18n/en-US/modelPlanTaskList.ts
  src/views/ModelPlan/ReadOnly/ModelBasics/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/StepsOverview/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/StepsOverview/index.tsx
  src/views/ModelPlan/TaskList/Basics/Milestones/index.tsx
  src/views/ModelPlan/TaskList/Basics/Overview/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Basics/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Basics/index.tsx
  src/views/ModelPlan/TaskList/index.tsx
Due: eslint

fix: updated added as collaborator unit test
  pkg/graph/resolvers/added_as_collaborator_email_test.go
Due: none

fix: cleaned mailto link so it maps against the specific email rather than the entire line
  pkg/email/templates/added_as_collaborator_body.template
Due: none

Clean up merge
  src/components/ArticleCard/index.tsx
  src/i18n/en-US/helpAndKnowledge/Articles/modelPlanOverview.ts
  src/views/HelpAndKnowledge/Articles/ModelPlanOverview/index.tsx
Due: eslint

fix: removed constraint to GetConfig number of calls since we're not concerned with this
  pkg/graph/resolvers/added_as_collaborator_email_test.go
Due: none

Fixed sticky margin on readonly
  src/views/ModelPlan/ReadOnly/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/index.scss
  src/views/ModelPlan/ReadOnly/index.tsx
Due: eslint

EASI-2398 - Download single model plan CSV (#258)
  src/i18n/en-US/home.ts
  src/queries/GetAllSingleModelPlan.ts
  src/queries/types/GetAllSingleModelData.ts
  src/utils/export/CsvExportLink.tsx
  src/views/ModelPlan/TaskList/_components/TaskListSideNav/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/_components/TaskListSideNav/index.tsx
Due: eslint, check-code-generation

Updated snaps
  src/views/ModelPlan/TaskList/_components/TaskListSideNav/__snapshots__/index.test.tsx.snap
Due: none

add ready_for_clearance_by
  migrations/V10__Add_Plan_General_Characteristics.sql
  migrations/V11__Add_Plan_Beneficiaries.sql
  migrations/V12__Add_Plan_Participants_And_Providers.sql
  migrations/V13__Add_Plan_Ops_Eval_and_Learning.sql
  migrations/V15__Add_Plan_Payments.sql
  migrations/V6__Add_Plan_Basics.sql
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/audit_change.go
Due: graphql-schema, check-code-generation

code clean up
  src/views/ModelPlan/ReadOnly/Discussions/index.tsx
Due: eslint

Add isCollaborator in query and type
  src/queries/Discussions/GetModelPlanDiscussions.ts
  src/queries/Discussions/types/GetModelPlanDiscussions.ts
Due: eslint, check-code-generation

Update SQL
  pkg/storage/SQL/plan_basics_create.sql
  pkg/storage/SQL/plan_basics_get_by_id.sql
  pkg/storage/SQL/plan_basics_get_by_model_plan_id.sql
  pkg/storage/SQL/plan_basics_update.sql
  pkg/storage/SQL/plan_beneficiaries_create.sql
  pkg/storage/SQL/plan_beneficiaries_get_by_id.sql
  pkg/storage/SQL/plan_beneficiaries_get_by_model_plan_id.sql
  pkg/storage/SQL/plan_beneficiaries_update.sql
  pkg/storage/SQL/plan_general_characteristics_create.sql
  pkg/storage/SQL/plan_general_characteristics_get_by_id.sql
  pkg/storage/SQL/plan_general_characteristics_get_by_model_plan_id.sql
  pkg/storage/SQL/plan_general_characteristics_update.sql
  pkg/storage/SQL/plan_ops_eval_and_learning_create.sql
  pkg/storage/SQL/plan_ops_eval_and_learning_get_by_id.sql
  pkg/storage/SQL/plan_ops_eval_and_learning_get_by_model_plan_id.sql
  pkg/storage/SQL/plan_ops_eval_and_learning_update.sql
  pkg/storage/SQL/plan_participants_and_providers_create.sql
  pkg/storage/SQL/plan_participants_and_providers_get_by_id.sql
  pkg/storage/SQL/plan_participants_and_providers_get_by_model_plan_id.sql
  pkg/storage/SQL/plan_participants_and_providers_update.sql
  pkg/storage/SQL/plan_payments_create.sql
  pkg/storage/SQL/plan_payments_get_by_id.sql
  pkg/storage/SQL/plan_payments_get_by_model_plan_id.sql
  pkg/storage/SQL/plan_payments_update.sql
Due: none

copy change
  src/i18n/en-US/draftModelPlan/discussions.ts
Due: eslint

more copy updates
  src/i18n/en-US/draftModelPlan/discussions.ts
Due: eslint

Conditional renders for Collaborators and Assessment Users
  src/views/ModelPlan/Discussions/index.tsx
Due: eslint

Read Only Page specific conditional renders
  src/views/ModelPlan/Discussions/index.tsx
Due: eslint

wip
  src/i18n/en-US/draftModelPlan/discussions.ts
  src/views/ModelPlan/Discussions/index.tsx
Due: eslint

update base_task_list_secition.go
  pkg/models/base_task_list_section.go
  pkg/models/shared_enums.go
Due: none

non Editor copy updates
  src/i18n/en-US/draftModelPlan/discussions.ts
Due: eslint

remove dup copy
  src/i18n/en-US/draftModelPlan/discussions.ts
Due: eslint
