Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-cedar-swagger

dockerfilelint:
  name: Lint Dockerfile
  entry: dockerfilelint
  language: node
  additional_dependencies:
  - dockerfilelint

eslint:
  name: Run eslint
  entry: scripts/pre-commit-eslint
  language: script

graphql-schema:
  name: Lint GraphQL schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script

check-code-generation:
  name: Run GraphQL code generation
  entry: scripts/pre-commit-check-code-generation
  language: script
  pass_filenames: false

check-intake-schema-generation:
  name: Generate CEDAR Intake schema
  entry: scripts/gen_intake_schema
  language: script
  pass_filenames: false

preprocess-cedar-swagger:
  name: Generate CEDAR Intake client
  description: Re-generates CEDAR Intake and CEDAR Core clients when either of the swagger files change. This will re-generate both clients if either file changes.
  entry: scripts/generate_cedar_clients
  language: script
  pass_filenames: false

import that query
  src/views/ModelPlan/ReadOnly/ModelBasics/index.tsx
Due: eslint

start on tests
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/plan_cr_tdl.go
  pkg/graph/resolvers/plan_cr_tdl_test.go
  pkg/graph/resolvers/resolver_test.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/storage/truncate.go
  scripts/dev
Due: graphql-schema, check-code-generation

update tests
  pkg/graph/resolvers/plan_cr_tdl.go
  pkg/graph/resolvers/plan_cr_tdl_test.go
  pkg/storage/SQL/plan_cr_tdl_create.sql
Due: none

add no answer
  src/i18n/en-US/draftModelPlan/basics.ts
Due: eslint

translate model type
  src/utils/modelPlan.ts
Due: eslint

add spacing
  src/views/ModelPlan/ReadOnly/_components/ReadOnlySection/index.tsx
Due: eslint

wip
  src/views/ModelPlan/ReadOnly/ModelBasics/index.tsx
Due: eslint

Cleanup
  pkg/graph/schema.resolvers.go
Due: check-code-generation

stricter types
  src/views/ModelPlan/ReadOnly/Table/index.tsx
Due: eslint

Revert "stricter types"
  src/views/ModelPlan/ReadOnly/Table/index.tsx
Due: eslint

allow copy to take in undefined and null
  src/views/ModelPlan/ReadOnly/_components/ReadOnlySection/index.tsx
Due: eslint

work
  src/views/ModelPlan/ReadOnly/ModelBasics/index.tsx
Due: eslint

more work
  src/views/ModelPlan/ReadOnly/ModelBasics/index.tsx
Due: eslint

[EASI-2236] FE work for Model Tab View and Table (#201)
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/model_plan.go
  pkg/graph/resolvers/model_plan_test.go
  pkg/graph/resolvers/plan_collaborator.go
  pkg/graph/resolvers/plan_collaborator_test.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/storage/SQL/model_plan_collection.sql
  pkg/storage/SQL/model_plan_collection_by_user.sql
  pkg/storage/model_planStore.go
  src/components/TableResults/index.tsx
  src/i18n/en-US/home.ts
  src/i18n/en-US/index.ts
  src/i18n/en-US/readOnly/readOnlyModelPlan.ts
  src/queries/ReadOnly/GetAllModelPlans.ts
  src/queries/ReadOnly/types/GetAllModelPlans.ts
  src/utils/tableSort.tsx
  src/views/App/index.tsx
  src/views/Home/index.tsx
  src/views/ModelPlan/ModelPlanOverview/index.test.tsx
  src/views/ModelPlan/ModelPlanOverview/index.tsx
  src/views/ModelPlan/ReadOnly/Table/index.tsx
Due: eslint, graphql-schema, check-code-generation

wip
  src/views/ModelPlan/ReadOnly/_components/ReadOnlySection/index.tsx
Due: eslint

more spliting of code
  src/views/ModelPlan/ReadOnly/_components/ReadOnlySection/index.tsx
Due: eslint

notes
  src/views/ModelPlan/ReadOnly/_components/ReadOnlySection/index.tsx
Due: eslint

Fix cypress tests and dev data to match up
  cmd/dbseed/main.go
  cmd/dbseed/resolver_wrappers.go
  cypress/e2e/characteristics.spec.js
  cypress/e2e/webSocket.spec.js
  cypress/plugins/index.js
  cypress/support/e2e.js
Due: eslint

first attempt for JSONB field column
  migrations/V19__Add_Audit_Tables.sql
  migrations/V20__Add_Audit_Trigger.sql
Due: none

Allow seeding model plans with a different user. Add comments to clarify how resolver wrappers work
  cmd/dbseed/main.go
  cmd/dbseed/resolver_wrappers.go
Due: none

add seed data
  scripts/data/local-db.sql
Due: none

Remove @cypress/instrument-cra
  cypress/plugins/index.js
  package.json
  yarn.lock
Due: eslint

change schema, add tests
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/plan_cr_tdl_test.go
  pkg/graph/schema.graphql
Due: graphql-schema, check-code-generation

Favorite Bookmark card and table initial layout
  src/components/FavoriteCard/__snapshots__/index.test.tsx.snap
  src/components/FavoriteCard/index.scss
  src/components/FavoriteCard/index.test.tsx
  src/components/FavoriteCard/index.tsx
  src/i18n/en-US/modelPlan.ts
  src/queries/Favorite/AddPlanFavorite.ts
  src/queries/Favorite/DeletePlanFavorite.ts
  src/queries/Favorite/types/AddPlanFavorite.ts
  src/queries/Favorite/types/DeletePlanFavorite.ts
  src/queries/ReadOnly/GetAllModelPlans.ts
  src/queries/ReadOnly/types/GetAllModelPlans.ts
  src/views/ModelPlan/ModelPlanOverview/index.tsx
  src/views/ModelPlan/ReadOnly/Table/index.tsx
Due: eslint, check-code-generation

Bookmark UI adjustments
  src/components/FavoriteCard/index.scss
  src/components/FavoriteCard/index.tsx
  src/views/ModelPlan/ModelPlanOverview/index.tsx
  src/views/ModelPlan/ReadOnly/index.tsx
  src/views/ModelPlan/TaskList/_components/TaskListStatus/index.tsx
  src/views/ModelPlan/TaskList/index.tsx
Due: eslint

Add styles
  src/views/ModelPlan/ReadOnly/ModelBasics/index.scss
  src/views/ModelPlan/ReadOnly/ModelBasics/index.tsx
Due: eslint

adjust font sizes
  src/views/ModelPlan/ReadOnly/_components/ReadOnlySection/index.tsx
Due: eslint

Change optionalComments to note
  migrations/V19__Add_Plan_Cr_Tdl.sql
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/resolvers/plan_cr_tdl.go
  pkg/graph/resolvers/plan_cr_tdl_test.go
  pkg/graph/resolvers/resolver_test.go
  pkg/graph/schema.graphql
  pkg/models/plan_cr_tdl.go
  pkg/storage/SQL/plan_cr_tdl_collection_by_model_plan_id.sql
  pkg/storage/SQL/plan_cr_tdl_create.sql
  pkg/storage/SQL/plan_cr_tdl_delete.sql
  pkg/storage/SQL/plan_cr_tdl_get.sql
  pkg/storage/SQL/plan_cr_tdl_update.sql
  scripts/data/local-db.sql
Due: graphql-schema, check-code-generation

add copy
  src/i18n/en-US/draftModelPlan/basics.ts
Due: eslint

add timeline
  src/views/ModelPlan/ReadOnly/ModelBasics/index.tsx
Due: eslint

remove comment
  src/views/ModelPlan/ReadOnly/ModelBasics/index.tsx
Due: eslint

add responsive styles
  src/views/ModelPlan/ReadOnly/ModelBasics/index.tsx
Due: eslint

Adding keys
  src/views/ModelPlan/ReadOnly/_components/ReadOnlySection/index.tsx
Due: eslint

CMMI and CMS Component to be side by side
  src/views/ModelPlan/ReadOnly/ModelBasics/index.tsx
Due: eslint

comment out previous name
  src/views/ModelPlan/ReadOnly/ModelBasics/index.tsx
Due: eslint

Separate out the Status Tag
  src/views/ModelPlan/TaskList/_components/TaskListItem/index.tsx
Due: eslint

Importing TaskListStatusTag
  src/views/ModelPlan/ReadOnly/ModelBasics/index.tsx
Due: eslint

remove coment and undefined props
  src/views/ModelPlan/ReadOnly/_components/ReadOnlySection/index.tsx
Due: eslint

Path conditions:
  dockerfilelint: any of: Dockerfile.*
  eslint: any of: \.(js|jsx|ts|tsx)$
  graphql-schema: any of: pkg/graph/schema.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts
  check-intake-schema-generation: any of: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json|pkg/cedar/intake/translation/constants\.go
  preprocess-cedar-swagger: any of: pkg/cedar/intake/cedar_intake.json|pkg/cedar/core/cedar_core.json
