Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, tsc-check, graphql-schema, check-code-generation

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-yaml
        name: Check YAML formatting
      - id: detect-private-key
        name: Check for private keys
      - id: end-of-file-fixer
        files: \.(sql|scss|md|js|ts|tsx|go|yml|yaml)$
        name: Add newlines to ends of files
        exclude: src/gql/gen/.* # Ignore generated FE files

  - repo: https://github.com/detailyang/pre-commit-shell
    rev: v1.0.6
    hooks:
      - id: shell-lint
        name: Lint shell files

  - repo: https://github.com/trussworks/pre-commit-hooks
    rev: v1.1.1
    hooks:
      - id: mdspell
        name: Spellcheck Markdown files
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor
          )$

  - repo: https://github.com/Bahjat/pre-commit-golang
    rev: v1.0.3
    hooks:
      - id: go-fmt-import
        name: Run "goimports" on go files
        args: ['-local', 'github.com/cmsgov/mint-app']
        files: .*\.go$
        exclude: >
          (?x)^(
            .*gen/.*|
            .*generated/.*|
            .*models_gen.go|
          )$

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.59.1
    hooks:
      - id: golangci-lint
        name: Lint go files
        args: ['--concurrency', '-1', '-v'] # Run with all CPUs

  - repo: local
    hooks:
    - id: dockerfilelint
      name: Lint Dockerfile
      entry: dockerfilelint
      language: node
      additional_dependencies: [dockerfilelint]
      files: Dockerfile.*

  - repo: local
    hooks:
      - id: eslint
        name: Run eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$
        exclude: (\.(d\.ts)$)|(\.storybook)|(serviceWorker\.ts)|(src/gql/gen/.*) # This should match the .eslintrc "ignorePatterns". Change one, change the other!

  - repo: local
    hooks:
      - id: tsc-check
        name: Run typescript check
        entry: scripts/pre-commit-tsc
        language: script
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false

  - repo: local
    hooks:
      - id: graphql-schema
        name: Lint GraphQL schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: "pkg/graph/schema/.*\\.graphql"
        pass_filenames: false

  - repo: local
    hooks:
      - id: check-code-generation
        name: Run GraphQL code generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: "pkg/graph/schema\\.graphql|pkg/graph/schema\\.resolvers\\.go|src/queries/.*\\.ts|src/queriesCodegen/.*\\.ts"
        pass_filenames: false

  - repo: https://github.com/awslabs/git-secrets
    rev: b9e96b3212fa06aea65964ff0d5cda84ce935f38
    hooks:
      - id: git-secrets
        name: Check for committed secrets
        entry: git-secrets --pre_commit_hook

  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 2.0.7
    hooks:
      - id: sqlfluff-fix
        exclude: ^migrations/
      - id: sqlfluff-lint
        exclude: ^migrations/

Fixed migration names
  migrations/V164__Update_Audit_Config_For_Table_Insert.sql
  migrations/V165__Table_Name_Typing.sql
  migrations/V166__Translated_Audit.sql
  migrations/V167__Translated_Audit_Queue.sql
  migrations/V168__Audit_Job_Writes_To_Translated_Audit_Queue.sql
Due: none

add parent child relationship
  src/i18n/en-US/modelPlan/participantsAndProviders.ts
  src/types/translation.ts
Due: eslint, tsc-check

Ran export
  mappings/translation/operational_solution.json
Due: none

fix: add group by clause to the model plan get by operational solution key data loader
  pkg/sqlqueries/SQL/model_plan/get_by_operational_solution_key.sql
Due: none

updates snaps
  src/components/ShareExport/__snapshots__/index.test.tsx.snap
  src/views/HomeNew/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/GeneralCharacteristics/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/ParticipantsAndProviders/__snapshots__/index.test.tsx.snap
Due: none

changed migration name due to conflict
  migrations/V164__Add_New_Questions_For_PBG.sql
Due: none

wip: backend anticipated status evaluation
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/calc_model_plan_anticipated_status.go
  pkg/graph/resolvers/model_plan.go
  pkg/graph/resolvers/model_plan.resolvers.go
  pkg/graph/resolvers/status_evaluation_strategies.go
  pkg/graph/schema/types/model_plan.graphql
  pkg/models/model_plan.go
  src/gql/gen/graphql.ts
Due: tsc-check, graphql-schema

Fixed 3-6 of qa
  cypress/e2e/changeHistory.js
  mappings/translation/operational_solution.json
  mappings/translation/plan_document.json
  mappings/translation/plan_general_characteristics.json
  mappings/translation/plan_participants_and_providers.json
  src/i18n/en-US/changeHistory.ts
  src/i18n/en-US/modelPlan/documents.ts
  src/i18n/en-US/modelPlan/solutions.ts
  src/views/ModelPlan/ChangeHistory/components/ChangeRecord/index.tsx
Due: eslint, tsc-check

chore: removed empty file
  pkg/graph/resolvers/calc_model_plan_anticipated_status.go
  pkg/graph/resolvers/model_plan.go
Due: none

Fixed more of qa
  mappings/translation/plan_general_characteristics.json
  src/i18n/en-US/changeHistory.ts
  src/i18n/en-US/modelPlan/generalCharacteristics.ts
  src/views/ModelPlan/ChangeHistory/components/BatchRecord/index.tsx
  src/views/ModelPlan/ChangeHistory/components/ChangeRecord/index.tsx
Due: eslint, tsc-check

feat: added unit tests
  pkg/graph/resolvers/status_evaluation_strategies_test.go
Due: none

Fixed more of qa
  src/stylesheets/custom.scss
  src/views/ModelPlan/ChangeHistory/components/ChangeRecord/index.scss
  src/views/ModelPlan/ChangeHistory/components/ChangeRecord/index.tsx
  src/views/ModelPlan/ChangeHistory/components/RecentChanges/index.scss
  src/views/ModelPlan/ChangeHistory/components/RecentChanges/index.tsx
Due: eslint, tsc-check

fix: context passthrough
  pkg/graph/resolvers/model_plan.go
  pkg/graph/resolvers/model_plan.resolvers.go
Due: none

chore: updated postman collection
  MINT.postman_collection.json
Due: none

Fixed more of qa
  src/views/ModelPlan/ChangeHistory/components/BatchRecord/index.tsx
Due: eslint, tsc-check

Addressed qa doc new findings
  src/components/NavigationBar/index.tsx
  src/gql/apolloGQL/ITSolutions/GetModelsBySolution.ts
  src/gql/gen/graphql.ts
  src/stylesheets/custom.scss
  src/views/HomeNew/Settings/__snapshots__/index.test.tsx.snap
  src/views/HomeNew/Settings/index.tsx
  src/views/HomeNew/__snapshots__/index.test.tsx.snap
  src/views/HomeNew/components/ModelsBySolutions/card.tsx
  src/views/HomeNew/index.tsx
  src/views/ModelPlan/HomeTable/index.scss
  src/views/ModelPlan/HomeTable/index.tsx
Due: eslint, tsc-check

Fixed document verbiage
  src/views/ModelPlan/ChangeHistory/components/ChangeRecord/index.tsx
  src/views/ModelPlan/ChangeHistory/util.tsx
Due: eslint, tsc-check

fix: replace operational solution with possible operational solution (since the desire is not to return duplicate model plans)
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/model_plan_and_possible_operational_solution.go
  pkg/graph/resolvers/model_plan_and_possible_operational_solution.resolvers.go
  pkg/graph/resolvers/model_plan_and_possible_operational_solution_test.go
  pkg/graph/resolvers/operational_solution_and_model_plan.resolvers.go
  pkg/graph/schema/types/model_plan_and_possible_operational_solution.graphql
  pkg/graph/schema/types/operational_solution_and_model_plan.graphql
  pkg/models/model_plan_and_operational_solution.go
  pkg/models/model_plan_and_possible_operational_solution.go
  pkg/sqlqueries/SQL/model_plan/get_by_operational_solution_key.sql
  pkg/storage/model_planStore.go
  src/gql/gen/graphql.ts
Due: tsc-check, graphql-schema

add note to add a data loader to Primary Contact field
  pkg/graph/resolvers/possible_operational_solution.resolvers.go
Due: none

Implemented Tress pagination
  src/views/ModelPlan/ChangeHistory/index.scss
  src/views/ModelPlan/ChangeHistory/index.tsx
Due: eslint, tsc-check

Removed unneeded state
  src/views/ModelPlan/ChangeHistory/components/Search/index.tsx
  src/views/ModelPlan/ChangeHistory/index.tsx
Due: eslint, tsc-check

Updated datatestid
  src/views/HomeNew/Settings/settingsOrder.tsx
Due: eslint, tsc-check

Reverted few problem routes
  src/views/ModelPlan/CRTDL/index.tsx
  src/views/ModelPlan/NewPlan/index.tsx
  src/views/ModelPlan/TaskList/Basics/index.tsx
Due: eslint, tsc-check

Cypress test tweak
  cypress/e2e/archive.spec.js
Due: eslint, tsc-check

fix: added support for zero time
  pkg/graph/resolvers/model_plan.go
  pkg/graph/resolvers/status_evaluation_strategies.go
  pkg/graph/resolvers/status_evaluation_strategies_test.go
  pkg/shared/utilitytime/checks.go
Due: none

Updared recent card to reflect actual changes
  src/views/ModelPlan/ChangeHistory/components/ChangeRecord/index.tsx
  src/views/ModelPlan/ChangeHistory/components/RecentChanges/index.tsx
Due: eslint, tsc-check

feat: add possible operational solution by key loader and unit test. Using type arry instead of json string to facilitate transition to new data loader library
  pkg/graph/resolvers/model_plan_and_possible_operational_solution.resolvers.go
  pkg/graph/resolvers/possible_operational_solution.go
  pkg/graph/resolvers/possible_operational_solution_test.go
  pkg/sqlqueries/SQL/possible_operational_solution/get_by_keys.sql
  pkg/sqlqueries/possible_operational_solution.go
  pkg/storage/loaders/data_loaders.go
  pkg/storage/loaders/key_args.go
  pkg/storage/loaders/possible_operational_solution_loader.go
  pkg/storage/possible_operational_solutionStore.go
Due: none

feat: add unit test to ensure there is not a duplicate model plan returned when a model plan uses a solution more than one time
  pkg/graph/resolvers/model_plan_and_possible_operational_solution_test.go
Due: none

feat: correct context being called to get test principal in test suite, so there is not many issues of no loger on context provided
  pkg/graph/resolvers/resolver_test.go
Due: none

Added action text util, unit test, refactored change type, updated query function
  src/views/ModelPlan/ChangeHistory/components/ChangeRecord/index.tsx
  src/views/ModelPlan/ChangeHistory/util.test.tsx
  src/views/ModelPlan/ChangeHistory/util.tsx
Due: eslint, tsc-check

[NOREF] QA homepage fixes (#1249)
  cypress/e2e/archive.spec.js
  src/components/NavigationBar/index.tsx
  src/gql/apolloGQL/ITSolutions/GetModelsBySolution.ts
  src/gql/gen/graphql.ts
  src/i18n/en-US/home/customHome.ts
  src/i18n/en-US/home/settings.ts
  src/stylesheets/custom.scss
  src/views/HomeNew/Settings/__snapshots__/index.test.tsx.snap
  src/views/HomeNew/Settings/index.tsx
  src/views/HomeNew/Settings/settingsOrder.tsx
  src/views/HomeNew/__snapshots__/index.test.tsx.snap
  src/views/HomeNew/components/ModelsBySolutions/__snapshots__/index.test.tsx.snap
  src/views/HomeNew/components/ModelsBySolutions/banner.tsx
  src/views/HomeNew/components/ModelsBySolutions/card.tsx
  src/views/HomeNew/components/ModelsBySolutions/index.scss
  src/views/HomeNew/index.scss
  src/views/HomeNew/index.tsx
  src/views/ModelPlan/HomeTable/index.scss
  src/views/ModelPlan/HomeTable/index.tsx
Due: eslint, tsc-check

feat: update postman collection to reflect new types
  MINT.postman_collection.json
Due: none

Added utils for getting header and action text
  src/views/ModelPlan/ChangeHistory/components/ChangeRecord/index.tsx
  src/views/ModelPlan/ChangeHistory/util.tsx
Due: eslint, tsc-check

Added unit test
  cypress/e2e/changeHistory.js
  src/views/ModelPlan/ChangeHistory/util.test.tsx
Due: eslint, tsc-check

Removed unneeded import
  src/views/ModelPlan/ChangeHistory/components/ChangeRecord/index.tsx
Due: eslint, tsc-check

Updated snap
  src/views/HomeNew/Settings/__snapshots__/index.test.tsx.snap
Due: none

Updated cypress
  cypress/e2e/changeHistory.js
Due: eslint, tsc-check

Added unit test for getActionText
  src/views/ModelPlan/ChangeHistory/util.test.tsx
Due: eslint, tsc-check

Added util comment
  src/views/ModelPlan/ChangeHistory/util.tsx
Due: eslint, tsc-check

[MINT-2650]/model by solution bug fix (#1251)
  MINT.postman_collection.json
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/model_plan_and_possible_operational_solution.go
  pkg/graph/resolvers/model_plan_and_possible_operational_solution.resolvers.go
  pkg/graph/resolvers/model_plan_and_possible_operational_solution_test.go
  pkg/graph/resolvers/operational_solution_and_model_plan.resolvers.go
  pkg/graph/resolvers/possible_operational_solution.go
  pkg/graph/resolvers/possible_operational_solution.resolvers.go
  pkg/graph/resolvers/possible_operational_solution_test.go
  pkg/graph/resolvers/resolver_test.go
  pkg/graph/schema/types/model_plan_and_possible_operational_solution.graphql
  pkg/graph/schema/types/operational_solution_and_model_plan.graphql
  pkg/models/model_plan_and_operational_solution.go
  pkg/models/model_plan_and_possible_operational_solution.go
  pkg/sqlqueries/SQL/model_plan/get_by_operational_solution_key.sql
  pkg/sqlqueries/SQL/possible_operational_solution/get_by_keys.sql
  pkg/sqlqueries/possible_operational_solution.go
  pkg/storage/loaders/data_loaders.go
  pkg/storage/loaders/key_args.go
  pkg/storage/loaders/possible_operational_solution_loader.go
  pkg/storage/model_planStore.go
  pkg/storage/possible_operational_solutionStore.go
  src/gql/gen/graphql.ts
Due: tsc-check, graphql-schema
