Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, tsc-check, graphql-schema, check-code-generation

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch
        args: [
          '--pattern', '^(?!((main)|(feature\/EASI-\d{1,5})|((EASI-\d{1,5}|NOREF|dependabot)\/[a-zA-Z0-9\-\._/]+))$).*',
          '--branch', '' # Adding this to remove the default protection on `main` so that CI checks can pass
        ]
        name: Enforce branch naming patterns
        description: Enforces branch naming policy. Allowed branch patterns are 'EASI-#', 'EASI-#/*', 'feature/EASI-#', 'NOREF/*', and 'dependabot/*'. A feature branch like feature/EASI-2020 would have branches like EASI-2020/frontend and EASI-2020/backend merge into it.
      - id: check-yaml
        name: Check YAML formatting
      - id: detect-private-key
        name: Check for private keys
      - id: end-of-file-fixer
        files: \.(sql|scss|md|js|ts|tsx|go|yml|yaml)$
        name: Add newlines to ends of files

  - repo: https://github.com/detailyang/pre-commit-shell
    rev: v1.0.6
    hooks:
      - id: shell-lint
        name: Lint shell files

  - repo: https://github.com/trussworks/pre-commit-hooks
    rev: v1.1.1
    hooks:
      - id: mdspell
        name: Spellcheck Markdown files
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor
          )$

  - repo: https://github.com/Bahjat/pre-commit-golang
    rev: v1.0.1
    hooks:
      - id: go-fmt-import
        name: Run "goimports" on go files
        args: ['-local', 'github.com/cmsgov/mint-app']
        files: .*\.go$
        exclude: >
          (?x)^(
            .*gen/.*|
            .*generated/.*|
            .*models_gen.go|
          )$

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.48.0
    hooks:
      - id: golangci-lint
        name: Lint go files
        args: ['--concurrency', '-1'] # Run with all CPUs

  - repo: local
    hooks:
    - id: dockerfilelint
      name: Lint Dockerfile
      entry: dockerfilelint
      language: node
      additional_dependencies: [dockerfilelint]
      files: Dockerfile.*

  - repo: local
    hooks:
      - id: eslint
        name: Run eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$

  - repo: local
    hooks:
      - id: tsc-check
        name: Run typescript check
        entry: scripts/pre-commit-tsc
        language: script
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false

  - repo: local
    hooks:
      - id: graphql-schema
        name: Lint GraphQL schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: pkg/graph/schema.graphql

  - repo: local
    hooks:
      - id: check-code-generation
        name: Run GraphQL code generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: "pkg/graph/schema\\.graphql|pkg/graph/schema\\.resolvers\\.go|src/queries/.*\\.ts"
        pass_filenames: false

  - repo: https://github.com/awslabs/git-secrets
    rev: b9e96b3212fa06aea65964ff0d5cda84ce935f38
    hooks:
      - id: git-secrets
        name: Check for committed secrets
        entry: git-secrets --pre_commit_hook

  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 1.2.1
    hooks:
      - id: sqlfluff-fix
        exclude: ^scripts/data/
      - id: sqlfluff-lint
        exclude: ^scripts/data/

EASI-2993 Create mint-logstash image (#586)
  .github/workflows/build_application_images.yml
  .spelling
  docker-compose.yml
  docs/logstash.md
  logstash/Dockerfile.logstash
  logstash/config/ingest_change_table.sql
  logstash/config/logstash.conf
  logstash/connectors/postgresql-42.6.0.jar
  logstash/logstash_entrypoint.sh
Due: dockerfilelint

Began architecture PoC
  src/i18n/en-US/index.ts
  src/i18n/en-US/modelPlan/plan.tsx
  src/i18n/en-US/modelPlan/planBasics.tsx
  src/types/translation.ts
  src/utils/translation.tsx
  src/views/ModelPlan/TaskList/Basics/index.tsx
Due: eslint, tsc-check

Fixing handling context canceled errors
  pkg/oktaapi/client_wrapper.go
Due: none

PoC for model basics
  src/i18n/en-US/index.ts
  src/i18n/en-US/modelPlan/planBasics.tsx
Due: eslint, tsc-check

conditional render body content
  src/views/ModelPlan/ReadOnly/index.tsx
Due: eslint, tsc-check

Continued architecture work
  src/i18n.ts
  src/i18n/en-US/index.ts
  src/i18n/en-US/modelPlan/plan.tsx
  src/i18n/en-US/modelPlan/planBasics.tsx
  src/types/translation.ts
  src/utils/translation.tsx
  src/views/ModelPlan/TaskList/Basics/index.tsx
Due: eslint, tsc-check

Added custom hook for get plan translation object
  src/hooks/usePlanTranslation.tsx
  src/i18n.ts
  src/types/translation.ts
  src/views/ModelPlan/TaskList/Basics/index.tsx
Due: eslint, tsc-check

add FilterView/BodyContent
  src/i18n/en-US/readOnly/filterView.ts
  src/views/ModelPlan/ReadOnly/_components/FilterView/BodyContent/index.tsx
Due: eslint, tsc-check

Added PoC for overview
  src/i18n/en-US/modelPlan/planBasics.tsx
  src/types/translation.ts
  src/views/ModelPlan/TaskList/Basics/Overview/index.tsx
Due: eslint, tsc-check

Lint alignment
  src/types/translation.ts
Due: eslint, tsc-check

eslint mod
  src/hooks/usePlanTranslation.tsx
  src/types/translation.ts
Due: eslint, tsc-check

Add new team grouping
  src/views/ModelPlan/ReadOnly/Team/index.tsx
  src/views/ModelPlan/ReadOnly/_components/FilterView/BodyContent/index.tsx
  src/views/ModelPlan/ReadOnly/index.tsx
Due: eslint, tsc-check

feat: POC with returning a typed name of table name
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/models/change_table_record.go
  pkg/models/change_table_record_test.go
  pkg/models/gql_table_name.go
Due: graphql-schema, check-code-generation

simplify the model team filtered view
  src/views/ModelPlan/ReadOnly/Team/index.tsx
Due: eslint, tsc-check

feat: make gqlTable name enums camel case
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/models/change_table_record.go
  pkg/models/gql_table_name.go
Due: graphql-schema, check-code-generation

getting the margins correct
  src/views/ModelPlan/ReadOnly/Team/index.tsx
Due: eslint, tsc-check

update comment
  src/views/ModelPlan/ReadOnly/Team/index.tsx
Due: eslint, tsc-check

conditinall render status based on isViewingFilteredView
  src/views/ModelPlan/ReadOnly/ModelBasics/index.tsx
  src/views/ModelPlan/ReadOnly/_components/FilterView/BodyContent/index.tsx
Due: eslint, tsc-check

Added milestones as part of PoC
  src/hooks/usePlanTranslation.tsx
  src/i18n/en-US/index.ts
  src/i18n/en-US/modelPlan/plan.tsx
  src/i18n/en-US/modelPlan/planBasics.tsx
  src/types/translation.ts
  src/utils/translation.tsx
  src/views/ModelPlan/TaskList/Basics/Milestones/index.tsx
Due: eslint, tsc-check

chore: migrated model abbreviation to model plan
  migrations/V94__Update_General_Characteristics_AMSModelID_DemoCode.sql
  migrations/V95__Update_Model_Plan_Abbreviation.sql
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/models/model_plan.go
  pkg/models/plan_general_characteristics.go
  pkg/storage/SQL/model_plan/collection_by_collaborator.sql
  pkg/storage/SQL/model_plan/collection_where_archived.sql
  pkg/storage/SQL/model_plan/collection_where_favorited.sql
  pkg/storage/SQL/model_plan/collection_with_crtdl.sql
  pkg/storage/SQL/model_plan/create.sql
  pkg/storage/SQL/model_plan/get_by_id.sql
  pkg/storage/SQL/model_plan/get_by_id_LOADER.sql
  pkg/storage/SQL/model_plan/get_by_name.sql
  pkg/storage/SQL/model_plan/update.sql
  pkg/storage/SQL/plan_general_characteristics/create.sql
  pkg/storage/SQL/plan_general_characteristics/get_by_id.sql
  pkg/storage/SQL/plan_general_characteristics/get_by_model_plan_id_LOADER.sql
  pkg/storage/SQL/plan_general_characteristics/update.sql
Due: graphql-schema, check-code-generation

feat: add MINT Contractor role in anticipation of job role change
  pkg/local/authentication_middleware.go
  pkg/okta/authentication_middleware.go
  src/constants/jobCodes.ts
  src/utils/user.ts
Due: eslint, tsc-check

feat: update referencs to the correct job code MINT Medicare Administrative Contractor
  pkg/local/authentication_middleware.go
  pkg/okta/authentication_middleware.go
  src/constants/jobCodes.ts
Due: eslint, tsc-check

fix: corrections to gql schema types for new attributes
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
Due: graphql-schema, check-code-generation

Revert "feat: update referencs to the correct job code MINT Medicare Administrative Contractor"
  pkg/local/authentication_middleware.go
  pkg/okta/authentication_middleware.go
  src/constants/jobCodes.ts
Due: eslint, tsc-check

updated classname
  src/views/ModelPlan/ReadOnly/_components/FilterView/BodyContent/index.tsx
Due: eslint, tsc-check

chore: fixed abbreviation misname
  pkg/graph/generated/generated.go
  pkg/graph/schema.resolvers.go
  pkg/models/model_plan.go
Due: check-code-generation

[NOREF] Fixing handling context canceled errors (#591)
  pkg/oktaapi/client_wrapper.go
Due: none

chore: add role to plan discussion, begin updating store queries
  migrations/V96__Update_Plan_Discussion_Add_Role.sql
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/models/plan_discussion.go
  pkg/storage/SQL/plan_discussion/create.sql
  src/types/graphql-global-types.ts
Due: eslint, tsc-check, graphql-schema, check-code-generation

chore: removed ghost code from schema.resolvers.go
  pkg/graph/schema.resolvers.go
Due: check-code-generation

fix: rename sql member variable references
  migrations/V95__Update_Model_Plan_Abbreviation.sql
  pkg/storage/SQL/model_plan/collection_by_collaborator.sql
  pkg/storage/SQL/model_plan/collection_where_archived.sql
  pkg/storage/SQL/model_plan/collection_where_favorited.sql
  pkg/storage/SQL/model_plan/collection_with_crtdl.sql
  pkg/storage/SQL/model_plan/create.sql
  pkg/storage/SQL/model_plan/get_by_id.sql
  pkg/storage/SQL/model_plan/get_by_id_LOADER.sql
  pkg/storage/SQL/model_plan/get_by_name.sql
  pkg/storage/SQL/model_plan/update.sql
Due: none

Add isViewingFitleredView conditional classnames
  src/views/ModelPlan/ReadOnly/ModelBasics/index.tsx
Due: eslint, tsc-check

drying up coded
  src/views/ModelPlan/ReadOnly/_components/FilterView/BodyContent/index.tsx
Due: eslint, tsc-check

add general characteristics to filtered read only
  src/views/ModelPlan/ReadOnly/GeneralCharacteristics/index.tsx
  src/views/ModelPlan/ReadOnly/_components/FilterView/BodyContent/index.tsx
Due: eslint, tsc-check

NOREF add MINT Contractor role in anticipation of job role change (#592)
  pkg/local/authentication_middleware.go
  pkg/okta/authentication_middleware.go
  src/constants/jobCodes.ts
  src/utils/user.ts
Due: eslint, tsc-check

more conditionals
  src/views/ModelPlan/ReadOnly/GeneralCharacteristics/index.tsx
  src/views/ModelPlan/ReadOnly/Team/index.tsx
  src/views/ModelPlan/ReadOnly/_components/FilterView/BodyContent/index.tsx
  src/views/ModelPlan/ReadOnly/_components/SideBySideReadOnlySection/index.tsx
Due: eslint, tsc-check

add participants and providers to the filter vidw
  src/views/ModelPlan/ReadOnly/ParticipantsAndProviders/index.tsx
  src/views/ModelPlan/ReadOnly/_components/FilterView/BodyContent/index.tsx
Due: eslint, tsc-check

yep
  src/views/ModelPlan/ReadOnly/Beneficiaries/index.tsx
  src/views/ModelPlan/ReadOnly/ModelBasics/index.tsx
  src/views/ModelPlan/ReadOnly/ParticipantsAndProviders/index.tsx
  src/views/ModelPlan/ReadOnly/_components/FilterView/BodyContent/index.tsx
Due: eslint, tsc-check

yep
  src/views/ModelPlan/ReadOnly/Beneficiaries/index.tsx
Due: eslint, tsc-check
