Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, tsc-check, graphql-schema, check-code-generation

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-yaml
        name: Check YAML formatting
      - id: detect-private-key
        name: Check for private keys
      - id: end-of-file-fixer
        files: \.(sql|scss|md|js|ts|tsx|go|yml|yaml)$
        name: Add newlines to ends of files

  - repo: https://github.com/detailyang/pre-commit-shell
    rev: v1.0.6
    hooks:
      - id: shell-lint
        name: Lint shell files

  - repo: https://github.com/trussworks/pre-commit-hooks
    rev: v1.1.1
    hooks:
      - id: mdspell
        name: Spellcheck Markdown files
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor
          )$

  - repo: https://github.com/Bahjat/pre-commit-golang
    rev: v1.0.1
    hooks:
      - id: go-fmt-import
        name: Run "goimports" on go files
        args: ['-local', 'github.com/cmsgov/mint-app']
        files: .*\.go$
        exclude: >
          (?x)^(
            .*gen/.*|
            .*generated/.*|
            .*models_gen.go|
          )$

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.48.0
    hooks:
      - id: golangci-lint
        name: Lint go files
        args: ['--concurrency', '-1'] # Run with all CPUs

  - repo: local
    hooks:
    - id: dockerfilelint
      name: Lint Dockerfile
      entry: dockerfilelint
      language: node
      additional_dependencies: [dockerfilelint]
      files: Dockerfile.*

  - repo: local
    hooks:
      - id: eslint
        name: Run eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$
        exclude: (\.(d\.ts)$)|(\.storybook)|(serviceWorker\.ts) # This should match the .eslintrc "ignorePatterns". Change one, change the other!

  - repo: local
    hooks:
      - id: tsc-check
        name: Run typescript check
        entry: scripts/pre-commit-tsc
        language: script
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false

  - repo: local
    hooks:
      - id: graphql-schema
        name: Lint GraphQL schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: pkg/graph/schema.graphql

  - repo: local
    hooks:
      - id: check-code-generation
        name: Run GraphQL code generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: "pkg/graph/schema\\.graphql|pkg/graph/schema\\.resolvers\\.go|src/queries/.*\\.ts"
        pass_filenames: false

  - repo: https://github.com/awslabs/git-secrets
    rev: b9e96b3212fa06aea65964ff0d5cda84ce935f38
    hooks:
      - id: git-secrets
        name: Check for committed secrets
        entry: git-secrets --pre_commit_hook

  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 2.0.7
    hooks:
      - id: sqlfluff-fix
        exclude: ^migrations/
      - id: sqlfluff-lint
        exclude: ^migrations/

EASI-3176: remove abandoned linters
  .golangci.yml
Due: none

Updated snap
  src/views/ModelPlan/ReadOnly/__snapshots__/index.test.tsx.snap
Due: none

wip: updated db calls to be simple direct calls as they wrap statements anyway, but there is at least one build issue
  cmd/dbseed/main.go
  pkg/storage/access_controlStore.go
  pkg/storage/analyzed_auditStore.go
  pkg/storage/audit_changeStore.go
  pkg/storage/existing_modelStore.go
  pkg/storage/existing_model_linkStore.go
  pkg/storage/model_planStore.go
  pkg/storage/nda_agreementStore.go
  pkg/storage/operational_needStore.go
  pkg/storage/operational_solutionStore.go
  pkg/storage/operational_solution_subtaskStore.go
  pkg/storage/plan_basicsStore.go
  pkg/storage/plan_beneficiariesStore.go
  pkg/storage/plan_collaboratorStore.go
  pkg/storage/plan_cr_tdlStore.go
  pkg/storage/plan_discussionStore.go
  pkg/storage/plan_documentStore.go
  pkg/storage/plan_document_solution_linksStore.go
  pkg/storage/plan_favoriteStore.go
  pkg/storage/plan_general_characteristicsStore.go
  pkg/storage/plan_ops_eval_and_learningStore.go
  pkg/storage/plan_participants_and_providersStore.go
  pkg/storage/plan_paymentsStore.go
  pkg/storage/possible_operational_needStore.go
  pkg/storage/possible_operational_solutionStore.go
  pkg/storage/prepare_for_clearance.go
  pkg/storage/user_accountStore.go
Due: none

fix: broken arg in existing modelstore
  pkg/storage/existing_modelStore.go
Due: none

EASI-3176:(wip) verbose output for golangci-lint to find out what is going on during ci execution
  .pre-commit-config.yaml
Due: none

Revert "fix: broken arg in existing modelstore"
  pkg/storage/existing_modelStore.go
Due: none

Revert "wip: updated db calls to be simple direct calls as they wrap statements anyway, but there is at least one build issue"
  cmd/dbseed/main.go
  pkg/storage/access_controlStore.go
  pkg/storage/analyzed_auditStore.go
  pkg/storage/audit_changeStore.go
  pkg/storage/existing_modelStore.go
  pkg/storage/existing_model_linkStore.go
  pkg/storage/model_planStore.go
  pkg/storage/nda_agreementStore.go
  pkg/storage/operational_needStore.go
  pkg/storage/operational_solutionStore.go
  pkg/storage/operational_solution_subtaskStore.go
  pkg/storage/plan_basicsStore.go
  pkg/storage/plan_beneficiariesStore.go
  pkg/storage/plan_collaboratorStore.go
  pkg/storage/plan_cr_tdlStore.go
  pkg/storage/plan_discussionStore.go
  pkg/storage/plan_documentStore.go
  pkg/storage/plan_document_solution_linksStore.go
  pkg/storage/plan_favoriteStore.go
  pkg/storage/plan_general_characteristicsStore.go
  pkg/storage/plan_ops_eval_and_learningStore.go
  pkg/storage/plan_participants_and_providersStore.go
  pkg/storage/plan_paymentsStore.go
  pkg/storage/possible_operational_needStore.go
  pkg/storage/possible_operational_solutionStore.go
  pkg/storage/prepare_for_clearance.go
  pkg/storage/user_accountStore.go
Due: none

updated CCW
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/ChronicConditions/index.tsx
Due: eslint, tsc-check

EASI-3176: exclude gosec rule G602 due to current issue
  .golangci.yml
Due: none

updated CCW snaps
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Timeline/__snapshots__/index.test.tsx.snap
Due: none

[EASI-2834] Text updates to CCW, GovDelivery, IPC, MDM, MIDS, and QV panels (#685)
  src/i18n/en-US/helpAndKnowledge/helpAndKnowledge.ts
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/PointsOfContact/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/ChronicConditions/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Timeline/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/SolutionsHelp/SolutionDetails/_components/Contact/index.tsx
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionHelpCardGroup/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/SolutionsHelp/solutionsMap.tsx
Due: eslint, tsc-check

Add excel fil to assets folder
  src/assets/files/highLevelProjectPlan.xlsx
Due: none

Updated snap
  src/components/ShareExport/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/__snapshots__/index.test.tsx.snap
Due: none

add xslx as file declaration and spacing/prettier edits
  src/global.d.ts
Due: tsc-check

Add excel file to the page
  src/views/HelpAndKnowledge/Articles/HighLevelProjectPlan/index.tsx
Due: eslint, tsc-check

update snaps
  src/views/HelpAndKnowledge/Articles/HighLevelProjectPlan/__snapshots__/index.test.tsx.snap
Due: none

chore: defer close statements
  go.mod
  go.sum
  pkg/storage/access_controlStore.go
  pkg/storage/analyzed_auditStore.go
  pkg/storage/audit_changeStore.go
  pkg/storage/existing_modelStore.go
  pkg/storage/existing_model_linkStore.go
  pkg/storage/model_planStore.go
  pkg/storage/nda_agreementStore.go
  pkg/storage/operational_needStore.go
  pkg/storage/operational_solutionStore.go
  pkg/storage/operational_solution_subtaskStore.go
  pkg/storage/plan_basicsStore.go
  pkg/storage/plan_beneficiariesStore.go
  pkg/storage/plan_collaboratorStore.go
  pkg/storage/plan_cr_tdlStore.go
  pkg/storage/plan_discussionStore.go
  pkg/storage/plan_documentStore.go
  pkg/storage/plan_document_solution_linksStore.go
  pkg/storage/plan_favoriteStore.go
  pkg/storage/plan_general_characteristicsStore.go
  pkg/storage/plan_ops_eval_and_learningStore.go
  pkg/storage/plan_participants_and_providersStore.go
  pkg/storage/plan_paymentsStore.go
  pkg/storage/possible_operational_needStore.go
  pkg/storage/possible_operational_solutionStore.go
  pkg/storage/prepare_for_clearance.go
  pkg/storage/store.go
  pkg/storage/user_accountStore.go
Due: none

chore: linter modifications
  pkg/storage/access_controlStore.go
Due: none

Update snapshots
  src/components/ShareExport/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/__snapshots__/index.test.tsx.snap
Due: none

[NOREF] - Fixed incorrect share email text (#686)
  src/components/ShareExport/__snapshots__/index.test.tsx.snap
  src/components/ShareExport/index.tsx
Due: eslint, tsc-check

[EASI-3208] Update named statements to defer closure (#672)
  pkg/storage/access_controlStore.go
  pkg/storage/analyzed_auditStore.go
  pkg/storage/audit_changeStore.go
  pkg/storage/existing_modelStore.go
  pkg/storage/existing_model_linkStore.go
  pkg/storage/model_planStore.go
  pkg/storage/nda_agreementStore.go
  pkg/storage/operational_needStore.go
  pkg/storage/operational_solutionStore.go
  pkg/storage/operational_solution_subtaskStore.go
  pkg/storage/plan_basicsStore.go
  pkg/storage/plan_beneficiariesStore.go
  pkg/storage/plan_collaboratorStore.go
  pkg/storage/plan_cr_tdlStore.go
  pkg/storage/plan_discussionStore.go
  pkg/storage/plan_documentStore.go
  pkg/storage/plan_document_solution_linksStore.go
  pkg/storage/plan_favoriteStore.go
  pkg/storage/plan_general_characteristicsStore.go
  pkg/storage/plan_ops_eval_and_learningStore.go
  pkg/storage/plan_participants_and_providersStore.go
  pkg/storage/plan_paymentsStore.go
  pkg/storage/possible_operational_needStore.go
  pkg/storage/possible_operational_solutionStore.go
  pkg/storage/prepare_for_clearance.go
  pkg/storage/user_accountStore.go
Due: none

EASI-3176: Upgrade Go version to 121 (#682)
  .golangci.yml
  .pre-commit-config.yaml
  Dockerfile
  Dockerfile.cypress
  Dockerfile.db_seed
  docker-compose.override.yml
  go.mod
  go.sum
Due: dockerfilelint

[EASI-2603] high level project plans article (#684)
  src/assets/files/highLevelProjectPlan.xlsx
  src/global.d.ts
  src/i18n/en-US/helpAndKnowledge/Articles/highLevelProjectPlans.ts
  src/i18n/en-US/index.ts
  src/views/HelpAndKnowledge/Articles/HighLevelProjectPlan/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/Articles/HighLevelProjectPlan/index.test.tsx
  src/views/HelpAndKnowledge/Articles/HighLevelProjectPlan/index.tsx
  src/views/HelpAndKnowledge/Articles/HighLevelProjectPlan/table.tsx
  src/views/HelpAndKnowledge/Articles/index.ts
  src/views/HelpAndKnowledge/index.tsx
Due: eslint, tsc-check

Added better support for discussion/replies with users, fixed heading parsing
  src/hooks/useFetchCSVData.tsx
  src/i18n/en-US/modelPlan/basics.ts
  src/i18n/en-US/modelPlan/beneficiaries.ts
  src/i18n/en-US/modelPlan/generalCharacteristics.ts
  src/i18n/en-US/modelPlan/opsEvalAndLearning.ts
  src/i18n/en-US/modelPlan/participantsAndProviders.ts
  src/i18n/en-US/modelPlan/payments.ts
  src/queries/GetAllModelData.ts
  src/queries/GetAllSingleModelPlan.ts
  src/queries/types/GetAllModelData.ts
  src/queries/types/GetAllSingleModelData.ts
  src/utils/export/CsvData.ts
Due: eslint, tsc-check, check-code-generation

Change from Question verbiage to Discussion verbiage per Figma
  src/i18n/en-US/draftModelPlan/discussions.ts
  src/views/ModelPlan/TaskList/index.tsx
Due: eslint, tsc-check

Added ignore pattern for json2csv node module file
  package.json
Due: none

Revert ignore pattern config
  package.json
Due: none

extract steps from /scripts devup:ci into separate gha steps
  .github/workflows/run_tests.yml
Due: none

(fix) correct docker compose command syntax
  .github/workflows/run_tests.yml
Due: none

Log CI UP
  scripts/dev
Due: none

Add ./cypress volume mount for backend to address issues in CI
  docker-compose.override.yml
Due: none

deleted format activity
  src/views/ModelPlan/Table/formatActivity.tsx
Due: eslint, tsc-check

update recent activity in home page table
  src/views/ModelPlan/Table/index.tsx
Due: eslint, tsc-check

[NOREF] Add ./cypress volume mount for backend to address issues in CI (#691)
  docker-compose.override.yml
Due: none

chore: updated share model plan email to make changes closer to spec
  pkg/email/templates/model_plan_share_body.html
Due: none

Added ignore pattern, updated snaps
  package.json
  src/components/OktaUserSelect/__snapshots__/index.test.tsx.snap
  src/components/ShareExport/__snapshots__/index.test.tsx.snap
  src/components/shared/MultiSelect/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/Collaborators/AddCollaborator/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Beneficiaries/BeneficiaryIdentification/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Beneficiaries/PeopleImpact/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/GeneralCharacteristics/KeyCharacteristics/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/DataSharing/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/Evaluation/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/ParticipantOptions/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/ProviderOptions/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Payment/ClaimsBasedPayment/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Payment/Complexity/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Payment/NonClaimsBasedPayment/__snapshots__/index.test.tsx.snap
Due: none

Added global timezone to jest config
  package.json
  src/components/ShareExport/__snapshots__/index.test.tsx.snap
  src/global-setup.js
  src/views/ModelPlan/ReadOnly/__snapshots__/index.test.tsx.snap
Due: eslint, tsc-check

Added unit tests
  src/hooks/useFetchCSVData.test.tsx
  src/hooks/useFetchCSVData.tsx
Due: eslint, tsc-check
