Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-intake-swagger

eslint:
  name: eslint
  entry: scripts/pre-commit-eslint
  language: script

graphql-schema:
  name: graphql-schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script

check-code-generation:
  name: check-code-generation
  entry: scripts/pre-commit-check-code-generation
  language: script

check-intake-schema-generation:
  name: check-intake-schema-generation
  entry: scripts/gen_intake_schema
  language: script

preprocess-intake-swagger:
  name: preprocess-intake-swagger
  entry: scripts/generate_cedar_intake_client
  language: script

Reverted changes breaking job codes pending EASI-1859
  pkg/authentication/principal.go
Due: none

Updated EASi references in pkg/local/cedar_easi.go to MINT
  pkg/local/cedar_easi.go
Due: none

Renamed cedar_easi.go to cedar_mint.go
  pkg/local/cedar_mint.go
Due: none

Updated EASi references in pkg/storage/store.go to MINT
  pkg/storage/store.go
Due: none

Updated EASi references in pkg/testhelpers/okta.go to MINT
  pkg/testhelpers/okta.go
Due: none

Added specific sub routes for Basics - per Figma
  src/views/ModelPlan/TaskList/Basics/index.tsx
  src/views/ModelPlan/TaskList/Characteristics/index.tsx
  src/views/ModelPlan/TaskList/CostEstimate/index.tsx
  src/views/ModelPlan/TaskList/Operations/index.tsx
  src/views/ModelPlan/TaskList/Participants/index.tsx
  src/views/ModelPlan/TaskList/Payment/index.tsx
  src/views/ModelPlan/TaskList/Population/index.tsx
  src/views/ModelPlan/TaskList/SubmitRequest/index.tsx
Due: eslint

Removed scroll blacklist
  src/views/App/scrollConfig.ts
Due: eslint

Add more copy
  src/i18n/en-US/home.ts
Due: eslint

Add even more copy
  src/i18n/en-US/home.ts
Due: eslint

Initial Home commit
  src/views/Home/index.tsx
Due: eslint

Add empty copy
  src/i18n/en-US/home.ts
Due: eslint

Add table
  src/views/Home/index.tsx
Due: eslint

Add admin view
  src/views/Home/index.tsx
Due: eslint

Update button styles
  src/views/Home/index.tsx
  src/views/ModelPlan/index.tsx
Due: eslint

basic place holder migrations for collaborator and plan basics
  migrations/V3__Add_Plan_Collaborator.sql
  migrations/V4__Add_Plan_Basics.sql
Due: none

Introduce EUA domain/type
  migrations/V1__Add_CRUD_Role_And_App_User.sql
  migrations/V2__Add_EUA_Domain.sql
  migrations/V3__Add_Model_Plan.sql
  migrations/V4__Add_Plan_Collaborator.sql
  migrations/V5__Add_Plan_Basics.sql
Due: none

Reverted name changes connected to job codes in order to fix building
  pkg/appcontext/context_test.go
  pkg/authentication/principal.go
  pkg/authentication/principal_test.go
  pkg/flags/client.go
  pkg/flags/client_test.go
Due: none

Fixed capitalization on codeAdmin variable
  docs/graphql_playground.md
  go.sum
  pkg/appcontext/context_test.go
  pkg/authentication/principal.go
  pkg/authentication/principal_test.go
  pkg/flags/client.go
  pkg/flags/client_test.go
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphql
  pkg/local/authentication_middleware.go
  pkg/okta/authentication_middleware.go
  pkg/services/auth.go
  pkg/services/auth_test.go
  pkg/testhelpers/authentication.go
  src/constants/jobCodes.ts
  src/types/graphql-global-types.ts
  src/utils/user.test.ts
  src/utils/user.ts
Due: eslint, graphql-schema, check-code-generation

Added check for okta-token-storage on user-diagnostics
  src/views/User/index.tsx
Due: eslint

Add moer cpoy
  src/i18n/en-US/home.ts
Due: eslint

Add table
  src/views/ModelPlan/Table/index.scss
  src/views/ModelPlan/Table/index.tsx
  src/views/ModelPlan/Table/mockData.ts
  src/views/ModelPlan/Table/tableMap.ts
Due: eslint

Removed catch_all REST endpoint
  pkg/handlers/catch_all.go
  pkg/handlers/catch_all_test.go
  pkg/server/routes.go
Due: none

Removed pdf REST endpoint
  pkg/handlers/pdf.go
Due: none

Removed now unused variables
  pkg/server/routes.go
Due: none

Removed health_check REST endpoint
  pkg/handlers/health_check.go
  pkg/handlers/health_check_test.go
  pkg/server/routes.go
Due: none

Removed metrics REST endpoint
  pkg/handlers/metrics.go
  pkg/handlers/metrics_test.go
  pkg/server/routes.go
Due: none

Removed handler_base
  pkg/handlers/handler_base.go
  pkg/handlers/handler_base_test.go
  pkg/handlers/handlers_test.go
Due: none

Update code
  src/views/ModelPlan/Table/index.tsx
  src/views/ModelPlan/Table/tableMap.ts
Due: eslint

added SQL to add APP_USER to V1 Migation
  migrations/V1__Add_CRUD_Role_And_App_User.sql
Due: none

Revert "Removed handler_base"
  pkg/handlers/handler_base.go
  pkg/handlers/handler_base_test.go
  pkg/handlers/handlers_test.go
Due: none

correct for conistent casing
  migrations/V3__Add_Model_Plan.sql
Due: none

Updated grapghql docs with MINT jbos codes
  docs/graphql_playground.md
Due: none

add back the filters
  src/views/ModelPlan/Table/index.tsx
Due: eslint

remove type
  src/views/ModelPlan/Table/index.tsx
Due: eslint

Add TableResults and removed GQL queries
  src/views/ModelPlan/Table/index.tsx
Due: eslint

Easi 1834 - Routing Architecture (#20)
  cypress/integration/login.spec.js
  src/components/NavigationBar/index.tsx
  src/i18n/en-US/auth.ts
  src/i18n/en-US/general.ts
  src/i18n/en-US/header.ts
  src/i18n/en-US/home.ts
  src/views/App/index.tsx
  src/views/App/scrollConfig.ts
  src/views/ModelPlan/NewPlan/index.scss
  src/views/ModelPlan/NewPlan/index.tsx
  src/views/ModelPlan/TaskList/Basics/index.tsx
  src/views/ModelPlan/TaskList/Characteristics/index.tsx
  src/views/ModelPlan/TaskList/CostEstimate/index.tsx
  src/views/ModelPlan/TaskList/Operations/index.tsx
  src/views/ModelPlan/TaskList/Participants/index.tsx
  src/views/ModelPlan/TaskList/Payment/index.tsx
  src/views/ModelPlan/TaskList/Population/index.tsx
  src/views/ModelPlan/TaskList/SubmitRequest/index.tsx
  src/views/ModelPlan/TaskList/index.tsx
  src/views/ModelPlan/index.tsx
Due: eslint

foreign key references added to collaborator and basis
  migrations/V3__Add_Model_Plan.sql
  migrations/V4__Add_Plan_Collaborator.sql
  migrations/V5__Add_Plan_Basics.sql
Due: none

basic model_plan go structure
  pkg/models/model_plan.go
Due: none

add basic plan_collaborator type
  pkg/models/plan_collaborator.go
Due: none

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$
  graphql-schema: any of: pkg/graph/schema.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts
  check-intake-schema-generation: any of: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json
  preprocess-intake-swagger: any of: pkg/cedar/intake/cedar_intake.json
