Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-cedar-swagger

Path conditions:
  dockerfilelint: any of: Dockerfile.*
  eslint: any of: \.(js|jsx|ts|tsx)$
  graphql-schema: any of: pkg/graph/schema.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts
  check-intake-schema-generation: any of: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json|pkg/cedar/intake/translation/constants\.go
  preprocess-cedar-swagger: any of: pkg/cedar/intake/cedar_intake.json|pkg/cedar/core/cedar_core.json

only insert configured fields for insert/update operations
  migrations/V20__Add_Audit_Trigger.sql
Due: none

[NOREF] Fixed failing Cypress test for Favoriting a Model Plan (#232)
  cypress/e2e/modelPlan.spec.js
  src/views/ModelPlan/ReadOnly/Table/index.tsx
Due: eslint

Fixed Minio environment variables for local testing by defining Minio host/address in .envrc, rather than just in the docker-compose file. Added tests for Plan Documents
  .envrc
  docker-compose.yml
  pkg/graph/resolvers/plan_document.go
  pkg/graph/resolvers/plan_document_test.go
  pkg/graph/resolvers/resolver_test_utilities.go
  pkg/models/plan_document.go
Due: none

DB Seeding of documents
  cmd/dbseed/data/sample.pdf
  cmd/dbseed/main.go
  cmd/dbseed/resolver_wrappers.go
  pkg/graph/resolvers/plan_document.go
  pkg/graph/resolvers/plan_document_test.go
  pkg/graph/schema.resolvers.go
  pkg/upload/upload.go
Due: check-code-generation

install hosts in CI
  .github/workflows/run_tests.yml
Due: none

Another route for modifying hosts
  .github/workflows/run_tests.yml
Due: none

Modify GraphQL data export query to resolve naming conflict
  src/queries/GetAllModelData.ts
  src/queries/types/GetAllModelData.ts
  src/utils/export/CsvExportLink.tsx
Due: eslint, check-code-generation

add auditing to existing tables
  migrations/V21__Add_Audit_Table_Function.sql
  migrations/V22__Add_Auditing_To_Existing_Tables.sql
Due: none

update db:migrate script to correctly return decimal
  scripts/dev
Due: none

return table name as part of the audit change history
  migrations/V19__Add_Audit_Tables.sql
  migrations/V20__Add_Audit_Trigger.sql
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/models/audit_change.go
  pkg/storage/SQL/audit_change_collection_by_id_and_table.sql
  pkg/storage/SQL/audit_change_collection_by_id_and_table_and_field.sql
Due: graphql-schema, check-code-generation

Added datepicker warning to milestones
  src/validations/planBasics.ts
  src/views/ModelPlan/TaskList/Basics/Milestones/index.tsx
Due: eslint

Added date util for export
  src/utils/date.ts
  src/views/ModelPlan/TaskList/Basics/Milestones/index.tsx
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/IDDOC/index.tsx
  src/views/ModelPlan/TaskList/Payment/Recover/index.tsx
Due: eslint

Update exporting ADR to reflect choice of frontend only solution
  docs/adr/0002-adr-data-export.md
Due: none

reorder audit migrations
  migrations/V20__Add_Audit_Tables.sql
  migrations/V21__Add_Audit_Trigger.sql
  migrations/V22__Add_Audit_Table_Function.sql
  migrations/V23__Add_Auditing_To_Existing_Tables.sql
Due: none

add auditing to CR-TDLs
  migrations/V23__Add_Auditing_To_Existing_Tables.sql
Due: none

add unit tests for audit history, and modelnamehistory
  pkg/graph/resolvers/audit_change_test.go
  pkg/graph/resolvers/model_plan_test.go
Due: none

update postman collection to include audit changes
  MINT.postman_collection.json
Due: none

Modify CSV export button to be unstyled, removed unnecessary comments
  src/utils/export/CsvExportLink.tsx
  src/views/ModelPlan/Table/index.tsx
Due: eslint

Added date component for rendering dates in the past
  src/components/shared/DatePicker/index.tsx
  src/views/ModelPlan/TaskList/Basics/Milestones/index.tsx
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/IDDOC/index.tsx
  src/views/ModelPlan/TaskList/Payment/Recover/index.tsx
Due: eslint

Updated snaps
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/IDDOC/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Payment/Recover/__snapshots__/index.test.tsx.snap
Due: none

Updated flex
  src/views/ModelPlan/TaskList/Basics/Milestones/index.scss
Due: none

Update query to the new update query
  src/views/ModelPlan/ReadOnly/Documents/index.test.tsx
Due: eslint

remove console log
  src/views/ModelPlan/Documents/table.tsx
Due: eslint

Filter to show only Model Leads
  src/views/ModelPlan/ReadOnly/_components/ContactInfo/index.tsx
Due: eslint

Read Only Team Info Page init
  src/views/ModelPlan/ReadOnly/Team/index.tsx
  src/views/ModelPlan/ReadOnly/index.tsx
Due: eslint

Read Only Team Info page work
  src/views/ModelPlan/ReadOnly/Team/index.tsx
  src/views/ModelPlan/ReadOnly/_components/ContactInfo/index.tsx
Due: eslint

adding Team Role to the query and types
  src/queries/ReadOnly/GetModelSummary.ts
  src/queries/ReadOnly/types/GetModelSummary.ts
Due: eslint, check-code-generation

filter out Model Leads
  src/views/ModelPlan/ReadOnly/index.tsx
Due: eslint

Remove unused imports
  src/views/ModelPlan/ReadOnly/Team/index.tsx
Due: eslint

more specific thigns
  src/views/ModelPlan/ReadOnly/index.tsx
Due: eslint

add query to set collection variables and update existing queries to use this variable
  MINT.postman_collection.json
Due: none

work
  src/views/ModelPlan/ReadOnly/Team/index.tsx
Due: eslint

[EASI-2189] - Add date warning milestones (#238)
  src/components/shared/DatePicker/index.tsx
  src/utils/date.ts
  src/validations/planBasics.ts
  src/views/ModelPlan/TaskList/Basics/Milestones/index.scss
  src/views/ModelPlan/TaskList/Basics/Milestones/index.tsx
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/IDDOC/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/IDDOC/index.tsx
  src/views/ModelPlan/TaskList/Payment/Recover/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Payment/Recover/index.tsx
Due: eslint

good
  src/views/ModelPlan/ReadOnly/Team/index.tsx
Due: eslint

WIP needs and solutions
  migrations/V24__Add_Possible_Operational_Need.sql
  migrations/V25__Add_Operational_Need.sql
  migrations/V26__Add_Possible_Operational_Solution.sql
  migrations/V27__Add_Operational_Solution.sql
Due: none

WIP possible operational needs
  migrations/V28__Add_Possible_Operational_Need_Options.sql
Due: none

change the way the order is presented
  src/views/ModelPlan/ReadOnly/Team/index.scss
  src/views/ModelPlan/ReadOnly/Team/index.tsx
Due: eslint

border bottom 0 only for desktops
  src/views/ModelPlan/ReadOnly/Team/index.scss
Due: none
