Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, tsc-check, graphql-schema, check-code-generation

dockerfilelint:
  name: Lint Dockerfile
  entry: dockerfilelint
  language: node
  additional_dependencies:
  - dockerfilelint

eslint:
  name: Run eslint
  entry: scripts/pre-commit-eslint
  language: script

tsc-check:
  name: Run typescript check
  entry: scripts/pre-commit-tsc
  language: script
  pass_filenames: false

graphql-schema:
  name: Lint GraphQL schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script

check-code-generation:
  name: Run GraphQL code generation
  entry: scripts/pre-commit-check-code-generation
  language: script
  pass_filenames: false

Ping Okta API job
  .github/workflows/ping_okta.yml
  .github/workflows/ping_okta_cron.yml
Due: none

Add PR check to test
  .github/workflows/ping_okta_cron.yml
Due: none

Add input
  .github/workflows/ping_okta_cron.yml
Due: none

rename input to env
  .github/workflows/ping_okta_cron.yml
Due: none

Ping okta api on instance startup
  .github/workflows/ping_okta.yml
  .github/workflows/ping_okta_cron.yml
  pkg/server/routes.go
Due: none

Move cehck to outside the if block
  pkg/server/routes.go
Due: none

[NOREF] Added trace ID to okta api calls (#544)
  pkg/graph/schema.resolvers_test.go
  pkg/local/okta_api.go
  pkg/oktaapi/client_wrapper.go
  pkg/server/routes.go
Due: none

add aria label to tag component
  src/components/HelpAndKnowledgeCategoryTag/index.tsx
  src/components/shared/Tag/index.tsx
Due: eslint, tsc-check

add aria label to ArticleCard Button'
  src/components/ArticleCard/index.tsx
Due: eslint, tsc-check

add aria labels for textarea
  src/components/shared/TextAreaField/index.tsx
Due: eslint, tsc-check

add aria labels for date picker
  src/components/shared/DatePicker/index.tsx
Due: eslint, tsc-check

[NOREF] Ping Okta API on application startup (#545)
  pkg/server/routes.go
Due: none

make usa legend bold default style
  src/index.scss
Due: none

wrap checkboxes in a fieldset
  src/views/ModelPlan/TaskList/Basics/index.tsx
Due: eslint, tsc-check

adding aria label by prop in multi select
  src/components/shared/MultiSelect/index.tsx
Due: eslint, tsc-check

adding aria label by prop in multi select
  src/views/ModelPlan/TaskList/GeneralCharacteristics/index.tsx
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/index.tsx
Due: eslint, tsc-check

make aria label required in multi select and fixing throughout
  src/components/shared/MultiSelect/index.test.tsx
  src/components/shared/MultiSelect/index.tsx
  src/views/ModelPlan/TaskList/Beneficiaries/BeneficiaryIdentification/index.tsx
  src/views/ModelPlan/TaskList/Beneficiaries/PeopleImpact/index.tsx
  src/views/ModelPlan/TaskList/GeneralCharacteristics/KeyCharacteristics/index.tsx
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/DataSharing/index.tsx
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/Evaluation/index.tsx
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/index.tsx
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/ParticipantOptions/index.tsx
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/ProviderOptions/index.tsx
  src/views/ModelPlan/TaskList/Payment/ClaimsBasedPayment/index.tsx
  src/views/ModelPlan/TaskList/Payment/Complexity/index.tsx
  src/views/ModelPlan/TaskList/Payment/NonClaimsBasedPayment/index.tsx
Due: eslint, tsc-check

use the correct translation file
  src/views/ModelPlan/ReadOnly/Table/index.tsx
Due: eslint, tsc-check

add aria label and checked to the stars buttons
  src/views/ModelPlan/ReadOnly/Table/index.tsx
Due: eslint, tsc-check

annouce search results
  src/components/TableResults/index.tsx
Due: eslint, tsc-check

add aria label to the requried asterisk
  src/components/shared/RequiredAsterisk/index.tsx
Due: eslint, tsc-check

add aria label for file upload
  src/i18n/en-US/draftModelPlan/documents.ts
  src/views/ModelPlan/Documents/AddDocument/documentUpload.tsx
Due: eslint, tsc-check

feat: update existing model to use int for PK, update link to be able to link to current models
  migrations/V90__Existing_Model_Link_Table.sql
  pkg/models/existing_model.go
  pkg/storage/SQL/existing_model_link/create.sql
Due: none

add aria live to alert
  src/views/ModelPlan/Documents/AddDocument/documentUpload.tsx
Due: eslint, tsc-check

snap updates
  src/views/ModelPlan/Documents/AddDocument/__snapshots__/index.test.tsx.snap
Due: none

remove test code
  src/components/shared/TextAreaField/index.tsx
Due: eslint, tsc-check

update snaps
  src/components/ArticleCard/__snapshots__/index.test.tsx.snap
  src/components/RelatedArticles/__snapshots__/index.test.tsx.snap
  src/components/TableResults/__snapshots__/index.test.tsx.snap
  src/components/shared/MultiSelect/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/CRTDL/AddCRTDL/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Basics/Overview/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Basics/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Beneficiaries/BeneficiaryIdentification/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Beneficiaries/Frequency/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Beneficiaries/PeopleImpact/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/GeneralCharacteristics/Authority/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/GeneralCharacteristics/Involvements/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/GeneralCharacteristics/KeyCharacteristics/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/GeneralCharacteristics/TargetsAndOptions/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/GeneralCharacteristics/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/AddCustomSolution/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/AddSolution/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/Home/__snapshots__/operationalNeedsTable.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/Subtasks/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/DataSharing/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/Evaluation/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/IDDOC/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/IDDOCTesting/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/Learning/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/Communication/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/Coordination/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/ParticipantOptions/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/ProviderOptions/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Payment/BeneficiaryCostSharing/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Payment/ClaimsBasedPayment/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Payment/Complexity/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Payment/NonClaimsBasedPayment/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Payment/Recover/__snapshots__/index.test.tsx.snap
Due: none

feat: preliminary SQL and store methods
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/exisiting_model_link.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/existing_model_link.go
  pkg/storage/SQL/existing_model_link/collection_get_by_model_plan_id.sql
  pkg/storage/SQL/existing_model_link/create.sql
  pkg/storage/SQL/existing_model_link/delete.sql
  pkg/storage/SQL/existing_model_link/get_by_id.sql
  pkg/storage/existing_model_linkStore.go
  src/queries/types/GetExistingModelPlans.ts
Due: eslint, tsc-check, graphql-schema, check-code-generation

EASI-2835: Test with checking rate limit
  .github/workflows/run_tests.yml
Due: none

EASI-2835: (debug) explicitly call run on script
  .github/workflows/run_tests.yml
Due: none

EASI-2835: (fix) revert changes on branch
  .github/workflows/run_tests.yml
Due: none

EASI-2876: add correct permissions and use v2
  .github/workflows/build_application_images.yml
  .github/workflows/deploy_to_environment.yml
  .github/workflows/run_tests.yml
  .github/workflows/scan_deployed_image.yml
Due: none

fix: parameter name changed and broke on gql gen, correct param is now referenced
  .envrc
  config/logstash/logstash.conf
  docker-compose.yml
  go.mod
  go.sum
  pkg/graph/generated/generated.go
  pkg/graph/resolver.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/graph/schema.resolvers_test.go
  pkg/server/routes.go
Due: graphql-schema, check-code-generation

Updated unit tests
  src/views/ModelPlan/TaskList/GeneralCharacteristics/TargetsAndOptions/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/util.test.tsx
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/Evaluation/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/Learning/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/Communication/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/Coordination/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Payment/NonClaimsBasedPayment/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Payment/Recover/__snapshots__/index.test.tsx.snap
Due: eslint, tsc-check

Use context based logger in websocket middleware instead of server logger (which doesn't have traceID)
  pkg/local/authentication_middleware.go
  pkg/okta/authentication_middleware.go
  pkg/server/routes.go
Due: none

Test cypress stuff?
  cypress/e2e/characteristics.spec.js
  cypress/e2e/itSolutions.js
  cypress/e2e/modelPlan.spec.js
  cypress/e2e/opsEvalAndLearning.spec.js
  cypress/e2e/participantsAndProviders.spec.js
  cypress/e2e/payments.spec.js
  cypress/e2e/prepareForClearance.js
Due: eslint, tsc-check

Test cypress stuff2?
  cypress/e2e/itSolutions.js
  cypress/e2e/login.spec.js
Due: eslint, tsc-check

Test cypress stuff3?
  cypress/e2e/characteristics.spec.js
  cypress/e2e/itSolutions.js
Due: eslint, tsc-check

add aria label to category card
  src/views/HelpAndKnowledge/SolutionsHelp/_components/CategoryCard/index.tsx
Due: eslint, tsc-check

Add aria label to solution tag
  src/views/HelpAndKnowledge/SolutionsHelp/_components/SolutionsTag/index.tsx
Due: eslint, tsc-check

Path conditions:
  dockerfilelint: any of: Dockerfile.*
  eslint: any of: \.(js|jsx|ts|tsx)$
  tsc-check: any of: \.(js|jsx|ts|tsx)$
  graphql-schema: any of: pkg/graph/schema.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts
