Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-cedar-swagger

dockerfilelint:
  name: Lint Dockerfile
  entry: dockerfilelint
  language: node
  additional_dependencies:
  - dockerfilelint

eslint:
  name: Run eslint
  entry: scripts/pre-commit-eslint
  language: script

graphql-schema:
  name: Lint GraphQL schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script

check-code-generation:
  name: Run GraphQL code generation
  entry: scripts/pre-commit-check-code-generation
  language: script
  pass_filenames: false

check-intake-schema-generation:
  name: Generate CEDAR Intake schema
  entry: scripts/gen_intake_schema
  language: script
  pass_filenames: false

preprocess-cedar-swagger:
  name: Generate CEDAR Intake client
  description: Re-generates CEDAR Intake and CEDAR Core clients when either of the swagger files change. This will re-generate both clients if either file changes.
  entry: scripts/generate_cedar_clients
  language: script
  pass_filenames: false

change import to map[string]interface, correctly translate dictionary to static type
  .vscode/launch.json
  cmd/backfill/backfillEntry.go
  cmd/backfill/main.go
  cmd/backfill/translation.go
Due: none

Modify deploy scripts to allow running ECS tasks and modifying task definitions
  .github/workflows/deploy_to_environment.yml
  Dockerfile.db_clean
  Dockerfile.db_migrations
  migrations/V1__Add_CRUD_Role_And_IAM_App_User.sql
  scripts/deploy_ecs_service.sh
  scripts/run_ecs_task.sh
  scripts/update_ecs_task_definition.sh
Due: dockerfilelint

Required env vars to scripts. Stricter erroring on bash
  .github/workflows/deploy_to_environment.yml
  scripts/deploy_ecs_service.sh
  scripts/run_ecs_task.sh
  scripts/update_ecs_task_definition.sh
Due: none

Update READMEs with MINT instead of EASi
  README.md
  docs/cedar.md
  docs/dev_environment_setup.md
  docs/dev_script_usage.md
  docs/docker_compose.md
  docs/frontend.md
  docs/local_testing.md
  docs/operations/add_ssl_certificate.md
  docs/operations/backfill.md
  docs/operations/deployment_process.md
  docs/operations/metrics.md
  pkg/README.md
  src/README.md
Due: none

I should have listened to the shellcheck instead of ignoring it
  scripts/update_ecs_task_definition.sh
Due: none

Debug logging
  scripts/deploy_ecs_service.sh
  scripts/run_ecs_task.sh
  scripts/update_ecs_task_definition.sh
Due: none

Order schema
  Dockerfile.db_clean
  Dockerfile.db_migrations
Due: dockerfilelint

Migrate audit schema changes
  Dockerfile.db_migrations
  migrations/V1__Add_CRUD_Role_And_IAM_App_User.sql
Due: dockerfilelint

export data, better error handling too
  cmd/backfill/main.go
Due: none

Fix yarn build warnings
  src/stylesheets/_variables.module.scss
Due: none

move translate to the translation file
  cmd/backfill/main.go
  cmd/backfill/translation.go
Due: none

Use calc MOAR
  src/components/Spinner/index.scss
Due: none

only save new modelleads in analyzedAudit
  migrations/V38__Add_Team_Role_To_Collaborator_Audit_Changes.sql
  pkg/models/analyzed_audit.go
  pkg/worker/analyzed_audit.go
  pkg/worker/analyzed_audit_test.go
Due: none

convert to pointers, and pass around reference to set values. WIP translating fields, will need more work. Currently errors are transferred are handled by an array of specific error type
  cmd/backfill/backfillEntry.go
  cmd/backfill/translation.go
Due: none

Remove unused db_clean workflow file. Edit deploy pipeline to be on pushes to main. Re-enable PR checks.
  .github/workflows/build_db_clean_image.yml
  .github/workflows/deploy_pipeline.yml
  .github/workflows/deploy_to_environment.yml
  .github/workflows/pr_checks.yml
Due: none

Added hideITLeadExperience flag and set on routes
  .envrc
  package.json
  src/types/flags.ts
  src/views/App/index.tsx
  src/views/FlagsWrapper/index.tsx
  src/views/Home/index.test.tsx
  src/views/ModelPlan/TaskList/index.tsx
  yarn.lock
Due: eslint

Add CurrentModelName to model plan analyzed audits
  pkg/models/analyzed_audit.go
  pkg/worker/analyzed_audit.go
  pkg/worker/analyzed_audit_test.go
Due: none

get date times parsing correctly
  cmd/backfill/translation.go
Due: none

Disabled camelCase and added support for ld source file
  .envrc
  cypress/fixtures/flagdata.json
  docker-compose.cypress_ci.yml
  docker-compose.cypress_local.yml
  docker-compose.yml
  go.mod
  go.sum
  pkg/appconfig/config.go
  pkg/flags/client.go
  pkg/server/config.go
  src/types/flags.ts
  src/views/App/index.tsx
  src/views/FlagsWrapper/index.tsx
  src/views/Home/index.test.tsx
  src/views/ModelPlan/TaskList/index.tsx
Due: eslint

Removed console log statement
  src/views/ModelPlan/TaskList/index.tsx
Due: eslint

Trying changing base image from distroless
  .github/workflows/deploy_pipeline.yml
  .github/workflows/pr_checks.yml
  Dockerfile
Due: dockerfilelint

Lots of email debugging
  Dockerfile
  pkg/server/routes.go
  pkg/shared/oddmail/go_simple_mail_service.go
Due: dockerfilelint

Added MAC job codes and began work on MAC table
  src/constants/jobCodes.ts
  src/i18n/en-US/home.ts
  src/queries/GetModelPlans.ts
  src/queries/types/GetModelPlans.ts
  src/utils/user.ts
  src/views/FlagsWrapper/index.tsx
  src/views/Home/index.tsx
  src/views/ModelAccessWrapper/index.tsx
  src/views/ModelPlan/ReadOnly/index.tsx
  src/views/ModelPlan/Table/index.tsx
  src/views/ModelPlan/TaskList/GeneralCharacteristics/index.tsx
Due: eslint, check-code-generation

Hardcode SMTP Server params
  .github/workflows/deploy_pipeline.yml
  pkg/shared/oddmail/go_simple_mail_service.go
Due: none

Fix workflow
  .github/workflows/deploy_pipeline.yml
Due: none

Debug logging
  pkg/shared/oddmail/go_simple_mail_service.go
Due: none

Keepalive true
  pkg/shared/oddmail/go_simple_mail_service.go
Due: none

Create new SMTP Client connection on each email
  pkg/server/routes.go
  pkg/shared/oddmail/go_simple_mail_service.go
Due: none

Restore workflows to stable state
  .github/workflows/deploy_pipeline.yml
  .github/workflows/pr_checks.yml
Due: none

add value or pointer function
  cmd/backfill/main.go
  cmd/backfill/translation.go
Due: none

Remove unused secrets
  .github/workflows/pr_checks.yml
  .github/workflows/run_tests.yml
Due: none

Add simplified node/go setup
  .github/workflows/run_tests.yml
Due: none

Install yarn packages
  .github/workflows/run_tests.yml
Due: none

start on template
  pkg/email/daily_digest.go
  pkg/email/templates/daily_digest_body.html
Due: none

[EASI-2003] GitHub actions (#314)
  .github/workflows/build_and_test.yml
  .github/workflows/build_application_images.yml
  .github/workflows/build_db_clean_image.yml
  .github/workflows/deploy_pipeline.yml
  .github/workflows/deploy_to_environment.yml
  .github/workflows/pr_checks.yml
  .github/workflows/run_tests.yml
  Dockerfile.db_clean
  Dockerfile.db_migrations
  migrations/V1__Add_CRUD_Role_And_IAM_App_User.sql
  pkg/shared/oddmail/go_simple_mail_service.go
  scripts/build_and_push_backend.sh
  scripts/deploy_ecs_service.sh
  scripts/release_static
  scripts/run_ecs_task.sh
  scripts/update_ecs_task_definition.sh
  src/components/Spinner/index.scss
  src/stylesheets/_variables.module.scss
Due: dockerfilelint

Added filter to discussions for mac user
  src/views/Home/index.tsx
  src/views/ModelPlan/Discussions/index.tsx
  src/views/ModelPlan/Table/index.tsx
Due: eslint

Path conditions:
  dockerfilelint: any of: Dockerfile.*
  eslint: any of: \.(js|jsx|ts|tsx)$
  graphql-schema: any of: pkg/graph/schema.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts
  check-intake-schema-generation: any of: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json|pkg/cedar/intake/translation/constants\.go
  preprocess-cedar-swagger: any of: pkg/cedar/intake/cedar_intake.json|pkg/cedar/core/cedar_core.json
