Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, tsc-check, graphql-schema, check-code-generation

dockerfilelint:
  name: Lint Dockerfile
  entry: dockerfilelint
  language: node
  additional_dependencies:
  - dockerfilelint

eslint:
  name: Run eslint
  entry: scripts/pre-commit-eslint
  language: script

tsc-check:
  name: Run typescript check
  entry: scripts/pre-commit-tsc
  language: script
  pass_filenames: false

graphql-schema:
  name: Lint GraphQL schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script

check-code-generation:
  name: Run GraphQL code generation
  entry: scripts/pre-commit-check-code-generation
  language: script
  pass_filenames: false

Increase activity timeout to 90 minutes total (85m activity, 5m of modal)
  src/views/TimeOutWrapper/index.tsx
Due: eslint, tsc-check

Added more copy
  src/i18n/en-US/helpAndKnowledge/Articles/getAccess.ts
  src/views/HelpAndKnowledge/Articles/GetAccess/index.tsx
Due: eslint, tsc-check

Update events that trigger idle timer, add additional clarifying comments
  src/views/TimeOutWrapper/index.tsx
Due: eslint, tsc-check

Added comment to source of events
  src/views/TimeOutWrapper/index.tsx
Due: eslint, tsc-check

Reverting bake action for testing
  .github/workflows/run_tests.yml
Due: none

Added last of copy
  src/components/shared/Alert/index.tsx
  src/i18n/en-US/helpAndKnowledge/Articles/getAccess.ts
  src/views/HelpAndKnowledge/Articles/GetAccess/index.tsx
Due: eslint, tsc-check

fix buildx version
  .github/workflows/run_tests.yml
Due: none

Revert "Reverting bake action for testing"
  .github/workflows/run_tests.yml
Due: none

Tidy up and added comments
  src/components/shared/Alert/index.tsx
  src/hooks/useHashScroll.tsx
  src/index.scss
Due: eslint, tsc-check

Added sign in page info and style updates to button
  src/components/Header/index.tsx
  src/i18n/en-US/helpAndKnowledge/Articles/getAccess.ts
  src/views/Login/index.scss
  src/views/Login/index.tsx
Due: eslint, tsc-check

add the corerct model id
  src/views/ModelPlan/ReadOnly/_components/FilterView/BodyContent/index.test.tsx
Due: eslint, tsc-check

Fixed footer style
  src/views/Landing/index.tsx
Due: eslint, tsc-check

[EASI-3044] Increase activity timeout to 90 minutes (#602)
  .github/workflows/run_tests.yml
  src/views/TimeOutWrapper/index.tsx
Due: eslint, tsc-check

Fixed nested div in p warning
  src/components/ITSolutionsWarning/__snapshots__/index.test.tsx.snap
  src/components/shared/Alert/__snapshots__/index.test.tsx.snap
  src/components/shared/Alert/index.tsx
  src/views/ModelPlan/Collaborators/AddCollaborator/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/Collaborators/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/Documents/AddDocument/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/NewPlan/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Basics/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/GeneralCharacteristics/KeyCharacteristics/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/GeneralCharacteristics/TargetsAndOptions/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/CCWAndQuality/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/IDDOCTesting/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/Learning/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/Performance/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/Coordination/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Payment/AnticipateDependencies/__snapshots__/index.test.tsx.snap
  src/views/NDA/__snapshots__/index.test.tsx.snap
Due: eslint, tsc-check

Fixed nested div in p warning with span
  src/components/ITSolutionsWarning/__snapshots__/index.test.tsx.snap
  src/components/shared/Alert/__snapshots__/index.test.tsx.snap
  src/components/shared/Alert/index.tsx
  src/views/ModelPlan/Collaborators/AddCollaborator/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/Collaborators/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/Documents/AddDocument/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/NewPlan/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Basics/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/GeneralCharacteristics/KeyCharacteristics/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/GeneralCharacteristics/TargetsAndOptions/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/CCWAndQuality/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/IDDOCTesting/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/Learning/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/Performance/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/Coordination/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Payment/AnticipateDependencies/__snapshots__/index.test.tsx.snap
  src/views/NDA/__snapshots__/index.test.tsx.snap
Due: eslint, tsc-check

[NOREF] - Nested div in p element warning fix (#604)
  src/components/ITSolutionsWarning/__snapshots__/index.test.tsx.snap
  src/components/shared/Alert/__snapshots__/index.test.tsx.snap
  src/components/shared/Alert/index.tsx
  src/views/ModelPlan/Collaborators/AddCollaborator/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/Collaborators/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/Documents/AddDocument/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/NewPlan/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Basics/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/GeneralCharacteristics/KeyCharacteristics/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/GeneralCharacteristics/TargetsAndOptions/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/CCWAndQuality/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/IDDOCTesting/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/Learning/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/Performance/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/Coordination/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Payment/AnticipateDependencies/__snapshots__/index.test.tsx.snap
  src/views/NDA/__snapshots__/index.test.tsx.snap
Due: eslint, tsc-check

Init basic updates work
  src/i18n/en-US/draftModelPlan/basics.ts
  src/queries/Basics/GetModelPlanInfo.ts
  src/queries/Basics/types/GetModelPlanInfo.ts
  src/views/ModelPlan/TaskList/Basics/index.test.tsx
  src/views/ModelPlan/TaskList/Basics/index.tsx
Due: eslint, tsc-check, check-code-generation

Added readonly content
  src/i18n/en-US/draftModelPlan/basics.ts
  src/queries/ReadOnly/GetAllBasics.ts
  src/queries/ReadOnly/types/GetAllBasics.ts
  src/views/ModelPlan/ReadOnly/ModelBasics/index.test.tsx
  src/views/ModelPlan/ReadOnly/ModelBasics/index.tsx
  src/views/ModelPlan/TaskList/Basics/index.tsx
Due: eslint, tsc-check, check-code-generation

update snaps
  src/views/ModelPlan/ReadOnly/__snapshots__/index.test.tsx.snap
Due: none

Fixed external link
  src/views/ModelPlan/ReadOnly/ModelBasics/index.tsx
  src/views/ModelPlan/TaskList/Basics/index.tsx
Due: eslint, tsc-check

Added comment
  src/views/ModelPlan/ReadOnly/ModelBasics/index.tsx
Due: eslint, tsc-check

Fixed external links
  src/views/HelpAndKnowledge/Articles/GetAccess/index.tsx
Due: eslint, tsc-check

Added cypress test case
  cypress/e2e/modelPlan.spec.js
  src/views/ModelPlan/ReadOnly/ModelBasics/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Basics/__snapshots__/index.test.tsx.snap
Due: eslint, tsc-check

Added snapshot test
  src/i18n/en-US/helpAndKnowledge/Articles/getAccess.ts
  src/views/HelpAndKnowledge/Articles/GetAccess/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/Articles/GetAccess/index.test.tsx
  src/views/HelpAndKnowledge/Articles/GetAccess/index.tsx
Due: eslint, tsc-check

feat: use strcase library to convert snake case field name to lowered camel case
  go.mod
  go.sum
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/models/change_table_record.go
  pkg/models/change_table_record_test.go
Due: graphql-schema, check-code-generation

update the snap to a different filtered group
  src/views/ModelPlan/ReadOnly/_components/FilterView/BodyContent/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/_components/FilterView/BodyContent/index.test.tsx
Due: eslint, tsc-check

trying this
  src/views/ModelPlan/ReadOnly/_components/FilterView/BodyContent/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/_components/FilterView/BodyContent/index.test.tsx
Due: eslint, tsc-check

changing thet tests
  src/views/ModelPlan/ReadOnly/_components/FilterView/BodyContent/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/_components/FilterView/BodyContent/index.test.tsx
Due: eslint, tsc-check

wip: email notifications when model plan dates change
  cmd/dbseed/main.go
  cmd/dbseed/resolver_wrappers.go
  go.mod
  migrations/V97__Add_Config_Schema.sql
  migrations/V98__Add_Model_Plan_Date_Changed_Email_Recipients.sql
  pkg/email/address_book.go
  pkg/email/model_plan_date_changed.go
  pkg/email/template_service_impl.go
  pkg/email/templates/model_plan_date_changed_body.html
  pkg/email/templates/model_plan_date_changed_subject.html
  pkg/graph/resolvers/plan_basics.go
  pkg/graph/resolvers/plan_basics_test.go
  pkg/graph/resolvers/prepare_for_clearance_test.go
  pkg/graph/schema.resolvers.go
  pkg/server/routes.go
  pkg/storage/SQL/model_plan_date_changed_email_recipients/get.sql
  pkg/storage/model_plan_date_changed_email_recipientsStore.go
  pkg/worker/analyzed_audit_job_test.go
Due: check-code-generation

fix: reverted file to main version
  migrations/V95__Update_Model_Plan_Abbreviation.sql
Due: none

chore: removed debug print code
  pkg/storage/plan_discussionStore.go
Due: none

[EASI-2778] - Re-architect translation structure (#601)
  src/components/FavoriteCard/index.tsx
  src/hooks/usePlanTranslation.tsx
  src/i18n/en-US/index.ts
  src/i18n/en-US/modelPlan.ts
  src/i18n/en-US/modelPlan/plan.tsx
  src/i18n/en-US/modelPlan/planBasics.tsx
  src/types/translation.ts
  src/utils/modelPlan.ts
  src/views/ModelPlan/ReadOnly/ModelBasics/index.tsx
  src/views/ModelPlan/Status/index.tsx
  src/views/ModelPlan/TaskList/Basics/Milestones/index.tsx
  src/views/ModelPlan/TaskList/Basics/Overview/index.tsx
  src/views/ModelPlan/TaskList/Basics/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Basics/index.tsx
  src/views/Unfollow/index.tsx
Due: eslint, tsc-check

[EASI-3016] - Get access option homepage (#603)
  package.json
  src/components/Header/index.tsx
  src/components/HelpBreadcrumb/index.tsx
  src/hooks/useHashScroll.tsx
  src/i18n/en-US/helpAndKnowledge/Articles/getAccess.ts
  src/i18n/en-US/helpAndKnowledge/helpAndKnowledge.ts
  src/i18n/en-US/index.ts
  src/i18n/en-US/landing.ts
  src/index.scss
  src/views/App/index.tsx
  src/views/HelpAndKnowledge/Articles/GetAccess/__snapshots__/index.test.tsx.snap
  src/views/HelpAndKnowledge/Articles/GetAccess/index.test.tsx
  src/views/HelpAndKnowledge/Articles/GetAccess/index.tsx
  src/views/Landing/index.scss
  src/views/Landing/index.tsx
  src/views/Login/index.scss
  src/views/Login/index.tsx
  yarn.lock
Due: eslint, tsc-check

add model team to translates
  src/i18n/en-US/readOnly/filterView.ts
  src/views/ModelPlan/ReadOnly/_components/FilterView/BodyContent/index.tsx
Due: eslint, tsc-check

Added abbreviation to readonly as well as demo code to mac table
  src/i18n/en-US/home.ts
  src/queries/GetModelPlans.ts
  src/queries/ReadOnly/GetModelSummary.ts
  src/queries/ReadOnly/types/GetModelSummary.ts
  src/queries/types/GetModelPlans.ts
  src/views/ModelPlan/ReadOnly/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/index.test.tsx
  src/views/ModelPlan/ReadOnly/index.tsx
  src/views/ModelPlan/Table/index.tsx
  src/views/ModelPlan/TaskList/Basics/__snapshots__/index.test.tsx.snap
Due: eslint, tsc-check, check-code-generation

making the notes only show up if the view wants it
  src/views/ModelPlan/ReadOnly/Beneficiaries/index.tsx
  src/views/ModelPlan/ReadOnly/GeneralCharacteristics/index.tsx
Due: eslint, tsc-check

QA feedback
  src/views/ModelPlan/ReadOnly/_components/FilterView/BodyContent/index.tsx
Due: eslint, tsc-check

Reorded csvs to match task list
  src/queries/GetAllModelData.ts
  src/queries/GetAllSingleModelPlan.ts
  src/queries/types/GetAllModelData.ts
  src/queries/types/GetAllSingleModelData.ts
  src/utils/export/CsvData.ts
Due: eslint, tsc-check, check-code-generation

[EASI-2973] - Model basics updates (#605)
  cypress/e2e/modelPlan.spec.js
  src/i18n/en-US/draftModelPlan/basics.ts
  src/i18n/en-US/home.ts
  src/i18n/en-US/modelPlan/plan.tsx
  src/i18n/en-US/modelPlan/planBasics.tsx
  src/queries/Basics/GetModelPlanInfo.ts
  src/queries/Basics/types/GetModelPlanInfo.ts
  src/queries/GetModelPlans.ts
  src/queries/ReadOnly/GetAllBasics.ts
  src/queries/ReadOnly/GetModelSummary.ts
  src/queries/ReadOnly/types/GetAllBasics.ts
  src/queries/ReadOnly/types/GetModelSummary.ts
  src/queries/types/GetModelPlans.ts
  src/types/translation.ts
  src/views/ModelPlan/ReadOnly/ModelBasics/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/ModelBasics/index.test.tsx
  src/views/ModelPlan/ReadOnly/ModelBasics/index.tsx
  src/views/ModelPlan/ReadOnly/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/index.test.tsx
  src/views/ModelPlan/ReadOnly/index.tsx
  src/views/ModelPlan/Table/index.tsx
  src/views/ModelPlan/TaskList/Basics/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Basics/index.test.tsx
  src/views/ModelPlan/TaskList/Basics/index.tsx
Due: eslint, tsc-check, check-code-generation

Addressing linting errors
  src/views/ModelPlan/ReadOnly/_components/FilterView/BodyContent/index.test.tsx
Due: eslint, tsc-check

Path conditions:
  dockerfilelint: any of: Dockerfile.*
  eslint: any of: \.(js|jsx|ts|tsx)$
  tsc-check: any of: \.(js|jsx|ts|tsx)$
  graphql-schema: any of: pkg/graph/schema.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts
