Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-cedar-swagger

dockerfilelint:
  name: Lint Dockerfile
  entry: dockerfilelint
  language: node
  additional_dependencies:
  - dockerfilelint

eslint:
  name: Run eslint
  entry: scripts/pre-commit-eslint
  language: script

graphql-schema:
  name: Lint GraphQL schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script

check-code-generation:
  name: Run GraphQL code generation
  entry: scripts/pre-commit-check-code-generation
  language: script
  pass_filenames: false

check-intake-schema-generation:
  name: Generate CEDAR Intake schema
  entry: scripts/gen_intake_schema
  language: script
  pass_filenames: false

preprocess-cedar-swagger:
  name: Generate CEDAR Intake client
  description: Re-generates CEDAR Intake and CEDAR Core clients when either of the swagger files change. This will re-generate both clients if either file changes.
  entry: scripts/generate_cedar_clients
  language: script
  pass_filenames: false

ReadOnly Component to accept isHelpArticle prop and conditional renders
  src/views/ModelPlan/ReadOnly/index.tsx
Due: eslint

Fix missing CR TDLs output
  src/views/ModelPlan/ReadOnly/index.tsx
Due: eslint

More Conditional Renders
  src/views/ModelPlan/ReadOnly/index.tsx
Due: eslint

Add helproutes
  src/views/ModelPlan/ReadOnly/_components/MobileNav/index.tsx
  src/views/ModelPlan/ReadOnly/_components/Sidenav/index.tsx
  src/views/ModelPlan/ReadOnly/index.tsx
Due: eslint

Filtered out Discussions for Help Article
  src/views/ModelPlan/ReadOnly/_components/MobileNav/index.tsx
  src/views/ModelPlan/ReadOnly/_components/Sidenav/index.tsx
Due: eslint

add margin
  src/views/HelpAndKnowledge/Articles/SampleModelPlan/index.tsx
Due: eslint

broaden the scope of the shouldScroll checker
  src/views/App/scrollConfig.ts
Due: eslint

add isHelpArticle prop to Documents and CR TDLs Read Only Components
  src/views/ModelPlan/ReadOnly/CRTDLs/index.tsx
  src/views/ModelPlan/ReadOnly/Documents/index.tsx
  src/views/ModelPlan/ReadOnly/index.tsx
Due: eslint

Operational solutions archived changed to needed, return possible with actual
  migrations/V27__Add_Operational_Solution.sql
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/operational_solution.go
  pkg/graph/resolvers/operational_solution_test.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/operational_solution.go
  pkg/storage/SQL/operational_solution_and_possible_get_by_operational_need_id.sql
  pkg/storage/SQL/operational_solution_collection_get_by_operational_need_id.sql
  pkg/storage/SQL/operational_solution_get_by_id.sql
  pkg/storage/SQL/operational_solution_get_by_operational_need_id_and_other_type.sql
  pkg/storage/SQL/operational_solution_get_by_operational_need_id_and_type.sql
  pkg/storage/SQL/operational_solution_insert_or_update.sql
  pkg/storage/SQL/operational_solution_insert_or_update_other.sql
  pkg/storage/SQL/operational_solution_update_by_id.sql
  pkg/storage/operational_solutionStore.go
Due: graphql-schema, check-code-generation

update operational solution get to correctly only return needed with param
  migrations/V27__Add_Operational_Solution.sql
  pkg/storage/SQL/operational_solution_and_possible_get_by_operational_need_id.sql
Due: none

Pass down isHelpArticle down to Table component
  src/views/ModelPlan/CRTDL/CRTDLs/table.tsx
  src/views/ModelPlan/ReadOnly/CRTDLs/index.tsx
Due: eslint

Pass down isHelpArticle down to Table component
  src/views/ModelPlan/Documents/table.tsx
  src/views/ModelPlan/ReadOnly/Documents/index.tsx
Due: eslint

Incorporated assessemnt user in the check for edit access
  src/views/ModelPlan/Documents/table.tsx
Due: eslint

wip
  src/views/ModelPlan/ReadOnly/index.tsx
Due: eslint

streamlined the hasEditAccess conditions
  src/views/ModelPlan/CRTDL/CRTDLs/table.tsx
  src/views/ModelPlan/Documents/table.tsx
Due: eslint

update tests
  src/components/RelatedArticles/__snapshots__/index.test.tsx.snap
Due: none

update tests
  src/views/ModelPlan/Documents/index.test.tsx
  src/views/ModelPlan/ReadOnly/Documents/index.test.tsx
Due: eslint

remove comments
  src/views/ModelPlan/ReadOnly/Documents/index.tsx
  src/views/ModelPlan/ReadOnly/index.tsx
Due: eslint

Init select solutions
  src/data/operationalNeedMap.ts
  src/i18n/en-US/draftModelPlan/itSolutions.ts
  src/queries/ITSolutions/GetOperationalNeedAnswer.ts
  src/queries/ITSolutions/types/GetOperationalNeedAnswer.ts
  src/views/ModelPlan/TaskList/ITSolutions/Home/operationalNeedsTable.tsx
  src/views/ModelPlan/TaskList/ITSolutions/SelectSolutions/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/CheckboxCard/index.scss
  src/views/ModelPlan/TaskList/ITSolutions/_components/CheckboxCard/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/index.tsx
Due: eslint, check-code-generation

Update to return all solutions at once, endpoint to get OperationalNeed, and to Get Operational Solution
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/resolvers/operational_need.go
  pkg/graph/resolvers/operational_solution.go
  pkg/graph/resolvers/operational_solution_test.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
Due: graphql-schema, check-code-generation

update postman collection to represent schema changes
  MINT.postman_collection.json
Due: none

Added custom name to it need
  src/views/ModelPlan/TaskList/ITSolutions/Home/operationalNeedsTable.tsx
  src/views/ModelPlan/TaskList/index.tsx
Due: eslint

remove the 'previously' in favorite card
  src/components/FavoriteCard/index.tsx
Due: eslint

Script to find ECR images and build + push docker images to ECR
  scripts/build_and_push_backend.sh
  scripts/find_ecr_image.sh
Due: none

remove comments
  src/views/ModelPlan/ReadOnly/_components/MobileNav/index.tsx
Due: eslint

[EASI-2420] Previous Model Names (#281)
  cypress/e2e/archive.spec.js
  cypress/e2e/collaborator.spec.js
  cypress/e2e/discussions.spec.js
  cypress/e2e/modelPlan.spec.js
  src/components/FavoriteCard/__snapshots__/index.test.tsx.snap
  src/components/FavoriteCard/index.test.tsx
  src/components/FavoriteCard/index.tsx
  src/i18n/en-US/draftModelPlan/basics.ts
  src/i18n/en-US/home.ts
  src/queries/Basics/GetModelPlanInfo.ts
  src/queries/Basics/types/GetModelPlanInfo.ts
  src/queries/GetModelPlans.ts
  src/queries/ReadOnly/GetAllBasics.ts
  src/queries/ReadOnly/GetAllModelPlans.ts
  src/queries/ReadOnly/types/GetAllBasics.ts
  src/queries/ReadOnly/types/GetAllModelPlans.ts
  src/queries/types/GetModelPlans.ts
  src/views/ModelPlan/ReadOnly/ModelBasics/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/ModelBasics/index.test.tsx
  src/views/ModelPlan/ReadOnly/ModelBasics/index.tsx
  src/views/ModelPlan/ReadOnly/Table/index.tsx
  src/views/ModelPlan/Table/index.tsx
  src/views/ModelPlan/TaskList/Basics/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Basics/index.test.tsx
  src/views/ModelPlan/TaskList/Basics/index.tsx
Due: eslint, check-code-generation

Add Sample Model Plan to Task List
  src/i18n/en-US/modelPlanTaskList.ts
  src/views/ModelPlan/TaskList/_components/TaskListSideNav/index.tsx
Due: eslint

remove data conditonal since data will always be true since it is wrapped in another data conditonal
  src/views/ModelPlan/TaskList/index.tsx
Due: eslint

update unit tests for needed type, set default value of needed for solution to true
  pkg/graph/resolvers/operational_solution_test.go
  pkg/models/operational_solution.go
Due: none

add unit test for solution and need get by ID
  pkg/graph/resolvers/operational_need_test.go
  pkg/graph/resolvers/operational_solution_test.go
Due: none

Began work on need mapping component
  src/data/operationalNeedMap.ts
  src/queries/ITSolutions/GetOperationalNeedAnswer.ts
  src/queries/ITSolutions/types/GetOperationalNeedAnswer.ts
  src/views/ModelPlan/TaskList/ITSolutions/SelectSolutions/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/NeedQuestionAndAnswer/index.tsx
  src/views/ModelPlan/TaskList/index.tsx
Due: eslint, check-code-generation

Fixed need other table name
  src/views/ModelPlan/TaskList/ITSolutions/Home/operationalNeedsTable.tsx
  src/views/ModelPlan/TaskList/ITSolutions/util.tsx
Due: eslint

update snaps
  src/views/ModelPlan/TaskList/_components/TaskListSideNav/__snapshots__/index.test.tsx.snap
Due: none

Finished UI work for select a solution
  src/components/AskAQuestion/index.tsx
  src/data/operationalNeedMap.ts
  src/index.scss
  src/views/ModelPlan/TaskList/ITSolutions/SelectSolutions/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/NeedQuestionAndAnswer/index.scss
  src/views/ModelPlan/TaskList/ITSolutions/_components/NeedQuestionAndAnswer/index.tsx
Due: eslint

Noref/operational solutions refactor be (#286)
  MINT.postman_collection.json
  migrations/V27__Add_Operational_Solution.sql
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/resolvers/operational_need.go
  pkg/graph/resolvers/operational_need_test.go
  pkg/graph/resolvers/operational_solution.go
  pkg/graph/resolvers/operational_solution_test.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/operational_solution.go
  pkg/storage/SQL/operational_solution_and_possible_get_by_operational_need_id.sql
  pkg/storage/SQL/operational_solution_collection_get_by_operational_need_id.sql
  pkg/storage/SQL/operational_solution_get_by_id.sql
  pkg/storage/SQL/operational_solution_get_by_operational_need_id_and_other_type.sql
  pkg/storage/SQL/operational_solution_get_by_operational_need_id_and_type.sql
  pkg/storage/SQL/operational_solution_insert_or_update.sql
  pkg/storage/SQL/operational_solution_insert_or_update_other.sql
  pkg/storage/SQL/operational_solution_update_by_id.sql
  pkg/storage/operational_solutionStore.go
Due: graphql-schema, check-code-generation

UI tweak
  src/views/ModelPlan/TaskList/ITSolutions/SelectSolutions/index.tsx
Due: eslint

wip
  src/views/ModelPlan/Discussions/index.tsx
Due: eslint

wip
  src/views/ModelPlan/Discussions/DiscussionEntry.tsx
Due: eslint

Path conditions:
  dockerfilelint: any of: Dockerfile.*
  eslint: any of: \.(js|jsx|ts|tsx)$
  graphql-schema: any of: pkg/graph/schema.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts
  check-intake-schema-generation: any of: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json|pkg/cedar/intake/translation/constants\.go
  preprocess-cedar-swagger: any of: pkg/cedar/intake/cedar_intake.json|pkg/cedar/core/cedar_core.json
