Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, tsc-check, graphql-schema, check-code-generation

dockerfilelint:
  name: Lint Dockerfile
  entry: dockerfilelint
  language: node
  additional_dependencies:
  - dockerfilelint

eslint:
  name: Run eslint
  entry: scripts/pre-commit-eslint
  language: script

tsc-check:
  name: Run typescript check
  entry: scripts/pre-commit-tsc
  language: script
  pass_filenames: false

graphql-schema:
  name: Lint GraphQL schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script

check-code-generation:
  name: Run GraphQL code generation
  entry: scripts/pre-commit-check-code-generation
  language: script
  pass_filenames: false

Easi 2550/add user account collaborator (#381)
  cmd/dbseed/resolver_wrappers.go
  migrations/V41__Add_Has_Logged_In_To_User_Account.sql
  pkg/appcontext/context.go
  pkg/authentication/enhanced_jwt.go
  pkg/authentication/user_account.go
  pkg/cedar/cedarldap/translated_client.go
  pkg/graph/resolvers/added_as_collaborator_email_test.go
  pkg/graph/resolvers/model_plan.go
  pkg/graph/resolvers/model_plan_test.go
  pkg/graph/resolvers/plan_collaborator.go
  pkg/graph/resolvers/plan_collaborator_test.go
  pkg/graph/resolvers/resolver_test.go
  pkg/graph/resolvers/resolver_test_utilities.go
  pkg/graph/schema.resolvers.go
  pkg/local/authentication_middleware.go
  pkg/local/cedar_ldap.go
  pkg/models/user_info.go
  pkg/okta/authentication_middleware.go
  pkg/okta/authentication_middleware_test.go
  pkg/storage/SQL/user_account/get_by_username.sql
  pkg/storage/SQL/user_account/insert_by_username.sql
  pkg/storage/SQL/user_account/update_by_username.sql
  pkg/storage/user_accountStore.go
  pkg/userhelpers/user_account_utils.go
  pkg/worker/worker_test.go
  pkg/worker/worker_test_utilities.go
Due: check-code-generation

move data loader code, split out logic where it makes sense
  pkg/graph/resolvers/operational_need.go
  pkg/graph/resolvers/operational_solution.go
  pkg/graph/resolvers/plan_basics.go
  pkg/server/routes.go
  pkg/storage/loaders/data_loader_middleware.go
  pkg/storage/loaders/operational_needs_loader.go
  pkg/storage/loaders/operational_solutions_loader.go
  pkg/storage/loaders/plan_basics_loader.go
Due: none

further separation of the code into logical locations
  pkg/graph/resolvers/operational_need.go
  pkg/graph/resolvers/operational_solution.go
  pkg/graph/resolvers/plan_basics.go
  pkg/server/routes.go
  pkg/storage/loaders/data_loader_helpers.go
  pkg/storage/loaders/data_loader_middleware.go
  pkg/storage/loaders/data_loaders.go
  pkg/storage/loaders/operational_needs_loader.go
  pkg/storage/loaders/operational_solutions_loader.go
  pkg/storage/loaders/plan_basics_loader.go
Due: none

add ADR
  .spelling
  docs/adr/0009-data-loaders.md
Due: none

Update Faktory README
  .spelling
  README.md
  docs/faktory.md
Due: none

updates
  docs/faktory.md
Due: none

Upgraded sass stuff
  .eslintrc
  .storybook/main.js
  craco.config.js
  package.json
  src/components/Footer/index.scss
  src/components/Header/index.scss
  src/components/ITToolsWarning/index.scss
  src/components/Modal/index.scss
  src/components/ModelSubNav/index.scss
  src/components/NavigationBar/index.scss
  src/components/shared/SectionWrapper/index.scss
  src/components/shared/TextField/index.scss
  src/hooks/useCheckMobile.tsx
  src/index.scss
  src/stylesheets/_settings.scss
  src/stylesheets/_uswdsUtilities.scss
  src/stylesheets/_viewports.scss
  src/views/ModelPlan/Discussions/index.scss
  src/views/ModelPlan/ReadOnly/Team/index.scss
  src/views/ModelPlan/ReadOnly/_components/MobileNav/index.scss
  src/views/ModelPlan/ReadOnly/_components/Sidenav/index.scss
  src/views/ModelPlan/ReadOnly/index.scss
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/index.scss
  src/views/ModelPlan/TaskList/_components/TaskListLock/index.scss
  src/views/ModelPlan/TaskList/index.scss
  yarn.lock
Due: eslint, tsc-check

revert .spelling
  .spelling
Due: none

[EASI-2374] Update Status for Operational Needs (#352)
  src/components/Breadcrumbs/index.tsx
  src/components/LinkWrapper/index.tsx
  src/i18n/en-US/draftModelPlan/itSolutions.ts
  src/views/ModelPlan/TaskList/ITSolutions/SelectSolutions/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/SelectSolutions/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/SolutionDetails/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/SolutionImplementation/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/SolutionImplementation/_components/Solution.tsx
  src/views/ModelPlan/TaskList/ITSolutions/SolutionImplementation/index.test.tsx
  src/views/ModelPlan/TaskList/ITSolutions/SolutionImplementation/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionDetailCard/index.stories.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionDetailCard/index.test.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionDetailCard/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/util.test.tsx
  src/views/ModelPlan/TaskList/ITSolutions/util.tsx
Due: eslint, tsc-check

Operational Solution to be returned already deserialized as a map[string][]*OperationalSolutions
  pkg/graph/resolvers/operational_solution.go
  pkg/graph/schema.resolvers.go
  pkg/storage/SQL/operational_solution/and_possible_get_by_operational_need_id_LOADER.sql
  pkg/storage/loaders/operational_solutions_loader.go
  pkg/storage/operational_solutionStore.go
Due: check-code-generation

Update Status page init
  src/views/ModelPlan/TaskList/ITSolutions/Home/UpdateStatus/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/index.tsx
Due: eslint, tsc-check

copy and paste
  src/views/ModelPlan/TaskList/ITSolutions/Home/UpdateStatus/index.tsx
Due: eslint, tsc-check

add new copy
  src/i18n/en-US/draftModelPlan/itSolutions.ts
Due: eslint, tsc-check

update according to figma
  src/views/ModelPlan/TaskList/ITSolutions/Home/UpdateStatus/index.tsx
Due: eslint, tsc-check

wip
  src/views/ModelPlan/TaskList/ITSolutions/Home/UpdateStatus/index.tsx
Due: eslint, tsc-check

Replace use of lo with a map for basics and operational need
  pkg/storage/SQL/operational_solution/and_possible_get_by_operational_need_id_LOADER.sql
  pkg/storage/loaders/operational_needs_loader.go
  pkg/storage/loaders/plan_basics_loader.go
Due: none

Props
  src/views/ModelPlan/TaskList/ITSolutions/index.tsx
Due: eslint, tsc-check

i forgot what i added
  src/views/ModelPlan/TaskList/ITSolutions/Home/UpdateStatus/index.tsx
Due: eslint, tsc-check

wer
  src/views/ModelPlan/TaskList/ITSolutions/Home/UpdateStatus/index.tsx
Due: eslint, tsc-check

remove extra componenent
  src/views/ModelPlan/TaskList/ITSolutions/Home/UpdateStatus/index.tsx
Due: eslint, tsc-check

exported SolutionAsNeed and imported into test
  src/views/ModelPlan/TaskList/ITSolutions/util.test.tsx
  src/views/ModelPlan/TaskList/ITSolutions/util.tsx
Due: eslint, tsc-check

import the correct type
  src/views/ModelPlan/TaskList/ITSolutions/util.test.tsx
  src/views/ModelPlan/TaskList/ITSolutions/util.tsx
Due: eslint, tsc-check

remove unused import
  src/views/ModelPlan/TaskList/ITSolutions/index.tsx
Due: eslint, tsc-check

make isUpdatingStatus prop optinoal
  src/views/ModelPlan/TaskList/ITSolutions/index.tsx
Due: eslint, tsc-check

add more copy
  src/i18n/en-US/draftModelPlan/itSolutions.ts
Due: eslint, tsc-check

add more conditional checks to handle success message and routing
  src/views/ModelPlan/TaskList/ITSolutions/SolutionImplementation/index.tsx
Due: eslint, tsc-check

redo how the submithandler handles
  src/views/ModelPlan/TaskList/ITSolutions/SolutionImplementation/index.tsx
Due: eslint, tsc-check

add new breadcrumb
  src/i18n/en-US/draftModelPlan/itSolutions.ts
Due: eslint, tsc-check

Passing down operational solution id
  src/i18n/en-US/draftModelPlan/itSolutions.ts
Due: eslint, tsc-check

Update Solution Implentation test and snaps
  src/views/ModelPlan/TaskList/ITSolutions/SolutionImplementation/__snapshots__/index.test.tsx.snap
Due: none

conditnioal state prop
  src/views/ModelPlan/TaskList/ITSolutions/SelectSolutions/index.tsx
Due: eslint, tsc-check

updated snaps
  src/views/ModelPlan/TaskList/ITSolutions/SolutionImplementation/__snapshots__/index.test.tsx.snap
Due: none

cleaning up unneccessary prop drilling
  src/views/ModelPlan/TaskList/ITSolutions/SolutionImplementation/_components/Solution.tsx
  src/views/ModelPlan/TaskList/ITSolutions/SolutionImplementation/index.tsx
Due: eslint, tsc-check

Add isUpdatingStatus conditional renders
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionDetailCard/index.tsx
Due: eslint, tsc-check

Solution Card Variant
  src/views/ModelPlan/TaskList/ITSolutions/SolutionImplementation/_components/Solution.tsx
  src/views/ModelPlan/TaskList/ITSolutions/SolutionImplementation/index.tsx
Due: eslint, tsc-check

update snaps
  src/views/ModelPlan/TaskList/ITSolutions/SolutionImplementation/__snapshots__/index.test.tsx.snap
Due: none

remove conditional state
  src/views/ModelPlan/TaskList/ITSolutions/SelectSolutions/index.tsx
Due: eslint, tsc-check

update some rebasing weirdness
  src/views/ModelPlan/TaskList/ITSolutions/util.test.tsx
Due: eslint, tsc-check

Add Solution Detail Card variant to test and snaps
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionDetailCard/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionDetailCard/index.test.tsx
Due: eslint, tsc-check

Tidy up entry sass
  package.json
  src/index.scss
  src/stylesheets/_uswdsUtilities.scss
  yarn.lock
Due: none

Path conditions:
  dockerfilelint: any of: Dockerfile.*
  eslint: any of: \.(js|jsx|ts|tsx)$
  tsc-check: any of: \.(js|jsx|ts|tsx)$
  graphql-schema: any of: pkg/graph/schema.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts
