Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, tsc-check, graphql-schema, check-code-generation

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-yaml
        name: Check YAML formatting
      - id: detect-private-key
        name: Check for private keys
      - id: end-of-file-fixer
        files: \.(sql|scss|md|js|ts|tsx|go|yml|yaml)$
        name: Add newlines to ends of files

  - repo: https://github.com/detailyang/pre-commit-shell
    rev: v1.0.6
    hooks:
      - id: shell-lint
        name: Lint shell files

  - repo: https://github.com/trussworks/pre-commit-hooks
    rev: v1.1.1
    hooks:
      - id: mdspell
        name: Spellcheck Markdown files
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor
          )$

  - repo: https://github.com/Bahjat/pre-commit-golang
    rev: v1.0.1
    hooks:
      - id: go-fmt-import
        name: Run "goimports" on go files
        args: ['-local', 'github.com/cmsgov/mint-app']
        files: .*\.go$
        exclude: >
          (?x)^(
            .*gen/.*|
            .*generated/.*|
            .*models_gen.go|
          )$

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.48.0
    hooks:
      - id: golangci-lint
        name: Lint go files
        args: ['--concurrency', '-1'] # Run with all CPUs

  - repo: local
    hooks:
    - id: dockerfilelint
      name: Lint Dockerfile
      entry: dockerfilelint
      language: node
      additional_dependencies: [dockerfilelint]
      files: Dockerfile.*

  - repo: local
    hooks:
      - id: eslint
        name: Run eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$
        exclude: (\.(d\.ts)$)|(\.storybook)|(serviceWorker\.ts) # This should match the .eslintrc "ignorePatterns". Change one, change the other!

  - repo: local
    hooks:
      - id: tsc-check
        name: Run typescript check
        entry: scripts/pre-commit-tsc
        language: script
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false

  - repo: local
    hooks:
      - id: graphql-schema
        name: Lint GraphQL schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: pkg/graph/schema.graphql

  - repo: local
    hooks:
      - id: check-code-generation
        name: Run GraphQL code generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: "pkg/graph/schema\\.graphql|pkg/graph/schema\\.resolvers\\.go|src/queries/.*\\.ts"
        pass_filenames: false

  - repo: https://github.com/awslabs/git-secrets
    rev: b9e96b3212fa06aea65964ff0d5cda84ce935f38
    hooks:
      - id: git-secrets
        name: Check for committed secrets
        entry: git-secrets --pre_commit_hook

  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 2.0.7
    hooks:
      - id: sqlfluff-fix
        exclude: ^migrations/
      - id: sqlfluff-lint
        exclude: ^migrations/

fix: reverted migration 127 to 4454a5a0f0957a0ddf10a284772c8bc38fd2034c
  migrations/V127__Update_Quality_Performance_Impacts_Payment.sql
Due: none

Changed from YesNoType to Boolean
  MINT.postman_collection.json
  migrations/V138__Add_Claims_Processing_Precedence.sql
  pkg/graph/generated/generated.go
  pkg/graph/gqlresolvers/schema.resolvers.go
  pkg/graph/schema.graphql
  pkg/models/plan_payments.go
  src/gql/apolloGQL/Payments/GetAllPayments.ts
  src/gql/apolloGQL/Payments/GetComplexity.ts
  src/gql/gen/graphql.ts
  src/gql/gen/types/GetAllPayments.ts
  src/gql/gen/types/GetComplexity.ts
  src/i18n/en-US/modelPlan/payments.ts
  src/queries/GetAllModelData.ts
  src/queries/GetAllSingleModelPlan.ts
  src/queries/types/GetAllModelData.ts
  src/queries/types/GetAllSingleModelData.ts
  src/types/graphql-global-types.ts
  src/types/translation.ts
  src/views/ModelPlan/TaskList/Payment/Complexity/index.tsx
Due: eslint, tsc-check, graphql-schema, check-code-generation

Changed from Yes to Other
  migrations/V138__Add_Claims_Processing_Precedence.sql
  pkg/graph/schema.graphql
  pkg/models/plan_payments.go
  pkg/storage/SQL/plan_payments/create.sql
  pkg/storage/SQL/plan_payments/get_by_id.sql
  pkg/storage/SQL/plan_payments/get_by_model_plan_id_LOADER.sql
  pkg/storage/SQL/plan_payments/update.sql
  src/views/ModelPlan/TaskList/Payment/Complexity/index.tsx
Due: eslint, tsc-check, graphql-schema, check-code-generation

Update migration to properly handle existing data
  migrations/V138__CR_TDL_Designation.sql
Due: none

Changed from Yes to Other FE
  pkg/graph/generated/generated.go
  pkg/graph/gqlresolvers/schema.resolvers.go
  pkg/graph/resolvers/plan_payments_test.go
  src/data/mock/readonly.ts
  src/gql/apolloGQL/Payments/GetAllPayments.ts
  src/gql/apolloGQL/Payments/GetComplexity.ts
  src/gql/gen/graphql.ts
  src/gql/gen/types/GetAllPayments.ts
  src/gql/gen/types/GetComplexity.ts
  src/i18n/en-US/modelPlan/payments.ts
  src/queries/GetAllModelData.ts
  src/queries/GetAllSingleModelPlan.ts
  src/queries/types/GetAllModelData.ts
  src/queries/types/GetAllSingleModelData.ts
  src/types/graphql-global-types.ts
  src/types/translation.ts
  src/views/ModelPlan/ReadOnly/Payments/index.tsx
  src/views/ModelPlan/TaskList/Payment/Complexity/index.test.tsx
  src/views/ModelPlan/TaskList/Payment/Complexity/index.tsx
Due: eslint, tsc-check, check-code-generation

[NOREF] Revert migration 127 to 4454a5a (#910)
  migrations/V127__Update_Quality_Performance_Impacts_Payment.sql
Due: none

feat: add constraints and update audit table config
  migrations/V134__Add_Field_Name_To_Existing_Model_Link.sql
Due: none

update gen char authority page
  src/views/ModelPlan/TaskList/GeneralCharacteristics/Authority/index.tsx
Due: eslint, tsc-check

feat: add upcoming field enum to test constraints
  migrations/V134__Add_Field_Name_To_Existing_Model_Link.sql
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/models/existing_model_link.go
Due: graphql-schema, check-code-generation

Added new fields to form and readonly
  migrations/V138__Add_Claims_Processing_Precedence.sql
  pkg/storage/SQL/plan_payments/update.sql
  src/i18n/en-US/modelPlan/payments.ts
  src/utils/export/CsvData.ts
  src/views/ModelPlan/ReadOnly/Payments/index.tsx
  src/views/ModelPlan/TaskList/Payment/Complexity/index.tsx
Due: eslint, tsc-check

Added cypress test
  cypress/e2e/payments.spec.js
Due: eslint, tsc-check

Updated snaps
  src/components/ShareExport/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/Payments/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Payment/Complexity/__snapshots__/index.test.tsx.snap
Due: none

Fixed Bool spell
  migrations/V138__Add_Claims_Processing_Precedence.sql
Due: none

update gen char targets and options page
  src/views/ModelPlan/TaskList/GeneralCharacteristics/TargetsAndOptions/index.tsx
Due: eslint, tsc-check

removed array helper in opsevl and learning page
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/index.tsx
Due: eslint, tsc-check

feat: update data loader to return data by compound key
  pkg/graph/gqlresolvers/schema.resolvers.go
  pkg/storage/loaders/existing_model_link_loader.go
Due: none

remove array helper in evaluation page
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/Evaluation/index.tsx
Due: eslint, tsc-check

feat: update postman collection for existing model links
  MINT.postman_collection.json
Due: none

remove fieldarray in iddocc testing
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/IDDOCTesting/index.tsx
Due: eslint, tsc-check

remove fieldarray in learning page
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/Learning/index.tsx
Due: eslint, tsc-check

remove field array in few more pages
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/Communication/index.tsx
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/ProviderOptions/index.tsx
Due: eslint, tsc-check

fixing the label htmlfor
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/IDDOCTesting/index.tsx
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/Learning/index.tsx
Due: eslint, tsc-check

update snaps
  src/views/ModelPlan/TaskList/GeneralCharacteristics/Authority/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/GeneralCharacteristics/TargetsAndOptions/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/Evaluation/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/IDDOCTesting/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/Learning/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/Communication/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/ProviderOptions/__snapshots__/index.test.tsx.snap
Due: none

clean up radio button compoents
  src/views/ModelPlan/TaskList/Beneficiaries/PeopleImpact/index.tsx
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/ParticipantOptions/index.tsx
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/ProviderOptions/index.tsx
  src/views/ModelPlan/TaskList/Payment/Complexity/index.tsx
Due: eslint, tsc-check

feat: expose fieldName and modelPlanID on ExistingModelLinks type
  pkg/graph/generated/generated.go
  pkg/graph/gqlresolvers/schema.resolvers.go
  pkg/graph/resolvers/exisiting_model_link.go
  pkg/graph/schema.graphql
  pkg/models/existing_model_link.go
Due: graphql-schema, check-code-generation

chore: rename migration
  migrations/V138__Add_Field_Name_To_Existing_Model_Link.sql
Due: none

feat: first pass return an array of names for a collection of Existing Model Links
  pkg/graph/gqlresolvers/schema.resolvers.go
  pkg/graph/resolvers/exisiting_model_link.go
  pkg/models/existing_model_link.go
  pkg/storage/SQL/existing_model_link/get_names_by_model_plan_id_and_field_name_LOADER.sql
  pkg/storage/existing_model_linkStore.go
  pkg/storage/loaders/data_loaders.go
  pkg/storage/loaders/existing_model_link_loader.go
Due: none

feat: correct bad unit test, add first unit test for getting names
  pkg/graph/resolvers/existing_model_link_test.go
Due: none

WIP for validating flyway migrations in CI
  .github/workflows/check_migrations.yml
Due: none

Example migration for base branch
  migrations/V138__Example_Migration.sql
Due: none

Example migration for feature branch
  migrations/V138__Another_Example_Migration.sql
Due: none

Update check migrations script
  .github/workflows/check_migrations.yml
Due: none

feat: add ordering to the names query
  pkg/storage/SQL/existing_model_link/get_names_by_model_plan_id_and_field_name_LOADER.sql
Due: none

feat: add unit test to make sure only relevant fields are returned
  pkg/graph/gqlresolvers/schema.resolvers.go
  pkg/graph/resolvers/exisiting_model_link.go
  pkg/graph/resolvers/existing_model_link_test.go
Due: none

chore: remove old comments
  pkg/models/existing_model_link.go
  pkg/storage/existing_model_linkStore.go
  pkg/storage/loaders/existing_model_link_loader.go
Due: none

chore: remove old todo
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
Due: graphql-schema, check-code-generation

feat: separate cr and tdl tables in migration
  migrations/V138__CR_TDL_Designation.sql
  migrations/V138__Plan_CR_TDL_To_CR_Table.sql
  migrations/V139__Plan_TDL_table.sql
Due: none

feat: cr tdl models declared in separate files
  pkg/models/plan_cr.go
  pkg/models/plan_tdl.go
Due: none

feat: sql queries to their own folders
  pkg/storage/SQL/plan_cr/collection_by_model_plan_id.sql
  pkg/storage/SQL/plan_cr/create.sql
  pkg/storage/SQL/plan_cr/delete.sql
  pkg/storage/SQL/plan_cr/get.sql
  pkg/storage/SQL/plan_cr/update.sql
  pkg/storage/SQL/plan_tdl/collection_by_model_plan_id.sql
  pkg/storage/SQL/plan_tdl/create.sql
  pkg/storage/SQL/plan_tdl/delete.sql
  pkg/storage/SQL/plan_tdl/get.sql
  pkg/storage/SQL/plan_tdl/update.sql
Due: none

feat: cr and tdl to separate resolver files
  pkg/graph/resolvers/plan_cr.go
  pkg/graph/resolvers/plan_tdl.go
Due: none
