Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, tsc-check, graphql-schema, check-code-generation

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-yaml
        name: Check YAML formatting
      - id: detect-private-key
        name: Check for private keys
      - id: end-of-file-fixer
        files: \.(sql|scss|md|js|ts|tsx|go|yml|yaml)$
        name: Add newlines to ends of files

  - repo: https://github.com/detailyang/pre-commit-shell
    rev: v1.0.6
    hooks:
      - id: shell-lint
        name: Lint shell files

  - repo: https://github.com/trussworks/pre-commit-hooks
    rev: v1.1.1
    hooks:
      - id: mdspell
        name: Spellcheck Markdown files
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor
          )$

  - repo: https://github.com/Bahjat/pre-commit-golang
    rev: v1.0.1
    hooks:
      - id: go-fmt-import
        name: Run "goimports" on go files
        args: ['-local', 'github.com/cmsgov/mint-app']
        files: .*\.go$
        exclude: >
          (?x)^(
            .*gen/.*|
            .*generated/.*|
            .*models_gen.go|
          )$

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.48.0
    hooks:
      - id: golangci-lint
        name: Lint go files
        args: ['--concurrency', '-1'] # Run with all CPUs

  - repo: local
    hooks:
    - id: dockerfilelint
      name: Lint Dockerfile
      entry: dockerfilelint
      language: node
      additional_dependencies: [dockerfilelint]
      files: Dockerfile.*

  - repo: local
    hooks:
      - id: eslint
        name: Run eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$
        exclude: (\.(d\.ts)$)|(\.storybook)|(serviceWorker\.ts) # This should match the .eslintrc "ignorePatterns". Change one, change the other!

  - repo: local
    hooks:
      - id: tsc-check
        name: Run typescript check
        entry: scripts/pre-commit-tsc
        language: script
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false

  - repo: local
    hooks:
      - id: graphql-schema
        name: Lint GraphQL schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: pkg/graph/schema.graphql

  - repo: local
    hooks:
      - id: check-code-generation
        name: Run GraphQL code generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: "pkg/graph/schema\\.graphql|pkg/graph/schema\\.resolvers\\.go|src/queries/.*\\.ts"
        pass_filenames: false

  - repo: https://github.com/awslabs/git-secrets
    rev: b9e96b3212fa06aea65964ff0d5cda84ce935f38
    hooks:
      - id: git-secrets
        name: Check for committed secrets
        entry: git-secrets --pre_commit_hook

  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 2.0.7
    hooks:
      - id: sqlfluff-fix
        exclude: ^migrations/
      - id: sqlfluff-lint
        exclude: ^migrations/

commented and removed stuff no needed right now
  src/i18n/en-US/draftModelPlan/documents.ts
  src/views/ModelPlan/Documents/AddDocument/LinkDocument.tsx
Due: eslint, tsc-check

Update snap
  src/views/ModelPlan/TaskList/ITSolutions/LinkDocuments/__snapshots__/index.test.tsx.snap
Due: none

modernize the transaltions
  src/i18n/en-US/modelPlanTaskList.ts
  src/views/ModelPlan/TaskList/index.tsx
Due: eslint, tsc-check

Fixed styling on footer than made it expand vertically on large screens (#731)
  src/components/Footer/index.tsx
Due: eslint, tsc-check

add isLink and url to the getModelPlanDocuments query and types
  src/queries/Documents/GetModelPlanDocuments.ts
  src/queries/Documents/types/GetModelPlanDocuments.ts
  src/views/ModelPlan/Documents/index.test.tsx
  src/views/ModelPlan/Documents/table.tsx
Due: eslint, tsc-check, check-code-generation

Update snap and added missing solution enum
  src/views/HelpAndKnowledge/SolutionsHelp/solutionsMap.tsx
  src/views/ModelPlan/TaskList/ITSolutions/SelectSolutions/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/Subtasks/__snapshots__/index.test.tsx.snap
Due: eslint, tsc-check

Add comments for clarity
  src/hooks/useHelpSolutions.ts
Due: eslint, tsc-check

add external link to document table
  src/i18n/en-US/draftModelPlan/documents.ts
  src/views/ModelPlan/Documents/table.tsx
Due: eslint, tsc-check

rearranging the elements
  src/i18n/en-US/draftModelPlan/itSolutions.ts
  src/views/ModelPlan/TaskList/ITSolutions/SolutionDetails/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/SubtasksTable/index.tsx
Due: eslint, tsc-check

rearranging the elements
  src/views/ModelPlan/TaskList/ITSolutions/SolutionDetails/index.tsx
Due: eslint, tsc-check

Ran gql
  src/gql/gen/graphql.ts
Due: eslint, tsc-check

Linking solution updates
  src/i18n/en-US/draftModelPlan/documents.ts
  src/views/ModelPlan/TaskList/ITSolutions/LinkDocuments/index.tsx
Due: eslint, tsc-check

link link documents
  src/i18n/en-US/draftModelPlan/documents.ts
  src/views/ModelPlan/Documents/AddDocument/LinkDocument.tsx
Due: eslint, tsc-check

Addressed UX findings
  src/components/Footer/index.tsx
  src/stylesheets/custom.scss
  src/views/Feedback/ReportAProblem/index.tsx
  src/views/Feedback/SendFeedback/index.tsx
Due: eslint, tsc-check

Updated snaps
  src/views/Feedback/ReportAProblem/__snapshots__/index.test.tsx.snap
  src/views/Feedback/SendFeedback/__snapshots__/index.test.tsx.snap
Due: none

WIP Pass converting Basics pages off of apollo codegen
  src/components/BooleanRadioForm/index.tsx
  src/components/ReadyForReview/index.tsx
  src/components/shared/DatePicker/index.tsx
  src/gql/apolloGQL/Basics/GetBasics.ts
  src/gql/apolloGQL/Basics/GetMilestones.ts
  src/gql/apolloGQL/Basics/GetModelPlanInfo.ts
  src/gql/apolloGQL/Basics/UpdatePlanBasics.ts
  src/gql/gen/gql.ts
  src/gql/gen/graphql.ts
  src/queries/Basics/GetBasics.ts
  src/queries/Basics/GetMilestones.ts
  src/queries/Basics/GetModelPlanInfo.ts
  src/queries/Basics/types/GetBasics.ts
  src/queries/Basics/types/GetMilestones.ts
  src/queries/Basics/types/GetModelPlanInfo.ts
  src/queries/Basics/types/UpdatePlanBasics.ts
  src/types/translation.ts
  src/utils/date.ts
  src/views/ModelPlan/TaskList/Basics/Milestones/index.test.tsx
  src/views/ModelPlan/TaskList/Basics/Milestones/index.tsx
  src/views/ModelPlan/TaskList/Basics/Overview/index.test.tsx
  src/views/ModelPlan/TaskList/Basics/Overview/index.tsx
  src/views/ModelPlan/TaskList/Basics/index.test.tsx
  src/views/ModelPlan/TaskList/Basics/index.tsx
  src/views/Unfollow/index.tsx
Due: eslint, tsc-check, check-code-generation

Updated/fixed email styling
  pkg/email/templates/report_a_problem_body.html
  pkg/email/templates/send_feedback_body.html
Due: none

feat: correct email punctuation, correct hyphenation. Expand test command to send these emails as well
  cmd/test_email/main.go
  pkg/email/templates/send_feedback_body.html
  pkg/graph/resolvers/send_feedback_email.go
Due: none

[NOREF] - Feedback form UX findings (#733)
  cmd/test_email/main.go
  pkg/email/templates/report_a_problem_body.html
  pkg/email/templates/send_feedback_body.html
  pkg/graph/resolvers/send_feedback_email.go
  src/components/Footer/index.tsx
  src/stylesheets/custom.scss
  src/views/Feedback/ReportAProblem/__snapshots__/index.test.tsx.snap
  src/views/Feedback/ReportAProblem/index.tsx
  src/views/Feedback/SendFeedback/__snapshots__/index.test.tsx.snap
  src/views/Feedback/SendFeedback/index.tsx
Due: eslint, tsc-check

feat: WIP sql and tags WIP from POC branch
  go.mod
  go.sum
  gqlgen.yml
  migrations/V107__Add_Tag_Table.sql
  pkg/models/tag.go
  pkg/models/tagged_html.go
  pkg/models/tagged_html_test.go
  pkg/sanitization/html.go
  pkg/storage/SQL/possible_operational_solution/get_by_id.sql
  pkg/storage/SQL/tag/create.sql
  pkg/storage/SQL/tag/get_by_id.sql
  pkg/storage/SQL/tag/get_by_table_field_and_content_id.sql
  pkg/storage/plan_discussionStore.go
  pkg/storage/possible_operational_solutionStore.go
  pkg/storage/tagStore.go
Due: none

Consider links clean by default
  pkg/storage/plan_documentStore.go
Due: none

feat: only populate other in the email if not nil or empty string
  pkg/graph/resolvers/send_feedback_email.go
Due: none

feat: remove unnecessary comment
  pkg/graph/resolvers/send_feedback_email.go
Due: none

feat: only populate other in the email if not nil or empty string (#735)
  pkg/graph/resolvers/send_feedback_email.go
Due: none

changing verbiage from linking to connecting
  src/i18n/en-US/draftModelPlan/documents.ts
  src/views/ModelPlan/Documents/table.tsx
Due: eslint, tsc-check

passing down document name to the handle
  src/i18n/en-US/draftModelPlan/documents.ts
  src/views/ModelPlan/Documents/table.tsx
  src/views/ModelPlan/TaskList/ITSolutions/SolutionDetails/index.tsx
Due: eslint, tsc-check

new document removal success and failure prompts
  src/i18n/en-US/draftModelPlan/documents.ts
  src/views/ModelPlan/Documents/table.tsx
Due: eslint, tsc-check

last cell padding right
  src/views/ModelPlan/Documents/table.tsx
Due: eslint, tsc-check

GetOperationalSolution query and types
  src/queries/ITSolutions/GetOperationalSolution.ts
  src/queries/ITSolutions/types/GetOperationalSolution.ts
Due: eslint, tsc-check, check-code-generation

update snaps
  src/views/ModelPlan/Documents/AddDocument/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/Documents/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/Documents/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/LinkDocuments/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/LinkDocuments/index.test.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/SubtasksTable/__snapshots__/index.test.tsx.snap
Due: eslint, tsc-check

update cypres test
  cypress/e2e/documents.spec.js
Due: eslint, tsc-check

add a bit more validation
  src/i18n/en-US/draftModelPlan/documents.ts
  src/validations/documentUploadSchema.ts
Due: eslint, tsc-check

feat: WIP add tags to the DB.
  cmd/test_email/main.go
  gqlgen.yml
  pkg/authentication/user_account.go
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/resolvers/auditing_paradigm_test.go
  pkg/graph/resolvers/plan_discussion.go
  pkg/graph/resolvers/plan_discussion_test.go
  pkg/graph/resolvers/possible_operational_solution.go
  pkg/graph/resolvers/resolver_test.go
  pkg/graph/resolvers/tag.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/plan_discussion.go
  pkg/models/possible_operational_solution.go
  pkg/models/tagged_html.go
  pkg/worker/worker_test.go
  src/gql/gen/graphql.ts
  src/queries/CreateModelPlanReply.ts
  src/queries/Discussions/CreateModelPlanDiscussion.ts
  src/queries/Discussions/GetModelPlanDiscussions.ts
  src/queries/Discussions/types/CreateModelPlanDiscussion.ts
  src/queries/Discussions/types/GetModelPlanDiscussions.ts
  src/queries/GetAllModelData.ts
  src/queries/GetAllSingleModelPlan.ts
  src/queries/GetModelPlan.ts
  src/queries/types/CreateModelPlanReply.ts
  src/queries/types/GetAllModelData.ts
  src/queries/types/GetAllSingleModelData.ts
  src/queries/types/GetModelPlan.ts
  src/types/graphql-global-types.ts
Due: eslint, tsc-check, graphql-schema, check-code-generation

Began email template standardization
  pkg/email/template_service_impl.go
  pkg/email/templates/added_as_collaborator_body.html
  pkg/email/templates/model_plan_created_body.html
  pkg/email/templates/model_plan_date_changed_body.html
  pkg/email/templates/model_plan_share_body.html
  pkg/email/templates/plan_discussion_created_body.html
  pkg/email/templates/send_feedback_body.html
  pkg/email/templates/shared_footer.html
  pkg/email/templates/shared_header.html
  pkg/email/templates/shared_header_old.html
  pkg/email/templates/shared_style.html
Due: none

Revert gqlgen upgrade
  go.mod
  go.sum
Due: none

Add provinence: false to all build-push-action calls
  .github/workflows/build_application_images.yml
Due: none

feat: WIP connected entity resolver
  cmd/test_email/main.go
  migrations/V107__Add_Tag_Table.sql
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/plan_discussion.go
  pkg/graph/resolvers/tag.go
  pkg/graph/schema.resolvers.go
  pkg/models/plan_discussion.go
  pkg/models/tag.go
  pkg/models/tagged_html.go
  pkg/models/tagged_html_test.go
  pkg/storage/plan_discussionStore.go
  pkg/storage/tagStore.go
Due: check-code-generation

Collaborator email updates
  pkg/email/templates/added_as_collaborator_body.html
  pkg/email/templates/shared_header.html
Due: none

Added more email updates
  pkg/email/templates/model_plan_created_body.html
  pkg/email/templates/model_plan_date_changed_body.html
  pkg/email/templates/model_plan_share_body.html
Due: none
