Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, tsc-check, graphql-schema, check-code-generation

dockerfilelint:
  name: Lint Dockerfile
  entry: dockerfilelint
  language: node
  additional_dependencies:
  - dockerfilelint

eslint:
  name: Run eslint
  entry: scripts/pre-commit-eslint
  language: script

tsc-check:
  name: Run typescript check
  entry: scripts/pre-commit-tsc
  language: script
  pass_filenames: false

graphql-schema:
  name: Lint GraphQL schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script

check-code-generation:
  name: Run GraphQL code generation
  entry: scripts/pre-commit-check-code-generation
  language: script
  pass_filenames: false

chore: updated prod mac user job codes to probable end result
  pkg/okta/authentication_middleware.go
Due: none

Enable IMPL deploys
  .github/workflows/deploy_pipeline.yml
Due: none

Added missing isMAC useMemo dependency
  src/views/ModelPlan/Table/index.tsx
Due: eslint, tsc-check

[EASI-2498] Enable IMPL deploys in GitHub actions (#342)
  .github/workflows/deploy_pipeline.yml
Due: none

[EASI-2484] Remove "More team members" link from the read-only Team sub-page (#340)
  src/views/ModelPlan/ReadOnly/_components/ContactInfo/index.tsx
  src/views/ModelPlan/ReadOnly/index.tsx
Due: eslint, tsc-check

Added missing isMAC useMemo dependency (#343)
  src/views/ModelPlan/Table/index.tsx
Due: eslint, tsc-check

Updated lockfile
  yarn.lock
Due: none

Modify eslint to allow no warnings
  .eslintrc
  .pre-commit-config.yaml
  scripts/pre-commit-eslint
Due: none

split out each upload to function, capture DB errors for review
  cmd/backfill/backfillEntry.go
  cmd/backfill/main.go
  cmd/backfill/translation.go
  cmd/backfill/uploader.go
Due: none

Use default logout URI
  src/views/TimeOutWrapper/index.tsx
Due: eslint, tsc-check

Easi 2503/crtdl model collection filter (#337)
  MINT.postman_collection.json
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/resolvers/model_plan.go
  pkg/graph/resolvers/model_plan_test.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/storage/SQL/model_plan/collection_with_crtdl.sql
  pkg/storage/model_planStore.go
  src/queries/GetAllModelData.ts
  src/queries/GetModelPlans.ts
  src/queries/ReadOnly/GetAllModelPlans.ts
  src/queries/ReadOnly/types/GetAllModelPlans.ts
  src/queries/types/GetAllModelData.ts
  src/queries/types/GetModelPlans.ts
  src/types/graphql-global-types.ts
  src/utils/export/CsvExportLink.tsx
  src/views/ModelPlan/ModelPlanOverview/index.tsx
  src/views/ModelPlan/Table/index.tsx
Due: eslint, tsc-check, graphql-schema, check-code-generation

NOFO type, updated snaps and merged in main
  src/i18n/en-US/draftModelPlan/participantsAndProviders.ts
  src/views/ModelPlan/TaskList/ParticipantsAndProviders/ParticipantOptions/__snapshots__/index.test.tsx.snap
Due: eslint, tsc-check

Update Status page init
  src/views/ModelPlan/TaskList/ITSolutions/Home/UpdateStatus/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/index.tsx
Due: eslint, tsc-check

add tests, fixes
  pkg/email/templates/daily_digest_body.template
  pkg/email/templates/daily_digest_subject.template
  pkg/email/templates/editme/daily_digest_body_editme.template
  pkg/models/analyzed_audit.go
  pkg/server/routes.go
  pkg/storage/SQL/plan_collaborator/fetch_latest_by_eua_id.sql
  pkg/storage/plan_collaboratorStore.go
  pkg/worker/analyzed_audit.go
  pkg/worker/analyzed_audit_test.go
  pkg/worker/daily_digest.go
  pkg/worker/daily_digest_test.go
  pkg/worker/worker.go
  pkg/worker/worker_test.go
  pkg/worker/worker_test_utilities.go
Due: none

cleanup
  pkg/graph/resolvers/plan_collaborator.go
Due: none

update copy
  src/i18n/en-US/draftModelPlan/itSolutions.ts
Due: eslint, tsc-check

copy and paste
  src/views/ModelPlan/TaskList/ITSolutions/Home/UpdateStatus/index.tsx
Due: eslint, tsc-check

[NOREF] Use default logout URI (#345)
  src/views/TimeOutWrapper/index.tsx
Due: eslint, tsc-check

add possible users, and also add team members
  cmd/backfill/data/dataTranslationFull.csv
  cmd/backfill/data/possibleUsers.json
  cmd/backfill/uploader.go
Due: none

add client address, add docs
  .spelling
  pkg/email/daily_digest.go
  pkg/email/templates/daily_digest_body.template
  pkg/email/templates/editme/daily_digest_body_editme.template
  pkg/email/templates/email_templates.md
  pkg/graph/resolvers/plan_collaborator.go
  pkg/worker/daily_digest.go
  pkg/worker/daily_digest_test.go
Due: none

reorganize code
  pkg/models/analyzed_audit.go
Due: none

[NOREF] - Update READMEs / Docs (#328)
  .spelling
  README.md
  docs/cedar.md
  docs/dev_environment_setup.md
  docs/dev_script_usage.md
  docs/docker_compose.md
  docs/frontend.md
  docs/local_testing.md
  docs/operations/add_ssl_certificate.md
  docs/operations/backfill.md
  docs/operations/deployment_process.md
  docs/operations/metrics.md
  pkg/README.md
  src/README.md
Due: none

Updated alert for no models on mac experience
  src/i18n/en-US/home.ts
  src/views/ModelPlan/Table/index.tsx
Due: eslint, tsc-check

Updated alert verbiage for no crtdl models
  src/i18n/en-US/home.ts
  src/views/ModelPlan/Table/index.tsx
Due: eslint, tsc-check

cleanup
  pkg/graph/resolvers/plan_collaborator.go
  pkg/models/analyzed_audit.go
Due: none

Updated NeedQuestionAndAnswer and SolutionCard components for new SolutionDetails component implementation
  src/i18n/en-US/draftModelPlan/itSolutions.ts
  src/queries/ITSolutions/GetOperationalSolution.ts
  src/queries/ITSolutions/types/GetOperationalSolution.ts
  src/views/ModelPlan/TaskList/ITSolutions/AddCustomSolution/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/Home/operationalNeedsTable.tsx
  src/views/ModelPlan/TaskList/ITSolutions/SolutionDetails/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/NeedQuestionAndAnswer/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionCard/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionDetailCard/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/util.test.tsx
  src/views/ModelPlan/TaskList/ITSolutions/util.tsx
Due: eslint, tsc-check, check-code-generation

Finished UI for SolutionDetails component
  src/i18n/en-US/draftModelPlan/itSolutions.ts
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionDetailCard/index.tsx
Due: eslint, tsc-check

Added hash to SelectedSolutions to conditionally render UI
  src/i18n/en-US/draftModelPlan/itSolutions.ts
  src/views/ModelPlan/TaskList/ITSolutions/SelectSolutions/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionDetailCard/index.tsx
Due: eslint, tsc-check

UI adjustments
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionCard/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionDetailCard/index.tsx
Due: eslint, tsc-check

Convert instances of 'APP_ENV=test' to 'APP_ENV=testing' for facilitating having an environment called 'test'
  .github/workflows/run_tests.yml
  cmd/mint/test.go
  docker-compose.cypress_ci.yml
  docker-compose.cypress_local.yml
  docs/local_testing.md
  scripts/check_deployed_image_findings
  scripts/release_static
Due: none

Create new env in pkg/appconfig to facilitate testing as a replacement for test
  pkg/appconfig/config.go
  pkg/appconfig/config_test.go
  pkg/server/routes.go
Due: none

working on enum translation for invalid type error
  cmd/backfill/backfiller.go
  cmd/backfill/data/enumTranslations.json
  cmd/backfill/enumTranslation.go
  cmd/backfill/main.go
  cmd/backfill/translation.go
Due: none

Add testing env to NewEnvironment
  pkg/appconfig/config.go
Due: none

Changed update solution hash to new route
  src/views/ModelPlan/TaskList/ITSolutions/SelectSolutions/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/SolutionImplementation/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/_components/SolutionDetailCard/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/index.tsx
Due: eslint, tsc-check

[EASI-2491] - Change Job Codes Depending on Environment (#338)
  pkg/okta/authentication_middleware.go
  pkg/okta/authentication_middleware_test.go
  pkg/server/routes.go
Due: none

try to convert enums if type is not handled
  cmd/backfill/backfiller.go
  cmd/backfill/data/enumTranslations.json
  cmd/backfill/enumTranslation.go
  cmd/backfill/main.go
  cmd/backfill/translation.go
  cmd/backfill/uploader.go
Due: none

update translations
  cmd/backfill/data/enumTranslations.json
Due: none

clarify logging, handle edge case for field defined by multiple sharepoint entries
  cmd/backfill/backfillEntry.go
  cmd/backfill/enumTranslation.go
  cmd/backfill/main.go
  cmd/backfill/translation.go
  cmd/backfill/uploader.go
Due: none

dont show or create empty values in AnalyzedAuditChange, dont create analyzed audit if no changes, updates/cleanup
  .spelling
  pkg/email/templates/daily_digest_body.template
  pkg/email/templates/editme/daily_digest_body_editme.template
  pkg/email/templates/email_templates.md
  pkg/models/analyzed_audit.go
  pkg/worker/analyzed_audit.go
  pkg/worker/analyzed_audit_test.go
  pkg/worker/daily_digest_test.go
  pkg/worker/worker_test.go
Due: none

Path conditions:
  dockerfilelint: any of: Dockerfile.*
  eslint: any of: \.(js|jsx|ts|tsx)$
  tsc-check: any of: \.(js|jsx|ts|tsx)$
  graphql-schema: any of: pkg/graph/schema.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts
