Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, tsc-check, graphql-schema, check-code-generation

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch
        args: [
          '--pattern', '^(?!((main)|(feature\/EASI-\d{1,5})|((EASI-\d{1,5}|NOREF|dependabot)\/[a-zA-Z0-9\-\._/]+))$).*',
          '--branch', '' # Adding this to remove the default protection on `main` so that CI checks can pass
        ]
        name: Enforce branch naming patterns
        description: Enforces branch naming policy. Allowed branch patterns are 'EASI-#', 'EASI-#/*', 'feature/EASI-#', 'NOREF/*', and 'dependabot/*'. A feature branch like feature/EASI-2020 would have branches like EASI-2020/frontend and EASI-2020/backend merge into it.
      - id: check-yaml
        name: Check YAML formatting
      - id: detect-private-key
        name: Check for private keys
      - id: end-of-file-fixer
        files: \.(sql|scss|md|js|ts|tsx|go|yml|yaml)$
        name: Add newlines to ends of files

  - repo: https://github.com/detailyang/pre-commit-shell
    rev: v1.0.6
    hooks:
      - id: shell-lint
        name: Lint shell files

  - repo: https://github.com/trussworks/pre-commit-hooks
    rev: v1.1.1
    hooks:
      - id: mdspell
        name: Spellcheck Markdown files
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor
          )$

  - repo: https://github.com/Bahjat/pre-commit-golang
    rev: v1.0.1
    hooks:
      - id: go-fmt-import
        name: Run "goimports" on go files
        args: ['-local', 'github.com/cmsgov/mint-app']
        files: .*\.go$
        exclude: >
          (?x)^(
            .*gen/.*|
            .*generated/.*|
            .*models_gen.go|
          )$

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.48.0
    hooks:
      - id: golangci-lint
        name: Lint go files
        args: ['--concurrency', '-1'] # Run with all CPUs

  - repo: local
    hooks:
    - id: dockerfilelint
      name: Lint Dockerfile
      entry: dockerfilelint
      language: node
      additional_dependencies: [dockerfilelint]
      files: Dockerfile.*

  - repo: local
    hooks:
      - id: eslint
        name: Run eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$

  - repo: local
    hooks:
      - id: tsc-check
        name: Run typescript check
        entry: scripts/pre-commit-tsc
        language: script
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false

  - repo: local
    hooks:
      - id: graphql-schema
        name: Lint GraphQL schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: pkg/graph/schema.graphql

  - repo: local
    hooks:
      - id: check-code-generation
        name: Run GraphQL code generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: "pkg/graph/schema\\.graphql|pkg/graph/schema\\.resolvers\\.go|src/queries/.*\\.ts"
        pass_filenames: false

  - repo: https://github.com/awslabs/git-secrets
    rev: b9e96b3212fa06aea65964ff0d5cda84ce935f38
    hooks:
      - id: git-secrets
        name: Check for committed secrets
        entry: git-secrets --pre_commit_hook

  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 1.2.1
    hooks:
      - id: sqlfluff-fix
        exclude: ^scripts/data/
      - id: sqlfluff-lint
        exclude: ^scripts/data/

disentangle OktaAccountInfo From AccountInfo, add wrapper function to convert the type
  cmd/dbseed/resolver_wrappers.go
  pkg/graph/resolvers/plan_collaborator.go
  pkg/graph/resolvers/resolver_test_utilities.go
  pkg/local/authentication_middleware.go
  pkg/okta/authentication_middleware.go
  pkg/okta/authentication_middleware_test.go
  pkg/userhelpers/user_account_utils.go
  pkg/worker/worker_test_utilities.go
Due: none

alias delegate functions as types, modelPlanCreate and planCollaborator create take a GetAccountInfoFunc instead of userInfoFunc
  cmd/dbseed/resolver_wrappers.go
  pkg/graph/resolvers/added_as_collaborator_email_test.go
  pkg/graph/resolvers/model_plan.go
  pkg/graph/resolvers/model_plan_test.go
  pkg/graph/resolvers/plan_collaborator.go
  pkg/graph/resolvers/plan_collaborator_test.go
  pkg/graph/resolvers/resolver_test.go
  pkg/graph/schema.resolvers.go
  pkg/userhelpers/user_account_utils.go
  pkg/worker/worker_test.go
Due: check-code-generation

WIP (no tests) for number of solution links for a given document
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/plan_document.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/storage/SQL/plan_document/num_links_by_document_id.sql
  pkg/storage/plan_documentStore.go
Due: graphql-schema, check-code-generation

Added tests for PlanDocumentNumLinkedSolutions. Moved PlanDocumentNumLinkedSolutions functions to solution links files, rather than plan document files
  pkg/graph/resolvers/plan_document.go
  pkg/graph/resolvers/plan_document_solution_links.go
  pkg/graph/resolvers/plan_document_solution_links_test.go
  pkg/storage/SQL/plan_document_solution/num_links_by_document_id.sql
  pkg/storage/plan_documentStore.go
  pkg/storage/plan_document_solution_linksStore.go
Due: none

Update uploader to use user account information rather than the user info struct
  cmd/backfill/uploader.go
Due: none

simplify function names, simplify SQL migration
  cmd/dbseed/resolver_wrappers.go
  migrations/V41__Add_Has_Logged_In_To_User_Account.sql
  pkg/graph/resolvers/added_as_collaborator_email_test.go
  pkg/graph/resolvers/model_plan_test.go
  pkg/graph/resolvers/plan_collaborator_test.go
  pkg/graph/resolvers/resolver_test.go
  pkg/graph/schema.resolvers.go
  pkg/userhelpers/user_account_utils.go
  pkg/worker/worker_test.go
Due: check-code-generation

fixing util test
  src/views/ModelPlan/TaskList/ITSolutions/util.test.tsx
Due: eslint, tsc-check

Update Solution Implentation test and snaps
  src/views/ModelPlan/TaskList/ITSolutions/SolutionImplementation/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/ITSolutions/SolutionImplementation/index.test.tsx
Due: eslint, tsc-check

adding a key to the map
  src/views/ModelPlan/TaskList/ITSolutions/SolutionImplementation/index.tsx
Due: eslint, tsc-check

[NOREF] Add count of linked solutions for documents (#387)
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/plan_document_solution_links.go
  pkg/graph/resolvers/plan_document_solution_links_test.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/storage/SQL/plan_document_solution/num_links_by_document_id.sql
  pkg/storage/plan_document_solution_linksStore.go
Due: graphql-schema, check-code-generation

first pass working data loader for plan basics
  go.mod
  pkg/graph/resolvers/plan_basics.go
  pkg/graph/schema.resolvers.go
  pkg/loaders/data_loader_middleware.go
  pkg/server/routes.go
  pkg/storage/plan_basicsStore.go
Due: check-code-generation

Genericize basics reader to dataReader
  pkg/loaders/data_loader_middleware.go
Due: none

adding the + to the ga .
  src/views/ModelPlan/TaskList/ITSolutions/SolutionImplementation/_components/Solution.tsx
Due: eslint, tsc-check

remove commented old code
  src/views/ModelPlan/TaskList/ITSolutions/SolutionImplementation/_components/Solution.tsx
Due: eslint, tsc-check

Add new Breadcrumb component
  src/components/Breadcrumbs/index.tsx
Due: eslint, tsc-check

making it more closely resemble what is in MINT
  src/components/Breadcrumbs/index.tsx
Due: eslint, tsc-check

OpNeeds use a data loader
  pkg/graph/resolvers/operational_need.go
  pkg/graph/schema.resolvers.go
  pkg/loaders/data_loader_middleware.go
  pkg/storage/SQL/operational_need/collection_get_by_model_plan_id_LOADER.sql
  pkg/storage/operational_needStore.go
Due: check-code-generation

url has to be optional
  src/components/Breadcrumbs/index.tsx
Due: eslint, tsc-check

cleaned up breadcrumbbar
  src/views/ModelPlan/TaskList/ITSolutions/SolutionImplementation/index.tsx
Due: eslint, tsc-check

removing redudant conditional
  src/components/Breadcrumbs/index.tsx
  src/views/ModelPlan/TaskList/ITSolutions/SolutionImplementation/index.tsx
Due: eslint, tsc-check

simplifying the props required
  src/views/ModelPlan/TaskList/ITSolutions/SolutionImplementation/_components/Solution.tsx
  src/views/ModelPlan/TaskList/ITSolutions/SolutionImplementation/index.tsx
Due: eslint, tsc-check

making solutionsId optional
  src/views/ModelPlan/TaskList/ITSolutions/index.tsx
Due: eslint, tsc-check

[EASI-2516] UI fixes (#380)
  src/components/Modal/index.tsx
  src/components/shared/DatePicker/index.tsx
  src/i18n/en-US/home.ts
  src/validations/planBasics.ts
  src/views/HelpAndKnowledge/Articles/ModelPlanOverview/index.tsx
  src/views/Home/index.tsx
  src/views/Login/index.tsx
  src/views/ModelPlan/ModelPlanOverview/index.tsx
  src/views/ModelPlan/StepsOverview/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Basics/Milestones/index.scss
  src/views/ModelPlan/TaskList/Basics/Milestones/index.tsx
  src/views/ModelPlan/TaskList/Basics/Overview/index.tsx
  src/views/ModelPlan/TaskList/OpsEvalAndLearning/IDDOC/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Payment/Recover/__snapshots__/index.test.tsx.snap
Due: eslint, tsc-check

solutionsArray dependent on solutionId
  src/views/ModelPlan/TaskList/ITSolutions/SolutionImplementation/index.tsx
Due: eslint, tsc-check

updated snaps
  src/views/ModelPlan/TaskList/ITSolutions/SolutionImplementation/__snapshots__/index.test.tsx.snap
Due: none

update breadcrumbs
  src/views/ModelPlan/TaskList/ITSolutions/SelectSolutions/index.tsx
Due: eslint, tsc-check

feat: CreateDiscussion, CreateDiscussionReply, UpdateDiscussion, and UpdateDiscussionReply provides CreatedByUserInfo and ModifiedByUserInfo fields where appropriate
  pkg/graph/generated/generated.go
  pkg/graph/resolver.go
  pkg/graph/resolvers/plan_discussion.go
  pkg/graph/resolvers/plan_discussion_test.go
  pkg/graph/resolvers/resolver_test.go
  pkg/graph/resolvers/resolver_test_utilities.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/graph/schema.resolvers_test.go
  pkg/models/plan_discussion.go
  pkg/providers/user_info.go
  pkg/server/routes.go
  pkg/storage/plan_discussionStore.go
  pkg/worker/worker_test.go
  pkg/worker/worker_test_utilities.go
Due: graphql-schema, check-code-generation

chore: reordered arguments to be consistent with similar neighboring methods
  pkg/graph/resolvers/plan_discussion.go
  pkg/graph/resolvers/plan_discussion_test.go
  pkg/graph/resolvers/resolver_test.go
  pkg/graph/schema.resolvers.go
Due: check-code-generation

Modified Renovate config
  .pre-commit-config.yaml
  renovate.json
Due: none

Remove dependabot
  .github/dependabot.yml
Due: none

conditnioal state prop
  src/views/ModelPlan/TaskList/ITSolutions/SelectSolutions/index.tsx
Due: eslint, tsc-check

remove conditional state
  src/views/ModelPlan/TaskList/ITSolutions/SelectSolutions/index.tsx
Due: eslint, tsc-check

add handleCancelClick
  src/views/ModelPlan/TaskList/ITSolutions/SolutionImplementation/index.tsx
Due: eslint, tsc-check

update snaps
  src/views/ModelPlan/TaskList/ITSolutions/SelectSolutions/__snapshots__/index.test.tsx.snap
Due: none

functional complex key type for data loaders that can be deserialized into a row set in the DB
  pkg/graph/resolvers/operational_need.go
  pkg/graph/resolvers/operational_solution.go
  pkg/graph/resolvers/plan_basics.go
  pkg/graph/schema.resolvers.go
  pkg/loaders/data_loader_middleware.go
  pkg/storage/SQL/operational_solution/and_possible_get_by_operational_need_id_LOADER.sql
  pkg/storage/SQL/operational_solution/collection_get_by_operational_need_id_LOADER.sql
  pkg/storage/operational_solutionStore.go
Due: check-code-generation

Simplify GetOperationalSolutionAndPossibleCollectionByOperationalNeedID. Caching issue needs to be solved
  pkg/loaders/data_loader_middleware.go
Due: none

implement clearing the cache after every bache, otherwise, you get mismatched data after performing an update.
  pkg/loaders/data_loader_middleware.go
Due: none

remove map from dataloader wrapper, unsafe without mutex, and un-needed
  pkg/loaders/data_loader_middleware.go
Due: none

remove unused code
  pkg/graph/resolvers/operational_solution.go
  pkg/storage/SQL/operational_solution/collection_get_by_operational_need_id.sql
  pkg/storage/SQL/operational_solution/collection_get_by_operational_need_id_LOADER.sql
  pkg/storage/operational_solutionStore.go
Due: none

Incorporating PR Feedback
  src/views/ModelPlan/TaskList/ITSolutions/SolutionImplementation/index.tsx
Due: eslint, tsc-check
