Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, graphql-schema, check-code-generation, check-intake-schema-generation, preprocess-cedar-swagger

Path conditions:
  dockerfilelint: any of: Dockerfile.*
  eslint: any of: \.(js|jsx|ts|tsx)$
  graphql-schema: any of: pkg/graph/schema.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts
  check-intake-schema-generation: any of: cmd/gen_intake_schema/main\.go|pkg/cedar/intake/models/.*\.go|pkg/cedar/intake/schemas/.*\.json|pkg/cedar/intake/translation/constants\.go
  preprocess-cedar-swagger: any of: pkg/cedar/intake/cedar_intake.json|pkg/cedar/core/cedar_core.json

update tests
  src/views/ModelPlan/ReadOnly/GeneralCharacteristics/__snapshots__/index.test.tsx.snap
Due: none

Remove extra double quotes in add collaborator body template
  pkg/email/templates/added_as_collaborator_body.template
Due: none

Easi 2338/data auditing (#236)
  MINT.postman_collection.json
  migrations/V1__Add_CRUD_Role_And_App_User.sql
  migrations/V20__Add_Audit_Tables.sql
  migrations/V21__Add_Audit_Trigger.sql
  migrations/V22__Add_Audit_Table_Function.sql
  migrations/V23__Add_Auditing_To_Existing_Tables.sql
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/audit_change.go
  pkg/graph/resolvers/audit_change_test.go
  pkg/graph/resolvers/model_plan.go
  pkg/graph/resolvers/model_plan_test.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/audit_change.go
  pkg/storage/SQL/audit_change_collection_by_id_and_table.sql
  pkg/storage/SQL/audit_change_collection_by_id_and_table_and_field.sql
  pkg/storage/audit_changeStore.go
  scripts/dev
Due: graphql-schema, check-code-generation

[EASI-2224] Front End work for Read-only Model sub page: Payments (#242)
  src/i18n/en-US/draftModelPlan/basics.ts
  src/i18n/en-US/draftModelPlan/payments.ts
  src/queries/ReadOnly/GetAllPayments.ts
  src/queries/ReadOnly/types/GetAllPayments.ts
  src/utils/modelPlan.ts
  src/views/ModelPlan/ReadOnly/GeneralCharacteristics/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/Payments/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/Payments/index.test.tsx
  src/views/ModelPlan/ReadOnly/Payments/index.tsx
  src/views/ModelPlan/ReadOnly/_components/ReadOnlySection/index.tsx
  src/views/ModelPlan/ReadOnly/index.tsx
  src/views/ModelPlan/TaskList/Payment/Complexity/index.tsx
Due: eslint, check-code-generation

Add redirct
  src/views/App/index.tsx
Due: eslint

[EASI-2222] Read-only Beneficiaries - FE (#241)
  src/i18n/en-US/draftModelPlan/beneficiaries.ts
  src/queries/ReadOnly/GetAllBeneficiaries.ts
  src/queries/ReadOnly/types/GetAllBeneficiaries.ts
  src/utils/modelPlan.ts
  src/views/ModelPlan/ReadOnly/Beneficiaries/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/ReadOnly/Beneficiaries/index.test.tsx
  src/views/ModelPlan/ReadOnly/Beneficiaries/index.tsx
  src/views/ModelPlan/ReadOnly/index.tsx
  src/views/ModelPlan/TaskList/Beneficiaries/BeneficiaryIdentification/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Beneficiaries/BeneficiaryIdentification/index.tsx
  src/views/ModelPlan/TaskList/Beneficiaries/Frequency/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Beneficiaries/Frequency/index.tsx
  src/views/ModelPlan/TaskList/Beneficiaries/PeopleImpact/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/Beneficiaries/PeopleImpact/index.tsx
Due: eslint, check-code-generation

add examples
  pkg/graph/resolvers/plan_cr_tdl.go
  pkg/worker/worker.go
Due: none

insert operational solution
  migrations/V27__Add_Operational_Solution.sql
  migrations/V29__Add_Possible_Operational_Solution_Options.sql
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/operational_solution.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/operational_solution.go
  pkg/storage/operational_needStore.go
  pkg/storage/operational_solutionStore.go
Due: graphql-schema, check-code-generation

Op solutions SQL first pass
  pkg/storage/SQL/operational_solution_get_by_operational_need_id_and_type.sql
  pkg/storage/SQL/operational_solution_insert_or_update.sql
Due: none

added support for hostname in email configs
  pkg/email/added_as_collaborator.go
  pkg/email/config.go
  pkg/email/templates/added_as_collaborator_body.template
  pkg/graph/resolvers/plan_collaborator.go
  pkg/server/server.go
Due: none

wrapping up changes for sending emails on collaborator added
  pkg/graph/resolvers/plan_collaborator.go
Due: none

Added assessment role access to wrapper
  src/utils/user.ts
  src/views/ModelAccessWrapper/index.tsx
  src/views/ModelPlan/ReadOnly/Table/index.tsx
Due: eslint

Misspelled assessment role
  src/views/ModelAccessWrapper/index.tsx
Due: eslint

Added warning for removing self as collaborator and home page message
  src/components/Modal/index.scss
  src/i18n/en-US/draftModelPlan/newModel.ts
  src/queries/Collaborators/GetModelCollaborators.ts
  src/queries/Collaborators/types/GetModelCollaborators.ts
  src/views/Home/index.tsx
  src/views/ModelPlan/Collaborators/index.tsx
  src/views/ModelPlan/Documents/table.tsx
Due: eslint, check-code-generation

make need and solution type nullable to represent OTHER
  pkg/graph/generated/generated.go
  pkg/models/operational_need.go
  pkg/models/operational_solution.go
Due: none

allow null for need type
  pkg/storage/SQL/operational_need_insert_or_update.sql
  pkg/storage/SQL/operational_solution_insert_or_update.sql
Due: none

Easi 2366 Collaborator Access Wrapper (#246)
  cypress/e2e/collaborator.spec.js
  src/queries/Collaborators/GetIsCollaborator.ts
  src/queries/Collaborators/types/GetIsCollaborator.ts
  src/utils/user.ts
  src/views/App/index.tsx
  src/views/ModelAccessWrapper/index.tsx
  src/views/ModelPlan/ReadOnly/Table/index.tsx
Due: eslint, check-code-generation

Rework collaborator route to move from /newplan to it's own parent
  cypress/e2e/modelPlan.spec.js
  src/views/App/index.tsx
  src/views/ModelPlan/Collaborators/AddCollaborator/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/Collaborators/AddCollaborator/index.test.tsx
  src/views/ModelPlan/Collaborators/AddCollaborator/index.tsx
  src/views/ModelPlan/Collaborators/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/Collaborators/index.test.tsx
  src/views/ModelPlan/Collaborators/index.tsx
  src/views/ModelPlan/Collaborators/table.tsx
  src/views/ModelPlan/NewPlan/index.tsx
  src/views/ModelPlan/ReadOnly/Team/index.test.tsx
  src/views/ModelPlan/TaskList/_components/TaskListSideNav/index.test.tsx
  yarn.lock
Due: eslint

Add docs
  docs/faktory.md
  docs/images/faktory/dashboard_busy.png
  pkg/models/base_task_list_section.go
  pkg/models/discussion_relation.go
  pkg/models/model_plan.go
  pkg/models/model_plan_relation.go
  pkg/models/plan_beneficiaries.go
  pkg/models/plan_cr_tdl.go
  pkg/models/plan_discussion.go
  pkg/models/plan_document.go
  pkg/models/plan_favorite.go
  pkg/models/plan_general_characteristics.go
  pkg/models/plan_it_tools.go
  pkg/models/plan_ops_eval_and_learning.go
  pkg/models/plan_participants_and_providers.go
  pkg/models/plan_payments.go
  pkg/worker/worker.go
Due: none

reworking to separate possible and existing needs co-author with Clay
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/resolvers/operational_need.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/possible_operational_need.go
  pkg/models/possible_operational_solution.go
  pkg/storage/SQL/possible_operational_need_collection_get_by_model_plan_id.sql
  pkg/storage/operational_needStore.go
  pkg/storage/possible_operational_needStore.go
Due: graphql-schema, check-code-generation

reworking to separate possible and existing needs
  pkg/storage/SQL/operational_need_and_possible_collection_get_by_model_plan_id.sql
Due: none

refactor possible and actual solutions
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/operational_need.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/storage/SQL/possible_operational_need_collection_get_by_model_plan_id.sql
  pkg/storage/operational_needStore.go
Due: graphql-schema, check-code-generation

op need collection by model plan id
  pkg/storage/SQL/operational_need_collection_get_by_model_plan_id.sql
Due: none

Remove default for 'includeAll' parameter in 'modelPlanCollection'. This forces clarity on GQL Queries that utilize this
  MINT.postman_collection.json
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  src/queries/GetAllModelData.ts
Due: eslint, graphql-schema, check-code-generation

Render CSV download for assessment users only
  src/queries/GetAllModelData.ts
  src/queries/GetModelPlans.ts
  src/queries/types/GetAllModelData.ts
  src/queries/types/GetModelPlans.ts
  src/utils/export/CsvExportLink.tsx
  src/views/Home/index.tsx
  src/views/ModelPlan/Table/index.tsx
Due: eslint, check-code-generation

Init model sub nav
  src/components/ModelSubNav/index.tsx
  src/i18n/en-US/header.ts
  src/views/ModelPlan/TaskList/index.tsx
Due: eslint

[NOREF] Remove default for 'includeAll' parameter in 'modelPlanCollection' (#248)
  MINT.postman_collection.json
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  src/queries/GetAllModelData.ts
  src/queries/GetModelPlans.ts
  src/queries/types/GetAllModelData.ts
  src/queries/types/GetModelPlans.ts
  src/utils/export/CsvExportLink.tsx
  src/views/Home/index.tsx
  src/views/ModelPlan/Table/index.tsx
Due: eslint, graphql-schema, check-code-generation

Easi 2114/warning remove self as collaborator (#247)
  cypress/e2e/modelPlan.spec.js
  src/components/Modal/index.scss
  src/i18n/en-US/draftModelPlan/newModel.ts
  src/queries/Collaborators/GetModelCollaborators.ts
  src/queries/Collaborators/types/GetModelCollaborators.ts
  src/views/App/index.tsx
  src/views/Home/index.tsx
  src/views/ModelPlan/Collaborators/AddCollaborator/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/Collaborators/AddCollaborator/index.test.tsx
  src/views/ModelPlan/Collaborators/AddCollaborator/index.tsx
  src/views/ModelPlan/Collaborators/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/Collaborators/index.test.tsx
  src/views/ModelPlan/Collaborators/index.tsx
  src/views/ModelPlan/Collaborators/table.tsx
  src/views/ModelPlan/Documents/table.tsx
  src/views/ModelPlan/NewPlan/index.tsx
  src/views/ModelPlan/ReadOnly/Team/index.test.tsx
  src/views/ModelPlan/TaskList/_components/TaskListSideNav/index.test.tsx
  yarn.lock
Due: eslint, check-code-generation

Discussion readonly component init
  src/views/ModelPlan/ReadOnly/Discussions/index.tsx
  src/views/ModelPlan/ReadOnly/index.tsx
Due: eslint

Style model sub nav
  src/components/ModelSubNav/index.tsx
  src/i18n/en-US/header.ts
  src/views/ModelPlan/TaskList/index.tsx
Due: eslint

testing
  src/views/ModelPlan/ReadOnly/Discussions/index.tsx
Due: eslint

Translate Boolean or Null function
  src/utils/modelPlan.ts
Due: eslint

Redirect readonly -> readonly/model-basics
  src/views/App/index.tsx
Due: eslint

Finished sub nav component - needs testing
  src/components/ModelSubNav/index.tsx
  src/i18n/en-US/header.ts
  src/views/App/index.tsx
  src/views/App/scrollConfig.ts
  src/views/Home/index.tsx
  src/views/ModelPlan/ReadOnly/ParticipantsAndProviders/index.tsx
  src/views/ModelPlan/ReadOnly/index.tsx
  src/views/ModelPlan/TaskList/_components/TaskListItem/index.tsx
  src/views/ModelPlan/TaskList/_components/TaskListSideNav/index.tsx
  src/views/ModelPlan/TaskList/index.tsx
Due: eslint

Added unit testing
  src/components/ModelSubNav/__snapshots__/index.test.tsx.snap
  src/components/ModelSubNav/index.test.tsx
  src/components/ModelSubNav/index.tsx
Due: eslint

Update translation functions to take in undefined
  src/utils/modelPlan.ts
  src/views/ModelPlan/ReadOnly/GeneralCharacteristics/index.tsx
Due: eslint

conditional render a question
  src/views/ModelPlan/ReadOnly/GeneralCharacteristics/index.tsx
Due: eslint

drying up code
  src/views/ModelPlan/ReadOnly/ModelBasics/index.tsx
Due: eslint

remove unused code
  src/views/ModelPlan/ReadOnly/ModelBasics/index.tsx
Due: eslint

Add translateBooleanOrNull function
  src/views/ModelPlan/ReadOnly/ParticipantsAndProviders/index.tsx
Due: eslint
