Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, tsc-check, graphql-schema, check-code-generation

dockerfilelint:
  name: Lint Dockerfile
  entry: dockerfilelint
  language: node
  additional_dependencies:
  - dockerfilelint

eslint:
  name: Run eslint
  entry: scripts/pre-commit-eslint
  language: script

tsc-check:
  name: Run typescript check
  entry: scripts/pre-commit-tsc
  language: script
  pass_filenames: false

graphql-schema:
  name: Lint GraphQL schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script
  pass_filenames: false

check-code-generation:
  name: Run GraphQL code generation
  entry: scripts/pre-commit-check-code-generation
  language: script
  pass_filenames: false

NOREF: createContact now can be a primary contact (#1777)
  pkg/graph/resolvers/mto_common_solution_contact.go
  pkg/sqlqueries/SQL/mto/common_solution_contact/unset_primary_key.sql
  pkg/storage/mto_common_solution_contact.go
Due: none

fixed typing erros, addressed unit test
  pkg/graph/resolvers/plan_timeline.go
  pkg/storage/plan_timelineStore.go
Due: none

updated status link in email and modal
  pkg/email/templates/model_plan_suggested_phase_body.html
  src/components/UpdateStatusModal/index.tsx
Due: eslint, tsc-check

disable cypress test until timeline is complete
  cypress/e2e/modelPlan.spec.js
Due: eslint, tsc-check

[Update snapshots]
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/PointsOfContact/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/About/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/PointsOfContact/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/Timeline/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/_components/AddTeamMailboxForm/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/_components/AddTeamMemberForm/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/_components/EditTeamMailboxForm/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/_components/EditTeamMemberForm/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/_components/MailboxAndTeamMemberCard/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/_components/MailboxesAndTeamMembers/__snapshots__/index.test.tsx.snap
Due: none

added route and component, update rfr and askaquestion
  src/app/Routes/index.tsx
  src/components/AskAQuestion/index.test.tsx
  src/components/AskAQuestion/index.tsx
  src/components/Breadcrumbs/index.tsx
  src/components/ReadyForReview/index.tsx
  src/features/ModelPlan/Timeline/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/Timeline/index.scss
  src/features/ModelPlan/Timeline/index.test.tsx
  src/features/ModelPlan/Timeline/index.tsx
  src/gql/generated/graphql.ts
  src/gql/operations/Timeline/getTimeline.ts
  src/gql/operations/Timeline/updateTimeline.ts
  src/i18n/en-US/general.ts
  src/i18n/en-US/modelPlan/timeline.ts
Due: eslint, tsc-check

hide share export if not started
  src/features/ModelPlan/CollaborationArea/Cards/TimelineCard/index.tsx
Due: eslint, tsc-check

[Add contractor modals for both add and edit]
  mappings/translation/mto_common_solution_contractor.json
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/PointsOfContact/index.tsx
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/_components/AddContractorForm/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/_components/AddContractorForm/index.test.tsx
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/_components/AddContractorForm/index.tsx
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/_components/ContractorCard/index.tsx
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/_components/ContractorModal/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/_components/ContractorModal/index.test.tsx
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/_components/ContractorModal/index.tsx
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/_components/Contractors/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/_components/Contractors/index.test.tsx
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/_components/Contractors/index.tsx
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/_components/EditContractorForm/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/_components/EditContractorForm/index.test.tsx
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/_components/EditContractorForm/index.tsx
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/_components/EditTeamMailboxForm/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/_components/EditTeamMailboxForm/index.test.tsx
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/_components/EditTeamMemberForm/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/_components/EditTeamMemberForm/index.test.tsx
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/_components/MailboxAndTeamMemberModal/index.tsx
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/_components/RemoveContactModal/index.tsx
  src/gql/generated/graphql.ts
  src/gql/operations/ModelToOperations/CreateMTOCommonSolutionContractor.ts
  src/gql/operations/ModelToOperations/UpdateMTOCommonSolutionContractor.ts
  src/i18n/en-US/modelPlan/mtoCommonSolutionContact.ts
  src/i18n/en-US/modelPlan/mtoCommonSolutionContractor.ts
Due: eslint, tsc-check

disabled test temporarily
  cypress/e2e/modelPlan.spec.js
  src/gql/generated/graphql.ts
Due: eslint, tsc-check

init timeline cypress
  cypress/e2e/changeHistory.spec.js
  cypress/e2e/homepageSettings.spec.js
  cypress/e2e/timeline.spec.js
Due: eslint, tsc-check

added timeline helper function from basics
  pkg/graph/resolvers/plan_timeline_helper.go
  pkg/graph/resolvers/plan_timeline_helper_test.go
Due: none

widen grid
  src/features/ModelPlan/Timeline/index.tsx
Due: eslint, tsc-check

[Fix translation, ui gap, message bug, type, and update snapshots]
  mappings/translation/mto_common_solution_contact.json
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Modal/index.tsx
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/_components/AddTeamMailboxForm/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/_components/AddTeamMailboxForm/index.tsx
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/_components/AddTeamMemberForm/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/_components/AddTeamMemberForm/index.tsx
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/_components/EditTeamMailboxForm/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/_components/EditTeamMailboxForm/index.tsx
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/_components/EditTeamMemberForm/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/_components/EditTeamMemberForm/index.tsx
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/_components/MailboxesAndTeamMembers/index.tsx
  src/i18n/en-US/index.ts
  src/i18n/en-US/modelPlan/mtoCommonSolutionContact.ts
Due: eslint, tsc-check

removed milestones from basics
  src/app/Routes/index.tsx
  src/features/ModelPlan/ReadOnly/ModelBasics/index.tsx
  src/features/ModelPlan/TaskList/Basics/Milestones/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/TaskList/Basics/Milestones/index.scss
  src/features/ModelPlan/TaskList/Basics/Milestones/index.test.tsx
  src/features/ModelPlan/TaskList/Basics/Milestones/index.tsx
  src/features/ModelPlan/TaskList/Basics/Overview/index.test.tsx
  src/features/ModelPlan/TaskList/Basics/Overview/index.tsx
  src/features/ModelPlan/TaskList/Basics/index.tsx
  src/features/ModelPlan/Timeline/index.test.tsx
  src/gql/generated/graphql.ts
  src/gql/operations/Basics/GetAllBasics.ts
  src/gql/operations/Basics/GetMilestones.ts
  src/gql/operations/Basics/GetOverview.ts
  src/gql/operations/ModelPlan/GetAllModelData.ts
  src/gql/operations/ModelPlan/GetAllSingleModelData.ts
  src/i18n/en-US/modelPlan/basics.ts
  src/tests/mock/readonly.ts
Due: eslint, tsc-check

updated react-to-print, fixed print class
  package.json
  src/components/ShareExport/index.tsx
  src/features/HelpAndKnowledge/Articles/EvaluatingDataExchangeApproach/index.tsx
  src/features/ModelPlan/ReadOnly/Beneficiaries/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/ReadOnly/DataExchangeapproach/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/ReadOnly/GeneralCharacteristics/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/ReadOnly/ModelBasics/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/ReadOnly/OpsEvalAndLearning/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/ReadOnly/ParticipantsAndProviders/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/ReadOnly/Payments/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/ReadOnly/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/ReadOnly/_components/ReadOnlySection/index.tsx
  src/features/ModelPlan/TaskList/PrepareForClearance/ClearanceReview/__snapshots__/index.test.tsx.snap
  yarn.lock
Due: eslint, tsc-check

[NOREF] Updated react-to-print, fixed print class (#1782)
  package.json
  src/components/ShareExport/index.tsx
  src/features/HelpAndKnowledge/Articles/EvaluatingDataExchangeApproach/index.tsx
  src/features/ModelPlan/ReadOnly/Beneficiaries/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/ReadOnly/DataExchangeapproach/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/ReadOnly/GeneralCharacteristics/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/ReadOnly/ModelBasics/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/ReadOnly/OpsEvalAndLearning/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/ReadOnly/ParticipantsAndProviders/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/ReadOnly/Payments/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/ReadOnly/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/ReadOnly/_components/ReadOnlySection/index.tsx
  src/features/ModelPlan/TaskList/PrepareForClearance/ClearanceReview/__snapshots__/index.test.tsx.snap
  yarn.lock
Due: eslint, tsc-check

updated unit tests
  src/features/ModelPlan/ReadOnly/ModelBasics/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/ReadOnly/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/ReadOnly/index.test.tsx
  src/features/ModelPlan/TaskList/Basics/Overview/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/TaskList/Basics/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/Timeline/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/Timeline/index.test.tsx
  src/gql/generated/graphql.ts
  src/gql/operations/ReadOnly/GetModelSummary.ts
  src/tests/mock/readonly.ts
Due: eslint, tsc-check

updated readview, added todo
  src/features/ModelPlan/ReadOnly/ModelBasics/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/ReadOnly/ModelBasics/index.tsx
  src/features/ModelPlan/ReadOnly/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/ReadOnly/_components/FilterView/BodyContent/index.test.tsx
  src/features/ModelPlan/ReadOnly/index.tsx
  src/features/ModelPlan/Timeline/index.tsx
  src/gql/generated/graphql.ts
  src/gql/operations/ReadOnly/GetModelSummary.ts
  src/tests/mock/readonly.ts
Due: eslint, tsc-check

began cypress
  cypress/downloads/downloads.html
  cypress/e2e/modelPlan.spec.js
  cypress/e2e/timeline.spec.js
  src/features/ModelPlan/Timeline/index.tsx
Due: eslint, tsc-check

added cypress test
  cypress/e2e/timeline.spec.js
Due: eslint, tsc-check

updated css
  src/features/ModelPlan/Timeline/index.scss
Due: none

updated unit test
  src/features/ModelPlan/Timeline/__snapshots__/index.test.tsx.snap
Due: none

update notification cypress
  cypress/downloads/downloads.html
  cypress/e2e/notification.spec.js
Due: eslint, tsc-check

update notification cypress
  cypress/e2e/notification.spec.js
Due: eslint, tsc-check

[Update translation and tests]
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/PointsOfContact/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/PointsOfContact/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/_components/AddContractorForm/index.tsx
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/_components/ContractorModal/index.tsx
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/_components/EditContractorForm/index.tsx
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/_components/RemoveContactModal/index.tsx
  src/i18n/en-US/index.ts
Due: eslint, tsc-check

feat: gql language support in vscode with go to definition support and automatic formatting on save by prettier
  .vscode/extensions.json
  .vscode/settings.json
  graphql.config.json
Due: none

fixed incorrect reference for detecting dirty fields in MTO
  src/features/ModelPlan/ModelToOperations/_components/EditMilestoneForm/index.tsx
  src/features/ModelPlan/ModelToOperations/_components/EditSolutionForm/index.tsx
Due: eslint, tsc-check

[update trans key]
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/_components/AddTeamMailboxForm/index.tsx
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/_components/AddTeamMemberForm/index.tsx
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/_components/EditTeamMailboxForm/index.tsx
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/_components/EditTeamMemberForm/index.tsx
Due: eslint, tsc-check

added switch case for *time.Time in date processor
  pkg/graph/resolvers/plan_basics_helper.go
Due: none

added CRUD emails and welcome email for POCs
  cmd/test_email/main.go
  cmd/test_email/mto_common_solution_contact_emails.go
  pkg/email/email_helper_methods.go
  pkg/email/mto_common_solution_owner_added.go
  pkg/email/mto_common_solution_owner_edited.go
  pkg/email/mto_common_solution_poc_added.go
  pkg/email/mto_common_solution_poc_edited.go
  pkg/email/mto_common_solution_poc_removed.go
  pkg/email/mto_common_solution_welcome.go
  pkg/email/template_service_impl.go
  pkg/email/templates/mto_common_solution_owner_added_body.html
  pkg/email/templates/mto_common_solution_owner_added_subject.html
  pkg/email/templates/mto_common_solution_owner_edited_body.html
  pkg/email/templates/mto_common_solution_owner_edited_subject.html
  pkg/email/templates/mto_common_solution_poc_added_body.html
  pkg/email/templates/mto_common_solution_poc_added_subject.html
  pkg/email/templates/mto_common_solution_poc_edited_body.html
  pkg/email/templates/mto_common_solution_poc_edited_subject.html
  pkg/email/templates/mto_common_solution_poc_removed_body.html
  pkg/email/templates/mto_common_solution_poc_removed_subject.html
  pkg/email/templates/mto_common_solution_poc_welcome_body.html
  pkg/email/templates/mto_common_solution_poc_welcome_subject.html
  pkg/email/templates/shared_mint_mailbox_footer.html
  pkg/email/templates/shared_mto_common_solution_header.html
  pkg/email/templates/shared_style.html
  pkg/graph/resolvers/mto_common_solution_contact.go
  pkg/graph/resolvers/mto_common_solution_contact.resolvers.go
  query_examples/MINT/Models to Operations Matrix/Common Solutions/ContactInfo/Update MTO ContactInfo.bru
Due: none

added support for enum url param
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Modal/index.tsx
  src/features/HelpAndKnowledge/SolutionsHelp/index.tsx
  src/hooks/useModalSolutionState.ts
Due: eslint, tsc-check

[fix alert not rerender]
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Modal/index.tsx
Due: eslint, tsc-check

added tests for teh rest of POC emails
  cmd/test_email/main.go
  cmd/test_email/mto_common_solution_contact_emails.go
  pkg/email/templates/mto_common_solution_poc_edited_subject.html
Due: none

Update pkg/graph/resolvers/mto_common_solution_contact.go
  pkg/graph/resolvers/mto_common_solution_contact.go
Due: none

feat: WIP prettier formatting on .graphql files
  .pre-commit-config.yaml
  scripts/format-graphql.sh
Due: none

began read view conversion and new timeline section
  cypress/e2e/notification.spec.js
  mappings/translation/plan_basics.json
  pkg/email/templates/model_plan_suggested_phase_body.html
  pkg/graph/schema/types/plan_basics_translation.graphql
  src/app/Routes/index.tsx
  src/components/Breadcrumbs/index.tsx
  src/components/ShareExport/util.tsx
  src/components/UpdateStatusModal/index.tsx
  src/features/ModelPlan/CollaborationArea/Cards/TimelineCard/index.tsx
  src/features/ModelPlan/ReadOnly/ModelBasics/index.tsx
  src/features/ModelPlan/ReadOnly/Timeline/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/ReadOnly/Timeline/index.scss
  src/features/ModelPlan/ReadOnly/Timeline/index.test.tsx
  src/features/ModelPlan/ReadOnly/Timeline/index.tsx
  src/features/ModelPlan/ReadOnly/index.tsx
  src/features/ModelPlan/Timeline/index.test.tsx
  src/features/ModelPlan/Timeline/index.tsx
  src/gql/generated/graphql.ts
  src/gql/operations/Timeline/getTimeline.ts
  src/i18n/en-US/modelPlan/basics.ts
  src/i18n/en-US/modelPlan/timeline.ts
  src/i18n/en-US/readOnly/modelSummary.ts
  src/types/translation.ts
Due: eslint, tsc-check, graphql-schema

[Fix button enable bug]
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/_components/AddTeamMemberForm/index.tsx
Due: eslint, tsc-check

feat: working format-graphql shell
  scripts/format-graphql.sh
Due: none

Path conditions:
  dockerfilelint: any of: Dockerfile.*
  eslint: any of: \.(js|jsx|ts|tsx)$, but not: (\.(d\.ts)$)|(\.storybook)|(serviceWorker\.ts)|(src/gql/gen/.*)
  tsc-check: any of: \.(js|jsx|ts|tsx)$
  graphql-schema: any of: pkg/graph/schema/.*\.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts|src/queriesCodegen/.*\.ts
