Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, tsc-check, graphql-schema, check-code-generation

dockerfilelint:
  name: Lint Dockerfile
  entry: dockerfilelint
  language: node
  additional_dependencies:
  - dockerfilelint

eslint:
  name: Run eslint
  entry: scripts/pre-commit-eslint
  language: script

tsc-check:
  name: Run typescript check
  entry: scripts/pre-commit-tsc
  language: script
  pass_filenames: false

graphql-schema:
  name: Lint GraphQL schema
  entry: scripts/pre-commit-graphql-schema-lint
  language: script
  pass_filenames: false

check-code-generation:
  name: Run GraphQL code generation
  entry: scripts/pre-commit-check-code-generation
  language: script
  pass_filenames: false

fix import
  pkg/storage/SQL/operational_solution/and_possible_get_by_operational_need_id_LOADER.sql
  pkg/storage/SQL/operational_solution/get_by_id.sql
  pkg/storage/audit_changeStore.go
Due: none

update doc
  docs/adr/0009-data-loaders.md
Due: none

unused
  pkg/models/translated_audit_meta_operational_need.go
  pkg/storage/dataloader_keys.go
Due: none

remove some unused
  pkg/models/mto_template_milestone_solution_link.go
  pkg/models/mto_template_solution.go
  pkg/models/translated_audit_meta_operational_solution_subtask.go
Due: none

fix bruno var name
  query_examples/MINT/Models to Operations Matrix/Notes/CreateMTOMilestoneNote.bru
Due: none

[Update id]
  cypress/e2e/iddocQuestionnaire.spec.js
Due: eslint, tsc-check

added resolver tests for iddoc
  pkg/graph/resolvers/iddoc_questionnaire_test.go
Due: none

fix lint
  pkg/models/mto_template_milestone_solution_link.go
  pkg/models/mto_template_solution.go
Due: none

[NOREF] Update key contact related brunos (#2138)
  query_examples/MINT/KeyContactDirectory/Create Key Contact User.bru
  query_examples/MINT/KeyContactDirectory/Delete Key Contact.bru
  query_examples/MINT/KeyContactDirectory/Get Key Contact.bru
  query_examples/MINT/KeyContactDirectory/Update Key Contact.bru
Due: none

[Update id]
  cypress/e2e/notification.spec.js
Due: eslint, tsc-check

[Remove only]
  cypress/e2e/notification.spec.js
Due: eslint, tsc-check

[Clean up and fix typo]
  cypress/e2e/iddocQuestionnaire.spec.js
  cypress/e2e/notification.spec.js
Due: eslint, tsc-check

[Mint-3602]/Milestone Note access check fix (#2134)
  docs/adr/0009-data-loaders.md
  pkg/accesscontrol/access_control.go
  pkg/graph/resolvers/mto_milestone_note.go
  pkg/graph/resolvers/mto_milestone_note_test.go
  pkg/graph/resolvers/plan_document.go
  pkg/models/mto_milestone_note.go
  pkg/models/mto_milestone_relation.go
  pkg/models/mto_template_milestone_solution_link.go
  pkg/models/mto_template_solution.go
  pkg/models/operational_need_relation.go
  pkg/models/solution_relation.go
  pkg/models/translated_audit_meta_operational_need.go
  pkg/models/translated_audit_meta_operational_solution_subtask.go
  pkg/shared/utilitysql/query_construction.go
  pkg/sqlqueries/SQL/access_control/check_if_collaborator_by_operational_need_id.sql
  pkg/sqlqueries/SQL/access_control/check_if_collaborator_by_solution_id.sql
  pkg/sqlqueries/SQL/access_control/check_if_collaborator_milestone_id.sql
  pkg/sqlqueries/SQL/mto/note/get_by_id_LOADER.sql
  pkg/sqlqueries/SQL/plan_document/read_by_solution_id.sql
  pkg/sqlqueries/SQL/plan_document/read_by_solution_id_not_restricted.sql
  pkg/sqlqueries/access_control.go
  pkg/sqlqueries/plan_document.go
  pkg/storage/SQL/operational_solution/and_possible_get_by_operational_need_id_LOADER.sql
  pkg/storage/SQL/operational_solution/get_by_id.sql
  pkg/storage/access_controlStore.go
  pkg/storage/audit_changeStore.go
  pkg/storage/dataloader_keys.go
  pkg/storage/plan_documentStore.go
  query_examples/MINT/Models to Operations Matrix/Notes/CreateMTOMilestoneNote.bru
Due: none

[MINT-3590] IDDOC cypress (#2139)
  cypress/e2e/iddocQuestionnaire.spec.js
  cypress/e2e/notification.spec.js
  src/i18n/en-US/notifications.ts
Due: eslint, tsc-check

[NOREF] Update Bruno queries (#2130)
  query_examples/MINT/Discussions & Replies/Delete Discussion Reply.bru
  query_examples/MINT/Discussions & Replies/Delete Plan Discussion.bru
  query_examples/MINT/Discussions & Replies/Update Discussion Reply.bru
  query_examples/MINT/Discussions & Replies/Update Plan Discussion.bru
  query_examples/MINT/ECHIMP/ALL TDL Echimp data.bru
  query_examples/MINT/ECHIMP/All CR Echimp data.bru
  query_examples/MINT/ECHIMP/All Echimp CRS And TDLS.bru
  query_examples/MINT/ECHIMP/CR Echimp by id.bru
  query_examples/MINT/ECHIMP/Get Model Plan with ECHIMP data.bru
  query_examples/MINT/ECHIMP/TDL Echimp by id.bru
  query_examples/MINT/KeyContactDirectory/Get Key Contact Categories By IDs.bru
  query_examples/MINT/Models to Operations Matrix/Categories/NewMTOCategory.bru
  query_examples/MINT/Notfications/MarkAllNotificationAsRead.bru
  query_examples/MINT/Plan Documents/Update Plan Document.bru
  query_examples/MINT/Search/SearchChangeTableDateHistogramConsolidatedAggregations.bru
  query_examples/MINT/Search/SearchChanges.bru
  query_examples/MINT/Subscriptions - Task List Locking/Get Task List Section Locks.bru
  query_examples/MINT/Subscriptions - Task List Locking/Lock Task List Section.bru
  query_examples/MINT/Subscriptions - Task List Locking/Unlock All Task List Sections.bru
  query_examples/MINT/Subscriptions - Task List Locking/Unlock Task List Section.bru
  query_examples/MINT/Subscriptions - Task List Locking/[sub] onLockLockableSectionContext.bru
  query_examples/MINT/Subscriptions - Task List Locking/[sub] onLockableSectionLocksChanged.bru
  query_examples/MINT/Task List Sections/Get Plan Payments (Deprecated).bru
  query_examples/MINT/Task List Sections/Update Plan Basics.bru
  query_examples/MINT/Task List Sections/Update Plan IT Tools.bru
  query_examples/MINT/Translated Audit/TestChanges For Translated Changes/ModelPlanCreate.bru
  query_examples/MINT/Translated Audit/TranslatedAuditCollectionGET NORMALIZED.bru
  query_examples/MINT/collection.bru
Due: none

[Update mocks and snapshot]
  src/features/ModelPlan/ReadOnly/OpsEvalAndLearning/__snapshots__/index.test.tsx.snap
  src/tests/mock/readonly.ts
Due: eslint, tsc-check

[MINT-3569] Precommit Script to Update Date in Help Articles (#2137)
  .pre-commit-config.yaml
  scripts/update-help-article-dates.sh
Due: none

[Fix lint]
  migrations/V255__Remove_IDDOC_From_Plan_Ops_Eval_and_Learning.sql
Due: none

[Clean up]
  src/features/ModelPlan/ReadOnly/OpsEvalAndLearning/index.tsx
Due: eslint, tsc-check

golang lint upgrade
  .pre-commit-config.yaml
Due: none

fixed error code tests was looking for
  pkg/graph/resolvers/plan_collaborator_test.go
Due: none

[Fix table name]
  mappings/translation/table_name.json
  src/i18n/en-US/modelPlan/tables.ts
Due: eslint, tsc-check

skeleton ADR
  docs/adr/0017-common-milestone.md
Due: none

reasoning
  docs/adr/0017-common-milestone.md
Due: none

adding to adr
  docs/adr/0017-common-milestone.md
Due: none

lint
  docs/adr/0017-common-milestone.md
Due: none

add to spelling
  .spelling
Due: none

[MINT-3587] GraphQL operation middleware (#2131)
  pkg/authorization/require_principal_middleware.go
  pkg/authorization/require_principal_middleware_test.go
  pkg/server/routes.go
Due: none

add steps
  docs/adr/0017-common-milestone.md
Due: none

Update Dockerfile
  Dockerfile
Due: dockerfilelint

Feedback Report Forms cypress test
  cypress/e2e/feedbackReportForms.spec.js
Due: eslint, tsc-check

remove Feedback Enabled feature flag
  src/components/Footer/index.tsx
  src/types/flags.ts
  src/utils/tests/user.test.ts
  src/wrappers/FlagsWrapper/index.tsx
Due: eslint, tsc-check

remove the need to test feature flag
  cypress/e2e/feedbackReportForms.spec.js
Due: eslint, tsc-check

allow UI to choose which emails it shows
  docs/adr/0017-common-milestone.md
Due: none

initial migrations
  migrations/V250__Common_Milestone.sql
Due: none

Path conditions:
  dockerfilelint: any of: Dockerfile.*
  eslint: any of: \.(js|jsx|ts|tsx)$, but not: (\.(d\.ts)$)|(\.storybook)|(serviceWorker\.ts)|(src/gql/gen/.*)
  tsc-check: any of: \.(js|jsx|ts|tsx)$
  graphql-schema: any of: pkg/graph/schema/.*\.graphql
  check-code-generation: any of: pkg/graph/schema\.graphql|pkg/graph/schema\.resolvers\.go|src/queries/.*\.ts|src/queriesCodegen/.*\.ts
