Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, tsc-check, graphql-schema, check-code-generation

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-yaml
        name: Check YAML formatting
      - id: detect-private-key
        name: Check for private keys
      - id: end-of-file-fixer
        files: \.(sql|scss|md|js|ts|tsx|go|yml|yaml)$
        name: Add newlines to ends of files
        exclude: src/gql/gen/.* # Ignore generated FE files

  - repo: https://github.com/detailyang/pre-commit-shell
    rev: v1.0.6
    hooks:
      - id: shell-lint
        name: Lint shell files

  - repo: https://github.com/trussworks/pre-commit-hooks
    rev: v1.1.1
    hooks:
      - id: mdspell
        name: Spellcheck Markdown files
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor
          )$

  - repo: https://github.com/Bahjat/pre-commit-golang
    rev: v1.0.3
    hooks:
      - id: go-fmt-import
        name: Run "goimports" on go files
        args: ['-local', 'github.com/cmsgov/mint-app']
        files: .*\.go$
        exclude: >
          (?x)^(
            .*gen/.*|
            .*generated/.*|
            .*models_gen.go|
          )$

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.59.1
    hooks:
      - id: golangci-lint
        name: Lint go files
        args: ['--concurrency', '-1', '-v'] # Run with all CPUs

  - repo: local
    hooks:
    - id: dockerfilelint
      name: Lint Dockerfile
      entry: dockerfilelint
      language: node
      additional_dependencies: [dockerfilelint]
      files: Dockerfile.*

  - repo: local
    hooks:
      - id: eslint
        name: Run eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$
        exclude: (\.(d\.ts)$)|(\.storybook)|(serviceWorker\.ts)|(src/gql/gen/.*) # This should match the .eslintrc "ignorePatterns". Change one, change the other!

  - repo: local
    hooks:
      - id: tsc-check
        name: Run typescript check
        entry: scripts/pre-commit-tsc
        language: script
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false

  - repo: local
    hooks:
      - id: graphql-schema
        name: Lint GraphQL schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: "pkg/graph/schema/.*\\.graphql"
        pass_filenames: false

  - repo: local
    hooks:
      - id: check-code-generation
        name: Run GraphQL code generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: "pkg/graph/schema\\.graphql|pkg/graph/schema\\.resolvers\\.go|src/queries/.*\\.ts|src/queriesCodegen/.*\\.ts"
        pass_filenames: false

  - repo: https://github.com/awslabs/git-secrets
    rev: b9e96b3212fa06aea65964ff0d5cda84ce935f38
    hooks:
      - id: git-secrets
        name: Check for committed secrets
        entry: git-secrets --pre_commit_hook

  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 2.0.7
    hooks:
      - id: sqlfluff-fix
        exclude: ^migrations/
      - id: sqlfluff-lint
        exclude: ^migrations/

Refactor ModelPlanAndGroup structure and update SQL query for component group mapping
  pkg/models/model_plan_and_group.go
  pkg/sqlqueries/SQL/model_plan/get_by_component_group_key_LOADER.sql
Due: none

feat: re-enable format on save for graphql files
  .vscode/settings.json
Due: none

[NOREF] Re-enable format on save for graphql files (#1968)
  .vscode/settings.json
Due: none

updated snaps
  src/features/HelpAndKnowledge/Articles/HighLevelProjectPlan/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/About/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/PointsOfContact/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/About/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/PointsOfContact/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/Timeline/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Timeline/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/SolutionsHelp/_components/SolutionsHeader/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/SolutionsHelp/_components/SolutionsHeader/index.test.tsx
Due: eslint, tsc-check

[Remove unnecessary code]
  src/features/ModelPlan/Collaborators/AddCollaborator/index.tsx
  src/features/ModelPlan/ModelToOperations/_components/EditMilestoneForm/index.tsx
Due: eslint, tsc-check

[MINT-3499] Display assign to on mto table (#1954)
  src/features/ModelPlan/ModelToOperations/_components/MatrixTable/columns.tsx
  src/features/ModelPlan/ModelToOperations/_components/MatrixTable/index.tsx
  src/gql/generated/graphql.ts
  src/gql/operations/ModelToOperations/GetMTOMatrix.ts
Due: eslint, tsc-check

fixed solution pagination
  src/features/ModelPlan/ModelToOperations/_components/MatrixTable/columns.tsx
  src/features/ModelPlan/ModelToOperations/_components/TemplatePanel/index.tsx
Due: eslint, tsc-check

fixed search bug
  src/features/ModelPlan/ModelToOperations/TemplateLibrary/index.tsx
  src/features/ModelPlan/ModelToOperations/_components/TemplatePanel/index.tsx
Due: eslint, tsc-check

converted buttons to links
  src/features/ModelPlan/ModelToOperations/_components/ActionsTable/index.tsx
Due: eslint, tsc-check

added scroll on optional panel link
  src/features/ModelPlan/ModelToOperations/_components/OptionPanel/index.tsx
Due: eslint, tsc-check

added default 3 templates
  src/features/ModelPlan/ModelToOperations/TemplateLibrary/index.tsx
Due: eslint, tsc-check

updated snaps
  src/features/ModelPlan/ModelToOperations/_components/ActionsTable/__snapshots__/index.test.tsx.snap
Due: none

[Update table referance and reorder form]
  mappings/translation/mto_milestone.json
  src/i18n/en-US/modelPlan/mtoMilestone.tsx
Due: eslint, tsc-check

updated pagination styling
  src/stylesheets/custom.scss
Due: none

fixed categories
  migrations/V232__Add_MTO_Template_Data.sql
Due: none

added foreign key function for plan collaborator
  pkg/translatedaudit/translate_foreign_key.go
Due: none

removed unsued model usage sql
  pkg/sqlqueries/SQL/mto/common_solution_model_usage/get_by_common_solution_key.sql
  pkg/sqlqueries/mto_common_solution_model_usage.go
  pkg/storage/mto_common_solution_model_usage.go
Due: none

addressed lint and cypress
  cypress/e2e/mto.spec.js
  src/features/ModelPlan/ModelToOperations/_components/ActionsTable/index.tsx
Due: eslint, tsc-check

fixed pagination
  pkg/graph/resolvers/audit_change.resolvers.go
  pkg/graph/resolvers/existing_model_link.resolvers.go
  pkg/graph/resolvers/lockable_sections.resolvers.go
  pkg/graph/resolvers/model_plan.resolvers.go
  pkg/graph/resolvers/mto.resolvers.go
  pkg/graph/resolvers/mto_category.resolvers.go
  pkg/graph/resolvers/mto_common_solution_contact.resolvers.go
  pkg/graph/resolvers/mto_common_solution_contractor.resolvers.go
  pkg/graph/resolvers/mto_common_solution_system_owner.resolvers.go
  pkg/graph/resolvers/mto_milestone.resolvers.go
  pkg/graph/resolvers/mto_milestone_note.resolvers.go
  pkg/graph/resolvers/mto_solution.resolvers.go
  pkg/graph/resolvers/mto_template.resolvers.go
  pkg/graph/resolvers/plan_basics.resolvers.go
  pkg/graph/resolvers/plan_beneficiaries.resolvers.go
  pkg/graph/resolvers/plan_collaborator.resolvers.go
  pkg/graph/resolvers/plan_cr.resolvers.go
  pkg/graph/resolvers/plan_data_exchange_approach.resolvers.go
  pkg/graph/resolvers/plan_document.resolvers.go
  pkg/graph/resolvers/plan_favorite.resolvers.go
  pkg/graph/resolvers/plan_general_characteristics.resolvers.go
  pkg/graph/resolvers/plan_ops_eval_and_learning.resolvers.go
  pkg/graph/resolvers/plan_participants_and_providers.resolvers.go
  pkg/graph/resolvers/plan_payments.resolvers.go
  pkg/graph/resolvers/plan_tdl.resolvers.go
  pkg/graph/resolvers/plan_timeline.resolvers.go
  pkg/graph/resolvers/translated_audit.resolvers.go
  pkg/graph/resolvers/user_notification.resolvers.go
  src/features/ModelPlan/ModelToOperations/TemplateLibrary/index.tsx
  src/hooks/usePagination.tsx
  src/i18n/en-US/modelPlan/modelToOperations.ts
Due: eslint, tsc-check

fixed lint
  pkg/graph/resolvers/audit_change.resolvers.go
  pkg/graph/resolvers/existing_model_link.resolvers.go
  pkg/graph/resolvers/lockable_sections.resolvers.go
  pkg/graph/resolvers/model_plan.resolvers.go
  pkg/graph/resolvers/mto.resolvers.go
  pkg/graph/resolvers/mto_category.resolvers.go
  pkg/graph/resolvers/mto_common_solution_contact.resolvers.go
  pkg/graph/resolvers/mto_common_solution_contractor.resolvers.go
  pkg/graph/resolvers/mto_common_solution_system_owner.resolvers.go
  pkg/graph/resolvers/mto_milestone.resolvers.go
  pkg/graph/resolvers/mto_milestone_note.resolvers.go
  pkg/graph/resolvers/mto_solution.resolvers.go
  pkg/graph/resolvers/mto_template.resolvers.go
  pkg/graph/resolvers/plan_basics.resolvers.go
  pkg/graph/resolvers/plan_beneficiaries.resolvers.go
  pkg/graph/resolvers/plan_collaborator.resolvers.go
  pkg/graph/resolvers/plan_cr.resolvers.go
  pkg/graph/resolvers/plan_data_exchange_approach.resolvers.go
  pkg/graph/resolvers/plan_document.resolvers.go
  pkg/graph/resolvers/plan_favorite.resolvers.go
  pkg/graph/resolvers/plan_general_characteristics.resolvers.go
  pkg/graph/resolvers/plan_ops_eval_and_learning.resolvers.go
  pkg/graph/resolvers/plan_participants_and_providers.resolvers.go
  pkg/graph/resolvers/plan_payments.resolvers.go
  pkg/graph/resolvers/plan_tdl.resolvers.go
  pkg/graph/resolvers/plan_timeline.resolvers.go
  pkg/graph/resolvers/translated_audit.resolvers.go
  pkg/graph/resolvers/user_notification.resolvers.go
Due: none

fixed search remaining on group change
  src/features/Home/components/ModelCardTable/index.tsx
Due: eslint, tsc-check

added dataloader for recently created
  pkg/graph/resolvers/model_plan.go
  pkg/sqlqueries/SQL/model_plan/collection_get_recently_created_LOADER.sql
  pkg/sqlqueries/model_plan.go
  pkg/storage/loaders/model_plan_recently_created_loader.go
  pkg/storage/model_planStore.go
  query_examples/MINT/Collaborators/Delete Plan Collaborator.bru
  query_examples/MINT/Model Plan/Get Recently Created Model Plans.bru
Due: none

[MINT-3498] Assign to dropdown (#1955)
  mappings/translation/mto_milestone.json
  pkg/translatedaudit/translate_foreign_key.go
  src/components/OktaUserSelect/__snapshots__/index.test.tsx.snap
  src/components/OktaUserSelect/index.test.tsx
  src/components/OktaUserSelect/index.tsx
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/_components/TeamMemberForm/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/Collaborators/AddCollaborator/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/Collaborators/AddCollaborator/index.tsx
  src/features/ModelPlan/ModelToOperations/_components/EditMilestoneForm/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/ModelToOperations/_components/EditMilestoneForm/index.tsx
  src/features/ModelPlan/ReadOnly/MTOMilestones/MilestonePanel/index.tsx
  src/gql/generated/graphql.ts
  src/gql/operations/ModelToOperations/GetMTOMilestone.ts
  src/gql/operations/ModelToOperations/UpdateMTOMilestone.ts
  src/i18n/en-US/modelPlan/modelToOperations.ts
  src/i18n/en-US/modelPlan/mtoMilestone.tsx
Due: eslint, tsc-check

added migration and schema updates
  migrations/V230__Add_Customizable_Homepage_Newly_Created_Plans.sql
  pkg/graph/schema/types/user_view_customization.graphql
  pkg/models/user_view_customization.go
Due: graphql-schema

[Update cypress]
  cypress/e2e/mto.spec.js
Due: eslint, tsc-check

[Fix broken BE test]
  pkg/graph/resolvers/mto_milestone_test.go
Due: none

[Fix broken cypress test]
  cypress/e2e/notification.spec.js
Due: eslint, tsc-check

[Fix snapshots, add id to query, and add col span to table]
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/ModelUsage/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/ModelUsage/index.test.tsx
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/ModelUsage/index.tsx
  src/gql/generated/graphql.ts
  src/gql/operations/ModelToOperations/GetMTOCommonSolutionModelUsage.ts
Due: eslint, tsc-check

init commit
  src/i18n/en-US/home/customHome.ts
Due: eslint, tsc-check

fixed incorrect migration name
  migrations/V230__Add_Customizable_Homepage_Models_By_Group.sql
Due: none

fixed unaddress conflict
  src/i18n/en-US/home/settings.ts
Due: eslint, tsc-check

[NOREF} Fixed incorrect migration name (#1973)
  migrations/V230__Add_Customizable_Homepage_Models_By_Group.sql
Due: none

[Add missing bracket]
  cypress/e2e/mto.spec.js
Due: eslint, tsc-check

[update snapshots]
  src/components/DateTimePicker/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/_components/MailboxAndTeamMemberCard/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/_components/MailboxesAndTeamMembers/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/_components/TeamMailboxForm/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/_components/TeamMemberForm/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/ModelToOperations/_components/EditMilestoneForm/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/ModelToOperations/_components/EditSolutionForm/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/ModelToOperations/_components/ITSystemsTable/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/ModelToOperations/_components/MTORiskIndicatorIcon/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/ReadOnly/Beneficiaries/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/ReadOnly/DataExchangeapproach/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/ReadOnly/GeneralCharacteristics/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/ReadOnly/MTOSolutions/SolutionPanel/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/ReadOnly/MTOSolutions/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/ReadOnly/ModelBasics/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/ReadOnly/OpsEvalAndLearning/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/ReadOnly/ParticipantsAndProviders/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/ReadOnly/Payments/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/ReadOnly/Timeline/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/ReadOnly/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/TaskList/Basics/BasicsInfo/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/TaskList/ParticipantsAndProviders/Coordination/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/TaskList/Payment/FundingSource/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/TaskList/PrepareForClearance/ClearanceReview/__snapshots__/index.test.tsx.snap
Due: none

added yaml config for test to config db clean by github var
  .github/workflows/deploy_to_environment.yml
Due: none

changed conditional to be explicit with test var
  .github/workflows/deploy_to_environment.yml
Due: none
