Repository CMS-Enterprise/mint-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, eslint, tsc-check, graphql-schema, check-code-generation

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-yaml
        name: Check YAML formatting
      - id: detect-private-key
        name: Check for private keys
      - id: end-of-file-fixer
        files: \.(sql|scss|md|js|ts|tsx|go|yml|yaml)$
        name: Add newlines to ends of files
        exclude: src/gql/gen/.* # Ignore generated FE files

  - repo: https://github.com/detailyang/pre-commit-shell
    rev: v1.0.6
    hooks:
      - id: shell-lint
        name: Lint shell files

  - repo: https://github.com/trussworks/pre-commit-hooks
    rev: v1.1.1
    hooks:
      - id: mdspell
        name: Spellcheck Markdown files
        exclude: >
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE.md|
            node_modules/|
            vendor
          )$

  - repo: https://github.com/Bahjat/pre-commit-golang
    rev: v1.0.3
    hooks:
      - id: go-fmt-import
        name: Run "goimports" on go files
        args: ['-local', 'github.com/cmsgov/mint-app']
        files: .*\.go$
        exclude: >
          (?x)^(
            .*gen/.*|
            .*generated/.*|
            .*models_gen.go|
          )$

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.59.1
    hooks:
      - id: golangci-lint
        name: Lint go files
        args: ['--concurrency', '-1', '-v'] # Run with all CPUs

  - repo: local
    hooks:
    - id: dockerfilelint
      name: Lint Dockerfile
      entry: dockerfilelint
      language: node
      additional_dependencies: [dockerfilelint]
      files: Dockerfile.*

  - repo: local
    hooks:
      - id: eslint
        name: Run eslint
        entry: scripts/pre-commit-eslint
        language: script
        files: \.(js|jsx|ts|tsx)$
        exclude: (\.(d\.ts)$)|(\.storybook)|(serviceWorker\.ts)|(src/gql/gen/.*) # This should match the .eslintrc "ignorePatterns". Change one, change the other!

  - repo: local
    hooks:
      - id: tsc-check
        name: Run typescript check
        entry: scripts/pre-commit-tsc
        language: script
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false

  - repo: local
    hooks:
      - id: graphql-schema
        name: Lint GraphQL schema
        entry: scripts/pre-commit-graphql-schema-lint
        language: script
        files: "pkg/graph/schema/.*\\.graphql"
        pass_filenames: false

  - repo: local
    hooks:
      - id: check-code-generation
        name: Run GraphQL code generation
        entry: scripts/pre-commit-check-code-generation
        language: script
        files: "pkg/graph/schema\\.graphql|pkg/graph/schema\\.resolvers\\.go|src/queries/.*\\.ts|src/queriesCodegen/.*\\.ts"
        pass_filenames: false

  - repo: https://github.com/awslabs/git-secrets
    rev: b9e96b3212fa06aea65964ff0d5cda84ce935f38
    hooks:
      - id: git-secrets
        name: Check for committed secrets
        entry: git-secrets --pre_commit_hook

  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 2.0.7
    hooks:
      - id: sqlfluff-fix
        exclude: ^migrations/
      - id: sqlfluff-lint
        exclude: ^migrations/

[MINT-3861] Update 2-pager content (#2487)
  src/components/ScrollLink/index.tsx
  src/features/HelpAndKnowledge/Articles/ModelSolutionDesign/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/Articles/ModelSolutionImplementation/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/Articles/SixPagerMeeting/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/Articles/SixPagerMeeting/index.tsx
  src/features/HelpAndKnowledge/Articles/TwoPagerMeeting/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/Articles/TwoPagerMeeting/index.test.tsx
  src/features/HelpAndKnowledge/Articles/TwoPagerMeeting/index.tsx
  src/features/HelpAndKnowledge/Articles/_components/KeyResourcesCards/index.tsx
  src/features/HelpAndKnowledge/Articles/_components/ModelSelectionCriteriaTable/index.tsx
  src/i18n/en-US/helpAndKnowledge/Articles/sixPageMeeting.ts
  src/i18n/en-US/helpAndKnowledge/Articles/twoPageMeeting.ts
Due: eslint, tsc-check

[Update 6 pager content]
  src/features/HelpAndKnowledge/Articles/SixPagerMeeting/AccordionItems.tsx
  src/features/HelpAndKnowledge/Articles/SixPagerMeeting/index.tsx
  src/features/HelpAndKnowledge/Articles/index.tsx
  src/features/HelpAndKnowledge/index.tsx
  src/i18n/en-US/helpAndKnowledge/Articles/sixPageMeeting.ts
  src/i18n/en-US/routes.ts
Due: eslint, tsc-check

change isAssessment to be more explicit isAssessmentNotCollaborator
  gqlgen.yml
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/translated_audit.go
  pkg/graph/resolvers/translated_audit.resolvers.go
  pkg/graph/resolvers/translated_audit_test.go
  pkg/graph/schema/types/model_collaboration/change_history/translated_audit.graphql
  src/features/ModelPlan/ChangeHistory/components/BatchRecord/index.test.tsx
  src/features/ModelPlan/ChangeHistory/components/BatchRecord/index.tsx
  src/features/ModelPlan/ChangeHistory/components/ChangeRecord/index.test.tsx
  src/features/ModelPlan/ChangeHistory/components/ChangeRecord/index.tsx
  src/features/ModelPlan/ChangeHistory/components/FilterForm/filterUtil.test.tsx
  src/features/ModelPlan/ChangeHistory/components/FilterForm/index.test.tsx
  src/features/ModelPlan/ChangeHistory/components/RecentChanges/index.test.tsx
  src/features/ModelPlan/ChangeHistory/components/RecentChanges/index.tsx
  src/features/ModelPlan/ChangeHistory/util.test.tsx
  src/features/ModelPlan/TaskList/_components/TaskListSideNav/index.test.tsx
  src/features/ModelPlan/TaskList/index.test.tsx
  src/gql/generated/graphql.ts
  src/gql/operations/ChangeHistory/GetChangeHistory.ts
Due: eslint, tsc-check, graphql-schema

testing a few bruno things
  query_examples/MINT/Plan Documents/Create Plan Document Linked With Task.bru
  query_examples/MINT/Tasks/Get Plan Tasks.bru
  query_examples/MINT/collection.bru
Due: none

Revert Change History Assessment star / user_account is_assessment work.
  gqlgen.yml
  migrations/V275__Add_User_Account_Is_Assessment.sql
  pkg/authentication/user_account.go
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/translated_audit.go
  pkg/graph/resolvers/translated_audit.resolvers.go
  pkg/graph/resolvers/translated_audit_test.go
  pkg/graph/resolvers/user_account_test.go
  pkg/graph/schema/types/model_collaboration/change_history/translated_audit.graphql
  pkg/local/authentication_middleware.go
  pkg/okta/authentication_middleware.go
  pkg/sqlqueries/SQL/user_account/collection_get.sql
  pkg/sqlqueries/SQL/user_account/get_by_id.sql
  pkg/sqlqueries/SQL/user_account/get_by_id_LOADER.sql
  pkg/sqlqueries/SQL/user_account/get_by_username.sql
  pkg/sqlqueries/SQL/user_account/insert_by_username.sql
  pkg/sqlqueries/SQL/user_account/update_by_username.sql
  pkg/sqlqueries/SQL/user_account/update_is_assessment.sql
  pkg/sqlqueries/user_account.go
  pkg/storage/user_accountStore.go
  pkg/userhelpers/user_account_utils.go
  src/features/ModelPlan/ChangeHistory/components/BatchRecord/index.test.tsx
  src/features/ModelPlan/ChangeHistory/components/BatchRecord/index.tsx
  src/features/ModelPlan/ChangeHistory/components/ChangeRecord/index.test.tsx
  src/features/ModelPlan/ChangeHistory/components/ChangeRecord/index.tsx
  src/features/ModelPlan/ChangeHistory/components/FilterForm/filterUtil.test.tsx
  src/features/ModelPlan/ChangeHistory/components/FilterForm/index.test.tsx
  src/features/ModelPlan/ChangeHistory/components/RecentChanges/index.test.tsx
  src/features/ModelPlan/ChangeHistory/components/RecentChanges/index.tsx
  src/features/ModelPlan/ChangeHistory/util.test.tsx
  src/features/ModelPlan/TaskList/_components/TaskListSideNav/index.test.tsx
  src/features/ModelPlan/TaskList/index.test.tsx
  src/gql/generated/graphql.ts
  src/gql/operations/ChangeHistory/GetChangeHistory.ts
Due: eslint, tsc-check, graphql-schema

[Remove unused component]
  src/features/HelpAndKnowledge/Articles/SixPagerMeeting/index.tsx
  src/features/HelpAndKnowledge/Articles/_components/ModelSelectionCriteriaTable/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/Articles/_components/ModelSelectionCriteriaTable/index.test.tsx
  src/features/HelpAndKnowledge/Articles/_components/ModelSelectionCriteriaTable/index.tsx
Due: eslint, tsc-check

(no verify to get by migration script number checker) initial rework for using a linking table instead of storing task on the docs table
  migrations/V276__Add_Plan_Task_Document_Link.sql
  migrations/V276__Add_Plan_Task_ID_To_Plan_Document.sql
  pkg/graph/resolvers/plan_document_test.go
  pkg/models/plan_task_document_link.go
  pkg/models/table_names.go
  pkg/sqlqueries/SQL/plan_document/create.sql
  pkg/sqlqueries/SQL/plan_document/read_by_id.sql
  pkg/sqlqueries/SQL/plan_document/read_by_model_plan_id.sql
  pkg/sqlqueries/SQL/plan_document/read_by_model_plan_id_not_restricted.sql
  pkg/sqlqueries/SQL/plan_document/read_by_plan_task_id.sql
  pkg/sqlqueries/SQL/plan_document/read_by_plan_task_id_not_restricted.sql
  pkg/sqlqueries/SQL/plan_document/update.sql
  pkg/sqlqueries/SQL/plan_task_document_link/create.sql
  pkg/sqlqueries/plan_task_document_link.go
  pkg/storage/plan_documentStore.go
  pkg/storage/plan_task_document_link.go
  pkg/storage/truncate.go
Due: none

[Update tests and snapshots]
  src/features/HelpAndKnowledge/Articles/AllArticles/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/Articles/EvaluatingDataExchangeApproach/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/Articles/SixPagerMeeting/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/Articles/SixPagerMeeting/index.test.tsx
  src/features/HelpAndKnowledge/Articles/TwoPagerMeeting/__snapshots__/index.test.tsx.snap
Due: eslint, tsc-check

add task specific restricted linked doc test
  pkg/graph/resolvers/plan_document_test.go
Due: none

clean up db arch to avoid ambiguous limit 1 issues (as well as explictly prevent a currently impossible occurrence)
  migrations/V276__Add_Plan_Task_Document_Link.sql
  pkg/sqlqueries/SQL/plan_document/read_by_id.sql
  pkg/sqlqueries/SQL/plan_document/read_by_model_plan_id.sql
  pkg/sqlqueries/SQL/plan_document/read_by_model_plan_id_not_restricted.sql
  pkg/sqlqueries/SQL/plan_document/update.sql
Due: none

[Update typo and clean up trans with config text]
  src/features/HelpAndKnowledge/Articles/SixPagerMeeting/AccordionItems.tsx
  src/features/HelpAndKnowledge/Articles/SixPagerMeeting/__snapshots__/index.test.tsx.snap
  src/i18n/en-US/helpAndKnowledge/Articles/sixPageMeeting.ts
Due: eslint, tsc-check

added task states for 6 pager (#2484)
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/resolvers/plan_task.resolvers.go
  pkg/graph/resolvers/plan_task_test.go
  pkg/graph/schema/types/model_collaboration/tasks/plan_task.graphql
  src/features/ModelPlan/CollaborationArea/Cards/TaskCard/index.tsx
  src/gql/generated/graphql.ts
  src/i18n/en-US/modelPlan/tasks.ts
Due: eslint, tsc-check, graphql-schema

Add planTaskID to Documents page test mocks to match schema
  src/features/ModelPlan/Documents/index.test.tsx
  src/features/ModelPlan/ReadOnly/Documents/index.test.tsx
Due: eslint, tsc-check

Use ErrorOrWarn for retryable Faktory job errors to reduce non-final-attempt log noise
  pkg/worker/analyzed_audit_job.go
  pkg/worker/digest_email_job.go
  pkg/worker/model_status_update_batch_job.go
  pkg/worker/translate_audit_batch_job.go
Due: none

test fix
  mappings/plan_document_translation_test.go
Due: none

added complete flow for 6 pager
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/plan_task_test.go
  pkg/graph/schema/types/model_collaboration/tasks/plan_task.graphql
  pkg/models/plan_task.go
  src/gql/generated/graphql.ts
Due: eslint, tsc-check, graphql-schema

[Update internal link ui]
  src/features/HelpAndKnowledge/Articles/SixPagerMeeting/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/Articles/SixPagerMeeting/index.tsx
Due: eslint, tsc-check

[Fix internal link ui]
  src/features/HelpAndKnowledge/Articles/TwoPagerMeeting/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/Articles/TwoPagerMeeting/index.tsx
Due: eslint, tsc-check

[NOREF] Fix internal link ui for 2 pager article (#2495)
  src/features/HelpAndKnowledge/Articles/TwoPagerMeeting/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/Articles/TwoPagerMeeting/index.tsx
Due: eslint, tsc-check

[MINT-3862] Update 6 pager (#2489)
  src/features/HelpAndKnowledge/Articles/AllArticles/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/Articles/EvaluatingDataExchangeApproach/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/Articles/SixPagerMeeting/AccordionItems.tsx
  src/features/HelpAndKnowledge/Articles/SixPagerMeeting/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/Articles/SixPagerMeeting/index.test.tsx
  src/features/HelpAndKnowledge/Articles/SixPagerMeeting/index.tsx
  src/features/HelpAndKnowledge/Articles/TwoPagerMeeting/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/Articles/_components/ModelSelectionCriteriaTable/__snapshots__/index.test.tsx.snap
  src/features/HelpAndKnowledge/Articles/_components/ModelSelectionCriteriaTable/index.test.tsx
  src/features/HelpAndKnowledge/Articles/_components/ModelSelectionCriteriaTable/index.tsx
  src/features/HelpAndKnowledge/Articles/index.tsx
  src/features/HelpAndKnowledge/index.tsx
  src/i18n/en-US/helpAndKnowledge/Articles/sixPageMeeting.ts
  src/i18n/en-US/routes.ts
Due: eslint, tsc-check

logging unit test fix
  pkg/models/plan_task_test.go
Due: none

[Add 2 pager to task section, and update tests]
  cypress/e2e/tasks.spec.js
  src/features/ModelPlan/CollaborationArea/Cards/TaskCard/index.tsx
  src/features/ModelPlan/Documents/AddDocument/LinkDocument.tsx
  src/features/ModelPlan/Documents/AddDocument/documentUpload.tsx
  src/features/ModelPlan/Documents/AddDocument/index.tsx
  src/features/ModelPlan/Tasks/index.test.tsx
  src/i18n/en-US/modelPlan/tasks.ts
Due: eslint, tsc-check

addressed pr feedback
  pkg/worker/translate_audit_batch_job.go
Due: none

[Clean up]
  src/features/ModelPlan/CollaborationArea/Cards/TaskCard/index.tsx
Due: eslint, tsc-check

show assessment star avatar for assessor discussion changes
  src/features/ModelPlan/ChangeHistory/components/ChangeRecord/index.tsx
  src/features/ModelPlan/ChangeHistory/components/RecentChanges/index.tsx
  src/features/ModelPlan/ChangeHistory/util.tsx
Due: eslint, tsc-check

add tests
  src/features/ModelPlan/ChangeHistory/components/ChangeRecord/index.test.tsx
  src/features/ModelPlan/ChangeHistory/components/RecentChanges/index.test.tsx
  src/features/ModelPlan/ChangeHistory/util.test.tsx
Due: eslint, tsc-check

changed back to store
  pkg/worker/translate_audit_batch_job.go
Due: none

[MINT-3832] Add 2 pager to task section (#2496)
  cypress/e2e/tasks.spec.js
  src/features/ModelPlan/CollaborationArea/Cards/TaskCard/index.tsx
  src/features/ModelPlan/Documents/AddDocument/LinkDocument.tsx
  src/features/ModelPlan/Documents/AddDocument/documentUpload.tsx
  src/features/ModelPlan/Documents/AddDocument/index.tsx
  src/features/ModelPlan/Tasks/index.test.tsx
  src/i18n/en-US/modelPlan/tasks.ts
Due: eslint, tsc-check

[Mark 2 pager complete or todo]
  src/features/ModelPlan/CollaborationArea/Cards/TaskCard/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/CollaborationArea/Cards/TaskCard/index.test.tsx
  src/features/ModelPlan/CollaborationArea/Cards/TaskCard/index.tsx
  src/features/ModelPlan/CollaborationArea/TasksWrapper/index.test.tsx
  src/gql/generated/graphql.ts
  src/gql/operations/Tasks/UpdateTaskStatus.ts
  src/i18n/en-US/modelPlan/tasks.ts
Due: eslint, tsc-check

Use ErrorOrWarn for retryable Faktory job errors to reduce non-final-… (#2493)
  pkg/worker/analyzed_audit_job.go
  pkg/worker/digest_email_job.go
  pkg/worker/model_status_update_batch_job.go
  pkg/worker/translate_audit_batch_job.go
Due: none

added 6 pager mark complete bruno
  query_examples/MINT/Tasks/Mark Plan Task Complete - Six Pager.bru
Due: none

added complete flow for 6 pager (#2494)
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/plan_task_test.go
  pkg/graph/schema/types/model_collaboration/tasks/plan_task.graphql
  pkg/models/plan_task.go
  pkg/models/plan_task_test.go
  query_examples/MINT/Tasks/Mark Plan Task Complete - Six Pager.bru
  src/gql/generated/graphql.ts
Due: eslint, tsc-check, graphql-schema

Bump all @tiptap packages to v3 to match core
  package.json
  yarn.lock
Due: none

Reformat for prettier 3.9, fix recharts type error, update snapshot
  src/features/HelpAndKnowledge/HKCMilestoneLibrary/_components/CommonMilestoneSidePanel/index.tsx
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/Solutions/Generic/_components/RemoveContactModal/index.tsx
  src/features/Home/components/ModelsBanner/index.tsx
  src/features/ModelPlan/ModelToOperations/SolutionLibrary/index.tsx
  src/features/ModelPlan/ReadOnly/_components/PerformanceReadOnlySection/index.tsx
  src/features/ModelPlan/ReadOnly/_components/ReadOnlySection/util.tsx
  src/features/ReportsAndAnalytics/__snapshots__/index.test.tsx.snap
  src/features/ReportsAndAnalytics/index.tsx
  src/hooks/useHandleMutation.ts
  src/types/questionnaires.ts
  src/types/translation.ts
Due: eslint, tsc-check

Fix yarn.lock: avoid unintended jest-dom bump incompatible with Node 20
  yarn.lock
Due: none

[MINT-3833] Mark 2 pager complete or todo (#2502)
  src/features/ModelPlan/CollaborationArea/Cards/TaskCard/__snapshots__/index.test.tsx.snap
  src/features/ModelPlan/CollaborationArea/Cards/TaskCard/index.test.tsx
  src/features/ModelPlan/CollaborationArea/Cards/TaskCard/index.tsx
  src/features/ModelPlan/CollaborationArea/TasksWrapper/index.test.tsx
  src/gql/generated/graphql.ts
  src/gql/operations/Tasks/UpdateTaskStatus.ts
  src/i18n/en-US/modelPlan/tasks.ts
Due: eslint, tsc-check

Add PREPARE_FOR_CLEARANCE plan task key with 20-day clearance trigger
  migrations/V274__Add_Prepare_For_Clearance_Plan_Task.sql
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/model_plan.go
  pkg/graph/resolvers/plan_task.go
  pkg/graph/resolvers/plan_task_test.go
  pkg/graph/schema/types/model_collaboration/tasks/plan_task.graphql
  pkg/models/plan_task.go
  pkg/models/plan_task_test.go
  src/features/ReportsAndAnalytics/index.tsx
  src/gql/generated/graphql.ts
  src/tests/mock/mto.ts
Due: eslint, tsc-check, graphql-schema
